[2022-03-09 06:04] houqp commented on #1870
agree with @realno , thanks @matthewmturner for taking care of this :)

[2022-03-09 06:09] matthewmturner commented on #1870
I hope it makes it easier to play with optimizations!

[2022-03-09 06:51] yjshen commented on #1939
Thanks, @tustvold . I'll have time to work on this later in the week. 😅 Please let me know if it has a higher priority.

[2022-03-09 07:09] silence-coding commented on #1952
The same applies to datafusion = "7".

[2022-03-09 08:27] mingmwang opened #1965 "Fast path of with_new_children() in ExecutionPlan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The current with_new_children() method in ExecutionPlan trait is an abstract method and each physical plan implements the method with their specific versions. But a common optimization is omitted by almost all the implementations is if the new children provided in the params effectively share

[2022-03-09 08:41] silence-coding opened #1967 "Shouldn't we print an error when the receiver closes the channel? Execution("channel closed")"
I ran into problems using SQL query after generating files through the datafunction.

Here's my code.
[test-datafusion.zip](https://github.com/apache/arrow-datafusion/files/8213051/test-datafusion.zip)

![image](https://user-images.githubusercontent.com/32766901/157404286-d33e3e09-7402-4e20-8386-b13e474f0821.png)

[2022-03-09 09:38] tustvold commented on #1939
No rush, whenever you have time 😀

[2022-03-09 11:11] #1955 closed

[2022-03-09 15:01] matthewmturner commented on #1532
Given how arrow2 has fine grained controls over io features im wondering if it would make sense to pass that through to datafusion so you only have to install IO features that are needed.

Im thinking of this in the use case of using datafusion in ETL jobs where each task has its own container and may only need to use 1 or 2 file types.  this could be a way to help limit container size / speed up

[2022-03-09 16:37] yahoNanJing commented on #1936
There are three levels of job state: task -> stage -> job.

For the state machine of task:
![task_status_state_machine](https://user-images.githubusercontent.com/90197956/157484955-e82f76c4-9442-4420-ab9f-d5d3f86bad80.png)

For the state machine of stage:
![stage_state_machine](https://user-images.githubusercontent.com/90197956/157485023-f14fecc2-e14d-4048-bfe0-d9d1028aed3c.png)

For the state mac

[2022-03-09 17:22] alamb commented on #418
FWIW I think @yjshen  is working on this using the #1849  and row format frameworks

[2022-03-09 20:42] Igosuki commented on #1532
That requires patching file formats with feature flags

[2022-03-09 21:45] #1864 closed

[2022-03-09 21:47] #1411 closed

[2022-03-10 05:46] matthewmturner opened #1971 "Prepare to update roadmap for Q2"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
Continuing on the same doc as last time, so people have context.   Same as last time,

[2022-03-10 05:56] matthewmturner commented on #1544
@hntd187 sry for delay.  right now its not public so cant edit. can you update?  then we can share with broader group so start collecting feedback.

[2022-03-10 07:05] hntd187 commented on #1544
No problem, I updated to be editable.

[2022-03-10 09:32] mingmwang opened #1972 "DataFusion Optimizer framework discussion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Current DataFusion's optimizer rules are complex and not easy to implement. I think one of the reason is each optimization rule has to deal with the plan tree traversing, pattern matching and rewritin

[2022-03-10 09:34] mingmwang commented on #1972
@alamb @andygrove Please share your thoughts and insights.

[2022-03-10 10:12] msathis commented on #1890
Hi @andygrove, I did basic `coalesce` function in #1969. Right now i convert every argument to `string` and return a `string` from the function well. But I have a few doubts and need your help there :)

1. What data types do we need to support in `coalesce`? All primitive data types? If yes, can you please point me to a place where this is being done already which i can use it as a reference.
2. C

[2022-03-10 10:16] jhorstmann opened #1973 "Unnecessary Arc::clone per row in RowWriter benchmark"
**Describe the bug**

The `jit` benchmark calls `batch.schema()` for each row, internally the `schema` method clones an `Arc`. Normally cloning an `Arc` is not a problem, but doing it for every row adds some overhead.

**To Reproduce**

Running the benchmark under a profiler like `perf` and then checking the hotspots shows some atomic instructions on the hot path

[code]

[2022-03-10 12:31] tustvold opened #1976 "Parquet SQL Benchmarks Broken"
**Describe the bug**

The parquet SQL benchmarks no longer run cleanly, in particular the following query returns an error

[code]

[code]

I suspected this related to https://github.com/apache/arrow-rs/pull/1284 which was included in the 9.1 release of arrow, but rolling back to before this upgrade just alters the error message

[code]

It is unclear at this stage if the problem is that the encod

[2022-03-10 12:39] tustvold commented on #1976
Foiled by a lock file, downgrading to parquet 9.0.2 does resolve this issue, so https://github.com/apache/arrow-rs/pull/1284 is likely related.

[2022-03-10 12:43] yjshen commented on #1973
Thanks @jhorstmann 👍

[2022-03-10 13:42] alamb opened #1977 "DFSchema serialization does not preserve metadata"
**Describe the bug**
As discovered on https://github.com/apache/arrow-datafusion/pull/1914 https://github.com/apache/arrow-datafusion/pull/1914#issuecomment-1063984916, when a `DFSchema` is serialized, any name=value metadata is lost

**To Reproduce**
1. Try and serialize a DF schema with metadata -- when it is deserialized the metadata will be lost

**Expected behavior**
1. Remove the `#[allow(de

[2022-03-10 14:02] andygrove opened #1979 "Integration tests are not working"
**Describe the bug**
I tried running the integration tests and they failed with:

[code]

I assume this is related to the recent refactoring of crates.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Test should pass

**Additional context**
None

[2022-03-10 14:03] andygrove opened #1980 "Ballista crates cannot be released from DafaFusion 7.0.0 source release"
**Describe the bug**
The Ballista version numbers were not updated in the 7.0.0 release and therefore the crates cannot be published to crates.io

**To Reproduce**
N/A

**Expected behavior**
We should be able to release the crates from the release tarball.

**Additional context**
None

[2022-03-10 14:17] #1910 closed

[2022-03-10 14:30] #1896 closed

[2022-03-10 14:44] alamb commented on #116
Closing -- @Dandandan  let me know if you think this ticket is still tracking something useful and we should keep it open

[2022-03-10 14:44] #116 closed

[2022-03-10 14:49] alamb commented on #1972
Thank you for bringing this up @mingmwang. My view is that the current optimizer framework could definitely use improving 👍

I think I would say the current optimizer rules "aspire" to be a visitor model; Right now the interface for an optimizer looks like this:

[code]
which as you say requires each optimizer rule to handle the recursion itself. There are helpers in https://github.com/apache/arro

[2022-03-10 14:58] alamb commented on #1972
I was imagining an actual mutator like this:

[code]

that would handle the traversal into children so that each optimizer would look something like

[code]

I vaguely remember trying to write something like this up once, but as I recall I got stuck on the fact that `LogicalPlans` can have shared inputs (there are `Arcs` ?) but I can't remember exactly and it was a while ago.

A slight variant on

[2022-03-10 19:10] yahoNanJing commented on #1936
Sequential diagram for Pull-based task scheduling:
![Pull-based Task Scheduling](https://user-images.githubusercontent.com/90197956/157736938-360b3e3d-32ed-431e-85f0-d26227369819.png)

Sequential diagram for Push-based task scheduling:
![Push-based Task Scheduling](https://user-images.githubusercontent.com/90197956/157737074-ced1ffc1-8f7a-4b24-b182-86b7429afba9.png)

[2022-03-11 03:25] Ted-Jiang opened #1984 "[Ballista] datafusion-cli with ballista not support show tables and show columns"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
datafusion-cli  with ballista not support show tables and show columns
[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2022-03-11 03:36] Ted-Jiang opened #1985 "[Ballista] support datafusion built_in UDAF work in ballista cluster"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
support datafusion built_in  UDAF work in ballista cluster, It will make ballista more like a high-performance OLAP system for
production.

[code]
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A cle

[2022-03-11 03:40] Ted-Jiang commented on #1985
work  in client without ballista
[code]

[2022-03-11 04:58] doki23 opened #1986 "[follow up]cleaning up statements.remove(0)"
i can approve to unblock merging but i do think the `remove(0)` makes the logic quite cryptic. might need a follow up PR to clean up.

_Originally posted by @Jimexist in https://github.com/apache/arrow-datafusion/pull/1945#pullrequestreview-903196540_

[2022-03-11 05:31] #1973 closed

[2022-03-11 05:47] jiangzhx commented on #1985
FYI，It seems to be the same problem
https://github.com/apache/arrow-datafusion/pull/1881

[2022-03-11 06:25] Ted-Jiang commented on #1985
IMO, this PR not work for built in UDAF.

[2022-03-11 06:26] Ted-Jiang commented on #1985
@houqp  plz assign this to me. We need this in our situation.

[2022-03-11 08:03] Ted-Jiang opened #1988 "Add missing aggr_expr to PhysicalExprNode for Ballista."
**Describe the bug**
related to #1985
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-03-11 08:15] rdettai commented on #1916
I understand that Ballista is currently heading toward being standalone system, but I am wondering that is what the ecosystem needs.

I feel that being a plugable library Datafusion is a big part of Datafusion's success. But the projects that are embedding Datafusion today as a single node compute engine, are they not going to need to be distributed tomorrow? If Ballista is really designed as a st

[2022-03-11 12:40] liukun4515 commented on #1985
I think many functions are missed in the ballista but implemented in the datafusion.
@Ted-Jiang
You can give a plan to find them and fix them through the community.

[2022-03-11 12:50] liukun4515 commented on #1984
Have you tried to enable the `information_schema` from the error message "Plan("SHOW TABLES is not supported unless information_schema is enabled")"
@Ted-Jiang

[2022-03-11 12:51] liukun4515 commented on #1984
Maybe I can help you to check this issue if I'm free on the weekend.

[2022-03-11 13:01] liukun4515 commented on #1985
@Ted-Jiang
Do you mean the same thing with this issue https://github.com/apache/arrow-datafusion/issues/1988？
We should make it clear we just have two type functions, one is the built-in function and the other is UDF/UDAF.
You can refer to https://spark.apache.org/docs/latest/sql-ref-functions.html and get some knowledge about that.
https://github.com/apache/arrow-datafusion/pull/1881 is just want

[2022-03-11 14:10] liukun4515 opened #1992 "The return type of EXTRACT"
I think the result type of u32 is not enough.
From the spark,
[code]
But this is not related to this issue, I will open a follow up pull request and discuss the returned type.

_Originally posted by @liukun4515 in https://github.com/apache/arrow-datafusion/pull/1991#r824743599_

[2022-03-11 16:24] #1979 closed

[2022-03-12 01:11] bobtins commented on #1877
Hi, noticed this issue and just wanted to put my two cents in.
<soapbox>
The tl;dr is that most of the time you don't need these added levels; at most maybe add schema.
I've worked with a data analysis tool that was cross-database in nature, and I noticed that catalogs and schemas mean different things for each DB impl, and most of the time I never had to deal with "catalog". If for PostgreSQL it'

[2022-03-12 01:15] doki23 opened #1994 "Implement qualified wildcard"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, df does not implement qualified_wildcard, e.g. "select a.* from a", and I would like to contribute this patch.

**Describe the solution you'd like**
Support the following sql:
**select a.*, b.id from a, b;**
**select a_alias.*, b.id from a as a_alias, b;**

I have some idea about it

[2022-03-12 05:45] #1988 closed

[2022-03-12 07:38] jackwener commented on #82
I find the column `1` isn't handled in `validate_schema_satisfies_exprs`.

Whene column is `1`, run
[code]

`validate_schema_satisfies_exprs`
doesn't actually go into the handler code segment
[code]

[2022-03-12 07:43] jackwener commented on #82
When column is `1`,  match  `col` should match `_ => Err(`, but it didn't.

I'm confused.

[2022-03-12 11:25] #1934 closed

[2022-03-12 11:30] #1942 closed

[2022-03-12 16:43] matthewmturner commented on #1877
Fortunately, we already have the ability to parse table refs into catalog, schema, and table with `TableReference::resolve(default_catalog, default_schema) -> ResolvedTableReference`.  I havent seen any issues with this yet.

Definitely agree on maintaining current active catalog / schema.  From a pure sql / datafusion-cli perspective i was thinking of using the `\c` command like psql for connecti

[2022-03-12 18:58] alamb commented on #1916
DataFusion is not JVM based, which could be an interesting differentiator.

I think making a generic embedded distributing framework will be challenging as there are so many differing dimensions to consider (catalog structure, local caching, etc) that may be different

Comparatively I think a singe node column oriented analytic query engine is a fairly well understood pattern (though I do think th

[2022-03-12 19:17] alamb commented on #82
I am not sure this issue is relevant anymore . Sorry for the poor ticket hygiene @jackwener

[code]

[2022-03-12 19:17] #82 closed

[2022-03-12 22:22] pjmore opened #1999 "Error occurs when only using partition columns in query"
**Describe the bug**
When using a partitioned datasource selecting only the partitioned columns causes errors.

**To Reproduce**
Steps to reproduce the behavior:
Create sample parquet/csv file content doesn't matter. Copy file to two separate paths using path partitioning scheme. E.g.
"year=2021/month=09/day=09/file.parquet",
"year=2021/month=10/day=09/file.parquet",

Register listing table and ex

[2022-03-13 07:08] houqp commented on #1923
We ran into the same issue in delta-rs. I think the ideal solution would be to normalize table path within the objecstore implementation when it's being created.

The issue with using URI in fileMeta is all the object stores' list calls do return full URIs, so we will have to perform a lot of string creations in the heap to construct the URIs, this could be expensive when we need to deal with mill

[2022-03-13 08:28] xudong963 commented on #1890
Many sqls require `Coalesce`, you can check in https://github.com/Agirish/tpcds

[2022-03-13 11:13] jackwener commented on #1771
It seems that it's resolved, we can close it.

[code]

[2022-03-13 15:42] jychen7 opened #2004 "feat: ApproxPercentileCont supports sketches from data source"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, `approx_percentile_cont(column, quantile)` (from https://github.com/apache/arrow-datafusion/issues/1538) supports raw data as input and build sketches during query time.
In the scenario of low latency query OLAP system (e.g. Druid), one common way is to pre-aggregate sketches during

[2022-03-13 19:04] rdettai commented on #1916
Agreed! I was more thinking about designing the engine in modules that can be re-used more easily by other distributed system. For instance using [https://github.com/substrait-io/substrait] to serialize the tasks for the workers instead of the current custom protos could help re-use ballista workers with minimal effort from other systems.

[2022-03-13 21:50] realno commented on #1916
I feel some opportunities/differentiators for Ballista are the following:
1. non-JVM - this brings a lot of benefit such as lower footprint, memory efficiency, and no GC cost (Rust specific)
2. A chance for more modern design principles - for example Spark was originally architected to best deployed to bare metal, it is hard to make some changes to be more cloud friendly
3. Utilize modern resource

[2022-03-13 23:08] Igosuki commented on #1916
Datafusion has a huge advantage, but the user story needs to be improved.
Also, horizontal scalability and using it for ML in distributed is still an
issue because it needs to be able to map partitions and have multi-stage
jobs.

Le dim. 13 mars 2022 à 22:51, Lin Ma ***@***.***> a écrit :

[2022-03-14 00:53] #1771 closed

[2022-03-14 05:32] yahoNanJing opened #2005 "[Ballista] Load testing for Push-based task scheduling get stuck"
**Describe the bug**

There are two bugs.
- Losing the event SchedulerServerEvent::JobSubmitted results in job no longer to be scheduled
- Concurrency issue of updating ExecutorData simultaneously.

1. For the first bug:
In the method of SchedulerServerEventAction::offer_resources, the returned available_executors may be all with 0 available_task_slots. In this case, there'll be no tasks to be sch

[2022-03-14 07:05] #1976 closed

[2022-03-14 08:31] Ted-Jiang opened #2007 "[Ballista] Support more ScalarFunction in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now
[code]
**Describe the solution you'd like**
Add more ScalarFunction in `datafusion.proto`, and test it.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or

[2022-03-14 08:33] Ted-Jiang commented on #2007
Now we lack of these, i have done some in my local brach.
[code]

[2022-03-14 09:51] Ted-Jiang opened #2009 "Creating the supported unary/binary expressions using Vec as params"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**`
Add support for #2007
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
try to use
[code]

[2022-03-14 09:57] Ted-Jiang opened #2010 "Creating the supported unary/binary expressions about time"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add support for #2007
[code]

**Describe the solution you'd like**

Add more date functions in https://github.com/apache/arrow-datafusion/blob/ca952bd33402816dbb1550debb9b8cac3b13e8f2/datafusion-expr/src/expr_fn.rs#L267
**Describe alternatives you've considered**
A clear and concise descriptio

[2022-03-14 10:08] Ted-Jiang commented on #1992
Do we  need support negative timestamp or date?

[2022-03-14 10:12] mkmik commented on #1771
(please re-open)

I re-ran the reproducer above and the issue still reproduces at current master (ca952bd33402816dbb1550debb9b8cac3b13e8f2).

[code]

Is `information_schema.TaBlEs` lowercased because it's a special schema or could it be because it's a `view`?

[2022-03-14 10:15] Ted-Jiang commented on #1992
PG not support negative timestamp
[code]

[2022-03-14 11:27] xudong963 commented on #1992
I don't think we need to support negative timestamp.

[2022-03-14 12:21] liukun4515 commented on #1992
because i hit this document from PG https://www.postgresql.org/docs/14/functions-datetime.html and it points out that
"The extract function returns values of type `numeric`. The following are valid field names"

other point from the definition
[code]

[2022-03-14 12:22] liukun4515 commented on #1992
now we can leave this issue and keep discussion it.

[2022-03-14 13:08] #1977 closed

[2022-03-14 13:11] #1724 closed

[2022-03-15 02:04] bobtins commented on #1877
In this example, it seemed like parsing the table refs wasn't working:
[code]
Then I saw a change in datafusion/src/catalog/mod.rs to split the table reference; assuming that fixes it.

You said

I'm assuming we will still be able to use simple table names, right?
Take what I say with a grain of salt--I'm a little obsessive about keeping things simple, but I don't know the whole history. It sounds

[2022-03-15 06:00] doki23 opened #2014 "Cannot run examples of ballista"
**Describe the bug**
A clear and concise description of what the bug is.
When I try to run ballista-examples/src/bin/ballista-sql.rs, I got an error:

I find test data dir in df unit tests is:

in the example it's

[2022-03-15 06:30] xudong963 commented on #2014
Have you ever run `export ARROW_TEST_DATA=$(pwd)/testing/data/`?
https://github.com/apache/arrow-datafusion/blob/master/CONTRIBUTING.md#bootstrap-environment

[2022-03-15 06:33] #1962 closed

[2022-03-15 07:55] doki23 commented on #2014
Setting the env var solves it surely, but why not use datafusion::arrow::util::test_util::arrow_test_data() directly?

[2022-03-15 12:32] matthewmturner commented on #1877
ah yeah, i was referring to in my PR (#1959) which was leveraging on what looked like an incomplete feature for properly resolving catalog / schema / table.  You can still query for single table names in the currently active catalog / schema - which right now is only 'datafusion' and 'public' - but i plan on adding a feature (such as psql \c to connect to database) to help with that.

I made signi

[2022-03-15 13:41] jackwener opened #2015 "Eliminate some filter which was pushed down"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I found there are some filter was pushed down, but it's still in the logicplan.

[code]

` Filter`   is included in the `TableScan filters=[#test.c3, #test.c2 = Float64(0.000001)]    `

Maybe we can eliminate it. How do you think about it ? @alamb @Dandandan

**Describe the solution you'd like

[2022-03-15 13:55] Dandandan commented on #2015
Pushing down the filter to table scan doesn't mean the filter can be removed from the plan. For example, parquet data doesn't support exact filtering: it returns more rows than those matching the predicates based onstatistics in the file. Another filter needs to filter out those rows not matching the predicate.

PostgreSQL has a different way of scanning data: it will read rows one by one and appl

[2022-03-15 14:06] jackwener commented on #2015
I got it. Thanks your reply. @xudong963 @Dandandan .

Yes, I'm try to add a `merge_adjacent_project` rule to enhance our optimizer. It was during my attempts that I discovered this problem.

[2022-03-15 14:06] #2015 closed

[2022-03-15 14:09] jackwener opened #2016 "Merge the adjacent filter"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]
**Describe the solution you'd like**

add `merge` rule to combine the filter.

**Describe alternatives you've considered**

**Additional context**

Some discussion detail in #2015

[2022-03-15 14:11] jackwener commented on #2016
I'm trying to do it.

[2022-03-15 14:15] xudong963 commented on #2016
Is there any practical experience that proves this is profitable, or are there any databases that have done it?

[2022-03-16 00:02] doki23 commented on #2014
I'd like to replace with `datafusion::test_util::arrow_test_data()` so that we can run it without setting the env var.
@xudong963 How do you think?

[2022-03-16 02:34] #1986 closed

[2022-03-16 04:16] yahoNanJing opened #2019 "[ObjectStore] Add datafusion-objectstore-hdfs to the datafusion-contrib"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

To avoid community diverged, it's better to add several typical object store implementation to the datafusion-contrib. Then it will also be easier to do the maintenance and improvements.

**Describe the solution you'd like**
For HDFS access client implementation, since many other products, li

[2022-03-16 04:19] yahoNanJing commented on #2019
Hi @yjshen and @matthewmturner, could you help review the repo https://github.com/yahoNanJing/datafusion-objectstore-hdfs and check whether it's qualified to be moved into datafusion-contrib?

[2022-03-16 05:48] #2005 closed

[2022-03-16 07:08] yahoNanJing commented on #2019
Thanks @yjshen, @matthewmturner and @alamb. I've just synced the code to https://github.com/datafusion-contrib/datafusion-objectstore-hdfs.

[2022-03-16 07:32] alamb commented on #2015
I wonder if we could/should change the DataFusion explain plans to make it clearer that the predicate / filter in the scan may be inexact / partially applied

In other words, if `TableProvider:: supports_filter_pushdown` returns `TableProviderFilterPushDown::Inexact`

https://github.com/apache/arrow-datafusion/blob/d31c1579fdc2ad060bc46c4fcfef14cc7676da6b/datafusion/src/datasource/datasource.rs#L1

[2022-03-16 08:45] #2019 closed

[2022-03-16 12:33] Ted-Jiang commented on #2015
I will have a try  😊  and familiarize the explain path.

[2022-03-16 12:34] alamb opened #2021 "Change the DataFusion explain plans to make it clearer that the predicate / filter in the scan may be inexact / partially applied"
I wonder if we could/should change the DataFusion explain plans to make it clearer that the predicate / filter in the scan may be inexact / partially applied

In other words, if `TableProvider:: supports_filter_pushdown` returns `TableProviderFilterPushDown::Inexact`

https://github.com/apache/arrow-datafusion/blob/d31c1579fdc2ad060bc46c4fcfef14cc7676da6b/datafusion/src/datasource/datasource.rs#L1

[2022-03-16 12:35] alamb commented on #2021
@Ted-Jiang  has offered to help with this

I suggested it because it has been asked several other times and I think is somewhat confusing

[2022-03-16 12:35] alamb commented on #2015
Filed https://github.com/apache/arrow-datafusion/issues/2021 to track -- thanks @Ted-Jiang !

[2022-03-16 13:17] matthewmturner commented on #1496
Migrated to datafusion-python

[2022-03-16 13:17] #1496 closed

[2022-03-16 13:29] jackwener opened #2022 "Filter operator support multi expr"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I find that current `Filter operator` just can include one `expr`.

I understand it could be because `predicate` is applied one by one instead of apply together in one `tuple/batch`.

But in my opinion, we should allow the  `Filter operator` include multi expr. Because it's more clear, and it

[2022-03-16 13:41] jackwener commented on #2022
What' more, `Filter` include the `BinaryExpr` which can be used as `Expr And Expr`. It can also have same function/ability with Vec Expr.

But, I don't think it is a good way, because `BinaryExpr` is usually used for the logic operation.

Put multi expr in it is easy, but it isn't easy to get Expr from it.

[2022-03-16 14:02] Dandandan commented on #2022
I think the filter already support multiple predicates using `And`, `Or` etc.

The planner / optimizers could be changed to use this fact better.

[2022-03-16 14:44] #2007 closed

[2022-03-16 15:13] #2010 closed

[2022-03-16 15:46] #2022 closed

[2022-03-16 16:33] matthewmturner opened #2025 "Add `deltalake` feature"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I would like to be able to register a delta lake deltatable as a table from SQL as p

[2022-03-16 16:34] matthewmturner commented on #2025
@houqp i imagine youll have a view on this.

[2022-03-16 16:44] #1870 closed

[2022-03-16 16:52] jackwener commented on #1972
But, It's a big change, we can do it in the long term.

Currently, I'm planning enhance the optimizer gradually,

[2022-03-16 19:56] Dandandan commented on #1972
I believe ithat we really should continue experimenting with egg as a optimization framework. This doesn't mean we should move everything to the egg framework, but we can have one or multiple egg-based passes.

Some nice things that make `egg` (besides written in Rust) a nice candidate for DataFusion:

* Optimized algorithm hard to match with manual written optimization passes
* Easier and less ve

[2022-03-16 23:34] realno commented on #1972
I definitely agree the optimizer framework needs some attention. Specifically, each rule needs to handle tree traversal which is quite tedious and also less efficient due to the repeated full tree traversal. Also it is error prone, if not careful it may introduce dependency on the order of the rules in code.

I am leaning towards deciding which framework to go with asap for the following reasons:

[2022-03-17 01:19] xudong963 commented on #1972
I agree, egg is potential.
Seems egg will generate DAGs than tree?  @Dandandan

[2022-03-17 01:35] xudong963 commented on #1972
Cascades is an optimization framework that uses a cost-based approach to explore possible executable
of the search space. So I have some my thoughts:
1. It requires a solid and as accurate as possible cost-based optimization.
2. It is likely to lead to misguidance, which produces local convergence of the search and fails to produce an optimal solution.
3. It will have a relatively large impact on

[2022-03-17 01:39] xudong963 commented on #2014
+1. I got your idea. Look forward to seeing your ticket! Thanks @doki23

[2022-03-17 01:47] jackwener commented on #1972
I,m sorry that I don,t know more about agg, I also have try it to do something for datafusion

[2022-03-17 01:49] jackwener commented on #1972
@Dandandan hi, about agg, there is some design doc or some discussion about it？ I want to know more about it in order to contirbute for enhancing our optimizer

[2022-03-17 01:51] jackwener commented on #1972
I just mean that add a like top to down optimizer instead speacify optimizer

[2022-03-17 02:08] xudong963 commented on #1972
I know -- volcano/cascades optimizer framework both are top-down optimizers, my thoughts covered both.

[2022-03-17 02:38] xudong963 opened #2027 "beautify default column names"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, DataFusion creates column names by https://github.com/apache/arrow-datafusion/blob/7be0e268a69ffecbf06823c98ca572733dddb29e/datafusion/src/physical_plan/planner.rs#L91.
The approach has two existing problems:
1. result in potential bugs, such as https://github.com/apache/arrow-dataf

[2022-03-17 02:40] liukun4515 commented on #2021
which part of the field added in the `TableScan`,  can you point out them?

@Ted-Jiang

[2022-03-17 02:48] liukun4515 commented on #2021
Maybe we can add some tag in the `filterexpr` and the tag can point out whether it is pushed down or not.
In the explain we can print the information for this.
I think it's not a good way to add useless filed in the `TableScan`

[2022-03-17 03:04] jychen7 commented on #2004
I have implement `approx_percentile_cont_from_sketch` at my fork repo [approx_percentile_cont_from_sketch.rs](https://github.com/jychen7/arrow-datafusion/blob/2004-tdigest-sketches-from-data-source/datafusion-physical-expr/src/expressions/approx_percentile_cont_from_sketch.rs) with test case [tests/sql/aggregates.rs](https://github.com/jychen7/arrow-datafusion/blob/4ad1f0b2f1965f70aaaffccf0a37e33f

[2022-03-17 06:57] #1936 closed

[2022-03-17 07:36] #1704 closed

[2022-03-17 07:42] Dandandan commented on #1972
The current version extended by @pjmore lives here (tokomak directory).

I feel like we should move it to datafusion-contrib for better exposure and continue the work there.

[2022-03-17 07:50] alamb commented on #1972
Love this discussion ❤️

I really like the idea of being able to use the DataFusion optimizer logic in a general way. It would be awesome to use DataFusion with various different optimization approaches, depending on usecase.

I think if a solution can handle the existing optimizer passes it is likely to be general enough for all future optimization passes.

A required step for any of these soluti

[2022-03-17 08:22] Dandandan commented on #1972
I pushed the latest version of @pjmore to
https://github.com/datafusion-contrib/datafusion-tokomak

note that this includes the full datafusion source tree, as some changes in there are required too.

[2022-03-18 02:20] jackwener commented on #1927
It's great!  I read these doc and they is useful to me. I believe that it's a useful information to the new contributor.

There are two options.

- put it to the repo subdir
- put it to the website

[cockroach db use the first method](https://github.com/cockroachdb/cockroach/tree/master/docs)

I consider the first it may be better, because design doc/meeting record is more developer oriented.

cc

[2022-03-18 02:31] #2014 closed

[2022-03-18 03:14] matthewmturner commented on #1927
its a fair point.

i know we have @xudong963 has spearheaded getting an RFC setup in place for datafusion.  however, at this time a majority of the docs live in this more informal google doc setup.

personally, i dont think they need to be mutually exclusive.  i think the site can have user guides, tutorials, cookbooks, and design docs (i use the official arrow site as reference) but we can still

[2022-03-18 03:36] jackwener commented on #1927
Make sense❤.

[2022-03-18 06:45] yjshen commented on #1927
I agree the design docs are of great value for every developer; it helps us to get outlines quickly.

My only concern is the potential confusion when docs and actual implementations are out of sync. For example, the memory management doc I drafted previously is quite different from the current code. I gradually implement it, gather comments, and adapts according to reviews. The gap is growing thro

[2022-03-18 07:00] yjshen opened #2032 "UnionAll support for Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, UnionAll is only available in DataFusion core, it would be nice to also add this to Ballista.

[2022-03-18 13:06] matthewmturner commented on #1927
@yjshen great point. what comes to mind as an option to help with the ongoing maintenance burden is adding inline comments (not doc comments) to the relevant sections of code that link to the attendant design doc. This way if material changes are made at least it should be visible to the person making changes and whoever is reviewing which should hopefully be good reminder to sync up the design do

[2022-03-18 14:34] matthewmturner commented on #1777
@Igosuki sry if im being dumb / bad at searching google but i havent been able to find an example / docs of writing partitioned parquet files from SQL. Only writing with dataframe API or reading a partitioned parquet dataset with SQL.  I havent had the chance to test, but is the command youre looking for something like:

[code]

[2022-03-18 20:43] WinkerDu commented on #2027
I would like to pick this up. Please assign to me as appropriate @xudong963

[2022-03-19 03:07] xudong963 commented on #2027
Thank you @WinkerDu !

[2022-03-19 03:20] liukun4515 commented on #2032
There are some gaps between datafusion and ballista like https://github.com/apache/arrow-datafusion/issues/1985 and https://github.com/apache/arrow-datafusion/issues/1984

[2022-03-19 03:38] yjshen commented on #2032
@liukun4515 Do we have an umbrella ticket to track all these gaps?

[2022-03-19 05:32] yjshen commented on #2027
Please also consider the Apache Hive auto alias as a reference.

I'm conservative on the need to provide a default name. If something goes wrong, it's acceptable to let the query fail, requiring the user to alias explicitly.

[2022-03-19 10:40] xudong963 opened #2035 "support `explain raw plan` & `explain optimized plan`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
During reviewing PRs, I found `Explain raw plan` will be useful. (`raw plan` means the plan doesn't optimize).

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any a

[2022-03-19 12:05] yjshen commented on #2035
`explain verbose ...` provide these functionalities already? from raw logical plan to each optimization step results and the final physical plan?

[2022-03-19 12:42] xudong963 commented on #2035
Thanks @yjshen

[2022-03-19 12:42] #2035 closed

[2022-03-19 13:59] jackwener opened #2036 "Logic code is after the mod tests"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Small issue.

`parse_sql_number` is after the mod tests.

**Describe the solution you'd like**
Put it in the right location.

[2022-03-19 14:36] WinkerDu commented on #2027
@yjshen  After trying the following 2 cases in Hive 2.3.7, I got the outputs below:
[code]
In my opinion, Hive auto alias convention `_c0` seems more reasonable since that indicates column index.
I prefer doing this in Datafusion.
What do you think? @xudong963 @yjshen

[2022-03-19 15:18] jackwener opened #2038 "Filter push down rule cause the wrong plan"
**Describe the bug**

During I add new optimizer rule `combine_adjacent_filter`, I found that `filter push down rule cause the wrong plan` #2026.

This rule will cause the combined filter expressions to be split.

There is a bug in filter push down optimizer rule.

[code]

**To Reproduce**
[code]
[code]

**Expected behavior**
Shouldn't split the expressions

**Additional context**
None

[2022-03-19 17:38] matthewmturner commented on #1544
@hntd187  I just posted to slack - sry for delay, i lost track of this.

[2022-03-19 19:29] #1809 closed

[2022-03-19 20:06] #2036 closed

[2022-03-19 20:42] WinkerDu commented on #2027
@xudong963 After checking #1818 , realigning anonymous columns for all `Expr` seems a bit much.
I prefer what @alamb put that adding a `LogicalPlan::Projection` to `Union`. BTW, I'd like to solve that `Union` corner bug

[2022-03-20 00:10] vchag opened #2040 "Ballista schedular crate install process erroring out"
**Describe the bug**

Ballista schedular create install command erroring out. ([Attempt to deploy standalone ballista cluster on my local machine](https://arrow.apache.org/datafusion/user-guide/distributed/deployment/cargo-install.html))

**To Reproduce**
run `cargo install ballista-scheduler` on the master branch

**The install command errors out with the following error message:**

arrow-datafus

[2022-03-20 00:38] #2016 closed

[2022-03-20 00:54] xudong963 commented on #2027
@WinkerDu  Yeah, you can try to solve #1818 first, we can talk more about #2027

[2022-03-20 00:56] xudong963 commented on #2040
I think the newest master branch has solved the issue https://github.com/apache/arrow-datafusion/issues/1809#event-6270274879

[2022-03-20 02:52] matthewmturner commented on #2040
i was about to raise this exact issue. @vchag thanks for creating

@yahoNanJing @thinkharderdev @gaojun2048 @realno no rush, im just curious if theres a milestone in mind for when the next ballista crates.io releases will be

[2022-03-20 03:30] doki23 opened #2041 "Do some pre-check when building LogicalPlan"
<s>Actually, it's not a functionality bug. It's my confusion about the unit test: **logical_plan::builder::tests::plan_using_join_wildcard_projection**

The following is some code in the test.
[code]

I find some error descriptions in other place of sql planner like:
[code]

And in the sql planner, we always expand the wildcard before generating a logical plan.
So the unit test may be wrong, pleas

[2022-03-20 03:31] doki23 commented on #2041
It's related to another pr: #2012

[2022-03-20 05:38] houqp commented on #2025
I think you should be able to add deltalake support to datafusion-tui by leveraging the existing table provider directly: https://github.com/delta-io/delta-rs/blob/main/rust/src/delta_datafusion.rs.

There is no need for adding new filetype or file format because deltalake only uses parquet, which we already support in datafusion.

[2022-03-20 06:14] matthewmturner commented on #2025
Interesting, ok. I thought there was some more magic going on under the hood (but I hadn't really had chance to look into it) but maybe that only comes into play with some of delta lakes more advanced features like time travel which I don't think is doable without sql extensions.

I'll try it out and get back to you. Thanks!

[2022-03-20 08:41] alamb commented on #2027
FWIW I think @houqp  put a substantial amount of thought into the output name semantics of columns, trying to find a balance between doing what an existing system did and being more useful than `?column?`. The details are written in https://arrow.apache.org/datafusion/specification/output-field-name-semantic.html

[2022-03-20 09:38] #2038 closed

[2022-03-20 09:52] alamb commented on #2021
Maybe we can create two `Vec<expr>` lists on the TableScan like `exact_filters` and `inexact_filters` to make the filtering expectations very clear

That would lead to an explain like:

[code]

Maybe terms like `partial_filters` and `full_filters` would be better? 🤔

[2022-03-20 09:57] alamb commented on #1927
I have never worked on a project where the design docs and code did not drift out of sync over time. I think it is inevitable.

The code always ends up being the final reference. I think best practice is:
1.  Strive to document the code itself as much as possible (including examples)
2. Document key points / design criteria or rationale (that might not be obvious from code or tests) in extended do

[2022-03-20 09:58] alamb commented on #1927
FWIW adding links to old design docs is reasonable as future readers may find value in seeing the thought process and evolution that has occured. But I think the effort to keep the design docs up to date is unlikely to be expended

[2022-03-20 10:01] alamb commented on #2022
FWIW I do think it is common practice for convenience in optimizers / database to represent filters as `Vec<Expr>` that logically represent expr `AND`ed together.  However, I agree that logically there is no difference to using an `AND`ed list

[2022-03-20 10:03] jackwener commented on #2021
I think it's a better way.😃

[2022-03-20 10:16] jackwener commented on #2022
Yes, It's equivalent logically. But, Depending on the scenario, the choice of database will have a preference.

For `vectorized` and `columnar storage`, It's common use the `vec<Expr>` way, because the execution layer generally executes expressions one by one.

As for the `Row oriented storage`, we can apply the `conjunction` expression in a `row`  together.

In conclusion, this may not be a very

[2022-03-20 10:25] alamb commented on #2041
FWIW I would expect this code:

[code]

To generate a DataFusionError with "Wildcard expressions are not valid in a logical query plan"

[2022-03-20 10:40] alamb commented on #2022
Indeed -- in fact in the filter pushdown logic, there is a function that takes apart a `AND` expression into a `Vec<Expr>` (and then there is code to put it back again).

https://github.com/apache/arrow-datafusion/blob/74bf7ab4f578edda8dcb4fe70ec43560992f5bab/datafusion/src/optimizer/filter_push_down.rs#L162-L177

[2022-03-20 20:15] MrBigtool opened #2042 "zstd-sys error"
Hi, I am new in rust but I want to do an experiment with this library in a web assembly project.

Just I am adding the lib:

`[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2.67"
datafusion = "7.0.0"
tokio = "1.17.0"
getrandom = { version = "0.2.5", features = ["js"] }`

And it is causing the error:

`error: failed to run custom build command for 'zstd-sys v1.6.3+zstd.1.5.2'`

I d

[2022-03-20 20:43] Igosuki commented on #1777
Personnally, I'm fine using the dataframe api, but the partitioned output isn't available right now in the API ? Spark goes with write.partitionBy(...).parquet("")

[2022-03-20 20:52] matthewmturner commented on #1777
Ok great - using dataframe api aligns more with my thinking. It was just the SQL part that was throwing me off. Thx.

[2022-03-21 01:24] lquerel opened #2043 "How to build a field of type Struct with DataFusion SQL?"
DataFusion already gives us a way to access nested fields with this syntax field["nested_field"] (field being an arrow struct field). However I didn't find any example or documentation to do the reverse operation, i.e. creating a struct from multiple fields. A pseudo SQL query (inspired from BIGQUERY) will be something like: `SELECT STRUCT(a AS field_1, b AS field_2) AS struct_name FROM table`. Is

[2022-03-21 01:36] alitrack opened #2044 "wrong result when operation parquet"
**Describe the bug**
A clear and concise description of what the bug is.
when use register_parquet, datetime got wrong result, but register_csv no problem.
if use pandas read it dataframe and use register_record_batches also OK.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
expected result ,

[code]

[2022-03-21 05:47] jackwener opened #2045 "[Optimizer] Eliminate the distinct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
 I think `max/min` don't need the rewrite, but need to eliminate the distinct.

**Describe alternatives you've considered**
`SingleDistinctAggregationToGroupBy` rule make the plan more complex.

**Additional context**
None

[2022-03-21 05:49] jackwener commented on #2045
I am investigating this issue. If you know some information about it, you can provide it.

[2022-03-21 08:11] jiangzhx commented on #2045
@jackwener  check this issues https://github.com/apache/arrow-datafusion/pull/1315

@ic4y contribute this pr.

[2022-03-21 08:19] jiangzhx commented on #2044
@alitrack which version?

[2022-03-21 08:21] alitrack commented on #2044
@jiangzhx  0.5.1

[2022-03-21 08:36] jiangzhx commented on #2044
i test your parquet file [yellow_taxi_sample.parquet.zip](https://github.com/apache/arrow-datafusion/files/8312598/yellow_taxi_sample.parquet.zip)

use rust datafusion master version;

query response:
pickup_datetime
0	1970-01-15 05:57:17.520
1	1970-01-15 05:57:19.860
2	1970-01-15 05:56:37.380

does parquet file right?

[2022-03-21 08:40] jiangzhx commented on #2044
also test with python 0.5.1；
query result same with rust datafusion version;

[2022-03-21 08:50] alitrack commented on #2044
please try pandas ,  pyarrow , vaex, all have the same result(correct one),

[code]

[2022-03-21 09:03] jiangzhx commented on #2045
talk with @jackwener and @ic4y ;

[2022-03-21 09:39] jiangzhx commented on #2044
import pandas as pd
    df = pd.read_parquet('yellow_taxi_sample.parquet')
    #df = pd.read_parquet('yellow_taxi_sample.parquet',engine='pyarrow')
    print(df.head())

print right result:

<img width="1257" alt="image" src="https://user-images.githubusercontent.com/494507/159236046-690e9a69-8cc1-456b-9238-f44b518975da.png">

[2022-03-21 15:27] matthewmturner commented on #2043
Hello - thanks for raising this, im quite interested in operations on structs as well.  Do you have any examples of how other engines such as spark / postgres / athena etc handle what you are proposing?

[2022-03-21 17:10] alamb opened #2049 "panic in register_catalog if default catalog not named "datafusion" and information schema enabled"
I think this was introduced in PR https://github.com/apache/arrow-datafusion/pull/1959

Reproducer:

[code]

Results in :
[code]

[2022-03-21 17:12] alamb commented on #2049
I found this while updating IOx to the latest version of DataFusion, BTW. I'll have a PR shortly

[2022-03-21 17:56] alamb opened #2051 "Allow register_catalog to return an `Error`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have a custom catalog implementation in IOx that implements `SchemaProvider`. However, in our usecase I don't want to allow users to register new schemas via SQL (and would like to return an Error about 'not supported')

However, the current API only returns a `Option`:

https://github.com/

[2022-03-22 00:34] alitrack commented on #2044
yes, but yellow_taxi_2009_2015_f32.parquet is about 28G, so I want to use register_parquet, not pandas or vaex read it first.

[2022-03-22 04:03] matthewmturner opened #2053 "Add high water mark to MemoryManager"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Following conversations from slack it would be useful to have a public high water ma

[2022-03-22 04:03] matthewmturner commented on #2053
CC @yjshen @alamb

[2022-03-22 07:22] yahoNanJing commented on #1772
Hi @Jimexist, any progress on this? If you have started, maybe I can handle this.

[2022-03-22 07:42] korowa commented on #2044
@alitrack, i guess the issue caused by "ARROW:schema" key-value pair in .parquet metadata - it contains schema which treats pickup/dropoff_datatime fields as Timestamp(Nanosecond) instead of Timestamp(Microseconds) in actual file schema. I suppose removing this tag from file metadata should help.

[2022-03-22 08:28] Ted-Jiang commented on #2032
i will take this😊

[2022-03-22 09:17] Igosuki commented on #2042
You need zstd bindings for the target runtime, https://github.com/gyscos/zstd-rs/wiki/Compile-for-WASM

[2022-03-22 10:03] silence-coding opened #2058 "file_format/json.rs attempt to subtract with overflow"
panicked at 'attempt to subtract with overflow'， datafusion-7.0.0/src/datasource/file_format/json.rs:71:17

It appears that schema_infer_max_rec must be greater than the number of data rows.
[code]

Here's my test code.
[code]

[2022-03-22 10:04] silence-coding commented on #2058
Here's my test data.
[code]

[2022-03-22 10:04] yjshen opened #2059 "Build physical filter eagerly while constructing ParquetExec operator"
We should avoid leaking logical expression to physical operators.

https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_optimizer/pruning.rs#L93-L101

https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/file_format/parquet.rs#L77-L86

[2022-03-22 10:34] #2049 closed

[2022-03-22 15:31] yjshen commented on #2059
@alamb could you please provide some context on why we are using `Expr` instead of `PhyscialExpr` for `ParquetExec` in the first place?

[2022-03-22 16:42] vchag commented on #2040
Thanks @xudong963.

[2022-03-22 17:04] vchag commented on #2040
You're welcome @matthewmturner .
I think we both were following ballista installation instructions listed on the [website](https://arrow.apache.org/datafusion/user-guide/distributed/deployment/cargo-install.html).

[github](https://github.com/apache/arrow-datafusion/blob/master/docs/source/user-guide/distributed/deployment/cargo-install.md) file  and  [webpage](https://arrow.apache.org/datafusion/

[2022-03-22 17:09] Jimexist commented on #1772
Please go ahead - been busy recently

[2022-03-22 17:09] vchag commented on #2040
Closing this ticket.

Note:
 https://arrow.apache.org/datafusion/user-guide/distributed/deployment/cargo-install.html  webpage is outdated.

[2022-03-22 17:09] #2040 closed

[2022-03-22 22:27] alamb commented on #2059
I don't know of any original rationale -- I think @yordan-pavlov 's initial implementation was in terms of `Expr`

I think it would be fine to use physical exprs instead (as we can always translate from Expr --> PhysicalExpr)

[2022-03-23 01:02] doki23 commented on #2041
As discussed in #2012 , it's necessary to support wildcard in dataframe api. So there's no problem in the code quoted by the issue. I'm going to change this issue to an enhancement that we should do some pre-check for building LogicalPlan.

[2022-03-23 02:22] jychen7 opened #2061 "CreateExternalTable DDL supports table_partition_cols"
## Is your feature request related to a problem or challenge? Please describe what you are trying to do
Assume we have a data lake stores as
[code]

Currently, CreateExternalTable supports defining columns and location (e.g. `table/`)

https://github.com/apache/arrow-datafusion/blob/5936edc2a94d5fb20702a41eab2b80695961b9dc/datafusion/src/sql/parser.rs#L70-L81

a sql query of `select * from table w

[2022-03-23 04:40] Ted-Jiang opened #2062 "[Ballista] Fill functional gaps between datafusion and ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Current Ballista implementation is more like standalone system that  able to run the Datafusion operators in a distributed way.
But threr are some gaps between them.

Currently we need fix:

- [x] https://github.com/apache/arrow-datafusion/issues/2032
- [x] https://github.com/apache/arrow-data

[2022-03-23 06:53] yjshen opened #2064 "DivideByZero for CaseWhen"
`CASE WHEN a > 0 THEN 25.0 / cast(a, float64) ELSE float64(null) END` will fail with error: `ArrowError(DivideByZero)`, since we are computing `25 div a` without checking the `when` condition.

To reproduce
[code]

The [cause](https://github.com/apache/arrow-datafusion/blob/master/datafusion-physical-expr/src/expressions/case.rs#L344) of the problem:

[code]

We are not checking the "selection vec

[2022-03-23 06:54] yjshen commented on #2064
cc @alamb @houqp for thoughts.

[2022-03-23 07:33] jackwener commented on #2045
During I rewrite the plan for eliminating the distinct, there are some problem I can't figure out. Need to wait to I learn more and then try again.

[2022-03-23 07:36] jackwener commented on #2045
Now the target is rewrite from

[code]
to
[code]
instead of

[code]

[2022-03-23 08:46] liukun4515 opened #2067 "Support `sum0` as a built-in agg function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The hive and flink support the `sum0` function.

https://github.com/apache/hive/blob/6f7c55ab9bc4fd7c3d0c2a6ba3095275b17b3d2d/ql/src/java/org/apache/hadoop/hive/ql/optimizer/calcite/rules/HiveDruidRules.java#L210

https://nightlies.apache.org/flink/flink-docs-release-1.3/api/java/org/apache/f

[2022-03-23 08:47] liukun4515 commented on #2067
@alamb  @houqp  PTAL

[2022-03-23 09:34] alamb commented on #2064
@yjshen  I think this is a common problem with vectorized evaluation engines, where the overhead of checking for overflow somewhat reduces the effectiveness of the vectorization

I think your suggestion of using `take_all_valid` is a reasonable one

The other approach I have heard of (though never seen implemented) is to implement some sort of 'poisoning' / deferred exception tracking that leaves

[2022-03-23 10:38] #2051 closed

[2022-03-23 14:57] gaojun2048 opened #2069 "[DataFusion] [TaskContext] ballista test error"
When I add a ballista-example and run it. It panicked with this message:

[code]

[2022-03-23 18:32] yordan-pavlov commented on #2059
@yjshen when I first introduced parquet predicate push-down for Data Fusion in https://github.com/apache/arrow/pull/9064 I was focused on reusing existing code for evaluating dynamically generated expressions. I don't remember any particular reason for using logical instead of physical expressions. If you think using physical expressions (instead of logical) would make the code better, that's fine

[2022-03-23 18:36] #1994 closed

[2022-03-23 19:40] alamb commented on #2061
sounds like a good enhancement to me

[2022-03-23 19:53] alamb commented on #2067
Hi @liukun4515  I think you can get the same effect as `sum0` using a `CASE` statement, as shown below. Given the very minor difference between `sum` and `sum0` it seems like it is not a great idea to add it as a built in to DataFusion from my perspective.

[code]

A more full featured example:

[code]

[2022-03-23 20:18] Dandandan commented on #2067
Even more simple/straightforward: `coalesce(sum(x), 0)` after `coalesce` is supported:
(https://github.com/apache/arrow-datafusion/pull/1969)

[2022-03-24 01:00] liukun4515 commented on #2067
@Dandandan @alamb Thanks for your suggestions.
Please hold this issue and don't close.
This feature is useful for me.

I will try to replace `sum0` with your suggestion.

[2022-03-24 01:34] happysalada opened #2071 "Commiting the Cargo.lock"
Hi, could you commit the cargo.lock file please ?

The reason I am asking is that it is usually needed to build the software from source to package for other discributions.
I am currently having a look at packaging for nixos.

Let me know if you need more details.

[2022-03-24 01:55] yahoNanJing opened #2072 "Introduce the object stores in datafusion-contrib as optional features in the datafusion core"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently when we utilize the datafusion core as a library, it's possible to do the remote object store registration manually in the script code. However, for a long running standalone system, like Ballista, there's no place to do the registration manually. And in general, the remote object s

[2022-03-24 02:04] #2021 closed

[2022-03-24 02:19] #1772 closed

[2022-03-24 02:24] Ted-Jiang opened #2073 "Add filters and projections to EXPLAIN PLAN for ParquetExec, CSVExec etc"
In this example:

[code]

You can see that the `projection` and `partial_filters` are shown in the `logical_plan` but not the `physcal_plan` (in the CsvExec).

it would be great to make the projection and filters shown in the physical plan as well

_Originally posted by @yjshen in https://github.com/apache/arrow-datafusion/issues/2063#issuecomment-1075968812_

[2022-03-24 03:52] yjshen commented on #2059
Thanks @yordan-pavlov for the context! Asking here to make sure this proposal won’t break any unknown hypothesis.

[2022-03-24 03:54] pjmore commented on #1972
TLDR: egg optimizer struggles with some things which have many representations and suffers due to poor rewrite scheduling. Has some nice properties, likely able to implement cascades based framework on top of egg. Egg might be better suited to planner/physical operating like cascades does, lowering the logical plan into physical operators.

I've been researching cascades a bit recently and here ar

[2022-03-24 11:05] alamb commented on #2067
Another potential option is to use a user defined aggregate for sum0

[2022-03-24 13:06] yahoNanJing opened #2075 "Remove dependency of common crate for the storage crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It's better to make the storage crate not dependent on any datafusion crates, which will make it easy for the object store extensions to depend on the storage crate. And it will also make it easy for the datafusion core to depend on both the storage crate and the object store extensions.

**D

[2022-03-24 17:31] alamb opened #2078 "Document approx_percentile_cont_with_weight in users guide"
Thank you!

how about adding a user guide about approximate function? so we can explain how to use them and when
https://github.com/apache/arrow-datafusion/tree/master/docs/source/user-guide/sql

_Originally posted by @jychen7 in https://github.com/apache/arrow-datafusion/pull/2031#issuecomment-1076895570_

[2022-03-24 17:32] #2004 closed

[2022-03-24 18:02] #2069 closed

[2022-03-24 18:04] alamb commented on #321
The lack of ballista coverage in CI came up again with @gaojun2048 @liukun4515  and @mingmwang
 on https://github.com/apache/arrow-datafusion/pull/2070#discussion_r834104400

[2022-03-24 18:04] alamb commented on #1273
Given the recent development in ballista, I would say the answer to this question is not an unequivocal "YES" and this ticket doesn't need to remain open

[2022-03-24 18:04] #1273 closed

[2022-03-24 18:05] alamb commented on #958
🤔  I wonder if this issue is now done? Or does it need more work?

[2022-03-24 18:16] tustvold opened #2079 "RFC: More Granular File Operators"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently the file scan operators such as `ParquetExec`, `CsvExec`, etc... are created with a `FileScanConfig`, which internally contains a list of `PartitionedFile`. These `PartitionedFile` are provided grouped together in "file groups". For each of these groups, the operators expose a DataF

[2022-03-24 18:16] alamb commented on #1972
One thing I think is missing in this discussion is that the cost models for plans are notoriously unreliable (especially one a plan has like 4+ joins in it) and suffer from well known, but unsolved problems like predicate correlation, data skew, and others.

So in other words, even if we had some super advanced optimization framework that could find the "lowest cost plan" it may turn out to be a v

[2022-03-24 18:21] alamb commented on #2079
I like this idea (though I am somewhat biased, as I like / implemented a bunch of the IOx approach) :)

[2022-03-24 19:07] pjmore commented on #1972
That's a great point I think that a multi-objective cost model is probably best for something like this. Possibly using histograms for costs or selectivity instead of a single number. E.g. for the classic example
[code]
Instead of estimating selectivity with ``` selectivity(make='honda') x selectivity(model='accord') ``` estimating selectivity with a range of values. For example assuming a selecti

[2022-03-24 20:05] alamb commented on #1972
I would love to try and avoid  such issues by moving as many choices as possible to runtime. Specifically for Join implementation choice I would love to try to implement something like this

https://www.semanticscholar.org/paper/A-Generalized-Join-Algorithm-Graefe/2df1e7f01621a21061c5ef44e9cca7f0cfdbb332

I don't have a great story for join ordering (though I am working on a potential paper on the

[2022-03-24 20:06] alamb commented on #1972
The typical problem here is skewed data (e.g. one value having 50% of the rows) -- and do you pick equi width or equi height histograms, which both have tradeoffs

[2022-03-24 22:56] novemberkilo commented on #958
iirc we just wanted to wait until we could confirm that the version of `arrow-rs` that contains the [fix](https://github.com/apache/arrow-rs/pull/832) is being used in datafusion. I don't think it needs more work.

[2022-03-25 02:43] yahoNanJing opened #2080 "Reorganize the project folders"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently the datafusion related modules are organized directly under the project. It's better to downgrade them and organize them under one directory. And after #2076, the data access layer no longer depends on the datafusion, it's better to make it directly under the project.

**Describe th

[2022-03-25 03:12] liukun4515 commented on #321
I can take this task in the Q2

[2022-03-25 04:42] Ted-Jiang opened #2083 "Error occurs when using union in query"
**Describe the bug**
in pg
[code]
in df
[code]
I think there two problems:
1. can not get result.
2. use `union` but get `UNION ALL`: i think they are totaly different

related to #2032
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-03-25 04:48] Ted-Jiang commented on #2083
I will try to fix this😊

[2022-03-25 05:38] jackwener commented on #1727
I found the problem to be a very simple one, and it didn't seem to be progressing. so I fix it.

[2022-03-25 06:02] yahoNanJing commented on #2072
An implementation example is https://github.com/yahoNanJing/arrow-datafusion/tree/dev

[2022-03-25 06:39] jackwener opened #2086 "Proposal: Disable Github CI for draft PRs with label"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It's from #2084

As title.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-03-25 06:51] #2073 closed

[2022-03-25 07:06] jackwener commented on #1727
I make a stupid mistake....ignored the supplement following.😅 I will add another PR......

[2022-03-25 07:09] Ted-Jiang opened #2088 "Error occurs when optimize logical_plan after projection_push_down"
**Describe the bug**
when i fix #2083
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-03-25 07:14] Ted-Jiang commented on #2088
it base on my patch fix #2083, may not reproduce in master

[2022-03-25 07:20] xudong963 commented on #2083
@Ted-Jiang I think there is a duplicate issue: https://github.com/apache/arrow-datafusion/issues/1818

[2022-03-25 07:22] jackwener commented on #2088
I'm interested in this issue. But I can't get key point of this issue accurately.

IMHO, It would be better point

- what is this problem
- possible reason
- ...

[2022-03-25 08:06] Ted-Jiang commented on #2083
Thanks for your info❤️

[2022-03-25 08:29] zemelLeong opened #2090 "perhaps two different versions of crate `arrow` are being used?"
I use [connectorx](https://github.com/sfu-db/connector-x) query data to datafusion got this error.
[code]
[code]
![image](https://user-images.githubusercontent.com/26835087/160083299-f49f7a3c-0e6a-4622-8334-25a2030dab4d.png)

Is there any way to fix this?

[2022-03-25 08:32] Ted-Jiang commented on #1818
@xudong963 @alamb  in pg
[code]
in DF
https://github.com/apache/arrow-datafusion/blob/0194a27d0f68108c20b12456e9dafadbb170085e/datafusion/src/logical_plan/builder.rs#L1049

then
https://github.com/apache/arrow-datafusion/blob/634252b44cec8dc904e48926d0aa54feeb4d48af/datafusion-common/src/dfschema.rs#L278-L282
we check field name, according to the below link should we change to check the filed type

[2022-03-25 09:32] Ted-Jiang commented on #2088
Close same issue in #1818

[2022-03-25 09:32] #2088 closed

[2022-03-25 09:40] yjshen opened #2092 "Support substring with three arguments: (str, from, for) for DataFrame API and Ballista"
It would be nice if we also support three arguments substring for Ballista.

substring impl: https://github.com/apache/arrow-datafusion/blob/master/datafusion-physical-expr/src/unicode_expressions.rs#L413

For DataFrame API: https://github.com/apache/arrow-datafusion/blob/master/datafusion-expr/src/expr_fn.rs#L256

For Ballista:  https://github.com/apache/arrow-datafusion/blob/master/datafusion-pr

[2022-03-25 09:48] yjshen commented on #2062
I've updated the list above with a `substr` item.

[2022-03-25 09:48] crepererum commented on #1972
# Egg
@pjmore great write up, thank you. I have a few notes on your observations regarding egg:

1. It might be worth sharing them with the egg developers, they have a [quite active discussion forum](https://github.com/egraphs-good/egg/discussions) and seem to be quite eager to hear what people build using egg (or where they fail)
2. I think the explosion of graph sizes can be handled somewhat by

[2022-03-25 10:36] yjshen opened #2093 "Add an `InSet` function as an optimized version for `IN`"
TPC-DS has many queries with `IN` predicates where all elements are constants. It's a low-hanging fruit if we could implement an `InSet` function for this all constants value case.

While implementing this, we could either use a hashtable or a chain of if-elif-else, depending on the length and the type of the constants array.

Q8:
[code]

Q53:
[code]

[2022-03-25 11:57] yjshen commented on #2079
Thanks for bringing it up.

Recently, we've encountered several different circumstances to deal with query execution parallelism:
- To parallelize the parquet file scan and reduce filesystem operation overhead; (The current parquet chunkReader API).
- To incorporate task concept, which is widely available in distributed computation frameworks such as Spark, presto, into the DataFusion core. https:

[2022-03-25 12:55] tustvold commented on #2079
I agree entirely that the current scheduling within DataFusion, which effectively punts onto tokio and hopes it does something vaguely appropriate, is likely sub-optimal. In fact one of the issues I'm having with #1617 appears to be that sub-optimal task scheduling is causing a 2x performance regression.

That being said, I think there are three problems here and it would be advantageous in my min

[2022-03-25 13:21] Dandandan commented on #2064
Case-when seems also like a good candidate for JIT compilation.

[2022-03-25 15:20] tustvold commented on #2090
Could you maybe post the output of `cargo tree --duplicates` for your workspace. It is likely you have two crates depending on different versions of arrow in your source tree, and it is resulting in this error message as cargo will link in both versions. This will then cause an issue if you try to use a type from one arrow version with something expecting a type from the other version

[2022-03-25 16:47] #2075 closed

[2022-03-25 16:56] #1727 closed

[2022-03-25 16:59] alamb opened #2095 "Create next DataFusion release (after 7.0) - 7.1"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We released datafusion 7.0.0 about a month ago https://crates.io/crates/datafusion/7.0.0

We should figure out when to release the next one

**Describe the solution you'd like**

Plan out the next release(s) of DataFusion. Also figure out if we want to do a maintenance release (e.g. 7.0.1 / 7.

[2022-03-25 17:09] alamb commented on #1818
@Ted-Jiang  makes sense to me

[2022-03-26 01:46] silence-coding commented on #2095
I think datafusion can release a small version (e.g. 7.0.1) once a month and a large version (e.g. 8.0.0-alpha) when there are major changes. The reason is that the pull request of DataFusion is frequent. Therefore, a stable release plan is required.

[2022-03-26 02:34] zemelLeong commented on #2090
This is my `cargo tree --duplicates` result:
<details>
  <summary>cargo tree --duplicates result detials</summary>
  <pre>
    arrayvec v0.5.2
    └── lexical-core v0.7.6
        ├── arrow v5.5.0
        │   └── connectorx v0.2.3
        │       └── columnq v0.4.5 (H:\github-project\roapi\columnq)
        │           ├── columnq-cli v0.2.3 (H:\github-project\roapi\columnq-cli)
        │

[2022-03-26 05:22] Ted-Jiang opened #2096 "Enable explain query in Ballista."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2022-03-26 09:27] alamb commented on #2095
I would be happy to help support more incremental releases of datafusion, but I probably don't have time to manage the whole thing

What I think would be needed is:
1. A stable branch (`release_7.x`) -- which I can make
2. people to make PRs that cherry-pick changes from `master` to that stable branch
3. A regular release from the release branch

I am happy to do the mechanics of creating a branch

[2022-03-26 09:58] silence-coding opened #2097 "Query order"
Why Is the Returned Result Out of Order After I Use the Where Statement to Query
Out-of-order occurs between RecordBatches, and each RecordBatch is ordered.
[code]

[2022-03-26 10:08] silence-coding commented on #2095
I agree with you very much. I suggest that you can post a bulletin in ReadMe to recruit volunteers to help manage the publishing. It may not be obvious to track the issue.

[2022-03-26 10:35] Dandandan commented on #2097
Hi @silence-coding Without an `ORDER BY` clause, the query engine is free to return the rows in any order. The reason it is returning the rows in different order is the parallel execution of DataFusion: execution on one file/partition might finish sooner than the other, returning the rows earlier.

[2022-03-26 12:41] HaoYang670 commented on #2095
Maybe we could imitate the style of Apache Spark.
1. Major release (such as 8.0.0)(irregularly, but may be 2~3 years):  significant new features, optimizations in architecture, or the back compatibility is broken.
2. Minor release (such as 7.1, 7.2 ...)(around half a year): Performance improvement and small features
3. Maintenance  release (such as 7.0.1, 7.0.2)(regularly released monthly) : focus

[2022-03-26 22:21] jychen7 commented on #2095
[Arrow (non-rust)](https://arrow.apache.org/release/) seems to have major release quarterly and as of 2022-02, it is 7.0.0. As of 2022-03, Arrow Rust have reach 11.0.0 and Arrow Datafusion is 7.0.0.

I think Datafusion can have similar release plan as Arrow (non-rust)
- major release (from master), every 3 month
- minor release (from master), every 1 month
- patch release (from previous minor rele

[2022-03-27 01:07] yahoNanJing commented on #2095
Agree to make 3-layer releases: major, minor, bug fix.

Another question is whether it is necessary to maintain the same version for different modules, like Ballista, datafusion-data-access (newly splitted one).

[2022-03-27 01:08] liukun4515 commented on #2067
Thanks.

I will try these two methods.
1. replace `sum0` with `coalesce` or `case when`
2. udaf

[2022-03-27 10:18] #2064 closed

[2022-03-27 10:27] alamb commented on #2095
Arrow C++ does major quarterly releases; I have not seen a minor release (e.g. 6.1.0) in the last year. Occasionally there are patch releases but it is infrequent and typically once per major release.

I agree the three release sounds ideal as well.

If we intended to conform to ["semantic versioning"](https://doc.rust-lang.org/cargo/reference/semver.html) in the rust style, it is a challenge to r

[2022-03-27 10:29] alamb commented on #2095
The challenge I predict we will encounter is getting the time to manage the releases (aka reviewing PRs, decide what to backport, backporting, making release notes and version bumps).

I don't think the work is "hard" per se but it does take sustained time and effort

Maybe we could start with

* major release (from master), every 3 month
* minor/patch release (from previous minor release branch)

[2022-03-27 10:29] alamb commented on #2095
Does anyone want to volunteer to manage such release(s)?

[2022-03-27 10:43] #2032 closed

[2022-03-27 13:07] jychen7 commented on #2095
I would love to

[2022-03-27 13:54] mateuszkj opened #2100 "function 'concat_ws' should ignore NULL in last argument"
**Describe the bug**
Function *concat_ws* is not ignoring NULL in last argument and seperator text is added at the end of the result.

**To Reproduce**
[code]

Tested on master (refs 73ea6e1)

**Expected behavior**
[code]
There should not be spectator added as the end of result.

**Additional context**
There is test case for ignoring NULLs in arguments but only in the middle: https://github.com/ap

[2022-03-27 17:48] mooreniemi opened #2101 "with_column / apply udf support for dataframes"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Coming from Spark, Pandas, and Polars, I am used to being able to do `with_column` and/or `apply` using a `udf` to add columns to my dataframes. [Here's an example of doing that using Polars `DataFrame`](https://github.com/mooreniemi/parq/blob/main/examples/polars_w_col_lazy.rs#L16).

I may be

[2022-03-27 20:36] #2078 closed

[2022-03-27 20:48] houqp commented on #2095
Agree that backporting patches to a stable branch is a very time consuming work so better not commit to it until we see strong need from our users or we have a maintainer who can allocate dedicated time to maintain the stable branch.

[2022-03-27 22:05] Dandandan opened #2102 "Generate Jit expression from Expr"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The JIT code contains a new represantation of expressions. In order to compile expressions from datafusion (in order to compile complex expressions to run on arrow arrays) we can consider adding `impl TryFrom<datafusion_expr::Expr> for Expr` to datafusion-jit.

**Describe the solution you'd li

[2022-03-28 01:10] houqp commented on #2090
Yes, this is due to two different versions of arrow pinned between connectorx and datafusion. To fix this, we need to send a PR to connectorx to update its pinned arrow version.

[2022-03-28 01:50] silence-coding commented on #2097
Will the same parquet file be executed in parallel? Is there any other solution? I'm worried about whether `ORDER BY` will cause high resource occupation, for example, putting all query results to the memory and then sorting them.

[2022-03-28 01:53] houqp commented on #321
Thank you @liukun4515 ! In case you missed it, the setup I had in https://github.com/apache/arrow-datafusion/pull/688 already works and was only paused pending optimizations to reduce cache size. I imagine you might be able to reuse some of the setup there when you start working on this this task.

[2022-03-28 01:56] houqp commented on #2071
The general rule of thumb is to only checkin lock files for crates that produces binary artifacts. For example: datafusion-cli, ballista-scheduler, ballista-executor, etc. But we should avoid checking in lock file for the datafusion core itself since it's a library.

[2022-03-28 02:01] happysalada commented on #2071
Right, I completely agree. I wanted to try out datafution-cli . Do you think you can commit the lockfile for it ?

[2022-03-28 02:23] houqp commented on #2071
adding a lockfile to datafusion-cli should be fine, you can generate one by running cargo build locally, then send a PR to have it checked it :)

[2022-03-28 07:09] silence-coding commented on #2097
If target_partitions is set to 1 or the limit syntax is added to the SQL statement, DataFusion does not perform concurrent queries to ensure the sequence of queried data.

Is there a better way? If not, I will close the issue in a few days！

[2022-03-28 07:22] Ted-Jiang commented on #2092
@yjshen i think it already in ballista
[code]

[2022-03-28 07:28] yjshen commented on #2092
Thanks, my fault.

[2022-03-28 07:28] #2092 closed

[2022-03-28 07:47] Ted-Jiang commented on #2093
@yjshen Nice idea! Is this like implement `physical-exr`  called `in_set` like existing `in_list`？

[2022-03-28 13:08] doki23 commented on #2100
I think we can use [join](https://doc.rust-lang.org/std/primitive.slice.html#method.join) to replace `String::push_str`.

[2022-03-28 13:16] happysalada commented on #2071
happy to do an MR!
One more question though. Would you prefer a cargo lock in the datafusion-cli directory only for that project, or a global cargo.lock that would be added to the cargoignore. With the second way, everyone who develops on the repo would benefit from it.
Let me know what you prefer.

[2022-03-28 13:17] doki23 commented on #2096
I'd like to take this issue if no one's working on it.

[2022-03-28 13:24] silence-coding commented on #1967
The error cause is that the API is incorrectly used. You should use while let Some here.
[code]

[2022-03-28 13:29] silence-coding commented on #1952
Do you have any ideas about this? @xudong963

[2022-03-28 15:27] waitingkuo opened #2105 "Docker build failed"
**Describe the bug**
I followed this doc, https://arrow.apache.org/datafusion/user-guide/distributed/deployment/docker.html to build the docker container but failed

**To Reproduce**
pull the repo and do ```./dev/build-ballista-docker.sh```

**Expected behavior**
A successful docker build

**Additional context**
The dockerfile install the zlib 1.2.11. zlib is updated to 1.2.12 (today)[https://zlib

[2022-03-28 16:32] houqp commented on #2071
Thank you. Please put the lock file only in datafusion-cli folder so it won't get applied to the datafusion core library :)

[2022-03-28 19:20] WinkerDu commented on #1818
@xudong963 Sorry for late report to this issue since I'm quite busy last week.
I have a raw fix:

1. force all `Projection` under `Union` alias with column index like `column0`
2. change field names match check to field type compatible check.

[2022-03-28 19:39] alamb commented on #2095
Ok, since @jychen7 has volunteered, let's give it a try for a release or two of `datafusion 7.x`

I have created a 7.x maintenance branch
* https://github.com/apache/arrow-datafusion/tree/maint-7.x

The next steps would be to decide on some content to backport (via cherry-pick) that are semantically compatible.

To do so I suggest:
1. Create a new PR for each change you would like to release in th

[2022-03-28 19:45] #2105 closed

[2022-03-28 22:01] cube2222 opened #2109 "Almost 100x slowdown on 0.7.0 with CSV file due to parsing entire file to infer schema"
**Describe the bug**
I'm running benchmarks for [OctoSQL](https://github.com/cube2222/octosql) and datafusion-cli is one of the tools I compare against. The previous version I used (0.6.0 I think) did the benchmark in 1.5 second. The new version takes 100 (!!!) seconds. It also prints "0 rows in set", which makes me think this is a CSV decoder regression.

This is based on the nyc yellow taxi data

[2022-03-29 00:53] matthewmturner commented on #2109
Hi @cube2222 - thanks for report.  A few quick things that come to mind (I haven't had chance to try replicating or digging into it though so sorry if these are obvious or you already tried):

1. Can you confirm you are running with the --release flag?
2. The 0 rows in set likely comes from the CREATE EXTERNAL TABLE command.
3. I don't see a closing semi colon for the actual query which may preven

[2022-03-29 01:51] #2080 closed

[2022-03-29 02:16] jychen7 commented on #2095
@alamb if I understand correctly, our next major release wil be around 2022-05-14 (2nd weekend of May). And next possible minor release will be around 2022-04-09 (2nd weekend of Apr).

we ask contributor who want minor/patch release to create PR to `maint-*` branch after original PR is merged to master? I draft the doc update at https://github.com/apache/arrow-datafusion/pull/2110

As volunteer, I

[2022-03-29 03:12] silence-coding commented on #1967
When the SQL statement uses the limit statement, if the query result is greater than the limit value, the Execution("channel closed") error occurs.

[code]

[2022-03-29 03:13] silence-coding commented on #1967
I wonder if we shouldn't print an error when the receiver closes the channel?

[2022-03-29 03:16] happysalada commented on #2071
like I said in the PR. unfortunately cargo does not tolerate a lock that is not at the root of the workspace.
So as a workaround I added exclude statements in the other cargo.toml files (for all the libraries).
Let me know.

[2022-03-29 04:06] #2102 closed

[2022-03-29 05:51] Ted-Jiang commented on #2096
Thanks @doki23 ! ❤️

[2022-03-29 06:39] cube2222 commented on #2109
Hey, sure:
1. I've installed datafusion-cli through homebrew, I'm assuming that's compiled with --release.
2. Yes, it does.
3. Running interactively it's already the CREATE EXTERNAL TABLE statement that takes ages. But you're right, the final query didn't run. With the semicolon, the final query takes 0.4 seconds (so as expected). So it's basically 100 second CREATE EXTERNAL TABLE + 0.4 second que

[2022-03-29 09:12] Ted-Jiang commented on #2093
@yjshen I will take this 😊

[2022-03-29 10:03] yjshen commented on #2093
FYI. Here's what Spark does: https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/predicates.scala#L579

[2022-03-29 13:54] thinkharderdev opened #2116 "ScalarValue serialization loses timezone"
**Describe the bug**
A clear and concise description of what the bug is.

In `datafusion-proto`, `ScalarValue::TimestampX` disregards the optional timezone:
[code]
As a result, the value will be deserialized to a `ScalarValue::TimestampX(<timestamp>,None)`.

This will, for one thing, cause binary expression evaluation to fail if one operand is a timestamp literal and the other is a column expressi

[2022-03-29 14:20] alamb opened #2117 "`panic` `range end index 3 out of range for slice of length 2` when evaluating CASE expression"
**Describe the bug**

Running certain queries with `CASE` expressions will result in an error such as:
[code]

@yjshen  basically has identified the issue here: https://github.com/influxdata/influxdb_iox/pull/4148#issuecomment-1081563527 related to Nulls and `SlicesIter`

**To Reproduce**
[code]

results in

**Expected behavior**

This output should be produced

[code]

**Additional context**
Very

[2022-03-29 18:53] Dandandan opened #2122 "JIT-Compile DataFusion Expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We should be able to compile.

The benefit of this is that we can speed up complex / nested expressions by avoiding unnecesarry allocations

**Describe the solution you'd like**

We should be able to take in a collection of a `RecordBatch` / named `Array`s and compile an expression like `(a +

[2022-03-29 19:14] Dandandan opened #2123 "JIT-compille DataFusion expression with column name"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently we do not support compiling expressions towards JIT-compiled expressions when a column name is included (`a+b`).

**Describe the solution you'd like**
We should be able to add a `SchemaRef` to convert an expression with column name to a Jit-expression.

**Describe alternatives you've

[2022-03-29 21:15] alamb commented on #2095
I think that would be reasonable

Yes, thank you

❤️  thank you so much!

[2022-03-30 01:35] #2116 closed

[2022-03-30 02:36] matthewmturner commented on #2109
Indeed, I was able to reproduce the performance regression building from source:

Master (maybe a few commits behind, i havent pulled latest in a few days)
[code]

7.0.0
[code]

6.0.0 (I think the version shown when launching is wrong)
[code]

My guess is that this could be coming from an arrow-rs related change (which handles IO) - but i havent been tracking all the changes in detail there lately

[2022-03-30 04:19] Ted-Jiang opened #2125 "Support type cast in union"
in postgresql union support  type cast like below
[code]

Maybe we can open a ticket support this ?

In datafusion
[code]
_Originally posted by @Ted-Jiang in https://github.com/apache/arrow-datafusion/pull/2108#discussion_r837294373_

[2022-03-30 09:31] #2086 closed

[2022-03-30 14:23] yjshen commented on #2079
Sounds great. We could eliminate much of the common logic scattered in different file formats, as you mentioned. And yes, this makes sense!

I'm confused here: How would we parallelize the physical operators after this `TableScanOp`? And how do we control this `single` operators parallelism? Will the data batch be sent through a multi-producer(the single ops)-multi-consumer(like filter/project/sor

[2022-03-30 14:31] tustvold commented on #2079
You would have multiple single-partition `ParquetExec` being fed into a single `UnionExec`, potentially with some `ProjectionExec`, etc... in between. As each Datafusion partition gets its own tokio task => parallelism. If you wanted parallelism within a single file, you would have an optimizer pass that would replace the single `ParquetExec` with multiple with disjoint row groups, again this woul

[2022-03-30 18:30] alamb commented on #2109
I think something in the DF 7.0 line made the number of lines used to infer the schema configurable, and the default changed to use "the whole file".

Thus, in 7.0 the datafusion-cli appears to be parsing the entire CSV file to do schema inference.

When I applied the following diff, the time went from **131.012 seconds** locally to **0.076 seconds**.

[code]

I suggest we change the default value

[2022-03-30 18:30] alamb commented on #2109
Thanks for the report @cube2222

[2022-03-30 20:16] WinkerDu commented on #2100
A raw fix here #2128

[2022-03-30 20:25] cube2222 commented on #2109
Glad it's useful!

[2022-03-31 05:36] jiangzhx commented on #2044
i did more research, read parquet metadata with parquet = { version = "9.0.0"} .
the value of key ARROW:schema was base64 encoding .

@korowa  was right, the column pickup_datetim's datatype was datetime64[ns]

`
        {
            "name": "pickup_datetime",
            "field_name": "pickup_datetime",
            "pandas_type": "datetime",
            "numpy_type": "datetime64[ns]",

[2022-03-31 06:19] jiangzhx commented on #2044
confused....

print_row_with_parquet testcase get right result
pickup_datetime:2009-01-04 02:52:00 +00:00

print_row_with_datafusion get wrong result
pickup_datetime:1970-01-15 xx:xx:xxxx

[code]

[2022-03-31 10:11] #2123 closed

[2022-04-01 03:34] mingmwang commented on #1848
The issue is fixed.

[2022-04-01 03:34] #1848 closed

[2022-04-01 14:04] tustvold commented on #2044
This is likely related to https://github.com/apache/arrow-rs/issues/1459

[2022-04-02 05:34] #2100 closed

[2022-04-02 05:48] #1818 closed

[2022-04-02 06:28] ZhangqyTJ opened #2136 "No suitable object store found for ***"
I found this when trying to add s3-objectstore:
I use the `ctx.runtime_env().register_object_store()` method to register the objectstore into the SessionContext, but I can't get the objectstore through `get_by_uri()` in the Scheduler.
Exception: No suitable object store found for ***

This exception can be reproduced using LocalFileSystem.
Recurrence method: ObjectStoreRegistry does not store Loca

[2022-04-02 11:28] gaojun2048 commented on #1984
In this pr: https://github.com/apache/arrow-datafusion/pull/1593 I added `show tables` and `show columns` in ballista context.  I think we can add a param named `with_information_schema` which type is `bool`.
I can finish it in these days.

[2022-04-02 13:48] jychen7 opened #2138 "Maybe we should eventually move the `parquet_pruning` option out of `SessionContext` and into the `ParquetReadOptions` structure. As a follow on PR"
Maybe we should eventually move the `parquet_pruning` option out of `SessionContext` and into the `ParquetReadOptions` structure. As a follow on PR

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/2099#discussion_r841063796_

[2022-04-02 14:46] jychen7 commented on #2109
I will try create a PR this weekend and see if we can do our first minor release next weekend

[2022-04-03 04:09] #2041 closed

[2022-04-03 04:16] yjshen opened #2140 "Suspesious slow tests in Ballista"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

On the master branch, run `cargo nextest run`,  not always present, on average 2-3 times out of 5 runs.

[2022-04-03 04:17] yjshen commented on #2140
@Ted-Jiang any ideas on this?

[2022-04-03 08:07] Dandandan commented on #2109
Great find!👍

Another thing might be useful in the future is to optimize inferring inferring the types.

It makes sense it is slower than parsing the CSV, given that we don't know the types, but it sounds it shouldn't be ~100x as slow.

[2022-04-03 10:10] doki23 commented on #2096
Hmm, I need some help. I have 2 solutions:

1. Generate a stage, and submit it.
2. Ballista scheduler executes the query itself.

The first one needs small changes but unnecessary scheduler workload.
The second doesn't bring scheduler workload, but may need new api (I'm not very sure).
How do you think? @Ted-Jiang @yjshen Or is there another way?

[2022-04-03 10:39] #2061 closed

[2022-04-03 12:43] WinkerDu opened #2141 "Add 'StringConcat' operator to df"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
df now has not implemented `StringConcat` operator, like
[code]
But Postgres SQL will come out results lile
[code]

**Describe the solution you'd like**
Reuse df build-in `concat` string expression to do it.

**Describe alternatives you've considered**
No.

**Additional context**
No.

[2022-04-03 12:50] WinkerDu commented on #2141
A raw implementation here: #2142

[2022-04-03 13:38] WinkerDu commented on #1184
Maybe I can pick up some tickets as appropriate.

[2022-04-03 18:49] WinkerDu commented on #1191
@alamb plz assign this issue to me, thank you.

[2022-04-03 18:49] WinkerDu commented on #1191
A raw fix here: #2144

[2022-04-03 22:27] pjmore opened #2145 "Join on path partitioned columns fails with error"
**Describe the bug**
Dictionary types aren't supported by the hasher. Attempting to join on two partitioned columns panics with:
[code]
This isn't an issue when joining partition column with another string column, I assume due to type coercion rules casting partition column to Utf8.

**To Reproduce**
I did this in using the path_partition tests using slightly modified version of register_partition

[2022-04-04 04:23] matthewmturner commented on #1740
Im very interested in this as well, in particular just getting started with enabling `CREATE VIEW`.

@Igosuki did you have plans to work on this?

[2022-04-04 04:29] Ted-Jiang commented on #2140
@yjshen I run it on my local mac, but can not reproduce it. I think `cargo test` run in parallel it may not slow down the whole process.

[2022-04-04 04:29] Ted-Jiang commented on #2140
I will try reproduce it.

[2022-04-04 05:00] wangxiaoying opened #2147 "No field named when table name is quoted in FROM clause"
**Describe the bug**
`ExecutionContext::sql` function result in following error when the table name is quoted in FROM clause:
[code]

**To Reproduce**
[code]

**Expected behavior**
q1 should work the same with q2 and q3 without any error.

**Additional context**
In postgres, quoted table names like q1 works:
<img width="759" alt="image" src="https://user-images.githubusercontent.com/5569610/161476

[2022-04-04 05:01] yjshen opened #2148 "Research performance improvements in N-way merging"

[2022-04-04 05:06] yjshen opened #2149 "Optimize memory usage pattern to avoid "double memory" behavior"

[2022-04-04 05:06] yjshen opened #2150 "Research sort directly on raw bytes of composite sort keys for better performance"
I hope to contribute improvements to the Sort performance (especially for multi-column sorts that include strings) this quarter as well. I don't have any writeup of that yet

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/2133#discussion_r841062910_

[2022-04-04 05:16] yjshen opened #2151 "Research usage of row format for sort records buffering"

[2022-04-04 08:59] Igosuki commented on #1740
I would love to but I am quite busy with other things these days (recently got knee surgery). So feel free to take ownership !

[2022-04-04 11:38] yjshen opened #2155 "Inconsistent memory tracking for SortExec"
**Describe the bug**

We have moved requesters' memory tracking method in #1691:

Inconsistency memory tracking exists for SortExec, which may cause incorrect total memory accounting in the memory manager, and potentially block other requesters' running when we have more than one requester.

[2022-04-04 14:10] matthewmturner commented on #1740
Sorry to hear - wishing you a speedy recovery!

I hope to look into it soon.  Will keep you posted.

[2022-04-04 17:58] #2071 closed

[2022-04-04 18:11] alamb commented on #1184
Thanks @WinkerDu

I can't remember how far I got with this one. If I were doing this project what I would do is try and change the code so that a `Null` constant (aka `ScalarValue` with an embedded `None`) as `DataType::Null` and then implement coercion rules for DataType::Null <--> All other types.

I tried this at some point and I think I hit issues in `arrow-rs` 's `cast` kernel not knowing how

[2022-04-04 18:18] #2109 closed

[2022-04-04 18:25] #1971 closed

[2022-04-04 18:44] alamb commented on #1740
Create VIEW would be cool indeed -- I suggest adding it to the Catalog/Schema provider traits (as the view definitions logically belong there I think)

[2022-04-04 18:48] #2155 closed

[2022-04-04 20:12] matthewmturner opened #2158 "Add DELIMITER option with CREATE EXTERNAL TABLE for CSVs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
I would like to be able to specify a delimiter to use while reading in CSV files from

[2022-04-04 21:22] matthewmturner commented on #1740
@alamb noted - i will look into that.

[2022-04-05 02:10] jychen7 commented on #2109
yes, https://github.com/apache/arrow-datafusion/pull/2159

[2022-04-05 13:47] yjshen commented on #2148
Hi @jackwener,  currently @richox has two efforts trying to achieve this:

The first one intended to use `peek_mut` instead of `pop` in SortPreserveMerging for less comparison but seems suffering performance regression at the moment. https://github.com/apache/arrow-datafusion/pull/2134

The second attempt tries to use `BTree` instead of the current `MinHeap` and is still a work in progress. https:

[2022-04-05 14:08] #2149 closed

[2022-04-05 14:09] alamb commented on #2148
Yes, I will provide some more coherent thoughts later today

On Tue, Apr 5, 2022 at 9:54 AM Yijie Shen ***@***.***> wrote:

[2022-04-05 14:59] Cheappie opened #2161 "Query execution fails with index out of bounds err"
**Describe the bug**
Simply I get index out of bounds when parquet pruning is enabled.

file: metadata.rs:212:10
struct: RowGroupMetaData,
accessed field: columns
error: thread 'tokio-runtime-worker' panicked at 'index out of bounds: the len is 1 but the index is 1'

**To Reproduce**
Create two parquet files with different fields in schema, I put 4 numbers into each file.

[code]

code:
[code]

**

[2022-04-05 17:33] andygrove opened #2164 "Introduce AliasedRelation in logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
If I have a SQL query such as `SELECT * FROM person AS peeps` there is no way to extract the original table name `person` from the logical plan. It looks like the alias name is pushed down to the `TableScan` node and the original name is discarded.

**Describe the solution you'd like**

I woul

[2022-04-05 17:59] thinkharderdev commented on #2161
This is related to the schema merging. I discovered this issue as well today and am working on a fix.

[2022-04-05 20:03] alamb opened #2165 "Optimize InList implementation with native types rather than ScalarValue"
The basic idea is that instead of using `ScalarValue` which has runtime dispatch overhead, we could use native rust types, like `HashSet<u32>`, etc. I think that could be a couple times faster.

_Originally posted by @Dandandan in https://github.com/apache/arrow-datafusion/pull/2156#discussion_r841898112_

[2022-04-05 20:21] Dandandan commented on #2165
In addition to higher memory usage and dispatching overhead there are two extra sources of overhead:

* Having to convert all values from array items to `ScalarValue`
* Hashing a `Scalarvalue` is slower than hashing a native type.

[2022-04-05 20:38] alamb commented on #2161
Thanks @thinkharderdev

[2022-04-05 20:52] alamb commented on #2148
Thoughts on N-way merging:

We (Influxdb IOx in general and myself in particular) are very interested in this as well because the `SortPreservingMerge` is one of the key bottlenecks we see when sorting out data.

Here is what I was thinking about how to proceed:
1. Create a benchmark for merging (including multi-column keys and variable length (Utf8) keys)
2. Spike out some tests

Areas for invest

[2022-04-05 21:50] tustvold commented on #2148
One other thing to throw into the mix would be to optimise sorts of dictionary encoded columns. If the dictionary is sorted, the savings could be significant as you only need to compare the integer keys.

Even if the dictionary isn't sorted it might be faster to sort the dictionary first, and then sort the now sorted keys.

Just an idea as at least in the case of IOx, we will only been sorting on

[2022-04-06 01:06] yjshen commented on #2140
https://github.com/apache/arrow-datafusion/runs/5838876700?check_suite_focus=true

test cpu_bound_executor::tests::executor_shutdown_while_task_running has been running for over 60 seconds

Our CI encountered this as well.

[2022-04-06 02:11] mingmwang commented on #2136
Do you modify the Ballista source code and try to register s3-objectstore ?
You need to register the objectstore to runtime env in multiple components: Ballista Client, Ballista Scheduler and Ballista Executor.

[2022-04-06 02:52] yjshen commented on #2148
I filed an issue for this https://github.com/apache/arrow-datafusion/issues/2150

[2022-04-06 03:05] Ted-Jiang commented on #2140
If it break the Ci pipeline, i think we should ignore it first.

[2022-04-06 03:44] mingmwang commented on #2140
I had encountered the same issue in my local laptop.

[2022-04-06 03:48] mingmwang commented on #2140
[code]

[2022-04-06 05:19] alippai commented on #318
Related issue solved by duckdb: https://github.com/duckdb/duckdb/pull/3219

[2022-04-06 05:52] #1890 closed

[2022-04-06 06:14] ZhangqyTJ commented on #2136
I think the correct logic is: use the code "sessionContext.runtime_env().register_object_store("s3",Arc::new(S3FileSystem{}));" to register the objectstore, Scheduler and Executor to obtain the serialized s3-objectstore through the network , instead of writing the code for registering s3-objectstore in both Scheduler and Executor. If you do that, the parameters of the objectstore also need to be p

[2022-04-06 06:29] mingmwang commented on #2136
Yes, ideally the  objectstore just need to be registered once. But currently since there is no general serialization API for the
objectstore, this is unlike JVM languages.

[2022-04-06 06:54] ZhangqyTJ commented on #2136
@mingmwang

What is the correct way? Even if the method of registering objectstore is written in Scheduler and Executor, how should I pass parameters to Scheduler and Executor? For example: endpoint, username, password. @mingmwang

[2022-04-06 07:29] yahoNanJing commented on #2136
Hi @ZhangqyTJ, my perspective for the object store for a standalone system is that we should leverage the *ObjectStoreRegistry* as a system-level one rather than the session-level one currently implemented. And we should not do the manually registration for object stores. Instead, we should register them by default. Therefore, we proposed #2111 to introduce object stores as optional features in th

[2022-04-06 08:15] thinkharderdev commented on #2136
Hi @ZhangqyTJ as @yahoNanJing mentioned, the current implementation assumes that the `ObjectStore` will be registered on both the scheduler and executor and the only way to do that currently is to manually do the registration by creating your own entrypoint for those services. But that is not really ideal and there is an active discussion in #2111 on what the best way to proceed on that is. We can

[2022-04-06 08:42] ZhangqyTJ commented on #2136
ok

[2022-04-06 09:49] jackwener opened #2169 "Optimizer enhancement: convert outer join to inner join"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]

**Describe the solution you'd like**
Convert the outer join to inner join if we can.

**Describe alternatives you've considered**

**Additional context**

[2022-04-06 09:50] jackwener commented on #2169
I am trying to do this and it will take a while.

[2022-04-06 14:15] #2169 closed

[2022-04-06 14:20] tustvold commented on #1939
@yjshen Are you still planning to pick this one up, otherwise I can take a stab at it. It's causing me some excitement whilst experimenting with query scheduling.

[2022-04-06 14:51] jackwener commented on #2148
During my school days, I tried to implement an external sorting algorithm using the `loser tree`, I don't know if this is a good idea because I didn't go to compare

[2022-04-06 16:16] tustvold opened #2173 "HashJoinExec Evaluates in `ExecutionPlan::execute`"
**Describe the bug**

Similar to #1939, `HashJoinExec` drives its first child to completion within `HashJoinExec::execute`, see [here](https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/physical_plan/hash_join.rs#L316), instead of returning a stream that performs this operation lazily.

This effectively stalls out constructing the rest of the physical plan until the child h

[2022-04-06 18:07] #2158 closed

[2022-04-06 18:22] #1984 closed

[2022-04-06 19:15] alamb opened #2174 "Easier flamegraph / profiling support for datafusion benchmarks"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I want to make flamegraphs to understand performance of PRs like https://github.com/apache/arrow-datafusion/pull/2146 from @yjshen and other benchmarks in a cross platform, easy to use way. I don't want to switch between Instruments on Mac to `perf` on linux

It is not easy to get them (see [t

[2022-04-06 20:10] tustvold commented on #2174
Have you checked out [cargo-flamegraph](https://github.com/flamegraph-rs/flamegraph)? I think it might fit the bill?

[2022-04-06 20:15] alamb commented on #2174
I did try to run `cargo flamegraph` ... and it was spending an absurd amount of time calling `addr2line` (as reported in the mailing list topic). Perhaps due to some old version of prof or something on the GCP debian machine I was using

[2022-04-06 20:41] Dandandan commented on #2174
FWIW, I never have experienced the in the mailinglist mentioned slowness of flamegraph (or the Hotspot UI I mentioned there), using a recent Pop!_OS version.

[2022-04-06 20:49] tustvold commented on #2174
Perhaps [this](https://github.com/jonhoo/inferno) might help? FWIW I also use the hotspot UI, which also has some nice functionality for digging into the profiles, viewing thread activity, etc... It chugs a bit on larger profiles (multiple GB) but otherwise works well enough for my purposes...

[2022-04-06 21:55] bobtins commented on #2174
@alamb [someone drilled deep into why perf is slow](https://stackoverflow.com/questions/4048151/what-are-the-options-for-storing-hierarchical-data-in-a-relational-database).

TL;DR--license-compatible perf is really inefficient.

[2022-04-06 22:14] tustvold commented on #2174
@bobtins I think you maybe meant to link to this https://eighty-twenty.org/2021/09/09/perf-addr2line-speed-improvement ?

The good news is a mitigation was merged at some point last year, and has apparently been released, so perhaps the GCP machines was running an old Debian version? - https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=be8ecc57f180415e8a7c1cc5620c5236be2

[2022-04-06 22:23] bobtins commented on #2174
@tustvold I did try out hotspot; it's really nice! It can record data (which just runs perf) or open perf files that were recorded.
![hotspot_3](https://user-images.githubusercontent.com/12849637/162082184-270172ea-a737-4d55-8476-b4ca2c21ce50.png)

[2022-04-06 22:28] bobtins commented on #2174
Hm, why didn't I find that? You have good google-fu, or I thought my link was the end of the story and didn't keep plugging away. That's great news!

[2022-04-06 22:48] bobtins commented on #2174
Hm, good news, thanks for the updated info.

[2022-04-06 23:22] realno commented on #2174
This is great, looking forward to seeing some results!

[2022-04-06 23:51] alamb commented on #2174
Thanks for the suggestions -- I'l try the various tools on this thread and will report back

[2022-04-07 07:22] mingmwang opened #2175 "[Discuss] Different implementation style between Expr, LogicalPlan and ExecutionPlan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In current DataFusion code base,  `Expr`, `LogicalPlan` and `ExecutionPlan` are represented in different ways. Actually they are all tree based structures.  `Expr` and `LogicalPlan` are Enums, `ExecutionPlan` is a Trait.
The LogicalPlan enum wrapped the different logical operator structs like

[2022-04-07 07:35] mkmik commented on #2174
FWIW I found the pprof approach to be very useful for online performance analysis (e.g on demand on production services), and less useful when running ad-hoc performance analysis runs locally (e.g. benchmarks)

[2022-04-07 07:39] mingmwang commented on #2175
@alamb @yjshen @andygrove @thinkharderdev  @liukun4515

[2022-04-07 07:39] jackwener commented on #2175
I also agree this point.

[2022-04-07 07:42] jackwener commented on #2175
I think that it may be due to keep similar with the `sqlparser-rs`.

[2022-04-07 07:46] jackwener commented on #1468
I think it is valuable, there are some case code just for handling the Alias::Expr, I'm willing to do this task.

I will push a  draft PR for this issue this weekend.

[2022-04-07 07:57] yjshen commented on #2175
The LogicalPlan moved to its current style in https://github.com/apache/arrow-datafusion/issues/1228 thanks to @xudong963 and @liukun4515. I agree we could apply this style to expressions as well.

[2022-04-07 08:18] houqp commented on #2174
@alamb have you tried cargo-flamegraph's `--no-inline` argument?

[2022-04-07 09:11] Arvamer opened #2176 "Ignored alias for columns with aggregate function and incorrect results when collecting statistics is enabled"
**Describe the bug**
For parquet files, when `collect_stat` is set to `true`, alias for columns with aggregate function is ignored and for some data types null is returned. Current master (f0200b0a963bb817a6dad96a0b1fe0d06576004b).

**To Reproduce**

[code]

[code]

**Expected behavior**

Queries should return:

[code]

[reproduction.zip](https://github.com/apache/arrow-datafusion/files/8441367/re

[2022-04-07 19:27] alamb commented on #587
Hi @hzh0425  -- There is no estimated completion time I know of.

Thanks to @yjshen  there is a way to limit the memory used in Sort. The major other operators that need to be memory limited that I now of are `Group` and `Join` -- here is hoping someone can contribute time to help in that endeavor.

[2022-04-07 19:34] #2096 closed

[2022-04-07 19:38] #1965 closed

[2022-04-07 20:10] alamb commented on #2175
I agree this would be nice for code consistency. The fact it is a trait has always bothered me (mostly as I can't explain any good reason isn't the same as `LogicalPlan`.

I remember discussion in the past (maybe from @jorgecarleitao  and @andygrove?)  that using trait objects would allow for people to plug in their own physical plan / physical expr implementations. However, I haven't seen anyone

[2022-04-07 20:15] #2141 closed

[2022-04-07 20:16] #2161 closed

[2022-04-08 02:50] happysalada commented on #2095
Question related, do you plan to release the datafusion-cli as a crate as well ? I see that the 7.0.0 datafusion-cli crate has been yanked (for reasons that I ignore).

[2022-04-08 07:12] Cheappie commented on #2161
Thank you @thinkharderdev for resolving that issue

[2022-04-08 07:22] mingmwang commented on #2174
I  had use [pprof-rs](https://github.com/tikv/pprof-rs) to benchmark the DataFusion/Arrow Parquet reader performance. It can generate the flamegraph pictures easily.

[2022-04-08 09:46] #1967 closed

[2022-04-08 10:14] alamb commented on #2095
Hi @happysalada  --I don't expect we'll release datafusion-cli to crates.io.

The reason that the datafusion-cli crate was not published (to crates.io) for 7.0.0 is that it depends on `ballista` which did not have a 7.0 release.

For now, you can probably install datafusion-cli from source / github if you want

As backstory,  datafusion-cli is mostly a debugging / development tool for datafusion a

[2022-04-08 10:33] thinkharderdev commented on #2175
I agree with @alamb that if we want to go for consistency then it would be better to make `LogicalPlan` a trait rather than to make `ExecutionPlan` and enum. Since this is a potential extension point it seems a little awkward to model it as a sum type where we have add an additional layer of indirection for defining user-defined physical/logical plan nodes. In our project, we do create a custom `U

[2022-04-08 12:45] happysalada commented on #2071
Sorry, just have a follow up PR. By the time the first PR was merged, the lock had drifted
https://github.com/apache/arrow-datafusion/pull/2178

[2022-04-08 14:34] Cheappie opened #2179 "[Question] Are composite types supported ?"
Hi, I have seen in unit tests that It is possible to store arrow data types in parquet using ArrowWriter. I have created composite type like UUID to check if query against such data will work, but it fails. It looks like as if schema couldn't be read correctly or simply understood.

This page mentions that nested types are not supported https://arrow.apache.org/datafusion/user-guide/sql/sql_status

[2022-04-08 14:39] matthewmturner commented on #2095
@happysalada shameless plug - im working on a more full featured datafusion cli client https://github.com/datafusion-contrib/datafusion-tui if youre interested.  its a new project that still has bugs but im getting close to a 0.1 release.  My plan is to publish on crates and to homebrew.

[2022-04-08 15:29] Ted-Jiang opened #2180 "[Ballista] Make PhysicalAggregateExprNode has repeated PhysicalExprNode"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
in `datafusion.proto`
[code]

in `ballista.proto`
[code]
it will make below query fail in serilize at executor. beacust `approx_percentile_cont` AggregateExp has two args.
[code]

**Describe the solution you'd like**
Make
[code]
**Describe alternatives you've considered**
A clear and concise d

[2022-04-08 15:42] jackwener opened #2181 "[Discuss] Add struct `Query` for datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I'm try to implement `InSubquery`.

I found that there isn't `Query` struct in datafusion. I think that it's because there isn't subquery handle in datafusion.

In the roadmap, datafusion include `subquery` implementation. I think `Query` struct is necessary just like `datafusion-expr`.

**Des

[2022-04-08 15:43] jackwener commented on #2181
@alamb @yahoNanJing @yjshen @mingmwang @tustvold How do you think about it?

[2022-04-08 16:13] jackwener commented on #2181
I guess that `reason` why use `datafusion-expr` instead of `sqlparser` is `sqlparser` need to adapt to various sql types and a little complex.

Maybe we also need to use customized `Query` and other.

[2022-04-08 16:58] WinkerDu commented on #1192
@alamb plz assign to me, thank you.

[2022-04-08 17:52] alamb commented on #2181
@jackwener  I am not sure about the need for `Query` -- if there is one, perhaps we can combine it with what @andygrove  is working on in https://github.com/apache/arrow-datafusion/pull/2172

I was imagining that a query like this

[code]

results in a logical plan like this:
[code]

Similarly for
[code]

results in a logical plan like this:
[code]

[2022-04-08 17:52] alamb commented on #1835
Probably a dupe of https://github.com/apache/arrow-datafusion/issues/1209

[2022-04-08 17:53] alamb commented on #2181
See https://github.com/apache/arrow-datafusion/issues/1209 for some more thinking on this matter

[2022-04-08 17:53] alamb commented on #488
Perhaps now duplicated by https://github.com/apache/arrow-datafusion/issues/1209

[2022-04-08 18:36] #2093 closed

[2022-04-09 00:02] happysalada commented on #2095
I think the easiest way to package this for now is to build from source.
With the PR that you nicely merged, it should be good. I hit some compilation error on macos x86_64, but I'm going to test on linux and release it for that platform (for nixos) if it all goes well.

Matthew, nice project! Watching out for releases, will package it for nixos as well when I play with it!

[2022-04-09 04:36] wjones127 opened #2185 "ObjectStore write support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We are looking at improving the filesystem / object store support in delta-rs, but it seems like it would be better to work on that inside of datafusion's data-access crate instead of doing all that work in delta-rs. delta-rs currently has file system support for local fs, gcs, s3, and adls,

[2022-04-09 05:13] xudong963 commented on #2181
Here is a framework https://github.com/apache/arrow-datafusion/pull/1649 for implementing subqueries that I wrote some time ago. After this framework is completed, I believe that many kinds of subqueries can be easily added, such as `in`, `scalar subquery`, and this framework takes decorrelated into account at the beginning.

Currently this ticket encounters some problems because datafusion curren

[2022-04-09 05:42] xudong963 commented on #2185
related to https://github.com/apache/arrow-datafusion/issues/2025

[2022-04-09 07:33] Cheappie commented on #2185
I wonder what quality of write support do you plan to provide ? Production ready implementation of data ingestion can be as large effort as having to create another project like Apache Kafka.

[2022-04-09 09:05] jackwener commented on #2181
I also see this PR. I think it's not good choice to embed a `logicplan` to Expr.

[2022-04-09 10:34] xudong963 commented on #2181
Why

why

[2022-04-09 10:56] #1191 closed

[2022-04-09 11:30] xudong963 commented on #1192
I tested `select -null;` in mysql and postgres: mysql returned null but
[code]
Do you need this syntax in iox? @alamb

[2022-04-09 12:21] xudong963 commented on #2175
Though they are all tree based structures, each module has some qualities of each module itself. The code style, although important, but not the most important :)

[2022-04-09 13:33] jackwener commented on #1468
@Dandandan . Hi, I'm a little confused about the details.

--------
Now alias in `Expr`:

Expr is enum as

- Alias
- Column
- ScalarVariable
- ....

--------
After use `NamedExpr`，The structure is like this

- Alias
- OtherExpr
  - Column
  - ScalarVariable
  - ....

------

Can we use this struct to present it?

[code]

[2022-04-09 13:39] Dandandan commented on #1468
Hi @jackwener .

The idea is that any expression within DataFusion receives a name, so the nodes in a LogicalPlan use the `NamedExpr` type. The name in this type is either the alias in the expression if any or the generated name, so it doesn't need to be optional.

[2022-04-09 13:58] matthewmturner commented on #2185
thanks, @xudong963 and @wjones127.  very happy to see this. also relates to #1777.

[2022-04-09 14:14] WinkerDu commented on #1192
@xudong963 Thanks for the test! I agree we can discuss more on it.

[2022-04-09 14:50] #2180 closed

[2022-04-09 18:00] wjones127 commented on #2185
Basically, I would like for `ObjectStore` to be the Rust Datafusion equivalent of [Arrow C++'s FileSystem](https://github.com/apache/arrow/blob/master/cpp/src/arrow/filesystem/filesystem.h) or Python's [fsspec](https://filesystem-spec.readthedocs.io/en/latest/). They provide a common interface to various object stores (S3, GCS, ADLS, HDFS, etc.) so that various projects implementing readers and wr

[2022-04-10 04:19] yjshen opened #2188 "Support Multiple row layout"
- [x] Move layout, null bits, and jit code to their separate module. Restructure code for clearness. #2189
- [x] Support 8-byte aligned layout for hash-buffer  #2261
- [x] Move row to its crate to enable usage from AggregateExpr. #2283
- [ ] Research on inline varlena fields for raw-bytes-based comparison.

[2022-04-10 09:35] jackwener commented on #1468
😅I found that it isn't easy problem, I need to think more about it.

[2022-04-10 09:54] jackwener commented on #1468
`Aliases` in SQL is just used in `Table` and `Column` in the `fromClause` and `selectClause`. So, like `Aggregate`, `aggr_expr` is `NamedExpr`, but `group_expr` isn't.

[2022-04-10 10:15] jackwener commented on #1468
In addition, I find some `Filter Expr` use `Alias` after rewrite which make `logicplan` can be connected after rewrited.

It mayn't a good.

Luckily, @andygrove is trying to do something in #2172. This problem will be resolved after it. Thanks @andygrove ❤

[2022-04-10 12:44] alamb commented on #1192
We do not need this syntax in IOx

[2022-04-10 12:48] Ted-Jiang opened #2193 "Enable ApproxPercentileWithWeight in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
After fix #2180 , Enable ApproxPercentileWithWeight in Ballista.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2022-04-10 21:20] WinkerDu commented on #1189
rough fix here #2197

[2022-04-11 02:53] mingmwang commented on #2181
I also have the same doubt.

[2022-04-11 10:30] mingmwang commented on #2175
Besides the code style,  the reason that I prefer to use Enum than Trait/Trait Objects is because Trait is simple but Trait Object is a quite complex concept in Rust and not all the Traits can be used as Trait Objects: the return type of the Trait can not be the 'Self' and there should be no generic types parameters.

For example in this PR [https://github.com/apache/arrow-datafusion/pull/2168](ht

[2022-04-11 11:03] Cheappie commented on #2185
First of all I am just a stranger that evaluates datafusion query engine, I might lack some context so my point might not be valid for this case.

Yes sure that make sense. From what I see writer API adds point of failure to the upstream. For example how is It going to deal with data loss in case of process crash or missing permissions for write to the s3 bucket, etc... ? ObjectStore that just per

[2022-04-11 11:04] Cheappie commented on #2185
First of all I am just a stranger that evaluates datafusion query engine, I might lack some context so my point might not be valid for this case.

Yes sure that make sense. From what I see writer API adds point of failure to the upstream. For example how is It going to deal with data loss in case of process crash or missing permissions for write to the s3 bucket, etc... ? ObjectStore that just per

[2022-04-11 11:44] tustvold commented on #2175
FWIW you could use an associated trait function (or a free function as the PR does)

[code]

Which can be invoked as `ExecutionPlan::with_new_children_if_necessary(s, children)`. Whilst perhaps not as ergonomic as `s.with_new_children_if_necessary(children)`, its effectively a constructor so... :shrug:

I think this is a tad disingenuous, this is a pitfall of using pointer equality on fat pointers

[2022-04-11 12:52] tustvold opened #2199 "Morsel-Driven Parallelism Using Rayon"
A proposal for reformulating the parallelism story within DataFusion to use a [morsel-driven](https://db.in.tum.de/~leis/papers/morsels.pdf) approach based on [rayon](https://docs.rs/rayon/latest/rayon/). More details, background, and discussion can be found in the proposal document [here](https://docs.google.com/document/d/1txX60thXn1tQO1ENNT8rwfU3cXLofa7ZccnvP4jD6AA), please feel free to comment

[2022-04-11 15:39] tustvold commented on #2079
As promised, the scheduling proposal can be found in #2199

[2022-04-11 17:25] tustvold opened #2201 "Support Non-Tokio Schedulers"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently a number of `ExecutionPlan` operators call `tokio::spawn`, `tokio::spawn_blocking`, etc... and will therefore panic if used outside of a tokio runtime. This prevents an incremental migration towards an alternative scheduler (#2199)

**Describe the solution you'd like**

Operators sh

[2022-04-11 17:51] thinkharderdev commented on #2140
I've seen the same thing locally but it seems to be sporadic so I haven't been able to investigate.

[2022-04-11 18:06] thinkharderdev opened #2204 "Improve metrics reporting in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

DataFusion has pretty robust support for gathering detailed execution metrics but th

[2022-04-12 01:40] mingmwang commented on #2175
I think this can not compile either. For Trait Objects, it requires the first params of the trait method must be the Self type or can be derefed to self

[2022-04-12 08:44] tustvold opened #2205 "RFC: Spill-To-Disk Object Storage Download"
**Creating as high-level ticket to hopefully get consensus on the approach, before potentially creating lower level tickets**

**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently `ObjectStore::file_reader` returns an `Arc<dyn ObjectReader>`, this in turn has a method `ObjectReader::sync_chunk_reader` which takes a byte range.

In the

[2022-04-12 09:02] Cheappie commented on #2205
From what I know such high transfer speed you can only achieve between EC2 instances in **cluster** placement group. For example If I remember correctly r4.2xlarge achieves ~160 MB/s transfer between ec2 and s3.

[2022-04-12 09:13] tustvold commented on #2205
I thought placement groups were a mechanism to improve EC2-EC2 traffic, and not EC2-S3? I'll do some digging and report back. I had always assumed EC2-S3 was so much faster than EC2-EC2 because they had dedicated networking for it, but perhaps I was mistaken...

[2022-04-12 09:37] tustvold commented on #2205
[This AWS blog post](https://aws.amazon.com/blogs/aws/the-floodgates-are-open-increased-network-bandwidth-for-ec2-instances/) from 2018 would suggest up to 25Gpbs EC2-S3 is possible and also highlights placement groups as a way to accelerate EC2-EC2. [This support question](https://aws.amazon.com/premiumsupport/knowledge-center/s3-maximum-transfer-speed-ec2/) would suggest the EC2-S3 limit has sin

[2022-04-12 11:13] alamb commented on #2181
There are two kinds of subqueries
* Uncorrelated (aka subqueries that appear in the from clause that don't have references to the outer query)
* Correlated (subqueries that appear in the from clause or IN / NOT IN /etc and that refer to the outer query)

For correlated queries that that refer to the outer query using `=` predicates they can be transformed into SEMI-JOIN / ANTI-JOIN typically

Corr

[2022-04-12 11:27] tustvold opened #2206 "[datafusion-contrib] AWS Glue Integration"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

This has been discussed in various places, https://github.com/apache/arrow-datafusion/issues/907 and https://github.com/datafusion-contrib/datafusion-objectstore-s3/pull/53 to name a few, so creating an issue for visibility.

**Describe the solution you'd like**

I would propose creating a ne

[2022-04-12 11:27] alamb opened #2207 "Support ArrayIndex for ScalarValue(List)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
The idea is to support expressions like
[code]

[2022-04-12 11:30] jackwener commented on #2181
Maybe, we can use `Query`  in an `Expr`.

Because the progress is

|   AST and binder  -->  Logical plan  --> Execute plan   |

Query is in `AST and binder` and will transfer to `LogicalPlan`.

[2022-04-12 11:46] xudong963 commented on #2181
Subquery processing is a complex matter, and I highly recommend that we figure out how to do it at the beginning (how to handle associative and non-associative), otherwise there will be a lot of bugs, and hard to cover areas later.

I recommend reading this article by materialize: https://materialize.com/decorrelation-subquery-optimization/, which mentions three articles, especially the tum one, w

[2022-04-12 11:49] Cheappie commented on #2205
You might be right, I don't recall testing against region specific endpoint. That's really interesting, I will have to check that.

[2022-04-12 12:10] tustvold opened #2208 "Support SymlinkTextInputFormat FileFormat"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Hive compatible metastores, such as AWS Glue (#2206) do not store the individual files within a partition, and instead rely on listing the files in object storage at query time.

This becomes problematic when interacting with data that is either:

* Not partitioned in the way that Hive expect

[2022-04-12 13:33] matthewmturner commented on #2206
I created issue on the official aws-sdk-rust repo to add support for Glue.  I believe they prioritize based on getting 👍  so anyone interested in this please up vote there if you get the chance.

I suppose this would mean using rusoto in the meantime.  im unsure what this would mean if we tried to use rusoto for glue and aws-sdk-rust for s3 (via `datafusion-objectstore-s3`).  If needed / any type

[2022-04-12 13:51] tustvold opened #2209 "[datafusion-contrib] Support Stand Alone Hive MetaStore"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Whilst [AWS Glue](https://docs.aws.amazon.com/glue/latest/dg/what-is-glue.html) can act as a Hive compatible metastore, and #2206 tracks adding support for it, this is of course not an option for people running outside of AWS. It would be good to provide some story for these users.

it isn't

[2022-04-12 14:00] ReggieFan opened #2210 "‘Invalid identifier #xxx’ caused by Case-to-case conversion in SQL"
**Describe the bug**
ExecutionContext::sql function result in following error when execute sql "select * from table1 where Level='INFO'", while field name is 'Level'.
`thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Plan("Invalid identifier '#level' for schema table1.timestamp, table1.Level, table1.content")' `

**To Reproduce**
[code]

**Expected behavior**
"select * from

[2022-04-12 14:52] andygrove opened #2212 "Replace Projection.alias with SubqueryAlias"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In https://github.com/apache/arrow-datafusion/pull/2172 we added a new `SubqueryAlias` operator in the logical plan to wrap aliased table scans. This issue is to apply the same approach to projections and remove the `alias ` field from the `Projection` struct.

**Describe the solution you'd li

[2022-04-12 14:52] andygrove opened #2213 "Replace Union.alias with SubqueryAlias"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In https://github.com/apache/arrow-datafusion/pull/2172 we added a new `SubqueryAlias` operator in the logical plan to wrap aliased table scans. This issue is to apply the same approach to unions and remove the `alias ` field from the `Union` struct.

**Describe the solution you'd like**
As de

[2022-04-12 15:00] jdye64 opened #2214 "Support for Selective Aggregates, Filter clause"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PostgreSQL supports the SQL `Filter Clause` which is a clause that filters certain rows based on the defined row expressions before an aggregation is performed. Currently Datafusion does not provide a mechanism for parsing those clauses. See [Filter Clause](https://modern-sql.com/feature/filte

[2022-04-12 16:09] tustvold opened #2216 "Render Single Line Description of ExecutionPlan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In IOx we have a [`one_line`](https://github.com/influxdata/influxdb_iox/blob/main/query/src/exec/query_tracing.rs#L258) function that can be used to render a single line description of an `ExecutionPlan`. This can be very useful for debugging where the full recursive plan printout would info

[2022-04-12 20:45] alamb commented on #2095
Release candidate was created and voting started here: https://lists.apache.org/thread/kvk7688gpfofrc46zso306rdnqxfdcdc

[2022-04-12 23:20] andygrove opened #2219 "Add SQL query planning support for EXISTS subqueries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As a user of the DataFusion library for SQL parsing and logical query planning, I would like to be able to produce a valid logical plan from a SQL query containing an `EXISTS` subquery instead of failing with `Unsupported ast node Exists`.

Example query: `SELECT * FROM a WHERE EXISTS (SELECT

[2022-04-13 03:14] Ted-Jiang opened #2221 "Aggregate func Approx_median not work with Parquet format"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-04-13 06:42] nugend commented on #318
I haven’t evaluated the polar join_asof solution yet, but I believe it is also pertinent.

[2022-04-13 10:44] alamb commented on #2205
I see two major, and somewhat orthogonal usecases:

*Usecase*: Multiple reads of unpredictable column / row group subsets of the same file (e.g. IOx)
*Optimal*: Read data to local file

*Goal*: Single read of a subset of column/row groups (e.g. Cloud Fuse, other "analytics on S3 parquet files")
*Optimal*: Read subset of the data that is needed into memory, discard after decode

I have been hoping

[2022-04-13 10:44] alamb commented on #2205
Thus, if I were doing this I would probably make the following three things
1. Add a "prefetch_hint" certain offsets to the `ObjectStore` API and make the parquet reader call it
2. Implement a "buffered" ObjectStore interface that wrapped another ObjectStore that prefetches and buffers data memory buffer
3. Implement a "cached" ObjectStore interface that also wraps another ObjectStore that simply

[2022-04-13 11:19] tustvold commented on #2205
I think we all agree on where we would like to end up, however, I worry we are trying to run before we can walk here. I would much prefer an approach that does the simplest thing possible, namely downloads the entire file, and then iteratively add functionality, such as fetching to memory, selective fetching, etc... Currently we have an approach that isn't really very effective at either...

I'm n

[2022-04-13 11:44] jhorstmann commented on #2214
Note that for most aggregation functions this could be done purely on logical plan level by rewriting `AGGREGATE(input) FILTER (WHERE condition)` to `AGGREGATE(IF(condition, input, NULL))`. This works because aggregations usually ignore `NULL` values themselves. One exception I can think of would be `ARRAY_AGG` which I think keeps `NULL` values.

[2022-04-13 12:05] alamb commented on #2205
I was thinking that keeping things behind an ObjectStore API makes sense because:
1.  the economies and performance of S3, glacier, HDFS, local Minio could be quite different so the amount of consolidation, number of requests, aggressiveness of caching, might vary by object store implementation (not sure)
2. Some caching strategies / implementations (e.g. redis, for example)  might not be appropri

[2022-04-13 12:35] #1189 closed, assigned to nobody

[2022-04-13 13:22] tustvold commented on #2205
I think this makes sense, the situation I'm trying to avoid is:

* If you have the file on local disk we don't want to have to buffer it in memory before we can read it
* If you have the file in memory, we don't want to copy the byte ranges, and just want to slice a `Bytes` object

Currently the trait returns `Box<dyn Read>` which is likely sub-optimal for both.

If we can find some way to handle

[2022-04-13 14:12] #2216 closed

[2022-04-13 17:40] wangxiaoying opened #2225 "Comparison on LargeUtf8 doesn't work"
**Describe the bug**
The `sql` function will throw an error: ` Plan("'LargeUtf8 = Utf8' can't be evaluated because there isn't a common type to coerce the types to")` when filtering on a `LargeUtf8` column.

**To Reproduce**
[code]

**Expected behavior**
No error.

**Additional context**
Add any other context about the problem here.

[2022-04-13 18:41] tustvold commented on #2201
I think all the necessary functionality has been merged, so closing this. I may reopen should I find anything further

[2022-04-13 18:41] #2201 closed

[2022-04-13 19:48] WinkerDu commented on #1188
@alamb plz assign this issue to me, thank you.
I'll try to introduce `ScalarValue::Null` to solve this issue

[2022-04-13 20:08] andygrove opened #2227 "Add unit test for case-sensitive SQL identifiers"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/pull/2211 would have introduced a regression if merged, in case-sensitive comparisons of identifiers but did not cause any test failures, showing that we have a gap in test coverage.

**Describe the solution you'd like**
Implement a unit test based

[2022-04-13 20:33] WinkerDu commented on #1188
@alamb
I try to introduce `ScalarValue::Null`, which `pub fn get_datatype(&self) -> DataType {..}` method will return `DataType::Null`.
But for `DataType::Utf8` type, it seems arrow-rs does not supported `DataType::Null` cast to `DataType::Utf8` yet,
So I got panic error in some cases like `Select ascii(NULL)`.

Or I just allow `Utf8` coercion check pass for function `NULL` support?

What do you t

[2022-04-13 21:03] alamb commented on #2227
Note we didn't merge https://github.com/apache/arrow-datafusion/pull/2211 yet (so technically I don't think we added a regression yet)

[2022-04-13 21:07] alamb commented on #1188
Aaah -- I remember hitting that (or something similiar) when I started messing around with null constants. We should probably start by fixing the cast kernel in arrow-rs to cast back/forth between null and any type. Is that something you would like to try or shall I try and find some time?

It actually seems as if @bjchambers suggested this last year https://github.com/apache/arrow-rs/issues/684

[2022-04-14 00:02] andygrove opened #2229 "'Date32 + Interval(DayTime)' can't be evaluated because there isn't a common type to coerce the types to"
**Describe the bug**
I am trying to produce a logical plan for a SQL query that adds an interval to a date as part of the where clause and it fails with a type coercion error.

**To Reproduce**

Create the test file `t1.csv`:

[code]

Run this test:

[code]

**Expected behavior**
I expect this query to run without error. Here is a similar query running in Postgres.

[code]

**Additional context**

[2022-04-14 00:29] wangxiaoying opened #2230 "Panic while running inner join with predicate only on single relation"
**Describe the bug**
The following error would occur when join condition is only filtered on single realtion:
`thread 'tokio-runtime-worker' panicked at 'index out of bounds: the len is 0 but the index is 0', /Users/momo/.cargo/registry/src/github.com-1ecc6299db9ec823/datafusion-7.0.0/src/physical_plan/repartition.rs:354:39`

**To Reproduce**
[code]

**Expected behavior**
The following queries sho

[2022-04-14 02:20] liukun4515 opened #2232 "Error precision and scale for decimal coercion in logic comparison"
Is it worth checking somewhere what happens with different decimal scales?

Something like
[code]

I am not sure if the coercion to an appropriate decimal type is covered elsewhere

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/2200#discussion_r849775586_

[2022-04-14 02:22] liukun4515 commented on #2232
This is caused by`comparison_binary_numeric_coercion` in the `binary_rule.rs`

[2022-04-14 03:52] liukun4515 commented on #2232
It will fixed in the next pr

[2022-04-14 03:57] jackwener commented on #2213
@andygrove  Hi, I'm willing to do this thing. I want to do it before #2172 because I think it's easier.

After this finish, #2172 will be easy, just follow this.

[2022-04-14 10:40] alamb commented on #1188
Thanks @WinkerDu

[2022-04-14 12:02] alamb commented on #2210
I don't think this is a bug. Namely I think the query as you have written it should fail.

The correct (SQL standard) way to write a query that refers to the `"Level"` column I think is:

[code]

Which is consistent with what postgres does.

[2022-04-14 15:02] andygrove commented on #2164
Fixed in https://github.com/apache/arrow-datafusion/pull/2172

[2022-04-14 19:13] andygrove commented on #2227
Good point. I updated the description to say *would have*.

[2022-04-14 21:08] alamb commented on #2227
And to be clear, the point is to add an **error** test showing that the query errors when incorrect capitalization is used

[2022-04-14 21:29] andygrove opened #2236 "Implement physical planner support for DATE +/- INTERVAL"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/issues/2229 adds support to the logical planner for DATE +/- INTERVAL but the physical planner fails to plan this expression because it tries to cast the interval to a date ,causing the error `Unsupported CAST from Interval(DayTime) to Date32`.

**

[2022-04-14 22:02] Dandandan commented on #2230
Reproducing:

[code]

I think the reason is we are creating a hash join based on a empty list of keys.

[2022-04-14 22:08] andygrove opened #2237 "Add SQL query planning support for IN subqueries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As a user of the DataFusion library for SQL parsing and logical query planning, I would like to be able to produce a valid logical plan from a SQL query containing an `IN` subquery instead of failing with `Unsupported ast node InSubquery`.

Example query: `SELECT * FROM t1 WHERE id IN (SELECT

[2022-04-14 22:16] andygrove commented on #2181
I just wanted to add a note here to say that I have dedicated time now to help with this effort. I think we can break this work down into phases and the logical starting point (pun intended) would be to decide on how we want to represent the various types of subquery in the LogicalPlan. Once we have that we can create separate issues and PRs for SQL query planning, DataFrame API, logical plan opti

[2022-04-14 22:20] sunchao commented on #2205
FWIW within each Spark task, it currently process each row group in a sequential manner, and for each of these it'll read all the projected column chunks (with filtered pages after column index), buffer them in memory and then start decompressing + decoding. For interacting with S3/HDFS/etc, it relies on the Hadoop's [FileSystem](https://hadoop.apache.org/docs/r3.1.0/api/org/apache/hadoop/fs/FileS

[2022-04-14 22:21] andygrove opened #2238 "Add SQL query planning support for simple/nested subqueries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As a user of the DataFusion library for SQL parsing and logical query planning, I would like to be able to produce a valid logical plan from a SQL query containing a simple nested subquery instead of failing with `Unsupported ast node Query`.

Example query: `SELECT name FROM (SELECT * FROM t2

[2022-04-15 05:32] liukun4515 commented on #2232
https://github.com/apache/arrow-datafusion/pull/1483

[2022-04-15 11:06] yjshen commented on #1599
I would propose we do this in several steps:

- [ ]  Provide a classic SortMergeJoin implementation that is less memory bound itself (but move the need of memory management to the sort operator, which we already have memory controlled).
- [ ] Follow-up choice 1: Consolidate HashJoin and SortMergeJoin, providing a unified JoinExec, and do adaptive execution as @alamb suggested above.
- [ ] Follow-u

[2022-04-15 12:13] steveloughran commented on #2205
choosing when/how to scan and prefetch in object stores is a real tricky business

abfs and gcs connectors do forward prefetch in block sizes you can config in hadoop site/job settings, cache into memory. The more prefetching you do, the more likely a large process will run out of memory.

s3a doesn't and we've been getting complaints about lack of buffering in the client. it does have different s

[2022-04-15 12:21] steveloughran commented on #2205
+ @mukund-thakur

if the api you came up with mapped well to that vectored api *which is not yet too late to freeze*, then it'd be really good, even if you don't yet compile against releases with that api.

see https://github.com/apache/hadoop/blob/feature-vectored-io/hadoop-common-project/hadoop-common/src/site/markdown/filesystem/fsdatainputstream.md#default-void-readvectoredlist-extends-fileran

[2022-04-15 12:49] #2210 closed

[2022-04-15 13:58] andygrove commented on #2229
Fixed in https://github.com/apache/arrow-datafusion/pull/2235

[2022-04-15 13:58] #2229 closed

[2022-04-15 14:23] alamb commented on #2181
See https://github.com/dask-contrib/dask-sql/issues/474 and its subtasks such as https://github.com/apache/arrow-datafusion/issues/2238

[2022-04-15 14:24] alamb commented on #2229
Also related https://github.com/apache/arrow-datafusion/issues/194

[2022-04-15 14:27] alamb commented on #1599
@yjshen  sounds like a great plan to me -- and I see that @richox has an implementation for `SortMergeJoin` already :)

[2022-04-15 15:18] alamb commented on #2205
Thank you @steveloughran

It seems like something any of those pre-fetching systems requires is something to tell what to prefetch (or what ranges are needed in scatter / gather or vectored IO.

Maybe that is a good place to start @tustvold

[2022-04-15 15:38] #2204 closed

[2022-04-15 15:48] Cheappie commented on #2179
It would be great to receive some feedback, I am not sure but described issue might be a bug living somewhere in arrow reader

[2022-04-15 16:08] jychen7 commented on #2221
more context, it only fails for `approx_median`, and `approx_percentile_cont` works fine

[code]

https://github.com/apache/arrow-datafusion/blob/9f2ed423dc63f9f5d0a5e586925d2c31e3b9f5b8/datafusion/core/src/optimizer/to_approx_perc.rs#L97-L100

[2022-04-15 22:36] andygrove commented on #2181
So I started prototyping and ran into an issue right away. As others have pointed out, we sometimes need to have an `Expr` that refers to a `LogicalPlan`, such as:

[code]

However, the LogicalPlan enum is in the `datafusion` crate which depends on the `datafusion-expr` crate so I cannot reference `LogicalPlan` from `Expr`.

I was not paying much attention when this refactoring happened. Does it m

[2022-04-15 22:42] andygrove commented on #2181
Perhaps @Jimexist can offer an opinion on this.

[2022-04-15 22:50] andygrove commented on #2181
For dask-sql, I have a requirement to support a popular decision support SQL benchmark that has correlated subqueries that are not all equi-join. Even if we were just looking to support equi-join, I would expect to build a simple logical plan first and then have an opti,mizer rule re-write the plan to a SEMI-JOIN or ANTI-JOIN. I don't think it would be feasible to try and do this while translating

[2022-04-15 23:04] andygrove opened #2245 "Move LogicalPlan to datafusion-expr crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to implement support for the expression `EXISTS (<subquery>)` and this requires having a new `Expr` variant that refers to a `LogicalPlan`. However, this is not possible because `LogicalPlan` is in the core `datafusion` crate which depends on the `datafusion-expr` crate that contai

[2022-04-15 23:21] matthewmturner commented on #2245
Would it make sense to call this crate 'datafusion-logical-plan' after this change? At least to me it wouldn't be immediately obvious that logical plan was there from naming. But maybe that's just me.

[2022-04-15 23:24] andygrove commented on #2245
Yes, that would make more sense to me too.

[2022-04-16 10:30] #2227 closed

[2022-04-16 10:32] #2230 closed

[2022-04-16 12:42] #2232 closed

[2022-04-16 14:30] andygrove commented on #2245
So this doesn't look like it can work. The logical plan depends on the datasource module, which depends on the physical plan :disappointed:

It might be better just to move the expressions back into the core crate.

[2022-04-16 15:21] andygrove commented on #2181
I have started a design document:

https://docs.google.com/document/d/1j5vHyva-T_5l3POnHSS0-r5TOp86sEkfSUcRLqJZaK4/edit?usp=sharing

[2022-04-16 15:24] andygrove opened #2247 "`LogicalPlan::TableScan` should not depend on the physical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The logical plan currently depends on the physical plan, which prevents us from moving the logical plan into its own crate alongside the logical expressions (which is needed in order to support subqueries, and also to better support the use case where DataFusion is being used just for SQL quer

[2022-04-16 15:29] andygrove commented on #2245
We need to address https://github.com/apache/arrow-datafusion/issues/2247 before we can make progress on this issue

[2022-04-16 15:38] andygrove opened #2248 "[EPIC] Subquery support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We have many issues now for subquery support, with some duplication so I thought it would be good to create one epic to track all of this work.

There is also a [design document](https://docs.google.com/document/d/1j5vHyva-T_5l3POnHSS0-r5TOp86sEkfSUcRLqJZaK4/edit?usp=sharing).

## Logical Pla

[2022-04-16 16:28] WinkerDu commented on #1612
@alamb Is this issue still in progress? If no one take it, plz assign to me as appropriate.

[2022-04-16 17:51] WinkerDu commented on #1192
@alamb @xudong963 Maybe we can introduce this syntax, and keep the contract that operators comes out result `NULL` when accepts `NULL`.

[2022-04-16 21:22] jychen7 commented on #2245
+1
[minor] given we also have `physical-expr`, maybe we call it `logical-expr`?

[2022-04-16 21:33] andygrove commented on #243
I don't think this is a priority - I moved to 64 bit OS on Raspberry Pi

[2022-04-16 21:33] #243 closed

[2022-04-16 21:34] andygrove commented on #255
This was done some time ago: https://arrow.apache.org/datafusion/python/index.html

[2022-04-16 21:34] #255 closed

[2022-04-16 21:35] #881 closed

[2022-04-17 00:22] andygrove opened #2251 "Move logical expression type coercion logic from `physical-expr` crate to `expr` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have logic to determine the return type of various logical expressions and this logic is called from `expr_schema.rs` in the `logical_plan` module but the code is located in the `physical-expr` crate and it does not need to be there. We could move this logic into the `expr` crate instead (o

[2022-04-17 08:28] liukun4515 commented on #1192
I think It's better to make it consistent with PG in SQL dialect.

[2022-04-17 08:41] WinkerDu commented on #1184
@alamb
I commit a pr [apache/arrow-rs#1572](https://github.com/apache/arrow-rs/pull/1572) to implement coercion rules for `DataType::Null` cast from and to all other types in `arrow-rs`. I think we can solve most of the `NULL` coercion issues  in df based on it.
Please have a review, thank you.

[2022-04-17 09:05] WinkerDu commented on #1192
I feel free to close the pr #2249 since more conservative opinions of introducing `-NULL` SQL dialect
Thank you @liukun4515 @xudong963

[2022-04-17 11:31] alamb commented on #1184
Thank you @WinkerDu  -- https://github.com/apache/arrow-rs/pull/1572 won't be included in an arrow release for 2 weeks -- but in the interim we can make a branch in DataFusion that temporarily uses the new version (use `cargo.patch` and use the code directly from github). Let me know if I can help

[2022-04-17 11:34] alamb commented on #2179
Sorry @Cheappie  -- I think the answer to your question is that this feature is not ready yet. We have some support like https://github.com/apache/arrow-datafusion/issues/119 but perhaps there is more needed as well.

I wonder if you have tried the following formulations:

[code]

[code]

[2022-04-17 12:01] WinkerDu commented on #1184
It wound be nice if we can make a temporary branch to solve `NULL` issues in DF, I'm glad to introduce `ScalarValue::Null` to DF and  work on these issues in the interim.
Can you help making this branch @alamb? Thanks

[2022-04-17 12:11] jackwener commented on #1612
@WinkerDu I'm doing this thing, but it need to some prerequisites.

[2022-04-17 12:33] jackwener opened #2252 "[Optimizer] Eliminate self compare self"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Eliminate self compare self.

[code]

**Describe the solution you'd like**
It depend on infer `is not null` from `where clause`;

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add

[2022-04-17 12:38] jackwener opened #2254 "[Optimizer] Infer is not null predicate from `where clause`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some predicate include implicit `is not null`.

[code]

Why do this?

Expr in `select expr` and `where expr` is different.

Same `expr` in `select` don't include implicit `is not null`.

After this,

We can do this

- eliminate self compare #2252
- convert outer join to inner join #1

[2022-04-17 12:49] jackwener opened #2255 "Datafusion Optimizer Enhancement"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Enhance Optimizer Summary:

- [x] https://github.com/apache/arrow-datafusion/issues/217
- [ ] https://github.com/apache/arrow-datafusion/issues/475
- [ ] https://github.com/apache/arrow-datafusion/issues/1612
- [ ] https://github.com/apache/arrow-datafusion/issues/1585
- [ ] https://github.co

[2022-04-17 12:51] jackwener commented on #2255
At present, a big problem is the limitation of schema on transformation.

We should consider `schema` change detail after transformation.

[2022-04-17 12:52] jackwener commented on #2255
BTW, If you find other `optimizer enhancement` isn't in it, feel free ping me add it by @jackwener

[2022-04-17 12:55] jackwener commented on #1716
It's depend on #2254

[2022-04-17 13:23] jackwener opened #2256 "[Optimizer] Refactor `convert join`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now

[code]

But the implementation is a little hack and inelegant.

We can implement it in `optimizer rule` instead of  `planner build--->plan_selection`

We can refactor it and do it using the other optimizer rule combine.

**Describe the solution you'd like**
#2255 include many rule, some r

[2022-04-17 13:36] jackwener commented on #2254
Note: It isn't a `optimizer rule` !

It is because the following transformation can't terminate in Finite State Machine of rule.

[code]

So, In fact, this is a `rewrite` in planner build (Specifically, it is in `plan_selection`).

[2022-04-17 16:45] WinkerDu commented on #2225
A rough fix here #2258

[2022-04-18 01:38] #2225 closed

[2022-04-18 02:19] #2193 closed

[2022-04-18 04:45] liukun4515 opened #2259 "division decimal: lose precision when convert i128 to f64"
But now I find a bug in the arithmetic operation. https://github.com/apache/arrow-datafusion/blob/c91efc27658e58264c4f346a5cfdec8810179e90/datafusion/physical-expr/src/expressions/binary.rs#L302 and https://github.com/apache/arrow-datafusion/blob/c91efc27658e58264c4f346a5cfdec8810179e90/datafusion/physical-expr/src/expressions/binary.rs#L307

In the divide method, we may lose of precision by conve

[2022-04-18 04:46] liukun4515 commented on #2259
related to #122

[2022-04-18 07:30] clojurians-org opened #2260 "create_udf 0 parameter error"
**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**

**Additional context**
[code]

[2022-04-18 15:14] andygrove opened #2263 "DataFusion core should re-export other DataFusion crates"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We currently re-export the `datafusion_data_access` crate but not the other crates such as `datafusion_common` and `datafusion_expr`. I would like to see us export all of them for consistency.

This reduces work for users since they can just add one dependency to their `Cargo.toml`.

**Describ

[2022-04-18 17:16] mukund-thakur commented on #2205
Do try out the vectored api from the feature brach. Any feedback or improvements is highly appreciated. Thanks.
Here is the uber jira https://issues.apache.org/jira/browse/HADOOP-18103

[2022-04-18 18:13] wangxiaoying opened #2265 "Support "IS NOT TRUE/FALSE" syntax"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently when the sql query contains `is not true/false`, the following error will be thrown:
[code]

**Describe the solution you'd like**
`col is not true(false)` should have the same result with `col is NULL or col = false(true)`. For example in postgres, it works like follow:
<img width="

[2022-04-18 20:04] alamb commented on #2095
Mailing list approval: https://lists.apache.org/thread/h75wtqcvc1w64x2p4tb9lc6nc2t2zhwm

The release is available here:
  https://dist.apache.org/repos/dist/release/arrow/arrow-datafusion-7.1.0

I have also released it to crates.io:
https://crates.io/crates/datafusion/7.1.0

[2022-04-18 20:04] #2095 closed

[2022-04-18 20:04] alamb commented on #2095
Thanks @jychen7  for the assist getting this out 👍

[2022-04-18 20:08] alamb commented on #2181
What is the query? Does it have equi-join correlation as well as some non equijoins?

[2022-04-18 20:19] wangxiaoying opened #2268 "LEFT JOIN panicked at 'assertion failed: i < self.len()' and derive incorrect result"
**Describe the bug**
In some cases, the left join will cause panic with following error:
[code]

**To Reproduce**
[code]

Output is
[code]

**Expected behavior**
Should not panic, the result should contain all rows in `t1`.

**Additional context**
Some times (when changing the id values) the code outputs correct result without panicking.

[2022-04-18 20:33] alamb commented on #1184
Yes -- check out

[2022-04-18 20:41] #2251 closed

[2022-04-18 20:55] alamb commented on #2254
I think this is a *very* subtle area of SQL and it depends on how the expression is being used

For example,

[code]
and
[code]

Are semantically equivalent (produce the same answers), but these are not:

[code]
and
[code]

The reason is that the semantics of the `WHERE` clause are that only rows that evaluate to `true` are passed (if the row evaluates to `NULL` or `false` then they don't pass).

[2022-04-18 21:33] mateuszkj opened #2270 "Filters/limit are not pushdown druing optimalization for table with alias"
**Describe the bug**
Filters are not push down through `SubqueryAlias` to `TableScan` during logical plan optimization. This can cause unnecessary IO during pruning parquet files.

**To Reproduce**
Steps to reproduce the behavior:

Prepare data and run datafusion-cli with logs:
[code]

Run query without alias (`partial_filters` is added for `TableScan`):
[code]

Run query with alias (`partial_filt

[2022-04-19 00:21] lquerel commented on #1516
Also doesn't work on Arrow List and some other complex Arrow types. This makes the `SELECT DISTINCT * FROM table` syntax almost useless in general as any unsupported column type will result in an error.

[2022-04-19 02:40] jackwener commented on #2254
Yes, we just handle the expr in where.
This rewrite is from spark.

Andrew Lamb ***@***.***> 于 2022年4月19日周二 04:55写道：

[2022-04-19 02:58] jackwener commented on #2254
Great summary, this rewrite is from `spark`, I will read and consider carefully about this part.

I want to do this just because some expr rewrite is include this problem.

[2022-04-19 03:06] jackwener commented on #2254
Yes, This is where the problem lies. Other optimizer rules depend on implicit `not null in where`, which must handle this problem.

I think we should infer `is not null`, so other rule don't need to do infer `not null` but use directly `is not null` inferred by this rewrite. For example, convert outer join to left/right outer join or inner join can use `is not null` directly instead of match `comp

[2022-04-19 03:56] WinkerDu commented on #1184
thank you @alamb  for making this branch,
I haven't committed pr to a private repo before, I will try this branch later in my spare time

[2022-04-19 04:22] WinkerDu commented on #2147
As discuss in #2267 , quoted table time should be handled in [sqlparser](https://github.com/sqlparser-rs/sqlparser-rs).
I'll update reply if there is some follow up commit

[2022-04-19 04:23] wangxiaoying opened #2271 "Inner join incorrectly pushdown predicate with OR operation"
**Describe the bug**
Currently the join result might be incorrect when the predicate contains OR operation, since the filter will be pushed down.

**To Reproduce**
[code]

Result is
[code]

**Expected behavior**

The result should look like
[code]

Where the predicate `Filter: #t1.str = Utf8("3")` should not be pushed down due to the `OR`.

I created a similar table in postgres and apply a similar

[2022-04-19 07:35] sunisdown commented on #1136
@Jimexist seems that this issue can be closed since the python binding is moved to [datafusion-python](https://github.com/datafusion-contrib/datafusion-python)

[2022-04-19 08:01] yjshen commented on #1136
Thanks, @sunisdown. I'm closing this.

[2022-04-19 08:01] #1136 closed

[2022-04-19 08:05] yjshen commented on #1136
Moved to https://github.com/datafusion-contrib/datafusion-python/issues/49

[2022-04-19 10:29] #2263 closed

[2022-04-19 11:29] WinkerDu commented on #1184
@alamb
My bad, I didn't put it right, I didn't mean I need a `arrow-rs` branch, maybe I need a `DataFusion` branch instead. My question is if we have no `DataFusion` branch for `NULL` issues, how can I commit pr and involve other committers reviewing?
Hope to have some advices, thank you!

[2022-04-19 11:34] jackwener commented on #2270
Yes, `push_down`  just handle `subqueryAlias -> tableScan`.

I fix the limit, but I fix projection failed because I can't handle the limitation of `schema`..... It's in #2244

[2022-04-19 11:37] jackwener commented on #2270
This bug will be fixed after finish #2213 #2212  because finish those issue must fix this bug.

[2022-04-19 12:42] alamb commented on #2268
Thank you for the report and reproducer @wangxiaoying ❤️

[2022-04-19 12:46] jackwener commented on #2271
😅 `optimizer` of datafusion is strange.....We should put the `convert outer join to inner/right/left join` in the `rule`.

We can infer `is not null` in the `on clause` or `where clause` and `is not null` can make `outer join` convert.

Current:
- `convert join` with `on clause` is in `parse_join() in `plan_from_tables()`
- `convert join` with `where clause` is in `plan_selection()`

This bug is b

[2022-04-19 15:27] alamb commented on #1184
Hope to have some advices, thank you!

Hi @WinkerDu  - I think you need a datafusion branch to work on with other committers. I suggest you make a branch based on https://github.com/alamb/arrow-datafusion/tree/alamb/preview_null_cast and then put a draft PR to datafusion/master to get review comments on.

I needed to make an arrow-rs branch because there are changes on the master branch that are n

[2022-04-19 18:45] WinkerDu commented on #1184
Thank you! @alamb

Seems #2253 is merged, I'll try this suggestion :heart:

[2022-04-19 20:12] paveltiunov commented on #2181
@andygrove @alamb I guess great timing! We just implemented the correlated subquery here https://github.com/cube-js/arrow-datafusion/commit/d14f0de4c042c9a14b40acd4768c6e4f6585ee93. If you're open I can bring it as a PR and would love to shape it to a more canonical structure. There're multiple caveats some of which are covered in the design document like circular dependency between `Expr` and `Lo

[2022-04-19 20:56] Cheappie commented on #2179
@alamb well in my case It is impossible to run query because datafusion(ArrowReader) fails to load parquet file that was serialized via ArrowWriter.

From what we can see in error below, somehow schema is missing field. But actually ArrowReader reads schema correctly. Just a bit later one field is lost somewhere or maybe struct is incorrectly interpreted somewhere in datafusion.
[code]

Whats even

[2022-04-19 20:59] alamb commented on #2181
I plan to read the design document carefully tomorrow morning and hopefully then I can have a useful conversation about this topic. Thank you @andygrove for driving it

[2022-04-20 00:52] andygrove opened #2278 "LogicalPlanBuilder::scan_csv creates scans with invalid table names"
**Describe the bug**
This is a placeholder for now. I will add more detail in the next day or so, but the basic issue is that if we call `LogicalPlanBuilder.scan_csv` with a file named `employee.csv` then we end up with a `TableScan` with a `table_name` of `employee.csv`. If we try and find a table with this name in the catalog then it would look for a table named `csv` in schema `employee`.

**To

[2022-04-20 01:25] matthewmturner commented on #1740
I have started work on `CREATE VIEW`

[2022-04-20 08:49] Ted-Jiang opened #2281 "Support filter pushdown when using In_list on parquet"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Use or we can get pushdown in parquet Exec
[code]
But use `in` we can not push the filter down , get `predicate=true `
[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise desc

[2022-04-20 14:22] tustvold opened #2285 "Extract Reusable BatchPartitioner"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

See comment by @Dandandan https://github.com/apache/arrow-datafusion/pull/2226#discussion_r850605009

**Describe the solution you'd like**

Extract a [`BatchPartitioner`] that can factor out this logic for reuse

**Describe alternatives you've considered**

We could not do this

[2022-04-20 15:50] andygrove opened #2288 "`LogicalPlan` should not depend on SQL parser structs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`LogicalPlan::CreateExternalTable` has a reference to `FileType` from the `datafusion::sql` module. This prevents us from moving the logical plan to the `expr` crate.

**Describe the solution you'd like**
Refactor to move the struct to the logical plan module.

**Describe alternatives you've c

[2022-04-20 16:25] tustvold opened #2291 "Project Hive Partition Columns With ProjectionExec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Part of #2079

Currently the values of Hive partitions are projected within each of the various file format specific physical plans. As described in #2079 this has a number of drawbacks

**Describe the solution you'd like**

Rather than handling partition projection within the file scan opera

[2022-04-20 16:35] tustvold opened #2292 "Add SchemaAdapterExec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Part of #2079, related to #2170

Currently schema adaption is handled within each of the file format specific operators. As described in #2079 this has a number of drawbacks.

**Describe the solution you'd like**

I would like a `SchemaAdapterExec` that can be created with a provided `Schema`

[2022-04-20 16:53] tustvold opened #2293 "Single File Per ParquetExec, AvroExec, etc..."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Part of #2079

Following on from #2292 and #2291 it should be possible to pull the multi-file handling out of each individual file operator, and delegate it to the physical plan. As described in #2079 this will greatly simplify the implementations, whilst also hiding fewer details from the ph

[2022-04-20 16:56] tustvold commented on #2079
Ok I've created some sub-tasks that I think should provide a path towards implementing this proposal:

* https://github.com/apache/arrow-datafusion/issues/2291
* https://github.com/apache/arrow-datafusion/issues/2292
* https://github.com/apache/arrow-datafusion/issues/2293

I'm currently somewhat over-subscribed getting #2199 over the line, so if someone was free and willing to help out that would

[2022-04-20 18:28] #2285 closed

[2022-04-20 19:52] matthewmturner commented on #2079
@tustvold thank you for driving this.  i do hope to getting around to help on this but i have been a bit short of time lately.  will keep you posted if im able to pick any of this up.

[2022-04-20 21:22] alamb commented on #2292
Note schema adapter is here: https://github.com/apache/arrow-datafusion/blob/9815ac6ecc2aee7fbbafa09c704ca81b0225221e/datafusion/core/src/physical_plan/file_format/mod.rs#L205

IOx has most of the necessary code here for this logic here: https://github.com/influxdata/influxdb_iox/blob/5488c257d1bbb9a9b2f6882444b9e88098e53fdc/query/src/provider/adapter.rs#L45-L80

[2022-04-20 21:33] #2288 closed

[2022-04-20 22:34] #2247 closed

[2022-04-21 02:08] #2268 closed

[2022-04-21 02:16] clojurians-org opened #2299 "limit data error"
**Describe the bug**
[code]
**To Reproduce**
[code]

**Expected behavior**

**Additional context**

[2022-04-21 02:52] yjshen commented on #2293
Do you mean `PartitionedFile` for File?
[code]

I'm okay with the change, but regarding we directly translating Spark physical plan into DataFusion physical plan, is this possible we do this `Original ParquetExec -> UnionExec(SchemaAdapterExec(New ParquetExec))` in `ParquetExec`'s try_new method or somewhere related place in the physical plan?

[2022-04-21 05:40] clojurians-org commented on #2299
the limit only support single number.

[2022-04-21 05:40] #2299 closed

[2022-04-21 09:37] tustvold commented on #2293
Yes, although removing the partition_values is likely follow up work

I would rather keep the translation logic out of the file format specific operators, but having a free function that can be called by `ListingTable` and potentially other things, such as your Spark translation layer, seems perfectly sensible to me. I just care about reducing the amount of smarts in the individual file format spe

[2022-04-21 10:06] yjshen commented on #2293
Sounds great!

[2022-04-21 10:13] thinkharderdev commented on #2292
I have some concerns about this. The problem is that this sort of assumes that we actually know at planning time what the schema for each individual file is in a `ListingScan`. And if you infer the schemas at planning and merge then together to get the table schema then that is true. But since this happens during planning and can be quite expensive, I suspect that real world use cases will leverag

[2022-04-21 10:30] tustvold commented on #2292
Thank you for bringing this up, to phrase it differently to check my understanding:

* The ParquetExec, etc... needs to provide a schema at plan time
* It needs to yield batches that match this schema
* Depending on the catalog, the individual files might not match this schema, but must be compatible with it

I agree that there doesn't appear to be a way around this without the file operator handl

[2022-04-21 10:30] #2292 closed

[2022-04-21 10:54] tustvold opened #2306 "CrossJoin Evaluates In ExecutionPlan::execute"
**Describe the bug**

Much like #1939 and #2173, CrossJoin evaluates its children in `ExecutionPlan::execute`

**To Reproduce**

Inspect code

**Expected behavior**

ExecutionPlan::execute should return a stream of results, but should not block on those results being available

**Additional context**

[2022-04-21 11:02] tustvold opened #2307 "Make ExecutionPlan Sync"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The fact `ExecutionPlan::execute` is async seems to be a very common source of bugs:

* #2306
* #1939
* #2173

On a holistic level I can't see why it needs to be async, given it returns an async stream which can/should contain any deferred computations, as opposed to doing them synchronously

[2022-04-21 12:35] thinkharderdev commented on #2292
Yeah, exactly

[2022-04-21 14:23] andygrove opened #2308 "Update LogicalPlan rustdoc code to not use LogicalPlanBuilder"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In https://github.com/apache/arrow-datafusion/pull/2294 we move the `LogicalPlan` struct from the `datafusion` crate to the `datafusion-expr` crate. Unfortunately, the rustdoc on some methods reference `LogicalPlanBuilder`, which remains in the `datafusion` crate, so the rustdoc was tagged wit

[2022-04-21 14:35] andygrove commented on #2181
Hi @paveltiunov Yes I would love to see a PR to add subquery support. The circular dependency issue is resolved in https://github.com/apache/arrow-datafusion/pull/2294 so that should help. I will start reviewing your implementation now to get up to speed.

[2022-04-21 16:34] #2245 closed

[2022-04-21 16:46] andygrove opened #2309 "Move CASE/WHEN expression code to datafusion-expr crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The `datafusion-expr` provides the `Expr::Case` expression but the related `CaseBuilder`and `case` and `when` functions that create these expressions are still in the core crate and should be moved to the `datafusion-expr` crate so that users can more easily create logical plans using case exp

[2022-04-21 20:31] #1939 closed

[2022-04-21 20:32] #2309 closed

[2022-04-22 00:44] #2306 closed

[2022-04-22 03:43] #141 closed

[2022-04-22 07:32] yjshen commented on #1637
This could be closed according to the discussions in #2226 Google Docs?

[2022-04-22 07:34] yjshen opened #2314 "Date32/Date64 as join keys for merge join"

[2022-04-22 07:34] yjshen opened #2315 "Rename SortMergeJoinExec and SortMergeJoinStream to MergeJoin and MergeJoinStream"

[2022-04-22 07:34] yjshen opened #2316 "Consolidate MergeJoin with HashJoin to adaptive join relations according to runtime resources and table sizes"

[2022-04-22 08:07] tustvold commented on #1637
I would not look to implement async IO for the disk manager at this stage, although I'm not sure we have enough data to say definitively that this is not something we want to consider down the line. Whether that means we should close this ticket, idk...

Fwiw given the use of flatbuffers, mmap might be something to explore also. I think currently we effectively double the memory on write/read in o

[2022-04-22 08:12] #1637 closed

[2022-04-22 12:52] tustvold commented on #2205
Proposal in https://github.com/apache/arrow-rs/issues/1605, thank you all for your very helpful feedback :+1:

[2022-04-22 14:03] #2281 closed

[2022-04-22 15:05] martinitus commented on #37
Just stumbled over this when I saw, that there is arrow-rs 12.x.y but datafusion still depends on arrow-rs 9.1.

I think general best practice (given you use semver) is that if you have a major increase in a dependency that appears in your public API, then you also need a major increase in your library version, as the stuff that appeary in your public API may break backwards compatibility for the

[2022-04-22 20:18] andygrove opened #2319 "Improve UX of looking up a DFSchema column by name"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I have a simple schema containing a column with the qualified name `df.a`:

[code]

If I attempt to get the index of this column using `schema.index_of("df.a")` I get the very confusing error `No field named 'df.a'. Valid fields are 'df.a'.`.

There is an `index_of_column_by_name(&self, qualif

[2022-04-22 20:29] jdye64 commented on #2319
This would be helpful for something I am working on and am happy to work on this issue.

[2022-04-22 20:36] andygrove commented on #2319
I just noticed there is also `field_with_name` which would work fine, so I think all we need to is deprecate `index_of` and the check in there for qualified names

[2022-04-22 20:38] andygrove commented on #2319
Actually ignore my last comment - that is not an `index_of` method

[2022-04-22 22:03] jdye64 opened #2321 "[doc] Add code formatting instructions to CONTRIBUTING.md"
A section in `CONTRIBUTING.md` for `Code Formatting` would be useful for new developers to understand patterns, standards, and also prevent unnecessary commits with linter errors.

**Describe the solution you'd like**
A short section in `CONTRIBUTING.md` explaining to new devs how to format their code from the cli and as part of pre-commit

[2022-04-23 11:14] alamb opened #2323 "Presentation RFC for DataBricks conference: DataFusion and Arrow"
# Overview
@Dandandan and I are working on a presentation about DataFusion at conference at the end of June 2022. In the spirit of open collaboration, we would like to solicit community feedback / crowd source some of the content prior to doing so.

I hope / expect some of the content from this talk (like "why use datafusion") may make it back into the main https://arrow.apache.org/datafusion/ doc

[2022-04-23 11:47] iravid commented on #2323
Thanks for including Coralogix on the slides :-) we'd be happy for that to stay on; would it be alright if we provide the text for the Overview and Use of Datafusion sections?

[2022-04-23 11:56] Dandandan commented on #2323
Yeah, that would be great 👏

[2022-04-23 13:49] xudong963 commented on #2321
I think we just need to add explict hint?  Such as please run `cargo fmt` & `cargo lint` before committing?

[2022-04-23 14:05] jdye64 commented on #2321
Yes, it really doesn't have to be much. Maybe a sentence explaining how to optionally install pre-commit

[2022-04-23 14:06] xudong963 commented on #37
I think datafusion always uses the newest arrow-rs, which is done by @alamb.

[2022-04-23 14:07] xudong963 commented on #37
Btw, the issue had solved!

[2022-04-23 14:07] #37 closed

[2022-04-23 14:44] xudong963 commented on #26
The issue seems stale?

[2022-04-23 14:48] xudong963 commented on #46
FYI, databend has supportted https://databend.rs/doc/integrations/gui-tool/jupyter#what-is-jupyter-notebook :)

[2022-04-23 14:53] xudong963 commented on #114
The issue seems stale.

[2022-04-23 14:58] xudong963 commented on #123
Close the dup issue

[2022-04-24 12:26] alamb opened #2326 "[EPIC] Improved support for nested / structured types (`Struct` , `List`, `ListArray`, and other Composite types)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This ticket is designed to capture the work needed to properly support Arrow `Struct` types in DataFusion

https://arrow.apache.org/datafusion/user-guide/sql/sql_status.html says that nested types are not supported; The are not fully supported, but there are parts of the support already presen

[2022-04-24 12:27] alamb commented on #2179
Thanks @Cheappie  -- I agree that the support in DataFusion is not complete. I have filed https://github.com/apache/arrow-datafusion/issues/2326 to start tracking what else is needed. Thanks again.

[2022-04-24 12:27] alamb commented on #2043
BTW I started collecting known issues in  struct support in https://github.com/apache/arrow-datafusion/issues/2326

[2022-04-24 12:29] alamb commented on #1637
This is the approach I would personally recommend. 👍

[2022-04-24 12:33] alamb commented on #2090
Closing this as I think the question has been answered

[2022-04-24 12:33] #2090 closed

[2022-04-24 12:45] alamb opened #2327 "More frequent DataFusion releases to crates.io (discussion)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion's mission statement is to be "easy to embed" from https://arrow.apache.org/datafusion/user-guide/introduction.html#why-datafusion

Within the rust ecosystem, publishing to crates.io is a key way to make something easy to embed (other projects can then use it with a single line of `t

[2022-04-24 12:46] alamb commented on #37
this is true for the version of datafusion we released to crates.io https://crates.io/crates/datafusion/7.1.0/dependencies

I filed https://github.com/apache/arrow-datafusion/issues/2327 to track the idea of doing more frequent releases. thank you for raising it @martinitus

[2022-04-24 13:57] alamb commented on #114
I agree --  I think it is covered by https://github.com/apache/arrow-datafusion/issues/1750

[2022-04-24 13:57] #114 closed

[2022-04-24 17:38] WinkerDu opened #2328 "move sql tests in `context.rs` to corresponding test files in `datafustion/core/tests/sql`"
`datafusion/core/src/execution/context.rs` has many unmanaged test cases.
We can move them to corresponding test files in `datafustion/core/tests/sql` for better code structure.

[2022-04-25 04:25] #2319 closed

[2022-04-25 05:41] Ted-Jiang opened #2330 "[Question] how to add expr inline"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Hi,  I have met some problems.  I want to implement an expr `inline` which

inline(expr) - Explodes an array of structs into a table.:
[code]

 i have two solutions:
1. add inline in ScalarFunction , But  i found
[code]

In this case, I can not produce more than two columns by using  ScalarFun

[2022-04-25 09:05] Ted-Jiang opened #2331 "Support scalar values for func Array"
**Describe the bug**
[code]

Supposed
[code]
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-04-25 10:12] #743 closed

[2022-04-25 10:12] #2328 closed

[2022-04-25 11:22] gandronchik commented on #2083
It doesn't work in the current version.
`select 1 union select 2;`
ArrowError(ExternalError(Execution("Arrow error: External error: Internal error: Unsupported data type in hasher: Null. This was likely caused by a bug in DataFusion's code and we would welcome that you file an bug report in our issue tracker")))

`SELECT 1 a UNION ALL SELECT 2;`
[code]

I fixed it. Now result is:
`select 1 union s

[2022-04-25 13:11] #2331 closed

[2022-04-25 14:50] andygrove commented on #2323
@alamb It looks like these two presentations linked to from the main presentation are not publicly accessible:

- https://docs.google.com/presentation/d/1owNlmpNpC2-eBd-jEYRCt0L8_sW4PWYx70gqnFC0twM/edit?usp=sharing
- https://docs.google.com/presentation/d/1lXsYsPjeowey7H9wIOQUnUjsCo_282Zv/edit#slide=id.p1

[2022-04-25 17:32] thinkharderdev commented on #2293
This sounds like a great idea. The serial file processing in `ParquetExec` is currently a pretty nasty bottleneck for queries over large numbers of parquet files.

[2022-04-25 17:51] alamb commented on #1916
I think the discussion on this issue is closed (Ballista is a system seems to be the prevailing consensus). Closing ticket

[2022-04-25 17:51] #1916 closed

[2022-04-25 17:51] alamb commented on #1882
@gaojun2048  is this issue still tracking anything actionable? I think this has been done

[2022-04-25 17:55] Dandandan commented on #2323
@yjshen (blaze-rs) @houqp (roapi, delta-lake) @jonmmease (VegaFusion) @gangliao (Flock) @paveltiunov/@ovr (Cube.js) @andygrove (dask-sql, Ballista), @rdettai (loudfuse Buzz)

As I think (one of) the main authors of those projects, would you be able to review or contribute the content of your project, or maybe help us finding someone who can?

[2022-04-25 19:09] andygrove commented on #2327
I would like to volunteer to help with this. I think that the dask-sql projection is going to benefit from more frequent releases of DataFusion.

[2022-04-25 21:02] andygrove opened #2337 "Add Expr::Exists to logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like support for EXISTS and the first step is to add a new variant `Expr::Exists`.

**Describe the solution you'd like**
Add a new variant `Expr::Exists and support plans with EXISTS being created via `LogicalPlanBuilder`.

**Describe alternatives you've considered**
None

**Additional

[2022-04-25 21:05] andygrove opened #2338 "Add EXISTS subquery support to Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I want to support EXISTS subquery expression in Ballista but we need to refactor the ballista and datafusion proto files to allow LogicalExprNode to reference a LogicalPlanNode.

**Describe the solution you'd like**
As described above.

**Describe alternatives you've considered**
None

**Addit

[2022-04-25 21:51] alamb opened #2340 "Implement `Serialization` API for DataFusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
IOx has its own distribution mechanism that is different than Ballista where we need to send `Expr`s as part of a network request. We have a version that is a fork (ahem copy/paste) of an earlier version of ballista serialization, but we would like to use the code in `datafusion-proto` crate s

[2022-04-26 02:14] #2314 closed

[2022-04-26 02:25] #2337 closed

[2022-04-26 02:36] andygrove commented on #2330
I think we will need to introduce a new type of function to cover `inline` since it is not a scalar function.

I don't have a good name for it yet but I think we need something like this?

[code]

[2022-04-26 02:43] gaojun2048 commented on #1882
Yes. Let me close this issue.

[2022-04-26 02:43] #1882 closed

[2022-04-26 04:24] Ted-Jiang commented on #2330
Thanks ❤️ @andygrove, I agree we need func return `Vec<ColumnarValue` i will working on this

[2022-04-26 04:52] Ted-Jiang opened #2343 "Support Multi-Column Producing Function Implementation"
I think we will need to introduce a new type of function to cover `inline` since it is not a scalar function.

I don't have a good name for it yet but I think we need something like this?

[code]

_Originally posted by @andygrove in https://github.com/apache/arrow-datafusion/issues/2330#issuecomment-1109238122_

[2022-04-26 04:58] Ted-Jiang commented on #2343
I thinks we can call it TableFunctionImplementation
https://docs.snowflake.com/en/sql-reference/functions-table.html

[2022-04-26 10:41] alamb commented on #2323
@andygrove  thank you for pointing that out -- given how the permissions are setup I can't make them publically accessable  iin general but I can share them explicitly with inviduals

They are also on slideshare https://www.slideshare.net/AndrewLamb32/presentations

https://www.slideshare.net/AndrewLamb32/a-rusty-introduction-to-apache-arrow-and-how-it-applies-to-a-time-series-database

https://ww

[2022-04-26 13:23] Ted-Jiang commented on #2330
@andygrove Another question, if add TableFunction like ScalarFunction
[code]

 if we treat it as a `Expr` , we need change it to `PhysicalExpr` but
[code]

[code]
cause of it return ColumnarValue, we can not return result as a table, am i right?

Should i implement a `TablePhysicalExpr`
using
[code]

[2022-04-26 13:27] gandronchik commented on #2330
@andygrove @Ted-Jiang I already implemented it. Today or tomorrow I will create PR. Thanks

[2022-04-26 14:46] Ted-Jiang commented on #2330
@gandronchik Thanks a lot !❤️

[2022-04-26 18:26] #2173 closed

[2022-04-26 18:49] andygrove opened #2345 "Move SQL query planner to new datafusion-sql crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is a long-term goal and probably not easy to do today but  I think it would be good for the SQL query planner to be in its own `datafusion-sql` crate to ensure that we don't have dependencies on the physical plan or execution.

Users who just want to use DataFusion as a SQL parser + query

[2022-04-26 19:39] andygrove opened #2346 "SQL planner should use `TableSource` not `TableProvider`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
SQL planner should use `TableSource` not `TableProvider` since there is no need to actually perform scans during planning and this would be a step towards moving the SQL planner into its own crate so we have cleaner dependency management,

**Describe the solution you'd like**
SQL planner shoul

[2022-04-26 19:46] alamb opened #2347 "Include `Expr` to `datafusion::prelude`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The datafusion prelude includes many helpful functions for constructing `Expr`s such as `lit`, `col`, etc: https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/prelude.rs

I often find myself needing to `use Expr` as well, which for some reason is not included in the `pr

[2022-04-26 20:33] alamb commented on #2343
I think a multiple column table function is different than a "table function"

A table function returns (potentially) multiple columns *and* rows where as I think this ticket is just talking about returning multiple columns.

The natural thing in my mind for this usecase would be to return a single column of `DataType::Struct` (or `DataType::List`)

However DataFusion's support for such compound d

[2022-04-27 07:16] yjshen opened #2349 "Move Accumulator trait to physical-expr"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`Accumulator` is the state of an aggregate function, and has nothing to do with a logical expression.

The current blocker is AggregateUDF which mixes both the function signature and the function implementation. AggregateUDF exists in `datafusion-expr` because of its signature parts.

**Descri

[2022-04-27 10:28] alamb commented on #2327
Yes, I agree this would be the ideal versioning scheme. The reason DataFusion is already in > 1.0.0 version is partly due to history, as in the past it was released with the rest of the arrow implementations and matched version numbers.

The only downside I see is that there may be some misaligned expectations with some users. However, it hasn't seemed to cause any major issues yet, that I know of

[2022-04-27 10:29] #2340 closed

[2022-04-27 10:51] #2219 closed

[2022-04-27 11:37] liurenjie1024 opened #2350 "Enable discussion tab?"
Github allows discussion tab for open source projects, should we enable it for discussions?

[2022-04-27 11:40] liurenjie1024 commented on #2350
@andygrove Please take a look.

[2022-04-27 12:32] andygrove opened #2351 "Optimize EXISTS subquery expressions by rewriting as semi-join"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like an optimizer rule that rewrites queries with EXISTS subqueries as semi-joins See discussion in https://github.com/apache/arrow-datafusion/pull/2344.

**Describe the solution you'd like**
See discussion in https://github.com/apache/arrow-datafusion/pull/2344 for an example.

**Desc

[2022-04-27 12:37] andygrove commented on #2181
I think this issue can be closed now that we have the following logical plan structures:

- Expr::Exists
- Expr::InSubquery
- Expr::ScalarSubquery
- LogicalPlan::Subquery
- LogicalPlan::SubqueryAlias

[2022-04-27 12:37] #2181 closed

[2022-04-27 13:04] andygrove opened #2353 "Add SQL query planner support for scalar subqueries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add SQL query planner support for scalar subqueries

**Describe the solution you'd like**
Add SQL query planner support for scalar subqueries

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-04-27 15:08] andygrove opened #2355 "[Epic] Type-coercion improvements"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am running into type-coercion errors and am probably going to be adding more hacks to the existing implementation but would like to start tracking the work we need to do to improve the type-coercion logic as well as the various open issues that are related to type-coercion.

Examples of issu

[2022-04-27 15:12] andygrove opened #2356 "simply_expressions panics on unsupported evaluations"
**Describe the bug**
I have a SQL query that includes `CAST('2022-02-22' as DATE) + INTERVAL '30 days'` and the `simplify_expression` optimizer rule attempts to evaluate this expression but panics because that is not supported.

**To Reproduce**
I am about to put up a PR with a test and a fix.

**Expected behavior**
The code should handle the error gracefully.

**Additional context**
None

[2022-04-27 15:56] andygrove opened #2358 "Subquery aliases should not be case-sensitive"
**Describe the bug**

SQL identifiers should be case-insensitive unless in double quotes. This is not currently the case for subquery aliases.

**To Reproduce**

Add this test to `datafusion/core/tests/sql/projection.rs`

[code]

Fails with:

[code]

**Expected behavior**
SQL planner should normalize the identifier.

**Additional context**
None

[2022-04-27 16:24] andygrove opened #2360 "Cannot have `order by` expression that references complex `group by` expression"
**Describe the bug**

Add this test to `datafusion/core/tests/sql/group_by.rs`.

[code]

Fails with:

[code]

It works fine without the order-by clause.

**Expected behavior**
Test should pass.

**Additional context**
None

[2022-04-27 18:53] alamb commented on #2330
As @gandronchik  implies, this type of `expr` that yields a table is typically called a `TableFunction` -- he has an implementation at https://github.com/apache/arrow-datafusion/pull/2177

[2022-04-27 19:08] roeap commented on #1313
@houqp @yjshen - it's been a while and since then a lot has happened :). Specifically we have async support now in `arros-rs` as well and I was hoping to see if I could help implementing async support for the ObjectReader in this end as well. Looking into what that might entail I stubled across a few questions and I was hoping you could provide some guidance if I understood things correctly.

The

[2022-04-27 19:16] andygrove commented on #2360
I experiemented a bit and was able to work around it with this ugly hack in `to_arrays` only to see the same error occur later on during physical planning. I will come back to this later and review how we are generally dealing with this type of logic and find a better solution.

[code]

[2022-04-27 19:43] #2358 closed

[2022-04-27 19:51] #2237 closed

[2022-04-27 20:11] andygrove opened #2361 "Validate subquery expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The SQL query planner and the DataFrame API both allow logical plans to be created that contain subquery expressions but we do not yet do any validation on these expressions.

Examples of validation we should do:
- Scalar subqueries should return a single row and single column
- IN subqueries

[2022-04-27 20:54] #2353 closed

[2022-04-28 02:53] WinkerDu opened #2363 "Introduce `ScalarValue::Null` type to df"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
To solve Null constants issues listed in #1184 ,  and since [apache/arrow-rs#1572](https://github.com/apache/arrow-rs/pull/1572) supports Null casted from and to most of types in arrow-rs kernel, it's reasonable that introduce `Null` type to df for type coercion.

**Describe the solution you'd

[2022-04-28 05:43] yahoNanJing opened #2365 "Add a built-in UDAF approx_sum_topn based on space saving algorithm"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Suppose we want to get the top 5 _LO_SUPPKEY_ for each _LO_SHIPMODE_ based on _SUM(LO_EXTENDEDPRICE)_ in descending order, it can be achieved by the following SQL:
[code]
However, if the cardinality of _LO_SUPPKEY_ may be extremely large, like billions, it will be very resource consuming to f

[2022-04-28 10:54] Cheappie commented on #2179
thanks @alamb for taking over on that issue, I will keep my fingers crossed that this feature will arrive in near future

[2022-04-28 12:53] #1493 closed

[2022-04-28 13:14] comphead commented on #2278
I'll try to fix it.

[2022-04-28 14:52] andygrove opened #2368 "SQL queries are optimized twice"
**Describe the bug**
`SessionContext::sql` optimizes the plan and then it is optimized again before execution.

**To Reproduce**
N/A

**Expected behavior**
We should just optimize as part of execution.

**Additional context**
None