[2022-07-14 03:45] yahoNanJing opened #2903 "Remove datafusion-data-access crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Since we have used the object_store crate by #2677, we don't need the internal crate datafusion-data-access any more. And it's better to remove it to avoid confusion.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-07-14 05:25] yahoNanJing opened #2905 "Make ObjectStoreRegistry as a trait which can allow Ballista to introduce a self registry ObjectStoreRegistry"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently ObjectStore cannot be self-registered by its path url, which is very important feature for Ballista to support remote storage, like HDFS, etc. To avoid to introduce the remote object store dependency for DataFusion core, it's better to introduce a trait object for the ObjectStoreReg

[2022-07-14 10:32] #2894 closed

[2022-07-14 12:51] #2903 closed

[2022-07-14 14:00] andygrove opened #2907 "Optimization rule `CommonSubexprEliminate` creates invalid projections"
**Describe the bug**
I am trying to run some complex SQL and am seeing errors such as:

[code]

With the changes in https://github.com/apache/arrow-datafusion/pull/2900 I see a slighter more informative error:

[code]

I can clearly see that some of the code in `build_project_plan` is incorrect. It is meant to be building the projection output schema but is including all the fields from the projec

[2022-07-14 14:12] andygrove opened #2908 "Fail gracefully if optimization rule fails"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am frequently running into errors in the optimizer where one rule will fail, causing the entire query to fail.

**Describe the solution you'd like**
If an optimizer rule produces an error then I think it would be better to just keep  going and try and apply the other optimizer rules and run

[2022-07-14 15:13] andygrove commented on #2907
@waynexia fyi - if you have any time available maybe you can give some guidance on this?

[2022-07-14 18:00] thomas-k-cameron opened #2910 "index out of range error from datafusion_row::write::write_field"
**Describe the bug**
index out of range error coming from datafusion_row::write::write_field

**To Reproduce**
It happened when I ran a query against a proprietary data set.
SQL is,
[code]
I haven't been able to reproduce it without that data set.

**Expected behavior**
It does not panic

**Additional context**
cargo 1.62.0 (a748cf5a3 2022-06-08)

[code]

[2022-07-14 18:54] andygrove opened #2911 "Create integration tests for optimizer crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like integration tests in the optimizer crate where we can easily add SQL and expected output plans so we can catch regressions as new rules are added

**Describe the solution you'd like**
I will file a PR with a proposal

**Describe alternatives you've considered**
None

**Additional

[2022-07-14 18:58] alamb opened #2913 "Move `ScalarValue` tests alongside implementation, move `from_slice` to `core`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am working on https://github.com/apache/arrow-datafusion/pull/2891 and it was not clear there were existing `ScalarValue` tests because they were in a different module than their implementation

Implementation: https://github.com/apache/arrow-datafusion/blob/fd64e6f2e5ca5ba8c33c431b75a3ba944

[2022-07-14 20:02] comphead commented on #2910
Hi @thomas-k-cameron what is tag function?

[2022-07-14 20:04] #2908 closed

[2022-07-14 22:13] thomas-k-cameron commented on #2910
@comphead
It's my own UDF.
It still generates the same error even without it.

I was able to reproduce the error without the data set I was talking about.
I uploaded the code here.

https://github.com/thomas-k-cameron/df_rs_error_find

[2022-07-15 06:39] nevi-me opened #2916 "csv_explain fails on RC verifier"
**Describe the bug**
When verifying the version 10 RC1, 3 csv tests fail because of an expected hardcoded string being different. `privateARROW_TEST_DATA` appears instead of `ARROW_TEST_DATA`.

`ARROW_TEST_DATA` is the path to a submodule that has test data (IIRC).

**To Reproduce**
Steps to reproduce the behavior:

Run `./dev/release/verify-release-candidate.sh 10.0.0 1`. I don't know if this occ

[2022-07-15 10:35] alamb commented on #2916
For what it is worth, I saw (and still see a similar issue) https://github.com/apache/arrow-datafusion/issues/2719

Which @andygrove  said

I don't actually have `ARROW_TEST_DATA` set (I rely on the script to set it for me)

[2022-07-15 10:40] alamb commented on #2916
I think I see a way to fix this -- giving it a try...

[2022-07-15 11:04] alamb commented on #2916
Proposed fix in https://github.com/apache/arrow-datafusion/pull/2917

[2022-07-15 11:06] #2913 closed

[2022-07-15 11:20] #2907 closed

[2022-07-15 16:08] jbabyhacker opened #2919 "Rename a column name"
**Describe the solution you'd like**
Is it currently possible to rename a column name? The use case for me would be to read in csv files, then write out a parquet file with different column names.

**Describe alternatives you've considered**
I could use with with_column() and create a new column, then select a subset of the dataframe and save that.

[2022-07-15 17:16] andygrove commented on #2919
@jbabyhacker Sure. How does this look: https://github.com/apache/arrow-datafusion/pull/2920

[2022-07-15 18:29] jbabyhacker commented on #2919
Looks awesome. Thanks!

[2022-07-15 21:29] andygrove opened #2922 "Support `mean` as synonym for `avg`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This came up in https://github.com/datafusion-contrib/datafusion-python/issues/56

**Describe the solution you'd like**
Support "mean" as well as "avg"

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-07-15 21:30] andygrove commented on #2922
If anyone is interested in picking this up, it looks like it is probably a one liner (plus tests).

We need to add an additional mapping here in `datafusion/expr/src/aggregate_function.rs`

[code]

[2022-07-16 02:41] BaymaxHWY commented on #2922
I'm interested in this. May i try it?

[2022-07-16 11:13] #2719 closed

[2022-07-16 11:13] #2916 closed

[2022-07-16 14:52] #2922 closed

[2022-07-16 14:52] #2919 closed

[2022-07-16 14:59] waitingkuo commented on #2871
@comphead i finally figured out how to add a new function, thank you~

@andygrove
the current implementation only support Int64 as input value, should we support floating number and utf-8 as well?
the pyspark version has the second argument to render user preferred time format, should we support that in this pr?

[2022-07-16 15:28] andygrove opened #2925 "Add support for exact `median` aggregate function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Needed for h20 benchmark group by query 6.

**Describe the solution you'd like**
Add support for `median` aggregate function

**Describe alternatives you've considered**
We have `approx_median` but that would be cheating.

**Additional context**
None

[2022-07-16 15:29] andygrove opened #2926 "Add support for `pow` scalar function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Needed for h20 group-by query 9.

**Describe the solution you'd like**
Add support for `pow` scalar function

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-07-16 16:34] sitano opened #2928 "bug: changing the number of partitions does not increase concurrency"
**Describe the bug**

Changing the number of partitions has no positive effect on the execution.

**To Reproduce**

Steps to reproduce the behavior:

1. take 10 GB CSV file
2. execute cli with 1 partition, it will take about 40 sec
3. -- CREATE EXTERNAL TABLE test (...) STORED AS CSV WITH HEADER ROW LOCATION 'test.csv';
4. -- SELECT SUM(total_amount) FROM test GROUP BY VendorID;
5. execute with 8

[2022-07-16 16:37] sitano opened #2929 "bug: file types handled wrong"
**Describe the bug**

If you create a CSV sourced table with the filename that does NOT have the .csv ending it will NOT work.

**To Reproduce**
Steps to reproduce the behavior:

1. CREATE EXTERNAL TABLE test (...) STORED AS CSV WITH HEADER ROW LOCATION 'afile'; // not afile.csv
2. SELECT * FROM test LIMIT 1;
3. Got nothing...

**Expected behavior**

It must work and return data.

**Additional con

[2022-07-16 16:43] sitano opened #2930 "Support CSV Limit Pushdown to Object Storage"
**Describe the bug**

If you will take a 10 GB file from a S3 remote storage the following request:

will try to read the WHOLE file (10GB) instead of just a first row (chunk).

**To Reproduce**
Steps to reproduce the behavior:

1. Put 1GB CSV file to S3
2. Add s3 contrib object store that is fine
[code]
3. CREATE EXTERNAL TABLE test (...) STORED AS CSV WITH HEADER ROW LOCATION 's3://blah/blah.csv

[2022-07-16 16:44] sitano opened #2931 "bug: new ObjectStore breaks backward compatibility with contrib plugins"
New ObjectStore interface changes are not compatible to anything in the Contrib repo... like datafusion contrib s3.

[2022-07-16 17:21] Dandandan commented on #2928
For reading csv, DataFusion reads the file sequentially. So setting the config on target partitions has limited effect on simple queries as reading CSV takes most of the time. Also by default it will use the number of logical cores available in the system.
For this query, I expect you will get faster results by splitting the CSV into 8 equal smaller CSV's (and, if it's more than testing, convertin

[2022-07-16 17:45] andygrove commented on #2925
So this is a bit more involved than I had hoped.

Per the discussion in https://github.com/apache/arrow-datafusion/issues/1486#issuecomment-1016877360

TLDR is I think `median` is quite complicated to get both correct and high performance.

The key problem is that you basically need to have buffered the entire input stream before you know what the output is

Starting with an approximation of media

[2022-07-16 17:51] andygrove commented on #2925
I think that the first step here would be to change the `Accumular::state` function to return `ArrayRef` instead of `ScalarValue`.

[2022-07-17 10:30] BaymaxHWY commented on #2857
Can i try it?

[2022-07-17 17:29] tustvold commented on #2931
This is expected, see #2677

[2022-07-17 17:48] tustvold opened #2935 "Streaming CSV/JSON Object Store Read"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently `CsvOpener` and `JsonOpener` call [GetResult::bytes](https://docs.rs/object_store/latest/object_store/enum.GetResult.html#method.bytes) which downloads the entire file, prior to feeding it to the appropriate arrow reader.

This is not ideal:

* Adds decode latency as must buffer ful

[2022-07-17 17:48] tustvold commented on #2930
I've reworded this into a feature request, and filed #2935 that documents how it could be implemented

[2022-07-17 17:51] tustvold commented on #2929
Closing as duplicate of #1736

[2022-07-17 17:51] #2929 closed

[2022-07-17 18:28] #2889 closed

[2022-07-17 20:05] avantgardnerio commented on #2889
Thank you!!!

[2022-07-18 00:01] #2926 closed

[2022-07-18 01:33] comphead commented on #2910
Thanks for providing data. I was able to reproduce it locally. Looks like #2877 related, but without even having join.

[2022-07-18 01:52] comphead commented on #2877
@andygrove I'd like to investigate this as part of #2910

[2022-07-18 02:19] thomas-k-cameron commented on #2910
Glad to hear that.
Is there anything else that I can do?

[2022-07-18 09:55] ike560 opened #2938 "Exception: Internal error, Exception: Schema error"
**Describe the bug**

Case 1... Exception: Internal error: Impossibly got empty window expression. This was likely caused by a bug in DataFusion's code.
Case 2... Exception: Schema error（same cause as Case 1 ?）

**To Reproduce**
[code]
'0.6.0'
[code]
+---+---+
| a | b |
+---+---+
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |
+---+---+

Case 1... Exception: Internal error
[code]
Exception

[2022-07-18 10:50] Dandandan commented on #2928
Closing this for now, Feel free to reopen if you think it's a bug.

[2022-07-18 10:50] #2928 closed

[2022-07-18 14:35] alamb commented on #2857
Thank you @BaymaxHWY

[2022-07-18 14:51] #2905 closed

[2022-07-18 15:56] comphead commented on #2910
Nothing more needed for now, I'll try to investigate why its happening. Thanks for reporting such weird thing.
My vision the problem somewhere in hasher, which used both in group by and hash joins.

[2022-07-18 16:12] crepererum opened #2939 "Extension mechanism for `SessionConfig`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As a DataFusion user (concrete: the IOx team) I would like to be able to bind `Any` object to the `SessionConfig` so all traits that receive `SessionState` (e.g. `TableProvider::scan`) to receive application-specific objects, e.g. for tracing or caching.

**Describe the solution you'd like**
A

[2022-07-18 17:28] #2450 closed

[2022-07-18 17:41] #2869 closed

[2022-07-18 19:05] kmitchener commented on #2869
Thank you @AssHero! This is awesome!

[2022-07-18 19:23] kmitchener commented on #2938
You're using the [datafusion-python](https://github.com/datafusion-contrib/datafusion-python) project which is using version 8 of the DataFusion library. In latest DataFusion (master as of now), the first query works fine now thanks to recent fixes, but the second query returns with

[code]
There's a [recent PR](https://github.com/datafusion-contrib/datafusion-python/pull/57) to update datafusion-

[2022-07-18 22:27] #2935 closed

[2022-07-18 22:27] #2930 closed

[2022-07-19 01:32] ike560 commented on #2938
Thank you for your comment.
Case 2 wants to get the median value, so consider other methods.

[2022-07-19 11:06] #2939 closed

[2022-07-19 11:46] andygrove commented on #2925
I am making good progress on this and will have a PR up in the next week or two.

[2022-07-19 14:09] sitano commented on #2931
thank you @tustvold !

[2022-07-19 14:09] #2931 closed

[2022-07-19 14:26] jdye64 opened #2943 "Schema qualifiers missing on call to `LogicalPlan::schema`"
**Describe the bug**
When running the query
[code]
I noticed that the `schema` returned from [&plan.schema()](https://github.com/apache/arrow-datafusion/blob/master/datafusion/expr/src/utils.rs#L579) does not have the qualifiers in the result

[code]

The explain of the `Union` is ...
[code]

**To Reproduce**
[code]

**Expected behavior**
The qualifiers be present in the resulting schema.

**Addit

[2022-07-19 16:14] jdye64 commented on #2943
Am I wrong in thinking their should be a qualifier here? Maybe one not being there is actually correct? ANSI SQL does require that all fields for a Union must be the same name and also the same order so maybe it doesn't matter?

[2022-07-19 21:12] Dandandan commented on #2943
Without diving very deep, without qualifier seems correct, as the results from different tables are combined (a,b,c) into a new result set which shouldn't have a qualifier.

[2022-07-20 09:13] Jimexist commented on #1750
i wanted to continue iterating on this split but obviously i didn't have time to keep up. a lot has happened in the last few months. i wonder if this is still relevant or it shall be closed now. @alamb and @andygrove any suggestions?

[2022-07-20 10:18] alamb commented on #1750
@Jimexist welcome back!

I would say that the main "break datafusion into smaller crates" has been completed. There are still some items in the description of this ticket that might not be done - I would personally recommend filing a new issue with any items that you think would still be good to work on and then closing this one.

[2022-07-20 13:23] #2857 closed

[2022-07-20 18:26] alamb opened #2947 "CI test is failing with ` final link failed: No space left on device`"
**Describe the bug**
CI has begin failing (on master) with

[code]

Example from `master`: https://github.com/apache/arrow-datafusion/runs/7430371132?check_suite_focus=true
Example from a PR:  https://github.com/apache/arrow-datafusion/runs/7416344200?check_suite_focus=true

**To Reproduce**
Make a PR

**Expected behavior**
CI should pass

**Additional context**

[2022-07-20 19:25] #2947 closed

[2022-07-20 20:30] thinkharderdev opened #2949 "Parallel fetching of column chunks when reading parquet files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

See https://github.com/apache/arrow-rs/issues/2110 for the background.

Some object

[2022-07-21 01:56] iajoiner opened #2950 "Implement Debug for ColumnarValue"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'm frustrated because `ColumnarValue` does not have `Debug` implemented which makes debugging harder.

**Describe the solution you'd like**
I'd like to implement `Debug` for `ColumnarValue`. Since it is already implemented for both `Array` and `ScalarValue` it should be very straightforward.

[2022-07-21 15:39] alamb commented on #1861
@iajoiner -- here is the main ticket that is tracking the row format progress. I think there are many PRs and other docs linked from here.

[2022-07-22 15:53] AssHero opened #2957 "simplify not clause"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

simplify not clause if possible.

For example:
not (A > B) ==> (A <= B)
not (A or B) ==> (not A) and (not B)
not (A is not null) ==> A is null
not (A not in (..)) ===> A in (..)
....

**Describe the solution you'd like**
Above.

**Describe alternatives you've considered**
None

**Additional c

[2022-07-22 16:06] #159 closed

[2022-07-22 16:06] #160 closed

[2022-07-22 16:06] #163 closed

[2022-07-22 16:06] #168 closed

[2022-07-22 16:06] #171 closed

[2022-07-22 16:06] #172 closed

[2022-07-22 16:06] #175 closed

[2022-07-23 09:50] Veeupup commented on #2859
hi, @xudong963 I'm interested in trying this, may I try this?

[2022-07-23 18:54] comphead commented on #2910
Looks like there are couple of issues in row writer. The interesting thing they occur in very specific scenarios. Still investigating.

[2022-07-23 20:13] thomas-k-cameron commented on #2910
Lovely. Thanks a lot!

[2022-07-23 23:12] thomas-k-cameron opened #2959 "Example to show how to convert query result into rust struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add an example that shows how to convert query result into rust struct.

**Describe the solution you'd like**
Add an example.

**Describe alternatives you've considered**
Implementing a macro to convert record batch into rust struct.
Performance wise, this should have less overhead when implem

[2022-07-25 03:31] liurenjie1024 commented on #2350
It has been enabled, so we can close this now.

[2022-07-25 03:31] #2350 closed

[2022-07-25 05:09] liurenjie1024 commented on #2633
I would like to donate this optimizer to datafusion-contrib so that we can develop it with community.

[2022-07-25 07:07] yahoNanJing opened #2961 "Add baseline_metrics for FileStream to record metrics like elapsed time, record output, etc"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-07-25 12:39] alamb commented on #2633
Sounds like a great idea to me -- sorry I haven't had a chance to review this @liurenjie1024  -- what would you like to call the repo in datafusion-contrib? I can make one for you

[2022-07-25 12:41] #2957 closed

[2022-07-25 13:02] liurenjie1024 commented on #2633
Thanks for response. I noticed that there are already one called datafusion-optimizer, how about calling it datafusion-optimizer2?

[2022-07-25 13:19] alamb commented on #2633
I created https://github.com/datafusion-contrib/datafusion-dolomite and invited you as a maintainer -- let me know if you would like / want admin access as well to that repo

[2022-07-25 13:29] liukun4515 opened #2962 "Can't filter rowgroup for parquet prune for some data type"
**Describe the bug**
In the `RowGroupPruningStatistics`, we use the statistics to prune the row group for parquet file.

In the below logical:
https://github.com/apache/arrow-datafusion/blob/f386f7a7344d54455fe04d92248e373fac990e6d/datafusion/core/src/physical_plan/file_format/parquet.rs#L392
to get the min and max for a column.

But the logic has bug for the data type.

In the parquet, we can use

[2022-07-25 16:03] kmitchener opened #2963 "panic reading AWS-generated parquet file"
**Describe the bug**
A clear and concise description of what the bug is.

Given some AWS Costs parquet files (parquet files generated by AWS cost and usage reporting), a query executed against those files results in a panic:

From datafusion-cli, using latest master as of the time of this bug report:
[code]

[code]

It seems to be this line_item_resource_id field in particular, as I was able to gr

[2022-07-25 17:21] kmitchener commented on #2963
Can be triggered just be selecting that column.

[code]

[2022-07-26 01:45] comphead commented on #2910
Well, it happens that the same data from CSV and constructed manually works differently. Manual works, CSV failed.

[2022-07-26 03:40] yahoNanJing opened #2964 "Better not to display partitions info for ParquetExec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Suppose there're tens of thousands of files needs to be scanned for one SQL. The shown partitions info for the "Physical plan with metrics" will be too messy. And it's also meaningless to show the partitions info because we have already had the filename for the specific ParquetExec task.

**D

[2022-07-26 07:46] Ted-Jiang commented on #2964
@alamb Do you think this is a reasonable change ?

[2022-07-26 08:18] andygrove commented on #2964
Perhaps we can make this configurable using the new config mechanism

[2022-07-26 15:09] waitingkuo opened #2967 "CAST from Utf8 to Boolean"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'd like to cast from Utf8 to Boolean.

[code]

**Describe the solution you'd like**

it works in Posgresql

[code]

I'd like to have it similiar as postgresql's
[code]

[2022-07-26 15:48] andygrove commented on #2959
Thanks @thomas-k-cameron. That looks like a very useful example to me.

[2022-07-26 15:58] kmitchener commented on #2964
FWIW, attempting to use DataFusion to query AWS VPC Flow Logs, which produces thousands of parquet files per day, makes it impossible to explain plans. Removing the partition list details or condensing the output to just the number of files being read would be great.

[2022-07-26 18:10] #2967 closed

[2022-07-26 18:11] waitingkuo commented on #2967
close as it's implemented

[2022-07-26 20:00] #217 closed

[2022-07-26 20:20] alamb commented on #2964
@Ted-Jiang  I do  -- perhaps by default the explain plans can summarize the information (e.g. print out the first few parquet files or something)

I like @andygrove 's suggestion to make the "show me the full details" a config option (that defaults to only showing the file summary).

[2022-07-27 00:52] comphead commented on #2963
perhaps related to #2910

[2022-07-27 02:26] thomas-k-cameron commented on #2959
Thanks!
I just created a pull request.
https://github.com/apache/arrow-datafusion/pull/2969

[2022-07-27 02:42] liurenjie1024 commented on #2633
Welcome to join discussion and development in  new repo https://github.com/datafusion-contrib/datafusion-dolomite, and we can close this issue.

[2022-07-27 02:42] #2633 closed

[2022-07-27 04:07] liukun4515 opened #2970 "support convert parquet BYTE_ARRAY physical type to decimal"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-07-27 08:29] liurenjie1024 opened #2971 "Derive `Hash` trait for `JoinType`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Derive `Hash` trait for `JoinType` so that other optimizer framework can use it.

**Describe the solution you'd like**
Derive `Hash` trait for `JoinType`

**Describe alternatives you've considered**
No.

**Additional context**

[2022-07-27 10:32] #2971 closed

[2022-07-27 12:04] #2959 closed

[2022-07-27 13:16] kmitchener commented on #2963
Yes! I checked out your branch and built, these queries work with your patch. Can you update your PR to close this issue as well?

[2022-07-27 14:12] dovijoel commented on #2869
I am still having this issue while using the master branch with using the API. Am I doing something incorrectly?
[code]

This results in:
`Error: NotImplemented("Physical plan does not support logical expression LEAD(#raw_data.PX_LAST, Int64(10)) PARTITION BY [#raw_data.InstrumentID] ORDER BY [#raw_data.dates ASC NULLS LAST]")`

[2022-07-27 14:40] thomas-k-cameron opened #2976 "Bug: fix case where `num_rows` and `total_byte_size` are not defined (stat should be None instead of Some(0))"
I'd love to create a pull request if there isn't any problem.
https://github.com/apache/arrow-datafusion/compare/master...thomas-k-cameron:arrow-datafusion:stat-should-be-None-instead-of-Some(0)

**Describe the bug**
Some fields of `Statistics` could return `Some(0)` when the value is not available.

TODO comment says that some fields are supposed to be `None` instead of `Some(0)` under some circu

[2022-07-27 17:52] #2961 closed

[2022-07-27 18:04] #2962 closed

[2022-07-27 19:33] #2897 closed

[2022-07-27 19:45] mcassels opened #2978 "SELECT on column with uppercase column name fails with FieldNotFound error"
**Describe the bug**

`select UPPERCASE_NAME from t;` fails with a FieldNotFound SchemaError like this:
[code]
The name in the FieldNotFound error is the lower-case version of the selected column name.

**To Reproduce**

Using datafusion-cli on the attached test parquet file:
[code]

**Expected behavior**

Expected that SELECTs on columns with uppercase names would behave the same as SELECTs on co

[2022-07-27 20:54] alamb commented on #2978
I think you may need to use `"` to surround the identifier. Does this work?

[code]

[2022-07-27 21:04] mcassels commented on #2978
Thanks @alamb  ! That does work and it looks like this behaviour is consistent with postgres as well. I'm closing this issue.

[2022-07-27 21:04] #2978 closed

[2022-07-27 21:22] alamb commented on #2978
Yeah, it is part of the SQL standard which is somewhat archaic 🤷

[2022-07-28 07:29] mingmwang commented on #2962
@alamb
Regarding the parquet row group pruning, the current pruning logic covers the stats pruning which is common for any columnar storage who provides stats and can be reused. But for parquet format, it also has specific pruning like dict pruning, bloom filter pruning, those two types of pruning is not implemented yet.  Maybe those two types of pruning should be part of the parquet arrow project

[2022-07-28 10:08] waitingkuo opened #2979 "to_timestamp timeunit to be consistent with postgresql's"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Current [to_timestamp](https://arrow.apache.org/datafusion/user-guide/sql/datafusion-functions.html#to-timestamp) assume the input number is nanoseconds from 1970

[code]

while postgresql's is to assume the number is seonds from 1970
[code]

Should we align with postgrseql's?

**Describe the

[2022-07-28 10:46] alamb commented on #2962
I suspect additional filter pushdown will require changes in both the parquet reader and then datafusion

I think there is work underway by @Ted-Jiang @liukun4515  @thinkharderdev and @tustvold  to implement "Page Pruning" which I think may be what you are referring to here (it allows the parquet reader to skip materializing/decoding positions based on evaluating the predicates) -- the work is par

[2022-07-29 08:31] stuartcarnie opened #2982 "External parquet table fails when schema contains differing key / value metadata"
**Describe the bug**

Calling `create external table` for a set of `parquet` files fails with an error:

[code]

which originates from

https://github.com/apache/arrow-rs/blob/08a7160fafafeacd1209ff568d5cb2fe55f889ea/arrow/src/datatypes/schema.rs#L148-L156

Versions prior to DataFusion 9.0.0 worked because typically the schema was decoded directly from the metadata:

https://github.com/apache/arro

[2022-07-29 11:54] alamb commented on #2543
This has since been fixed

[2022-07-29 11:54] #2543 closed

[2022-07-29 15:37] #2910 closed

[2022-07-29 17:48] comphead commented on #2963
@alamb hopefully this can also be closed as well as part of #2968

[2022-07-29 20:30] #2963 closed

[2022-07-29 21:00] alamb commented on #2982
Amusingly / sadly there is a test for this (that I wrote) 🤦  -- it checks for different metadata but not incompatible metadata:

https://github.com/apache/arrow-datafusion/blob/3d4c7ef/datafusion/core/tests/sql/parquet.rs#L176-L226

I will fix this.

[2022-07-29 21:51] stuartcarnie commented on #2982
@alamb I have a hacky solution that removes all the metadata except the `ARROW:schema` key in this code path.

I saw there is an option in the arrow-rs repo for the `ParquetFileArrowReader` to skip metadata:

https://github.com/apache/arrow-rs/blob/bedeb4f66663a868846c713bdd8ff0c5bd0983d4/parquet/src/arrow/arrow_reader.rs#L268-L270

However, a similar option wasn't available here.

If you have a s

[2022-07-29 22:36] alamb commented on #2982
Thanks @stuartcarnie ! It was such a good one  I was working on a PR as well when you wrote this message (well, the test mostly) that basically does the same (adds a option to skip metadata)

The draft is here, but I ran out of time today: https://github.com/apache/arrow-datafusion/pull/2985

I think I like your naming of "skip" better than what I have there now. I will also look at the `ParquetFi

[2022-07-30 00:17] stuartcarnie commented on #2982
Excellent, thanks @alamb!

[2022-07-30 10:49] alamb commented on #2982
https://github.com/apache/arrow-datafusion/pull/2985 is ready for review and I have verified that the usecase described in this ticket works now

[2022-07-30 10:58] alamb opened #2987 "Duplication between `ParquetFormat` and `ParquetReadOptions` is confusing"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

While working on https://github.com/apache/arrow-datafusion/pull/2985 I noticed I had to repeat the `skip_metadata` configuration option on both `ParquetReadOptions` (public API) and the `ParquetFormat`.

It also looks like the 'metadata_hint' size option was not added to the public API.

I b

[2022-07-30 13:43] alamb commented on #2979
Hi @waitingkuo  -- I think given the desire to make datafusion "A Declarative SQL query interface compatible with PostgreSQL" as described on https://arrow.apache.org/datafusion/specification/roadmap.html#datafusion compatible changing the current `to_timestamp` to be `to_timestamp_nanos()` and changing `to_timestamp()` to be the same as the current `to_timestamp_seconds` would be reasonable

Here

[2022-07-30 15:08] waitingkuo commented on #2979
i'm interested in this, please assign me, thanks~

[2022-07-31 17:14] tustvold opened #2990 "Rename FormatReader to FileOpener"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Prior to https://github.com/apache/arrow-datafusion/pull/2677/files#diff-0171c6cc11900557bf3bb9bd9fce2a78b8272e7f63ed8259c988ff610334da04L48 there was a trait called `FormatReaderOpener`. I replaced this with a trait called `FormatReader` but in hindsight this name is confusing for two reason

[2022-07-31 17:55] tustvold opened #2992 "Allow Overriding AsyncFileReader used by ParquetExec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We are seeing a number of projects with differing requirements for how the interaction with object store and parquet should proceed:

* Fetching multiple byte ranges in parallel - https://github.com/apache/arrow-datafusion/issues/2949
* Fetching data from sources that aren't typical object st

[2022-07-31 20:02] thinkharderdev commented on #2992
Makes sense, I guess this would just be something you can register in the `SessionContext`?

[2022-07-31 20:43] tustvold commented on #2992
So for people manually constructing `ParquetExec` as part of a custom `TableProvider`, they can obviously just pass the new parameter.

The option could then be added to `ParquetFormat` to allow constructing a `ListingOptions` and in turn a `ListingTable` that uses this setting. Finally we _could_ expose it in `ParquetReadOptions` so that it can be used with `SessionContext::read_parquet`, but I'm

[2022-07-31 21:29] alamb commented on #2992
For anyone else following along, here is the `AsyncFileReader` is the trait I think @tustvold  is talking about https://docs.rs/parquet/19.0.0/parquet/arrow/async_reader/trait.AsyncFileReader.html

Here is the `ParquetFileReader`:
https://github.com/apache/arrow-datafusion/blob/c345f6d707a9bf8ed3395af997e8b3495ed6de7d/datafusion/core/src/physical_plan/file_format/parquet.rs#L350-L355

[2022-07-31 21:31] alamb commented on #2992
In general I think this proposal sounds like a nice compromise between "DataFusion can handle reading remote object stores out of the box" and "my project needs fine grained control" and as @tustvold  mentions I think it fits well with the philosophy of DataFusion

Thank you for proposing this

Yes this makes sense.

Yes this makes sense

I suggest we start leaving it out of `ParquetReadOptions` b

[2022-08-01 02:16] #2982 closed

[2022-08-01 02:18] #2990 closed

[2022-08-01 03:05] yourenawo opened #2993 "Can I select some files for query based on the filtering rules in the directory?"
There are a large number of parquet files in a directory, which are distinguished by timestamps. The filtering speed through SQL is very slow. Therefore, I want to filter out some files for query. Thanks a lot.

[2022-08-01 08:18] Cheappie commented on #2992
Looks interesting, If I am correct I should be able to replace my impl of `ObjectStore` with this function that provides `AsyncFileReader`. The only thing that is left is that I would need to pass custom attributes through ObjectMeta, in my last proposal I have suggested such additional field `custom_attributes: Option<Box<[u8]>>`. We can do that through either `ObjectMeta` or `PartitionedFile`, o

[2022-08-01 08:25] jiacai2050 opened #2994 "single_distinct_to_groupby panic when group by expr is a binaryExpr"
**Describe the bug**

single_distinct_to_groupby panic when group by expr is a binaryExpr, with error message like this:
[code]

**To Reproduce**
Based on https://github.com/apache/arrow-datafusion/blob/e47c4eb1ac8a5c3c07a0ed2bad74ecd6509bae7b/datafusion-examples/examples/memtable.rs#L39,

Change sql to following will reproduce this error.
[code]

**Expected behavior**
No error

**Additional conte

[2022-08-01 08:49] tustvold commented on #2992
Precisely

Could you not just pass these into the `ParquetOpenFn` on construction, I had understood them to be session related and not per-object?

[2022-08-01 08:50] crepererum commented on #2992
Looks good. I would however advice you to NOT use `Box<dyn Fn...>` but `Box<dyn Opener>` with a new trait `Opener` because this later allows you to more easily add new functions (like `as_any(&self) -> dyn Any`, or `name(&self) -> &'static str`).

[2022-08-01 09:12] tustvold commented on #2896
This was caused for a while by a particular version of serde_json, running `cargo update` or deleting the lockfile should make it go away

[2022-08-01 09:18] Cheappie commented on #2992
It depends on how far I would take this solution. You are right that I have per session parameters, but also my `catalog service` produces listing as binary stream. If I could pass entry through Box<[u8]> instead of Path, then I am able to perform O(1) access into fields. It would be nice to have, because otherwise I would have to eagerly compose Path just after listing and then within my tiered s

[2022-08-01 10:07] Cheappie commented on #2992
I have another idea, instead of keeping metadata in partitions, we could emit Opener's where they could work as self contained handles.

`partitions: Vec<Vec<Box<dyn Opener>>>`

Pros:
+ self contained
+ fully customizable

Cons:
- box allocations

[2022-08-01 11:01] waitingkuo opened #2998 "Double to_timestamp_seconds produces abnormal result"
**Describe the bug**

**To Reproduce**

[code]

while ```to_timestamp_millis``` will make it crash

[code]

**Expected behavior**
it should return 1970-01-01 00:00:01 . I feel like that timezone conversion is applied somewhere. (I'm in UTC+8)

**Additional context**

[2022-08-01 11:28] tustvold commented on #2992
How does the following sound:

* Take `PartitionedFile` in `ParquetOpenFn` instead of just `ObjectMeta` (or whatever it ends up getting called)
* Add `extension_meta: Arc<dyn Any>` or `extension_meta: HashMap<String, String>` to `PartitionedFile`

[2022-08-01 12:36] Cheappie commented on #2992
I see, I didn't account for that It will require so large rework. Sure such approach with passing extension_meta through PartitionedFile will work for me, but could we allow different types of MetadataExt ? Like in example below. That would allow me to simply reinterpret pointer behind box, without having to parse components.

[code]

[2022-08-01 12:47] tustvold commented on #2992
Sure, I have no objection to `Box<[u8]>` I just thought a HashMap might be easier to use. I'm sure you're aware, but with regards to reinterpret casting, you will need to be very careful with alignment 😅

[2022-08-01 13:20] Ted-Jiang opened #2999 "Wrong metric when using EXPLAIN ANALYZE"
**Describe the bug**
submit a query
[code]

then use `explain analyze `
[code]
the first `elapsed_compute=1.915277419s` in AGG is even longer than the query cose 😂

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-01 14:26] andygrove opened #3001 "User guide is incorrect regarding using CLI to register CSV files using schema inference"
**Describe the bug**

The user guide page at https://arrow.apache.org/datafusion/cli/index.html states that "It is necessary to provide schema information for CSV files since DataFusion does not automatically infer the schema when using SQL to query CSV files." but this is not true, as demonstrated below:

[code]

**To Reproduce**
See above.

**Expected behavior**
We should update the user guide t

[2022-08-01 14:35] andygrove opened #3002 "The expression to get an indexed field is only valid for `List` types (`common_sub_expression_eliminate`)"
**Describe the bug**

I am trying to perform a trivial join in the CLI using latest from master and I get the following error:

[code]

**To Reproduce**

[code]

**Expected behavior**
Query should work

**Additional context**
None

[2022-08-01 14:47] andygrove commented on #3002
The query in the repro is invalid so it looks like we need to improve the error reporting here to an "invalid field" error.

If I specify the schema then the query works.

[code]

[2022-08-01 14:51] andygrove commented on #3002
The issue seems to be related to having relations containing columns with the same name as the relation.

[code]

The first query works but the second query fails. The queries are identical except for the name used to register the table. In the second case the table name is the same as the column name in the table.

[2022-08-01 15:12] waitingkuo commented on #2998
the subquery return something like `1970-01-01T00:00:00` (without the endding Z as utc ) which will be deem as local-time (UTC+8) while parsing by <https://docs.rs/arrow/19.0.0/arrow/compute/kernels/cast_utils/fn.string_to_timestamp_nanos.html#timezone--offset-handling>

[2022-08-01 16:11] kmitchener commented on #3001
I have a PR coming that will fix this and a bunch of other issues with the docs

[2022-08-01 17:09] avantgardnerio opened #3006 "The upcoming release of Arrow (20?) breaks datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Some changes to Decimal 128 & 256 require updating datafusion code to support.

**Describe the solution you'd like**

Decimal 128 to be supported.

**Describe alternatives you've considered**

I think we're going to have to do this.

**Additional context**

N/A

[2022-08-01 17:45] waitingkuo commented on #3002
```select b.b from b``` doesn't work originally, solved by your pull request as well. I've sent a pull request to yours for adding this simple test case

[2022-08-01 20:34] #2998 closed

[2022-08-01 21:32] andygrove commented on #2925
Thanks @jonmmease. I just submitted a PR with the functionality. I need to clean this up, but I think it is ready for testing.

[2022-08-02 01:30] #3002 closed

[2022-08-02 02:35] yourenawo commented on #2993
There are 3000 parquet files in the directory, and I only need to query 100 of them.

[2022-08-02 09:36] waynexia commented on #2994
Thanks for your reproducer @jiacai2050. Here are some investigations:

Looks like the `single_distinct_to_groupby` optimizer doesn't consider the original `GROUP BY` contains expression like `a+1` or `b%2`. It copies `GROUP BY`s to the inner subquery, which may cause two problems:
- Schema doesn't match. The schema of subquery will become something like `#table.a + Int64(1)`. And thus the outer `G

[2022-08-02 13:52] #2862 closed

[2022-08-02 13:54] andygrove opened #3012 "Release DataFusion 11.0.0"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It will soon be time for the next release. I plan on cutting the RC on August 12th.

TODO:

- [x] Upgrade to Arrow 20.0.0: https://github.com/apache/arrow-datafusion/pull/3083
- [x] Bug fixes
  - [x] https://github.com/apache/arrow-datafusion/pull/3165
- [ ] Improve the user guide
  - [x] http

[2022-08-02 17:00] yourenawo opened #3013 "I want to query some files in a directory. Is there any way?"
**Describe the bug**
There are 3000 parquet files named according to the timestamp in my directory. Now I just want to query some files, which can greatly reduce the query time.Thank you.

[2022-08-02 17:00] #2993 closed

[2022-08-02 19:41] iajoiner opened #3014 "Add single-step versions of ExecutionPlan::execute() and PhysicalExpr::evaluate() methods"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We would like to implement new `ExecutionPlan`s and `PhysicalExpr`s that are very similar to existing ones in DataFusion but with some side effects. This requires revising `ExecutionPlan::execute()` and `PhysicalExpr::evaluate()` methods. The problem we have is that we end up re-evaluating an

[2022-08-02 22:01] waitingkuo commented on #2902
@andygrove

I created the datafusion branch and submitted a [daft pull request](https://github.com/ClickHouse/ClickBench/pull/14)

my branch is here
https://github.com/waitingkuo/ClickBench/tree/datafusion/datafusion

<br/>

The original create.sql is (https://github.com/waitingkuo/ClickBench/blob/datafusion/clickhouse/queries.sql)
e.g. ```SELECT COUNT(*) FROM hits WHERE AdvEngineID <> 0;```

Sinc

[2022-08-02 23:50] comphead commented on #2877
Rev engineered data from sqlfuzz, quick test to reproduce the behavior
[code]

Right, the problem is non compat downcast

[2022-08-02 23:59] stuartcarnie opened #3015 "Proposal: Add `date_bin` function"
**Introduction**

This proposal suggests adding a new scalar function, `date_bin`,  to DataFusion, for transforming timestamp values to arbitrary intervals for the purpose of grouping and aggregating time-series data.

**Motivation**

Time-series data is typically analysed in aggregate where one axis is almost always time. DataFusion's [`date_trunc`](https://github.com/apache/arrow-datafusion/blob

[2022-08-03 00:27] ayushdg opened #3016 "Proposal: Add similar to operator"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add support for the `SIMILAR TO` operator like:
[code]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
Support this sql syntax where currently users would see a parser error `Expected end

[2022-08-03 00:56] stuartcarnie opened #3017 "Proposal: Enable typed strings expressions for VALUES clause"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

DataFusion supports a few literal expression types for a `VALUES` list clause:

[code]

However, typed string literals, like a `TIMESTAMP` are not supported:

[code]
[code]

Every time we wish to refer to the `time` column as a `TIMESTAMP`, we have to `CAST` it first, such as in this contrive

[2022-08-03 01:35] andygrove commented on #3013
Assuming that these files have the same or similar schema, then yes, you can just use the path to the directory rather than the path to an individual file.

[2022-08-03 02:46] waynexia commented on #2994
`Expr::name()` is nothing more than a string concat, it won't find whether this column exists in schema. In other words, it won't return an error due to the wrong schema or column:

[code]

But `get_type` and `get_nullable` can't. The type and nullable info are stored in schema.

BTW, It looks like the `input_schema` is not used in this function. Maybe we can remove it.

[2022-08-03 04:15] mingmwang opened #3019 "Add and expose metrics in ObjectStore Trait"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The current ObjectStore Trait and implementations do not collect and expose any metr

[2022-08-03 04:28] mingmwang opened #3020 "Add Caller Context to the ObjectStore Trait for tracing and diagnostic"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Some of the distributed storage systems like HDFS support API tracing.  The tracing

[2022-08-03 09:13] Ted-Jiang opened #3024 "Optimize file stream metrics."
**Is your feature request related to a problem or challenge?
Relate #2965
https://github.com/apache/arrow-datafusion/blob/193fc3b4549ed40a08218b744388f9211605ab53/datafusion/core/src/physical_plan/file_format/file_stream.rs#L218-L228
Before i add the cost time metric here. But there are two sub future or stream under `self.poll_inner(cx)`

one is a future to read parquet metadata
https://github.co

[2022-08-03 09:20] waitingkuo commented on #2902
@andygrove

after update datafusion-cli to master version

1-36 passed

37-42 passed but it's incorrect
43 failed

the issues from 37-42 are the same

[code]

this is the v10.0.0 datafusion-cli result:
[code]
the original EventDate field is integer; since datafusion-cli doesnt support schema for reading external parquet, it can't be parsed as date or timestamp for now. our benchmark codes are modi

[2022-08-03 11:57] alamb commented on #3015
I think following postgres is a good idea 👌  thanks @stuartcarnie

cc @avantgardnerio

[2022-08-03 13:01] avantgardnerio commented on #3015
Love it!

[2022-08-03 13:12] alamb commented on #3019
One way to do this might be to implement a wrapper around an inner `Arc<dyn ObjectStore>` interface that had metrics.

Much like https://github.com/apache/arrow-rs/blob/master/object_store/src/limit.rs or https://github.com/apache/arrow-rs/blob/master/object_store/src/throttle.rs

BTW I plan to release a new `object_store` release (from arrow-rs) mid next week

[2022-08-03 13:15] alamb commented on #3020
@crepererum  did something similar for tracing in  https://github.com/apache/arrow-datafusion/pull/2940 which might be valuable

Also here wrapping a `dyn Objectstore` with some other struct that implements `ObjectStore` could be interesting. https://github.com/apache/arrow-datafusion/issues/3019#issuecomment-1203932916

[2022-08-03 13:18] alamb commented on #3016
Seems reasonable to me

[2022-08-03 13:25] alamb commented on #3014
@iajoiner  I don't quite follow what you want to do...

Is it like you want a way to override `PhysicalExpr::execute` for all nodes?

Have you considered a wrapper that does your side effect, something like:

[code]

[2022-08-03 13:29] alamb commented on #3012
Thank you @andygrove

[2022-08-03 13:30] alamb commented on #3006
I think this has been resolved in #3007

[2022-08-03 13:32] alamb commented on #2999
I think `elapsed_compute` is meant to capture how much cpu time was taken -- so if the query ran on 16 cores for 1 second of wall clock time, then I would expect that elapsed_compute would be reported as `16 sec`

That being said, it is hard to imagine how 0.093 seconds query time could use 1.9 sec of compute 🤔

[2022-08-03 13:37] bi-kai opened #3027 "Can I Filter Files During Multi-File Query?"
I have a folder containing .parquet files. The schemas of the files are the same, and the file names are distinguished by timestamp.

The SQL statement, select * from table where timestamp 1645172395000 and 1645272395000, takes a long time for query. I want to filter out the files that are not within the time range during query.

In other words, I want to use the multi-file query function, but fil

[2022-08-03 14:08] yourenawo commented on #3013
thanks.

[2022-08-03 14:08] #3013 closed

[2022-08-03 14:46] carols10cents opened #3028 "Upgrade prost/tonic everywhere"
This is currently blocked on arrow-flight releasing a new version.

[2022-08-03 14:54] avantgardnerio commented on #3006
The build is fully working in CI and for me locally, yes. There are still some failing checks I haven't looked into. Would you like me to undraft #3007?

[2022-08-03 15:02] alamb commented on #3006
I don't have any strong preference

[2022-08-03 19:15] Dandandan commented on #3015
Sounds like a great feature :+1:

[2022-08-03 19:51] iajoiner commented on #3014
@alamb I'm already using wrappers on my side. The issue I currently have is that `self.inner.evaluate(batch)` evaluates all the children of the raw `PhysicalExpr` but none of the side effects for the children actually take place. So what happens right now is that I had to manually call `evaluate` for wrapped children, leading to evaluate being called way too many times for inner nodes.

[2022-08-03 21:18] alamb commented on #3014
@iajoiner  I see -- you want to annotate the entire tree

Here is what I recommend:

1. add `children()` and `new_with_children` to the `PhysicalExpr` trait that will allow you to walk the tree, following the model of `ExecutionPlan`:

https://docs.rs/datafusion/10.0.0/datafusion/physical_plan/trait.ExecutionPlan.html#tymethod.children
https://docs.rs/datafusion/10.0.0/datafusion/physical_plan/tra

[2022-08-03 21:28] waitingkuo commented on #2867
@andygrove i've made the pull request to sqlparser-rs to make nestedjoin support alias

I will update this https://github.com/apache/arrow-datafusion/blob/master/datafusion/sql/src/planner.rs#L731 after new sqlparser released

[2022-08-03 21:48] alamb commented on #2994
I didn't follow this entire conversation in detail but " adding alias to group by exprs is the way to fix the bug, so you can fix it first." sounds right to me as well

I can't recall the nuances of `Expr::name` but it may be from before the time we had reasonable relation support (aka there could well be a bug there)

[2022-08-03 23:41] #3017 closed

[2022-08-04 02:21] liukun4515 commented on #3016
Nice feature for datafusion core.
Do you have a plan to implement it?
@ayushdg

[2022-08-04 02:31] liukun4515 commented on #3006
there are many api changes for decimal in arrow-rs.
upgrading the arrow-rs 20 for datafusion need to take effort.
Thanks for your work. @avantgardnerio

[2022-08-04 02:51] liukun4515 opened #3031 "optimize/simplify the literal data type and remove unnecessary cast、try_cast"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Schema:
[code]

select * from table where c1 = 20;
select * from table where c1 in (12,2)

We will get the sql plan like below
[code]

The type of `20` or `12,2` is INT64 in the datafusion,  the coerced data type  of ` decimal(18,0) compare with int64` is decimal(20,0) according to the rule `g

[2022-08-04 03:01] liukun4515 commented on #3031
Optimize the decimal value from arrow-rs https://github.com/apache/arrow-rs/issues/2313

[2022-08-04 03:28] mingmwang opened #3032 "Why the PhysicalPlanner is an async trait ?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I have a question for the PhysicalPlanner, looks like in current DataFusion implemen

[2022-08-04 04:08] yjshen commented on #3032
The `scan` in `TableProvider` which creates a physical scan plan from a logical table scan is async. It needs to list partitions and gather statistics that are async.

[2022-08-04 04:21] jacobmarble commented on #3015
I don't know how far DataFusion likes to deviate from PostgreSQL-flavored SQL, but here's an idea for this feature.

### Suggestion 1
Make the default value of the `origin` argument `1970-01-01 00:00:00 UTC`.

It seems there is no default value specified by PostgreSQL. Certainly there exists a need for `origin` values like `XXXX-XX-XX 00:02:30 UTC`, but the far more common uses of `date_bin` are c

[2022-08-04 06:16] stuartcarnie commented on #3015
@jacobmarble these are great suggestions.

* PostgreSQL: The `date_bin` implementation accepts a string or an `INTERVAL` type for the first argument. If it is a string, it is parsed as an `INTERVAL`, which saves the user from having to specify the `INTERVAL` prefix.
    * ✅ Will do that as part of this issue, as it remains compatible with PostgreSQL.
* PostgreSQL: Supports several formats for `INT

[2022-08-04 06:31] mingmwang commented on #3032
Thanks a lot for the explanation.

[2022-08-04 06:31] #3032 closed

[2022-08-04 08:06] crepererum commented on #3020
I'm actually facing a similar issue with IOx. I think the `ObjecStore` methods should retrieve an additional parameter `ext: &Extensions` which can carry opaque extensions around (similar to #2940). DataFusion can than use this to pass the current context to the object store, which can then extract tracing information.

[2022-08-04 08:11] mingmwang opened #3033 "Need to add an unique id to MetricsSet or ExecutionPlanMetricsSet"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The is useful for Ballista Scheduler to post merge the metrics of the plan operators

[2022-08-04 08:44] mingmwang commented on #3020
@crepererum I think maybe we just need to add a parameter of type String `` ext: Option<String>``.   Users of the ObjectStore can feel free to encode any tracing info to strings and pass through to the storage system.

[2022-08-04 10:44] alamb commented on #3033
As I understand it, you are trying to identify all metrics for a particular query execution within a session

The `session_id` on `SessionState` already identifies the session, but a single session can run multiple queries

What about adding a `statement_id` to the `SessionState`? Like:

[code]

Then you could use the combination of `(session_id, statement_id)` to connect up metrics across nodes?

[2022-08-04 14:20] crepererum commented on #3020
Some objects cannot be encoded via strings, so users then build some own registry objects (probably some semi-global hashmap), which is worse. That's the whole reason I've added the extension system in #2940, because I wanted to avoid that.

[2022-08-04 16:14] avantgardnerio commented on #3015
This definitely seems like a worthwhile extension, but it also makes sense to not expand the scope of this PR.

[2022-08-04 20:56] #2783 closed

[2022-08-04 21:53] andygrove commented on #3016
I am planning on implementing this but also happy if anyone else wants to pick it up

[2022-08-05 04:14] mingmwang commented on #3033
@alamb A single session could have multiple statements run concurrently. And a statement_id is not enough to differ metrics either. For example a single query statement might contain multiple join nodes or multiple parquet scan nodes, each operator node has its own metric set, the node is running by multiple executor instances with many tasks.  When Scheduler combine the metrics, need a way to cor

[2022-08-05 06:50] mingmwang commented on #3033
If we do not have unique ids to represent the MetricsSet,  we have to use some other implicit ways to correlate the metrics.
One solution is to leverage the array index.
For example after the Executor finish a task, traverse the plan tree and collect all the MetricsSets into an Array of MetricsSet.
The order of the MetricSet in the Array matters. in the Scheduler side, multiple tasks report back t

[2022-08-05 09:46] mingmwang commented on #3033
https://github.com/apache/arrow-ballista/issues/116

[2022-08-05 10:39] alamb commented on #3033
That is a good point. I still think `statement_id` is likely necessary -- sounds like it would also be prudent to add a `execution_plan_id` or `operator_id` to `ExecutionPlan` or `LogicalPlan` as well to properly identify the execution?  I can't remember if Ballista sends `dyn ExecutionPlans` or `LogicalPlans` to the executors.

Yeah, as you noted above, one potential issue with this approach is t

[2022-08-05 10:42] thinkharderdev commented on #3033
On Ballista we send the `ExecutionPlan` and the `ShuffleWriteExec` should already have a `job_id` attached.

[2022-08-05 12:47] andygrove opened #3039 "Review `NaN` handling in `median` and `approx_median`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We do not have tests involving `NaN` for `approx_median,` and the current behavior of `median` is likely not desirable regarding `NaN`. This issue is to follow up and document and possibly change the behavior and add more tests.

**Describe the solution you'd like**
Ideally, make sure we are c

[2022-08-05 13:06] andygrove opened #3040 "Follow-on work for `median` aggregate function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Follow-on issue to address feedback in https://github.com/apache/arrow-datafusion/pull/3009

In particular:

- Run some performance test and see if it would be better to use builders in the aggregate state rather than arrays. Should we just use `ScalarValue::List` instead?
- Should we have a c

[2022-08-05 13:35] andygrove commented on #3027
I think the solution here would be to implement a specialized version of `https://docs.rs/object_store/latest/object_store/trait.ObjectStore.html#tymethod.list` where a function can be passed to determine which files get selected (based on file names).

@tustvold WDYT?

[2022-08-05 13:55] andygrove commented on #913
I have started work on fuzzing SQL and data using https://github.com/andygrove/sqlfuzz and plan on eventually adding tests to this project but for now, I am doing this separately. It has already been effective in finding bugs.

[2022-08-05 14:47] alamb opened #3042 "Error pruning `IsNull` expressions: Column 'instance_null_count' is declared as non-nullable but contains null values"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

[code]

Actual behavior:

[code]

**Expected behavior**
The test should pass (and the `Expr::IsNull` predicate can be used)

**Additional context**
We found this while working on IOx

[2022-08-05 14:51] alamb commented on #3042
This appears to be a regression of the code introduced in #1595. It means predicate pruning will not happens if an expression contains an `IsNull` and the statistics don't provide a `NullCount` so I am not sure how important it is in practice

https://github.com/apache/arrow-rs/issues/1888 (in arrow `17.0.0`) where this error comes from started enforcing that the null declaration was correct , int

[2022-08-05 14:51] tustvold commented on #3027
So DataFusion has fairly mature support for predicate pruning such as you describe, in particular https://docs.rs/datafusion/latest/datafusion/physical_optimizer/pruning/struct.PruningPredicate.html.

Assuming the predicate is pushed down to the [TableScan](https://docs.rs/datafusion/latest/datafusion/logical_plan/struct.TableScan.html). The following should happen automatically.

* If using [`Lis

[2022-08-05 15:35] alamb opened #3045 "Improve / Cleanup DataFusion CI"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The CI system in arrow-datafusion largely dates to the time when it was part of the arrow repository. It is all in a single workflow, which among other things prevents more specific test triggering and also retriggering the entire run if just a single check fails

**Describe the solution you'd

[2022-08-05 19:39] waitingkuo opened #3046 "incorrect i32 coercion for `to_timestamp`"
**Describe the bug**
A clear and concise description of what the bug is.

it's coerced to utf-8

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

coerced to int64

**Additional context**
Add any other context about the problem here.

[2022-08-05 19:56] #2925 closed

[2022-08-05 20:54] waitingkuo opened #3048 "Follow-up on Clickbench benchmark"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The goal is to pass all 43 cases to submit to <https://benchmark.clickhouse.com/>

i

[2022-08-05 21:19] andygrove commented on #2902
This is fantastic work @waitingkuo. Thank you for working on this!

[2022-08-05 21:59] Dandandan opened #3049 "Simplify / speed up implementation of character_length to unicode points"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It looks like postgresql and spark have a different, (probably much faster) implementation of calculating the string length, which doesn't depend on calculating the grapheme clusters, but on utf8 code points.

As an example: `select length('ä')`
PostgreSQL | Spark | DataFusion
| Postgres | Sp

[2022-08-05 22:17] waitingkuo opened #3050 "Cannot GROUP BY Binary"
**Describe the bug**
A clear and concise description of what the bug is.

This is part of #3048

I was doing the benchmark for [clickbench](https://benchmark.clickhouse.com/). One of it's column is binary, and the test query set contains `group by` that binary column. I got this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise desc

[2022-08-06 00:33] andygrove commented on #3049
This is something that we could potentially add a configuration option for as well, defaulting to the fast version but allowing the user to select a slower and more accurate version.

[2022-08-06 09:51] Cheappie commented on #2992
@tustvold have you started working on this issue ? If not then I have made just few initial steps toward implementing that

[2022-08-06 10:36] alamb opened #3052 "Lint check fails on master: apache-rat license violation: js/test.ts"
**Describe the bug**
A CI check stated failing on master:

https://github.com/apache/arrow-datafusion/runs/7698061920?check_suite_focus=true

[code]

**To Reproduce**
Started failing on https://github.com/apache/arrow-datafusion/commit/581934d73dfca7b99e6cc66767b3af3bbad7755f but I don't think it is relevant to that

**Expected behavior**
CI should pass

**Additional context**
Add any other contex

[2022-08-06 12:14] #3052 closed

[2022-08-06 12:20] Dandandan commented on #3049
In general, I think it would be better to choose one version of the algorithm rather than have the result depend on the configuration.

As we aim to be mostly compatible with PostgreSQL, it makes sense to me to choose counting the code points instead of grapheme clusters.

[2022-08-06 13:45] #3046 closed

[2022-08-06 15:05] Rachelint opened #3055 "Support double quoted literal strings for dialects(such as mysql,bigquery)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In sqlparser 0.19, double quoted (") literal strings are supported. And as I think, we should support it, too.

**Describe the solution you'd like**
It is simple to do this, just change `Value::SingleQuotedString(s)` to `Value::SingleQuotedString(s) | Value::DoubleQuotedString(s)` in sql/src/p

[2022-08-06 15:43] kmitchener opened #3057 "once now() is called in a statement, it forever returns the same value"
**Describe the bug**
A clear and concise description of what the bug is.

[code]
It's correctly caching now() so it returns the same value when used multiple times in the same query, but it shouldn't be caching the value past statement execution, correct?

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

Would

[2022-08-06 16:23] andygrove commented on #3057
You are right. This is a bug.

[2022-08-06 16:26] andygrove opened #3058 "[Epic]: Improve Documentation, Tutorials, and Examples"
“Write cool software and _tell people about it_” – Paul Dix @pauldix  (Founder and CTO of InfluxData)

# Call to action:

The DataFusion community has invested a lot in the cool software; Now is the time to do better on the “tell people about it” part.

**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion is too difficult to learn for

[2022-08-06 19:58] waitingkuo opened #3059 "INTEGER type does't work while importing csv"
**Describe the bug**
A clear and concise description of what the bug is.

it works at v10.0.0, but doesn't work at master branch

**To Reproduce**
Steps to reproduce the behavior:

[code]

while this works
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-07 07:17] waitingkuo commented on #3057
`now()` is using the time while session is created (i.e. the time datafusion-cli is launched).

<https://github.com/apache/arrow-datafusion/blob/master/datafusion/physical-expr/src/execution_props.rs#L32>

[2022-08-07 12:04] kmitchener commented on #3058
As a relatively new user of DataFusion, I agree the docs on the site are pretty bad, but not so bad that I wasn't able to understand it without being overwhelmed :) However, there's plenty of room for improvement and I've been doing a few things related to this:
* reviewing all the documentation-tagged issues in this project
* reviewing other similar project's documentation to see how it's structu

[2022-08-07 14:24] andygrove opened #3063 "Simplify implementation of approx_median so that it can be exposed in Python"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`ApproxMedian` is not fully implemented and calls `unimplemented!()` at runtime, so we can't call it from Python. It works in DataFusion because the SQL query planner translates the `approx_median` call to `approx_percentile`. It seems it is not possible to call `approx_median` from the DataFr

[2022-08-07 15:29] andygrove commented on #3058
Thanks @kmitchener that is great feedback

[2022-08-07 16:44] andygrove opened #3065 "Document all scalar SQL functions in user guide"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In https://arrow.apache.org/datafusion/user-guide/sql/datafusion-functions.html it looks like DataFusion only supports a handful of functions. Let's document all of them here.

**Describe the solution you'd like**
Add all scalar functions.

**Describe alternatives you've considered**
None

**A

[2022-08-07 16:50] andygrove opened #3066 "Add DataFrame section to user guide"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The user guide has a SQL section but no DataFrame section.

**Describe the solution you'd like**
Add a new DataFrame section.

- list all dataframe functions
- list all logical expression functions

We should explain how to use DataFrame and logical expressions. We can also link to https://doc

[2022-08-07 21:51] andygrove opened #3068 "DataFusion prelude should import all logical expression functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusions's prelude imports some but not all of the functions from `datafusion-expr` that create logical expressions. For example, `approx_percentile_cont` is imported, but `approx_percentile_cont_with_weight` is not.

**Describe the solution you'd like**
Import them all. Consider using `pub

[2022-08-07 23:44] andygrove opened #3069 "Some functions are incorrectly declared as unary"
**Describe the bug**
Some functions are incorrectly declared as unary.

- nullif (2 args)
- now (zero args)

**To Reproduce**
N/A

**Expected behavior**
N/A

**Additional context**
None

[2022-08-08 04:48] OscarTHZhang commented on #94
Hi @alamb,

Here are some questions come up my mind
 - At what granularity a benchmark should be operating at?
 - For aggregate, for example, do we also need to implement the micro benchmarks for all the aggregate functions and also all the physical aggregate expressions (like correlation)?

I think we can divide the micro-bench into 2 types (as described above)
- Single Operator bench
- Targeted

[2022-08-08 06:20] mingmwang commented on #3033
Yes, the job_id in Ballista is similar to statement_id.  In current Ballista implementation, each SQL statement will just trigger one job.

[2022-08-08 09:53] waitingkuo opened #3073 "incorrect `where` clause comparison while using table alias"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

while this works in postgresql
[code]

**Expected behavior**

should output 0 row

**Additional context**
Add any other context about the problem here.

[2022-08-08 09:55] waitingkuo commented on #2867
@andygrove the parser error fixed in #3072

now it raised another error
[code]

I feel like this might have the similar issue as #3073

[2022-08-08 11:59] #3042 closed

[2022-08-08 12:20] #3063 closed

[2022-08-08 12:39] #3015 closed

[2022-08-08 13:06] #3049 closed

[2022-08-08 13:29] alamb commented on #2950
Proposed fix: https://github.com/apache/arrow-datafusion/pull/3076

[2022-08-08 13:31] andygrove opened #3077 "Add datafusion-cli to the workspace"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The CLI `Cargo.lock` is nearly always out of date because the CLI is not part of the workspace. We have to update it periodically.

Why don't we add `datafusion-cli` to the workspace, as we did recently in Ballista? https://github.com/apache/arrow-ballista/pull/89

**Describe the solution you'

[2022-08-08 13:57] #3055 closed

[2022-08-08 16:26] waitingkuo opened #3080 "Should `Cast(UTF-8 AS Timestamp)` apply local time zone?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

dataufusion v10.0.0's applies local time zone (i'm in UTC+8)
[code]

while postgresql's is not
[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternati

[2022-08-08 16:46] tustvold opened #3081 "Re-enable where_clauses_object_safety"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

To workaround https://github.com/apache/arrow-rs/issues/2372, #3051 disabled rustc from complaining about this. Unfortunately this has to be done at the crate level, for some reason. We should remove this workaround as soon as this is released in arrow 21.

**Describe the solution you'd like*

[2022-08-08 18:19] waitingkuo opened #3082 "Cast string to timestamp crash while we input time before 1970 with floating number second"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

while this works

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-08 21:41] alamb commented on #3077
I think the idea of pinning the `Cargo.lock` for datafusion-cli was from https://github.com/apache/arrow-datafusion/pull/2112 and @happysalada

I don't have a strong preference to be honest, as I normally run `datafusion-cli` from my local checkout

[2022-08-09 01:56] turbo1912 commented on #2870
I can pick this up if no one is working on it

[2022-08-09 02:38] happysalada commented on #3077
At the time of that PR, the crate had been yanked. If there is no way to get a source with the cargo lock, it makes maintaining for distributions more work.
Ideally there is at least one source with a lockfile.
Feel free to ignore this, as I would personally give priority to ease of maintaining.

[2022-08-09 11:59] alamb commented on #94
Hi @OscarTHZhang  Thanks for commenting on this ticket.

I think the core goal for the ticket is to ensure the vast majority of the time is spent doing the operation rather than reading data.

It might make sense to go through existing benchmarks and try to see what coverage we already have

End to end benchmarks: https://github.com/apache/arrow-datafusion/tree/master/benchmarks

more micro level

[2022-08-09 12:02] alamb opened #3088 "Benchmark runs over time using conbench / ursabench"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have various benchmarks in datafusion for example  *Targeted SQL* in https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/benches/sql_planner.rs and https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/benches/aggregate_query_sql.rs

There are also some b

[2022-08-09 12:23] #2950 closed

[2022-08-09 13:26] alamb commented on #2979
Makes sense to me. 👍

cc @ovr @andygrove @seddonm1 @stuartcarnie   (not sure if anyone else is interested in this discussion too)

There are a variety of open issues known about timestamp handling -- for example https://github.com/apache/arrow-rs/issues/1936 https://github.com/apache/arrow-rs/issues/1380 https://github.com/apache/arrow-rs/issues/597 and others

It would be great to figure out how

[2022-08-09 14:14] #3024 closed

[2022-08-09 14:19] andygrove opened #3091 "Update SQL reference in user guide to cover all supported syntax"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The docs at file:///home/andy/git/apache/arrow-datafusion/docs/build/html/user-guide/sql/select.html do not show that we support CTEs and subqueries.

**Describe the solution you'd like**
Document all SELECT syntax that we support

**Describe alternatives you've considered**
None

**Additional

[2022-08-09 14:30] andygrove opened #3092 "Automate production of SQL and DataFrame references for SQL functions / Expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We are currently manually maintaining the user guide. In the same way that we generate the configuration section, we could generate much of the content in the SQL and DataFrame references.

**Describe the solution you'd like**
Define documentation in code and then generate markdown. The defini

[2022-08-09 14:40] jhorstmann commented on #3040
Another optimization is that you do not need to to sort all values, only the value at the middle index needs to be at the right place.  [Vec::select_nth_unstable](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.select_nth_unstable) does exactly that in O(n) using a quickselect algorithm.

[2022-08-09 14:45] waitingkuo commented on #2979
@alamb  should we consider `to_timestamp()` to output `timestamp with time zone`?

in postgresql `select timestamp '2020-01-01'` output `timestamp without time zone` but `to_timestamp()` output `timestamp with time zone`.

[2022-08-09 16:05] waitingkuo commented on #2979
@alamb  i could image that might breaks lots of thing

[2022-08-09 16:20] #3066 closed

[2022-08-09 16:45] #3006 closed

[2022-08-09 17:03] #3065 closed

[2022-08-09 18:52] waitingkuo commented on #3080
depends on apache/arrow-rs#1936

[2022-08-09 19:10] DaltonModlin commented on #166
I'm looking into this issue and seeing a new error message:

`Error: NotImplemented("Unsupported SQL statement: Some(\"CREATE VIEW revenue0 (supplier_no, total_revenue) AS SELECT l_suppkey, sum(l_extendedprice * (1 - l_discount)) FROM lineitem WHERE l_shipdate >= DATE '1996-01-01' AND l_shipdate < DATE '1996-01-01' + INTERVAL '3' MONTH GROUP BY l_suppkey\")")`

This comes from missing a match case

[2022-08-09 19:38] alamb commented on #166
git blame https://github.com/apache/arrow-datafusion/blame/master/datafusion/sql/src/planner.rs#L185-L198

seems to show it came in via the initial support for views in https://github.com/apache/arrow-datafusion/pull/2279 by @matthewmturner

[2022-08-09 19:38] #2870 closed

[2022-08-09 20:39] alamb commented on #3012
FYI @andygrove  arrow is upgraded https://github.com/apache/arrow-datafusion/pull/3083 (kudos to @avantgardnerio )

I am actively working on an `object_store` release candidate now: https://github.com/apache/arrow-rs/issues/2261

@tustvold  has a PR to upgrade here https://github.com/apache/arrow-datafusion/pull/3089 but I likely won't be able to release it this weekend -- so it likely won't make

[2022-08-10 02:30] turbo1912 commented on #3082
Spent some time tracking this down, root of the problem was on the arrow side doing the conversions. This was not working properly for negative values.

Luckly it looks like it was fixed 4 days ago and in the 20.0.0 release;

https://github.com/apache/arrow-rs/issues/2325

[2022-08-10 03:04] andygrove commented on #3012
@alamb Sure. I can hold off on the release until the object store is ready.

[2022-08-10 06:31] waitingkuo commented on #3082
@turbo1912 thank you! i'll wait for 20.0.0 and write a test case to close this

[2022-08-10 07:46] waitingkuo opened #3093 "Incorrect type coercion rule for date + interval"
**Describe the bug**
A clear and concise description of what the bug is.

coercion rule for date + interval('1 day' ) works but fails for hours/min/sec

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Cast to Timestamp like what postgresql does
[code]

**Additional context**
Add any other context abou

[2022-08-10 07:48] waitingkuo commented on #3093
related issue/pr:   #194 #2235

[2022-08-10 08:51] waitingkuo opened #3095 "a `arrow_typeof` like posgresql's `pg_typeof`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

sometimes it's not that easy to know the output type. e.g.

[code]

i thought that i

[2022-08-10 09:21] waitingkuo opened #3096 "`date_part` does't work for `now()`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

note that it could be fixed by
[code]

the reason for that is `now()` output `timestamp with time zone`, but our `date_part` doesn't work for it

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any oth

[2022-08-10 09:24] waitingkuo commented on #3096
extract has the same behavior

[code]

[2022-08-10 10:14] waitingkuo commented on #3048
43.

original query:
[code]

Since datafusion import columns as case-sensitive so we need to modify it as

[code]

EventTime is originally Int in parquet, we need to cast it (as parquet importer doesn't allow us to add schema for now)
[code]

The last isue is that we cannot `ORCER BY BY DATE_TRUNC('minute', to_timestamp_seconds("EventTime")`
i fixed it as `ORCER BY BY DATE_TRUNC('minute', M)`

[2022-08-10 10:21] waitingkuo commented on #3048
Current issue for 11 (12 and 13 have the similar issue)

origin:
[code]

add double quote as column name imported as case-sensitive
[code]

Cast to TEXT  as we cannot group by binary for now #3035
[code]

Unfortunately it crashes. i feel like `group by casted` doesn't work here
i can reproduce similar issue by `select count(distinct a) from (select '1' as a) b group by a::TEXT;`. this query crashe

[2022-08-10 10:23] waitingkuo commented on #3048
37-42 passed by Cast "EventTime" to Timestamp by `to_timestamp_seconds`

[2022-08-10 13:26] andygrove opened #3097 "DataFusion 12.0.0 Release"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Planning for DataFusion 12.0.0

- [x] https://github.com/apache/arrow-datafusion/issues/3192
- [x] https://github.com/apache/arrow-datafusion/pull/3225
- [x] https://github.com/apache/arrow-datafusion/pull/3407
- [x] https://github.com/apache/arrow-datafusion/pull/3398

**Describe the solution

[2022-08-10 14:56] waitingkuo commented on #3050
looks like this only happens in mac, it works in linux environment

[2022-08-10 15:03] waitingkuo commented on #3097
should be arrow-datafusion 12.0.0?

[2022-08-10 15:34] waitingkuo commented on #3048
#3050 Cannot group by binary only happens in mac, it works in linux
i remove all the casting that cast from binary to text, and it works in linux now

finally all test cases passed
i submitted the pr and also listed some issues for future improvements: <https://github.com/waitingkuo/ClickBench/blob/datafusion/datafusion/README.md>

[2022-08-10 16:36] Dandandan commented on #3050
That would be weird.

I think the error is expected, there is a missing match for the `Binary` datatype here. I expect adding the implementation here will solve that:
https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/physical_plan/hash_utils.rs#L606

[2022-08-10 17:38] Dandandan commented on #3050
I am currently working on this.

[2022-08-10 17:51] waitingkuo commented on #3048
i finally found the root cause for most of the issues..... their full-dataset and partial-dataset have different schema, submitted a issue there ClickHouse/ClickBench#18

[2022-08-10 18:47] andygrove opened #3099 "Add support for Postgres `SIMILAR TO` and `ILIKE` syntax"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add support for Postgres SIMILAR TO syntax.

https://www.postgresql.org/docs/current/functions-matching.html#FUNCTIONS-SIMILARTO-REGEXP

**Describe the solution you'd like**
Add support for Postgres SIMILAR TO syntax

**Describe alternatives you've considered**
None

**Additional context**
Dep

[2022-08-10 18:55] waitingkuo commented on #3048
close again :D

[2022-08-10 18:55] andygrove commented on #3097
Thanks, yes!

[2022-08-10 18:55] #3048 closed

[2022-08-10 19:00] #2896 closed

[2022-08-10 21:08] waitingkuo opened #3100 "[EPIC] Proposal for Date/Time enhancement"
# !!! Please correct me if i'm wrong !!!

# Intro

- This changes breaks some original behaviors.
- UTC+8 is the local time zone in my examples.
- As our goal is to be Postgresql compatible, this proposal is mainly following
  - [PostgreSQL Date/Time Types](https://www.postgresql.org/docs/14/datatype-datetime.html)
  - [Arrow-rs](https://github.com/apache/arrow-rs)
- I plan to do [Data Type Format

[2022-08-10 21:11] waitingkuo commented on #2979
@alamb
after spend time figuring out how postgresql is working, i submitted a proposal here
#3100

probably we need to deal with datatype `date / time / timestamp / time zone` first and then move to this timestamp related functions

[2022-08-11 01:53] avantgardnerio commented on #166
@DaltonModlin if the check is removed, do the other tests still pass? If so, perhaps a new test (with aliases) and a new PR targeted at this one isolated change is a good next step. Folks like small PRs around here ;)

[2022-08-11 10:16] alamb commented on #2979
I agree that sounds wise

[2022-08-11 10:17] alamb commented on #3100
Thanks @waitingkuo  -- I plan to review this proposal more carefully later today or tomorrow.

[2022-08-11 12:05] JasonLi-cn opened #3103 "feat: support Timestamp +/- Interval"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

support SQL like:
[code]

**Describe the solution you'd like**
A clear and concise d

[2022-08-11 13:53] andygrove commented on #1487
I think this issue can be closed as a duplicate of https://github.com/apache/arrow-datafusion/issues/3065 and https://github.com/apache/arrow-datafusion/issues/3066 (which have been largely addressed now) but feel free to re-open if I am missing anything.

[2022-08-11 13:53] #1487 closed

[2022-08-11 14:13] ovr opened #3104 "Panics are silently ignored in parallel execution (spawn_execution)"
**Describe the bug**

DF uses `tokio::spawn` in `spawn_execution`  function. It uses a channel under the hood to transfer data from tasks back to the output stream. Right now, it doesn't handle panic, which causes strange behavior when the tokio show panics in logs and the output is empty.

To catch panics, it's required to mark some places in the code as `AssertUnwindSafe` + catch it in `spawn_ex

[2022-08-11 14:22] andygrove commented on #2338
This is not needed now that we rewrite most subqueries as joins. We do not support other types of subquery.

[2022-08-11 14:22] #2338 closed

[2022-08-11 14:23] andygrove commented on #2583
I think we can close this now. The current approach seems to be working well enough. Feel free to re-open is I am missing anything.

[2022-08-11 14:23] #2583 closed

[2022-08-11 15:06] jonmmease opened #3105 "Median aggregation using DataFrame panics"
**Describe the bug**
I am trying to use the new exact median aggregation function introduced by @andygrove in https://github.com/apache/arrow-datafusion/pull/3009, but when I try it using the DataFrame API the operation panics. Apologies that I didn't get around to testing this while the PR was open!

**To Reproduce**
Here is a test case that can be run inside the `src/core/tests/dataframe.rs` fil

[2022-08-11 15:09] alamb commented on #3104
I think returning a `DataFusionError` sounds like a very reasonable thing to do

When a `tokio::task` panics, it will return a `JoinError` as an error code -- perhaps somewhere datafusion does a `tokio::task::spawn` but then doesn't check for an error 🤔

[2022-08-11 17:22] turbo1912 commented on #3103
I believe these two issues are describing the same problem;

https://github.com/apache/arrow-datafusion/issues/3093

[2022-08-11 17:55] waitingkuo commented on #3103
@turbo1912 this issue is to request timestamp +/- interval
#3093 is to report bug for date +/- interval

[2022-08-11 20:03] iemejia opened #3106 "Automatic version updates for github actions with dependabot"
Dependabot supports automatic version updates for github actions. arrow-rs can benefit of this to keep up with github-actions improvements.

[2022-08-11 20:20] tustvold commented on #2427
I'm currently prototyping some stuff, hope to push a draft in the coming days for feedback.

[2022-08-11 21:30] #2584 closed

[2022-08-11 21:39] alamb commented on #3100
(I will respond individually to the parts of the proposal)

Timestamp Proposal

I think this sounds like a great idea 👍

[2022-08-11 21:43] alamb commented on #3100
I agree

[2022-08-11 21:44] alamb commented on #3100
Time Proposal

I agree -- until there is a compelling reason for time (rather than timestamp) it seems reasonable to postpone additional work on this

[2022-08-11 21:54] alamb commented on #3100
Interval  Proposal

Here is the spec in case that is interesting: https://github.com/apache/arrow/blob/master/format/Schema.fbs#L354-L372

I think this is a good idea -- Interval(MonthDayNano) is a relatively new addition to the arrow standard, so I think DataFusion might default to `Interval(DayTime)` is because that was all that was available at the time of initial implementation.

Agree

I don'

[2022-08-11 21:56] DaltonModlin opened #3108 "Allow inline column aliases for create view"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'd like to enable SQL statements with the form:
[code]

**Describe the solution you'd like**

In `datafusion/sql/src/planner.rs` on line 192, there is a check for empty columns before processing a create view statement. This empty column check stops inline create view statements like the one

[2022-08-12 01:56] JasonLi-cn commented on #3093
My reproduce
[code]

[2022-08-12 02:42] waitingkuo commented on #3100
i originally thought that comparing `timestamp with time zone` and `timestamp without time zone` is ambiguous. it turns out that postgresql simply drop the time zone and keep the native timestamp. this is quite straightforward for our implementation as well (i.e. Drop the time zone from `Timestamp(TimeUnit, Optinal(Timezone))`. i'll update my proposal for this

[2022-08-12 02:58] waitingkuo commented on #3093
@JasonLi-cn  thank you, looks like this is solved in some pr. I'll close this issue as this is similar as #3103  now.

[2022-08-12 02:58] #3093 closed

[2022-08-12 02:59] waitingkuo commented on #3103
@turbo1912 the original issue in #3093 is solved. These 2 issues are the same now. I closed #3093 , thank you

[2022-08-12 03:33] JasonLi-cn commented on #3103
It's my pleasure.  In PR: https://github.com/apache/arrow-datafusion/pull/3110#issue-1336683139

[code]

[code]

I don't know if this implementation will meet your expectations

[2022-08-12 10:11] #3050 closed

[2022-08-12 10:12] alamb commented on #3103
FYI @waitingkuo. Perhaps we should add this ticket to the timestamp epic: https://github.com/apache/arrow-datafusion/issues/3100

[2022-08-12 10:15] alamb commented on #3100
@waitingkuo  what do you think about making a list on this ticket of all the various timestamp / time related open items? I think there are a non trivial number of them, such as https://github.com/apache/arrow-datafusion/issues/194, https://github.com/apache/arrow-datafusion/issues/3103 and several others? Alternately, we can make another ticket that collects the items

[2022-08-12 10:17] alamb commented on #106
I think many of these items have been completed. Closing for now -- fyi @jhorstmann

If there are other things that should remain open (cached arrays, for example) I think a follow on ticket focused on just that proposal would be easier to find

[2022-08-12 10:17] #106 closed

[2022-08-12 10:31] #3106 closed

[2022-08-12 10:37] alamb opened #3115 "Remove support for `array` function and only support `array[]` style postgres syntax"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In https://github.com/sqlparser-rs/sqlparser-rs/pull/566, @MazterQyou  is adding some more sophisticated support for `array` parsing in SQL and it turns out that postgres treats the the `array` keyword specially so it can't be a function

Datafusion already has support for the equivalent array

[2022-08-12 14:18] ozgrakkurt opened #3117 "eq operator doesn't work on binary data"
Hello,

I am trying to use datafusion to query multiple parquet files.

Comparing a binary column with binary literal using eq operator doesn't work.

I expect this to just work since eq works on strings.

I have this code:
[code]
and I get this error:
[code]

I tracked the error message to [here](https://github.com/apache/arrow-datafusion/blob/3eb55e9a0510d872f6f7765b1a5f17db46486e45/datafusion/p

[2022-08-12 14:23] andygrove commented on #3108
The proposal is valid under Postgres syntax.

https://www.postgresql.org/docs/9.2/sql-createview.html

[code]

[2022-08-12 14:25] andygrove commented on #3108
It looks like this is already supported in the underlying SQL parser, so should be easy to add.

[2022-08-12 14:27] andygrove commented on #3105
Thanks @jonmmease I will take a look

[2022-08-12 14:58] avantgardnerio commented on #3100
There is no reason, it just isn't implemented. I implemented add for Date32 & Date64, but not Timestamp yet.

[2022-08-12 14:59] avantgardnerio commented on #3100
I believe a Date has the resolution of 24 hours, so adding 1 or 23 hours should have no effect?

[2022-08-12 15:03] avantgardnerio commented on #3100
I'm wary of this because it changes `Interval` from being a true Duration (fixed unit of wall clock time, e.g. milliseconds elapsed) into a Gregorian calendar unit (due to supporting Month).

[2022-08-12 15:05] avantgardnerio commented on #3100
I personally lean towards only supporting one, especially if Chrono only supports one. https://xkcd.com/1179/ https://xkcd.com/927/

[2022-08-12 15:24] avantgardnerio commented on #3100
@waitingkuo I think 95% of what you propose is very sensible. The other 5% I don't think is incorrect, but does raise cause for consideration.

Some random thoughts:

1. I generally think we should try to stick to parity with postgres, as it is ubiquitous & mature, makes integration testing easier, and arbitrates disputes about desired behavior
2. counterpoint to #1: arrow is the foundation for da

[2022-08-12 18:01] waitingkuo commented on #3100
@alamb
sure! i'll do it

[2022-08-12 18:11] waitingkuo commented on #3100
this issue is fixed, it works now

[2022-08-12 18:15] waitingkuo commented on #3100
agree, the current one is the most widely used

[2022-08-13 10:04] #3095 closed

[2022-08-13 10:05] #2866 closed

[2022-08-13 10:42] alamb commented on #3117
Thanks for the report @ozgrakkurt

Yes I think you are exactly correct.

If you have time, we would welcome a contribution to fix the issue

[2022-08-13 12:01] alamb opened #3123 "`array` function allows different data types"
**Describe the bug**
Both Spark and Postgres allow arrays of elements that have the same type -- e.g. Spark: https://spark.apache.org/docs/2.1.0/api/java/index.html?org/apache/spark/sql/types/ArrayType.html

The current `array()` function in datafusion creates a `FixedSizeList` arrow array. However, the `FixedSizedList` in arrow is more general as it allows the elements to be any type

Datafusion

[2022-08-13 13:07] ozgrakkurt commented on #3117
@alamb created #3124

[2022-08-13 13:51] ozgrakkurt opened #3125 "Support for hex encoding/decoding for `Binary` in sql queries"
Hi,

I want to query parquet files by a binary column. I have the scalar value to query by in hex form and I want to run an sql query.

I tried `to_hex` and postgres style `encode` but neither seemed to work.

[code]

or

[code]

I get this error with `to_hex`:
[code]

Would it be possible to implement this? also how can I enter a binary literal so maybe I can run this query now?

[2022-08-13 14:19] kmitchener opened #3127 "docs: proposal for consolidating docs into a Contributor Guide"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-08-13 19:30] #3127 closed

[2022-08-14 06:53] syheliel opened #3137 "panic when deal with `@` operator"
**Describe the bug**
[code]

**To Reproduce**
main.rs
[code]
Cargo.toml
[code]
**Expected behavior**
return an Error instead of panic.

[2022-08-14 19:53] iajoiner opened #3138 "Make RowAccumulator public"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I'd like to implement `AggregateExpr` wrappers with side effects and it would be great if `RowAccumulator` is available outside the crate so that my wrapped `AggregateExpr`s can mirror the raw ones in Datafusion-related behavior.

**Describe the solution you'd like**
Make `RowAccumulator` publ

[2022-08-15 01:48] syheliel commented on #3137
In `src/execution/context.rs:1444-1448`, the program doesn't check the length of `variable_names[0]`(in my cause the value is "@") and lead to fetching invalid address for `variable_names[0][0..2]`.
[code]

[2022-08-15 05:59] Ted-Jiang opened #3140 "approx_percentile_cont return wrong result when scan multi parquet files."
**Describe the bug**
I found in our env `approx_percentile_cont` return different result when running the same query.

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-15 06:00] Ted-Jiang commented on #3140
Interesting when create table with the same data in one file the results are same.
[code]

[2022-08-15 06:01] Ted-Jiang commented on #3140
@alamb @andygrove  PTAL

[2022-08-15 06:02] Ted-Jiang commented on #3140
and i repalaced 'approx_percentile_cont' with 'sum' and 'count(distinct)' , it works well.

[2022-08-15 06:07] Ted-Jiang commented on #3140
`approx_distinct` also works well 🤔

[2022-08-15 07:42] ozgrakkurt opened #3141 "Use existing parquet column as a partition column in ListingTable"
I have a big number of parquet files and they are partitioned by a column in their schema. Currently if I run a query by this column it seems like all of the files are checked. But if listing table keps statistics of this column per file and pruned the file list when running the query it would open a single file and a single row group inside that file. This would dramatically increase the performa

[2022-08-15 07:43] ozgrakkurt commented on #3141
More specifically I mean adding another field like `table_partition_cols` on `ListingOptions` which uses existing columns in the parquet schema and collects statistics per file on these columns while creating/registering the ListingTable

[2022-08-15 08:33] Ted-Jiang opened #3142 "Support create ApproxPercentileAccumulator with TDigest max_size"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We are using ApproxPercentileAccumulator to create self define udaf to calculate ApproxPercentile from pre-calculated data.

But i found in df
[code]
the DEFAULT_MAX_SIZE is always 100,
according to the `t-digest`

 When merging

means when facing large amount data using DEFAULT_MAX_SIZE is no

[2022-08-15 11:25] Ted-Jiang opened #3145 "Support number of histogram bins in approx_percentile_cont"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
like apache-hive
[code]
Need add args max_size of tdigest(aka histogram bins) in approx_percentile_cont,
when calculate large amount data we need more sample points to keep accuracy.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe a

[2022-08-15 11:55] alamb commented on #847
I believe through the hard work of @Ted-Jiang @thinkharderdev  @tustvold  and others, this feature is nearing fruition -

[2022-08-15 12:04] alamb opened #3147 "Push additional parquet filtering into the parquet scan [EPIC]"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The more filtering that can be pushed to the parquet reading, the faster a query will run in general as less work is needed to decode and process data that will eventually be filtered from the plan

There are several ongoing workstreams that will eventually lead to pushing down substantial add

[2022-08-15 12:34] alamb commented on #3100
I think this is best practice for all new OLTP and OLAP systems (always store data as UTC and then render into user locale as desired).

I think what makes it tougher in OLAP system is that the data being processed is often  created outside of Datafusion (aka in parquet or CSV files from some other system) which can and unforuntaely do write dates / times / timestamps other than UTC

In general, I

[2022-08-15 14:26] waitingkuo commented on #3100
Postgrseql deal with this in the similar way <https://www.postgresql.org/docs/current/datatype-datetime.html#DATATYPE-TIMEZONES>

If that's the case, should it be `Timestamp(Nanosecond, "UTC")` or `Timestamp(Nanosecond, None)`?

[2022-08-15 14:38] andygrove commented on #3012
@alamb Now that https://github.com/apache/arrow-datafusion/pull/3089 is merged, are we unblocked on cutting a DataFusion RC?

I have some small user guide PRs that I would like to get in first. How about I cut the RC this Friday, August 19?

[2022-08-15 15:30] waitingkuo opened #3148 "[EPIC] A collection of Date/Time related open issues"
This is followed on the Proposal for Date/Time enhancement  #3100
Please edit the list or comment bellow if you find something not listed here.

## Date/Time/Timestamp Types & Casting

- [x] #2883 - This is the initial work for `TIME` literal (i.e. make `SELECT TIME '00:00:00';` work)
- [x] apache/arrow-rs#2074 - This is to improve the performance of casting timestamp between different unit
- [x]

[2022-08-15 16:15] waitingkuo opened #3149 "cast to timestamp with time zone drops timezone"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

`now()` originally output `Timestamp(Nanosecond, Some("UTC"))`
[code]

it becomes `Timestamp(NanoSecond, None)` after casting to `timestamp with time zone`
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

should keep the timezone

[2022-08-15 16:44] alamb commented on #3140
cc @domodwyer  and @realno  who did some work in this area

[2022-08-15 16:48] alamb commented on #3012
Sounds great to me -- I don't know of any other imminent outstanding issues that I would recommend holding the release for

[2022-08-15 16:53] alamb commented on #3148
This is amazing @waitingkuo  -- thank you

[2022-08-15 18:05] alamb opened #3152 "Improve codebase readability and error messages by and consistently handle downcasting"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It is a common code pattern in DataFusion to downcast an `ArrayRef` to a concrete arrow array type.

There are actually at least *three* patterns to do so in the datafusion codebase https://github.com/apache/arrow-datafusion/search?l=Rust&q=downcast

I think this leads to
1. Poor user experien

[2022-08-15 18:06] alamb commented on #3152
cc @avantgardnerio and @Jimexist and @Dandandan

[2022-08-15 18:06] #3103 closed

[2022-08-15 18:11] alamb commented on #3152
I think this is a good first issue because it will be largely mechanical and will give potential contributors wide exposure to the codebase

[2022-08-15 18:27] alamb opened #3155 "Remove outdated license text left over from arrow repo"
I was reviewing code and noticed that https://github.com/apache/arrow-datafusion/blob/master/LICENSE.txt was a copy/paste from https://github.com/apache/arrow/blob/master/LICENSE.txt when we split out this repo. Thus it contains many incorrect and irrelevant references

[2022-08-15 18:41] #1352 closed

[2022-08-15 18:53] #2883 closed

[2022-08-15 18:54] alamb commented on #3100
When we are done with the discussion, perhaps we can close this issue and use https://github.com/apache/arrow-datafusion/issues/3148 as the coordination point for development

[2022-08-15 19:09] waitingkuo opened #3157 "Support Time comparison"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

we now have time but cannot be compared yet

[code]

**Describe the solution you'd l

[2022-08-15 19:19] #3155 closed

[2022-08-15 19:31] #3138 closed

[2022-08-15 19:32] andygrove commented on #3012
ok, will plan on cutting the RC once the docs changes are in, probably tomorrow

[2022-08-15 19:46] sarahyurick opened #3159 "Support "IS TRUE/FALSE" syntax"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A similar issue regarding "IS NOT TRUE/FALSE" syntax has already been opened (#2265), but it doesn't look like there is support for the "IS TRUE/FALSE" syntax either.

**Describe the solution you'd like**
Enum [datafusion](https://docs.rs/datafusion/2.0.0/datafusion/index.html)::[logical_plan]

[2022-08-15 20:01] andygrove opened #3160 "Regression in SQL support for `ORDER BY` and aliased expressions"
**Describe the bug**

## DataFusion 10.0 supports this query:

[code]

## DataFusion master fails:

[code]

**To Reproduce**

[code]

**Expected behavior**
Query should work

**Additional context**
None

[2022-08-15 20:15] waitingkuo commented on #200
@alamb

Postgresql has `AVG` and `SUM` for `time` but not `timestamps`

Should we close this and submit another ticket for `AVG(Time)` and `SUM(Time)`?

[2022-08-15 20:16] andygrove commented on #3160
According to `git bisect`, this regression was introduced in:

[code]

[2022-08-15 20:25] alamb commented on #3159
Looks like there is sqlparser support: https://docs.rs/sqlparser/latest/sqlparser/ast/enum.Expr.html#variant.IsTrue

Added in `0.18.0`:  https://github.com/sqlparser-rs/sqlparser-rs/blob/main/CHANGELOG.md#0180-2022-06-06

So this should be a fairly straightforward exercise -- note that `IS` and `=` are very subtlety differnt

Since we already have similar semantics for `IS` with the `IS NOT DISTIN

[2022-08-15 20:25] alamb commented on #3137
Thanks @syheliel  -- I'll take a look at this

[2022-08-15 20:28] waitingkuo commented on #3100
i think we could close it for now and move the discussion to #3148 and submit new ticket to discuss some big topics (e.g. timezone)

[2022-08-15 20:28] #3100 closed

[2022-08-15 20:49] alamb commented on #3125
Hi @ozgrakkurt  -- I definitely think it would be possible to implement

The current implementation simply takes `String` -- we would have to extend it to take `Binary` as well

https://github.com/apache/arrow-datafusion/blob/25725c0cfd1bc54f735c41a57c13d9b0e15c8d2b/datafusion/physical-expr/src/string_expressions.rs#L568

Here are some of the other places: https://github.com/apache/arrow-datafusio

[2022-08-15 20:53] waitingkuo commented on #3152
this is attractive 👍  let me try this

[2022-08-15 20:58] alamb commented on #200
@waitingkuo  -- I think that sounds like a good idea. I will do so.

[2022-08-15 20:58] #200 closed

[2022-08-15 21:06] alamb opened #3166 "Support `SUM` `AVG`, `MIN`, `MAX` on `Time` columns."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

DataFusion does not support `SUM`, `AVG`, `MIN` or `MAX` on `Time` type columns a standard SQL feature that could be used to sum how much cumulative time was spent doing some operation, for example

Reproducer is as follows:

[code]

Doing so today will result in

[code]

**Describe the solut

[2022-08-15 21:07] waitingkuo commented on #200
@alamb i just tested postgrseql, looks like SUM and AVG cast Time to Interval and then SUM / AVG them

[code]

this make sense otherwise SUM(Time) is just quite strange

[2022-08-15 21:07] alamb commented on #3166
I also think this is a relatively good first issue as it requires following the model for existing aggregates (e.g. SUM(int64)) so marking it as such.

[2022-08-15 21:07] alamb commented on #200
https://github.com/apache/arrow-datafusion/issues/3166 👍

[2022-08-15 21:08] waitingkuo commented on #3166
@alamb postgrseql cast time to interval and then do SUM and AVG

[2022-08-15 21:08] alamb commented on #3166
@waitingkuo notes that postgres does:

[code]

this make sense otherwise SUM(Time) is just quite strange

[2022-08-15 21:09] alamb commented on #3166
`java.lang.ConcurrentModificationException` 😆  (our updates got crossed)

[2022-08-15 21:10] alamb commented on #3059
This is probably due to https://github.com/sqlparser-rs/sqlparser-rs/pull/525 --

[2022-08-15 21:10] alamb commented on #3059
As this is a regression it would be nice to fix before 11 -- I will do so

[2022-08-15 21:16] waitingkuo commented on #3166
do we have interval for now?
[code]

but this works
[code]

[2022-08-15 21:28] sarahyurick commented on #3159
Thanks for the response! I'll start working on this.

[2022-08-15 21:31] #3160 closed

[2022-08-15 21:33] alamb commented on #3166
Since we are treating `Time` literals as `Nanosecond` precision, I agree @waitingkuo  that the output of `SUM()` and `AVG()` of `TIME` should be `Interval(MonthDayNano)` 👍

[code]

[2022-08-15 21:34] alamb commented on #3166
🤔  looks like another feature gap https://github.com/apache/arrow-datafusion/pull/3167#discussion_r946145318

[2022-08-15 21:34] #3082 closed

[2022-08-15 21:36] waitingkuo commented on #3166
what about `select interval '1 second'`, should we output `Interval(MonthDayNano)` for making them all consistent?

[2022-08-15 21:40] alamb commented on #3159
@sarahyurick  here is an example of doing something similar for `array`:

https://github.com/apache/arrow-datafusion/pull/3122/files#diff-c01a34949db6258aa1593f011ecf90f62cbde406acd5cdbf8b9b60b970ace1cfR2372-R2374

[code]

So in other words you can probably do something like (untested):

[code]

https://github.com/apache/arrow-datafusion/blob/ee55d89cbf20f4a6d17fe399c72d60dca6d67912/datafusion/exp

[2022-08-15 21:42] alamb commented on #3057
Agree -- now() should update between each statement but stay the same *within* a statement

[2022-08-15 21:44] alamb commented on #3028
Completed in This was completed in https://github.com/apache/arrow-datafusion/pull/3083 so closing this PR

[2022-08-15 21:44] #3028 closed

[2022-08-15 21:46] alamb commented on #3016
sqlparser support was added here: https://github.com/sqlparser-rs/sqlparser-rs/pull/569

I'll try and get a new release of that library out in a day or two

[2022-08-15 21:47] alamb commented on #2949
This would be awesome -- also related to #2504  / #2199  so we don't get uncontrolled parallelism

[2022-08-15 21:50] alamb commented on #2743
Closing as resolved. Let's reopen if it is still causing a problem

[2022-08-15 21:50] #2743 closed

[2022-08-15 22:41] alamb opened #3170 "`array[]` / `make_array()` will error if the types can not be coerced to a common type"
**Describe the bug**
`make_array()` will error if the types can not be coerced to a common type, as in postgres and spark

**To Reproduce**

Run this query (see `query_array_scalar_coerce` test added in https://github.com/apache/arrow-datafusion/pull/3122)

[code]

This results in an error:

[code]

**Expected behavior**
I expect this to return like postgres where it has coerced all the arguments

[2022-08-16 00:44] #3059 closed

[2022-08-16 01:47] JasonLi-cn opened #3172 "Rename `do_data_time_math()` to `do_date_time_math()`"
should this be `do_date_time_math()` instead of `do_data_time_math()`?

_Originally posted by @avantgardnerio in https://github.com/apache/arrow-datafusion/pull/3110#discussion_r945834995_

[2022-08-16 02:31] andygrove opened #3174 "Bug with csv type inference"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-16 05:20] #3137 closed

[2022-08-16 06:56] waitingkuo opened #3176 "Cannot import Time64 from CSV"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

create this `time.csv`
[code]

the query for time doesn't work while timestamp works

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-16 08:00] hrh007 opened #3177 "ObjectStore cannot support hdfs"
I notice the old version ObjectStore can use HDFS with project https://github.com/datafusion-contrib/datafusion-objectstore-hdfs.git; but current new ObjectStore is not suitable, can we fix this and integrate HDFS storage in arrow-datafusion

[2022-08-16 09:52] alamb commented on #3170
I actually think in general the coercion rules for `uniform` should attempt to coerce all arguments to the same type as the first argument

[2022-08-16 10:03] #3172 closed

[2022-08-16 10:21] thinkharderdev commented on #2949
@alamb I think we can close this one as we now have `get_ranges` in `ObjectStore` as well as https://github.com/apache/arrow-datafusion/pull/3051

[2022-08-16 10:49] waitingkuo commented on #3166
@alamb i've created a pull request for max and min #3178

`sum` and `avg` requires more work depends on some change for interval, i'll create another issue to discuss it. once we finished, i'll get back to this issue

[code]

[2022-08-16 13:47] #2949 closed

[2022-08-16 17:39] waitingkuo opened #3180 "Interval Literal output inconsistent date_type"
**Describe the bug**
A clear and concise description of what the bug is.

the output of `INTERVAL XXX` is inconsistent

**To Reproduce**
Steps to reproduce the behavior:

while we only have year or month, `it outputs IntervalYearMonth`
[code]

while we have (year or month) and any other unit, it outputs `IntervalMonthDayNano`
[code]

Otherwise, it outputs `IntervalDaytime`
[code]

**Expected behav

[2022-08-16 17:44] waitingkuo commented on #3166
@alamb i was wrong, current interval implementation outputs different data type according to different input #3180

[2022-08-16 19:20] waitingkuo commented on #3180
just found that it's designed in purpose. let me close this and fire another ticket for discussing

[2022-08-16 19:27] #3180 closed

[2022-08-16 20:53] alamb commented on #3166
Thanks @waitingkuo  -- I am starting to work through my review backlog and will catch up with this shortly

[2022-08-16 20:53] alamb commented on #3166
cc @ovr

[2022-08-16 21:03] #3166 closed

[2022-08-16 21:40] waitingkuo opened #3183 "`INTERVAL` literal with duplicated interval types should raise error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

note that it's not allowed in postgrseql
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-17 01:19] #1906 closed

[2022-08-17 02:41] JYInMyHeart opened #3184 "How to convert cassandra query results to DataFrame?"
Today I try to use datafusion and cassandra. But when I query some data from cassandra by `cdrs-tokio` . I don't know how to convert query results to DataFrame.

[2022-08-17 05:29] liukun4515 commented on #3031
There is the plan to do the rule:

- [ ] add rule framework and a simple example:  `select * from table where c1(int32) > 16`  the 16 will be casted to int32
- [ ] support other numeric type except decimal
- [ ] support decimal rule
- [ ] other complex rule, support inlist or inset

[2022-08-17 07:21] waitingkuo commented on #2902
@andygrove datafusion is added now <https://benchmark.clickhouse.com/> the pr is to add readme to reproduce the result. I think we can close this now

[2022-08-17 09:15] #3142 closed

[2022-08-17 09:15] #3145 closed

[2022-08-17 09:29] domodwyer commented on #3140
I wonder if this is something to do with serialisation/deserialisation of the `TDigest` state:

https://github.com/apache/arrow-datafusion/blob/929eb6d860fb60ba994b24397ad3c3eb7d839cdf/datafusion/physical-expr/src/aggregate/tdigest.rs#L577-L670

This is used when merging batches (`Accumulator::merge_batch`):

https://github.com/apache/arrow-datafusion/blob/929eb6d860fb60ba994b24397ad3c3eb7d839cdf/

[2022-08-17 09:41] alamb commented on #3140
I wonder if this could be related to "floating point error" error accumulation -- namely that floating point operations are approximations and can produce different values if executed in different order.

Given operations like repartitoning and thread ordering, I don't think there is any guarantee that a particular operator will see the same data in the same order if the same query is run more tha

[2022-08-17 09:43] Ted-Jiang commented on #3140
I have found after implement https://github.com/apache/arrow-datafusion/pull/3146#issue-1338872329
[code]
it not change when centroids numbers are 100000🤔

[2022-08-17 09:51] alamb commented on #3031
Here is a self contained reproducer for anyone following along:

[code]

The FilterExec line above should not have the CAST operations in them

[2022-08-17 09:53] alamb commented on #3031
And we can see that as @liukun4515 says the casting is added in the physical plan (rather than the logical plan):

[code]

[2022-08-17 09:54] Ted-Jiang commented on #3140
Agree! this only happen in multi files which includes different partition finish order.  I think `T-digest` merge in final aggregation  is like "floating point error" different input order return different result.

[2022-08-17 10:05] alamb commented on #3031
I agree the ideal outcome would be that the logical plan has the casts. I think the reason the type coercion / casting happens in the physical planner was some idea that it could be possible to use different implementations of physical exprs that might have different comparison rules (like some system that could natively compare i32 and i64 -- via a native kernel, for example)

I am not sure if th

[2022-08-17 10:06] alamb commented on #3031
Another alternative might be to follow the model of ConstEvaluator` (which operates on `Expr`s) any apply it to physical expressions 🤔
https://github.com/apache/arrow-datafusion/blob/3eb55e9a0510d872f6f7765b1a5f17db46486e45/datafusion/optimizer/src/simplify_expressions.rs#L397-L415

You would likely need changes to PhysicalExpr similar to what @iajoiner  and i were discussing on https://github.com

[2022-08-17 11:40] liukun4515 commented on #3148
@waitingkuo you can @ me to review your pr about the times.
I care about this part

[2022-08-17 12:07] liukun4515 commented on #3031
The `cast` adding in the creation of physical expr/physical plan.
It follow a generate rule for coerced binary comparison.
Like below:

INT32  < INT64 -> INT64

DECIMAL(10,2) < DOUBLE  -> Other decimal data type.

I think it all in the `comparison_binary_numeric_coercion` function.

This is just the general rule, and it works well in all cases.
But in many user case, we just use the literal as fil

[2022-08-17 14:39] alamb commented on #3031
Yes I agree

It sounds like you are proposing moving the coercion to the logical planning phase -- while I am not opposed to doing so I do think it is likely a large change which I think we'll want to run by other maintainers. But getting a PR up to do the change is the first step

I do think it is worth considering special casing just the casting in the physical planner (as the physical planner i

[2022-08-17 16:42] andygrove commented on #3031
+1 for optimization rules to perform type coercion in the logical plan. I am running into some issues around this myself and am seeing quite a lot of inconsistencies in how we currently handle this.

[2022-08-17 17:15] andygrove opened #3187 "`like_nlike_with_null_lt` fails with latest sqlparser code"
**Describe the bug**

[code]

**To Reproduce**
I'm seeing this on a PR that uses the latest sqlparser

**Expected behavior**
Should pass

**Additional context**
Non

[2022-08-17 17:30] andygrove opened #3188 "Re-implement parsing/planning for SHOW TABLES due to sqlparser changes"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We currently handle `SHOW TABLES` in in the planner when handling `Statement::ShowVariable` but sqlparser now returns `Statement::ShowTable` so we need to make corresponding changes.

**Describe the solution you'd like**
Make changes described above.

**Describe alternatives you've considered*

[2022-08-17 17:58] andygrove commented on #3187
Root cause: https://github.com/sqlparser-rs/sqlparser-rs/issues/578

[2022-08-18 02:05] liukun4515 commented on #3031
In my knowledge from other database system, the generation for physical expr will not do any changes for original expr and just do transformation from logical expr to physical expr.

I remember we discussed this a long time ago.

But this issue is not used to do this, and just to optimize the case described in the beginning of this issue.

We can pull a new issue to discussion why and how to migra

[2022-08-18 13:53] alamb opened #3190 "Panicked at 'byte index 1 is out of bounds on invalid query"
**Describe the bug**
 @syheliel reports the following errors:

[code]
Which will panic if the  length of variable names is less than 2 characters.

These bugs can be fixed by using get(0..2) instead of [0..2] for a slice.

**To Reproduce**
Here is one reproducer:

[code]

**Expected behavior**
A valid error message rather than panic

**Additional context**
This is similar to https://github.com/apa

[2022-08-18 13:54] alamb commented on #3190
This is probably a good first issue as the change is identified and there is a test case

[2022-08-18 16:56] andygrove opened #3192 "sqlparser 0.21 upgrade"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Tracking for work needed to upgrade to sqlparser 0.21. We are merging these changes into the `sqlparser-0.21` branch.

- [x] https://github.com/apache/arrow-datafusion/pull/3193
- [x] https://github.com/apache/arrow-datafusion/pull/3194
- [x] https://github.com/apache/arrow-datafusion/pull/31

[2022-08-18 17:27] alamb commented on #3192
Mailing list thread: https://lists.apache.org/thread/3h9gh68gw32xnzp2728r0wz485lrgbf9

I also think https://github.com/apache/arrow-datafusion/pull/3122 will be needed

@andygrove  is there a branch somewhere that you are using to do this integration?

[2022-08-18 17:28] andygrove commented on #3192
Yes, there is a `sqlparser-0.21` branch and some PRs already targeting it

[2022-08-18 18:20] sarahyurick commented on #2265
"IS NOT TRUE/FALSE" should be possible now that https://github.com/sqlparser-rs/sqlparser-rs/pull/583 has been merged. I can start working on this.

[2022-08-18 18:29] sarahyurick opened #3195 "Support "IS [NOT] UNKNOWN" syntax"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Similar to the issues regarding "IS NOT TRUE/FALSE" (#2265) and "IS TRUE/FALSE" (#3159), we should also support the "IS [NOT] UNKNOWN" boolean operator as well. Here is the Postgres documentation about how it works: https://www.postgresql.org/docs/current/functions-comparison.html

**Describe

[2022-08-18 18:40] alamb commented on #3031
Makes sense to me 👍  thank you @liukun4515

To be clear I think moving coercion to logical planning is a good idea, but I think it will be a non trivial change that will take some time.  Thus, I was suggesting the "special case physical expr planning" idea as a way to speed up casting in the short term

[2022-08-19 03:00] ShaoDaTao opened #3203 "datafusion cannot recognize chinese charactors."
**Describe the bug**
datafusion cannot recognize chinese charactors.

**To Reproduce**
1. simply create a csv file, put the title as name in chinese charactor: 扫描人
2. run the rust code as below,will get the parse error: Error: SQL(ParserError("Expected an expression:, found: 扫"))

`use datafusion::prelude::*;

#[tokio::main]
async fn main() -> datafusion::error::Result<()> {
  // register the tabl

[2022-08-19 03:48] dmetasoul01 commented on #3177
There's an hdfs object store implementation in the blaze project: https://github.com/blaze-init/blaze/blob/master/native-engine/datafusion-ext/src/hdfs_object_store.rs

[2022-08-19 04:23] hrh007 commented on #3177
Thanks@dmetasoul01 , I have implement one but not good; this will hlep

[2022-08-19 07:21] waitingkuo opened #3204 "Interval Literal doesn't work for timeunit less than millisecond"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

It works for millisecond
[code]

but doesn't work while the unit for second less than millisecond

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-19 08:54] francis-du commented on #3203
You can try this

[code]

[2022-08-19 10:35] alamb commented on #3115
Closed by https://github.com/apache/arrow-datafusion/pull/3199

[2022-08-19 10:35] #3115 closed

[2022-08-19 12:50] andygrove opened #3207 "Add SQL query planner support for `DISTRIBUTED BY`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Hive, Spark, Dask SQL all support `DISTRIBUTED BY` so I would like DataFusion to be able to build logical plans from these queries.

Spark: https://spark.apache.org/docs/latest/sql-ref-syntax-qry-select-distribute-by.html

**Describe the solution you'd like**
Add new `PartitioningScheme`

**De

[2022-08-19 13:10] #3192 closed

[2022-08-19 13:46] turbo1912 commented on #3096
Hello @waitingkuo, is anyone working on this? If not I can try this one (maybe this is even fixed with some of the other recent timestamp fixes)

[2022-08-19 13:49] isidentical commented on #3195
@sarahyurick are you currently working on this (or interested in it) (was wondering whether I can pick it up as my first contribution)?

Also quick question (to both you and @andygrove), I was briefly looking into the implementation of `IS UNKNOWN` and noticed that Arrow doesn't have a one-to-one mapping of `unknown` type. Does that mean `IS UNKNOWN` is going to check whether the value is null or

[2022-08-19 13:56] andygrove commented on #3187
Fixed as part of https://github.com/apache/arrow-datafusion/issues/3192

[2022-08-19 13:56] #3187 closed

[2022-08-19 13:56] andygrove commented on #3188
Fixed in https://github.com/apache/arrow-datafusion/issues/3192

[2022-08-19 13:56] #3188 closed

[2022-08-19 14:21] waitingkuo commented on #3096
@turbo1912 i'm not working on this. It's not fixed yet, we could only cast `Timestamp(Nanosecond, Some(\"UTC\")` to `Timestamp(Nanosecond, None)` for now.

[2022-08-19 16:09] sarahyurick commented on #3195
Sure, go for it! Feel free to tag me when you open the PR, too.

From what I understand, `IS UNKNOWN` should only work on boolean and null types (as opposed to `IS NULL` which works on all types). This would be consistent with the Postgres documentation.

In my current PR #3189, `IS TRUE/FALSE` only works on boolean and null types as well. My guess is that you can do pretty much the exact same imp

[2022-08-19 19:34] andygrove opened #3211 "Add `CREATE VIEW` documentation to user guide"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In docs/source/user-guide/sql/ddl.md we do not show that we support CREATE VIEW.

**Describe the solution you'd like**
Add docs

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-08-19 21:01] isidentical commented on #3195
Thanks a lot for your answer @sarahyurick! Really happy to work on it (I'll probably wait for #3189 to be merged first to send the PR, so we can reduce the number of conflicts).

[2022-08-19 21:07] sarahyurick commented on #3195
Sounds good to me - I'll also be opening a PR for #2265 after #3189 merges, so hopefully with both of our contributions we can get all of the boolean operations working!

[2022-08-19 23:52] madihabdul commented on #3211
Hi, I could take on this issue!

[2022-08-20 10:24] bezbac commented on #3174
Hello 👋🏻.

I haven't contributed here before but checked out this issue because of its "Good First Issue" label.
Maybe you could help me figure out what the expected behavior is.

The cell's value inside the CSV file (`14857091259186476033`) overflows the inferred type `Int64`.
So assuming the above query is supposed to work given the `aggregate_test_100.csv` file as input, I would suspect the col

[2022-08-20 10:57] alamb commented on #533
An update here:

There are several examples of people who have implemented their own custom query language / domain specific language using DataFusion. For example vega fusion with the vega language, and InfluxDB IOx with the language that underlies flux and influxql.

Typically the approach is to use the `LogialPlanBuilder` and skip the datafusion SQLPLanner entirely

One way we might be able to

[2022-08-20 10:59] alamb commented on #533
An extension planner then looks like

[code]

The issue with this approach is that it complicates the sql planner non trivially , so I am not sure it is a great idea

[2022-08-20 15:36] #3207 closed

[2022-08-20 15:47] alamb commented on #3211
Thanks @madihabdul !

[2022-08-21 09:35] Dandandan opened #3214 "Don't scan first column on empty projection"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Depends on: [#2603](https://github.com/apache/arrow-rs/issues/2603)

When we perform without needing the  like `SELECT COUNT(1) FROM table`, the plan always reads the first column (whatever this is). This is inefficient: in case of formats like Parquet we can avoid scanning / reading the colum

[2022-08-21 10:30] alamb commented on #3174
👋  @bezbac

I think looking into improving the inference in the arrow crate would be a good step

Another potential alternative to using UInt64 might be Decimal128 (though I don't want to mislead you too much here)

[2022-08-21 10:55] alamb commented on #3214
👍  this is an important optimization as `select count(*)` type queries are so common

[2022-08-21 11:03] ShaoDaTao commented on #3203
Thanks.

[2022-08-21 11:03] #3203 closed

[2022-08-21 14:28] jackwener opened #3216 "Consider to categorize Operator"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

categorize Operator.

----------- now ------------
Now, we put all operators in one level.
Like following:

[code]

**Describe the solution you'd like**

----------- want to do ------------

But, in fact, operator  are different categories.

we can

[code]

**Describe alternatives you've cons

[2022-08-21 14:30] jackwener commented on #3216
@alamb @liukun4515 @andygrove.

How do you think about this?

[2022-08-21 14:36] jackwener commented on #3216
This issue is inspired by my job.
I have researched many projects planner while working on new planner and cascades-optimizer for Apache Doris.
I think it's a points that can be optimized, which can make DF code is more clear and intuitive.

[2022-08-21 16:38] kmitchener commented on #3174
There's also a TODO directly related to this that could be cleaned up as part of this PR -> https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/tests/sql/mod.rs#L624

[2022-08-22 03:42] Ted-Jiang opened #3217 "Create bench for approx_percentile_cont aggregate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-08-22 14:44] #3217 closed

[2022-08-22 16:46] andygrove opened #3221 "Add TypeCoercion optimizer rule"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We currently do a lot of type coercion in the physical planning phase. I would like the ability to have type coercion and validation happen in the logical plan.

This would benefit projects such as Dask SQL that are using the SQL query planner.

**Describe the solution you'd like**
Add a new `

[2022-08-22 17:58] avantgardnerio opened #3224 "Upgrade to Arrow 21"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I would like to use the fix for `DoPutUpdateResult` from #2404 in DataFusion, but to get it we have to upgrade to Arrow 21.

**Describe the solution you'd like**

Upgrade to Arrow-rs v21.

**Describe alternatives you've considered**

There is no alternative ;)

**Additional context**

N/A

[2022-08-23 02:23] #3108 closed

[2022-08-23 02:43] comphead commented on #3123
I will try to solve it

[2022-08-23 07:56] #3057 closed

[2022-08-23 13:51] andygrove opened #3234 "`DISTRIBUTE BY` expressions get removed during optimization"
**Describe the bug**
`DISTRIBUTE BY` expressions get removed during optimization.

**To Reproduce**
See test in https://github.com/apache/arrow-datafusion/pull/3229

**Expected behavior**
`DISTRIBUTE BY` expressions should not get removed during optimization
**Additional context**
None

[2022-08-23 15:02] #3234 closed

[2022-08-23 17:49] sarahyurick commented on #2265
@alamb do you think there's a quick solution (like #3235) for this case as well? Or should the implementation look similar to #3189?

[2022-08-23 18:44] kmitchener opened #3236 "CREATE VIEW should return an empty dataframe on success"
**Describe the bug**
A clear and concise description of what the bug is.

When executing CREATE VIEW, it runs the given SQL and returns it:
[code]
This is a problem when you just want to create a view that may return a lot of data. It should behave like other "create" commands like create external table, which just captures the definition but doesn't select * from it.

**To Reproduce**
Steps to re

[2022-08-23 19:53] comphead commented on #3123
@alamb looks like it was already fixed in #2194

[code]

[2022-08-23 21:08] andygrove opened #3240 "View TableProvider ignores projections, resulting in invalid plans"
**Describe the bug**
View TableProvider ignores projections, resulting in invalid plans.

**To Reproduce**
TBD - will post PR with test case soon

**Expected behavior**
Should not ignore projection

**Additional context**
None

[2022-08-23 22:39] sarahyurick commented on #2265
Mostly asking because if it's the latter, I could edit #3189 to be for "IS NOT TRUE/FALSE" instead. Otherwise, I'll close that PR.

[2022-08-24 00:00] #3069 closed

[2022-08-24 03:15] liukun4515 commented on #3221
@andygrove
I go through the spark code about the type coercion and find https://github.com/apache/spark/blob/55c3347c48f93a9c5c5c2fb00b30f838eb081b7f/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/analysis/Analyzer.scala#L323

Spark has put the type coercion to the analysis phase, but DF don't have this phase.

[2022-08-24 12:25] #3236 closed

[2022-08-24 12:26] #3159 closed

[2022-08-24 13:36] andygrove opened #3247 "Add type checking to logical plan for `IsDistinctFrom / IsNotDistinctFrom` expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We now support `IS TRUE`, `IS FALSE`, `IS UNKNOWN` (https://github.com/apache/arrow-datafusion/pull/3235, https://github.com/apache/arrow-datafusion/pull/3246)).

We are not yet doing any type validation in the logical plan.

**Describe the solution you'd like**
Add type validation as part  of

[2022-08-24 14:27] andygrove opened #3248 "Remove redundant projection when querying a view"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/pull/3242 fixes a correctness issue where a projection was being ignored. However, the physical plan now contains a redundant projection and it would be good to remove it.

Example:

[code]
The physical plan returned from `ViewTable::scan` is:

[co

[2022-08-24 14:32] #3195 closed

[2022-08-24 14:48] andygrove opened #3249 "`ViewTable::scan` ignores filters and limits"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We are missing an optimization opportunity when querying views. We should apply the supplied filter and limit to the logical plan before creating the physical plan in `ViewTable::scan` so that the query gets optimized with push down.

**Describe the solution you'd like**
As above.

**Describe

[2022-08-24 16:10] kmitchener opened #3251 "implement `DROP VIEW`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-08-24 18:48] avantgardnerio commented on #3148
Proposal:

We attack this in multiple steps parts:
1. Add `timestamp` but not `timestamp with timezone`
2. Hard code the server "local" time zone to always be UTC, such that `show time zone` always returns UTC and `set time zone 'UTC'` is the only `set` command that will not produce an error
3. Add `timestamp with timezone`, but it will always be UTC due to the above
4. Add support for `set time z

[2022-08-24 20:00] kmitchener commented on #3251
@andygrove can you assign this to me? I'll do it

[2022-08-24 20:53] avantgardnerio opened #3255 "Add support for `get` / `show` timezone"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Presently, `show timezone` does not work:

[code]

**Describe the solution you'd like**

Instead, I would like:

[code]

To always return 'utc'.

[code]

Should succeed.

[code]
should return an error.

and
[code]
should return the same error.

This should:
1. make the work @waitingkuo is doi

[2022-08-24 20:54] avantgardnerio commented on #3255
@andygrove @waitingkuo @alamb @tustvold

[2022-08-24 21:21] #2265 closed

[2022-08-25 03:47] #3190 closed

[2022-08-25 09:34] #3240 closed

[2022-08-25 10:51] nvartolomei opened #3257 "Adopt physical plan serde from arrow-ballista"
Hi. I'm wondering about your thoughts on adopting the physical plan serde code from ballista: https://github.com/apache/arrow-ballista/tree/master/ballista/rust/core/src/serde/physical_plan.

This will allow other users of datafusion to use and extend it (including ballista). The problem with using ballista code serde code in other projects is that it is ballista specific, rather than datafusion.

[2022-08-25 13:30] HaoYang670 commented on #3249
Hi Andy. After learning and contributing to arrow-rs for several months, I'd like to focus on Datafusion from now to find more interesting things to learn. As this ticket is marked as `good first issue`, I guess this could be a good start for me. So I'd like to have a try!

[2022-08-25 14:09] andygrove opened #3259 "`PreCastLitInComparisonExpressions` should use ExprRewriter and supported nested expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PreCastLitInComparisonExpressions does not use ExprRewriter so does not support some nested expressions, such as aliased expressions.

Failing test to demonstrate the issue. It works if the aliases are removed.

[code]

**Describe the solution you'd like**
Use `ExprRewriter` and support nested

[2022-08-25 14:21] timvw opened #3261 "(Re-)add support for glob patterns in ListingTableUrl"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Since the much needed cleanup and rationalization in #2578 of ListingTableUrl there is only support for glob patterns when no scheme is provided (in practice: only supported on local filesystem and not on other object_stores anymore).

**Describe the solution you'd like**
To have proper suppor

[2022-08-25 14:39] avantgardnerio commented on #3249
Good luck @HaoYang670 , welcome, and please feel free to submit a draft PR or ask questions here if you run into issues!

[2022-08-25 14:45] tustvold commented on #3261
The reason I didn't do this is glob characters aren't URL-safe, so something like `s3://bucket/path/*.parquet` isn't a valid URL. I could only find examples of systems that supported glob expressions to local filesystem, and so I wasn't really sure how best to encode globs in URLs and opted to just punt on it.

Some possible ideas:

* Just ignore that it isn't a valid URL and accept the fact it is

[2022-08-25 15:31] andygrove opened #3263 "`CREATE EXTERNAL TABLE` from CSV creates a table with no columns if there is just a header row"
**Describe the bug**

`CREATE EXTERNAL TABLE` from CSV creates a table with no columns if there is just a header row.

**To Reproduce**

Create test file:

[code]

In datafusion-cli:

[code]

Table is created:

[code]

But it has no columns:

[code]

Works fine if there is data:

[code]

**Expected behavior**
See above

**Additional context**
None

[2022-08-25 15:33] thinkharderdev opened #3264 "Disable spill to disk globally"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Certain operators (Sort, HashJoin, etc) support spill-to-disk if they have to buffer

[2022-08-25 15:42] andygrove opened #3265 "`CREATE TABLE` should return empty DataFrame"
**Describe the bug**

`CREATE TABLE` should just create the table and not run a query selecting the contents of the table.

[code]

This issue was already fixed for `CREATE VIEW` in https://github.com/apache/arrow-datafusion/issues/3236

**To Reproduce**
:point_up:

**Expected behavior**
:point_up:

**Additional context**
None

[2022-08-25 16:13] comphead commented on #3170
@alamb this issue description confronts with #3123
Which one should be done?

[2022-08-25 16:37] andygrove opened #3266 "Add support for non-correlated subqueries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I would like to be able to run this query:

[code]

It currently fails with:

[code]

This is because the existing subquery optimizer rules fail to rewrite the query.

It should be possible to rewrite the query as a join:

[code]

**Describe the solution you'd like**
:point_up:

**Describe al

[2022-08-25 16:41] avantgardnerio commented on #3266
FYI this should not be super-hard. I actually started adding uncorrelated support, and there is even an example of it [here](https://github.com/apache/arrow-datafusion/blob/92110ddba004ca585649d1ba97dcb67f20fc0779/datafusion/optimizer/src/decorrelate_where_in.rs#L162). CC @DaltonModlin

[2022-08-25 16:45] comphead commented on #3263
@andygrove I'll take it

[2022-08-25 17:02] avantgardnerio commented on #3257
I would favor moving this into the DataFusion repo. It makes sense to have serialization be at the same level as the object that is being defined.

[2022-08-25 17:24] #3259 closed

[2022-08-25 18:03] kmitchener commented on #3265
I'll do this one after #3251 is merged into master. that has a small refactoring of returning empty dataframes that this should use.

[2022-08-25 19:09] timvw commented on #3261
A couple of thoughts:

* A ListingTableUrl is currently different than just a valid Url.
** When this is not true, why not simply use Url?
** Perhaps TablePath was a more suitable name for this concept?
** And the url field could have been an object_store::path

* The "glob" syntax seems to be well-known and universally accepted to represent a set of files
** https://docs.rs/glob/latest/glob/struc

[2022-08-25 19:09] #3261 closed

[2022-08-25 21:06] andygrove opened #3268 "Introduce `Expr` variants for `IS [NOT] TRUE / FALSE / UNKNOWN`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In https://github.com/apache/arrow-datafusion/pull/3252 we added support for SQL `IS [NOT] TRUE/FALSE` by mapping to the existing logical binary operator `Is[Not]DistinctFrom`. This resulted in a small PR compared to introducing new `Expr` variants such as `IsNotTrue`, but the downside is that

[2022-08-25 21:07] andygrove commented on #3268
@sarahyurick fyi

[2022-08-25 21:09] andygrove opened #3269 "Introduce physical plan version of `Operator` enum"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The `Operator` enum is shared between logical and physical plans. I would like to have a separate version for physical plans so that they can start to diverge.

For example, in https://github.com/apache/arrow-datafusion/issues/3268, I would like to add `Expr::IsTrue` but map it to the existing

[2022-08-25 21:14] andygrove commented on #3268
Another option would be to add `Operatror::IsTrue` instead of a new `Expr`.

[2022-08-25 21:16] #3269 closed

[2022-08-25 22:33] kmitchener commented on #3266
When this works, q15 in the TPCH benchmark should work as well.

[2022-08-25 22:43] DaltonModlin commented on #3266
I'll take a look into this issue as I'm currently trying to fix q15 for TPCH benchmarks.

[2022-08-26 13:34] kmitchener commented on #3211
@madihabdul do you need some assistance with this issue? I'd be happy to help

[2022-08-26 14:41] sadilet commented on #3263
@comphead Hey, sorry, I didn't see your comment yesterday. I've started investigating this as soon as this issue got out, next time will notify about that and avoid such cases.

[2022-08-26 15:06] comphead commented on #3263
@sadilet :) looks like we submitted PRs the same time.
@andygrove you can take any you like.

[2022-08-26 15:12] sadilet commented on #3263
@comphead Your code has tests. It makes sense to close my PR.

[2022-08-26 15:45] avantgardnerio commented on #3266
I think there are three things preventing q15 from working:
1. projections in the view definition (now fixed by @DaltonModlin )
2. a different view-related error @DaltonModlin is working on presently
3. The uncorrelated issue we're chatting on right now

# 2 & # 3 could be worked on independently I believe.

[2022-08-26 16:05] kmitchener commented on #3266
4 things! We need the PR for drop view #3267 to be merged in too for q15. :)

I can take a stab at this issue, but I wouldn't care if someone came up with a competing patch .. plan optimization is totally new to me so I'm not sure how successful I'll be over what timeframe.

[2022-08-26 16:13] DaltonModlin commented on #166
As mentioned in #3266 I believe there are currently 3 more issues to be solved for a successful Q15 run.

1. The current failure in which the view created in the first part doesn't populate the context's table names hashmap before the select portion's logical plan is being built. I'll create a new issue and mention this issue for easier reference.
2. #3266
3. #3267

[2022-08-26 16:23] DaltonModlin opened #3273 "Execute LogicalPlans after building for TPCH Benchmarks"
**Describe the bug**
Currently, running Q15 fails when attempting to build the second (SELECT) portion of the overall query.

The error is similar to the following:

[code]

**To Reproduce**
Run test run_q15 in `benchmarks/src/bin/tpch.rs`

**Expected behavior**
I expect the test to fail due to either #3266 or #3267

**Additional context**
The table names just before failure are:
[code]
I'm unsure

[2022-08-26 16:25] avantgardnerio commented on #3273
@kmitchener @andygrove @alamb

[2022-08-26 16:36] kmitchener commented on #3273
This is happening because of the way tpch is running the test queries. q15 is made up of 3 SQL statements. run_query() attempts to create a plan for each of them before executing them. The second statement in q15 references the revenue0 view created in the first statement (which isn't created yet), so the planning of the second statement fails.

Probably run_query() should be modified to execute t

[2022-08-26 16:43] DaltonModlin commented on #3273
That's exactly what I was thinking looking at it last night, and I was just writing a test to confirm by splitting the query. @kmitchener good to know I'm moving in the right direction. Assuming I get a different error by splitting the query, I'll try and rewrite the testing processing in tpch.rs and see if it fixes this problem.

[2022-08-26 17:07] sadilet commented on #3068
@andygrove please, check it

[2022-08-26 17:12] psvri commented on #2848
Hello,

If this is still open , I would like to pick this up.

[2022-08-26 17:16] sadilet commented on #2859
@Veeupup Hey, how is it coming along? @xudong963 could I also try to fix this issue?

[2022-08-26 20:34] avantgardnerio commented on #3273
This :point_up: . AFAIK, the TPC-H queries are what they are, and we have to run them as such. This one is ensuring we support multiple queries in one command, so to be TPC-H compliant I think it has to "just work".

[2022-08-26 20:39] #3263 closed

[2022-08-27 01:48] Veeupup commented on #2859
sorry, I have been busy with some other stuff these times and forgot it...
@sadilet feel free to take it!

[2022-08-27 03:48] xudong963 commented on #2859
@sadilet  Thanks!

[2022-08-27 11:53] liukun4515 commented on #3268
Hi @andygrove Do we need the  other unary expression for `IS_TRUE, IS_FALSE...`  ？
I go through preview pr for adding the sql syntax for above expr like that which convert the `IS_TRUE` to the binary expr
[code]
I am not sure if it is a good way.

[2022-08-27 12:33] avantgardnerio commented on #2025
I think @matthewmturner is on to something. The SQL in this issue is straightforward and makes sense from an intuitive user perspective. Why it doesn't work seems like a limitation of DataFusion:

1. Additional TableProviders can be registered in Rust applications (i.e. datafusion-tui or ballista)
2. Files can be registered in SQL dynamically at run time - but for built-in TableProviders only
3. H

[2022-08-27 13:23] jonmmease opened #3281 "FilterPushDown optimization through UNION ALL results in SchemaError"
**Describe the bug**
There seems to be an interaction between the `FilterPushDown` logical optimization and the `UNION ALL` operator that results in a `SchemaError`.

Here is the simplest example I was able to identify:

**To Reproduce**
[code]
[code]

**Expected behavior**
This code block should evaluate successfully to an empty record batch containing the `renamedA` column.

**Additional context

[2022-08-27 13:28] jonmmease commented on #3281
Here is the optimized logical plan for the example above:
[code]

It looks like the filter is pushed down too far (below the projection that creates the `renamedA` column).

[2022-08-27 14:23] jonmmease commented on #3281
Possibly related to https://github.com/apache/arrow-datafusion/issues/1509 and https://github.com/apache/arrow-datafusion/pull/1781

[2022-08-29 06:20] HaoYang670 commented on #3214
I find this comment: https://github.com/apache/arrow-datafusion/blob/master/datafusion/optimizer/src/projection_push_down.rs#L98-L100

It says that `Ensure that we are reading at least one column from the table`. Is there any reason or background of why we need to do this?

[2022-08-29 07:12] Dandandan commented on #3214
The reason is that several Arrow readers don´t support empty projections. I added a PR for csv / json upstream https://github.com/apache/arrow-rs/pull/2604

[2022-08-29 07:25] HaoYang670 commented on #3214
Thank you, @Dandandan. I could reproduce the error when reading csv with empty projection
[code]

If this depends on the support of arrow-rs, should we add a new label such as `arrow-dependency` for this issue.

[2022-08-29 09:01] #3073 closed

[2022-08-29 14:56] andygrove opened #3283 "`project_column_with_filters_that_cant_pushed_down_always_true` only passes if plan is optimized twice"
**Describe the bug**
In `execute_to_batches`, we create the physical plan from an optimized logical plan. This results in the plan being optimized twice. Fixing this causes a regression in `project_column_with_filters_that_cant_pushed_down_always_true`.

[code]

**To Reproduce**
Modify `execute_to_batches` to pass the unoptimized logical plan to `create_physical_plan`.

**Expected behavior**
Test

[2022-08-29 15:22] isidentical commented on #3283
This is interesting, if you haven't already started @andygrove I'd like to take a look at it (by initially fixing the underlying bug in the test and then fixing the test logic).

[2022-08-29 15:29] avantgardnerio commented on #3283
This is a really interesting aspect of optimizer rules I've encountered before, and am not sure how to best address:

1. We can run them in a particular order - this is brittle and changing the order or running them twice can break things. They become very hard-coded to rely on that order over time.
2. We could run them iteratively until we detect no change to the plan, or we reach a "max depth" w

[2022-08-29 15:30] andygrove opened #3284 "`datafusion_expr::utils::from_plan` drops aggregate expressions"
**Describe the bug**
`datafusion_expr::utils::from_plan` drops aggregate expressions due to a coding error.

**To Reproduce**
PR coming up shortly

**Expected behavior**
Should not do this

**Additional context**
None

[2022-08-29 15:32] #3284 closed

[2022-08-29 15:40] avantgardnerio commented on #3214
Might `count(*)` be as simple as a stats lookup in Parquet or DeltaLake? Reading a billion values just to count them seems sub-optimal, but that can definitely be addressed with a TODO and a future PR.

[2022-08-29 16:39] andygrove opened #3285 "`ProjectionPushDown` creates invalid `Aggregate` plans"
**Describe the bug**
`ProjectionPushDown` creates invalid `Aggregate` plans where the schema does not match the grouping and aggregate expressions.

**To Reproduce**
PR coming up with validation to catch this.

**Expected behavior**
Schema should have one field per grouping and aggregate expression.

**Additional context**
None

[2022-08-29 17:00] Dandandan commented on #3214
You're right, for a schema provider that has statistics available, we can skip scanning.
AFAIK DataFusion already has support for using the statistics-provided count/min/max from the provider (e.g. delta lake).

You're right that we could also use the parquet statistics for files instead of skipping reading the columns. I think we don't support this yet. At least for min/max statisticd his avoids

[2022-08-29 17:26] comphead commented on #3248
@andygrove I'll take it

[2022-08-29 17:27] #3012 closed

[2022-08-29 18:35] andygrove opened #3288 "Physical planner should map `IsTrue` and similar expressions to `IsDistinctFrom`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

https://github.com/apache/arrow-datafusion/pull/3275 adds new logical expressions fo

[2022-08-29 19:10] andygrove opened #3289 "Apply `TypeCoercion` rule before `FilterPushDown`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

https://github.com/apache/arrow-datafusion/pull/3222 adds a new `TypeCoercion` rule. The rule is currently applied after filter push down but it could be beneficial to do this earlier. This is a follow on issue to do that work.

We need to implement https://github.com/apache/arrow-datafusion/

[2022-08-30 02:24] xudong963 opened #3291 "Run tpch q5 with 100G data got error"
**Describe the bug**
[code]

**To Reproduce**
command:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-08-30 08:08] DhamoPS commented on #78
@Dandandan I am working on a fix for this issue. I will create a PR this week for your approval.
Currently, Join Predicates which are part of OR Expressions are not handling properly in planner.rs. I handle this scenario and ensure that Join Predicates are handled properly. With this fix, Q19 would run faster without any change in Query. Thanks

[2022-08-30 08:08] #3273 closed

[2022-08-30 09:15] crepererum opened #3295 "`ConfigOptions` creation is slow"
**Describe the bug**
`ConfigOptions::new` and `ConfigOptions::from_env` grow their internal `HashMap` during creation even though they know that size beforehand.

**To Reproduce**
Create `ConfigOption` very often, attach a sampling profiler.

**Expected behavior**
Be efficient, use `HashMap::with_capacity`.

**Additional context**
Nothing.

[2022-08-30 12:59] ozgrakkurt commented on #3125
@alamb I think implementing `encode` and `decode` functions like postgresql would be the best. I can work on it if you give me a general direction

[2022-08-30 14:44] #3295 closed

[2022-08-30 20:51] #2360 closed

[2022-08-30 20:51] #3266 closed

[2022-08-30 20:55] #3268 closed

[2022-08-30 20:56] ozgrakkurt opened #3300 "Support binary types in InList expression"
Currently it gives `This feature is not implemented: InList does not support datatype Binary.` Should be straight forward to add a match arm for it in https://github.com/apache/arrow-datafusion/blob/3eb55e9a0510d872f6f7765b1a5f17db46486e45/datafusion/physical-expr/src/expressions/in_list.rs#L694

[2022-08-30 22:42] andygrove opened #3302 "datafusion-proto does not support untyped null scalar values"
**Describe the bug**
datafusion-proto does not support untyped null scalar values

**To Reproduce**
[code]

**Expected behavior**
Should work

**Additional context**
None

[2022-08-30 23:14] andygrove opened #3304 "Add type coercion/validation for `Is[Not]True` and similar statements"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Once https://github.com/apache/arrow-datafusion/pull/3301 and https://github.com/apache/arrow-datafusion/pull/3222 are merged, let's add type validation for IsTrue/False/Unknown to ensure that the left expr is a boolean.

**Describe the solution you'd like**
As above

**Describe alternatives y

[2022-08-30 23:19] #3224 closed

[2022-08-31 07:26] HaoYang670 commented on #3300
Hi @ozgrakkurt, are you working on it? If not, I'd like to have a try.

[2022-08-31 07:54] ozgrakkurt commented on #3300
Hi @HaoYang670, yes sure thank you, I didn't start to work on it yet

[2022-08-31 10:35] #3302 closed

[2022-08-31 11:08] alamb commented on #78
Thanks @DhamoPS  -- note that @xudong963  implemented https://github.com/apache/arrow-datafusion/pull/2858 which may have helped

[2022-08-31 11:11] alamb commented on #3216
Hi @jackwener  -- sorry for my delay in responding I have been away.

My opinion here is that your suggestion would make the code clearer. However, given the relative maturity (aka how many other people use it) of DataFusion making the change now would be realtively expensive; I am not sure the improvements would be worth the cost at this time.

[2022-08-31 11:17] jackwener commented on #3216
Agree with this,

[2022-08-31 11:18] alamb commented on #3170
@comphead  I think https://github.com/apache/arrow-datafusion/issues/3123 and this ticket are different

This ticket is about the input types of the arguments to `array[]`

https://github.com/apache/arrow-datafusion/issues/3123 is about the output type produced by the `array[]` function

[2022-08-31 11:27] alamb commented on #3123
👍  thanks @comphead  -- not sure what I was thinking about

[2022-08-31 11:27] #3123 closed

[2022-08-31 13:22] alamb commented on #3125
Thanks @ozgrakkurt  -- sounds good

I would find a similar function -- perhaps find one that looks similar in https://docs.rs/datafusion-expr/11.0.0/datafusion_expr/enum.BuiltinScalarFunction.html

The data type is `DataType::Binary` and `DataType::LargeBinary` -- and the corresponding Array type is https://docs.rs/arrow/21.0.0/arrow/array/type.BinaryArray.html

[2022-08-31 13:25] kmitchener opened #3307 "add SQL support for tinyint and unsigned versions of all INTs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Currently there is no SQL support for TINYINT, or the unsigned versions of TINYINT,

[2022-08-31 13:27] alamb commented on #3148
Thank you @avantgardnerio and @waitingkuo  for driving this issue. It is awesome to see

[2022-08-31 13:29] alamb commented on #3255
For what it is worth, here is what postgres does (mostly what @avantgardnerio  has proposed). Note there is an `=` in `SET TIMEONE=''`;

[code]

[2022-08-31 13:30] alamb commented on #3255
(the proposal in this ticket sounds good to me)

[2022-08-31 13:39] alamb commented on #3214
I think @tustvold  has been thinking of this in the context of the various parquet reader improvements

[2022-08-31 13:55] alamb commented on #3211
@kmitchener   given there is no PR up if you don't hear from @madihabdul  I would recommend just proceeding. Thank you for checking first.

[2022-08-31 14:14] ozgrakkurt opened #3308 "Support binary data in sha hash functions"
Currently they don't support binary which doesn't make sense. It should be fairly easy to add support.

[2022-08-31 14:44] tustvold commented on #3214
I think there are two different optimisations being discussed here:

* Skip interacting with the file based on catalog statistics if available
* Remove projection "hack" and delegate to file readers

Parquet has supported the latter since https://github.com/apache/arrow-rs/pull/1560, and CSV/JSON will support it once https://github.com/apache/arrow-rs/pull/2604 is released. I think it should be th

[2022-08-31 15:10] alamb commented on #3214
Yes, this is what I was talking about. https://docs.rs/datafusion/latest/datafusion/physical_optimizer/aggregate_statistics/struct.AggregateStatistics.html is very cool 👍 (thanks @rdettai !)

[2022-08-31 20:41] avantgardnerio opened #3310 "Support registration of custom TableProviders through SQL"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

As a DataFusion / Ballista user, one awesome feature is that I can create custom table providers and register them on the context to support datasources not built into DataFusion itself (e.g. DeltaLake). However, if I make my own server (i.e. Ballista fork or Ballista with plugins) I cannot a

[2022-09-01 01:28] andygrove opened #3312 "Review use of panic in `datafusion-expr` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]

**Describe the solution you'd like**
Review code that can panic and see where it makes sense to return a `Result` instead. For example, It is generally better to use `?` than `unwrap`on results.

The goal is not to remove all panics but review and make sure we are using them appropria

[2022-09-01 01:33] andygrove opened #3313 "Review use of panic in `datafusion-common` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
Review code that can panic and see where it makes sense to return a `Result` instead. For example, It is generally better to use `?` than `unwrap`on results.

The goal is not to remove all panics but review and make sure we are using them appropriat

[2022-09-01 01:34] andygrove opened #3314 "Review use of panic in `datafusion-optimizer` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
Review code that can panic and see where it makes sense to return a `Result` instead. For example, It is generally better to use `?` than `unwrap`on results.

The goal is not to remove all panics but review and make sure we are using them appropriat

[2022-09-01 01:35] andygrove opened #3315 "Review use of panic in `datafusion-sql` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
Review code that can panic and see where it makes sense to return a `Result` instead. For example, It is generally better to use `?` than `unwrap`on results.

The goal is not to remove all panics but review and make sure we are using them appropriat

[2022-09-01 01:37] andygrove opened #3316 "Remove panics from `datafusion-physical-expr` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
Use `Result` instead

**Describe alternatives you've considered**
None

**Additional context**
Generated by https://github.com/andygrove/no-need-to-panic

[2022-09-01 01:39] andygrove opened #3317 "Review use of panics in `datafusion-row` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
Review code that can panic and see where it makes sense to return a `Result` instead. For example, It is generally better to use `?` than `unwrap`on results.

The goal is not to remove all panics but review and make sure we are using them appropriat

[2022-09-01 01:40] andygrove opened #3318 "Review use of panic in `datafusion-proto` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
Review code that can panic and see where it makes sense to return a `Result` instead. For example, It is generally better to use `?` than `unwrap`on results.

The goal is not to remove all panics but review and make sure we are using them appropriat

[2022-09-01 01:41] andygrove opened #3319 "Review use of panics in `datafusion-core` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
Review code that can panic and see where it makes sense to return a `Result` instead. For example, It is generally better to use `?` than `unwrap`on results.

The goal is not to remove all panics but review and make sure we are using them appropriat

[2022-09-01 03:30] iajoiner commented on #3312
I will take this one.

[2022-09-01 03:51] liukun4515 commented on #3304
@andygrove we should follow this doc from PG
https://www.postgresql.org/docs/current/functions-comparison.html

[2022-09-01 03:52] liukun4515 commented on #3304
[code]

[2022-09-01 03:53] liukun4515 commented on #3304
The left expr must be BOOLEAN DATA TYPE, and can't be casted to the boolean type

[2022-09-01 07:58] waynexia opened #3321 "test case `timestamp_add_interval_months` failed on master branch"
**Describe the bug**

UT case `timestamp_add_interval_months` failed to run on master (commit 3d37016de3647d90e6f78fd0e106142923799969)

**To Reproduce**

[code]

I got this error:
[code]

**Expected behavior**

Pass this test

**Additional context**
Add any other context about the problem here.

[2022-09-01 08:00] HaoYang670 opened #3322 "`sql::timestamp::timestamp_add_interval_months` test fails"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run `cargo test`

**Expected behavior**
The test should pass

**Additional context**
Add any other context about the problem here.

[2022-09-01 08:01] waynexia commented on #3321
I propose to add [this trigger](https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_dispatch) to our CI file that allows us to trigger an action manually

[2022-09-01 08:01] HaoYang670 commented on #3322
duplicate of #3321

[2022-09-01 08:01] #3322 closed

[2022-09-01 08:05] waynexia commented on #3321
It looks like both #3305 ([action](https://github.com/apache/arrow-datafusion/runs/8129497515?check_suite_focus=true)) and #3320 ([action](https://github.com/apache/arrow-datafusion/runs/8130076973?check_suite_focus=true)) are affected by this.

[2022-09-01 08:16] waynexia commented on #3321
Submitted #3323

[2022-09-01 12:11] kmitchener opened #3325 "add SQL support for unsigned integers"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Related to PR #3309 which wants to add SQL support for tinyint and unsigned ints. Th

[2022-09-01 12:13] kmitchener commented on #3325
@liukun4515 @alamb for discussion

[2022-09-01 12:27] andygrove opened #3326 "`CAST` should not change the name of an expression"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

DataFusion differs from Spark and Postgres in the naming of CAST expressions. Spark and Postgres casts do not rename the column.

## Spark

[code]

## Postgres

[code]

## DataFusion

[code]

**Describe the solution you'd like**
cast should not change expression name in results

**Describe al

[2022-09-01 12:42] andygrove opened #3327 "`sql::timestamp::timestamp_add_interval_months` failing since September 1st"
**Describe the bug**
`sql::timestamp::timestamp_add_interval_months` uses `now()` so it not deterministic, and started failing today.

**To Reproduce**
Run tests

**Expected behavior**
Should not fail

**Additional context**
None

[2022-09-01 12:53] andygrove commented on #3327
duplicate of https://github.com/apache/arrow-datafusion/issues/3321

[2022-09-01 12:55] #3327 closed

[2022-09-01 13:04] alamb commented on #3325
Thank you for this wonderful writeup @kmitchener

I personally don't have a strong opinion one way or the other in terms of how important it is to support unsigned variants. My default position is if someone finds `unsigned` support useful then we should support it

The most realistic usecase I can imagine is creating `RecordBatch`es that are passed to some other system that expect `unsigned` type

[2022-09-01 13:30] kmitchener commented on #3325
It seems to me to be a useful extension, especially for testing and the cast() support. I doubt there are real-world situations where someone is concerned about memory usage of ints but is reading data from a CSV or JSON. On the other hand, I don't see the harm in supporting a superset of functionality that directly supports the Arrow types DataFusion is based on.

[2022-09-01 13:38] alamb commented on #3321
We have disabled the failing test in https://github.com/apache/arrow-datafusion/pull/3329

It would be great if someone could help fix the test for real

[2022-09-01 13:43] andygrove opened #3330 "Improve consistency of expression names"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have many different ways to create names from expressions with duplicated and sometimes inconsistent code.

Logical Expression:
- Display trait
- Debug trait
- `Expr.name()` method
- `create_name` method

Physical Expression:
` `create_physical_name` method

One example of confusion is that

[2022-09-01 14:07] liukun4515 commented on #3325
@kmitchener Do you have some case using the unsigned value?

@alamb
As I know, the PG don't support the unsigned value in the SQL syntax.
I think we should mainly rely on one sql dialect or sql syntax.

[2022-09-01 14:09] liukun4515 commented on #3325
CC @andygrove

[2022-09-01 14:10] liukun4515 commented on #3325
@alamb  we can bring this discussion to the slack channel

[2022-09-01 15:11] jacobmarble commented on #600
@alamb the dependent issues ( #602 #603 #119 ) have all been resolved. Does that mean that UDA can return a struct type now, or does some plumbing remain?

[2022-09-01 15:15] kmitchener commented on #3325
@liukun4515 Yes, I'd like to be able to cast() from SQL to these datatypes that are supported by DataFusion functions. Primarily for testing or evaluating behavior or for examples in documentation. Or to load directly from CSV into the unsigned form that Arrow supports (again for testing functions that support those types).

Seems DataFusion is used a lot for parquet files -- wouldn't it make sens

[2022-09-01 15:44] kmitchener commented on #3325
Maybe we should also extend this discussion to the other data types? let me continue to build out that spreadsheet for time / string / binary, etc and then we can have a fuller discussion of all the datatypes and SQL support, etc. For example, I know support for interval casting and time is currently missing and desired.

[2022-09-01 16:35] alamb commented on #600
@jacobmarble I suspect a UDA could return a struct type now and the support for structs in general in DataFusion is better (though far from complete). I think someone would need to try implementing such a UDF and see if it worked

[2022-09-01 18:20] avantgardnerio opened #3332 "Allow IDEs to recognize generated code"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Presently, prost generates code into the `target/` folder, which causes IDEs such as CLion to not be able to `go to definition`, or provide any auto-complete for this code, making it hard to work with.

**Describe the solution you'd like**

I'd like to move the generated code under the `src/`

[2022-09-01 18:31] kmitchener commented on #3325
https://docs.google.com/spreadsheets/d/1jufe8vtmePxcgUdml_IFJS648mluZVUc/edit?usp=sharing&ouid=114751397656458197444&rtpof=true&sd=true .. here's a kinda messy comparison of all the data types between PG, DataFusion, and Arrow (with some/most of Spark and Parquet types filled in too). Clearly we should add support for casting interval. Other than that, I have no opinion currently.

[2022-09-01 21:08] andygrove commented on #3097
I am no longer planning on releasing this early and will stick to the regular schedule, with the RC being created on September 9th.

[2022-09-01 22:24] andygrove commented on #3330
Here are some observations after reviewing the logical plan code.

- `Display` and `Debug` produce similar output. `Display` delegates to `Debug` for most cases.
- `create_name` accepts a schema argument, which is never used. If we remove that, then the logic looks to be about the same as `Display` and `Debug`

It seems to me that `create_name` should be used to determine the name of the expressio

[2022-09-02 00:40] liukun4515 commented on #3325
Arrow and datafusion are two different project, we don't need to align function or feature for them.
I think datafusion is a sql/core lib, and datafusion can use other memory computing lib without the arrow-rs/arrow.

[2022-09-02 00:42] liukun4515 commented on #3325
@kmitchener I really want to know what case you have to use the unsigned value

[2022-09-02 11:52] alamb commented on #2456
I think this may be closed with https://github.com/apache/arrow-datafusion/pull/3336

[2022-09-02 12:52] andygrove commented on #2456
This is no longer relevant thanks to https://github.com/apache/arrow-datafusion/pull/3336https://github.com/apache/arrow-datafusion/pull/3336

[2022-09-02 12:52] #2456 closed

[2022-09-02 14:16] alamb commented on #3325
I plan to review / respond in more detail tomorrow. I won't have a chance
to do so today

On Thu, Sep 1, 2022 at 2:31 PM kmitchener ***@***.***> wrote:

[2022-09-02 14:20] #3321 closed

[2022-09-02 14:59] #3117 closed

[2022-09-02 15:37] ghubkoa commented on #3317
Can I take a stab at this? Also, is the error type `DataFusionError::Internal` okay to return instead of panic?

[2022-09-02 15:50] kmitchener commented on #3325
appreciate the feedback, thank you

[2022-09-02 16:43] andygrove opened #3340 "Add ability to get unoptimized logical plan from DataFrame"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It is only possible to get an optimized logical plan from a DataFrame (by calling `to_logical_plan`).

**Describe the solution you'd like**
Add ability to get unoptimized logical plan from DataFrame

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-09-02 17:30] comphead commented on #3248
The problem is
[code]
The same for table
[code]
@andygrove afaik those physical plans should be the same?

[2022-09-02 17:50] iajoiner commented on #3340
I will take this one.

[2022-09-02 18:30] iajoiner commented on #3316
I will take this one.

[2022-09-02 18:48] iajoiner commented on #3291
I will look into that.

[2022-09-02 21:19] #3340 closed

[2022-09-02 23:14] andygrove commented on #3314
These have all been resolved now.

[2022-09-02 23:14] #3314 closed

[2022-09-03 09:25] #3251 closed

[2022-09-03 09:41] alamb opened #3349 "Consolidate DDL / Catalog manipulation LogicalPlans (refactor)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I would like to more cleanly separate the DDL (data definition) statements supported by DataFusion from the query execution.

Specifically, DataFusion offers basic support for "catalog" like operations such as registering external tables (`CREATE EXTERNAL TABLE`) , views (`CREATE VIEW`) and o

[2022-09-03 10:11] alamb commented on #3249
I have a suggestion on how to implement this functionality, which is to "inline" the view definition so it is visible to the existing query optimizers rather than trying to do extra pushdown.

This might also be described as "replace view references with subqueries" -- in general I would expect the plan for a query that references to to be the same as the equivalent query if it had the view defini

[2022-09-03 10:13] alamb commented on #3249
One suggested implementation would be:
1. Add an optimizer pass (like `InlineViewDefinitions` or something) that special cases View references as the very first pass)
2. Remove `ViewTable` (or at least make `scan` throw an error)

[2022-09-03 10:52] #3281 closed

[2022-09-03 11:03] alamb commented on #3325
I would summarize this issue as "sql engines like postgres and spark" avoid supporting signed and unsigned variants of types (presumably because for most usecases the difference in ranges are not important enough to justify the additional implementation and user comlexity).

However, Arrow **does** support unsigned variants (e.g `UInt64` and `Int64`, `UInt32` and `Int32`, etc) and DataFusion has a

[2022-09-03 11:06] alamb commented on #3325
I also sent a note in slack and to the dev@arrow.apache.org mailing list to solicit some additional opinions

[2022-09-03 13:28] tustvold commented on #3325
Does the DataFrame API currently support unsigned integers? I suspect it does. If so supporting them within SQL seems reasonable to me, but I'm no SQL expert.

My 2 cents is that the arrow specification likely is overly broad, who really needs 8 different types of dictionary encoding. However, its major selling point is portability, and only supporting a subset works against this. Whilst **I** may

[2022-09-03 17:23] avantgardnerio commented on #3325
I'll weigh in here, since this appears to be an RFC. I see DataFusion as a query engine defined by its basis on Arrow. I generally think we should follow Postgres-flavored ANSI spec, however given the internals of the engine are part of its value proposition, I think it makes sense to extend where applicable to expose underlying functionality that would otherwise go to waste.

TLDR: +1 for support

[2022-09-03 17:48] andygrove opened #3353 "Fix `csv_query_approx_count` once binary type coercion PR is merged"
**Describe the bug**

`csv_query_approx_count` fails due to an edge case exposed in https://github.com/apache/arrow-datafusion/pull/3222

The test fails with:

[code]

However, the expressions are already aliased. The alias is dropped before the error check above and this part of the codebase needs some reworking. It is not trivial to fix.

**To Reproduce**

[code]

**Expected behavior**
Should pa

[2022-09-04 02:28] HaoYang670 commented on #3249
Hi @alamb, I am a little confused. Do you mean the behaviour of `create view` should be equivalent of subquery (or treating
 `create view` to be a syntax sugar of subquery)?

[2022-09-04 02:53] HaoYang670 commented on #3248
Hi @andygrove  @alamb  @comphead, I guess both this issue and #3249 can be solved by unfolding `view` as a subquery:
[code]

[2022-09-04 03:14] HaoYang670 commented on #3249
Another question is that should we treat `treat view` as a lazy value or an expression?
Let's say we have the following queries that use a `view v` multiple times
[code]

If the `v` is inlined in each query, we have to recompute it each time when using it. But as `v` is binded to an immutable dataframe, I'd like to access (or scan) it directly when it has been computed.

I guess the expected behav

[2022-09-04 10:00] HaoYang670 opened #3355 "Eliminate `OFFSET 0` in the logical plan optimization"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
[code]

I'd like `explain select * from v offset 0 limit 2` and `explain select * from v limit 2;` to have same logical plan.

Also, in `eliminate_limit.rs`, we should eliminate the `Limit` plan when `

[2022-09-04 10:39] alamb commented on #3170
I think that would make sense -- thank you for looking into this @comphead

[2022-09-04 11:47] #3300 closed

[2022-09-04 11:55] alamb commented on #3325
The dataframe API itself is higher level and doesn't get into the level of DataTypes
https://docs.rs/datafusion/11.0.0/datafusion/dataframe/struct.DataFrame.html

The expressions API certainly does support all the arrow types (and thus unsigned). For example,  https://docs.rs/datafusion/11.0.0/datafusion/prelude/fn.cast.html would allow you to cast to an unsigned int like:

[code]

[2022-09-04 13:56] alamb commented on #3249
I think I would say it like "create view" makes a entry in the catalog and then when *querying* if there is a view reference for that query the view should be be treated like a subquery

Yes, I think that is the ideal behavior for views

I think that would be a good implementation, as it would work for both SQL and DataFrame interfaces.

I think the answer is expression (even though that would mea

[2022-09-04 13:58] alamb commented on #3249
Maybe we could use the https://docs.rs/datafusion/11.0.0/datafusion/datasource/datasource/trait.TableProvider.html#method.get_table_definition method to find the corresponding view definition and parse / expand it out?

[2022-09-04 14:03] Dandandan commented on #3249
I need to have a look at the code more, but I wonder whether it even has to be an optimization pass (e.g. inline view)? The current implementation of CTEs is also "just" using the definition as a subquery, I think the same could be done for the view definition.

[2022-09-04 23:53] #3308 closed

[2022-09-05 01:42] liukun4515 commented on #3325
I know in the core of datafusion we have supported some operation for the unsigned value.
It's good to support unsigned value for datafusion, but I just concern it will cause some undefined behavior.

If some users want this feature, I think it can be supported, and also need to update and add document to describe them.

@alamb @kmitchener

[2022-09-05 08:08] poonai commented on #2214
I would love to pick this and work on it

[2022-09-05 10:01] alamb commented on #3249
I agree the view expansion could be done in the SQL planner (maybe that is the best place 🤷  ).

However, that would not apply to the `DataFrame` API

[2022-09-05 10:33] #3310 closed

[2022-09-05 10:49] alamb commented on #3332
I believe these changes were also included in https://github.com/apache/arrow-datafusion/pull/3311

[2022-09-05 10:49] #3332 closed

[2022-09-05 12:11] thinkharderdev opened #3360 "Support `RowFilter` in `ParquetExec`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-05 12:12] thinkharderdev commented on #3360
@tustvold @Ted-Jiang I've been tinkering with this and can submit an RFC today or tomorrow for feedback. If you guys already have thought though we can discuss here :)

[2022-09-05 12:20] tustvold commented on #3360
100% we should get this integrated :+1:, awesome that you're working on this. Some miscellaneous thoughts:

* I think it must be possible to control what predicates get pushed down the scan, an expensive predicate may still make sense as a row group filter but not a row filter
* We could restrict the pushed down predicates to simple binary predicates on dictionary or primitive columns by default
*

[2022-09-05 12:27] HaoYang670 commented on #3355
I will file a PR this week.

[2022-09-05 12:46] Ted-Jiang commented on #3360
@thinkharderdev  Wow! So looking forward！  💪

Nice write up! Thanks👍

I think one thing we should talk about , how to define the `non-selective predicates (expensive predicate)`.
I think for now if we want to check wether is a  predicate selective on no-sorted col , we need know the the result page number, so we need read `col-index`. if we filter zero page, it will run slower than before.🤔

[2022-09-05 12:48] Ted-Jiang commented on #3360
maybe i will check how impala did this😂

[2022-09-05 13:03] thinkharderdev commented on #3360
This isn't necessarily the case. Even if we don't prune any pages it can still be a pretty significant performance boost to skip decoding.

The general problem with selectivity is that we really don't have much to go on at the time we need to build the filters. We have parquet metadata but that isn't much :). I think the approach I'll go with for the draft PR is something like:

1. Break apart all

[2022-09-05 13:33] alamb commented on #3360
Thank you @thinkharderdev @tustvold and @Ted-Jiang  for driving this forwardf

[2022-09-05 15:30] kmitchener commented on #166
This runs now, but returns 0 results *most of the time*. The way views are executed still looks a little funny to me, so to exclude the possibility of some bug in the view code, I converted it to a with statement like below:

[code]

Running this query back to back multiple times usually returns 0 results, but sometimes it correctly returns the top supplier as it's supposed to -- 1 result:

[code]

[2022-09-05 17:20] avantgardnerio opened #3362 "Upgrade to Arrow 22"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I would like DataFusion to use Arrow 22 so that I can proxy Flights in Ballista.

**Describe the solution you'd like**

Upgrade to arrow v22

**Describe alternatives you've considered**
N/A

[2022-09-05 17:34] waitingkuo opened #3364 "support `Statement::ShowVariable` to show session configs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

i'd like to implement `Statement::ShowVariable` to show session configs.

**Describe

[2022-09-05 18:50] #3265 closed

[2022-09-05 18:55] Dandandan commented on #166
I think for this to be correct we should switch to using a `decimal` type, as using floating point will result in small rounding errors, because parallel execution does not have deterministic ordering.

[2022-09-05 19:28] avantgardnerio opened #3366 "Intermittent build error when changing selected features"
**Describe the bug**

Now that codegen has been moved into the `proto/src/datafusion.rs` file, that file can have two different sets of contents depending on whether or not the `json` feature is selected (which some CI build & test have each way). When the feature flags are changed, the contents aren't necessarily regenerated, causing intermittent build issues.

**To Reproduce**

Run a regular bui

[2022-09-05 20:26] Dandandan commented on #3248
Can we close this issue in favor of https://github.com/apache/arrow-datafusion/issues/3249 ?

[2022-09-05 21:48] #3366 closed

[2022-09-06 02:58] HaoYang670 commented on #3248
We should file a PR to close both this issue and 3249.

[2022-09-06 06:35] HaoYang670 commented on #3355
Oh, I would close this issue as skip = 0 and skip = None are equivalent.

[2022-09-06 06:35] #3355 closed

[2022-09-06 06:44] HaoYang670 opened #3368 "Avoid coping in `LogicalPlan::expressions`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]
Currently, the function return a copy of all expressions, I'd like it to return `&[Expr]` to avoid copying.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of a

[2022-09-06 06:56] HaoYang670 commented on #3368
Sorry, I notice there are local values generated in this function, so that returning a reference is not reasonable here.

[2022-09-06 06:56] #3368 closed

[2022-09-06 07:20] liukun4515 commented on #3325
I will list some places that we need to handle the unsigned value:

- [ ] physical operation
- [ ] type coercion

[2022-09-06 07:47] HaoYang670 opened #3369 "Use `usize` to represent `Limit::skip`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]
Since `skip = 0` and `skip = None` have same meaning, we can use pure `usize` to represent `skip` to reduce complexity.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise desc

[2022-09-06 08:06] HaoYang670 commented on #3369
cc @alamb @andygrove @Dandandan .
Need your reviews this will cause some public API changes.

The reasons I want to do this are:
1. `skip = None` and `skip = Some(0)` are equivalent, so we don't need both of them.
2. This can avoid bugs in corner cases. While working on `limit_push_down`, I find there are lots of 'map_or, unwrap_or, ' and pattern matching with `return`, which is difficult to read

[2022-09-06 10:41] alamb opened #3376 "[Epic] Support for unsigned integer types"
This is a tracking epic to properly support Unsigned Integer Types.

DataFusion has fairly robust support for signed types like `Int32`, `Int64`, etc. https://github.com/apache/arrow-datafusion/pull/3359 added the ability to refer to unsigned types like `UNSIGNED INT` in SQL

The primary rationale for supporting unsigned integers is testing and better integration with the Arrow ecosystem (not, for

[2022-09-06 10:42] alamb commented on #3325
Thanks @liukun4515  -- good idea. I made a tracking ticket for all the outstanding issues I know of for unsigned integer support in https://github.com/apache/arrow-datafusion/issues/3376 and added your items to it.

It seems everyone who commented is in favor of supporting unsigned integers. Thank you all for your comments

[2022-09-06 10:44] #3307 closed

[2022-09-06 10:44] #3325 closed

[2022-09-06 11:00] alamb opened #3377 "Support casting expressions in pruning logic"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Sometimes predicates include casts. Some of these casts are optimized away during query planning, but some can not be.

A practical example of such a cast might be this query to look for data 4 days in the past

[code]

While this particular query will likely be cleaned up into nicer things li

[2022-09-06 12:16] #3326 closed

[2022-09-06 18:42] #3362 closed

[2022-09-07 01:46] HaoYang670 opened #3383 "`scalar::tests::size_of_scalar` failed on M1 Mac"
**Describe the bug**
Tested on M1 Mac:
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-09-07 04:21] HaoYang670 commented on #3383
Hi @alamb. Does the `cargo test (mac)` run on Intel or (M1 / M2)?
https://github.com/apache/arrow-datafusion/blob/master/.github/workflows/rust.yml#L201

[2022-09-07 06:12] Dandandan commented on #3214
Draft PR here:
https://github.com/apache/arrow-datafusion/pull/3382
It turns out it is a bit more complex than removing a line, as every `Exec` node should support producing records without columns/empty schema. I think the only thing we can do is hunting every `RecordBatch::try_new` and adapting it for projections without columns :thinking:

[2022-09-07 07:21] francis-du commented on #3383
I have a similar error with my M2 Air

[2022-09-07 08:35] #1313 closed

[2022-09-07 10:33] alamb commented on #3383
According to https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources:

[code]

Thanks for filing this issue @HaoYang670

[2022-09-07 10:34] alamb commented on #3383
I recommend we #cfg this test to have the different size on ARM

Maybe with
[code]

For example

[2022-09-07 10:41] #2994 closed

[2022-09-07 11:30] alamb commented on #3369
I think this proposal makes sense to me as well. I can't think of any issues with it

[2022-09-07 12:52] liukun4515 opened #3387 "Need to type coercion for arithmetic op when the left and right type are same"
**Describe the bug**

https://github.com/apache/arrow-datafusion/pull/3254#issuecomment-1239345990

bug code: https://github.com/apache/arrow-datafusion/blob/master/datafusion/expr/src/binary_rule.rs#L293

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the p

[2022-09-07 12:58] liukun4515 commented on #3387
current plan for datafusion
[code]

spark plan:

[code]

[2022-09-07 12:59] liukun4515 commented on #3387
We follow the spark rule in the decimal type coercion https://github.com/apache/arrow-datafusion/blob/c359018baa8bbb0a227e83df948c903cde4d701f/datafusion/expr/src/binary_rule.rs#L353

[2022-09-07 13:00] liukun4515 commented on #3387
cc @alamb @andygrove

I will fix it later.

[2022-09-07 13:11] HaoYang670 commented on #3383
`x86_64` works on my M1 Mac.

[2022-09-07 13:57] andygrove commented on #3221
This was implemented in https://github.com/apache/arrow-datafusion/pull/3222

[2022-09-07 13:57] #3221 closed

[2022-09-07 14:03] andygrove opened #3388 "Remove type-coercion from physical planner"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now that type coercion happens in the logical plan, we no longer need to do this in the physical plan.

See the discussion in https://github.com/apache/arrow-datafusion/pull/3254#issuecomment-1239345990 for an example of a bug that can occur if we do the type-coercion in both places.

**Descri

[2022-09-07 14:50] #3369 closed

[2022-09-07 16:02] andygrove opened #3390 "Make type coercion rule more robust"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Dask SQL project is seeing this:

[code]

**Describe the solution you'd like**
It would be better for the rule to return the original expression rather than fail

**Describe alternatives you've considered**
None

**Additional context**
None