[2022-10-16 09:44] #3842 closed

[2022-10-16 17:53] Dandandan opened #3851 "Enable mimalloc by default in benchmarks"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This keep it in line with `datafusion-cli`.

**Describe the solution you'd like**
Use the default feature. One could still disable or use sn-malloc instead by providing those as flags.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2022-10-17 02:09] silence-coding commented on #1952
Does anyone know how this is going?

[2022-10-17 03:43] mingmwang opened #3854 "Partition and Sort Enforcement"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

In current DataFusion codebase, when it does the physical planning, it added Reparti

[2022-10-17 04:27] HaoYang670 opened #3856 "Concatenate contiguous literal arguments of `concat_ws` when doing the expression simplification"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
This is a subtask of #3599.
Similar to #3683, we can concatenate contiguous literal a

[2022-10-17 04:31] HaoYang670 opened #3857 "Replace `concat_ws` with `concat` when the delimiter is empty string"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

This is a sub task of #3599.
`concat_ws("", a, b, c)` is equivalent to `concat(a, b,

[2022-10-17 05:40] Dandandan commented on #944
@yjshen this seems mostly complete now?

[2022-10-17 06:19] Dandandan commented on #1952
What's the data type of the reply column? Can we add it to the hashing code?

[2022-10-17 08:34] yuuch commented on #3840
I want to try this.  😊

[2022-10-17 14:13] Ted-Jiang opened #3858 "Factorize common AND factors out of OR predicates to support filterPushDown as possible"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A predicate is of the from `p AND q1 OR p AND q2 ` it would help to factorize out the AND factor p, to the equivalent expression `p AND (q1 OR q2)`. This is useful when p contains predicates from just one col of a filter and can be pushed down

**Describe the solution you'd like**
A clear and

[2022-10-17 16:41] alex-natzka commented on #3635
@alamb sorry for the late reply - I was away for a couple of days.

Created a draft PR #3861 .

[2022-10-17 20:17] andygrove opened #3863 "regression in optimizing filter push down of CAST + BETWEEN"
**Describe the bug**

There has been a regression in pushing BETWEEN expressions down to table scans.

## before

Table scan filter: CAST(col1 AS Int64) BETWEEN Int64(4) AND Int64(4) + Int64(3)

## after

Table scan filter: CAST(col1 AS Int64) >= Int64(4), CAST(col1 AS Int64) <= Int64(7)

Performing the CAST twice is not efficient.

**To Reproduce**
Steps to reproduce the behavior:

**Expected beh

[2022-10-17 20:26] andygrove opened #3864 "Replace `Filter: Boolean(false)` with `EmptyRelation`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I have a query that looks like this after optimization:

[code]

**Describe the solution you'd like**
Remove everything under the `Filter` that is always false and replace with `EmptyRelation` so that we avoid executing the join and aggregate.

**Describe alternatives you've considered**
A cle

[2022-10-17 20:43] andygrove opened #3865 "Binary expression canonical names are incorrect in some cases"
**Describe the bug**
Consider the following two expressions, which are not the same:

[code]

They both produce the same string from `canonical_name`:

[code]

This is not only confusing when reading plans but could also lead to optimization rules altering plans to have different semantics.

**To Reproduce**

**Expected behavior**
They should produce different results:

`expr1.and(expr2.or(expr3))

[2022-10-17 21:11] avantgardnerio opened #3866 "TableProviderFactories need to be async and return a Result to be useful"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In a previous PR, I added the concept of `TableProviderFactory`s, and added a test to show it was possible to do a `CREATE EXTERNAL TABLE xxx STORED AS yyy`. However, the test was a contrived scenario without the need for network access (as someone pointed out at the time). Real providers wil

[2022-10-17 21:20] andygrove commented on #3786
Another example:

[code]

The alias name should just be:

[code]

and not

[code]

[2022-10-17 21:53] alamb commented on #944
I agree this is basically complete, so closing it down. Please feel free to reopen or file a new issue with any remaining work to be done

[2022-10-17 21:53] #944 closed

[2022-10-18 03:01] mingmwang commented on #3864
We can have two general rules: `FoldFilters` and `EmptyRelationPropagation`.
`FoldFilters` can remove the filters which can be evaluated trivially. If `Filter` condition is alway false,  replace it with an `EmptyRelation`

`EmptyRelationPropagation` can propagate the empty relation up to the tree, for example, inner join with `EmptyRelation` can return `EmptyRelation`.

[2022-10-18 03:16] mingmwang commented on #3845
@Dandandan I see there are couple of stats related issues opening,  is there an umbrella task/task lists? Or maybe we can tag all related issue as CBOStats ?

[2022-10-18 03:36] mingmwang commented on #3864
@andygrove Looks like there is already a rule `EliminateFilter` for this purpose.

[2022-10-18 08:17] waitingkuo commented on #3832
https://github.com/chronotope/chrono/blob/main/src/naive/datetime/mod.rs#L117

`from_timestamp` will be deprecated since 0.4.23.
i think we could change it to `from_timestamp_opt` and notify the user it's out-of-range

[2022-10-18 10:47] alamb commented on #3863
Thanks for the ticket @andygrove

cc @liukun4515

[2022-10-18 10:50] alamb commented on #3864
Perhaps the changes in https://github.com/apache/arrow-datafusion/pull/3841 from @Dandandan  made it possible to simplify the filter

Perhaps we could solve this issue by adding another  run of `EliminateFilter`  at the end of the list in datafusion/optimizer/src/optimizer.rs

[2022-10-18 10:58] alamb opened #3873 "Default physical planner generates empty relation for DROP TABLE, CREATE MEMORY TABLE, etc"
**Describe the bug**
When we ran some unsupported DDL in our system

[code]

The output would be an empty table (rather than an unsupported error):
[code]

However, running `CREATE EXTERNAL TABLE` results in an error as expected.

**To Reproduce**
Try and run `drop table` (not through the datafusion CLI which handles these `LogicalPlan` variants specially)

**Expected behavior**
The physical plann

[2022-10-18 10:58] alamb commented on #3873
This is a good first issue as the needed pattern already exists and it is well localized.

[2022-10-18 11:49] r4ntix opened #3874 "datafusion-proto does not support view table scan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
create view, then query from the view fails:
[code]

[code]

This problem was found in arrow-ballista's benchmarks test: https://github.com/apache/arrow-ballista/issues/372

**Describe the solution you'd like**
Add view table scan support

**Describe alternatives you've considered**
A clear an

[2022-10-18 13:36] #3847 closed

[2022-10-18 13:42] #3851 closed

[2022-10-18 13:45] #3874 closed

[2022-10-18 13:55] #3802 closed

[2022-10-18 13:56] Ted-Jiang opened #3878 "Improve the `Expr` string format"
We need improve the `Expr` fmt: like

[code]

This is not equal but they have the same string format:

[code]

_Originally posted by @Ted-Jiang in https://github.com/apache/arrow-datafusion/pull/3859#discussion_r998268672_

[2022-10-18 14:11] andygrove commented on #3878
This seems like a duplicate of https://github.com/apache/arrow-datafusion/issues/3865?

[2022-10-18 14:16] andygrove commented on #3865
SQL parser precedence logic for reference: https://github.com/sqlparser-rs/sqlparser-rs/blob/main/src/parser.rs#L1552-L1638

[2022-10-18 14:59] andygrove opened #3879 "Multiple optimizer passes"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Issues such as https://github.com/apache/arrow-datafusion/issues/3864 can possibly be solved with multiple optimizer passes

**Describe the solution you'd like**
Multiple optimizer passes

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2022-10-18 15:17] andygrove opened #3881 "`projection_push_down` adds duplicate projections with multiple passes"
**Describe the bug**

Running the optimizer multiple times inserts redundant projections

[code]

**To Reproduce**
Run `cargo test` with https://github.com/apache/arrow-datafusion/pull/3880

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-10-18 15:44] comphead opened #3883 "CI checks stuck in queued mode"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
CI checks stuck in queued mode. Last 3 PRs blocked

**Describe the solution you'd like**
Fix CI checks

**Describe alternatives you've considered**
None
**Additional context**
None

[2022-10-18 17:24] alamb commented on #3883
I believe the issue is that the entire apache github organization shares the same pool of github CI workers. And thus sometimes there is a queue.

It will likely clear (but it will take some time to do so) 😭

[2022-10-18 17:29] alamb opened #3886 "Make `ConfigOptions` easier to work with"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In order to use the `ConfigOptions` structure in more places, it was changed to be an `Arc<RwLock<ConfigOptions>>` by @waitingkuo  in https://github.com/apache/arrow-datafusion/pull/3455 which is good

The usecase there was so that the configuration was owned by `SessionContext` but other part

[2022-10-18 17:34] alamb opened #3887 "Consolidate SessionConfig and ConfigOptions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

While messing with thishttps://github.com/apache/arrow-datafusion/pull/3885 I found it quite confusing that `SessionConfig` is different than `ConfigOptions` and they had different ways of serializing / deserializing their values.

The new `ConfigOptions` was added by @andygrove https://githu

[2022-10-18 20:31] waitingkuo commented on #3887
@alamb thank you! while i was changing` ConfigOption` I was thinking about this as well.

some of the setter (in `SessionConfig`) contains validator

e.g. n should be greater than 0 for target partitions

https://github.com/apache/arrow-datafusion/blob/feff5dc805449afa4a7ecb5ca88b979ad5739cce/datafusion/core/src/execution/context.rs#L1209-L1213

Do you think we should leave them in `SessionConfig`

[2022-10-18 20:39] waitingkuo commented on #3832
@retikulum yes, i think we need to fix it as well.

@alamb @avantgardnerio
do you think we should eventually move these datetime arithmetic functions into arrow-rs?

[2022-10-18 21:31] isidentical commented on #113
`into_array` now (actually since this PR by Andy, which seems quite old 😄  https://github.com/apache/arrow/pull/8740) takes the length instead of the batch itself, so I guess we can mark it as done.

[2022-10-19 00:11] isidentical opened #3888 "Allow configuring statistics on TPC-H benchmarks"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now that we are starting to invest into statistics more (especially if we start going into the direction of weight based nested join shuffling, as in #3843), I think it makes sense to also include an `--enable-statistics` flag in the `./bin/tpch` (the TPC-H benchmark runner)

**Describe the so

[2022-10-19 03:10] Ted-Jiang commented on #3878
Yes, it bother me when writing test 😂

[2022-10-19 03:10] Ted-Jiang commented on #3878
@andygrove  We must print the priority of the `Expr`.

[2022-10-19 05:22] HaoYang670 opened #3891 "`count(Literal)` gives wrong column name"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Tested on the latest datafusion-cli
[code]
**Expected behavior**
I'd like the column name to be
[code]

**Additional context**
Add any other context about the problem here.

[2022-10-19 11:06] alamb commented on #3883
The queue appears to have cleared now and the jobs have run. Closing this ticket

[2022-10-19 11:06] #3883 closed

[2022-10-19 13:49] andygrove opened #3892 "Improve efficiency of multiple optimizer passes"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Improve efficiency of multiple optimizer passes

**Describe the solution you'd like**

Thanks to @isidentical  for this suggestion.

Instead of having the optimizer decide when it is done by seeing if the last pass changed the plan or not, based on the Display representation of the plan, it mi

[2022-10-19 14:15] Dandandan commented on #3892
Wouldn't this be a hash?

[2022-10-19 14:31] andygrove commented on #3812
https://github.com/apache/arrow-datafusion/pull/3893
https://github.com/apache/arrow-ballista/pull/401

[2022-10-19 14:55] #3879 closed

[2022-10-19 14:55] andygrove commented on #3881
Fixed in https://github.com/apache/arrow-datafusion/pull/3880

[2022-10-19 14:55] #3881 closed

[2022-10-19 16:01] isidentical commented on #3892
Pretty much! I am not sure if there is anything internally that would prevent them being 'hashable' (as in getting  consistent summary), but if there is none we can even implement native rust `Hash` and just use a hash-set.

[2022-10-19 16:37] Dandandan opened #3894 "CoalesceBatches doesn't provide correct elapsed_compute info in metrics"
**Describe the bug**
elapsed_compute for `CoalesceBatches` consists of all the time it took to wait for the batch + process it instead only the computation time

**To Reproduce**
Look at metrics, see metric suggests to consume a lot more than other nodes (where it doesn´t).

**Expected behavior**
Should measure the computation time.

**Additional context**

[2022-10-19 17:03] avantgardnerio commented on #3832
When chrono:0.4.23 is out we can kill all these:

[code]

[2022-10-19 17:04] avantgardnerio commented on #3832
Presently we can't remove them yet because there is no Timestamp + Months, only Date + months in 0.4.22.

[2022-10-19 18:58] #3812 closed

[2022-10-19 19:11] alamb opened #3895 "Simplify `a AND a` and `a OR a`."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Some features like https://github.com/apache/arrow-datafusion/pull/3859 may find / introduce seemingly nonsensical predicates like `a AND a` -- in this case the expression simplifier should remove them.

**Describe the solution you'd like**
Add rewrite rules to rewrite
`a AND a` --> `a`
`a OR

[2022-10-19 19:31] alamb commented on #3895
Marking as good first issue as there are many examples and existing tests to follow

[2022-10-19 20:08] #3888 closed

[2022-10-19 20:17] alamb commented on #3858
Sadly I had to revert https://github.com/apache/arrow-datafusion/pull/3859 so also reopening this one

[2022-10-19 21:05] #113 closed

[2022-10-19 21:05] alamb commented on #113
Good idea @isidentical  -- thanks!

[2022-10-19 21:06] alamb commented on #3873
I think one difference may be that the SessionContext::sql has special handling for those statements (rather than running them through a logical plan): https://github.com/apache/arrow-datafusion/blob/b004ec7/datafusion/core/src/execution/context.rs#L286-L343

[2022-10-19 21:13] alamb commented on #3887
I think if there are specialized setters they can do the validation -- so if left the setter in `SessionConfig` we would leave the validation there too.

I guess in the long term it isn't so clear to me why we need two structures (SessionConfig and ConfigOptions) 🤔

[2022-10-20 00:16] tustvold commented on #83
I believe this issue can now be closed, as of https://github.com/apache/arrow-rs/pull/2500 parquet has full support for arbitrarily nested types. Feel free to reopen if I have missed something

[2022-10-20 00:16] #83 closed

[2022-10-20 00:25] tustvold commented on #1341
https://github.com/constellation-rs/amadeus appears to be abandoned so closing.

_FWIW there was work in February of this year to port across many of the ideas from parquet2, which brought the two into roughly the same ballpark. Depending on benchmark selection you could make either perform better  Now that parquet supports predicate pushdown the story is significantly less nuanced._

[2022-10-20 00:25] #1341 closed

[2022-10-20 00:28] tustvold commented on #2044
I think this should have been resolved by https://github.com/apache/arrow-rs/pull/1682, could you let me know if the issue still persists?

[2022-10-20 00:32] isidentical opened #3898 "A framework for expression boundary analysis (and statistics)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
TBD

**Describe the solution you'd like**
TBD

**Describe alternatives you've considered**
TBD

**Additional context**
Originating from #3868 (which implements a more rudimentary version of the proposed framework), with discussion points from @alamb on the possible unification/consolidation of

[2022-10-20 00:34] tustvold commented on #1058
Closing as duplicate of #1532

[2022-10-20 00:34] #1058 closed

[2022-10-20 00:39] tustvold commented on #825
FWIW this may overlap with #3464

[2022-10-20 00:43] tustvold commented on #1383
This appears to now work correctly, I suspect it was fixed by https://github.com/apache/arrow-rs/pull/1588

[2022-10-20 00:43] #1383 closed

[2022-10-20 00:45] tustvold commented on #537
I believe this is now supported, but feel free to reopen if I am mistaken

[2022-10-20 00:45] #537 closed

[2022-10-20 00:47] tustvold commented on #1923
I believe this was implemented by a combination of https://github.com/apache/arrow-datafusion/pull/2578 and https://github.com/apache/arrow-datafusion/pull/2677. These standardised the interpretation of the file URIs and paths respectively

[2022-10-20 00:47] #1923 closed

[2022-10-20 00:51] tustvold commented on #847
I believe this has been implemented by #3780, feel free to reopen if I have missed anything

[2022-10-20 00:51] #847 closed

[2022-10-20 02:51] HaoYang670 opened #3900 "[QUESTION] How many times should be the function `create_name` called when executing a query?"
**Describe the bug**
A clear and concise description of what the bug is.
Related to this function: https://github.com/apache/arrow-datafusion/blob/master/datafusion/expr/src/expr.rs#L951

**To Reproduce**
I add `println` here to check if the function is called:
[code]
note that the `println` command doesn't get the name of `e` to avoid recursive function calls.

Then I ran a really simple query in

[2022-10-20 03:10] r4ntix opened #3901 "datafusion-proto deserialize with Substring(str [from int] [for int]) fails"
**Describe the bug**
Serialize and Deserialize with `Substring(str [from int] [for int])`:
[code]

Failed:
[code]

This problem was found in arrow-ballista's benchmarks test: https://github.com/apache/arrow-ballista/issues/375

**To Reproduce**
👆

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem he

[2022-10-20 10:19] francis-du opened #3904 "[DOC] - There are unsupported DDL in the official documentation"
**Describe the bug**

Found an error when I run this  DDL:

[code]
Error:

![image](https://user-images.githubusercontent.com/25944814/196922923-769fa937-1adb-4c21-90c1-fa2d562e1a77.png)

Docs: https://arrow.apache.org/datafusion/user-guide/sql/ddl.html

[2022-10-20 12:59] alamb commented on #1118
I believe this is now in place via https://github.com/apache/arrow-datafusion/blob/master/datafusion/optimizer/tests/integration-test.rs

[2022-10-20 12:59] #1118 closed

[2022-10-20 13:15] alamb commented on #3832
Yes, I do think eventually the date/time arithmetic should be moved into arrow-rs kernels

[2022-10-20 14:20] retikulum commented on #3895
I will take a look!

[2022-10-20 16:08] comphead commented on #3891
There is a hardcoded value in `COUNT_STAR_EXPANSION` that expands to `pub const COUNT_STAR_EXPANSION: ScalarValue = ScalarValue::UInt8(Some(1));`, @andygrove should we fixed this as above?

[2022-10-20 16:13] avantgardnerio opened #3906 "Plans with tables from `TableProviderFactory`s can't be serialized"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We recently add `TableProviderFactory`s to allow registration of tables by users at run time (i.e. `CREATE EXTERNAL TABLE dt STORED AS DELTATABLE`). However, the resulting logical plans (`select * from dt`) can't be shipped between nodes (i.e. ballista client & scheduler) due to lack of abili

[2022-10-20 16:23] Kikkon commented on #3873
🤣 I'm interested in this, you can assign it to me

[2022-10-20 16:50] alamb opened #3908 "Better api for setting `ConfigOptions` from SessionContext"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Related to #3887

I want to set configuration options given a session context. Right now I need to do it like 🤮

[code]

**Describe the solution you'd like**

I would like an API like this:
[code]

As well as
[code]

**Describe alternatives you've considered**
A clear and concise description o

[2022-10-20 17:20] comphead commented on #3908
@alamb I'm wondering if you ok with current working alternative

`
    let ctx = SessionContext::with_config(SessionConfig::new().set_bool("key", true).set_bool("key2", false));
`

[2022-10-20 18:31] alamb commented on #3898
I love this idea @isidentical  -- thank you for filing it -- I am still not quite sure about how well keeping `column_boundaries` would work in practice, but I think I would just have to see how it works in practice to find out.

I also wonder what "apply"ing boundaries to a `PhysicalExpr` means -- does it mean the output of the PhysicalExpr might change when run against some data? Does it mean th

[2022-10-20 18:44] comphead commented on #3900
There are couple of ways to come to `create_name`
- aliasing not qualified cols, this works good, 2 calls only
- `display_name()` which calls `create_name` and the first one gets called everywhere

[2022-10-20 18:58] alamb commented on #3908
@comphead it is probably OK.

I don't plan to work on the ConfigOptions any more once I consolidate the parquet options. I guess I'll see if others have some ideas on how to make the API nicer

[2022-10-20 19:01] sarahyurick commented on #3408
I'm not really able to reproduce the error on the DataFusion side. For example:

[code]

where the contents of `data.csv` are:

[code]

Produces the expected output without any errors. I'm able to get the correct results on the Dask-SQL side, too:

[code]

Is there maybe another example I should try?

[2022-10-20 19:06] isidentical commented on #3898
Thanks @alamb (and for all your feedback during the initial design) ❤️

It also bothers me a bit, so maybe we can iterate on it to see if there is a simpler solution that can help us to solve the following problem without having `apply()` and `column_boundaries`.

[code]

If we want the condition above to succeed (considering we now know that `a`'s minimum value is `20`, due to `a >= 20`), we need

[2022-10-20 19:09] isidentical commented on #3898
One thing I am not super sure of is whether we want to keep it inside the `PhysicalExpr` (with two new methods) or want to keep it in a separated protocol (so we would have a new trait, `PhysicalExprAnalyzer` and `PhysicalExpr` can then return the analyzer itself which would have apply/update methods). I am thinking that if it is only two methods, they might as well live inside the `PhysicalExpr`

[2022-10-20 19:26] alamb commented on #3898
One benefit of keeping it inside `PhysicalExpr` is that then anyone who has an extension for `PhysicalExpr` can also provide their own expression analysis

As long as they have reasonable default implementations (that return unknown ExprBounds) I think it would be fine

[2022-10-20 20:00] maxburke opened #3910 "ScalarValue not implemented for FixedSizeBinary types"
There is no implementation of ScalarValue for FixedSizeBinary types which prevents columns of these types from being used for sorting, etc.

[2022-10-20 21:37] #3249 closed

[2022-10-20 21:37] #3681 closed

[2022-10-20 21:39] Dandandan opened #3913 "Support inlining view / dataframes logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion supports filter/limit/projection pushdown for views and dataframes via the tableprovider interface after https://github.com/apache/arrow-datafusion/pull/3905 . Inlining the LogicalPlan (as an optimization rule) would bring more opportunities for optimizations.

**Describe the soluti

[2022-10-21 05:12] waynexia opened #3914 "FilterPushdown will generate duplicate exprs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The plan used to (before #3841) be like

https://github.com/apache/arrow-datafusion/blob/a9ee67471d1ab0ad11f12d024315b3a824d6101f/benchmarks/expected-plans/q21.txt#L15

Which contains some duplicate exprs, see the [file diff](https://github.com/apache/arrow-datafusion/commit/431a4127f5e590dba2

[2022-10-21 09:55] #3901 closed

[2022-10-21 13:40] ike560 opened #3922 "Internal error in CAST from Timestamp[us]"
**Describe the bug**
The following error occurs in cast of timestamp.

Exception: Internal error: Unsupported CAST from Timestamp(Microsecond, None) to Int32. This was likely caused by a bug in DataFusion's code and we would welcome that you file an bug report in our issue tracker

**To Reproduce**
[code]
---------------------------------------------------------------------------
Exception

[2022-10-21 19:14] alamb commented on #3913
I vaguely remember a discussion about this topic though I can't find it again now -- perhaps @HaoYang670 ?

[2022-10-21 19:21] alamb commented on #123
In case anyone is curious -- we support correlated versions of these queries (via a join) but if there is no correlation (not super useful) we do not

[code]

[2022-10-21 19:28] alamb commented on #3922
The fact this is reported as an internal error is not ideal. I will change the error type

[2022-10-21 19:33] alamb commented on #3922
The root cause is that the arrow cast kernel doesn't support converting from timestamp --> int32 (as @waitingkuo  mentions)

To fix this we çould extend the support support in https://github.com/apache/arrow-rs/blob/c7f7606/arrow/src/compute/kernels/cast.rs#L253-L254

[2022-10-21 19:36] retikulum commented on #3211
Hi. As this issue is not closed or proceed, I will suggest following explanation for it. Is it enough?

# CREATE VIEW
View is a virtual table based on the result of a SQL query. It can be created from an existing table or values list

<pre>
CREATE VIEW <i><b>view_name</i></b> AS statement;
</pre>

[code]
[code]

[2022-10-21 20:22] waitingkuo commented on #3922
@alamb i think int32 isn't large enough for microsecond scale.
`cast`ing timestamp[us]  to integer returns number of microseconds from 1970, but 2^32-1 microseonds is just too small.

[code]

[2022-10-21 20:40] alamb commented on #3922
So maybe a better error message is the best solution here

[2022-10-21 20:41] alamb commented on #3211
Thanks @retikulum  -- your proposal looks great to me. We can always add some documentation and then expand upon it in future PRs

[2022-10-21 21:43] retikulum commented on #3211
I hope I will contribute datafusion more as I get used to codebase

[2022-10-22 04:55] HaoYang670 commented on #3900
Thank you, @comphead, for your explanation. It makes sense now. I'll close the ticket.

[2022-10-22 04:55] #3900 closed

[2022-10-22 05:30] ike560 commented on #3922
Thank you all.
I understand that CAST does not support timestamp to INT32/INT64.
The internal error message is misleading.

[2022-10-22 05:38] #3211 closed

[2022-10-22 05:47] #2938 closed

[2022-10-22 05:47] #2738 closed

[2022-10-22 07:12] alitrack commented on #2044
@tustvold  I tested last version roapi, fixed, just datafusion python bind sill has the issue, thanks!

[2022-10-22 07:12] #2044 closed

[2022-10-22 08:18] Dandandan opened #3927 "Support `SubqueryAlias` better in planner"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion has `SubqueryAlias` in the logical plan. Currently it is only supported to be used in a table scan.
The current code dealing adding alias to projections is relatively complex and brittle.
This limits the usage / support of it for subqueries.

**Describe the solution you'd like**
Rep

[2022-10-22 10:45] alamb commented on #3895
As pointed out by @src255 this is already implemented https://github.com/apache/arrow-datafusion/pull/3915#issuecomment-1287373139 🤔

[2022-10-22 10:45] #3895 closed

[2022-10-22 10:47] #3910 closed

[2022-10-22 10:51] alamb opened #3928 "Implement serialization for `ScalarValue::FixedSizeBinary`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

@maxburke's PR added `ScalarFixedSizeBinary` support:  https://github.com/apache/arrow-datafusion/pull/3911

However, it did not implement the serialization code to send `ScalarValue::FixedSizeBinary` over the network

**Describe the solution you'd like**

Fill out the code in datafusion/prot

[2022-10-22 10:51] alamb commented on #3928
Should be a good first issue as there are plenty of other examples to follow along

[2022-10-22 10:54] alamb commented on #3904
I think the right syntax is CREATE TABLE IF NOT EXISTST

[code]

[2022-10-22 10:55] alamb commented on #3864
@andygrove  can you share a reproducer? We can then add it to the regression tests to make sure the empty filter is indeed eliminated and doesn't come back in

[2022-10-22 10:56] alamb commented on #3845
I think @isidentical  started a discussion on https://github.com/apache/arrow-datafusion/issues/3898 -- @mingmwang could you take a look? Perhaps it would be time to start socializing that ticket more broadly (I could send some email / slack messages to bring it to the community's attention)

[2022-10-22 10:58] alamb commented on #3830
Thanks for the report @ZuoTiJia

cc @mustafasrepo and @ozankabak who I know have been working in this area recently

[2022-10-22 11:20] alamb commented on #3819
Hi @luobei42  -- the `bug` label is added when the ticket is created.

I am not familiar with datafusion python, and I was not able to reproduce your report  with datafusion-cli from master (maybe it was fixed previously 🤔 )

[code]

[2022-10-22 14:38] ozankabak commented on #3830
Good catch! We will take a look at this and try to fix it early next week.

[2022-10-22 15:52] #3913 closed

[2022-10-22 19:10] alamb commented on #3913
🎉

[2022-10-22 19:36] isidentical opened #3929 "[META] Improving cost calculations and cost based optimizations"
This is a meta issue for improving cost calculations and cost-based optimizations in DataFusion. We already have some statistics collected (mainly from the table sources) and there are estimations for statistics by some of the execution plan nodes, and the overall idea is to improve these as well as possible CBOs.

### Main Goals
- Have enough statistics to start nested join optimizations (#3843).

[2022-10-22 19:37] isidentical commented on #3929
@alamb @Dandandan @mingmwang I've created the meta/epic issue as we discussed

[2022-10-23 05:20] jackwener commented on #3904
[code]

Doc is right, you have missed `table_name`.

[2022-10-23 09:33] HaoYang670 commented on #3770
Do we need to consider the schema infomation of the parent query when optimizing the subquery?

[2022-10-23 10:11] alamb commented on #3904
I think the problem is with this example from https://arrow.apache.org/datafusion/user-guide/sql/ddl.html

[2022-10-23 11:54] jhorstmann commented on #1992
This sounded surprising, it seems what is not supported is the input syntax starting with a minus sign. Negative timestamps are supported, just with a different syntax:

[code]

[2022-10-23 13:03] retikulum commented on #3928
It looks interesting. Can you assign it to me?

[2022-10-23 16:40] Kikkon commented on #3873
@alamb If I understand correctly, just modify the return result of create_initial_plan, like this #3933.

[2022-10-23 17:24] alamb commented on #3928
See also- https://github.com/apache/arrow-datafusion/pull/3612 - the serialization code is a bit of a mess now but hopefully we can get it better

[2022-10-23 18:46] #3904 closed

[2022-10-24 11:14] HaoYang670 opened #3934 "Refactor `simplify_expressions` and `expr_simplifier`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, the items related to expression simplification are in `simplification_expressions.rs` and `expr_simplifier`, which is somewhat messy.
Some structs such as `ConstEvaluator` and `Simplifier` are only used in the simplification_expr, but are public in  `datafusion_optimizer`.

Also, th

[2022-10-24 13:02] HaoYang670 opened #3935 "Update the Roadmap.md"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]
Should we update this part as Ballista has been a top-level repo ?

link: https://github.com/apache/arrow-datafusion/blob/master/docs/source/contributor-guide/roadmap.md?plain=1#L100-L102

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-10-24 13:03] HaoYang670 commented on #3935
cc @andygrove.

[2022-10-24 13:13] alamb commented on #3935
It would be great to update the roadmap

[2022-10-24 13:15] alamb opened #3936 "Error using `IN` list on dictionary encoded data"
**Describe the bug**
I am writing a query to select some values from a dictionary encoded string column `trace_id` and I get an error

[code]
Results in this error

[code]

**To Reproduce**
Run this test:

[code]

Results in

[code]

**Expected behavior**
Test should pass

**Additional context**
Found this in IOx as part of https://github.com/influxdata/influxdb_iox/issues/5959

[2022-10-24 13:46] jackwener commented on #3935
We also can consider other part, some content is outdate.

[2022-10-24 14:08] waitingkuo commented on #3922
@ike560 Cast does support timestamp to INT64, you can try `CAST(tpep_pickup_datetime AS BIGINT)`

[2022-10-24 14:09] alamb opened #3938 "Predicate still has cast when comparing Timestamp(Nano, None) to a timestamp literal, so can't be pushed down or used for pruning"
**Describe the bug**
Comparing a Timestamp(Nanosecond, None) column to a timestamp literal is important for IOx and can be used to potentially prune significant amounts of data and pushed down to scans.

Specifically, to get the last hours of data you can use a predicate like:

[code]

Which should be evaluated to something like

[code]

However, today DataFusion can't get rid of the cast:
[code]

[2022-10-24 14:22] alamb commented on #1750
Closing this ticket and we can track further splitting in follow on issues. Again 👏

[2022-10-24 14:22] #1750 closed

[2022-10-24 14:27] alamb opened #3940 "Throw a runtime error if the memory allocated to GroupByHash exceeds a limit"

[2022-10-24 15:29] alamb opened #3941 "[Epic] Generate runtime errors if the memory budget is exceeded"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The basic challenge is that DataFusion can use an unbounded amount of memory for running a plan which typically results in DataFusion being killed by some system memory protection limit (e.g. the OOM Killer on Linux). See https://github.com/apache/arrow-datafusion/issues/587   for more details

[2022-10-24 15:32] alamb commented on #587
Added https://github.com/apache/arrow-datafusion/issues/3941 for the project of "error if memory limits are exceeded"

[2022-10-24 16:43] alamb commented on #3941
Yes, that would be amazing @xudong963  -- I think it is covered by https://github.com/apache/arrow-datafusion/issues/1599

I think that getting the MemoryManager hooked into the join (so it knows when it would run out of memory) is probably a prerequisite to automatically switching to sort-merge join during execution.

[2022-10-24 16:53] milenkovicm commented on #3941
Should memory limit be optimistic? What I mean in case of aggregation we could first process record batch, compare memory before and after batch is process and request delta value from memory manager. Otherwise we'd need to do two passes over records batch, or request memory for every record, which may lead to contention on memory manager and trigger spill in middle of batch processing. End of bat

[2022-10-24 19:43] andygrove commented on #3390
I think we can close this issue now that there are specific issues filed for optimizer rules that are failing, such as https://github.com/apache/arrow-datafusion/issues/3797, https://github.com/apache/arrow-datafusion/issues/3416, https://github.com/apache/arrow-datafusion/issues/3417, and https://github.com/apache/arrow-datafusion/issues/3418.

[2022-10-24 19:43] #3390 closed

[2022-10-24 19:56] sarahyurick opened #3944 "Bug with intervals and logical and/or"
**Describe the bug**
While reviewing #3408, I found an additional error when trying to evaluate `select i_item_desc from test where d3_date > d1_date + INTERVAL '5 days' and d2_date > d1_date + INTERVAL '3 days'`:

`Error: NotImplemented("Unsupported interval argument. Expected string literal, got: BinaryOp { left: Value(SingleQuotedString(\"5 days\")), op: And, right: BinaryOp { left: Identifier(

[2022-10-24 20:51] Dandandan opened #3945 "Implement right semi join and support it in HashBuildProbeOrder"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, we have a `SemiJoin` option, this is basically a left semi join.
This works nicely, but because we don't have a `RightSemiJoin` we can't change the build/probe order.

If we have a `RightSemiJoin` we could support this - changing to use a right semi join whenever the build side is l

[2022-10-24 20:52] alamb commented on #3936
@NGA-TRAN  says she plans to work on this

[2022-10-24 21:14] Dandandan opened #3946 "Implement right anti join and support it in HashBuildProbeOrder"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, we have a AntiJoin option, this is basically a left anti join.
This works nicely, but because we don't have a  RightAntiJoin we can't change the build/probe order.

If we have a RightAntiJoin we could support this - changing to use a right anti join whenever the build side is larger

[2022-10-24 21:24] #3906 closed

[2022-10-24 22:10] avantgardnerio opened #3947 "Don't make dependants install protoc"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'd like to file a PR with delta-rs (https://github.com/delta-io/delta-rs/pull/892) but it won't pass their CI because we require all our downstream dependencies to install protoc. Let's fix that.

**Describe the solution you'd like**

Have `build.rs` automatically download and extract the co

[2022-10-24 22:18] andygrove opened #3949 "Move physical plan serde from Ballista to DataFusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`datafusion-proto` supports logical plan serde, but physical plan serde is in Ballista.

**Describe the solution you'd like**
Move most physical plan serde code to DataFusion. Ballista will still need serde code for its own physical operators that are not part of DataFusion.

**Describe altern

[2022-10-25 00:23] #3873 closed

[2022-10-25 01:07] ygf11 commented on #3949
Similar issue:
* https://github.com/apache/arrow-datafusion/issues/3257

Happy to see it move on.

[2022-10-25 02:56] tustvold commented on #3538
Docs builds are still failing

[2022-10-25 05:02] ike560 commented on #3922
Thanks @waitingkuo
I tried it, CAST to BIGINT was OK.

[2022-10-25 05:51] #3865 closed

[2022-10-25 08:27] #3878 closed

[2022-10-25 09:09] yahoNanJing opened #3952 "Print the configurations of ConfigOptions in an ordered way so that we can directly compare the equality of two ConfigOptions by their debug strings"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-10-25 09:15] yahoNanJing opened #3954 "Change back to non async interface for try_into_logical_plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-10-25 10:33] crepererum commented on #3941
I think it's OK to have some slack room on top of the limit, which is somewhat controlled by the batch size. It's unlikely that we are going to account for every single byte anyways, since there might be some aux data structures here and there that are heap-allocated. So I would treat this is a "best effort limit w/o impacting performance (too much)".

We could later (if there's demand for it) add

[2022-10-25 11:46] mustafasrepo commented on #3830
I have traced the cause of this issue. The relevant section is [here](https://github.com/apache/arrow-datafusion/blob/7559c4425e6f32655c6d09e8ed17c9c51896472b/datafusion/core/src/physical_plan/windows/mod.rs#L101) for anyone trying to solve this issue. It seems that currently there is no support for expressions for the second (offset value) and the third(default value) field of the 'lag' function.

[2022-10-25 12:41] milenkovicm commented on #3941
One thing I cant really wrap my head around is use of `async` with `try_grow`.

Issue I have is with use of `try_grow` within struct `impl Stream` e.g `GroupedHashAggregateStreamV2` which actually handles `RecordBatch`

[code]

anybody has any better idea how to integrate it?

[2022-10-25 13:02] Jefffrey commented on #124
This looks to already be completed by this commit https://github.com/apache/arrow-datafusion/commit/82773fafcb4886b6e7338e85a6a9800bc156e53a

Should be able to close this issue?

[2022-10-25 13:08] xudong963 commented on #124
Yes, thanks for your check! @Jefffrey

[2022-10-25 13:08] #124 closed

[2022-10-25 13:23] crepererum commented on #3941
<https://docs.rs/futures/latest/futures/stream/fn.unfold.html> maybe?

[2022-10-25 14:06] andygrove commented on #3786
Another example in https://github.com/apache/arrow-datafusion/pull/3884#discussion_r1004027472

[2022-10-25 14:48] alamb commented on #3941
Yes, I agree this would be best strategy: as memory is needed, we request more memory from  the memory manager incrementally.

wdyt?

Yes

In general I think upgrading / improving the memory manager would likely be fine.

[2022-10-25 15:21] andygrove opened #3957 "[Governance] Should we leave PRs open for some minimum time to allow for reviews?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion is a very active fast-moving project and I am starting to see some issues with the pace. We often have PRs being merged within 12 hours of being filed ( know I am guilty of doing this) and this means that contributors in other timezones do not have the opportunity to review. I know

[2022-10-25 15:23] andygrove commented on #3957
@alamb @tustvold @Dandandan @tustvold Let me know what you think

[2022-10-25 15:32] ozankabak commented on #3830
Since this seems like an API issue rather than an execution issue, we will de-pri it on our end for now. We will circle back to this in the mid-term. If anyone needs it fixed in the short-term, we will be happy to provide further pointers.

[2022-10-25 15:33] avantgardnerio commented on #3957
+1 FWIW - I think it will be a little painful sometimes, but is probably the lightest weight change we could make to policy to not have the opposite issue of having work merged, but then worrying about it being reverted again.

[2022-10-25 15:41] xudong963 commented on #3957
+1.

For some minor or chore changes, I think it doesn't matter. But for big changes (such as API change, architect change) or some controversial changes, we need to give it more time (more than 24 hours) to be reviewed by at least two reviewers.

[2022-10-25 15:45] avantgardnerio commented on #3538
Can you explain what you mean please? I see the [results](https://docs.rs/datafusion/latest/datafusion/dataframe/struct.DataFrame.html) and the [build log](https://docs.rs/crate/datafusion/13.0.0/builds/646413) contains no errors (only warnings).

[2022-10-25 15:51] comphead commented on #3957
@andygrove imho increasing min required reviewers  to 2 might help also

[2022-10-25 15:55] Dandandan commented on #3957
+1
I would also advocate for trying to keep this a "common sense" policy: only when there is a substantial change in the API or design.

So, some examples of what I think we should be able to merge within 24 hours:

* Documentation improvements/additions
* Most bug fixes
* Non-controversial build-related changes (clippy, version upgrades etc.)
* Smaller non-controversial feature additions

[2022-10-25 16:03] alamb commented on #3954
Can you explain what challenges this caused you downstream (aka can we help make the downstream consumer of this function async)

[2022-10-25 16:10] alamb commented on #3957
I agree 100% with this. Making it common sense so we can merge small changes is also fine with me 👍  Anything marked as API change is for sure should be left open for 24 hours.

I would be in favor of this change only if more people in the community can step up to review PRs (especially larger or trickier changes). I falready a struggle to get them reviewed in a timely manner.  Adding additional r

[2022-10-25 16:14] alamb commented on #3957
One minor variation is to wait for 24 hours after a major PR is approved to merge it. That way people can see what PRs are candidates to be merged and can prioritize their review more appropriately.

[2022-10-25 16:19] avantgardnerio commented on #3957
:100: contingent upon resources we don't yet have (and my apologies for not being more active myself).

[2022-10-25 16:21] alamb commented on #3538
Perhaps https://docs.rs/crate/datafusion-proto/13.0.0

With https://docs.rs/crate/datafusion-proto/13.0.0/builds/646416 failure:

[2022-10-25 16:21] alamb commented on #3538
BTW the fact that generated code definition jump to works in datafusion-proto is awesome!

[2022-10-25 16:29] avantgardnerio commented on #3538
For the record:

[code]

It looks like my previous fix got the main build to work on docs.rs, but specifically not the `datafusion-proto` crate. And unfortunately docs.rs will only let us generate into the `OUT_DIR`.

I see 3 possible solutions:
1. generate into `OUT_DIR`, but only for docs.rs (getting complicated and painful here)
2. we always generate to `OUT_DIR` and as a CLion user, I enable t

[2022-10-25 16:33] alamb commented on #3830
Thanks for the investigation @mustafasrepo  and @ozankabak

Perhaps we can change the code to generate an error (rather than a panic) to more clearly explain to users what the probelm is

[2022-10-25 16:45] alamb commented on #3941
There is also `memory_fraction` on `MemoryManagerConfig` https://docs.rs/datafusion/13.0.0/datafusion/execution/memory_manager/enum.MemoryManagerConfig.html to account for some slack in estimates

[2022-10-25 16:46] alamb commented on #3929
I believe the next step is some sort of design document.

[2022-10-25 16:53] alamb commented on #3827
We should increase the declared minimum version of chrono in Datafusion's Cargo.toml to be "0.4.22" if we use features that appear only in versions 0.4.22 or later

https://github.com/apache/arrow-datafusion/search?l=TOML&q=chrono

[2022-10-25 16:57] alamb commented on #3827
Proposed fix https://github.com/apache/arrow-datafusion/pull/3959

[2022-10-25 18:13] Dandandan commented on #3929
Maybe you can share the doc publicly so anyone can do suggestions?

[2022-10-25 19:04] alamb opened #3960 "Put common code used for testing code into datafusion/test_utils.rs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I want to reuse some code added by @thinkharderdev in #3769 in a new test I want to write, but it is in a benchmark at the moment.

**Describe the solution you'd like**
Refactor common code used for testing code into datafusion/test_utils.rs

Hopefully this will:

1. Make it clear that the cod

[2022-10-26 00:24] #3827 closed

[2022-10-26 00:53] #3934 closed

[2022-10-26 02:47] #3952 closed

[2022-10-26 06:39] Jefffrey commented on #144
Implemented by https://github.com/apache/arrow-datafusion/commit/bc1e590edbf77f5fe112a89fe7f3272b5de06ea2

Issue can be closed

[2022-10-26 06:49] #144 closed

[2022-10-26 06:49] Dandandan commented on #144
Thanks @Jefffrey

[2022-10-26 07:06] Jefffrey commented on #184
Fixed by https://github.com/apache/arrow-datafusion/commit/5c5a0bb0af8130069071c193ca8c214022666a4e

[2022-10-26 07:14] #184 closed

[2022-10-26 07:14] Dandandan commented on #184
Thanks @Jefffrey

[2022-10-26 07:35] metesynnada opened #3964 "Bug on propagating arrow field metadata"
**Describe the bug**
While converting DFSchema to Schema, field metadata is not preserved. It may cause future bugs on methods like `alias`.

**To Reproduce**
Create a `DFSchema` that has fields with metadata.

[code]

**Expected behavior**
Fields preserve the metadata.

**Additional context**
It will be solved by changing `From<DFSchema> for Schema` method.

[2022-10-26 09:23] luobei42 commented on #3819
Hi Andrew,

Thanks for checking. I ran the above test again against the latest version of datafusion-python (using the git repo git@github.com:datafusion-contrib/datafusion-python.git as recommended on https://pypi.org/project/datafusion/0.6.0/). With this version I can still reproduce the problem (left join query yields no results).

Next I tried to do a Rust build of this repo here to reproduce

[2022-10-26 10:45] yahoNanJing commented on #3957
+1

Totally agree for leaving PRs with API changes open for 24 hours.

[2022-10-26 10:52] milenkovicm commented on #3941
Thanks @alamb,

As I said in previous comment, the biggest problem of integrating aggregation with memory manager is `async` at `MemoryConsumer::try_grow` function. `async` is there to facilitate `async spill(..)` additional memory can't be acquired.

easy ways to work around `async` would be either to:
* de-couple `try_grow` and `spill`, removing `async` from `try_grow`, do manual `spill` in case

[2022-10-26 11:15] #3928 closed

[2022-10-26 11:48] Dandandan commented on #3819
One thing I see is that you use `collect()[0]` (taking the first partition) in your example, but it might return multiple partitions if you have multiple cores. Did you try looking at all of the returned partitions?

[2022-10-26 12:22] #3571 closed

[2022-10-26 12:24] crepererum opened #3968 "`Expr::to_bytes` can produce output that hits `Expr::from_bytes` recursion limit"
**Describe the bug**
`Expr::to_bytes` with deeply nested expressions can produce a byte sequence that cannot be read by `Expr::from_bytes` because the prost recursion limit is hit. This is suboptimal in distributed application because it would be good if a client can decide if an expression is wire/roundtrip-safe and potentially adjust its predicate pushdown accordingly.

**To Reproduce**

[code]

[2022-10-26 12:50] yjshen commented on #3941
Hi, sorry to join this party late.

I don't quite get why the async is a problem for the memory manager while implementing aggregation.

We could do memory-limited aggregation as follows:

1. try to allocate a fixed-sized buffer (a record batch or a row batch (if row aggregate is possible) with 8096 rows for example.) for incoming groups.
2. aggregate incoming records, updating existing buffer slo

[2022-10-26 13:23] milenkovicm commented on #3941
thanks for your comment @yjshen,

concern raised in previous comments is not spill algorithm for aggregation, it is about interaction between `non-async` and `async` code.

As it is implemented `GroupedHashAggregateStreamV2` lives in non-async word but memory manager / memory consumer expose `async` methods which can't be called from `poll_next`:

[code]
so the question is how to bridge the gap

[2022-10-26 13:34] yjshen commented on #3941
Thanks for the explanation!

Sort in DataFusion is currently memory limited, and I think we could apply a similar approach in aggregation like that in sort: https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/physical_plan/sorts/sort.rs#L799-L813.

We could async `do_agg` as it is for `do_sort`.

[2022-10-26 13:37] luobei42 commented on #3819
Hi Daniël, it seems that I was not aware of this API feature - I just assumed that collect() only returns one result from experiments.
The correct result is indeed returned in another partition!
Is there an API to combine all the partitions automatically? Something like collect_in_one_partition()?

[2022-10-26 13:49] NGA-TRAN commented on #3936
I am actively working on this

[2022-10-26 15:57] andygrove commented on #957
Looks like this can be closed.

[2022-10-26 15:57] #957 closed

[2022-10-26 16:06] #2255 closed

[2022-10-26 16:06] #2252 closed

[2022-10-26 16:50] alamb commented on #3463
Update here: I am working on some fuzz testing for the predicate pushdown code

[2022-10-26 19:12] retikulum commented on #3152
Hi. While this issue is getting old, I might help but have some questions. . I will give `as_int32_array` as a generic example so you can think of those questions for all other types.

-  In which file we should implement `as_int32_array` function? I have implemented it in `datafusion\common\src\lib.rs` but I am not quite sure about the architecture.
- Before opening pr, I want to be sure that thi

[2022-10-26 20:47] avantgardnerio opened #3977 "`async` deserialization functions are unintuitive and possibly insecure"
**Describe the bug**

[Discussion](https://github.com/apache/arrow-datafusion/pull/3955#issuecomment-1292184021) has highlighted that turning the `logical_plan_from_bytes()` method `async` was probably not a great idea. We should revert it, but not break the progress being made on `deltalake` tables in Ballista.

**To Reproduce**

No reproduction steps, but it doesn't seem like a feature either.

[2022-10-26 21:06] alamb commented on #3152
I think that is reasonable. Or perhaps something like `datafusion\common\src\cast.rs` ?

[2022-10-26 21:07] alamb commented on #3152
Thanks @retikulum  -- that looks good to me

What I would suggest is doing this in a series of smaller PRs -- perhaps add a few functions like `as_int32_array`, `as_uint32_array`, etc and consolidate some of the uses.

That way we can then get feedback from the wider community before you spend a large amount of your time changing the entire codebase

[2022-10-26 21:17] retikulum commented on #3001
Hi. I think this issue is fixed (I guess on #3171) but not understand why it is still open? https://arrow.apache.org/datafusion/user-guide/sql/ddl.html

![image](https://user-images.githubusercontent.com/15185911/198138986-2133620c-f5e4-491c-82f3-a25061c9ffa6.png)

[2022-10-26 21:32] alamb commented on #3929
I plan to review the doc carefully tomorrow ❤️

[2022-10-26 21:34] retikulum commented on #3152
`datafusion\common\src\cast.rs` is my first idea but I just don't want to create a new file :) cast  fits better.

This is exactly what I planned. Moreover, I will not get lost in the ocean. Thanks for feedback @alamb

[2022-10-26 21:48] isidentical commented on #3929
Thanks @alamb! I'll also try to talk a bit more about it with real-world examples in the [tomorrow's meeting](https://arrow.apache.org/datafusion/contributor-guide/communication.html#sync-up-video-calls) from scratch (if we would have the time for that in this meetup, and if I can actually make it there), just in case if anyone is also planning to attend.

[2022-10-27 04:53] #3977 closed

[2022-10-27 07:08] #3538 closed

[2022-10-27 07:08] #3947 closed

[2022-10-27 08:32] Jefffrey commented on #2560
Links have been fixed by https://github.com/apache/arrow-datafusion/pull/3956, all links should be working now for contributor guide index doc

[2022-10-27 08:41] #2560 closed, assigned to nobody

[2022-10-27 09:10] Jefffrey commented on #1577
Looks to be fixed by https://github.com/rust-lang/packed_simd/commit/45d5347a0d2187c046a546a477d2a53111cd7713

Which was released in ver 0.3.6

Version is currently 0.3.8

[code]

And error not reproducible:

[code]

(`rustc 1.66.0-nightly (1898c34e9 2022-10-26)`)

[2022-10-27 13:05] alamb opened #3980 "Can not use `extract <part>` on the value of `now()`"
**Describe the bug**
I would like to be able to find the current date, or the current day of week, etc

DataFusion supports `now()` and `extract (hour from <timestamp>)` syntax ✅

However, you can't use `extract` with the value of `now()` 😢

**To Reproduce**
[code]

**Expected behavior**
I expect the day part of `now()` to be extracted as in postgres:

[code]

Note that the error seems to be that

[2022-10-27 13:06] alamb commented on #3148
I filed https://github.com/apache/arrow-datafusion/issues/3980 and added it to this ticket -- I plan to add more date/time open issues here to help track them

[2022-10-27 13:15] alamb opened #3981 "Implement `current_date` Function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As we add more full featured date/time support for DataFusion users need to be able to use the current date to calculate things like "all data in the last 30 days"

**Describe the solution you'd like**
Support the `current_date` postgres function https://www.postgresql.org/docs/current/functio

[2022-10-27 13:18] alamb opened #3982 "Implement `current_time` Function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As we add more full featured date/time support for DataFusion users need to be able to use the current time to calculate things like "all data in the last 5 hours"

**Describe the solution you'd like**
Support the `current_time` postgres function https://www.postgresql.org/docs/current/functio

[2022-10-27 13:50] alamb commented on #3957
working on a PR with some proposed wording here

[2022-10-27 14:02] andygrove opened #3983 "Add statistics methods to `TableProvider` trait for use in cost-based optimizations in the logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
For projects like Dask SQL that use DataFusion for logical query planning and optimization, I would like to support cost-based optimizations in the logical plan. The first step in enabling this is to allow Dask SQL's TableProvider to provide statistics about tables (such as estimated row count

[2022-10-27 14:05] andygrove opened #3984 "Implement cost-based join-reordering in the logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to implement cost-bsaed join-reordering in the logical plan, based on minimal statistics supplied by TableProvider (once https://github.com/apache/arrow-datafusion/issues/3983 is implemented).

**Describe the solution you'd like**

Possible solutions:

- Base it on DuckDB join reo

[2022-10-27 14:06] alamb commented on #3957
Proposal in https://github.com/apache/arrow-datafusion/pull/3985

[2022-10-27 14:29] alamb commented on #3830
I think we fixed the panic here: https://github.com/apache/arrow-datafusion/pull/3963

We can file a follow on ticket to support expressions in the window size, if needed. Thanks everyone!

[2022-10-27 14:29] #3830 closed

[2022-10-27 15:55] waitingkuo commented on #3980
i guess this is similar as #3096

[2022-10-27 16:16] alamb commented on #3980
I'll plan to try and improve things here myself in the next week or two if no one else has a chance

[2022-10-27 16:41] ozankabak commented on #3957
I, @mustafasrepo and @metesynnada are happy to help with reviews. Feel free to mention us on any PRs you think we can help. We will also proactively try to help.

[2022-10-27 16:50] waitingkuo commented on #3980
i'm working on this apache/arrow-rs#1380 which is probably one of the root case for `extract` and `date_part`
https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/temporal.rs#L694-L712

in postgres `extract` returns `numeric/decimal` while `date_part` returns double precision. Should we follow it?
https://www.postgresql.org/docs/15/functions-datetime.html

btw, postgres doc rec

[2022-10-27 17:16] andygrove commented on #3843
We could also look at DuckDB join reordering: https://www.youtube.com/watch?v=aNRoR0Z3SzU

I filed a duplicate issue before I saw this one, although mine is specifically for the logical plan. https://github.com/apache/arrow-datafusion/issues/3984

[2022-10-27 17:36] #3960 closed

[2022-10-27 17:40] #3964 closed

[2022-10-27 17:42] andygrove opened #3988 "Implement TableProvider.statistics for Parquet TableProvider"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Once https://github.com/apache/arrow-datafusion/pull/3986 is merged, it would be good to implement this for the parquet provider.

**Describe the solution you'd like**
Implement TableProvider.statistics for Parquet TableProvider

**Describe alternatives you've considered**
None

**Additional c

[2022-10-27 18:22] #3945 closed

[2022-10-27 20:23] comphead opened #3990 "[DISCUSSION] Naming convention for non-aliased columns"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Related to #3882  #3722
As of now, not aliased column names gets their name generated using function, arguments and other information ending up with not user-friendly aliases like `btrim(test.a,Utf8(\"ab\"))`

**Describe the solution you'd like**
Discuss the naming convention for non-aliased c

[2022-10-27 20:24] comphead commented on #3990
@andygrove @alamb @Dandandan created a separate ticket on naming convention discussion as you already familiar with this as part of #3882

[2022-10-27 20:28] alamb commented on #3980
I am not quite sure what you are asking. Are you asking if we should follow postgres so that `date_part` returns `double`?

If so I don't have any strong opinion 🤷

[2022-10-28 05:30] Kikkon commented on #3949
🤓 I'm not that experienced in Ballista and DataFusion but this issue seems not to be complicate ? May I have a try ?

[2022-10-28 06:17] waitingkuo commented on #3980
@alamb

datafusion currently returns `i32` which might lose some information, e.g.

[code]

and

[code]

while postgresql has
[code]
which returns double precision

and

[code]
which returns decimal

is it recommended to follow postgresql's return type?

[2022-10-28 06:31] mingmwang commented on #3845
@alamb Thanks, I will go through all the tickets and take a closer look at the current code base , I can help working on some
of the open tasks.

[2022-10-28 09:49] #3983 closed

[2022-10-28 10:20] mingmwang commented on #987
Is it still valid. I think today's ExecutionPlan is already immutable except for the run time plan metrics.

[2022-10-28 13:19] alamb commented on #3980
That probably makes the most sense

Agreed -- can you file a ticket? (basically copy/paste https://github.com/apache/arrow-datafusion/issues/3980#issuecomment-1294513044 😆 )

[2022-10-28 13:21] alamb commented on #3990
Thanks @comphead  -- I don't have any strong opinions on this matter.

[2022-10-28 14:05] waitingkuo opened #3996 "change `extract` return types to decimal"
extract currently returns i32 which might loss some information

[code]

while postgresql returns decimal

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

change it to decimal

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add a

[2022-10-28 14:11] waitingkuo opened #3997 "change` date_part` return types to f64"
`date_part` currently  returns `i32` which might lose some information, e.g.

[code]

while postgresql returns double precision
[code]

is it recommended to follow postgresql's return type?
if it is preferred, perhaps we could do a separate pr to deal with this

change it to double precision

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Descri

[2022-10-28 14:12] waitingkuo commented on #3980
@alamb
i fired 2 instead 😆  #3996 #3997

[2022-10-28 14:13] alamb opened #3998 "Record per-predicate statistics for effectiveness of parquet predicate pushdown"
LGTM, I think if there any more than one predicates in one query, should we record the each predicate's input records count to calculate the efficiency 🤔  So could guide the user do the rearrangement.

_Originally posted by @Ted-Jiang in https://github.com/apache/arrow-datafusion/pull/3989#pullrequestreview-1159337459_

[2022-10-28 14:18] #3968 closed

[2022-10-28 15:55] comphead commented on #3990
thanks @alamb so you happy for both, lets wait @andygrove or @Dandandan to share their thoughts. This is a breaking change and will be good to decide once

[2022-10-28 16:54] Dandandan opened #4001 "Output schema of semi join has invalid projection added after HashBuildProbeOrder"
**Describe the bug**
Output schema of semi join has invalid projection added after HashBuildProbeOrder.
The code in HashBuildProbeOrder assumes that we use both left and right side, this is however not the case.
For semi joins, we can just keep the original schema instead.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected

[2022-10-28 16:55] alamb opened #4002 "Wrong results when parquet page index filtering is enabled"
**Describe the bug**
When I enable page index filtering incorrect answers result

NOTE that page index filtering is not enabled by default (as we are still working on it) so this issue will not likely affect users:

**To Reproduce**
1. Download data from [repro.zip](https://github.com/apache/arrow-datafusion/files/9890414/repro.zip)
2. Run datafusion CLI:

**Expected behavior**
Same answer should

[2022-10-28 17:25] isidentical opened #4003 "Representing statistics in logical or physical plans (or in both of them)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

There seems to be a few use cases that can be uncovered with being able to have statistics in the logical plan:

- Helping projects (e.g. Dask SQL) that only use logical plans to have a way to access statistics (so that they can actually leverage them themselves, without needing to use the ph

[2022-10-28 18:25] alamb opened #4005 "Incorrect results with parquet filtering pushdown enabled"
**Describe the bug**
DataFusion gets different answers when parquet pushdown is enabled

NOTE that pushdown filtering is not enabled by default (as we are still working on it) so this issue will not likely affect users:

**To Reproduce**
1. Download data from
[repro.zip](https://github.com/apache/arrow-datafusion/files/9890904/repro.zip)
2. Run datafusion CLI

The query run is
[code]

**Expected b

[2022-10-28 18:25] alamb commented on #3463
I found a bug in pushdown by writing a test https://github.com/apache/arrow-datafusion/issues/4005

[2022-10-28 18:50] alamb opened #4006 "Internal error when parquet predicate pushdown is enabled "Error evaluating filter predicate:""
**Describe the bug**
DataFusion generates an error for some predicates when predicate pushdown is enabled

NOTE that pushdown filtering is not enabled by default (as we are still working on it) so this issue will not likely affect users:

**To Reproduce**
1. Download data from
[repro.zip](https://github.com/apache/arrow-datafusion/files/9890904/repro.zip)
2. Run datafusion CLI

The query run is
[c

[2022-10-28 18:51] alamb commented on #3463
I found another one with my test. I will keep the list on this ticket updated

[2022-10-28 19:37] alamb commented on #4003
Thank you for this discussion @isidentical - the summary is quite nice

There are some cases where the physical plan will have better information available to it (e.g. it may have read the parquet metadata header and have much more accurate statistics than just the file names) than the logical plan.

Thus I think having statistics available for both logical and physical planning makes sense (aka o

[2022-10-28 20:45] Dandandan commented on #3946
We should update the HashBuildProbeOrder to not add projections when a anti join is swapped.

[2022-10-28 20:57] #4001 closed

[2022-10-28 21:47] Dandandan opened #4009 "Improve HashJoinExec metrics"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The metrics don't fully tell the story of how hash joins spend their time.

**Describe the solution you'd like**
Suggestions:
* Include a metric `build_time` that includes the time to build the hashmap (might be the most expensive part if build side is large)
* Rename `join_time` to `probe_tim

[2022-10-28 23:13] comphead commented on #3981
@alamb please assign the task to me.

And let me know how to regenerate `prost.rs` locally to reflect latest changes for  Scalar types?

[2022-10-28 23:48] retikulum commented on #3001
Do I think wrong? @andygrove

[2022-10-29 02:41] naosense commented on #3982
This sounds good start to me, could you please assign it to me or some extra advises?

[2022-10-29 04:58] #3001 closed

[2022-10-29 04:59] Dandandan commented on #3001
Thanks @retikulum for noticing

[2022-10-29 09:59] waitingkuo commented on #3982
@alamb postgresql's current_time returns TIMETZ

[code]

what should we return here?

[2022-10-29 10:39] Dandandan commented on #3729
`tests::run_q1` is working on master (just confirmed). Hopefully when the TPC-H regression tests are there we can avoid errors creeping in.

[2022-10-29 10:39] #3729 closed

[2022-10-29 11:28] alamb commented on #3982
@waitingkuo  I was imagining it would return a https://docs.rs/arrow/latest/arrow/array/type.Time64NanosecondArray.html

But I have not thought as deeply as you about the timezone implications, so if you have a different suggestion I would love to hear it.

Hi @naosense  -- thanks and done!

[2022-10-29 11:29] alamb commented on #3981
Thanks @comphead

And let me know how to regenerate prost.rs locally to reflect latest changes for Scalar types?

It may be related to https://github.com/apache/arrow-datafusion/issues/3947 / https://github.com/apache/arrow-datafusion/pull/3979 . Maybe @avantgardnerio  or @tustvold  have some ideas or a doc pointer

[2022-10-29 11:32] alamb commented on #3980
We'll get there some day!

[2022-10-29 11:47] #3854 closed

[2022-10-29 11:53] #3858 closed

[2022-10-29 12:36] luobei42 commented on #3819
Btw, the documentation on the pypi page is misleading in this regard (https://pypi.org/project/datafusion/0.6.0/). The code examples's comment says:

[code]

[2022-10-29 13:44] andygrove opened #4016 "Publish benchmark crate so that it can be used as a library in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am starting to get frustrated with maintaining two copies of the same benchmark :weary:

**Describe the solution you'd like**
Publish datafusion-benchmark crate so that Ballista can use it as a depedency

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-10-29 15:20] avantgardnerio commented on #3981
@tustvold I see you added [instructions for installing protoc](https://github.com/apache/arrow-datafusion/pull/3950/files#diff-3852a426279afbdc5e8b69e8ec4460bf9710d19d1553f0287e29766f9d2c473b)... would you mind adding the bash command you use to run it? :raised_hands:

[2022-10-29 16:01] Ted-Jiang commented on #4002
@alamb find error in my local branch
[code]
Seems can not create  batch in `build_statistics_record_batch`  will `NULL` valuse.
Because `container` col:
[code]
now not support `BINARY` type which will return a null array now, will add a fallback .

[2022-10-29 17:46] tustvold commented on #3981
There is no command, just build the project as normal, the build script does the rest

[2022-10-29 18:18] comphead commented on #3981
Hi @tustvold

I have tried to build it first
[code]
If I go to prost.rs I dont see CurrentDate generated. I suppose `BuiltinScalarFunction` enum is the driver to generate new code?

[2022-10-29 18:22] tustvold commented on #3981
Have you updated the protobuf definition in https://github.com/apache/arrow-datafusion/blob/master/datafusion/proto/proto/datafusion.proto ?

[2022-10-29 19:03] tustvold commented on #4005
I wonder if this relates to pushing down an empty projection, it is possible there is a bug there, I don't remember seeing a test in arrow-rs for this

[2022-10-29 19:13] tustvold commented on #4005
I can reproduce this with

[code]

[2022-10-29 19:20] tustvold opened #4020 "Simplify Pushed Down Predicates"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Not sure if this is a bug of a feature request but running the query contained in #4

[2022-10-29 19:38] tustvold commented on #4005
Ok so the bug is that `DatafusionArrowPredicate` is assuming that `ProjectionMask` is order preserving, and so is not remapping the columns before passing them to `PhysicalExpr`. In reality `ProjectionMask` is not order preserving, and so the batch passed to `ArrowPredicate::evaluate` has columns in the order of the file's schema. In the case of this query, this results in it evaluating the predic

[2022-10-29 19:40] tustvold commented on #4006
It looks like this has the same underlying cause as https://github.com/apache/arrow-datafusion/issues/4005#issuecomment-1295949956

Reordering the predicates works

[code]

[2022-10-29 20:50] comphead commented on #3981
Right, sorry, totally forgot about it! :-/

[2022-10-29 21:02] comphead commented on #3982
Hi @naosense please follow the #4022 PR

[2022-10-29 21:04] andygrove opened #4023 "benchmark q11 producing incorrect results"
**Describe the bug**
Query produces too many rows due to an aggregate producing the wrong result. Changing the schema to use Float64 instead of Decimal(12,5) fixes it.

**To Reproduce**
Once https://github.com/apache/arrow-datafusion/pull/4015 is merged, unignore verify_q11.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other

[2022-10-29 21:06] comphead commented on #3997
@waitingkuo may I try this?

[2022-10-29 21:13] andygrove opened #4024 "benchmark q6 producing incorrect result"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-10-29 21:18] andygrove opened #4025 "benchmark q14 produces incorrect result"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-10-29 21:21] andygrove opened #4026 "benchmark q17 produces incorrect result"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-10-29 21:26] andygrove commented on #3819
The published Python bindings for DataFusion are extremely out-of-date. Could you try with latest from https://github.com/apache/arrow-datafusion-python ?

[2022-10-29 22:00] andygrove opened #4027 "Cannot query external table - TableScan replaced with EmptyExec"
**Describe the bug**
I am using the CLI to try and query a file. It shows that the file has no data but this is not the case.

**To Reproduce**

[code]

[code]

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-10-29 22:37] tustvold commented on #4027
Looks like a duplicate of https://github.com/apache/arrow-datafusion/issues/1736

[2022-10-30 02:01] tustvold opened #4028 "Return TableProviderFilterPushDown::Exact when Parquet Pushdown Enabled"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Currently even when parquet predicate pushdown is enabled, and the predicate can be

[2022-10-30 07:38] waitingkuo commented on #3997
sure, please try it~

[2022-10-30 09:11] waitingkuo commented on #3982
@alamb i have no idea for timetz in arrow-rs for now as `Time` has not timezone (e.g. `DataType::Time64(TimeUnit::Nanosecond)` while `Timestamp` has (e.g. `DataType::Timestamp(TimeUnit::Nanosecond, Some("UTC".to_string()))`

i think we could either
1. follow postgresql's function signature that means we could implement `LOCAL_TIME` instead
2. keep it simple, return `TIME` directly for now and comm

[2022-10-30 09:38] YjyJeff opened #4029 "Public some fields for about functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Hi, I want to serialize/deserialize the physical plan into protobuf such that the PhysicalPlan can be transmitted between different computers. Firstly, I took a look at the [ballista](https://github.com/apache/arrow-ballista) and find that most of the physical plan/expressions are supported,

[2022-10-30 11:26] luobei42 commented on #3819
I tried to use those bindings; running "maturin develop" still works, but "python -m pytest" fails with test errors. Running the above example yields a similar result.

So, I guess the API documentation is just wrong (also in the bindings repo's README) and calling collect()[0] is not the  right API (though generally I am a fan of calling collect, it's so much cheaper).

[2022-10-30 11:31] alamb commented on #4020
I agree that is not good -- we can isolate what optimizer pass is doing it by using `explain verbose` and then track it down further

[2022-10-30 12:43] HaoYang670 commented on #3671
We can close this issue now, I guess.

[2022-10-30 13:35] Gentoli opened #4030 "ScalarUDF called twice when using filter on UDF column"
**Describe the bug**
Filtering results from a ScalarUDF results in it being called twice.

**To Reproduce**

[code]
Same happens with SQL:
[code]

The UDF is not so "stable". Regardless it should not be called twice (prints `udf in: PrimitiveArray ...` twice). And the results can actually return `true` when the filter is false.

<details>
  <summary>Output + Test files</summary>

Output:
[code]

t

[2022-10-30 14:15] andygrove commented on #1736
I plan on fixing this for 14.0.0

[2022-10-30 14:15] #4027 closed

[2022-10-30 14:17] #4016 closed

[2022-10-30 14:19] andygrove opened #4032 "Improve speed of benchmark verification tests"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/pull/4015 added a new CI workflow to verify that the benchmark queries produce the correct results. This prevents regressions so is important, but it takes a long time to run.

**Describe the solution you'd like**
I think the ideal solution would b

[2022-10-30 14:56] andygrove commented on #1736
Some notes from investigating this.

This is where the `EmptyExec` gets introduced. I ran into this issue in Ballista as well in https://github.com/apache/arrow-ballista/pull/414

[code]

The problem is I am registering a CSV data source and the filename does not end with `.csv` and we have hard-coded assumptions that CSV files must end with `".csv"`, so we cannot support `.tsv` or `.tbl`. I think

[2022-10-30 15:00] andygrove commented on #1736
I propose that the error check we add is that at least one file exists with the specified extension.

[2022-10-30 15:30] andygrove opened #4034 "DataFusion 14.0.0 Release"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

RC target date: November 4th, 2022

Issues: https://github.com/apache/arrow-datafusion/issues?q=is%3Aopen+is%3Aissue+milestone%3A14.0.0

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and co

[2022-10-30 15:39] #3946 closed

[2022-10-30 15:54] andygrove opened #4035 "Decimal multiplied by Float produces incorrect results"
**Describe the bug**
Decimal multiplied by Float produces incorrect results

**To Reproduce**

This is fine:

[code]

This is not fine:

[code]

More info:

[code]

**Expected behavior**

Looks like type coercion needs to cast both sides to decimal.

[code]

**Additional context**
Add any other context about the problem here.

[2022-10-30 15:54] andygrove commented on #4023
I think that the root cause is https://github.com/apache/arrow-datafusion/issues/4035

[2022-10-30 16:10] andygrove commented on #4035
Here is some more odd behavior:

[code]

[code]

[2022-10-30 16:11] andygrove commented on #4035
@liukun4515 are you familiar with this area of code?

[2022-10-30 17:09] andygrove commented on #3783
@Miyake-Diogo Apologies for the late reply, but schema can be set in `CsvReadOptions`.

The root issue of not writing all results was fixed in https://github.com/apache/arrow-datafusion/pull/3801

[2022-10-30 17:09] #3783 closed

[2022-10-30 17:13] andygrove commented on #3633
This was resolved

[2022-10-30 17:13] #3633 closed

[2022-10-30 17:20] andygrove commented on #1434
I have seen other query engines introduce specialized versions of some expressions to handle this issue. For example, we could use something like this to represent many expressions connected with `or`.

[code]

We could maybe generalize to:

[code]

[2022-10-30 18:38] andygrove opened #4036 "Add documentation to make it clear that decimal support is still experimental"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I was surprised to find that decimal support was causing the benchmark queries to return incorrect results. I think we need to make it clear that we are still working on decimal support so that users are not surprised. I even wonder if we should have a config flag to enable decimal support.

*

[2022-10-30 19:45] andygrove commented on #4024
This issue is not related to decimal support. I see the same behavior after reverting to use floats.

[code]

[2022-10-30 19:46] andygrove commented on #4024
If I change part of the query from this:

[code]

to this:

[code]

then it works

[2022-10-30 19:51] andygrove commented on #4024
never mind, this is related to decimal so we'll have to wait until decimals are supported to fix this one

this is how the query is running in the physical plan and this is a different range of rows compares to between `0.05 and 0.07`.
[code]

[2022-10-30 22:40] #4005 closed

[2022-10-30 22:40] #4006 closed

[2022-10-30 22:58] tustvold commented on #3996
This likely will want to wait until decimal support is more consistent - see #4036

[2022-10-31 01:41] naosense commented on #3982
That's nice, thanks!

[2022-10-31 02:39] yjshen commented on #3941
Thanks @alamb for reminding me! I'll start working on #2723 this week.

[2022-10-31 07:52] MichaelLeeHZ opened #4040 "InvalidArgumentError("Column 'COUNT(DISTINCT demo.name)[count distinct]' is declared as non-nullable but contains null values")'"
**Describe the bug**
Datafusion panic when I query `select app,count(distinct name) from `demo` group by app`.
Here is the stacktrace:
[code]
**To Reproduce**
1. Create a table like this:
[code]
2. Insert data
[code]
3. Query like following statement， with Group-By and Count(DISTINCT) operator.
[code]
**Expected behavior**
Return a result, not panic

**Additional context**
I found this bug when I

[2022-10-31 10:32] #3981 closed

[2022-10-31 12:45] alamb commented on #3941
Also, as one might imagine given our renewed interest in this ticket, someone from the IOx team may start working on generating runtime errors in the next few days as well

[2022-10-31 12:46] alamb commented on #1736
Makes sense to me

[2022-10-31 12:48] alamb commented on #4005
Thank you for debugging / fixing this @tustvold

[2022-10-31 13:49] #3957 closed, assigned to nobody

[2022-10-31 14:30] alamb commented on #3463
I think we are getting close

[2022-10-31 14:43] Jimexist opened #4045 "add uuid() function to generate unique uuid per row"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

add uuid() function to generate unique uuid per row

**Describe the solution you'd l

[2022-10-31 15:08] #4035 closed

[2022-10-31 15:59] alamb opened #4046 "Another Internal error when parquet predicate pushdown is enabled "Error evaluating filter predicate:"
**Describe the bug**
DataFusion generates an error for some predicates when predicate pushdown is enabled.

NOTE This is the same symptom as reported on https://github.com/apache/arrow-datafusion/issues/4006 but with a different predicate

NOTE that pushdown filtering is not enabled by default (as we are still working on it) so this issue will not likely affect users:

**To Reproduce**
1. Download

[2022-10-31 18:16] #4025 closed

[2022-10-31 18:16] #4026 closed

[2022-10-31 18:16] #4023 closed

[2022-10-31 19:13] retikulum commented on #3663
Didn't #3824 close this or am I missing something?

[2022-10-31 19:25] isidentical commented on #3898
A general overview of what happened during the discussions (in regards to the expression analysis part) and the meetup:

- Better value distributions rather than just knowing the `[min, max]`.

Although there isn't any concrete work, this was also part of the proposed 'future' section and we might be able to turn it into a reality once we have the general system ready (this is what Spark did IIRC,

[2022-10-31 19:27] isidentical commented on #3898
If I didn't miss anything, that should be all and we should be ready to at least make put the foundational work in. @alamb does it make sense to revive my existing PR #3912 (fix conflicts, add a bit more documentation in the code, etc.) and continue working on this iteratively for the next steps? (like other expression types).

[2022-10-31 20:00] #3663 closed

[2022-10-31 22:19] andygrove commented on #3820
The issue is in this part of the plan:

[code]

We have `part.p_brand AS group_alias_0` and later `group_alias_0 AS p_brand`, dropping the qualifier.

[2022-10-31 22:36] andygrove opened #4049 "single_distinct_to_groupby strips qualifiers from group-by expressions"
**Describe the bug**
single_distinct_to_groupby strips qualifiers from group-by expressions

**To Reproduce**
See https://github.com/apache/arrow-datafusion/issues/3820

**Expected behavior**

**Additional context**

[2022-10-31 22:37] andygrove commented on #3820
root cause is https://github.com/apache/arrow-datafusion/issues/4049

[2022-10-31 23:47] Miyake-Diogo commented on #3783
Don't worry @andygrove thanks for answering me.

[2022-10-31 23:54] andygrove commented on #158
I think this can be closed now!

[2022-10-31 23:54] #158 closed

[2022-11-01 00:44] andygrove commented on #1952
Tested this just now with updated code:

[code]

fails with:

[code]

[2022-11-01 00:48] tustvold opened #4051 "Use f64::total_cmp instead of OrderedFloat"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

DataFusion uses OrderedFloat in various places to order floats, this is different from arrow-rs which makes use of https://doc.rust-lang.org/std/primitive.f32.html#method.total_cmp.

**Describe the solution you'd like**

Moving away from OrderedFloat will:

* Ensure consistency
* Eliminate a

[2022-11-01 00:48] tustvold commented on #2831
FYI https://github.com/apache/arrow-datafusion/issues/4051

[2022-11-01 01:12] andygrove commented on #1952
@Dandandan fyi

[2022-11-01 02:03] milesrichardson commented on #177
Good news, fellow WebAssembly enthusiasts! It looks like the stars are finally aligning, and with relatively minimal patching, I successfully compiled the [code from the gist (create, insert and query a `MemTable`)](https://gist.github.com/roee88/91f2b67c3e180fa0dfb688ba8d923dae) to `wasm32-wasi` and `wasm32-unknown-unknown`, and ran it in `wasmedge` and the browser (via `wasmpack`):

[code]

![im

[2022-11-01 05:05] Dandandan commented on #1952
Thanks @andygrove .

So the current issue here is that `reply` is a struct, which isn't supported in `group by` yet.

[2022-11-01 07:16] Dandandan commented on #4003
Another benefit of keeping the CBOs at physical level is that the costs might be also different for different ways. E.g. hash join and sort merge join do have different costs associated with them. For a hash join swapping the order of the build and probe side has a big impact, but a sort merge join (or other types of join) might not benefit from this change (or at least in very different ways).

I

[2022-11-01 08:03] mingmwang commented on #4003
Costs might be different for different implementations like hash join vs sort join, but the stats(output rows, size, min/max,...) are the same. Even for different join ordering [A inner join B inner C] vs [C inner join B inner A], the stats are exactly the same.

[2022-11-01 08:05] viirya commented on #4024
Does it work? I just tried but it still doesn't work. The result `123140554.79`.

[2022-11-01 08:33] mingmwang commented on #4003
In future, we can enhance Datafusion and provide 'ANALYZE TABLE [FOR COLUMNS]' capabilities, then in logical planning phase, we can also get better column level stats.  And I think inferring stats directly from parquet file headers is not scalable, for example if we hit large table(>10k files), inferring stats will take longer time.  It is quite common for Hadoop tables(Spark/Hive tables) to have

[2022-11-01 08:58] Ted-Jiang opened #4058 "Add parquet page index pushdown metrics"
cc @Ted-Jiang  I am thinking we can use a similar approach to validate / verify the PageIndex pruning you are working on

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/issues/3989#issuecomment-1294022370_

[2022-11-01 08:58] Ted-Jiang commented on #4058
woring on.

[2022-11-01 09:05] #3140 closed

[2022-11-01 12:54] #4046 closed

[2022-11-01 15:11] andygrove commented on #3786
I confimed that this does happen in `common_sub_expression_eliminate`

[2022-11-01 15:28] comphead commented on #3997
@waitingkuo the problem is  `date_part` calls for `arrow::compute::kernels::temporal::second` which is i32, and they dont have millisecond support. Do you think its good idea to implement milliseconds by ourselves?

[2022-11-01 16:03] alamb commented on #158
Wow -- that almost is worth a blog post itself!

[2022-11-01 16:51] waitingkuo commented on #3997
@comphead

`arrow-rs` uses `chrono-rs` to extract these date parts. Chono-rs does have [nanosecond](https://docs.rs/chrono/latest/chrono/trait.Timelike.html#tymethod.nanosecond) while arrow-rs doesn't have.

We could extend `arrow-rs` to support `nanosecond` and then get back to this issue.

I think adding nanosecond support in `arrow-rs` is a `good start issue`. If you're interested in, I'm happy

[2022-11-01 16:51] waitingkuo commented on #3997
cc @alamb

[2022-11-01 17:08] comphead commented on #3997
@waitingkuo thanks for the details, let me try to add the ticket and PR to arrow-rs.

[2022-11-01 17:18] comphead commented on #3997
Related arrow-rs ticket https://github.com/apache/arrow-rs/issues/2995

[2022-11-01 18:06] andygrove opened #4063 "The type of Float64 >= Int64 of binary physical should be same"
**Describe the bug**
Seeing this error when executing a query

**To Reproduce**
I am working on a repro case

**Expected behavior**
Type coercion should fix this

**Additional context**

[2022-11-01 18:06] andygrove opened #4064 "The type of Timestamp(Nanosecond, None) >= Date32 of binary physical should be same"
**Describe the bug**
Seeing this error when executing a query

**To Reproduce**
I am working on a repro case

**Expected behavior**
Type coercion should fix this

**Additional context**

[2022-11-01 18:09] andygrove commented on #3786
Fixing this will involve a significant refactor/rewrite of portions of `common_sub_expression_eliminate`

[2022-11-01 18:17] andygrove opened #4065 "Stack overflow planning complex query"
**Describe the bug**
There is a regression since 13.0.0 affecting TPC-DS queries 4, 39, and 64. I now get a stack overflow during query planning and optimization for these queries.

The regression appears to have been introduced in https://github.com/apache/arrow-datafusion/pull/3916 (at least, that is where this starts happening for me).

**To Reproduce**

q4:

[code]

**Expected behavior**
A cle

[2022-11-01 19:47] alamb opened #4066 "Support serializing more deeply nested expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are certain expressions that are "too complex" to serialize. After @crepererum 's fix in https://github.com/apache/arrow-datafusion/issues/3968 they at least produce a proper error

It would be nice to at least support  deeply nested AND expression trees which are common in certain machi

[2022-11-01 20:06] #3982 closed

[2022-11-01 20:59] Dandandan commented on #1444
For normal (depth first / FIFO) recursion like the example on top a plain `Vec` could be used to `push` and `pop` the recursive values.

[2022-11-01 21:10] waitingkuo opened #4067 "Support `SET` command"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

a `SET` command to change the value in `config_options`

**Describe the solution you

[2022-11-01 23:26] andygrove commented on #4024
You are correct, the result is still wrong, just  closer:

[code]

[2022-11-01 23:34] andygrove commented on #4024
I am investigating more and there are potentially multiple issues here.

I am comparing Spark and DataFusion behavior against a Parquet file:

## Spark

[code]

## DataFusion

[code]

So `between 0.05 and 0.07` is consistent between Spark and DataFusion at least

[2022-11-01 23:52] andygrove opened #4071 "Round error when casting float to decimal"
**Describe the bug**

## Spark

[code]

## DataFusion

[code]

**To Reproduce**
See above

**Expected behavior**

**Additional context**
Discovered as part of https://github.com/apache/arrow-datafusion/issues/4024

[2022-11-02 00:27] viirya commented on #4024
This is understandable. This is because 0.06 is parsed as double type in DataFusion but as decimal type in Spark. 0.06 - 0.01 will result in 0.049999999 instead of 0.05 if they treated as double type literal (no matter DataFusion or Spark) due to precision of floating point value.

More interestingly, for the query `select count(*) from lineitem where l_discount between 0.05 and 0.07;`, I only got

[2022-11-02 00:33] andygrove commented on #4071
filed related issue in arrow-rs: https://github.com/apache/arrow-rs/issues/2997

[2022-11-02 00:34] viirya opened #4072 "Floating value literals without postfix should be parsed as decimal"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Related to #4024, #4071.

A literal like 0.06 is parsed as double in DataFusion. It

[2022-11-02 00:52] andygrove commented on #4072
Thanks @viirya I had forgotten about this ... this is the relevant code in sql/planner.rs, for reference

[code]

[2022-11-02 01:04] viirya commented on #4072
Yes, I played this a bit yesterday. With some tweak, I can make it parsed as decimal and get 0.06 - 0.01 = 0.05 correctly.

[2022-11-02 04:29] Jimexist opened #4073 "add a feature gate to make support for compressed files optional"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

we can further reduce (default) dependencies by omitting unused support for compress

[2022-11-02 04:30] Jimexist opened #4074 "add support for `.xz` compressed files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

add support for `.xz` compressed files by utilizing `xz2` crate

**Describe the solu

[2022-11-02 05:44] ZuoTiJia opened #4075 "Panics used outside of the tokio runtime."
**Describe the bug**

`CoalescePartitionExec::execute` uses `tokio::spaw` causing panic

**Additional context**
datafusion/core/src/physical_plan/coalesce_partitions.rs:138

[code]

[2022-11-02 07:22] #4045 closed

[2022-11-02 07:38] mustafasrepo opened #4076 "Wrong result for FIRST_VALUE AND LAST_VALUE window functions"
**Describe the bug**

Window functions `FIRST_VALUE` AND `LAST_VALUE` give wrong results when run with the query below

[code]

**To Reproduce**

The test below reproduces the error

[code]

**Expected behavior**

I expect to get true result or get an error showing functionality is not supported

**Additional context**

N.A

[2022-11-02 07:38] yahoNanJing opened #4077 "Replace RwLock<HashMap> and Mutex<HashMap> by using DashMap"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In Ballista, we have replaced `RwLock<HashMap>` and `Mutex<HashMap>` by using DashMap in many places. And the performance improved a lot. Therefore, it's time for the datafusion to leverage DashMap, too.

**Describe the solution you'd like**
A clear and concise description of what you want to

[2022-11-02 09:24] liukun4515 commented on #4035
@andygrove

sorry for the later reply.

Recently, I am busy for some internal business.
Will be back soon. 😁

[2022-11-02 09:39] ZuoTiJia opened #4080 "Panic when using array_agg"
**Describe the bug**
Use the array_agg function, which results in panic

**To Reproduce**
[code]

[2022-11-02 11:55] Dandandan commented on #158
This is truly epic :tada: and a big milestone thanks for all involved!

[2022-11-02 12:46] andygrove opened #4081 "TableReference From<&str> creates invalid table references"
**Describe the bug**

The logic in `impl<'a> From<&'a str> for TableReference<'a>` simply splits a string on `.` and is creating invalid table references in some cases, such as:

[code]

**To Reproduce**
We should write some unit tests for complex expressions

**Expected behavior**
We should add logic to determine if the string represents a column reference or a complex expression (we could use th

[2022-11-02 13:35] andygrove opened #4082 "SingleDistinctToGroupBy being applied too broadly"
**Describe the bug**
The intent of SingleDistinctToGroupBy is to rewrite queries that have multiple references to the same distinct expression, such as `SELECT F1(DISTINCT s),F2(DISTINCT s)` to avoid evaluating the distinct multiple times.

However, it is currently applied even if there is only a single distinct value, adding unnecessary complexity to simple queries,

**To Reproduce**
Only apply t

[2022-11-02 13:43] andygrove opened #4083 "FieldNotFound when field is available"
**Describe the bug**

Errors like this are quite confusing. The field is not found but is then listed as being available.

[code]

**To Reproduce**
- create a field with no qualifier and name "a.b" then lookup qualifier="a", name="b"
- create a field with qualifier="a", name = "b", then lookup with no qualifier and name = "a.b"

**Expected behavior**
Two choices:
- Should find a match regardless o

[2022-11-02 14:05] #4082 closed

[2022-11-02 14:17] alamb commented on #4065
Also related https://github.com/apache/arrow-datafusion/issues/4066

[2022-11-02 15:45] andygrove commented on #4081
I am now wondering if this is only happening in https://github.com/apache/arrow-datafusion/pull/4050 and not in general usage so this may not be a high priority

[2022-11-02 15:46] andygrove commented on #4081
It would be nice to change it to `TryFrom` though and catch cases where the string is not a column reference

[2022-11-02 16:12] alamb commented on #4067
YES!  This will be awesome

Note there is still some nonsense related to Config settings (e.g. see https://github.com/apache/arrow-datafusion/pull/3885#pullrequestreview-1152448744) but I think supporting the `SET` command will provide us that much more reason to unify the configuration story

[2022-11-02 16:40] #3891 closed

[2022-11-02 17:06] alamb opened #4085 "Enable parquet page level skipping (page index pruning) by default"
In https://github.com/apache/arrow-datafusion/issues/3834 and https://github.com/apache/arrow-datafusion/issues/847 @Ted-Jiang   added support for skipping rows in the  parquet scan via the RowIndex mechanism 🎉

This feature is currently enabled via a feature flag, which is disabled by default.

This ticket tracks enabling this feature by default.

Currently known items are:
- [x] https://github.c

[2022-11-02 17:09] alamb commented on #3463
Update here is I think once we get https://github.com/apache/arrow-datafusion/pull/3976 merged I'll put up the PR to enable the feature by default

[2022-11-02 17:10] alamb opened #4086 "Add metrics for parquet page level skipping"
Usecase is that as we work on https://github.com/apache/arrow-datafusion/issues/4085 we need to have some way to:
1. Verify page index filtering is actually working / enabled as expected
2. Evaluate its efficiency (how long it takes, etc) to see if further optimizations are needed

What I would like is:
1. Add metrics for "how many rows were pruned using page level skipping" and "how long did the

[2022-11-02 17:14] alamb opened #4087 "Add additional testing to parquet predicate pushdown integration tests"
https://github.com/apache/arrow-datafusion/pull/3976 Adds tests for applying filters during the parquet scan

However, it currently uses a single file with a specific layout

This ticket tracks improvements to test coverage we could/should add:
- [ ]  Limit row page size to ensure multiple pages are being written
- [ ] Choose row page size / sort to ensure that page pruning happens / doesn't happe

[2022-11-02 17:21] #3834 closed

[2022-11-02 17:21] #4002 closed

[2022-11-02 17:25] #4083 closed

[2022-11-02 17:38] alamb opened #4089 "Simplify small `InList` expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
You can write a query like

[code]

And that sql is oftentimes  made by tools that handle some number of ids;

We have a specialized InList implementation (e.g. see https://github.com/apache/arrow-datafusion/pull/4057) but for single values it is still faster to use a standard equality predica

[2022-11-02 19:52] Dandandan opened #4091 "Parquet predicates contains `and true` expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
When looking at the physical plans,  I am seeing predicates pushed down to ParquetExec that are more complex than needed.

E.g. for TPC-H query 12 this is a value for predicate that is pushed down (notice the `and true and true`)
[code]

**Describe the solution you'd like**
Don't introduce `an

[2022-11-02 20:01] #4049 closed

[2022-11-02 20:01] #3820 closed

[2022-11-02 20:29] #2165 closed

[2022-11-02 20:29] #2831 closed

[2022-11-02 20:29] #2833 closed

[2022-11-02 21:17] andygrove commented on #4072
Here is the spec for SQL numeric literals:

[code]

[2022-11-03 01:45] Jimexist opened #4093 "Use roaring bitmap in hash join for tracking hash collisions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-03 01:45] Jimexist commented on #4093
cc @Dandandan

[2022-11-03 04:11] avantgardnerio opened #4094 "Automatically register tables if ObjectStore root is configured"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It is not convenient for users to always issue SQL DDL commands to register tables upon each session initiation. In my company's case, data is automatically persisted to deltalake on s3, and when analytical queries are sent to Ballista, it would be difficult for the consuming JDBC application

[2022-11-03 05:17] comphead commented on #3997
@waitingkuo the https://github.com/apache/arrow-rs/issues/2995 merged, should we wait for next arrow-rs version? How it usually happens?

[2022-11-03 08:06] waitingkuo commented on #3997
@comphead thank you. i think we need to wait for 27.0.0 . 26.0.0 is just fixed. It normally released 1 or 2 times a month

[2022-11-03 11:49] yukkit opened #4096 "Panic when the number of partitions of the pipeline that throws the exception is inconsistent with the number of partitions output by the query"
**Describe the bug**

I am the developer of CnosDB, when we are doing integration testing, some SQL causes panic.

such as:
[code]

**To Reproduce**

1. physical plan

[code]

2. result

[code]

**Expected behavior**
no panic

**Additional context**

I am trying to fix this

[2022-11-03 11:51] yukkit commented on #4096
I use the **Scheduler** to execute execution plan.

[2022-11-03 13:10] Dandandan commented on #4093
Hi - what parts exactly do you want to compress?
Hash collisions are handled when matching the rows, they don't need to be kept in memory across batches.
For joins that need to remember visited rows (left joins / left semi/left anti joins I believe) we are already using a bitmap based on Arrow.

[2022-11-03 13:12] alamb commented on #4003
Yes I agree -- and in general I don't think DataFusion should be handling the decision of "should the metadata be cached in some local catalog" -- I think that decision should be moved into the `TableProvider` / `CatalogProvider` implementations so that each system that uses DataFusion can make the optimal choice for it

[2022-11-03 14:35] #4067 closed

[2022-11-03 16:45] alamb opened #4100 "Clippy failing on master"
**Describe the bug**
CI clippy checks are failing

https://github.com/apache/arrow-datafusion/actions/runs/3386593123/jobs/5626537564

[code]

**To Reproduce**
run `rustup update` and then `cargo clippy`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Rust 1.65 was released https://blog.rust-lang.org/2022/11/03/Rust-1.65.0.html

https:

[2022-11-03 16:46] alamb commented on #4100
Working on this

[2022-11-03 18:42] alamb commented on #4100
to fix https://github.com/apache/arrow-datafusion/pull/4101

[2022-11-03 20:11] #4100 closed

[2022-11-03 23:08] andygrove opened #4103 "The percentile argument for ApproxPercentileCont must be Float64, not Decimal128(2, 1)"
**Describe the bug**
I found this when testing https://github.com/apache/arrow-datafusion/pull/4102. `csv_query_approx_percentile_cont` fails with:

[code]

**To Reproduce**
Run tests in https://github.com/apache/arrow-datafusion/pull/4102

**Expected behavior**
I assume we need to add type coercion to convert function args to the correct type

**Additional context**

[2022-11-03 23:24] comphead commented on #4051
@tustvold please assign this to me

[2022-11-04 05:06] #4096 closed

[2022-11-04 07:48] HaoYang670 commented on #3511
I prefer returning an error because the `casting` should have been done in the `type_coercion` stage.

[2022-11-04 11:25] waitingkuo opened #4106 "Support `SET` timezone to non-UTC time zone"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'd like to add the support for `SET TIMEZONE`.
I'd like to have `now()` and `TimestampTz` use the timezone in config_options instead of the fixed UTC

**Describe the solution you'd like**

1. enable `SET TIME TO [SOME_TIMEZONE]`
It's currently disabled on purpose

https://github.com/apache/a

[2022-11-04 11:27] waitingkuo commented on #4106
@alamb  @liukun4515  @avantgardnerio @tustvold  would you mind helping to check whether this make sense?

[2022-11-04 11:50] waitingkuo commented on #4106
i added a POC to showcase some functionalities
#4107

perhaps we should break it to several pc later

[2022-11-04 13:48] andygrove opened #4108 "Add CI check that configs.md is up-to-date"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have a partially automated solution for keeping the configuration guide up-to-date.

When new configs are added in `config.rs`, we can run `cargo run --bin print_config_docs` to generate the markdown for the user guide and then manually copy it into `docs/source/user-guide/configs.md`.

We

[2022-11-04 13:53] #4089 closed

[2022-11-04 16:40] avantgardnerio commented on #4106
@waitingkuo thank you for your clear communication as always! You have the most reviewable PRs and issues I've seen :smile: .

The issue looks good to me, but I would propose tackling in stages:
1. Allow things like `set time zone to '+08:00';` as described
2. Allow `set time zone to 'US/Mountain';` or `set time zone to 'US/Denver';` or ``set time zone to 'MT';`

This is due to the extra complicat

[2022-11-04 18:23] #4094 closed

[2022-11-04 20:38] avantgardnerio opened #4111 "Allow for automatic registration of `ListingTables`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

As a user from a company that is using Ballista & Deltalake, PR #4095 was all about getting delta tables registered. Upon having it merged though, I immediately realized a Ballista PR for this functionality would be blocked by the fact that deltalake support has not yet been upstreamed into B

[2022-11-04 21:29] #4034 closed

[2022-11-04 23:45] comphead commented on #4051
@tustvold Looks like `OrderedFloat` also implements `Hash` and `Eq` for floats.
`Hash` required for ScalarValue, `Eq` required for centroids. Do you want to make our own impl for Eq,Hash for `f64`?

[2022-11-04 23:47] tustvold commented on #4051
I added a HashValue trait in hash_utils.rs we can likely use / make public

[2022-11-05 11:05] waitingkuo commented on #4106
❤️

PostgreSQL's `to_timestamp` ouputs `timestamp with time zone`
https://www.postgresql.org/docs/current/functions-formatting.html
[code]

[code]
it shows the fixed offset timezone. i think there's no ambiguity in this approach.

The `TO_TIMESTAMP` for datafusion for now outputs `Timestamp<TimeUnit, None>`.
https://github.com/apache/arrow-datafusion/blob/6d00bd990ce5644181ad1549a6c70c8406219070/d

[2022-11-05 11:12] waitingkuo commented on #4106
i think we might need to refactor the `return_type` to support dynamical time zone determine
https://github.com/apache/arrow-datafusion/blob/6d00bd990ce5644181ad1549a6c70c8406219070/datafusion/expr/src/function.rs#L221-L223

`now()`'s return type is `TImestamp<TimeUnt, Some("+08:00")>` for now. need to get the timezone from config_options to and return `TImestamp<TimeUnt, Some("SOME_TIMEZONE")>` i

[2022-11-05 11:20] #4076 closed

[2022-11-05 15:07] avantgardnerio commented on #4106
I disagree. The problem is that `America/Denver` is on a statuary (legally constructed) timezone called [Mountain Time](https://time.is/MT). Because Mountain Time (presently) observes Daylight Savings Time, it is two "real" timezones: [MDT](https://time.is/MDT) or UTC-6 and [MST](https://time.is/MST) UTC-7.

![image](https://user-images.githubusercontent.com/3855243/200126237-740b3d3d-9b37-4748-81

[2022-11-05 15:32] avantgardnerio opened #4113 "Add test field to PR template"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I have a personal problem where I forget or neglect to write sufficient unit tests. I would like a PR template change to keep me honest.

**Describe the solution you'd like**

Add a PR template field to ask the submitter about testing.

**Describe alternatives you've considered**

Buck up and

[2022-11-06 03:42] mingmwang opened #4116 "Support RangePartition and OrderedDistribution"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-06 03:45] mingmwang opened #4117 "Support CartesianProduct partition model in CrossJoinExec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-06 03:46] mingmwang opened #4118 "Support PartitionCollections if there is no common partition columns in WindowAggExec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-06 09:42] rdettai commented on #987
I think a lot of things have changed since I opened this. Closing it.

[2022-11-06 09:43] #987 closed

[2022-11-06 11:41] #3653 closed

[2022-11-06 11:41] #189 closed

[2022-11-06 11:41] #3400 closed

[2022-11-06 13:45] mvanschellebeeck commented on #4108
Hey @andygrove, first time contributor here - happy to take this one!

Just to sanity check my thinking - does as run of [./dev/update_config_docs.sh](https://github.com/apache/arrow-datafusion/blob/master/dev/update_config_docs.sh) and then a new job that runs a diff in [workflows/dev.yml](https://github.com/apache/arrow-datafusion/blob/master/.github/workflows/dev.yml) make sense here?

[2022-11-06 14:49] jackwener opened #4120 "reuse code utils::optimize_children instead of redundant implementation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Each rule implement optimize_children inside themselves. we can unify them.

**Describe the solution you'd like**
reuse code utils::optimize_children instead of redundant implementation

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2022-11-06 16:03] andygrove commented on #4066
Here it is: https://github.com/apache/arrow-datafusion/issues/1434#issuecomment-1296307178

[2022-11-06 19:11] waitingkuo commented on #4106
@avantgardnerio thank you. I didn't aware this before. never live in the area that has the timezone switch.

I did some research in Postgrseql and Chrono-tz

MST timezone offset: -7
MDT timezone offset: -6

In 2022, MDT
began from  Sunday, 13 March, 02:00 (changed from -7 to -6)
ended at  Sunday, 6 November, 02:00 (changed from -6 to -7)

[code]
this is valid (right before the timezone shift):
[co

[2022-11-06 19:12] waitingkuo commented on #4106
i'll limit this pr to support fixed offset timezone for now. thank you @avantgardnerio

[2022-11-07 07:11] HaoYang670 commented on #3944
I am not sure whether this is a bug in sql-parser, cc @andygrove . This is what I get
[code]

[2022-11-07 07:19] Dandandan commented on #3944
Looks very similar to

https://github.com/apache/arrow-datafusion/issues/3408

[2022-11-07 07:22] HaoYang670 commented on #3666
Not sure while affects it, but this is what I got with the latest commit in the master branch
[code]

[2022-11-07 07:23] HaoYang670 commented on #3666
cc @andygrove

[2022-11-07 10:29] mkmik commented on #2867
I stumbled upon a bug that may be a simpler reproducer of this

[code]

----

Interestingly if I remove as c in the outer expression it works:

[code]

It's also interesting that using positional column references in the order by works:

[code]

Furthermore, the bug reproduces only if `group by a` and `order by a` are *both* present:

[code]

[2022-11-07 11:22] mkmik opened #4123 "Bug in interpreting correctly parsed SQL with aliases"
**Describe the bug**

Some statements that involve subqueries with an alias, are not evaluated correctly when the subquery contains both `group by` and `order by`.

**To Reproduce**

With `datafusion-cli`:

[code]

**Expected behavior**

[code]

(it works on postgres and sqlite)

**Additional context**

Same happens if there is an actual table called foo:

[code]

Interestingly if I remove as c in

[2022-11-07 12:44] mkmik commented on #4123
I tried to look at the parsed SQL AST to see if the bug was in the parser or in the way the AST is interpreted (in order to know where to file the bug):

I ran:

[code]

and got the following output:

[code]

wdiff shows only a difference in the `OrderByExpr`:

[code]

I think this shows that `sqlparser` is parsing the statement correctly and that the bug is in datafusion.

[2022-11-07 13:23] milenkovicm commented on #3310
Sorry for commenting on closed thread, question for @avantgardnerio and/or @alamb

question, should `datafusion::datasource::datasource::TableProviderFactory::create` have Optional<SchemaRef> as parameter to support queries where schema can be provided as part of crate statement `CREATE EXTERNAL TABLE demo_table (c1 integer, c2 integer) STORED AS ...` ?

[2022-11-07 13:30] timvw opened #4125 "Allow additional options when creating an external table"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
CREATE EXTERNAL TABLE should allow for custom (table type specific options).

Eg: For CSV the has_header and delimiter option are available but it's not possible to add custom options but it's not possible to specify the timestamp for loading a delta/iceberg table.

In spark this is possible v

[2022-11-07 14:25] crc-sstubbs commented on #212
This feature would really make this awesome project more usable. Are there any plans to add it?

[2022-11-07 14:29] #4086 closed

[2022-11-07 14:33] #4077 closed, assigned to nobody

[2022-11-07 14:34] isidentical opened #4127 "Allow TPCH tooling to create a combined result for easier processing by outside tools"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, we have to run each query individually for retrieving the benchmark results for it. This also applies to the results, where we have to actually create multiple files and then combine them later into a single one (summaries).
[code]

**Describe the solution you'd like**
If `--query`

[2022-11-07 15:57] avantgardnerio commented on #4125
@timvw I think this is an excellent idea. Syntactically it's in line with postgres' [create external table](https://www.postgresql.org/docs/current/sql-createforeigntable.html) and I think it allows for run-time extensibility that is required if we want to have a healthy ecosystem of 3rd party TableProviders .

[2022-11-07 16:01] timvw commented on #4125
Ok, currently the syntax is slightly different, but happy to change that ;)

current: [ OPTIONS ( option='value' [, ... ] ) ]
postgres: [ OPTIONS ( option 'value' [, ... ] ) ]

[2022-11-07 16:02] avantgardnerio commented on #3310
@milenkovicm I think that's not a bad idea, and some versions of the PR did exactly that... however I do think there's one choice to be made:

1. do we add an optional parameter to the existing `async` method?
2. or do we make a new synchronous method (perhaps `with_schema`) to do the same?

I would be fine either way, but I think the purpose of the `async` part was to allow providers to access th

[2022-11-07 16:07] milenkovicm commented on #3310
I believe first option may make more sense, might be easier api to digest.

Other small note, as I'm working on a branch where I've added this change Optional may be redundant as empty schema will be provided by context.rs

[2022-11-07 16:17] avantgardnerio commented on #4106
@waitingkuo I think this is good advice :) Hopefully the US ends this nonsense next year.

I find it troubling that postgres happily parses ambiguous timestamps and chooses a default arbitrarily, but it seems like the emerging trend for DataFusion is "just do what postgres does", so perhaps we just copy their flawed implementation.

What's even more troubling than it defaulting an ambiguous timest

[2022-11-07 16:19] avantgardnerio commented on #3310
FWIW, I would advocate for the presence of an empty schema to be represented differently than the absence of a schema.

[2022-11-07 16:31] milenkovicm commented on #3310
@avantgardnerio  do you mean changing `CreateExternalTable::schema` from `DFSchemaRef` to `Optional<DFSchemaRef>`?

[2022-11-07 16:40] avantgardnerio commented on #3310
I meant as a concept in general - not using `""` or `0` or `[]` to mean `None`. But specifically here I meant

[code]

vs

[code]

[2022-11-07 19:04] timvw commented on #4125
Updated the code to be the same as postgres..

[2022-11-07 19:34] avantgardnerio commented on #3640
I can confirm `AWS_ENDPOINT` works. Closing this - I have no idea how it stayed open so long.

[2022-11-07 19:34] #3640 closed

[2022-11-07 20:18] #4108 closed

[2022-11-07 20:51] #4111 closed

[2022-11-07 21:46] alamb commented on #3833
Here is a PR for filtering on strings: https://github.com/apache/arrow-datafusion/pull/4132

[2022-11-07 23:31] #4036 closed

[2022-11-07 23:31] #4113 closed

[2022-11-08 01:18] andygrove opened #4134 "Update release scripts to support datafusion-benchmarks"
**Describe the bug**
The Cargo.toml in the benchmark crate references dependencies by path only and not by version.

**To Reproduce**
N/A

**Expected behavior**
We should use the version as well so the release scripts update this

**Additional context**
None

[2022-11-08 05:48] HaoYang670 commented on #3499
Thanks a lot for your reporting @mpurins-coralogix !! I will fix this.

Yes, you are definitely right. The `Expr::Cast` is ignored because `e.display_name` drops the cast expression. We should add another matching arm here for the `Cast` expression.

[2022-11-08 05:52] HaoYang670 commented on #3499
By the way, there is no bug when you select from a view. For example:
[code]

This is because that we ignore the qualifier when finding the field
[code]

[2022-11-08 07:37] jackwener commented on #4123
I will try to fix it.

[2022-11-08 07:51] jackwener commented on #4123
look like planner `sort` build wrong.

[code]

we should `Sort: c.a` instead of `Sort: foo.a`

[2022-11-08 08:44] liukun4515 commented on #3772
Do we have the logical plan for this sql? @andygrove
Maybe there are some errors in type coercision

[2022-11-08 08:45] mingmwang opened #4139 "JoinSelection Rule to choose physical join implementation: HashJoin(Partitioned or CollectLeft) or SortMergeJoin base on Stats"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-08 08:58] mingmwang commented on #4139
@alamb @andygrove @isidentical @Dandandan @yahoNanJing
I plan to add a new physical rule for physical join implementation selection based on stats.

The basic idea is if one of side(left or right) is small enough(threshold on size or row count, for example 10M), will choose HashJoin:CollectLeft.
Else if either side exceed that threshold but still smaller than hash join threshold(estimated_size/par

[2022-11-08 09:15] Dandandan commented on #4139
Sounds like a good plan.

For hash join, probably needs some benchmarking to figure out good defaults and avoid performance degradation. `CollectLeft` limits the amount of parellization on the left side: building the hash table is relatively expensive and is done (at least currently) in a single thread. In quite a few cases it might be more beneficial to do a (local) hash repartitioning which is r

[2022-11-08 10:09] ygf11 opened #4140 "Support more expressions in equality join"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently some `equality joins` which contain normal `expressions` will run as `cross join`.
For example:
[code]

We can move these to `hash-join` to improve performance.

**Describe the solution you'd like**
Move these `equality joins` from `cross join` to `join` in logical and physical plan

[2022-11-08 10:57] waitingkuo commented on #4106
@avantgardnerio
TLDR:
chrono-tz use

- timezone data in https://github.com/eggert/tz
- https://github.com/chronotope/parse-zoneinfo as parser

-------------------------------------------------------------------------------------------

IANA timezone database maintains the offset & leapseconds
https://www.iana.org/time-zones

this repo has the database and parser (written in c)
https://github.com/e

[2022-11-08 11:12] #4087 closed

[2022-11-08 11:47] waitingkuo commented on #4106
@avantgardnerio

perhaps we could force user to add the timezone offset while casting string to timestamptz

e.g.
correct
`2000-01-01T02:00:00+00:00`
`2000-01-01T02:00:00-06:00`
`2000-01-01T02:00:00-07:00`
`2000-01-01T02:00:00Z` (this is a special case)

note that if we set time zone as +08:00
`2000-01-01T02:00:00-06:00`  becomes`2000-01-01T16:00:00+08:00`

incorrect
`2000-03-13T02:30:00` -> this

[2022-11-08 12:27] milenkovicm opened #4142 "`TableProviderFactory::create` should have `Optional<DFSchemaRef>` parameter"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`datafusion::datasource::datasource::TableProviderFactory::create` should have `Optional<DFSchemaRef>` a parameter to support statements with table DDL e.g: `CREATE EXTERNAL TABLE demo_table (c1 integer, c2 integer) STORED AS ...` ?

**Describe the solution you'd like**

add `schema: Optional

[2022-11-08 12:38] milenkovicm commented on #3310
@avantgardnerio please have a look at  #4142 should support what we've discussed. thanks

[2022-11-08 14:21] alamb opened #4144 "Improve `EXPLAIN ANALYZE` output for parquet exec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I have been using EXPLIN ANALYZE to do some adhoc analysis on our query output

At the moment, explain analyze shows all statistics for all parquet files scanned -- this is often overwhelming for manual analysis

**Describe the solution you'd like**
What I would like is a summarized version o

[2022-11-08 14:25] alamb commented on #4144
cc @Ted-Jiang  I plan to work on this at some point soon

[2022-11-08 14:47] #3499 closed

[2022-11-08 15:29] avantgardnerio commented on #4106
Very informative, ty!

[2022-11-08 15:33] avantgardnerio commented on #4106
That would definitely eliminate the ambiguity. I'd love to see if others have opinions about this.

[2022-11-08 18:45] alamb commented on #3702
I am working on this feature as we need it for IOx

[2022-11-08 21:31] alamb commented on #4139
I agree with @Dandandan  that doing some benchmarking on sort merge join is likely a good idea. I don't think we have much at the moment as it is never used.

What I think would be an ideal solution, though maybe harder to implement, is to *NOT* decide between has or sort merge join at plan time, but to decide at runtime

So that would involve starting out using HashJoin but if the hash table spil

[2022-11-08 21:39] #4106 closed

[2022-11-08 21:42] #4125 closed

[2022-11-08 21:45] #4134 closed

[2022-11-09 00:24] #4127 closed

[2022-11-09 02:12] ygf11 commented on #4140
Yes, it is relative to `type coercion`.

The issue is not very detailed, Let me add a little more.
Currently our `LogicalPlan::Join(..)` only supports `column equality` for join, so does physical plan.

https://github.com/apache/arrow-datafusion/blob/a32fb657d1caec634cb53979b2f7ef2fad224905/datafusion/expr/src/logical_plan/plan.rs#L1488

https://github.com/apache/arrow-datafusion/blob/a32fb657d1ca

[2022-11-09 07:11] Dandandan commented on #4140
Sounds like a good plan. Any expression of the form `e1=e2` should be supported in equality joins.

[2022-11-09 07:54] HaoYang670 commented on #3583
Hi @liukun4515. Could you please check if this bug has been fixed.

[2022-11-09 08:13] HaoYang670 commented on #3819
Hi @luobei42 . I tested on the datafusion-python 0.6.0 (installed by pip), but I can't reproduce the bug.
[code]

My code is a little different from yours in that I use `show` instead of `collect`.

[2022-11-09 11:51] liukun4515 commented on #3702
look forward your pr

[2022-11-09 11:57] ygf11 opened #4152 "Add another method to collect referenced columns from an expression"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently we use [expr_to_columns](https://github.com/apache/arrow-datafusion/blob/0f18e76f19306072432da18b707cb68e457ffbfe/datafusion/expr/src/utils.rs#L137) to collect referenced columns from an expression. The usage is like:
[code]

It is not convenient to use, because we need create a new

[2022-11-09 13:44] #3583 closed

[2022-11-09 13:56] liukun4515 commented on #4140
cc @mingmwang

[2022-11-09 16:28] mingmwang commented on #4140
I can take a look at the issue.
My current preference is to keep the equal join condition as columns, but add another projection to project the expression to normal columns and push down the projection.

The major reason is
1) Complex equals join conditions will cause duplicate calculation:
`A inner join B on (udf1(A.a) = udf2(B.b))`

The first time calculation happens when during the `Repartition

[2022-11-09 16:33] mingmwang commented on #4140
And I just added the EquivalenceProperties/EquivalentClass to the physical execution plan, if we plan to support expressions as equal join conditions, I need to enhance the EquivalenceProperties/EquivalentClass related logic as well.

@yahoNanJing @alamb

[2022-11-09 16:46] JanKaul commented on #3777
I would also be interested in this in this feature. I tried using `futures::executor::block_on` but this leads to my execution hanging as described in https://github.com/tokio-rs/tokio/issues/2376.

[2022-11-09 17:28] #4142 closed

[2022-11-09 21:52] alamb commented on #3777
Hi @JanKaul  and @v0y4g3r -- I wonder if the (very) newly added `TableProviderFactories` may be helpful / fulfill this usecase https://github.com/apache/arrow-datafusion/pull/4126

[2022-11-09 22:02] isidentical opened #4158 "Determine the boundaries of an `AND` conjuction"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Where we have an expression like `a > 20 AND a < 80`, we should be able to determine the boundaries of this operation by looking at the boundaries of the two sides and applying logical AND over the set of possible values.

**Describe the solution you'd like**

Implement both boundary analysis

[2022-11-09 22:05] isidentical opened #4159 "Determine the expression boundaries of an OR conjuction"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Where we have an expression like `a > 20 OR a = 10`, we should be able to determine the boundaries of this operation by looking at the boundaries of the two sides and union'ing them.

**Describe the solution you'd like**
Implement both boundary analysis and selectivity analysis for the AND con

[2022-11-10 02:46] v0y4g3r commented on #3777
I found a workaround. In this case you can spawn a thread dedicating to block:
[code]

[2022-11-10 06:08] JanKaul commented on #3777
Hi, thanks for the quick reply. I'm trying to implement an [iceberg](https://iceberg.apache.org/) catalog for datafusion. It functions much like a common catalog with schemas(namespaces) and table identifiers. From what I understood about the `TableProviderFactory`, it wouldn't really fit the use case. One could use the `url` field to pass in a table identifer like "my_catalog.my_schema.my_table"

[2022-11-10 06:36] ygf11 commented on #4140
Thank you @mingmwang @alamb.

Agree with your suggestion to implement this with another projection. I will work on it.

[2022-11-10 07:45] JanKaul commented on #3777
I had a look at the code and async versions of `CatalogList`/`CatalogProvider`/`SchemaProvider` would have huge effects on the code base and also the external API. A lot would need to be async. I understand that that is not desirable. Especially since the operations of the traits aren't used very frequently and a blocking execution doesn't hurt that much.

However, it would somehow be nice to get

[2022-11-10 08:27] HaoYang670 commented on #3419
Hi, could someone help to explain what the `coerce_types` does. Does it coerce the lhs and rhs types, or return the `return type` of the operator?

[2022-11-10 08:52] HaoYang670 opened #4165 "The functions in `type_coercion` should return `Result`, not `Option`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
Currently, in the `type_coercion` mod, we have some pub functions returning `Result`,

[2022-11-10 09:29] ike560 commented on #3922
Close

[2022-11-10 10:34] timvw opened #4166 "Incorrect handling of column names"
**Describe the bug**
Column name (casing) is not handled correctly.

**To Reproduce**
Have a (parquet) file with a column "featureValue". A simple "select * from alltypes_plain" returns

+------------+
| featureValue |
+------------+
| 0.0000       |

When running "select * from alltypes_plain where featureValue <> 0" gives an error:

Error: SchemaError(FieldNotFound { field: Column { relation: No

[2022-11-10 11:14] timvw commented on #4166
Some further investigation makes me believes this is not a bug but consistent with postgres behavior.

select * from alltypes_plain where "featureValue" <> 0 works as expected.

[2022-11-10 11:14] #4166 closed

[2022-11-10 11:48] alamb commented on #3898
Thank you for driving this forward @isidentical 🚀

[2022-11-10 12:00] alamb commented on #3777
I am not 100% familiar but I know there has been a bunch of work recently to support delta-lake style catalogs in DataFusion using `ListingTableProviders` and `ListingSchemaProviders` and `TableProviderFactories`. So my pattern matching mind says "can iceberg use the same approach"

Maybe someone like @avantgardnerio  @timvw @milenkovicm who worked on these features more directly has some other su

[2022-11-10 12:02] #41 closed

[2022-11-10 12:05] alamb commented on #3419
I think this is a reasonable description of coercion:

https://github.com/apache/arrow-datafusion/blob/9c24a79118c0ae0aee480bf039385a06d240b499/datafusion/expr/src/type_coercion.rs#L18-L32

[2022-11-10 12:58] crepererum commented on #3777
IMHO it makes sense to make the catalog interfaces async.

FWIW IOx gets around this because we "discover" the whole catalog/tables/schemas before we build the DataFusion data structures. This mostly works because our APIs are scoped in a way that allows that. However midterm I think even IOx could be improved by async schema exploration, because this would lower our the amount of data we need to

[2022-11-10 13:01] milenkovicm commented on #3777
I tend to agree with @crepererum, most of the factory methods are `async` so this would not be a strange change of signature, it would be backward incompatible, but I guess thats not usually show stopper.

[2022-11-10 13:20] timvw commented on #3777
In https://github.com/datafusion-contrib/datafusion-catalogprovider-glue we also first "discover/fetch" the tables/schemas and as of then it's "static/cached"..

[2022-11-10 15:14] v0y4g3r commented on #3777
Did an attempt to refactor `CatalogList`/`CatalogProvider`/... stuff to async trait, turned out to be not that easy, lots of method defintions need to change.

[2022-11-10 15:17] #4058 closed

[2022-11-10 15:21] avantgardnerio commented on #3777
I'm not opposed, as long as we are mindful not to break Ballista (which I don't think we will).

FWIW, when we needed this for Ballista, we just added the `async refresh()` method and called it at convenient times:

- [method](https://github.com/apache/arrow-datafusion/blob/4d621c5c0da387f50c9ab6f3a9ee568062ee9976/datafusion/core/src/catalog/listing_schema.rs#L78)
- [invocation](https://github.com

[2022-11-10 15:27] crepererum commented on #3777
The issue with `refresh()` though is that it only enables a small subset of features, namely async full discovery. It doesn't allow for partial schema discovery. For example, if you have a hive dataset and you know the tables by scanning one directory, but there might be thousands of them (I'm exaggerating here) and you wanna spare yourself reading all the `_common_metadata` files, because the use

[2022-11-10 15:37] avantgardnerio commented on #3777
Makes sense. Also `refresh()` is just "kicking the can down the road". Someone has to call it, the caller needs to be async anyway, so creating a proper async interface would clean things up.

[2022-11-10 15:47] JanKaul commented on #3777
If there is a consensus that an async interface is preferable, I can try to make the necessary changes.

[2022-11-10 17:57] alamb commented on #3777
I would recommend you file a specific ticket for this change and we'll send a note to the mailing list / on slack to see if we can make sure we have wide cosnsensus

I remember last time we tried proposing something like this there was non trivial pushback

[2022-11-10 17:57] alamb commented on #3777
I am happy to help with that communication

[2022-11-10 17:59] waynexia commented on #3777
Vote for the async interface. Although some workarounds can achieve the needed functionality, an async fetch method looks more intuitive to me. From a positive aspect, the existing sync code inside those providers is compatible with the async version. (but there are still lots of work to do in other places 🥲)

[2022-11-10 18:07] JanKaul commented on #3777
That would be great. Should we draft a more detailed spec for the communication or is it clear as is?

[2022-11-10 18:10] alamb commented on #3777
I think a more concise proposal would be a great idea. Perhaps basically explain what methods would become async and we can write a brief intro about what the usecase is (remote catalogs that might need to make async calls to fetch information)

[2022-11-10 18:23] alamb opened #4169 "Add ability to specify external sort information for ParquetExec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
IOx stores parquet files in a particular sort order, and then uses the fact the data is sorted for a variety of sort related optimizations

The new `BasicEnforcement` rule added in https://github.com/apache/arrow-datafusion/pull/4122 by @mingmwang is (correctly) deciding that since the `Parque

[2022-11-10 18:48] alamb opened #4171 "Support for Time and Date types"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
At the moment DataFusion only supports a subset of `DataType::Time` and `DataType::Date` and does not properly account for the units (seconds, milliseconds, microseconds, nanoseconds).

**Describe the solution you'd like**
We should add proper support for the full range of Time and Date types

[2022-11-10 18:50] JanKaul commented on #3777
**Is your feature request related to a problem or challenge? Please describe
what you are trying to do.**

The traits `CatalogList`/`CatalogProvider`/`SchemaProvider` currently provide a
synchronous interfaces for catalog and schema information. But due to their
synchronous nature it is not possible to implement the traits for use cases
where the information cannot simply be stored in memory. Thes

[2022-11-10 18:54] JanKaul commented on #3777
Here is a draft for a proposal. Feel free to add anything if I forgot something

[2022-11-10 19:36] #4152 closed

[2022-11-10 19:41] #4051 closed

[2022-11-10 20:42] comphead commented on #4103
@andygrove please assign this to me

[2022-11-11 07:48] crepererum commented on #4169
One alternative would be to encode the "sorted by" property into the parquet file itself. Sure that's more effort, but I kinda think that it would be nicer for the ecosystem. This metadata would be optional and solely help optimization (although if specified, it must be correct). This is very similar to statistics.

[2022-11-11 08:32] mingmwang commented on #4169
One question for SortPreservingMergeExec, does it alway require the inputs to be sorted ? What if the inputs are not sorted,
what kind of output stream the SortPreservingMergeExec can generate ?

[2022-11-11 09:01] Dandandan commented on #4169
Is there a way we can generalize sort order over different formats?
I think sort order information should be quite generalizable over formats, CSV/JSON/Avro could be sorted as well.

[2022-11-11 09:06] crepererum opened #4172 "Error type in `RecordBatchStream`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`RecordBatchStream` is a DataFusion type. However it carries an `ArrowError` instead of `DataFusionError`. This leads to some wild error wrapping like this one:

https://github.com/apache/arrow-datafusion/blob/5883e43db6c16d3ac3616302606849abbfbc86eb/datafusion/core/src/physical_plan/aggregate

[2022-11-11 09:34] crepererum commented on #4169
Depends on the source of this information, hence my comment. Should we place this information into the parquet file (similar to stats) or in the catalog (this is what IOx does and what would generalize to other storage formats as well). Both can make sense under different circumstances.

[2022-11-11 11:22] alamb commented on #4169
Yes, I agree this would be nice if there was some standard way to do so.

I poked around in the format definition and it seems like there is a standard way to encode the sort order in each Row Group's metadata:

There is a "SortingColumn" in the format
https://github.com/apache/parquet-format/blob/54e53e5d7794d383529dd30746378f19a12afd58/src/main/thrift/parquet.thrift#L685-L698

Which is then in t

[2022-11-11 11:25] alamb commented on #4169
what kind of output stream the SortPreservingMergeExec can generate ?

`SortPreservingMergeExec` is a fairly classic multi-column merge operator. This comment describes it well:

https://github.com/apache/arrow-datafusion/blob/5883e43db6c16d3ac3616302606849abbfbc86eb/datafusion/core/src/physical_plan/sorts/sort_preserving_merge.rs#L54-L80

If the inputs are not sorted the output will be incorrect

[2022-11-11 11:27] alamb commented on #4169
I think sort order information should be quite generalizable over formats, CSV/JSON/Avro could be sorted as well.

That is an excellent point -- since they all use the "ListingTable" API perhaps that is the most appropriate place to allow users to specify externally known sorting

[2022-11-11 11:39] alamb commented on #4169
My plan is to implement the "manual override" initially (both to unblock IOx work and allow users to provide other externally known sort information) and file tickets describing the "encode sort order in the parquet files" for follow on

[2022-11-11 11:46] alamb commented on #3777
Looks great -- thank you @JanKaul  -- I sent out a "FYI" email / slack notifications and hopefully we'll get enough consensus over the next few days to get a sense of how to proceed

[2022-11-11 12:00] crepererum commented on #3777
Regarding all three crates: it seems weird to me that we mix state access (i.e. listing and requesting objects) with modifiers. If you have a completely static / DB-backed / remote catalog, it's unlikely that the modifiers make sense. Instead, modifications (i.e. when/how/if sub-units are found) is a mere implementation detail of the provider/list. In many cases, you may not be able to modify the

[2022-11-11 12:28] waynexia commented on #3777
Good point, I agree 👍

This makes sense in some perspectives, but how would the proposed traits (`CatalogList` and `CatalogListWriter`) be used? I.e., which one should `SessionState` requires. Consider the access operations are now modeled together with modify operations, if we split the `CatalogList` then `SessionState` (or the upper level operations) may also need to be separated.

For the situa

[2022-11-11 12:30] jackwener opened #4174 "`ProjectionPushDown` rule don't consider the alias in projection."
**Describe the bug**

pushdown project rule don't handle alias. In fact, when handle projection with alias, we need replace the alias column in new_required_columns, but if we see the code of this rule, we can find that it didn't consider alias.

For example:

project c1 as c2
    tablescan c1.
when we meet project c1 as c2, if new_required_columns include c2, we need replace it with c1.

**To Rep

[2022-11-11 12:52] Jefffrey commented on #4091
Looks like the particular behaviour for query 12 in TPC-H is caused by the `return Ok(unhandled)` here:

https://github.com/apache/arrow-datafusion/blob/509c82c6d624bb63531f67531195b562a241c854/datafusion/core/src/physical_optimizer/pruning.rs#L787-L795

Where the `and true`'s are generated by the `l_commitdate < l_receiptdate` and `l_shipdate < l_commitdate` conditions.

Would a potential fix be

[2022-11-11 13:01] crepererum commented on #3777
Sounds good to me. If all modifiers return `Result`, we can easily return `DataFusionError::NotImplemented` :+1:

[2022-11-11 13:38] JanKaul commented on #3777
I have updated my proposal accordingly

[2022-11-11 14:58] jackwener opened #4176 "Reimplement the `eliminate_cross_join`"
**Describe the bug**
Current implementation of `eliminate_cross_join` is wrong.
Because it can't rearrange join order.

When original plan is
[code]

I will reimplement `eliminate_cross_join` to resolve this problem.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context

[2022-11-11 15:39] alamb opened #4177 "Automatically detect and use "is the data sorted" information in parquet file metadata"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Suggested by @crepererum  in https://github.com/apache/arrow-datafusion/issues/4169#issuecomment-1311347788

Some systems such as IOx, store parquet files in a particular sorted order, and then uses the fact the data is sorted for a variety of sort related optimizations.

The `BasicEnforcement

[2022-11-11 15:41] alamb commented on #4169
So my current proposal is:
1. Allow users to specify the sort order of their data in ListingTableOptions (e.g. https://github.com/apache/arrow-datafusion/pull/4170)
2. Filed tickets to track potentially automatically determining this information from parquet metadata: https://github.com/apache/arrow-rs/issues/3090 https://github.com/apache/arrow-datafusion/issues/4177

[2022-11-11 15:49] alamb opened #4178 "Improve ergonomics of creating `ListingOptions`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Right now, `ListingOptions` is a public struct with some required fields and some that have reasonable default values

This means that to create one you need to provide all fields, which means that adding new fields requires changes to many places in DataFusion as well as downstream creates -

[2022-11-11 16:52] alamb commented on #4020
I have confirmed that what is displayed as `predicate` is really the `PruningPredicate` not the pushed down filters

https://github.com/apache/arrow-datafusion/blob/f2f846512ab032845de5dcee768a8a69ddf17eac/datafusion/core/src/physical_plan/file_format/parquet.rs#L304-L313

While reviewing the code I think there is a real limitation as well which is that we only push down filter expressions into th

[2022-11-11 17:26] thinkharderdev commented on #3777
Does it make sense to make the interface async at both the `CatalogProvider` and `SchemaProvider` level?  I haven't really looked through the concrete use cases but it seems like we could make `SchemaProvider` async but still have `CatalogProvider` be sync. If a particular implementation needed to prefetch metadata (meta-metadata?) then that could be something handled at construction for that impl

[2022-11-11 19:23] alamb commented on #4169
PR https://github.com/apache/arrow-datafusion/pull/4170 contain the proposed implementation

[2022-11-11 19:34] alamb opened #4179 "Use arrow row format in GroupByHash rather than datafusion row format"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Arrow now has a row format https://docs.rs/arrow/26.0.0/arrow/row/index.html that is both well documented and likely to get additional functionality (as it will be used for sorting, etc)

It would be good to use that in DataFusion to benefit from upstream efforts including more type support as

[2022-11-11 20:07] mvanschellebeeck commented on #4178
Hey @alamb, happy to take this one :)

[2022-11-11 20:13] alamb commented on #4178
Thank you @mvanschellebeeck !

[2022-11-11 21:48] alamb commented on #4080
Possibly related PR in upstream sqlparser crate https://github.com/sqlparser-rs/sqlparser-rs/pull/662

Just release in 0.27.0

[2022-11-11 21:59] alamb commented on #1755
I believe this is done https://github.com/apache/arrow-datafusion/tree/master/datafusion/expr/src/logical_plan -- though maybe the intent was to move all of logical_plan into its own crate?

I am thinking extracting the physical plan from core will be the biggest bang for the buck

[2022-11-11 21:59] #1755 closed

[2022-11-11 22:00] alamb opened #4181 "Continue to break datafusion crate into smaller crates"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Quoting @Jimexist on https://github.com/apache/arrow-datafusion/issues/1750

Also I have heard annecdotal reports that compiling datafusion takes too long / too much memory to compile which is sad.

**Describe the solution you'd like**
- [ ] split out configuration (SessionState, ConfigOptions

[2022-11-11 22:00] alamb commented on #1750
I am thinking of trying to push us to the next level here https://github.com/apache/arrow-datafusion/issues/4181

[2022-11-12 02:08] doki23 opened #4183 "Supporting specifying schema when create tables"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I tried `create table t1(a int, b int, c string) as values(0, 100, 'a')` but failed.
The response is ``NotImplemented("Only `CREATE TABLE table_name AS SELECT ...` statement is supported")``.

**Describe the solution you'd like**
Supporting specifying schema when create a table.

[2022-11-12 05:11] Jefffrey commented on #3204
Seems to be because of this parsing:

https://github.com/apache/arrow-datafusion/blob/129654cd8466e7634bf186782c3d271541f0671e/datafusion/common/src/parsers.rs#L130-L161

Finest granularity is milliseconds, accumulated as an integer, hence fractions of that are silently ignored.

Could change this accumulator to nanoseconds, as `i64`, however this seems it would conflict with `ScalarValue::Interva

[2022-11-12 11:16] #3938 closed

[2022-11-12 11:25] alamb commented on #3702
PR is now ready for review https://github.com/apache/arrow-datafusion/pull/4149

[2022-11-12 11:39] alamb opened #4187 "Clippy failing on master : error: use of deprecated associated function `chrono::NaiveDate::from_ymd`: use `from_ymd_opt()` instead"
**Describe the bug**
Clippy failing on master https://github.com/apache/arrow-datafusion/actions/runs/3450721677/jobs/5759527413

[code]

**To Reproduce**
Run clippy after `cargo update`

**Expected behavior**
clippy passes

**Additional context**
I suspect the function was deprecated in https://crates.io/crates/chrono/0.4.23

[2022-11-12 14:15] #4187 closed

[2022-11-12 15:25] #4091 closed

[2022-11-12 16:07] jackwener commented on #3864
Datafusion only can propagate `EmptyRelation` just `optimizer_config.max_passes` times. Because we depend on multi-passes optimization to multiply elimination.

In other words, we currently don't  have really `EmptyRelationPropagation`.

We can reproduce it.

 After 3 optimizations, the plan can continue to be eliminated.

[code]

The `root` cause is currently optimization is incomplete. We just h

[2022-11-12 16:10] jackwener commented on #3864
So I believe that it's a future ticket, it should fix after we have bottom-up optimization. like #3972

[2022-11-12 22:08] andygrove opened #4191 "scalar function `round` ignores second parameter"
**Describe the bug**

`round` accepts two arguments, but is also defined as a unary function. The second parameter is ignored.

[code]

**To Reproduce**
See above

**Expected behavior**
I expect the behavior to be consistent with Postgres `round(v numeric, s int)`. User guide will also need updating.

**Additional context**
Related to https://github.com/apache/arrow-datafusion/issues/2420

[2022-11-12 22:50] comphead commented on #4103
Local test to reproduce
[code]

[2022-11-13 18:08] DataPsycho opened #4195 "It will be good to have Bucketizer and OneHotEncoder in DataFusion like PySpark"
Feature engineering before Machine Learning needs some special transformation to deal with Categorical Data either they are nominal or Ordinal. It will be nice to have built-in OneHot encoder and Bucketizer functions. Currently, it is possible to create such encoded values but that needs a lot of boilerplate code with Joins and When else statements.

For Bucketizer up on providing a vector/list of

[2022-11-14 02:04] ygf11 opened #4196 "Add ambiguous check when generate selection plan"
**Describe the bug**
Datafusion will try to generate inner join plan for selection, but it does not do ambiguous check.
For example:
[code]

In `PostgreSQL`, this will throw an error:
[code]

The semantics of this sql is not clear, we need throw exception like `PostgreSQL` do.

**To Reproduce**
Create two tables -- test0 and test1, which has same schema.

run sql `explain select * from test0, test

[2022-11-14 02:39] liukun4515 commented on #4174
@jackwener related issue: https://github.com/apache/arrow-datafusion/issues/3635

[2022-11-14 02:50] ygf11 opened #4197 "Add ambiguous check when generate join plan"
**Describe the bug**
For some join sql whose meaning is not clear, datafusion will not throw error.
For example, `test0` and `test1` both has `c0` column.
[code]
In PostgreSQL, this will throw an error:
[code]

The semantics of this sql is not clear, we need throw exception like PostgreSQL do.

**To Reproduce**
`test0` and `test1` both has `c0` column.

Then run `explain select * from test0 as t0

[2022-11-14 03:35] thomas-k-cameron opened #4198 "What happened for NDJSON support on CLI?"
**Describe the bug**
When I tried to run this script, it shown an error.
I believe that it worked before.

[code]

contents of the file is
[code]

**To Reproduce**
Use that file and run that script.

**Expected behavior**
It should create a table.

**Additional context**

When I tried it with `STORED AS JSON` it still didn't work.
[code]

[2022-11-14 06:41] Jefffrey commented on #1193
Seems to be resolved as of master 96512ac05df40deb42632992cece656842d6debb

Running on datafusion-cli:

[code]

[2022-11-14 06:50] Jefffrey commented on #1406
Is already implemented:

https://github.com/apache/arrow-datafusion/blob/b58ec81ab06af7a267ee69b834715727dbef963d/datafusion/optimizer/src/simplify_expressions/expr_simplifier.rs#L580-L591

[2022-11-14 07:12] Jefffrey commented on #2125
Seems to be resolved as of master 96512ac05df40deb42632992cece656842d6debb

Running on datafusion-cli:

[code]

Probably fixed by https://github.com/apache/arrow-datafusion/pull/3407?

[2022-11-14 08:33] Ted-Jiang commented on #2125
@Jefffrey Thanks
[code]
i will close this issue

[2022-11-14 08:33] #2125 closed

[2022-11-14 10:45] Jefffrey commented on #1429
If we are using PostgreSQL as baseline, then supplying `g` flag to `regexp_match()` should indeed result in an error.

[code]

Reference: https://www.postgresql.org/docs/current/functions-matching.html#FUNCTIONS-POSIX-REGEXP

Supported flags: https://www.postgresql.org/docs/current/functions-matching.html#POSIX-EMBEDDED-OPTIONS-TABLE

Seems its `regexp_matches()` which is the one supporting `g` fl

[2022-11-14 11:31] Jefffrey commented on #1999
Issue seems resolves as of 96512ac05df40deb42632992cece656842d6debb as unable to reproduce:

Created file structure as shown:

[code]

Then selecting their partitioned columns:

[code]

Can see selects fine with no errors.

[2022-11-14 15:08] andygrove opened #4204 "Cannot register table to represent multiple parquet files in S3 bucket"
**Describe the bug**
This works:

[code]

This does not work:

[code]

Fails with:

[code]

**To Reproduce**
As described.

**Expected behavior**
Should be able to register a directory containing parquet files.

**Additional context**
Possibly related to https://github.com/apache/arrow-datafusion/issues/1736

[2022-11-14 15:15] andygrove commented on #4198
There have been changes in how table providers are registered so this is likely a regression. It would be good to get some regression tests added when we fix this.

I am guessing that the fix is simply to add `NDJSON` to this code in datafusion-cli:

[code]

[2022-11-14 15:18] andygrove commented on #4181
Sounds good to me.

[2022-11-14 15:31] stestagg opened #4205 "Nullif func states support for Boolean type, but fails if this is attempted"
**Describe the bug**
The nullif() reports that it supports Boolean arguments, but calling it with boolean arguments results in an internal error.

The message here suggests that Boolean is supported (When nullif is called with different unsupported types):
[code]

**To Reproduce**
evaluate:  `SELECT nullif(1=2, FALSE)`

[code]

**Expected behavior**
Either Boolean is not listed as supported argume

[2022-11-14 16:02] andygrove commented on #4204
I found that adding a trailing `/` to the URL fixes this, so I will file a PR to add documentation

[2022-11-14 17:12] #4169 closed, assigned to alamb

[2022-11-14 20:48] alamb commented on #3478
Here is a PR to add the appropriate support in arrow-rs: https://github.com/apache/arrow-rs/pull/3106 👍

[2022-11-14 20:55] alamb commented on #3777
I think async looks good to me

The `Result<Option<_>>` is always a little hard to grok at first glance, but I think it does make sense

[2022-11-14 21:05] #1193 closed

[2022-11-14 21:14] alamb commented on #185
This appears to work just fine now:

[code]

🎉

[2022-11-14 21:14] #185 closed

[2022-11-14 21:16] #1406 closed

[2022-11-14 22:15] andygrove opened #4209 "Allow optimizer rules to skip optimizing plans"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Many rules are only applicable to certain types of plan. Currently a rule has two choices if it cannot optimize the given plan:

- Return a clone of the input plan
- Return an Err

**Describe the solution you'd like**
I would like a third option, where the rule can return "not applicable".

**

[2022-11-14 23:59] comphead commented on #3997
waiting for #4199

[2022-11-15 00:17] andygrove opened #4223 "Improve schema merging"

[2022-11-15 02:23] ygf11 opened #4210 "Add ambiguous check when generate projection plan"
**Describe the bug**
When the two table both has `c0`, then the following sql will work:
[code]

The projection part of this sql is not clear, datafusion should throw an error.

**To Reproduce**
Create two table test0 and test1, which both contain `c0`.
Run sql `explain select c0 from test0, test1;`

**Expected behavior**

**Additional context**

[2022-11-15 03:01] HaoYang670 commented on #4191
Not sure, but I wonder could we support this is logical phase?
Given the following 2 lemmas:
[code]
we can unfold the `round` function in the logical plan stage and don't need to modify the physical stage.

One concern here is that `Decimal` type might be better than `Float` type because we've found some corner cases in floating point multiplication and division:

[2022-11-15 03:15] mingmwang opened #4211 "Null-Aware Anti Join Support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

For Anti joins, null key values in both sides need to be carefully treated.
http://s

[2022-11-15 03:26] mingmwang commented on #4211
@alamb @jackwener @liukun4515

Please share your thoughts.

[2022-11-15 03:35] pjmore commented on #1999
@Jefffrey Yeah you're right this was fixed by #2000 and I should've closed it then. Thanks for the heads up on this one.

[2022-11-15 03:35] #1999 closed

[2022-11-15 04:16] #4123 closed

[2022-11-15 08:16] HaoYang670 commented on #4209
Wonder if we could also do this update in physical optimizer.

[2022-11-15 09:08] HaoYang670 commented on #4209
Another concern (may be not related to this issue) is that should we move the `type_coercion` out from the `optimizer` and put it into a new mod (maybe call it `type_checker`)?
Because what the `type_coercion` does is different from an optimizer, but more like a type-checker in the compiler. It checks the plan, but not optimizes the plan:

[code]

[2022-11-15 10:29] doki23 opened #4218 "support scan non-string columns partitioned parquet files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
reference -- delta-io/delta-rs#937

The problem is because partitioned columns in the schema of deltalake dismatches that of datafusion which is always the value type(Utf8) of `DEFAULT_PARTITION_COLUMN_DATATYPE`.

[2022-11-15 11:15] alamb opened #4220 "Bug displaying fractional seconds in `IntervalMonthDayNano`"
thank you @Jefffrey

there's a bug while displaying IntervalMonthDayNano
[code]
i checked the underline value it's correct `(month: 0, day: 0, nanos: 100000)`
i think this is the display issue

_Originally posted by @waitingkuo in https://github.com/apache/arrow-datafusion/pull/4186#pullrequestreview-1178643913_

[2022-11-15 11:16] alamb commented on #4220
Oh, I think this will be fixed by https://github.com/apache/arrow-rs/pull/3093 (in the next release after arrow 27.0.0)

[2022-11-15 11:18] #3204 closed

[2022-11-15 11:27] #1429 closed

[2022-11-15 11:42] mingmwang opened #4222 "Introduce QueryConstraints to LogicalPlan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I would like to introduce below structs to LogicalPlan and implement the QueryConstr

[2022-11-15 15:36] andygrove commented on #4209
@HaoYang670 Perhaps we can copy Spark's terminology and have an "analysis phase"? Do you want to file an issue for this?

[2022-11-15 15:37] andygrove commented on #4209
Sounds good, but I think that should be a separate issue & PR.

[2022-11-15 15:42] mingmwang commented on #4210
What's the behavior in other systems? Like SparkSQL and PostgreSQL ?

[2022-11-15 15:53] mingmwang commented on #4209
For physical optimizer, we already have utils to return Option. The 'op' here is a Closure which can return Option if the 'op'
does not apply. It is similar to the Partial Apply Func in Scala.

https://github.com/apache/arrow-datafusion/blob/d72b4f04cf12424a54b22bf376b87065d5fcb6aa/datafusion/core/src/physical_plan/rewrite.rs#L76-L84

@andygrove @HaoYang670
I am not sure whether this is your expec

[2022-11-15 15:58] mingmwang commented on #4197
It is a bug, we should fix it.

[2022-11-15 17:51] waitingkuo opened #4224 "upgrade chrono to 0.4.23"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

`with_ymd_and_hms`
https://docs.rs/chrono/latest/chrono/offset/trait.TimeZone.html#m

[2022-11-15 19:00] #3702 closed

[2022-11-15 19:01] #4209 closed

[2022-11-15 19:52] #4224 closed

[2022-11-15 21:39] tustvold commented on #4071
Fixed by #4199

[code]

[2022-11-15 21:39] #4071 closed

[2022-11-15 22:13] Jefffrey commented on #3176
This should be fixed by https://github.com/apache/arrow-rs/pull/3101 with the related arrow-rs version

[2022-11-15 22:20] alamb commented on #4211
I will respond tomorrow -- also cc @Dandandan  who may be interested

[2022-11-15 23:19] comphead commented on #4171
@alamb I can pick this

[2022-11-15 23:41] #3216 closed

[2022-11-16 00:04] #2045 closed

[2022-11-16 01:13] ygf11 commented on #4210
Like join and selection in PostgreSQL , it will report an error:

[code]

[2022-11-16 02:51] mingmwang opened #4230 "HashJoin with mode PartitionMode:CollectLeft has bug and can produce wrong result"
**Describe the bug**
A clear and concise description of what the bug is.
The join result is wrong.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Run this test with PartitionMode:CollectLeft, the test will be failed.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-16 02:57] mingmwang commented on #4230
@alamb @tustvold

[2022-11-16 03:02] mingmwang commented on #4230
expected:

[
    "+-------+---------+---------+",
    "| t1_id | t1_name | t2_name |",
    "+-------+---------+---------+",
    "| 11    | a       | z       |",
    "| 22    | b       | y       |",
    "| 33    | c       |         |",
    "| 44    | d       |         |",
    "+-------+---------+---------+",
]
actual:

[
    "+-------+---------+---------+",
    "| t1_id | t1_name | t2_name |",

[2022-11-16 05:28] HaoYang670 opened #4231 "Doc of the expression function`log2` is incorrect"
**Describe the bug**
A clear and concise description of what the bug is.
https://github.com/apache/arrow-datafusion/blob/406c1087bc16f8d2a49e5a9b05d2a0e1b67f7aa5/datafusion/expr/src/expr_fn.rs#L370
The doc here is incorrect.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-16 05:31] mingmwang commented on #4230
The root cause is that, for Left Out join,  for each partition of the right side, they are running independently,  each of them constructs the `HashJoinStream` and has the `visited_left_side` data structure, each of them will try to produce the unmatched right side and fill with null, which will cause duplications.

[2022-11-16 05:31] mingmwang commented on #4230
@yahoNanJing

[2022-11-16 05:35] mingmwang commented on #4230
For DataFusion, a possible fix is to maintain a global `visited_left_side` data structure.
And for Ballista,  we can not rely on any global structure, because different partitions are different tasks and can run on different machines, we can not run Collect Left mode for LeftJoin and FullJoin.

[2022-11-16 07:06] waitingkuo commented on #4220
@alamb just found another bug while displaying fraction seconds

[code]
do you preferred submit another issue? I think it's arrow-rs's prettyprint issue as well

[2022-11-16 07:14] HaoYang670 opened #4236 "`cargo test` reports errors on the master branch."
**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run
[code]
on the master branch

Or just run the test `parquet::filter_pushdown::single_file`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-16 07:14] HaoYang670 commented on #4236
A weird thing is that the `cargo test` doesn't fail.

[2022-11-16 07:17] HaoYang670 commented on #4236
@alamb, could you please take a look?

[2022-11-16 07:59] waitingkuo commented on #4220
@alamb i submit another issue since negative value isn't pure display issue

[2022-11-16 08:05] waitingkuo opened #4237 "Bug parsing interval with negative values"
**Describe the bug**

bug parsing interval that contains negative values

**To Reproduce**

[code]

this is a parsing issue but not a display issue, underline value is incorrect `IntervalMonthDayNano("-1000000000")   `

**Expected behavior**

`0 year 1 mons 0 days 0 hours 0 mins -1 secs`

**Additional context**

https://github.com/apache/arrow-datafusion/blob/406c1087bc16f8d2a49e5a9b05d2a0e1b67f7a

[2022-11-16 08:24] JanKaul commented on #3777
That's also a good point. I guess this would work for most use cases. On the other hand I think the biggest burden is to change the public interface of datafusion and update the dependencies. If the dependiencies have to be updated due to changes in `SchemaProvider`, I think also updating the interface for `CatalogProvider` is just a minor issue. And one avoids a potential breaking change in the f

[2022-11-16 08:44] mingmwang commented on #4211
For the Anti Joins converted from EXCEPT clause, our implement is correct.
For the Anti Joins converted from NOT EXISTS,  our implement should be correct, need to confirm.
For the Anti Joins converted from NOT IN, we have to handle Null cases as NAAJ.

[2022-11-16 08:51] Jefffrey commented on #4237
Thanks for finding this, looks like its not only limited to the nanoseconds portion of IntervalMonthDayNano, but its day portion, as well as the day bits of IntervalDayTime as well

I'll raise a PR for this soon

[2022-11-16 09:05] thomas-k-cameron commented on #4198
What do you think about adding several test-cases for the datafusion-cli to check if some features works as intended?

[2022-11-16 09:20] Jefffrey commented on #1279
I tried to take an initial shot at this: https://github.com/Jefffrey/arrow-datafusion/commit/4761d169af2f08764af81f56aa1dab128a960167

But have run into a roadblock, where in the `exec_and_print()` function it can potentially block whilst printing, especially for a very large result set.

[code]

Since it is blocking, you can't abort the async function whilst it executes. Even spawning it in a sep

[2022-11-16 10:06] Jefffrey opened #4239 "Cannot query s3 data from datafusion-cli"
**Describe the bug**

When following steps from user guide for cli:

https://github.com/apache/arrow-datafusion/blob/fc669d5892954cbd2612a272314785758a7cb176/docs/source/user-guide/cli.md?plain=1#L154-L187

Cannot create a table as it states.

**To Reproduce**

[code]

**Expected behavior**

Be able to create a table from s3 and query it, per instructions in the user doc.

**Additional context**

[2022-11-16 11:11] Jefffrey commented on #193
Issue seems resolved as of 406c1087bc16f8d2a49e5a9b05d2a0e1b67f7aa5

[code]

[2022-11-16 12:47] JanKaul commented on #3777
It looks like no one was opposed to the proposal. I guess I can start the implementation.

[2022-11-16 13:04] Ted-Jiang opened #4241 "Add support binary boolean operators with nulls"
in datafsuion:
[code]
RUN in spark-sql
[code]
I think its ok get error when run  `NULL or xxx`

_Originally posted by @Ted-Jiang in https://github.com/apache/arrow-datafusion/pull/4200#discussion_r1021374351_

[2022-11-16 13:17] timvw commented on #4198
Seems to have been gone missing in https://github.com/apache/arrow-datafusion/pull/1010

[2022-11-16 15:15] Ted-Jiang commented on #4236
@HaoYang670  Thanks , this expected now.
because these cols are string , not supported yet , after https://github.com/apache/arrow-datafusion/pull/4132 done,this will be fixed.
Although it reports errors, will have the fall back in https://github.com/apache/arrow-datafusion/blob/509c82c6d624bb63531f67531195b562a241c854/datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs#L350-L351

[2022-11-16 15:31] mvanschellebeeck opened #4245 "Clippy failures"
**Describe the bug**
Clippy returns errors after running ` ./dev/rust_lint.sh`

**To Reproduce**
` ./dev/rust_lint.sh`

[2022-11-16 16:15] mvanschellebeeck commented on #4245
Turns out I was running it on nightly - closing

[2022-11-16 16:52] alamb commented on #4245
FWIW the clippy stuff on nightly is often good to fix in advance because many eventually get promoted into stable and then we have to fix them.

Thanks again @mvanschellebeeck

[2022-11-16 16:57] #4144 closed

[2022-11-16 18:18] mingmwang opened #4247 "RightSemi/RightAnti HashJoin has bug, the left_indices is never populated, causing failure to apply join filters."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-16 18:19] mingmwang commented on #4247
@Dandandan @alamb

[2022-11-16 18:25] alamb commented on #4171
Thanks @comphead  -- I think @andre-cc-natzka  has a pretty good start with this PR: https://github.com/apache/arrow-datafusion/pull/4156

It just needs some help to get it ready for merge but is mostly ready to go I think

[2022-11-16 18:32] alamb commented on #193
🎉  thanks for checking @Jefffrey

[2022-11-16 18:32] #193 closed

[2022-11-16 18:33] alamb commented on #4237
Wow ⏩ @Jefffrey !

[2022-11-16 18:34] #4237 closed

[2022-11-16 18:39] alamb commented on #4236
The strange thing is that the errors appear on stdout while running `cargo test`

i wonder if some test is accidentally enabling logging always 🤔

[2022-11-16 18:42] #4241 closed

[2022-11-16 19:42] waitingkuo commented on #4237
thank you @Jefffrey

[2022-11-16 19:46] alamb commented on #4247
Thanks for filing @mingmwang

[2022-11-16 19:54] alamb commented on #4211
It would not surprise me at all if there are bugs handling ANTI joins in DataFusion. As I recall there is a bunch of subtlety regarding nulls when there are multi-column equijoins as well and there are nulls in some but not all columns 🤔

My personally recommendation to make improvements in this area is start by writing tests (perhaps borrow some / all of the duckdb tests): https://github.com/duck

[2022-11-16 20:08] alamb opened #4248 "Make a data driven SQL testing tool (so we can reuse duckdb test suite, example)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to ensure that DataFusion gets the correct answers for SQL queries (especially in tricky corner cases like the one described in https://github.com/apache/arrow-datafusion/issues/4211)

From experience, both in DataFusion and in prior jobs, the effort required to maintain tests (bo

[2022-11-16 20:10] alamb commented on #4248
I am marking this as "good first issue" as I think it is fairly self contained (the runner should only have to interact with DataFusion as a user) so internal knowledge isn't needed, but you would get a lot of experience with writing a rust tool, CI, etc)

And you would get huge props from the community I think

I am willing to help shepherd this project / review PRs / help with contributions

[2022-11-16 20:10] alamb commented on #4211
Wrote up my dream testing tool: https://github.com/apache/arrow-datafusion/issues/4248

[2022-11-16 21:14] mvanschellebeeck commented on #4248
Hey @alamb, I'm trying to get more involved in the project and this looks like something more substantial that I can take on!

Let me know if that works with you and I can start poking around in the duckdb and influxdb approaches to data-driven tests.

[2022-11-16 21:20] alamb commented on #4248
That would be awesome @mvanschellebeeck  -- I think the idea of poking around ("background research" 😆 ) is a great way to start

Also note there may be others who are interested but are not online due to their timezones so I think it would be good to ensure they can collaborate as well

[2022-11-16 21:34] #4231 closed

[2022-11-16 21:34] #4080 closed

[2022-11-16 21:35] #4183 closed

[2022-11-16 21:36] #3845 closed

[2022-11-16 21:40] #3864 closed

[2022-11-17 03:50] Ted-Jiang opened #4253 "Cargo test fail"
**Describe the bug**
run cargo test
[code]
Seems due to two recent two commits
https://github.com/apache/arrow-datafusion/commit/5de9709fadf1344baca1ed3e1f9a44e06dfa9a63
and
https://github.com/apache/arrow-datafusion/commit/4dcf9857c0aad3d11050037bd46889a54f83a394

@jackwener  could mind take a look ?

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise des

[2022-11-17 03:54] xudong963 commented on #4248
Nice to see the issue, thanks @alamb !

Test completeness is important for a database in the early stages of development, not only to ensure that new features can be tested completely but also to ensure that existing features are not broken in the rapid iteration process.

During our involvement in databend development, logicaltest brought a lot of benefits and made us feel confident about our que

[2022-11-17 05:14] jackwener commented on #4253
#4250 #4252

[2022-11-17 05:20] #4253 closed

[2022-11-17 05:49] liukun4515 commented on #4247
I will take this issue.

[2022-11-17 05:53] mingmwang commented on #4247
@liukun4515 Thank you.

[2022-11-17 10:33] jackwener opened #4256 "Current `limit_push_down` can't support cross_join"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-17 10:56] timvw commented on #4198
Seems that this now available as regular "json" format:
https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/datasource/file_format/json.rs#L46

The following works on my machine:
`DataFusion CLI v14.0.0
❯ create external table x stored as json location 'datafusion/core/tests/jsons/1.json';
0 rows in set. Query took 0.021 seconds.
❯ select * from x;
+-----+----------------+--

[2022-11-17 11:26] #4245 closed

[2022-11-17 12:34] alamb commented on #4248
@xudong963  -- using https://github.com/risinglightdb/sqllogictest-rs (either directly or forking it) sounds like a great idea!

Thank you for the write up

[2022-11-17 14:32] the-mousaillon opened #4259 "approx_percentile_cont panics because array is not ordered"
**Describe the bug**
approx_quantile_cont panics, complaining that the input to TDigest is not ordered:
```panicked at 'unsorted input to TDigest'```

I have done some digging to understand what happens and it seams to have something to do with a corruption of indexes whithin the arrow Array.

I added a simple check to see if the array is ordered, and if not to print it in the [update_batch](https

[2022-11-17 15:20] the-mousaillon commented on #4259
Also, I only have this issue if I use approx_percentile_cont on an INT64 column

[2022-11-17 15:31] alamb commented on #1453
We may be finally ready to revisit this -- see https://github.com/apache/arrow-datafusion/issues/4248 (and thanks to @xudong963  for originally brining it up!)

[2022-11-17 17:08] #4140 closed

[2022-11-17 17:12] alamb commented on #4222
Maybe this could be unified somehow with the analysis framework that @isidentical  is working on

[2022-11-17 20:09] JanKaul commented on #3777
After a more detailed look at the source code I would like to come back to your suggestion @thinkharderdev. If we use async traits for `CatalogProvider` and `CatalogListProvider` the `new` constructors of `SessionState` and `SessionContext` will be async. Maybe that was obvious, but I didn't think of it.

I would like to get your opinion in which of the following two solutions you prefer:

1. `Sch

[2022-11-18 00:52] andygrove opened #4262 "`create external table` should fail to parse if syntax is incorrect"
**Describe the bug**
When using `create external table` with csv files we can specify `with header row` to indicate that the file contains headers.

I ran this and forgot the syntax and omitted the word `row` and it did not process the header row and also did not fail and tell me that the syntax was incorrect.

**To Reproduce**

[code]

**Expected behavior**
SQL should have failed to parse.

**Add

[2022-11-18 03:13] jackwener opened #4263 "Reimplement `limit_push_down`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

- Current `limit_push_down` keep a global state, it's a bad design.
- can't remove r

[2022-11-18 03:13] jackwener commented on #4263
I'm doing it, after merge #4257 , I will create a PR

[2022-11-18 03:19] HaoYang670 commented on #4262
Same errors when parsing `compression type`:
[code]

[2022-11-18 03:39] jackwener opened #4264 "Reimplement `eliminate_limit`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshot

[2022-11-18 03:39] jackwener opened #4265 "Reimplement `projection_push_down`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-18 03:41] jackwener opened #4266 "Reimplement `filter_push_down`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-18 03:44] jackwener opened #4267 "[EPIC]: reimplement all rule which contains global-state"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Current some rule contains `global-state`

Such as `limit_push_down` use `ancestor: &Ancestor` collect the limit-state of whole tree.

- #4266
- #4265
- #4264
- #4263

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you

[2022-11-18 04:44] HaoYang670 commented on #4262
Task lists:
- [ ] with header row
- [ ] compression by
- [ ] partitioned by

[2022-11-18 04:52] HaoYang670 commented on #4262
By the way, we implement our own `consume_token` in the datafusion currently, Should we update the `comsume_token` function in sqlparser (which I mean `ignore case` https://github.com/apache/arrow-datafusion/pull/1237) so that we can remove the deplicate implementation in Datafusion.

[2022-11-18 04:55] jackwener commented on #4267
let me explain why.

Due to global-state exists, we can't just optimize a subtree, we must traverse the whole tree.

In fact, I prefer to `Pattern-match`, we match a subtree `pattern`, and just optimize the pattren/subtree.

A example: Merge Limit

[code]

we just match `limit-limit`, and handle it.

BUT, global-state force we must handle various situations， and we must traverse the tree all.

[2022-11-18 04:58] jackwener commented on #4267
After finish this job,
I will need to finish #4208 .
After finish them, All preparations will be done.
I will do #3972 ! It will make our optimizer simple and easy-use.

[2022-11-18 05:30] elliot14A opened #4269 "`infer_schema` function is not working with s3 Urls or http endpoints"
**Describe the bug**
I was not able to use `infer_schema` function in `datafusion::datasource::listing::ListingOptions` with s3 urls and http endpoints where it is working fine with path urls.

**To Reproduce**
[code]
This is the error it returns when run the above code:
[code]

**Expected behavior**
It should infer the schema of a file on s3 or http just like local files

**Additional context**
I

[2022-11-18 06:38] jackwener opened #4270 "reimplement `reduce_outer_join`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-18 06:56] HaoYang670 opened #4271 "The type renaming `pub type NullColumnarValue = ColumnarValue` makes no sense"
**Describe the bug**
A clear and concise description of what the bug is.
https://github.com/apache/arrow-datafusion/blob/822022db88d4f70c2f02ac4d1828fc9413f3e252/datafusion/expr/src/columnar_value.rs#L61-L68

The type renaming here makes no sense to the compiler.
Users can still use `ColumnarValue::from()` or `NullColumnarValue::into_array`

**To Reproduce**
Steps to reproduce the behavior:

**Exp

[2022-11-18 07:52] waitingkuo commented on #3176
thank you @Jefffrey i think we could add some test cases later after arrow-rs new version upgraded
btw, i found the behavior for Timestamp parsing changed
it's now
[code]

[2022-11-18 09:08] #4256 closed

[2022-11-18 09:12] liukun4515 opened #4275 "optimize `limit-full join` in the limit push down rule"
I think we can also optimize `limit - FULL Join` pattern. @jackwener

_Originally posted by @liukun4515 in https://github.com/apache/arrow-datafusion/issues/4257#issuecomment-1319729561_

Now we have support the `limit-left join` and `limit-right join`, I think the `limit-full join` also can be optimized

[2022-11-18 09:42] jackwener commented on #4267
cc @andygrove @alamb @mingmwang @liukun4515

[2022-11-18 09:51] jackwener commented on #4275
We can do it after #4276

[2022-11-18 10:15] liukun4515 commented on #4275
After careful consideration, this optimization has bug.

[2022-11-18 10:15] #4275 closed

[2022-11-18 10:54] alamb commented on #4020
I plan to fix this in the next few days

[2022-11-18 12:20] thinkharderdev opened #4282 "Some valid filters are not pushed down to parquet scan"
**Describe the bug**
A clear and concise description of what the bug is.

Certain filter predicates cause an error when building the parquet predicate so the predicate does not get pushed down to the parquet scan. Since the pushdown is currently inexact, the results are still correct but we can potentially lose the performance benefit of pushing the filter down to the scan

**To Reproduce**
Steps

[2022-11-18 14:50] metesynnada opened #4285 "[Proposal] Streaming execution support roadmap"
# [Proposal] Streaming execution support roadmap

**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Adding streaming support to Datafusion and executing queries continuously on unbounded datasets is a frequent topic of discussion. Streaming is also an item [on the roadmap](https://arrow.apache.org/datafusion/contributor-guide/quarterly_roadma

[2022-11-18 16:04] alamb commented on #4267
👍 the idea of pattern matching on the way back up during rewrite rules makes lots of sense to me 👍

[2022-11-18 16:18] alamb commented on #4285
Thanks @ozankabak  and @metesynnada  -- I will review this proposal carefully over the next few days

[2022-11-18 19:40] alamb commented on #1019
I don't plan any more work on this ticket -- we can add metrics to other operators if there is a specific need

[2022-11-18 19:40] #1019 closed

[2022-11-18 20:05] #4282 closed

[2022-11-18 20:10] #4197 closed

[2022-11-18 20:27] #4271 closed

[2022-11-18 21:29] isidentical commented on #4222
Exactly! The only major distinction I see is that, these seems to be constraints only for stuff that can be inferred at the logical planning time (so no stats, only schema + the existing query) which in turn might restrict some use cases but also might be much more reliable source. I am still in the middle on how we can unify these though 🤔

[2022-11-19 02:44] mvanschellebeeck commented on #4248
Thanks @xudong963. sqllogictest-rs looks an awesome starting point!

Looks like DuckDB runs an extended version of SQLLgic tests:

### But with:

1. A port of the tests from [sql_integration](https://github.com/apache/arrow-datafusion/tree/master/datafusion/core/tests/sql)
2. And the utilisation of the **huge** set existing SQLLite sqllogictests (https://www.sqlite.org/sqllogictest/dir?ci=tip&name

[2022-11-19 03:42] liukun4515 opened #4287 "optimizer: support `unsigned <-> decimal` for unwrap_cast_in_comparion rule"
I found this with the test (which failed when it tried to invoke the arrow cast kernels for decimal <--> unsigned)

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/4149#discussion_r1020749024_

after the next arrow-rs release including the https://github.com/apache/arrow-rs/pull/3106 commit

[2022-11-19 05:05] hengfeiyang opened #4288 "Field alias can't work in where clause"
**Describe the bug**
It can't work like this:

[code]

I have the field `foo` just give it an alias `bar` then as a where clause, it will report the error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

It can work.

**Additional context**

My demo code:

[code]

[2022-11-19 06:02] jackwener commented on #4288
I will fix it.

[2022-11-19 06:28] jackwener commented on #4288
It isn't bug. `select` is after `where`.
Your sql is wrong.

[2022-11-19 07:10] liukun4515 opened #4289 "replace the operation about decimal to the arrow-rs kernel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

In the arrow-rs kernel, the decimal has been aligned with other primitive data type,

[2022-11-19 07:58] hengfeiyang commented on #4288
Okay, thanks, my bad i tested in MySQL it also can't work.

[2022-11-19 07:58] #4288 closed

[2022-11-19 10:18] alamb commented on #4285
Thank you for  https://synnada.notion.site/synnada/EPIC-Long-running-stateful-execution-support-for-unbounded-data-with-mini-batches-a416b29ae9a5438492663723dbeca805. I read it carefully this morning. It was well written -- thank you.

In summary, I think you are on the right track. DataFusion already supports a large chunk of what is needed to make a streaming query processing system. The open qu

[2022-11-19 10:21] #4103 closed

[2022-11-19 12:11] HaoYang670 commented on #4262
I've file an issue in the sqlparser to add `COMPRESSION` as a `Keyword`: https://github.com/sqlparser-rs/sqlparser-rs/issues/718

[2022-11-19 12:30] ozankabak commented on #4285
Thank you for sharing your thoughts! We will digest your points and especially think about how to decide what could/should belong to Datafusion and what not. Hopefully we (as the community) will converge on the next steps soon and get the real work started 🚀

[2022-11-19 13:02] jackwener opened #4291 "Remove Alias-in-Projection, replace it with `SubqueryAlias`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
- #3927
- #2212

**Describe the solution you'd like**
- [ ] support more subqueryAlias wrap plan
- [ ] remove Alias-in-Projection, replace it with `SubqueryAlias`
- [ ] correct rule about subqueryAlias

**Describe alternatives you've considered**
A clear and concise description of any alternat

[2022-11-19 13:53] jackwener opened #4294 "CI failed in `Compare to postgres`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-19 13:54] jackwener commented on #4294
#4277 #4293

[2022-11-20 11:50] alamb commented on #4294
Example failure:

[code]

Maybe some package was updated in the python ecosystem and we need to update the harness to keep up 🤔

@Jimexist  any ideas?

[2022-11-20 14:54] Cheappie commented on #4269
From what I see you haven't registered s3 object store, It is mentioned in error message too `No suitable object store found`

Here are examples that might help you:
https://github.com/apache/arrow-datafusion/tree/master/datafusion-examples/examples

Example that configures s3 object store
https://github.com/apache/arrow-datafusion/blob/master/datafusion-examples/examples/query-aws-s3.rs

Example

[2022-11-20 15:34] Cheappie opened #4295 "Change representation of partition in datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Please correct me if I am wrong, but from what I understand each partition from FileScanConfig (file_group) is executed sequentially. That means if there is large disproportion of work that needs to be done (e.g. part A 10 files 10MB, part B 10 files 10GB), then query will take as long as lar

[2022-11-20 17:24] TennyZhuang commented on #4248
Hi, I'm one of the maintainers in [sqllogictest-rs](https://github.com/risinglightdb/sqllogictest-rs). I'm very happy that arrow-datafusion and databend are interested in the project.

Currently, the project is only used by [risinglight](https://github.com/risinglightdb/risinglight) and [risingwave](https://github.com/risingwavelabs/risingwave), while the maintainers for these three projects overl

[2022-11-20 19:53] isidentical commented on #4294
@alamb it seems like this was caused because we do not pin setuptools (re: numpy/numpy/issues/22623). I'll send a PR shortly that includes a pin on our setuptools version as well!

[2022-11-20 20:47] alamb commented on #4294
Thank you @isidentical

[2022-11-20 20:48] #4294 closed

[2022-11-21 03:25] HaoYang670 commented on #4259
Thank you @the-mousaillon for reporting the bug. We will debug it carefully.
Also, welcome to contribute your fix to Datafusion!

[2022-11-21 07:05] ZuoTiJia opened #4297 "Panic with window function LAST_VALUE"
**Describe the bug**
Panic with window function `last_value`

**To Reproduce**
[code]