[2022-09-07 16:30] kmitchener opened #3392 "update TPC-H benchmark to Decimal types from Float"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Decimal types are correct (and didn't exist when all this nice code was written). Sh

[2022-09-07 16:33] ray-andrew commented on #2978
I have this problem as well. It's works to use this "fileld_name" as a quoted identifier.  Is there a plan to support backtick (`) for "Quoted identifier"?

[2022-09-07 18:35] kmitchener commented on #192
That would probably do it. Postgres also converts decimal literals in the sql statement to decimal types. https://stackoverflow.com/questions/68142210/what-is-the-type-of-100-0-in-postgresql

I see where to make the change (parse_sql_number() inside planner.rs), but I'm struggling trying to figure out how to turn the string input to a Decimal128 type. Can you give me some pointers?

[2022-09-07 19:01] kmitchener commented on #192
Hm, I realize now I should be converting from float to Decimal128 :)

[2022-09-07 22:23] andygrove commented on #3390
Also happens in common_sub_expression_eliminate:

[code]

[2022-09-07 23:46] #2848 closed

[2022-09-08 03:18] #3312 closed

[2022-09-08 06:26] HaoYang670 commented on #3315
I'd like to pick this to get familiar with the sql code.

[2022-09-08 09:23] liukun4515 commented on #3387
Can we fix this and https://github.com/apache/arrow-datafusion/issues/3388 together?

[2022-09-08 11:40] kmitchener opened #3394 "change SQL non-integer numeric literal type from Float64 to Decimal128"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-08 13:47] #166 closed

[2022-09-08 14:31] andygrove opened #3399 "Add documentation on querying against files in object store such as S3"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I can't see anything in the user guide or examples showing how we can connect to object stores and query data there.

**Describe the solution you'd like**
Add documentation on querying against files in object store such as S3

**Describe alternatives you've considered**
None

**Additional cont

[2022-09-08 14:52] andygrove commented on #2213
I am no longer sure if this is a good idea. Aliasing can only apply to certain operators. For example, it doesn't make sense to alias a filter operation. I am closing this for now.

[2022-09-08 14:52] #2213 closed

[2022-09-08 16:52] mingmwang opened #3400 "output_partitioning() and output_ordering() implementations are wrong in some physical plan implementations with alias"
**Describe the bug**
A clear and concise description of what the bug is.

For example, in ProjectExec, output_partitioning and output_ordering should consider Alias and translate the child input accordingly.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about th

[2022-09-08 17:13] comphead opened #3401 "Replace From trait with TryFrom trait for datafusion-proto crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Replace From trait with TryFrom trait for ArrowTypeEnum. According to https://github.com/apache/arrow-datafusion/pull/3365#discussion_r964066994

**Describe the solution you'd like**
Replace From trait with TryFrom trait for ArrowTypeEnum

**Describe alternatives you've considered**
Leave as i

[2022-09-08 17:41] kmitchener opened #3402 "add simplification for `between` expression during logical plan optimization"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Take TPC-H q6 for example.
Plan prior to simplification:
* has a strange "AND true"

[2022-09-08 19:43] #3318 closed

[2022-09-08 19:50] alamb commented on #2978
I don't know of any plans @ray-andrew  -- I think the backtick is a mysql syntax  where the postgres dialect, that DataFusion follows,  uses `"`

Here is mysql:

[code]

[2022-09-08 20:23] alamb commented on #3377
This may be more important as we move more casting to the logical plan (e.g. https://github.com/apache/arrow-datafusion/pull/3222 )

[2022-09-08 20:47] alamb commented on #3387
There is more context about this issue here: https://github.com/apache/arrow-datafusion/pull/3254#issuecomment-1239345990

[2022-09-08 20:54] alamb commented on #3214
Maybe we can teach https://docs.rs/arrow/22.0.0/arrow/datatypes/struct.Schema.html#method.project and https://docs.rs/arrow/22.0.0/arrow/record_batch/struct.RecordBatch.html#method.project about empty projections?

[2022-09-08 23:52] andygrove opened #3408 "Precedence bug with date comparison to date plus interval"
**Describe the bug**

`d3.d_date > d1.d_date + INTERVAL '5 days'` fails with `Int64 AND Boolean' can't be evaluated because there isn't a common type to coerce the types to`

`d3.d_date > (d1.d_date + INTERVAL '5 days')` works

**To Reproduce**
See above

**Expected behavior**
None

**Additional context**
None

[2022-09-09 01:57] andygrove opened #3409 "Fix conflict between simplify_expression rule and CAST expressions"
**Describe the bug**
Apologies for the vague bug report but I wanted to add this to a list tracking work I need to do.

Now that CAST no longer changes the name of expressions there seem to be some side effects with simplify_expression. I am working on a repro case.

**To Reproduce**
TBD

**Expected behavior**
TBD

**Additional context**
None

[2022-09-09 02:02] andygrove commented on #3016
This is now being tracked in https://github.com/apache/arrow-datafusion/issues/3099

[2022-09-09 02:02] #3016 closed

[2022-09-09 05:18] Dandandan commented on #3214
Thanks, I did just that yesterday, for `RecordBach::project`: https://github.com/apache/arrow-rs/pull/2691.  `Schema::project` already seems to handle empty projections just fine 🎉

[2022-09-09 07:30] mingmwang opened #3410 "Enhance TaskContext and add task failure root cause"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

In current Datafusion/Ballista plan's execution path, the error result mapping is a

[2022-09-09 08:32] mingmwang commented on #3410
@yahoNanJing

[2022-09-09 09:17] Ted-Jiang opened #3412 "support InList with datatype Date32"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-09 09:36] liukun4515 commented on #3412
Do we need the timestamp for the case?

[2022-09-09 09:39] Ted-Jiang commented on #3412
I will file another issue about the timestamp.

[2022-09-09 09:45] liukun4515 opened #3414 "pruning support cast/try_cast expr"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In many case with the filter expr like c1 < 1, the filter expr many be cast to other data type through the type coercion logic.

After the optimizer, the filter may be added the cast/try_cast expr, but it can't be pruned with statistical data

**Describe the solution you'd like**
A clear and

[2022-09-09 09:46] liukun4515 commented on #3414
This also resolve the failed case in https://github.com/apache/arrow-datafusion/pull/3396

[2022-09-09 12:27] #3402 closed

[2022-09-09 13:39] andygrove commented on #2214
There is a related PR to add support in the SQL query planner and logical plan, but does not add physical plan support: https://github.com/apache/arrow-datafusion/pull/3405

[2022-09-09 13:51] poonai commented on #2214
Excited!!. I've implemented `PhysicalExpr` with `filter` support. I'll raise an PR with relevant changes after the mentioned PR get merged.

[2022-09-09 13:54] andygrove opened #3416 "filter_push_down internal error"
**Describe the bug**
I have queries failing with:

[code]

**To Reproduce**
I do not have a repro case yet and cannot share the query

**Expected behavior**
Should not hit internal errors

**Additional context**
None

[2022-09-09 13:55] andygrove opened #3417 "scalar_subquery_to_join internal error"
**Describe the bug**

[code]

**To Reproduce**
tbd

**Expected behavior**

**Additional context**

[2022-09-09 14:02] andygrove opened #3418 "common_sub_expression_eliminate internal error"
**Describe the bug**
[code]

**To Reproduce**
tbd

**Expected behavior**

**Additional context**

[2022-09-09 14:07] andygrove commented on #3091
I think this is mostly complete now

[2022-09-09 14:07] #3091 closed

[2022-09-09 14:07] #2513 closed

[2022-09-09 14:16] andygrove opened #3419 "DataFusion coercion logic is different from Arrow's"
**Describe the bug**
Arrow's `can_cast_types` has different logic than DataFusion's `coerce_types` and this results in bugs in type coercion.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-09-09 14:34] #3099 closed

[2022-09-09 14:37] liukun4515 commented on #3419
Do we need make align the type coercion with arrow?
The cast system should not be same with arrow, because the datafusion is the SQL system and has some special semantics than the arrow lib
@andygrove

[2022-09-09 14:40] alamb opened #3420 "Support bitwise XOR operator (`#`)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
See usecase from @FauxFaux on https://github.com/apache/arrow-datafusion/issues/1619

The only remaining bitwise operator left to go is bitwise XOR (`#`) which is tracked by this ticket

**Describe the solution you'd like**
Implement  bitwise XOR operator (following the model of bitwise AND `&

[2022-09-09 14:40] alamb commented on #1619
The only bitwise operator left to support is `#` -- I filed https://github.com/apache/arrow-datafusion/issues/3420 to track that and will close this one to make the current state of DataFusion clearer.

Thanks all!

[2022-09-09 14:40] #1619 closed

[2022-09-09 14:44] liukun4515 opened #3421 "Can't get the right logical plan after optimizer"
**Describe the bug**
After the type coercion moved to logical optimizer.

The order of  optimizer rule is the `filter_push_down` is before the `TypeCoercion`, but we can't get the right logical plan

For example

[code]

[code]

[code]

The `partial_filters` was not casted to the right type, it will break the pruning for the parquet.

Why we assign this order for the optimizer rule?

@andygrove

*

[2022-09-09 14:46] #3412 closed

[2022-09-09 14:47] liukun4515 commented on #3418
Does the type coercion rule should be before there rules?

[2022-09-09 14:49] liukun4515 commented on #3416
is it related with this issue https://github.com/apache/arrow-datafusion/issues/3421?

[2022-09-09 14:57] alamb commented on #3410
I think in general the wrapping of errors is definitely not valuable

The datafusion code already tries to unwrap an ArrowError here (when converting from DataFusionError --> ArrowError)

https://github.com/apache/arrow-datafusion/blob/master/datafusion/common/src/error.rs#L209-L217

I wonder if we can do something similar in Ballista? Or maybe write some "unwrapper" that would strip out the usele

[2022-09-09 15:05] andygrove commented on #3419
I agree that there will be differences. See the conversation at https://github.com/apache/arrow-datafusion/pull/3407#discussion_r967137788 for one example where we have to work around a difference and this example is possibly due to a bug in DataFusions logic

[2022-09-09 15:41] yahoNanJing commented on #3410
Thanks Alamb, the context here is not just for displaying. Recently we are working on error handling and error recovering which is useful for distributed execution. And we hope to do error recovering for some special error case and we need to know the root cause of the error. If an error is wrapped too much, it will be very difficult to make decision of which error to recover and others not.

[2022-09-09 15:46] kmitchener opened #3424 "add datafusion-cli support of external table locations that object_store supports"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-09 15:54] alamb commented on #600
An update here is that I think DataFusion now supports this correctly, which is pretty neat. I wrote an example and I will propose adding that as a test to show how this works

[2022-09-09 16:18] andygrove commented on #3419
I updated the title and description now that I understand this more.

[2022-09-09 16:24] andygrove commented on #3421
Thanks, @liukun4515. I will look at this today or over the weekend

[2022-09-09 16:25] andygrove commented on #3421
[code]

[2022-09-09 16:51] alamb opened #3426 "Make a convenience function to register a single `RecordBatch` as a table from SessionContext"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

For testing (and those new to DataFusion) it would be very convenient to run a query against a single `RecordBatch` as a table. This can be done with [MemTable](https://docs.rs/datafusion/11.0.0/datafusion/datasource/memory/struct.MemTable.html) but it adds that much more boiler plate / cogni

[2022-09-09 17:08] alamb commented on #3426
I agree a `read_batch` would also be helpful

[2022-09-09 17:22] andygrove commented on #3097
@alamb @liukun4515 I updated the release checklist to include a few issues that are still open. I think it may be better to delay the release by a few days and get these bug fixes in, but I am also open to releasing without them and creating a new release in two weeks. What do you think?

[2022-09-09 17:43] alamb commented on #3097
I think the list of bugs looks good @andygrove  -- I will apply extra effort later today and over the weekend to reviewing / helping them move along.

I don't have any particular driver to get the release out any earlier, but I think the community should probably weigh in (as we don't currently use the released versions of datafusion in my project, IOx)

[2022-09-09 20:16] alamb commented on #3414
I think this is a dupe of https://github.com/apache/arrow-datafusion/issues/3377

[2022-09-09 20:49] alamb opened #3427 "Pass return type to the accumulator state factory in aggregates"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am working to expose "selector functions" in IOx, See https://github.com/influxdata/influxdb_iox/pull/5606 https://github.com/influxdata/influxdb_iox/issues/5528

I want to be able to call an aggregate that has different types based on its input arguments. There is sufficient flexibility in

[2022-09-09 23:52] askoa commented on #3420
I'll take a shot at this!

[2022-09-10 02:47] liukun4515 commented on #3414
Thank, I think i missing the issue in the list.
This issue are just inspired from the test case https://github.com/apache/arrow-datafusion/pull/3396

[2022-09-10 02:49] liukun4515 commented on #3097
agree with that.

I think the datafusion is not stable, and there are some bugs from type coercion migration.
We should find them and resolves them first.

[2022-09-10 07:34] liukun4515 commented on #3421
related issue https://github.com/apache/arrow-datafusion/issues/3289

[2022-09-10 07:43] liukun4515 commented on #3414
in order to make the correctness described in https://github.com/apache/arrow-datafusion/issues/3377, we should make the sure the type of value has order.

Now we will have the plan to support them:

- [ ] signed integer value and decimal
- [ ] unsigned integer value
- [ ] time type
- [ ] TODO

[2022-09-10 09:43] Dandandan opened #3431 "Evaluate expressions after type coercion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The recently added an optimizer pass that performs type coercion on the logical plan.
There is some oppurtunity to simplify the expressions as often it creates casts on constants, like:

`CAST(Int64(1) AS Float32)`

This could be evaluated to:
`Float32(1.0)`

Simplifying the plan and leaving m

[2022-09-10 09:59] alamb commented on #3410
That is a neat usecase and it makes sense.

Arrow and DataFusion don't have very specific errors (unlike some other rust crate where the specific error call site often has its own unique variant). This makes coding easier as there is less error machinery to maintain, but it makes distinguishing between errors potentially more challenging -- All you have is the handful of variants and a message.

A

[2022-09-10 10:40] #3315 closed

[2022-09-10 11:20] heyGrant opened #3433 "How to read excel file with datafusion?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
want to know how to read excel from datafusion, didn't find a demo for this.

[2022-09-10 11:24] Dandandan commented on #2355
I added https://github.com/apache/arrow-datafusion/issues/3431 to the list.

[2022-09-10 11:45] askoa opened #3434 "Include Bitwise operators in the documentation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The current documentation does not include Bitwise operators: BitwiseAnd, BitwiseOr and BitwiseXor.

https://github.com/apache/arrow-datafusion/pull/3430#pullrequestreview-1103116948

**Describe the solution you'd like**
Update the document to include the three Bitwise operators.

[2022-09-10 12:02] alamb commented on #3433
Hi @heyGrant  -- I don't think we have any way to do that now. Maybe you could save excel as CSV and then read the CSV?

[2022-09-10 12:16] heyGrant commented on #3433
Thanks, Alamb.

[2022-09-10 12:16] #3433 closed

[2022-09-10 12:39] kmitchener opened #3435 "update TPCH test schemas to use Decimal128 from Float"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The TPCH benchmark was updated to use Decimal128 instead of Float in #3393, so the r

[2022-09-10 14:19] #3401 closed

[2022-09-10 15:30] yahoNanJing commented on #3410
It would be very helpful for error recovering. @mingmwang, what do you think?

[2022-09-10 15:50] kmitchener opened #3437 "panic at `attempt to multiply with overflow` when doing math on Decimal128 columns"
**Describe the bug**
A clear and concise description of what the bug is.

When changing the TPC-H tests to use Decimals, getting panics with this error:
[code]
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

See #3393 for additional example

[2022-09-10 15:58] kmitchener commented on #3437
When fixed, pls un-ignore test tpch_q17_correlated() in core/tests/sql/subqueries.rs

[2022-09-10 19:40] isidentical commented on #3283
Aside from the point @avantgardnerio shared (regarding how new optimizations could be uncovered after different passes, which I would think deserves its own issue), the problem here might be a little bit different.

Something particular I noticed was that, when `datafusion.execution.coalesce_batches` is set to `false` this issue does not appear (the plan works perfectly fine). So this feels like a

[2022-09-10 19:52] milenkovicm commented on #1570
An idea to brainstorm this feature. https://github.com/apache/arrow-datafusion/compare/master...milenkovicm:arrow-datafusion:spill_aggregation_to_mmap has a POC code which uses a memory mapped file as the aggregation store, which should spill to disc in case of memory pressure.

This solution is just a prototype, far from perfect, and good chance it is not fit for purpose.

The main change is that

[2022-09-11 01:01] liukun4515 opened #3442 "support more data type in prune for cast/try_cast"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

follow up issue of https://github.com/apache/arrow-datafusion/issues/3414

https://g

[2022-09-11 05:07] #600 closed

[2022-09-11 11:56] #3420 closed

[2022-09-11 16:09] kmitchener opened #3446 "support `cast` inside `values`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-11 17:03] iajoiner commented on #3414
On it.

[2022-09-11 17:35] kmitchener opened #3448 "support scientific notation for SQL literals"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-11 17:52] iajoiner commented on #3097
@andygrove  @alamb  https://github.com/apache/arrow-datafusion/issues/3383
Shall this one also be resolved before 12?

[2022-09-11 21:07] #331 closed

[2022-09-12 03:03] Ted-Jiang opened #3449 "Support timestamp data type in In_list node"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-12 10:36] tustvold commented on #3332
FWIW I use CLion with generated code without issue, the trick is to run the build once, and then "Refresh Cargo Projects". You need to run the build first in order to actually generate the code

[2022-09-12 10:37] alamb commented on #3097
@iajoiner  I think it would be great to get https://github.com/apache/arrow-datafusion/issues/3383 resolved. However, since it is a test issue (rather than some issue with the underlying code) it is my opinion that it wouldn't hold up the release and we could release 12.0.0 even if https://github.com/apache/arrow-datafusion/issues/3383 were still open

[2022-09-12 10:47] tustvold commented on #2205
DataFusion is now using the async parquet interface, which automatically handles buffering, and so this can be closed

[2022-09-12 10:47] #2205 closed

[2022-09-12 11:31] alamb commented on #237
I think we have implemented most of the suggestions in this issue -- I am not sure if it is tracking anything actionable anymore

[2022-09-12 11:35] alamb commented on #3283
Yes, we should file a ticket to discuss this -- I'll try if no one else beats me to it

I have worked on systems in the past where the order was hard coded. Someone I know from the spark team says it runs until it reaches a "fixed point" (aka until running it doesn't change the plans). I think this is also an interesting question the context of constant evaluation /  expression simplification

[2022-09-12 12:32] #3427 closed

[2022-09-12 13:11] #3434 closed

[2022-09-12 13:13] #3435 closed

[2022-09-12 15:55] #3446 closed

[2022-09-12 16:52] andygrove commented on #3097
@alamb @liukun4515 I reviewed https://github.com/apache/arrow-datafusion/issues/3421, and it is not a new regression - there is no change from the behavior in 11.0.0, so I don't think that this is something that should be holding up the release. I added notes to that issue.

The other issues that we were working on related to this (https://github.com/apache/arrow-datafusion/issues/3289 and https:/

[2022-09-12 17:06] alamb commented on #3421
If there is no regression I agree this issue shouldn't hold up the release (we can fix it as part of the next release)

[2022-09-12 17:40] #3377 closed

[2022-09-12 18:04] #3283 closed

[2022-09-12 18:19] #3383 closed

[2022-09-12 19:29] #3431 closed

[2022-09-12 20:09] #3449 closed

[2022-09-12 23:43] thinkharderdev opened #3456 "Support using offset index in `ParquetRecordBatchStream` when pushing down `RowFilter`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

With https://github.com/apache/arrow-rs/pull/2552/files, using the offset index to p

[2022-09-12 23:47] thinkharderdev opened #3457 "Add benchmarks for parquet queries with filter pushdown enabled"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

We should add benchmarks for queries on parquet data with filter pushdown enabled (s

[2022-09-13 05:42] liukun4515 commented on #3421
Because in the 11.0.0, the type coercion is in the physical phase, in the logical phase we don't do type coercion.

But after the migration type coercion from physical phase to logical phase, we will get a different expr between the `filter op` and `table scan, partial_filters`.

[2022-09-13 06:41] liukun4515 commented on #3414
it is mentioned in the #3442

I will close this issue

[2022-09-13 06:41] #3414 closed

[2022-09-13 07:03] Dandandan commented on #3421
Instead of reordering the rules, I think type coercion should be applied to the `partial_filters` as well (any expression in the logical plan).

[2022-09-13 08:00] liukun4515 commented on #3421
agree, but i have checked the `partial_filters` in the type coercion.

I'am also confused why the `partial_filters` was not affected when run the type coercion.

[2022-09-13 08:02] liukun4515 commented on #3421
I find the code below:
[code]

The filter expr is not belong to the table scan

@Dandandan

[2022-09-13 08:11] Dandandan commented on #3421
Seems that is a bug in `expressions`, I think it has to return the expressions in `partial_filter`

[2022-09-13 08:29] liukun4515 commented on #3421
I can try it in follow-up pr. In this pr, I just change the position of the `type coercion` rule.

[2022-09-13 10:29] milenkovicm opened #3460 "Row Hash loads whole aggregation state to memory before sending"
**Describe the bug**

Row Hash aggregation, loads whole aggregation state to memory before sending a single batch downstream. The resulting record batch will have more rows than predefined batch size

problematic part of code https://github.com/milenkovicm/arrow-datafusion/blob/17f069df4227b837cf2741a545c39a8b68d5fd76/datafusion/core/src/physical_plan/aggregates/row_hash.rs#L438
where iterator wit

[2022-09-13 10:40] alamb opened #3462 "[EPIC] Parquet filter pushdown"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion offers sophisticated "filter pushdown" optimizations into `LogicalPlan::TableScan` by passing predicates into TableProvider::scan.

This ticket tracks the work to make use of these predicates in the table provider for parquet files, [`ParquetFileReader`](https://github.com/apache/ar

[2022-09-13 10:46] alamb opened #3463 "Enable parquet filter pushdown by default"

[2022-09-13 10:46] alamb opened #3464 "Write a blog about parquet predicate pushdown"
I think it would be super valuable to write a blog post about all the work from @thinkharderdev  @Ted-Jiang, @tustvold  and others to make reading from parquet in DataFusion very fast

I have gathered a list of items on https://github.com/apache/arrow-datafusion/issues/3462 which will perhaps spark some thoughts / ideas.

[2022-09-13 11:05] #3421 closed

[2022-09-13 11:05] #3289 closed

[2022-09-13 11:07] alamb commented on #1570
I will try and review this sometime later today.

[2022-09-13 11:09] tustvold commented on #3464
I made a bit of a start on collecting some data for this. In particular I created something to allow generating parquet files for use in some test benchmarks [here](https://github.com/tustvold/access-log-gen).

The basic idea was to show the performance of a selection of relatively simple queries across datafusion-cli and compare it to some other systems like duckdb, trino, polars, spark, etc... H

[2022-09-13 11:33] milenkovicm commented on #1570
thanks @alamb,

just a follow up with some numbers

running a simple query on 10M distinct keys and 50M records total (each key has 5 records) (` /usr/bin/time -l ./bench_10m`)

with this change:

[code]

without change:

[code]

[2022-09-13 13:21] alamb commented on #3410
Yes I agree care would be needed in various cases. I am not opposed to adding information to the TaskContext -- perhaps we can brainstorm additional improvements to errors / error handling as a follow on project. I know @tustvold has some ideas in https://github.com/apache/arrow-rs/pull/2711 etc so maybe it would be part of a broader ecosystem improvment

[2022-09-13 13:32] tustvold commented on #3410
Calling tokio::spawn without doing anything with the join handle is not a good idea, not only will you potentially silently drop errors, as you elude to, but more problematically you will miss panics. This has been a frequent pain point, see the work by @crepererum to fix this https://github.com/apache/arrow-datafusion/pulls?q=is%3Apr+is%3Aclosed+author%3Acrepererum. Longer term I'm hoping to move

[2022-09-13 13:53] crepererum commented on #3410
It's not only about error handling though but also about task cancellation. Esp. in a server application, it's good to stop a query from running when the original request is cancelled. Uncaptured task handles will prevent this from happening, since tokio will still drive the execution.

[2022-09-13 16:59] alamb opened #3465 "Add a nicer way to register user defined aggregates for use in SQL"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We implement user defined aggregates in IOx called "selector functions" -- to make them visible to SQL we need to add them to the `SessionState::aggregate_functions` map

We use the same pattern as here:
https://github.com/apache/arrow-datafusion/blob/447141c/datafusion/core/tests/user_define

[2022-09-13 17:24] thinkharderdev opened #3466 "Make `datafusion::physical_plan::file_format::file_strean::FileStream` public"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

`datafusion::physical_plan::file_format::file_strean::FileStream` is currently only

[2022-09-13 19:09] alamb commented on #3464
I agree -- this would be a great start

[2022-09-13 19:13] alamb commented on #3410
Yes, this is what I really want out of errors in DataFusion and Arrow

[2022-09-13 19:14] gandronchik opened #3467 "Union columns with different types"
**Describe the bug**
You can union columns with different types. And it crashes if we order by this column

**To Reproduce**
it is just strange behavior:
`select 1 a union all select 'a';`
[code]

it should work, however since 1 is an integer and 1.1 is a decimal, it crashes:
`select 1 a union all select 1.1 order by 1;`

**Additional context**
Physical Sort Node does concat and it crashes. Looks

[2022-09-13 19:16] #3360 closed

[2022-09-13 19:19] gandronchik commented on #3467
@alamb I am going to fix this problem. Is it fine if I will implement autocast for numeric types in UnionExec? Or you see better way?

[2022-09-13 19:38] alamb commented on #3467
I think the appropriate code to call would be "coerce" (as in the types of the union should be coerced to a common type). There is already code to do that for other similar operations (like `InList`, etc)

[2022-09-13 19:47] alamb commented on #1570
Thanks for the info @milenkovicm

In general I think database systems tend to try and shy away from using mmap for spilling operations, for the reasons very clearly articulated in "Are You Sure You Want to Use MMAP in Your Database Management System?" https://db.cs.cmu.edu/mmap-cidr2022/

I think the current state of the art / best practice for dealing with grouping when the hashtable doesn't fit

[2022-09-13 20:42] milenkovicm commented on #1570
thanks @alamb,
your comment makes perfect sense, I can't disagree with you. As I said in my comment approach is not without its problems and shortcomings. This solution is quite simple and it is question if there is a speed from simplicity :)

Would you have any design doc regarding merge group by and re-merge which you can share?

[2022-09-13 21:05] milenkovicm commented on #1570
I'd be interested, to prove you wrong about your approach 😂 (kidding)
can't really commit on timeframe

thanks @alamb

[2022-09-13 22:02] liukun4515 opened #3468 "move type coercion for inlist from physical phase to logical phase"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

when do https://github.com/apache/arrow-datafusion/pull/3396, the `prune_decimal_in_

[2022-09-14 01:08] liukun4515 opened #3469 "The data type of predicate in the row filter should be same in the binary expr"
@alamb @thinkharderdev
I find a issue caused by this rewrite in my work https://github.com/apache/arrow-datafusion/pull/3396
if we have two parquet, one has c1,c2, the other has c1,c3.
If the filter is c2 = 1, then it will produce a expr  NULL = 1 for the parquet with c1,c3 column.
After I remove the binary type coercion in the physical phase, the binary physical expr of `NULL = INT(1)` can't be c

[2022-09-14 01:16] liukun4515 commented on #3469
why not build the `build_row_filter` from the `phy expr`?

[2022-09-14 01:54] liukun4515 commented on #3469
If the table schema is c1,c2,c3, the file schema is c1,c3 with filter c2 = lit.

Why not push the `predicate = false` to the parquet file directly to replace the c2 = NULL

[2022-09-14 02:16] liukun4515 commented on #3467
@gandronchik
This is an error in the data type or type coercion which is not supported in the union.
You can follow the inlist or the binary type coercion do this in the union, we can help you to review the pr.

But now we are doing the migration the type coercion to logical phase https://github.com/apache/arrow-datafusion/issues/3388

[2022-09-14 02:17] liukun4515 commented on #3388
support the inlist type coercion in the logical phase https://github.com/apache/arrow-datafusion/issues/3468

[2022-09-14 10:51] Ted-Jiang opened #3476 "Support `columns_sorted` in row_filters"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now
[code]
I think we can set true with one col with pageIndex set ordered. 🤔

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2022-09-14 11:17] gandronchik commented on #3467
@liukun4515 Got it. I will implement it in logical plan then

[2022-09-14 12:08] liukun4515 commented on #3467
you can check this pr https://github.com/apache/arrow-datafusion/pull/3472

[2022-09-14 12:32] alamb commented on #3410
Filed https://github.com/apache/arrow-rs/issues/2725 to discuss better error handling in arrow (and thus also datafusion and ballista)

[2022-09-14 12:48] kmitchener opened #3478 "add support for casting string to decimal"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-14 12:51] kmitchener opened #3479 "coercion between decimal and other types lacking, compared to other numeric types"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
From test sql::expr::binary_mathematical_operator_with_null_lt
[code]

or (from the "test_string_concat_operator" test):
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

It should work like floats do:
[code]

[code]

**Additional

[2022-09-14 12:55] kmitchener opened #3480 "[EPIC] change SQL numeric literals from float to decimal"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-14 13:45] kmitchener opened #3481 "some aggregate functions don't accept decimal numeric types"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

All these tests fail when given decimal inputs:
[code]
with errors similar to
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Not sure yet :)

**Additional context**
Add any other context about the problem here.

[2022-09-14 15:04] #3468 closed

[2022-09-14 17:52] #1516 closed

[2022-09-14 18:31] alamb commented on #1570
😆  sounds good -- I will try and write up something in the coming days to start a discussion

[2022-09-14 19:36] alamb commented on #3469
seems like a reasonable thing to me

[2022-09-14 19:38] kmitchener opened #3487 "comparison operations with a scalar null and decimal array panics"
**Describe the bug**
A clear and concise description of what the bug is.

This test fails when given decimals instead of floats:'sql::expr::comparisons_with_null_lt' with error

[code]

**To Reproduce**
Steps to reproduce the behavior:

You can reproduce with the following:
[code]

but interestingly, the scalar / scalar version of that work fine:
[code]

**Expected behavior**
A clear and concise d

[2022-09-14 20:14] waitingkuo commented on #3148
@alamb  @avantgardnerio i just finished

1. Add timestamp but not timestamp with timezone
2. Hard code the server "local" time zone to always be UTC, such that show time zone always returns UTC and set time zone 'UTC' is the only set command that will not produce an error

i'm just starting the work for `timestamp with timezone`, things become trickier now

postgresql has this
<https://www.postgre

[2022-09-14 20:32] Dandandan commented on #237
Yes I agree, this is done 🚀. Closing this issue

[2022-09-14 20:34] #237 closed

[2022-09-14 20:34] #188 closed

[2022-09-14 22:48] askoa opened #3489 "Make `from_proto_binary_op` public"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The function `from_proto_binary_op` converts `string` to `Operator`. This function is required by downstream arrow-ballista and currently duplicated in that project. So whenever a new operator is included, the function `from_proto_binary_op` should be updated in both arrow-datafusion and arrow

[2022-09-15 00:17] liukun4515 commented on #3478
about the cast, you can refer the  https://github.com/apache/arrow-rs/issues/1043  https://github.com/apache/arrow-datafusion/issues/1443

we don't support the cast/try_cast from decimal to utf8 or utf8 to decimal

you can implement this in the arrow-rs kernel about the cast.
@kmitchener

[2022-09-15 00:21] liukun4515 commented on #3479
The `NULL` in the SQL syntax is associated with the `DataType::NULL`.
Now we don't support NULL data type with decimal data type yet.

But I think it is easy to support them.

I can help you to implement this.

@kmitchener

[2022-09-15 00:23] liukun4515 commented on #3479
For `select 'a' || 1.1::decimal;` I think this should be support through the casting from decimal to utf8 https://github.com/apache/arrow-datafusion/issues/3478

[2022-09-15 00:46] liukun4515 opened #3491 "centralize the type coercion code for InList rule"
Do we need a common function in a new file like `in_list_rule.rs` to do the `coerce_types`?
cc @alamb @andygrove

_Originally posted by @liukun4515 in https://github.com/apache/arrow-datafusion/pull/3472#discussion_r970347546_

[2022-09-15 00:55] liukun4515 opened #3492 "Do't throw the error when projected columns are not in the table schema"
In the case where the table has projected columns (like in `parquet_multiple_partitions` where we project columns from the hive partition directory structure) then the projected columns are not in the table schema.

If the predicate contains any such projected columns then we ignore it anyway. So I think this change is fine but with the one adjustment that we don't return an error. So maybe

[code

[2022-09-15 00:56] #3469 closed

[2022-09-15 00:59] liukun4515 commented on #3469
cc @thinkharderdev

[2022-09-15 01:44] #3489 closed

[2022-09-15 09:49] waynexia opened #3494 "Exclude input plan's execution time from `elapsed_compute` statistic"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Baseline metrics have an `elapsed_compute` timer that counts the CPU time of one physical plan. It should not include the time that polling from inputs.

**Describe the solution you'd like**

I find these plans have the issue:
- `CoalesceBatchesExec`
- `SortMergeJoinExec`

I'll move the timer

[2022-09-15 11:43] askoa opened #3495 "Add BitwiseXor in function `from_proto_binary_op`"
**Describe the bug**
The function `from_proto_binary_op` that converts `string` to `Operator` is missing BitwiseXor

**To Reproduce**
Steps to reproduce the behavior: Call the function `from_proto_binary_op` with parameter `BitwiseXor`.

**Expected behavior**
BitwiseXor should be added to the function.

**Additional context**

[2022-09-15 12:40] alamb commented on #3469
I think the more general flow here is to take a predicate like `c2 = lit` and a schema of `c1`, `c3` and replace `c2` with `NULL` -- which is what the code changed in https://github.com/apache/arrow-datafusion/pull/3470 is.

Then the predicate is `NULL = lit` which can be reduced to `false` if we run the constant evaluator on it

[2022-09-15 12:43] #3495 closed

[2022-09-15 12:52] xudong963 commented on #2859
@sadilet  Hi, https://github.com/apache/arrow-datafusion/pull/3482 there is a related PR.

[2022-09-15 13:22] heyGrant opened #3497 "what's the best practice to get a single value from arrow array?"
code first as below:
(you can skip and see the bottom codes about how to get a single value, it's my way, but I don't like it.)

[code]

so many steps to get  a single value from this array. is there a simple way to do that? who can help me?

[2022-09-15 13:46] alamb opened #3498 "Dividing decimal type gives wrong error: "170141183460469231731687303715884105727 is too large to store in a Decimal128"
**Describe the bug**
Dividing by Decimal value by zero results in

[code]

[code]
**To Reproduce**
See above (divide a decimal number by zero)

**Expected behavior**
I expect an `DivideByZero` error:

[code]

**Additional context**
Found while working on https://github.com/apache/arrow-datafusion/pull/3483

I am pretty sure the problem is in

[code]

Specifically, using floating point math to divi

[2022-09-15 15:22] mpurins-coralogix opened #3499 "In some circumstances cast expression is not working"
**Describe the bug**
When executing following query field in results has integer datatype instead of string.
`SELECT cast(c as varchar) FROM (SELECT 1 as c)`

**To Reproduce**
Pickup this commit -- https://github.com/coralogix/arrow-datafusion/commit/f5c0fc0ffa56ea9ea02fba60171031bb20a5e7f4
Run `cast_failure` test.

**Expected behavior**
I would expect that such test is passing, but currently it f

[2022-09-15 16:45] andygrove opened #3500 "Allow configs to be set with string values"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In Ballista, I have key-value pairs for configs that I would like to pass along to DataFusion. However, ifI set configs this way and then DataFusion calls `get_u64` or `get_bool`, it will ignore the config because it has the wrong type.

**Describe the solution you'd like**
I would like to be

[2022-09-15 17:04] #3255 closed

[2022-09-15 17:08] alamb commented on #3148
I think it would be ok to align the functions with postgres as long as there is some clear way to get the current behavior as well (e.g. the query needs to be tweaked or something)

[2022-09-15 17:19] avantgardnerio commented on #3255
Nice work @waitingkuo , thank you!!

[2022-09-15 18:52] andygrove opened #3501 "Release datafusion-cli 12.0.0 on Homebrew"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We should publish datafusion-cli 12.0.0 on Homebrew

**Describe the solution you'd like**
I would like someone to help with this as I ran into issues last time I tried this

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-09-15 18:59] jonmmease opened #3502 "Add extra DATE_PART units that are already supported in arrow-rs"
The following PostgreSQL `DATE_PART` units are already supported by arrow-rs kernels, and should be straightforward to add to DataFusion:
 - `quarter`: The quarter of the year (1 - 4)
 - `doy`: The day of the year (1 - 365/366)
 - `dow`: The day of the week (0 - 6; Sunday is 0)

See https://www.postgresql.org/docs/8.1/functions-datetime.html

PR to follow

[2022-09-15 21:58] iajoiner commented on #3501
@andygrove I will do it manually this time and next time I will write a script to do it automatically. What this requires is really editing of a single file and filing a PR.

[2022-09-15 22:09] iajoiner commented on #3501
https://github.com/Homebrew/homebrew-core/pull/110829

[2022-09-16 00:07] HaoYang670 opened #3505 "What should be returned when trying to get a config in invalid format?"
**Describe the bug**
Currently, when we get a config in invalid format, a default value will be returned. I'm not sure whether this is user-friendly.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Personally, I'd like the Datafusion to give some more precise information, for example returning `None` or an error message.

**Additional context**
This is related to #

[2022-09-16 00:08] Jimexist commented on #3501
the `brew` command should come with a bump pr command that helps you do this

[2022-09-16 01:29] iajoiner opened #3506 "Automate the pushing of releases to Homebrew"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The release to Homebrew needs to be automated

**Describe the solution you'd like**

[2022-09-16 02:21] #3497 closed

[2022-09-16 05:46] timvw commented on #3501
Current PR will only download the source code. I
I would expect that the datafusion-cli binary is installed and made available instead...

WDYT @andygrove ?

[2022-09-16 06:15] liukun4515 opened #3509 "support the type coercion for `like` `unlike` `istrue` `isfalse` `isunknown`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

block this issue: https://github.com/apache/arrow-datafusion/issues/3388

- [ ] IsNo

[2022-09-16 09:01] gandronchik commented on #3467
Why did you decide to do coercion in optimizators? At least in case with union I think it is better to do it directly in union building function

[code]

[2022-09-16 10:31] metesynnada opened #3511 "Comparison of different ScalarValue types produces the silent errors"
**Describe the bug**

`PartialOrd` implementation of `ScalarValue` types gives `None` for different types and it is automatically cast to `false`. I think this is the wrong behavior and introduces silent errors.

**To Reproduce**

Below test code shows the error

[code]

**Expected behavior**

I expected comparison to be true, however comparison `(ScalarValue::Float32(Some(2.0)) < ScalarValue::Int

[2022-09-16 11:08] kmitchener commented on #3498
I'm trying to learn the decimal implementation details, let me take a shot at this.

[2022-09-16 14:03] #3502 closed

[2022-09-16 14:21] Dandandan opened #3515 "Support Top-K query optimization for `ORDER BY <EXPR> [ASC"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As explained by @alamb in the user defined plan:

//!
//! A "Top K" node is a common query optimization which is used for
//! queries such as "find the top 3 customers by revenue". The
//! (simplified) SQL for such a query might be:
//!
//! ```sql
//! CREATE EXTERNAL TABLE sales(customer_id VA

[2022-09-16 14:25] Dandandan opened #3516 "Support Top-K query optimization for `ORDER BY <EXPR> [ASC|DESC] LIMIT n`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As explained by @alamb in the user defined plan:

 A "Top K" node is a common query optimization which is used for
 queries such as "find the top 3 customers by revenue". The
(simplified) SQL for such a query might be:
[code]

[code]

 will note it fully sorts the input before discarding every

[2022-09-16 14:35] #3515 closed

[2022-09-16 14:36] xudong963 commented on #3516
Min heap is a reasonable data struct to solve the issue.

[2022-09-16 15:03] Dandandan opened #3518 "Improve performance of `regex_replace`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently by far the worst performing query in ClickBench for datafusion is query 28:

[code]

It seems this is due too `REGEXP_REPLACE` in this query.

**Describe the solution you'd like**
Introduce a benchmark and improve the performance of `REGEXP_REPLACE` (with a scalar) in DataFusion.

**

[2022-09-16 15:19] iajoiner commented on #3501
@andygrove I think this can be closed since the update is complete haha.

[2022-09-16 17:13] kmitchener opened #3520 "handling overflow for the integer types"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-16 18:14] alamb commented on #3498
FWIW @kmitchener  -- I would love to move the decimal compute kernels to arrow-rs (and out of datafusion). I think they were originally implemented in datafusion for convenience as we (well mostly @liukun4515 ) worked to do the initial implementation

I think moving them now would be appropriate (especially if we could add them to the various `dyn` kernels)

[2022-09-16 18:20] alamb commented on #3515
Dupe of https://github.com/apache/arrow-datafusion/issues/3516

[2022-09-16 18:22] alamb commented on #3516
The TopK operator can also be parallelized the same way as a multi-stage grouping

Like run `TopK` on each of the input DataFusion partitions, Union them all together, and then do a TopK on the final plan

[2022-09-16 18:37] #3466 closed

[2022-09-16 19:12] kmitchener commented on #3498
Yeah, I see TODOs sprinkled all over about moving it to arrow-rs. :) Makes complete sense, but I think I'm not up to such a huge task yet. However, I think I can do some bug-fixing and add tests to DF while I'm learning about this implementation, then maybe move, or help move the implementation over to arrow-rs after I have a better idea what's going on.

[2022-09-16 19:23] alamb commented on #361
For anyone following this, a window frame query looks like this (the `ROWS BETWEEN 2 PRECEDING AND 0 FOLLOWING`)

[code]

Which results in an error
[code]

[2022-09-16 19:24] alamb commented on #361
It appears there is some work afoot to support this in https://github.com/synnada-ai/arrow-datafusion/pull/1

[2022-09-16 20:37] kmitchener opened #3521 "decimal division gives wrong answer"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

Note also that the return type is correctly Decimal, it's just giving wrong results because it's using float internally to do the division.
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

This should return 10.1 and null

[2022-09-16 23:03] turbo1912 commented on #1930
@matthewmturner any progress on this one? If you are not working on it still, I would like to take a stab at it

[2022-09-16 23:03] turbo1912 commented on #3424
Hi @kmitchener, did some digging on this issue and looks like there is some prior thinking on this. Most specifically [this issue](https://github.com/apache/arrow-datafusion/issues/1930).

[2022-09-16 23:43] kmitchener commented on #3424
@turbo1912 yes, and the object_store is new since then as well. Also, @timvw has just today published some cookbooks regarding object_store and s3 that may help with this: https://github.com/datafusion-contrib/datafusion-cookbook

If you want to give it a shot, go for it!

[2022-09-16 23:57] seddonm1 commented on #1930
I think this repo is largely deprecated in favour of https://github.com/apache/arrow-rs/tree/master/object_store

[2022-09-17 00:05] matthewmturner commented on #1930
Haven't been able to work on this, go for it!

[2022-09-17 06:59] liukun4515 commented on #3520
@kmitchener @alamb @andygrove
I think this is an issue about behavior when overflow.
We can do more investigation about this, and decide the behavior by default.
We also can change the behavior with the config or option.

[2022-09-17 07:23] liukun4515 commented on #3498
Yes, I think it's time to move the operation about the decimal to the arrow-rs kernel.

I will do this in the next sprint. I think we may meet some issue about the decimal type in the arrow-rs talked
https://github.com/apache/arrow-rs/issues/2387#issuecomment-1233293594
https://github.com/apache/arrow-rs/issues/2637

I think we can resolve them.

[2022-09-17 07:35] liukun4515 opened #3523 "[EPIC] Add Decimal support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I have implemented the feature about decimal in the datafusion. But didn't take care

[2022-09-17 07:36] liukun4515 commented on #3498
I think this bug is caused by using the f32 or f64 to do the `divide/multiply` operation.

Because the intermediate result will be overflow when do the agg.

I will try to do investigation and to resolve them, and find the reasonable behavior.

@alamb @kmitchener

I have listed a issue to collect the issue about decimal and TODO work.

[2022-09-17 07:51] liukun4515 commented on #3523
cc @liukun4515 @kmitchener

[2022-09-17 07:56] liukun4515 commented on #3467
Yes, agree with you.

The type coercion should be done in the analyse phase, because of the codebase we can do this in the right place.

We do the type coercion in the physical phase when creating the physical expr.

cc @alamb @andygrove

[2022-09-17 10:17] timvw commented on #3424
More inspiration can be found in https://github.com/datafusion-contrib/datafusion-catalogprovider-glue where we take info from the metastore to register external tables...

[2022-09-17 10:46] #3498 closed

[2022-09-17 10:51] alamb commented on #3520
I don't have a huge preference -- when in doubt I think we have tried to follow the postgres semantics, for consistency.

In terms of checking for overflows, etc I would also say we should try and avoid slowing things down too much, if possible

[2022-09-17 10:52] alamb commented on #3520
I think those proposals are very reasonable

[2022-09-17 10:54] alamb commented on #3498
Sorry @liukun4515  -- I didn't see your comment before I merged https://github.com/apache/arrow-datafusion/pull/3517 -- I am happy to back it out or make other changes if needed.

[2022-09-17 10:55] alamb commented on #3498
This is great news -- thanks @liukun4515

It may take some time to get the kernels into arrow, but I think the process will likely work out some of the corner cases we have left in datafusion for a while

[2022-09-17 11:08] kmitchener commented on #3523
Thanks @liukun4515. It's all the issues listed in #3480 as well:

* #3437
* #3479

Per other discussions, I'd like to help here. I think the general plan should be something like:

* stabilize and add tests
* move the decimal implementation code to arrow-rs
* have the discussion about Decimal128/256 implementation that's going on arrow-rs and agree on path forward for implementation details
* mean

[2022-09-17 11:21] alamb opened #3524 "Consolidate optimizer passes in optimizer module for better testing"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Thinking about the comments from @avantgardnerio  on https://github.com/apache/arrow-datafusion/pull/3482/files#r972435250 if/when we want to try rearranging the optimizer passes, we need some way to observe the effect on an overall plan.

Conveniently @andygrove added a test framework for doi

[2022-09-17 14:33] kmitchener commented on #3523
Hm, I see the situation in arrow-rs is complicated re decimals and I want to retract all opinions at this time. :)

[2022-09-17 14:51] liukun4515 commented on #3498
don't need to back it out.
this pr solves the issue `divide zero error` before move the decimal operation to the arrow-rs kernel.

[2022-09-18 03:01] comphead commented on #3170
@alamb it appears we have 2 code bases for supporting arrays:
- built in scalar function that drives `make_array(x, y)` function
- sql planner that drives `array[x, y]` or `[x, y]` constructions.

All those constructions do the same work, but they can be out of sync like now. do we need to support all 2 branches?

[2022-09-18 07:22] ozankabak commented on #361
Yes, we plan to submit a PR draft early next week that makes progress on this issue. We hope to resolve it fully once we get community feedback.

[2022-09-18 11:53] Dandandan commented on #3516
I think there are two

* parallelizing `order by` followed by `limit n`:

Currently a plan looks like the following

[code]

I think we should be translating it to:

[code]
Already with the current implementation we should be able to rewrite it to:

[code]

[2022-09-18 11:57] alamb commented on #3516
I agree this would help performance. However, it will become irrelevant if/when we implement a real TopK operator

[2022-09-18 12:20] Dandandan commented on #3516
I imagine a similar optimization is still useful with a TopK operator. The example TopK operator in the tests still works only a single partition and can't run in parallel. I think you'll still need a "nested" TopK operator similar to the above plan to achieve the parallelization. So at the moment there is a TopK operator, we can change it to utilize this.

Of course the TopK operator will use way

[2022-09-18 14:00] Dandandan opened #3526 "Execute sorts in parallel when limit is used after sort"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently sorts always requires the input partitioning to be 1, thus first merging the input partitions and doing sorting on one partitions.

We can use the SortPreservingMergeExec to execute sorts in parallel and merge them afterwards.

As mentioned in https://github.com/apache/arrow-datafusi

[2022-09-18 14:45] alamb commented on #3516
@Dandandan -- I had not thought of the "parallel sorts with limit" as a good intermediate state -- you are exactly right and that makes perfect sense

[2022-09-18 19:37] Dandandan opened #3528 "Push limit to sort"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We can use the availability of a `Limit` to speed up sorts in DataFusion:

**Describe the solution you'd like**
We can start utilizing the limit in different places:
*  lexsort_to_indices supports a `limit` argument - this argument can be filled (if limit is smaller than batch size)
* a `Local

[2022-09-19 02:41] liukun4515 commented on #3523
Hi @kmitchener

I think we can resolve the arithmetic operation for decimal128 data type in this sprint, I will do this and move the operation to the arrow-rs.

At the same time, I will fix the issue about decimal in datafusion. From the bug issue list, I think the most issue about decimal operation in the datafusion are about the `divide` arithmetic operation.

And other issue is about feature, l

[2022-09-19 02:44] liukun4515 commented on #3523
@kmitchener  if the casting feature is important for you, it's great to add it in the arrow-rs kernel.

[2022-09-19 09:53] Dandandan commented on #3516
After playing with it a bit more, I think this issue boils down to pushing a limit to `SortPreservingMergeStream` and using it there to only keep top N items instead of keeping the full sorted output.

[2022-09-19 11:03] alamb commented on #3031
@liukun4515  I wonder if this ticket is now complete?

[2022-09-19 12:48] #3526 closed

[2022-09-19 13:24] alamb opened #3531 "DataFusion serialization doesn't handle `ScalarValue::Dictionary, Binary, LargeBinary, Time64, IntervalMonthDayNano, Struct`"
**Describe the bug**

While updating to the latest and greatest DataFusion pin in IOx (https://github.com/influxdata/influxdb_iox/pull/5672) I got the following error:
[code]
I think the issue is that now more data type casting is done as part of logical planning (https://github.com/apache/arrow-datafusion/pull/3396) the types of some constants (`ScalarValue`s ) have been coerced to the correct ty

[2022-09-19 13:24] alamb commented on #3531
I will fix this

[2022-09-19 20:49] alamb commented on #3505
I agree getting an Error or None would be better

[2022-09-19 20:50] andygrove opened #3538 "`docs.rs` cannot build `datafusion-proto` crate"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-09-19 20:51] andygrove commented on #3538
@avantgardnerio @alamb This is one side-effect of the recent change to generate protobuf into the `src` directory. I don't have a strong opinion on how much of an issue this is, although it would be nice to have docs.

[2022-09-19 21:40] avantgardnerio commented on #3538
@andygrove do you have a link to the build in question? The error message isn't sufficient in and of itself, but I feel like this is fixable.

[2022-09-19 21:49] #3467 closed

[2022-09-19 21:53] alamb commented on #3523
@kmitchener  I have seen two basic patterns for this:
1. Make a PR that pins to a arrow-rs git revision and complete the changes you want (and this basically leaves the PR as a draft for a while). Example: https://github.com/apache/arrow-datafusion/pull/3386
2. Make a "wrapper" / "adapter" function for the arrow one, adding whatever new special logic is needed and calling into the arrow kernel if

[2022-09-19 22:44] kmitchener opened #3539 "long-term stored benchmark performance"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

More of a question than a feature request -- I'm wondering if there are plans for ru

[2022-09-19 23:19] HaoYang670 commented on #1613
At least, should rename this function, so that developers would not misuse this and `DataType::is_numeric`.

[2022-09-20 11:19] liukun4515 commented on #3520
Like cast, if we convert a value to another type which is overflow, the default result is NULL.

For the mathematical operations, we should add the option for that.

I think the two behavior is ok, but we should make them consistent.

@kmitchener

In the spark, If we don't set the special parameter, spark will not throw the error, and just return the wrapping value.

You can try it.

the doc ref i

[2022-09-20 11:22] liukun4515 commented on #3031
There are some follow-up optimization tasks.
I will list them and then close this pr.

[2022-09-20 13:11] #3528 closed

[2022-09-20 13:39] alamb commented on #3520
An option to control the behavior also seems reasonable to be (though I suspect it would add some non trivial complexity to the implementation, so perhaps we can only do this if/when a user has a compelling usecase 🤔 )

[2022-09-20 14:01] Dandandan opened #3544 "Use `fetch` limit in `get_sorted_iter`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As @alamb suggested https://github.com/apache/arrow-datafusion/pull/3530#discussion_r975362476 we can provide the `fetch` limit as well, reducing some of the work in the sort operator and the following `SortPreservingMergeExec`.

**Describe the solution you'd like**
Wire up `fetch` to `lexsort

[2022-09-20 16:17] andygrove opened #3546 "Aggregate filters do not get pushed down to table scan"
**Describe the bug**
Aggregate filters do not get pushed down to table scan. This results in invalid query plans. In this example, the column `user_id` has not been pushed down to the table scan.

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the pr

[2022-09-20 18:10] #3546 closed

[2022-09-20 18:34] #78 closed

[2022-09-20 18:34] #2859 closed

[2022-09-20 18:49] thinkharderdev opened #3550 "Make `ParquetScanOptions` public and expose a reference to the scan options from `ParquetExec`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

For ballista to properly serialize execution plans, it needs to serialize the `Parqu

[2022-09-20 19:47] #3550 closed

[2022-09-20 20:29] DhamoPS opened #3554 "Clean-up the planner logic for moving join predicates from filters in sql/planner.rs which is moved to optimizer rule reduce_cross_join."
PR#3482
Thank you @DhamoPS -- I reviewed the tests carefully and they look very good 👌 I think if we add a few more showing this PR works with some more complicated `OR` predicates and with more than 2 tables it would be ready to merge.

Thank you @avantgardnerio  for your thorough review

I went over the code a bit, and it also looks quite reasonable. I left a few comments but they are all stylis

[2022-09-20 22:23] andygrove commented on #3538
https://docs.rs/crate/datafusion-proto/12.0.0

[2022-09-20 22:25] andygrove commented on #3539
I think that would be good. I did some work on this but did not get through the work of actually hooking this up.

[2022-09-20 22:26] andygrove commented on #3524
Thanks @alamb. I had been intending to do some work in this direction as well. I think this sounds great.

[2022-09-20 22:27] andygrove commented on #3501
Thanks @iajoiner

[2022-09-20 22:27] #3501 closed

[2022-09-20 23:16] avantgardnerio commented on #3538
Got it, so https://docs.rs/crate/datafusion-proto/12.0.0/builds/630103

[2022-09-20 23:28] avantgardnerio commented on #3538
This looks broken because the source directory is closed to a readonly file system https://docs.rs/about/builds#read-only-directories

But should be fixable using conditional compilation flags https://docs.rs/about/builds#cross-compiling

[2022-09-21 00:15] thinkharderdev opened #3555 "Broken logical plan serialization for aggregation queries"
**Describe the bug**
A clear and concise description of what the bug is.

Some aggregation plans will fail to deserialize. This is caused by a rewrite done by the `TypeCoercion` optimizer.

**To Reproduce**
Steps to reproduce the behavior:

[code]

This fails with
[code]

The problem is there is a projection after this which projects the original expression name. Typically this doesn't matter sinc

[2022-09-21 00:17] thinkharderdev commented on #3555
@andygrove

[2022-09-21 01:43] #3509 closed

[2022-09-21 04:19] HaoYang670 commented on #2439
Could we close this issue?

[2022-09-21 05:50] liukun4515 opened #3556 "simplify_expressions don't support different data type for binary"
**Describe the bug**
A clear and concise description of what the bug is.

in the test case `select_distinct_from`

Run the test case, we will meet the error for optimizer:

[code]

In the optimizer we should these rules about type coercion first, and then do other optimization.
And the simplify expression should not depend on physical expr

**To Reproduce**
Steps to reproduce the behavior:

**Expe

[2022-09-21 06:19] liukun4515 commented on #3556
In the logical phase, we implement the expr simplify with the helper of the physical expr.

cc @alamb

[2022-09-21 06:29] liukun4515 commented on #3556
block this pr https://github.com/apache/arrow-datafusion/pull/3396

[2022-09-21 06:30] liukun4515 commented on #3556
I find many test cases meet this issue:
[code]

If I remove the type coercion from the physical expr.

[2022-09-21 06:30] liukun4515 commented on #3556
Now I will reassign the optimizer rule, the `TypeCoercion` should be the first rule in the optimizer.

[2022-09-21 08:09] liukun4515 opened #3557 "Support type coercion for subquery"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

When I do https://github.com/apache/arrow-datafusion/pull/3396, the `type coercion`

[2022-09-21 08:45] liukun4515 opened #3565 "ReduceOuterJoin optimizer support `cast or try_cast` expr."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

In the join test `reduce_left_join_1`

[code]

the below sql will be convert to the

[2022-09-21 10:53] liukun4515 opened #3568 "make the header not changed when do optimization"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

In thist pr https://github.com/apache/arrow-datafusion/pull/3444

we provide a discu

[2022-09-21 10:58] Dandandan commented on #3568
Also see #279 #280 for extra context and a proposed implementation

[2022-09-21 11:15] HaoYang670 opened #3569 "`StringConcat` gives inconsistent result with `concat` when containing `null`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The two queries should return the same result.
In Spark, string_concat always return null when there is `null` element: (on Spark3.3.0)
[code]

**Additional context**
Add any other context about the problem here.

[2022-09-21 13:00] mustafasrepo opened #3571 "Hardcoded u64 for WindowFrameBound fields"
# Hardcoded u64 for WindowFrameBound fields

**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`WindowFrameBound` enum takes `Option<u64>` for `Preceding` and `Following` fields. When we run the below query in datafusion (valid in POSTGRESQL).

[code]

it produces error below.

[code]

**Describe the solution you'd like**

Instead of `Option

[2022-09-21 13:24] metesynnada opened #3572 "Decimal128 support for statistical aggregations"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Inside `Accumulator` implementation of  `VarianceAccumulator` (and many others like `CovarianceAccumulator`) `update_batch` method casts every datatype into `Float64Array` by default. This makes statistical aggregations unsupported for `Decimal128Array`.

**Describe the solution you'd like**
S

[2022-09-21 13:37] kmitchener commented on #3572
There's a similar issue here -> #3481. I'd like to support the same, for PG compatibility, and as a stepping stone toward handling SQL literals as decimals rather than floats.

[2022-09-21 14:08] mustafasrepo opened #3573 "Multiple ORDER BY is not supported for RANGE with UNBOUNDED PRECEDING/FOLLOWING"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`RANGE` with offset `PRECEDING/FOLLOWING` requires exactly one `ORDER BY` column. However, when we enter `UNBOUNDED` offset to both sides, It should accept multiple ORDER BY columns. When I run the query below  using datafusion,

[code]

the planner gives the error below.

[code]

**Describe

[2022-09-21 14:35] liukun4515 commented on #3572
I can help to review it in the agg function.

[2022-09-21 14:38] liukun4515 commented on #3568
when are we going to merge or review them？ @Dandandan

[2022-09-21 15:25] Dandandan commented on #3568
I think the PR is outdated. I think someone (you maybe?) can look at the changes and update the tests so it can be reviewed again 👍

[2022-09-21 16:17] alamb commented on #3555
cc @liukun4515

[2022-09-21 17:04] alamb commented on #3556
@liukun4515  I wonder if we could make type coercion part of "simplify_expressions" 🤔  that way it would always be called at the appropriate time 🤔

[2022-09-21 17:07] #3544 closed

[2022-09-21 17:18] alamb commented on #2439
I just tried this file with @kesavkolla 's example using `datafusion-cli` and it does appear to run without error now:

[code]

so closing as complete

[2022-09-21 17:18] #2439 closed

[2022-09-21 17:22] alamb commented on #3170
I am sorry for the delay in response. The short answer is I don't really know what the desired / correct behavior is here -- I think `array[]` syntax is from postgres and `make_array()` (formerly `array()`) is from Spark

[2022-09-21 17:22] Dandandan commented on #3516
So it seems we *mostly* have the benefits of a TopK operator now by pushing down the limit to individual operations.

There are a couple of followups possible (will create some tickets for them and close this one):

* Avoiding spilling to disk by reinserting the to-spill data to a memory buffer
* Use limit in `SortPreserveMergeExec`
* Keeping memory under control by merging buffered batches once i

[2022-09-21 17:48] kmitchener commented on #3523
@liukun4515 I'll submit a couple PRs to move the decimal kernels to arrow-rs. I have the code moved locally and it's mostly working -- enough that I'm confident I can complete it.

[2022-09-21 18:08] AssHero opened #3577 "extract or clause as predicate for join rels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

examine OR clause for join to see if any useful clauses can be extracted and push down.
the new clause as join rel's predicate will filter more rows before join.

for such query:
select * from test, test1 where (test.a = test1.c and test.b > 1) or (test.b = test1.d and test.c < 10);

current

[2022-09-21 19:02] Dandandan opened #3579 "Avoiding spilling in TopK queries by reinserting the to-spill data to memory buffer"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We recently added optimizations for `ORDER BY expr LIMIT` by pushing limits to individual operations (saving memory, CPU time + limiting output rows) and executing sorts in parallel.

The disk spill operation in `SortExec` currently still assumes the to-spill disk doesn't fit in memory.
Howeve

[2022-09-21 21:00] #3555 closed

[2022-09-21 21:17] #3097 closed

[2022-09-21 22:37] comphead commented on #3500
Hi @andygrove, reg to your config comment https://github.com/apache/arrow-datafusion/pull/3522#issuecomment-1252865493

We refused to introduce automatic cast in `get_bool`, `get_u64`.
`I would like to be able to pass string for any config and have DataFusion convert to the correct type.` -> this sounds like automatic cast still needed?

[2022-09-22 02:27] liukun4515 opened #3582 "move the type coercion out of the optimizer and refactor the optimizer"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When I do this pr https://github.com/apache/arrow-datafusion/pull/3396/files#
I am stuck by many issue about the type in the optimizer framework.

**In other SQL or database system, the data type coercion should be done before any optimization.**

But we do it in the physical phase, after the

[2022-09-22 02:33] liukun4515 opened #3583 "Can't push down projection after do type coercion"
**Describe the bug**

in this https://github.com/apache/arrow-datafusion/pull/3396 pr, I remove the type coercion in the physical phase.

We need do the type coercion in the logical phase as much as early.

But after do the type coercion, there is some bugs for this.

For example: test case `tpch_explain_q10`

the `ProjectionPushDown` will not work for this test case.

I add some log to debug this

[2022-09-22 02:37] liukun4515 commented on #3582
I meet the issue

- [ ] https://github.com/apache/arrow-datafusion/issues/3583
- [ ] https://github.com/apache/arrow-datafusion/issues/3565
- [ ] https://github.com/apache/arrow-datafusion/issues/3568
- [ ] https://github.com/apache/arrow-datafusion/issues/3557
- [ ] https://github.com/apache/arrow-datafusion/issues/3556

[2022-09-22 02:43] liukun4515 commented on #3583
It's related to https://github.com/apache/arrow-datafusion/issues/3555 and fixed by a special path in the type coercion

I think this fix is not grace, we can do it better.

[2022-09-22 02:47] liukun4515 commented on #3523
I think it is not easy work to move the decimal operation to arrow-rs.
We can not do the comparation and arithmetic operation based on the I128, we should support the decimal256 also.
I try it in my local, it works.
But We need do more work to make it grace, there are some pr about decimal in the arrow-rs you can take a look it.

[2022-09-22 02:53] liukun4515 commented on #3556
I think it is not a good way do this.

`simplify_expressions` rule can be called many times, but the `type_coercion` just can do only once.

We should do the `type_coercion` before all operation and optimization.

I think it is most important: the right data type system is the base of the all things
I submit a issue to talk about this thing https://github.com/apache/arrow-datafusion/issues/3582

@

[2022-09-22 03:01] AssHero commented on #3565
I'll try to handle this case.

[2022-09-22 06:39] liukun4515 commented on #3565
Thanks @AssHero
I find a way to bypass it first.

[2022-09-22 09:49] HaoYang670 commented on #3569
Oh, I see in the postgresql, `concat` will ignore `null` but `||` won't: https://www.postgresqltutorial.com/postgresql-string-functions/postgresql-concat-function/
This is a little weird. @alamb should we follow the behavior of Spark or Postgresql?

[2022-09-22 10:27] liukun4515 opened #3585 "make type coercion simple and remove the evaluate logic"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

@Dandandan do the optimization in this https://github.com/apache/arrow-datafusion/pu

[2022-09-22 10:27] liukun4515 commented on #3585
This issue is done in the https://github.com/apache/arrow-datafusion/pull/3396

[2022-09-22 10:38] Ted-Jiang commented on #3456
working on

[2022-09-22 10:49] #3487 closed

[2022-09-22 10:57] #2902 closed

[2022-09-22 10:58] alamb commented on #3097
🎉

[2022-09-22 11:01] #3479 closed

[2022-09-22 11:05] alamb commented on #3582
I agree that type coercion doesn't really belong in an "optimizer" as it actually changes the meaning of the exprs (on purpose) where the other optimzier passes are supposed to keep the meaning of the plan the same, but make it faster in some way.

I recommend  changing the code to explicitly run the type coercion logic immediately prior to running any other optimization passes. I also think the t

[2022-09-22 11:07] Dandandan commented on #3582
I agree - the type coercion should be a mandatory pass that is done after planning.

[2022-09-22 11:20] liukun4515 opened #3587 "simplify between expr should consider the data type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

the three exprs `expr1 between  expr2 and expr3` should have the same data type or can be converted to the same data type.

In this pr, we remove the type coercion in the physical phase.

The below rule in the `simplify_expression.rs` should can be done when the type of `expr,low,high` is sam

[2022-09-22 11:47] Ted-Jiang commented on #3456
@thinkharderdev If you not starting this one, could you plz  assign this to me?

[2022-09-22 12:45] liukun4515 commented on #3582
You got it.

[2022-09-22 13:51] crc-sstubbs opened #3589 "register_csv allow space in table_path"
**Describe the bug**
table_path when using:
[code]
does not support spaces in path.

**To Reproduce**
[code]

**Expected behavior**
function to work as it does for paths without spaces.

[2022-09-22 14:04] thinkharderdev commented on #3456
@Ted-Jiang It's all yours :)

[2022-09-22 16:21] #3505 closed

[2022-09-22 16:40] comphead commented on #3170
Yes, we can support all 3 of them. My concern there are 2 different codebases, and no easy way to find a common denominator for them. I can make all 3 functions works the same way, but in future those codebases can be out of sync again, leading `make_array` works differently comparing to `array` or `[]`.

[2022-09-22 16:45] kmitchener commented on #1590
@liukun4515 this can be closed, right? proper comparison of decimal128 seems to be implemented and it's not converting to float64.

https://github.com/apache/arrow-rs/blob/master/arrow/src/util/decimal.rs#L163

[2022-09-22 17:22] andygrove commented on #3582
Spark has an Analysis phase that runs before the optimizer. Maybe we can learn from their model. Within the analysis phase, they have a number of type coercion rules that they run:

[code]

[2022-09-22 17:56] alamb commented on #3170
🤔

[2022-09-22 18:14] kmitchener commented on #3523
@liukun4515 @alamb Here are the 2 PRs. The one for arrow-rs is ready for review. The one for DF will remain in draft until arrow-rs 24 is released.

https://github.com/apache/arrow-rs/pull/2770
https://github.com/apache/arrow-datafusion/pull/3590

If/once https://github.com/apache/arrow-rs/pull/2770 is merged in, I'll update the DF PR to use git revs.

[2022-09-22 21:09] andygrove opened #3591 "Configure `cargo fmt` for consistent formatting of imports"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Our imports are very inconsistent and are not currently formatted by `cargo fmt` other than reordering within groups.

**Describe the solution you'd like**

I would like to add a `rustfmt.toml` with these settings:

[code]

Here is an example of imports formatted with this settings:

[code]

T

[2022-09-22 21:56] isidentical commented on #3579
I've been looking into this and noticed that there are currently two places where this needs to be handled (and from what I've understood, they are actually separate optimizations).

The first place is what you mentioned in this issue, which is during the spill process we sort everything we have and limit the actual output (which would mean that if we have 10 in-memory batches of limit 50, and if

[2022-09-23 01:55] yahoNanJing opened #3594 "Allow ObjectStoreProvider to return None (return Result<Option> rather than Result)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It's better to allow the ObjectStoreProvider to return None. Related to https://github.com/apache/arrow-ballista/pull/258

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-23 05:08] doki23 commented on #3569
I prefer the pg-like style because it provides more options for users.

[2022-09-23 06:34] Dandandan commented on #3579
Great find and analysis @isidentical!

I assumed it was already tracking the correct size of the reduced batch. Could you create a new issue for this "memory tracking bug"?

[2022-09-23 07:39] isidentical opened #3596 "Prevent over-allocation (and spills) on TopK queries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
During sorting, when we receive a new record batch we try to allocate space for it. This is done with the assumption that the result of this sort will still be around, and we don't want to accidentally overflow the memory so we have to keep track of it. But after the https://github.com/apache/

[2022-09-23 07:40] isidentical commented on #3579
@Dandandan definitely! I've created #3596 for it.

[2022-09-23 07:59] isidentical opened #3597 "New clippy errors appears to be break the CI on the master"
**Describe the bug**
Seems like there are a few places in the codebase where clippy now starts to be noticing problems, and it is making lint checks fail across all new PRs (and the master)

The new lint errors looks reasonable to me, so we should be able to fix all three by removing the closures.
[code]

[2022-09-23 09:08] #3597 closed

[2022-09-23 10:14] alamb commented on #3556
Upon consideration I agree with your assessment that combining type coercion and simplify_expressions is not a good idea. Thank you for filing https://github.com/apache/arrow-datafusion/issues/3582

[2022-09-23 12:24] liukun4515 commented on #3582
Yes, I think we can follow other database or sql system.

But It's long way to go and refactor.

My plan is to do some refactor, and make good base for the next big refactor like the spark or other system.

[2022-09-23 12:26] alamb commented on #3582
Sounds like a great plan to me

[2022-09-23 12:27] liukun4515 commented on #3556
If community think the refactor or https://github.com/apache/arrow-datafusion/issues/3582 is on the right/good path, I can do them next.

[2022-09-23 12:45] liukun4515 commented on #3556
But in the pr https://github.com/apache/arrow-datafusion/pull/3396, I follow your comments temporarily.
We should remove the type coercion from the physical phase first.

[2022-09-23 13:08] HaoYang670 commented on #3569
Thank you, @doki23 @alamb. This makes sense and I will close this issue.

[2022-09-23 13:08] #3569 closed

[2022-09-23 19:28] #3424 closed

[2022-09-24 00:04] HaoYang670 opened #3599 "[EPIC] Optimize the `CONCAT` expression in logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some ideas I think we can have a try, and all of them are related to scalar:
- [x] #3683
- [x] #3856
- [x] #3607
- [x] #3857
- [ ] #17158

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A c

[2022-09-24 06:36] Licht-T opened #3601 "`s3_build_error` test may fail in some environments"
**Describe the bug**
Regarding https://github.com/apache/arrow-datafusion/pull/3540, `s3_build_error` test fails in some environments. This test may run while `s3_success` test sets `AWS_DEFAULT_REGION` environmental variable.

**To Reproduce**
Run tests in Ubuntu 22.04.
[code]

**Expected behavior**
All tests pass.

**Additional context**
N/A

[2022-09-24 11:51] #3388 closed

[2022-09-24 11:52] #3426 closed

[2022-09-24 12:36] #3601 closed

[2022-09-24 16:36] #3596 closed

[2022-09-24 16:51] andygrove opened #3604 "Add `base_config()` accessor function for `NsJsonExec`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to produce visual query plans in Ballista and this exec does not allow me to access the file scan config. The other file scan execs do.

**Describe the solution you'd like**
Add this method - see ParquetExec for example

**Describe alternatives you've considered**

**Additional con

[2022-09-24 18:15] andygrove opened #3605 "Add OctoSQL to list of systems powered by DataFusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/cube2222/octosql

[2022-09-24 18:21] andygrove commented on #3605
oops, misread the HN comment - this does not use DF

[2022-09-24 18:21] #3605 closed

[2022-09-24 19:02] Dandandan opened #3606 "Support dot graph in explain (analyze)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We support converting a logical plan to a dot language graph (.dot) - I believe Ballista also supports it (by @andygrove ?) It would be great to support this as format for `explain analyze`

**Describe the solution you'd like**
Return the .dot graph output when giving the `FORMAT DOT` as optio

[2022-09-25 10:12] HaoYang670 opened #3607 "Simplify `CONCAT_WS(NULL, ..)` to `NULL`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is a subtask of #3599.
When the separator in the `concat_ws` expression is `null`, the value is always null.
So we can do this simplification.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A c

[2022-09-25 11:22] alamb commented on #3606
There is already a code to make `graphviz` format here: https://github.com/apache/arrow-datafusion/blob/81b57948778cfa485d8b3f2c1fe4485f3966e8e4/datafusion/expr/src/logical_plan/plan.rs#L604-L633

It might be kind of old / out of date, so might need to be updated

Perhaps we could add some new configuration option like "show_graphviz_during_explain" whihc if true would also output the graphviz out

[2022-09-25 11:24] alamb opened #3609 "Account for memory used in SortKeyCursor by row format (spilling Sort)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As noted by @yjshen  in https://github.com/apache/arrow-datafusion/pull/3386/files#r966573456, https://github.com/apache/arrow-datafusion/pull/3386 switches DataFusion to use a faster comparison method, but does not update the used memory calculation.

**Describe the solution you'd like**
We n

[2022-09-25 12:23] alamb opened #3611 "Possibly run datafusion tests under MIRI"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[MIRI](https://github.com/rust-lang/miri) is a memory checker for rust , something like valgrind

DataFusion at some point in the far distant past ran MIRI to ensure there was no undefined behavior. However, it was broken and removed in https://github.com/apache/arrow-datafusion/pull/3610

**D

[2022-09-25 12:25] alamb commented on #3589
Thanks @crc-sstubbs  -- I think this would make a good first issue for someone who wanted to learn some of the datafusion codebase

[2022-09-25 12:29] alamb commented on #3604
Not sure if this is helpful: https://github.com/apache/arrow-datafusion/blob/81b57948778cfa485d8b3f2c1fe4485f3966e8e4/datafusion/expr/src/logical_plan/plan.rs#L604-L633

https://docs.rs/datafusion/12.0.0/datafusion/logical_plan/enum.LogicalPlan.html#method.display_graphviz

[2022-09-25 13:35] Dandandan commented on #3606
My plan is to use the presto syntax

`EXPLAIN [ANALYZE] [FORMAT GRAPHVIZ|JSON|TEXT]`

to control the output, which should default to TEXT (current output).

[2022-09-25 13:35] Dandandan commented on #3606
Added a PR for the syntax in here https://github.com/sqlparser-rs/sqlparser-rs/pull/621

[2022-09-25 15:38] isidentical opened #3613 "Optimize regex_replace with a known pattern / replacement"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently `regex_replace` assumes that even the scalars for pattern/replacement are arrays (since they've been cast that way). This is making each call `regex_replace` pay a significant overhead since instead of iterating through only the variadic fields (e.g. the source string), we iterate th

[2022-09-25 15:42] isidentical commented on #3518
I definitely agree that there is a lot of room for improvement. Was playing with a couple of ideas, and especially for the second point you've mentioned I think it might be a decent-ish gain by itself. Took the liberty of creating a separate issue describing the approach, #3613 FYI. Maybe we can treat this one as the meta issue.

[2022-09-26 00:05] HaoYang670 opened #3615 "` col / col` returns `1` when `col = 0`"
**Describe the bug**
A clear and concise description of what the bug is.
The expression `col / col` always returns 1 even if `col = 0`

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

`col / col` should return `null` when `col` = 0

**Additional context**
Add any other context about the problem here.

[2022-09-26 06:21] kesavkolla opened #3617 "Feature request for support for struct and arry data types"
datafusion doesn't support all possible data types the arrow supports. What is the roadmap for supporting for structs, lists etc...? It would be good to support some pushdowns to the complex data to arrow.

[2022-09-26 10:11] mingmwang opened #3618 "[Question] Does DataFusion has a way to know the logical plan and physical plan is deterministic or not ?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-09-26 11:19] #3607 closed

[2022-09-26 17:53] kmitchener commented on #1871
This was resolved when we switched the CREATE TABLE / CREATE EXTERNAL TABLE commands to return empty dataframes. Can't reproduce this issue anymore. Can we close it?

[2022-09-26 21:18] andygrove commented on #3618
I think this should be possible to support, but it depends on exactly what is meant by deterministic here. Here are some initial thoughts on this.

- We would need a way to know if a function is deterministic or not (for example, we could be filtering on `where x > rand()`). I'm unsure if we already know that and would have to check.
- Order of rows is usually not deterministic in distributed syst

[2022-09-26 21:21] andygrove commented on #3606
@Dandandan Since you asked, I have a PR open against Ballista related to DOT graphs - https://github.com/apache/arrow-ballista/pull/242. Feel free to review if you like. I would love to get this merged soon.

[2022-09-26 21:22] andygrove commented on #3615
Nice find!

[2022-09-27 01:25] #3594 closed

[2022-09-27 03:01] liukun4515 opened #3622 "change rule of `PreCastLitInComparisonExpressions` to unwrap cast rule after #3582"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

after this https://github.com/apache/arrow-datafusion/issues/3582 merged, the type c

[2022-09-27 03:21] liukun4515 opened #3623 "remove type coercion for agg"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

For the agg function, we do the type coercion in the physical phase in the `create_a

[2022-09-27 04:21] liukun4515 commented on #3557
I debug the test case, and find the reason.
In the type coercion, we don't handle the subquery expr and sub query plan.
Below this is log
[code]

I think the rewrite could handle the sub query plan.
Do you have any comments for that? @andygrove  I know you have implemented the subquery.

[2022-09-27 05:18] liukun4515 commented on #3557
I debug the test case, and find the reason.
In the type coercion, we don't handle the subquery expr and sub query plan.
Below this is log
[code]

I think the rewrite could handle the sub query plan.
Do you have any comments for that? @andygrove  I know you have implemented the subquery.

[2022-09-27 06:32] #3613 closed

[2022-09-27 07:57] HaoYang670 opened #3624 "The expression `col(a) / null` is not optimized."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
On datafusion-cli:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

The expression `col(a) / null` should be optimized to `null`

**Additional context**
Add any other context about the problem here.

[2022-09-27 08:00] HaoYang670 commented on #3624
Sorry, my mistake.

[2022-09-27 08:12] liukun4515 commented on #3557
I meet the issue when i want to do the type coercion in the sub query.

[2022-09-27 08:43] HaoYang670 commented on #3615
Should we remove the simplification `A / A -> 1`? https://github.com/apache/arrow-datafusion/blob/master/datafusion/optimizer/src/simplify_expressions.rs#L758-L763. I'm not sure if this would cause performance regression

[2022-09-27 09:10] Dandandan commented on #3557
I think you are right - the subquery needs to be visited / type coerced as well.

[2022-09-27 09:21] liukun4515 commented on #3557
we use the `ExprRewritable` framework to rewrite the expr and implement the type coercion function, but the sub query plan will not be handle in the `ExprRewritable` framework.

Do you have any suggestion or thoughts?
@Dandandan

[2022-09-27 09:36] HaoYang670 opened #3626 "Simplify `A * 0` and `A * null`."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Add the following simplification rules:
-  `forall A:Expr: A * null --> null`
- `for

[2022-09-27 10:43] Dandandan opened #3628 "Add support Range partitioning"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In order to support parallel sort (or distributed sort in Ballista) we need to implement range partitioning.

**Describe the solution you'd like**
We should support partitioning by range.
A range is a vector of buckets (for example 0, 100, 200, 400, 600, 1000) combined with a expression.
The r

[2022-09-27 12:55] alamb commented on #3606
I'll try and get a sqlparser-rs release out in the next day or two

[2022-09-27 13:18] kmitchener opened #3629 "manual repartitioning overridden by physical optimizer"
**Describe the bug**

Using dataframe.repartition() function doesn't work as expected.

**To Reproduce**
Using the tpch bin from benchmarks, convert the .tbl (csv) files to Parquet format using the "partitions" option:

[code]

That should have produced 4 parquet files per table, but instead created 20 (this laptop has 20 cores).

**Expected behavior**

Expected it to produce

**Additional context

[2022-09-27 13:20] mkmik commented on #3606
There are many visualizers that can process the postgres explain JSON format  (e.g. https://github.com/dalibo/pev2 or https://github.com/mgartner/pg_flame)

[2022-09-27 13:20] HaoYang670 opened #3630 "The datafusion-cli panics when `union` 2 table with different number of columns."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
We should return a `Result` will more precise error message

**Additional context**
Add any other context about the problem here.

[2022-09-27 19:07] Dandandan commented on #3629
I am not sure if it's a bug in the planner.

After `repartition` a `write` is used - between those the planner is free to add changes as the write doesn't require any input partition - in fact, repartitioning (to 20) might improve the write performance (although now there are some unnecessary repartitions).

There are a couple of options I think to solve this:

* Using the `target_partitions` conf

[2022-09-27 19:45] kmitchener commented on #3629
In this particular case of the tpch binary, if you leave the default partitions setting at 1, the physical plan is _just_ the `CsvExec` node and it results in 1 file. (it's coming from 1 CSV file, so output partitions is just 1, resulting in a single file being written by write_parquet())

Based on this usage of Dataframe.repartition() and Andy's suggestion to use repartition() in this same way in

[2022-09-27 20:48] kmitchener commented on #3629
So the use case I'm thinking of is something like this:
* get a single large CSV file, read it in
* run some transformations on it (simple cleaning/trim/reformatting of timestamps/adding other columns/data type casting, etc)
* write output to parquet file, where I can control the number of files being created

In this case, we want to leave `target_partitions` to default so it uses all cores for p

[2022-09-27 23:36] HaoYang670 opened #3632 "`INTERSECT` and `EXCEPT` don't return an error when 2 sets have the different number of columns"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
We should return an error, which is the behaviour in the Postgresql: https://onecompiler.com/postgresql/3yhau7n8a

**Additional context**
Add any other context about the problem here

[2022-09-28 00:10] andygrove opened #3633 "Cannot query some parquet files in S3, but they work locally"
**Describe the bug**
I am trying to query parquet files in S3 from the CLI. Some work, and some do not.

**To Reproduce**

[code]

However, if I download the file locally it works.

[code]

[code]

**Expected behavior**
Should work

**Additional context**
None

[2022-09-28 00:30] andygrove opened #3634 "Cannot query S3 paths containing whitespace"
**Describe the bug**

I cannot register a path containing a space.

[code]

It works if I change the path to not have spaces:

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-09-28 00:36] andygrove commented on #3633
If I move the file into my own bucket then I can query it, so this seems to be an issue with authentication.

[2022-09-28 03:00] mingmwang commented on #2175
There are other downsides with Trait/Trait Objects, we can not use pattern-matching and destructuring with Trait Objects. Pattern-matching and destructuring are the most important feature of FP and they are valuable for optimizer rules implementation.

https://stackoverflow.com/questions/26126683/how-to-match-trait-implementors

[2022-09-28 05:54] liukun4515 opened #3635 "after type coercion `CommonSubexprEliminate` will produce invalid projection"
**Describe the bug**

after do this pr with moving the type coercion to the beginning for the optimizer, the `CommonSubexprEliminate` will generate the invalid projection

maybe like https://github.com/apache/arrow-datafusion/issues/2907

I think many of the optimizer rule didn't take care of the `cast/try_cast` for the type coercion.

**To Reproduce**
Steps to reproduce the behavior:

**Expected

[2022-09-28 06:00] liukun4515 commented on #3635
cc @andygrove

[2022-09-28 06:00] liukun4515 commented on #3635
Do you have time to take a look this issue?

[2022-09-28 06:09] liukun4515 commented on #3565
@AssHero Do you have plan to do this recently?

[2022-09-28 09:41] #3456 closed

[2022-09-28 11:00] alamb commented on #2175
If I was going to change the style of Expr, LogicalPlan and ExecutionPlan I would make ExectionPlan an enum for the reasons that @mingmwang  explain, and have one variant that allowed for extension:

[code]

Similar to `LogicalPlan::Extension`: https://github.com/apache/arrow-datafusion/blob/81b5794/datafusion/expr/src/logical_plan/plan.rs#L101-L102

[2022-09-28 11:08] mingmwang commented on #2175
@thinkharderdev @yahoNanJing @Dandandan @andygrove

[2022-09-28 13:49] paddyhoran opened #3639 "LEFT JOIN not working as expected, error message is confusing"
**Describe the bug**
I am trying to get a very basic LEFT JOIN to work and I cannot.

**To Reproduce**
I may be mistaken (new to SQL) but I believe this SQL should work:
[code]

**Additional context**
Also, the error message seems to list all fields as members of the `t2` table:
[code]

I ran into this with views but could reproduce with tables and I am using datafusion-cli version `12.0.0` on Mac

[2022-09-28 13:56] Dandandan commented on #3639
`left join t1 t2` ? Creates an alias `t2` for `t1`. Is this what you meant? What if you remove the `t2`?

[2022-09-28 14:06] avantgardnerio opened #3640 "Unable to register tables in non-cloud S3 servers"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In DataFusion, it appears there are S3 implementations for common cloud providers: AWS, Azure, GCP, etc. These implementations assume cloud-provider-specific things like REGION and default port. When trying to register a table at an arbitrary address in minio, it fails:

[code]

**Describe th

[2022-09-28 14:11] avantgardnerio commented on #3640
Note: it looks like it may be possible with the correct [environment variables configured](https://github.com/apache/arrow-rs/blob/7639f28dceb7397a235f3e32dc60fe6ba1fa90da/object_store/src/aws/mod.rs#L423). If so, then maybe this issue is just a documentation request.

[2022-09-28 14:17] paddyhoran commented on #3639
Ah so it's just my lack of SQL experience...  Looks like `select * from t2 left join t1 on t2.aa = t1.a` is what I need.

I was going off of `select * from x left join x y ON x.column_1 = y.column_2;` from [this](https://arrow.apache.org/datafusion/user-guide/sql/select.html#left-outer-join) example.

Thanks very much.

[2022-09-28 14:18] #3639 closed

[2022-09-28 14:36] avantgardnerio commented on #3640
It appears from [this PR](https://github.com/apache/arrow-datafusion/pull/3631) that the bucket name needs to be compiled into Rust. I'll file another issue for making this dynamic at runtime, which is what will be required for our use-case / Ballista support.

[2022-09-28 14:36] avantgardnerio commented on #3640
CC @andygrove

[2022-09-28 14:43] #3630 closed

[2022-09-28 15:24] Licht-T opened #3641 "Compressed CSV/JSON Read"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Some data are placed with a compression, e.g., GZip, BZip2. In order to read them with DataFusion, we need to decompress them first.

**Describe the solution you'd like**
Make DataFusion possible to read the compressed CSV/JSON.

**Describe alternatives you've considered**
N/A

**Additional co

[2022-09-28 18:21] andygrove commented on #3633
root cause is https://github.com/apache/arrow-rs/issues/2795

[2022-09-28 19:08] #3626 closed

[2022-09-28 19:09] alamb opened #3643 "Simplify division by zero (division by one / multiplication by zero / multiplication by one) for Decimal types as well"
@HaoYang670 added the simplification rule to simplify `col * 0` for numeric types other than `Decimal` in https://github.com/apache/arrow-datafusion/pull/3627

This ticket tracks adding this support for Decimal.

_Originally posted by @HaoYang670 in https://github.com/apache/arrow-datafusion/pull/3627#discussion_r982103650_

[2022-09-28 19:11] alamb commented on #3643
Marking as a good first issue as the pattern exists for other types, so a contributor could follow the existing pattern and get a little familiar with the code

[2022-09-28 20:01] Dandandan commented on #3629
I need some more time to write the ideas up - but the gist is that I indeed believe at some point `repartition` as a method on dataframes should be deprecated in favor of adding ways to control the partitioning/file number in the writers instead.

[2022-09-28 20:16] #3531 closed

[2022-09-28 20:44] kmitchener commented on #3629
I'm not in any rush and your idea sounds right to me. Also, if we can have more options for creating partitioned directory structures, that would be even better. Not sure how that API should look though.

[2022-09-28 20:50] alamb commented on #3606
https://crates.io/crates/sqlparser/0.24.0 has been released

[2022-09-28 20:53] alamb commented on #3618
The way we use multiple threads / tasks also likely makes results deterministic

The results of Some SQL queries are fundamentally undefined too -- like if your table has `100` rows and you issue

[code]

The database is free to give you three arbitrary rows

[2022-09-28 20:55] alamb commented on #3617
You may find more information on https://github.com/apache/arrow-datafusion/issues/2326 -- it would be great to get some idea of what you are trying to do / what datafusion can't do for you today

[2022-09-28 20:56] #3399 closed

[2022-09-28 21:43] andygrove opened #3644 "Type coercion error: The type of Boolean AND Decimal128(10, 2) of binary physical should be same"
**Describe the bug**
Postgres:

[code]

DataFusion:

[code]

**To Reproduce**
See above

**Expected behavior**
Should work

**Additional context**
None

[2022-09-28 21:51] andygrove opened #3645 "Internal error: Failed to coerce types Decimal128(10, 2) and Boolean in BETWEEN expression"
**Describe the bug**
Postgres:

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-09-28 21:53] andygrove opened #3646 "Internal error: Failed to coerce types Decimal128(10, 2) and Boolean in BETWEEN expression"
**Describe the bug**

Postgres:

[code]

DataFusion:

[code]

**To Reproduce**
As shown.

**Expected behavior**
Should work.

**Additional context**
None

[2022-09-28 22:00] isidentical opened #3647 "Specialized regexp_replace should early-abort when the the input arrays are empty"
**Describe the bug**
Specialized regexp_replace should early-abort when the the input arrays are empty

**To Reproduce**
Run a code that uses `DATAFUSION_EXECUTION_COALESCE_BATCHES=false` with a query that uses `regex_replace` (using the specialized version). It currently panics since apparently we construct empty-batches and still try to run them on some tasks (the actual batch works).

**Expecte

[2022-09-28 22:09] #3409 closed

[2022-09-28 22:12] #3645 closed

[2022-09-29 00:30] liukun4515 opened #3650 "Add more test case for `type coercion` rule"
I agree some more tests would be good

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/3636#discussion_r982809243_

[2022-09-29 06:34] yahoNanJing opened #3651 "Change *ExecutionPlan* from trait to enum similar as *LogicalPlan*"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

As #2175 mentioned, if we still keep *ExecutionPlan* as a trait, its related trait object usage will cause many limitations, like not feasible to return Self, inconvenience pattern matching, etc.

**Describe the solution you'd like**

It's better to change the *ExecutionPlan* from trait to en

[2022-09-29 06:37] yahoNanJing commented on #2175
Hi @alamb, @thinkharderdev, @mingmwang, I just created another issue #3651 to deal with this. And I will work on this in next few days.

[2022-09-29 06:57] mingmwang opened #3652 "[Question] output_ordering() in SortMergeJoinExec"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

One question about the implementation of this method, not sure my understanding is c

[2022-09-29 06:57] #3565 closed

[2022-09-29 07:21] mingmwang opened #3653 "Revisit required_child_distribution(), output_partitioning(), output_ordering() implementations in ExecutionPlan's implementations"
**Describe the bug**
A clear and concise description of what the bug is.

Looks like couple of physical plan implementations do not implement those methods correctly.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-09-29 11:21] timvw opened #3655 "Allow user to provide custom filter in ListingTableUrl"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Many object_stores are not as clean as expected. Eg: many have "hidden" files such as _SUCCESS or _temp/blahblah.
When using ListingTableUrl these files are not filtered and cause issues when inferring schema/options.

**Describe the solution you'd like**
ListingTableUrl has an optional glob b

[2022-09-29 15:00] #3557 closed

[2022-09-29 16:18] kmitchener opened #3658 "CSV inference reads in the whole file to memory, regardless of row limit"
**Describe the bug**
When inferring the schema, the complete CSV will be read into memory even if you leave it at the default 1000 rows to infer from.

**To Reproduce**

[code]

Happens here:
https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/datasource/file_format/csv.rs#L109

**Expected behavior**
It should read in only as much data as it needs for the given row count to

[2022-09-29 16:47] mingmwang commented on #2175
@alamb @thinkharderdev @yahoNanJing

I'm afraid the 'PhysicalExpr' Trait need to be changed to Enum also.
A major problem is because it is trait, we do not have a way to compare or check whether two 'PhysicalExpr'
equal or not.
In the physical plan phase, we need to check a plan's required children distribution and the current children's output partition, if the distribution is not satisfied, we s

[2022-09-29 17:00] tustvold commented on #2175
equal or not.

`as_any().downcast_ref<RepartitionExec>.is_some()` ?

I do have a couple of concerns:

* This will be a monumental amount of effort and downstream churn
* Static typing is a double-edged sword, whilst it makes some code that needs to handle a specific set of things, significantly simpler, it makes other things that need to handle arbitrary things, significantly more complicated
* My

[2022-09-29 17:21] tustvold commented on #3658
This should just be a case of hooking up https://github.com/apache/arrow-datafusion/pull/2936. I think the inference code dates from a time before that

[2022-09-29 17:38] alamb commented on #3651
See also @tustvold 's comments on https://github.com/apache/arrow-datafusion/issues/2175#issuecomment-1262554350

[2022-09-29 17:38] alamb commented on #2175
I agree this would cause a lot of churn. Perhaps we can add additional methods to traits to unblock whatever optimizations are needed?

[2022-09-29 17:45] mingmwang commented on #2175
@tustvold
One example here to compare two expressions are equal or not. If the expressions are purely Enum/Struct, I can easily
use '==' to do the comparing, just like any other OO programming languages.

[code]

But if the expressions are Trait, because the type is unknown, how to write code to compare the expressions?
The expressions are also tree like structures and we have to downcast and dest

[2022-09-29 17:49] #3556 closed

[2022-09-29 17:52] alamb commented on #2175
I wonder if we could extend PhysicalExpr to require `PartialEq`

So like change

https://github.com/apache/arrow-datafusion/blob/41b4e491663029f653e491b110d0b5e74d08a0b6/datafusion/physical-expr/src/physical_expr.rs#L37

to be

[code]

This would certainly still require code churn downstream (to implement PartialEq) but it wouldn't be nearly as large as changing to an `enum`

[2022-09-29 18:00] tustvold commented on #2175
PartialEq is not object-safe, it takes Self, so this isn't possible (I don't think)

`Expr` is a good example of where Rust's support for structured matching is fantastic, and I would definitely not propose switching `BinaryExpr` to be a trait object.

Is `ExecutionPlan` a similar use-case though? Most places it gets used actively don't care what variant is used? Is it possible that the fact they

[2022-09-29 18:03] mingmwang commented on #2175
Thanks for the suggestion. I can try this way first.
But since Logical Expressions are already enums,  why we have the Physical Exprs stick to Trait. In the current code base, there are only a few physical optimization rules,  I think when people
try to add more and more optimization rules, we will see more inconvenience to the Trait.

[2022-09-29 18:12] tustvold commented on #2175
Perhaps, because they are representations optimised for different use-cases? I'd personally argue LogicalPlan is a bit of a toss up, just take a look at all the various methods we have for walking the tree in different ways `LogicalPlan::expressions` or `LogicalPlan::inputs`, `LogicalPlan::accept`, etc... by comparison we have `ExecutionPlan::children` and we're done. Definitely not saying we shou

[2022-09-29 18:18] mingmwang commented on #2175
I'm not sure why visiting a logical plan is a toss up. Here is a sample of how to make visit ExecutionPlan more generic and we
can get ride of the visit pattern and tree traversing from the rule implementations

[code]

The same utils can be implemented for Enums/LogicalPlans I think.

[2022-09-29 18:29] mingmwang commented on #2175
Let me do some tests tomorrow. Anyway, I like the discussion.

[2022-09-29 18:41] tustvold commented on #2175
You can't do dynamic dispatch to a function that is parameterized on the concrete type - https://doc.rust-lang.org/reference/items/traits.html#object-safety

can get ride of the visit pattern and tree traversing from the rule implementations

I'm confused, if you're saying trait objects allow you to eliminate lots of dispatch logic, I 100% agree. Why then do you want to switch away from them?

Con

[2022-09-29 18:59] tustvold commented on #2175
Not saying it is a good idea, I'm not sure of why you would be doing this on an plan node, but you can do something like this and implement `PartialEq<&dyn Any>`

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1907b2dd3e335e2395487e0a5cbc63e4

[2022-09-29 19:17] #3647 closed

[2022-09-29 20:43] waitingkuo opened #3659 "Add TIMESTAMPTZ"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I'd like to have a new SQL Datatype `TIMESTAMPTZ`

**Describe the solution you'd lik

[2022-09-29 23:34] thinkharderdev commented on #2175
One thing to consider is that by making `ExecutionPlan` an enum we still end up having to have a trait for extension plans (something that is quite important for us) so you end up having many of the same problems because you end up with many of the problems of both approaches.

[2022-09-29 23:52] thinkharderdev commented on #2175
Couldn't we just add a method to `PhysicalExpr`?

[code]

if `PartialEq` isn't object-safe?

[2022-09-29 23:57] comphead commented on #3170
@alamb one more thing I found
`make_array` works on coerce expressions, and coerce doesn' consider first element as driving cast element. Rather it finds common type among all array values. Are you ok to with current behaviuor or you would like to change it to make first datatype as target type?

[2022-09-30 00:36] comphead commented on #3644
@andygrove please attach the test.csv file?

I tried 2 tests with pure sql, those works.

[code]

[2022-09-30 07:47] JasonLi-cn commented on #2199
1. binary code

[code]

2. test data

- format: parquet
- number of files: 4
- rows: 16405852 * 4 = 65623408
- number of columns: 6
- schema: uint32, uint32, uint32, uint32, string, uint32

3. test result

SQLs:
[code]
The performance is similar with and without the Scheduler! Is there a problem with where I use it?

@tustvold

[2022-09-30 07:58] HaoYang670 opened #3663 "Add division by `0` rules in the expression simplification"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

When the divisor is the scalar zero, We could one of these:
1. Simplify the expression to `null

[2022-09-30 08:01] HaoYang670 opened #3664 "Add simplification rules for the `Modulo` operator"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Simplify the modulus expression: `A % B`

**Describe the solution you'd like**
A cle

[2022-09-30 08:38] tustvold commented on #2199
Yes that is expected, I've had to park working on this for a bit in favour of some other things. See #2504 for the follow on work

[2022-09-30 09:26] JasonLi-cn commented on #2199
Ok, thanks!
By the way, do you know the difference between [ClickHouse's Query Execution Pipeline](https://presentations.clickhouse.com/meetup24/5.%20Clickhouse%20query%20execution%20pipeline%20changes/#clickhouse-query-execution-pipeline) and Datafusion's Execution model(likes vectorized volcano model)? And what are the advantages of ClickHouse?

[2022-09-30 11:00] #3659 closed

[2022-09-30 11:01] alamb commented on #3170
Ideally we would follow some well established model (like posgres) but if that is too challenging I think we can keep the existing behavior too

[2022-09-30 11:03] #3587 closed

[2022-09-30 13:23] waitingkuo commented on #1992
@liukun4515 should we change the return to decimal/numeric type?

[2022-09-30 13:32] waitingkuo opened #3665 "using Decimal(0) make system panicked"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

show something like this
[code]

**Additional context**
Add any other context about the problem here.

[2022-09-30 13:39] waitingkuo opened #3666 "Incorrect error message for decimal with scale while input value is out of bound"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

something like
[code]

**Additional context**
Add any other context about the problem here.

[2022-09-30 13:53] andygrove commented on #3646
@liukun4515 You might be interested to see this type coercion issue - I plan on looking at it next week

[2022-09-30 14:05] andygrove commented on #3646
It looks like the type coercion aspect has already been fixed in a recent commit. It now fails with a different error:

[code]

[2022-09-30 14:07] andygrove opened #3667 "Add support for scalar subqueries in BETWEEN expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]

[code]

This works fine in Postgres:

[code]

**Describe the solution you'd like**
Make this query work

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-09-30 14:07] andygrove commented on #3646
I filed a new issue https://github.com/apache/arrow-datafusion/issues/3667 and will close this one

[2022-09-30 14:07] #3646 closed

[2022-09-30 14:15] waitingkuo commented on #1992
from postgresql's doc
https://www.postgresql.org/docs/current/functions-datetime.html

The extract function is primarily intended for computational processing. For formatting date/time values for display, see [Section 9.8](https://www.postgresql.org/docs/current/functions-formatting.html).

The date_part function is modeled on the traditional Ingres equivalent to the SQL-standard function extract:

[2022-09-30 14:27] waitingkuo commented on #765
@alamb i think `to_timestamp` automatically append your local time zone if there's no timezone in your time string, and convert it back to utc (note that the underline value doesn't change), and then drop the timezone

i'm in utc+8, here's what i have
[code]

I assume that you are in negative time zone so that the result timestamp is larger

[2022-09-30 14:35] #3622 closed

[2022-09-30 14:50] andygrove commented on #2185
This issue is a little out of date. We recently switched to a new object store crate and it appears to support writes.

https://docs.rs/object_store/0.5.0/object_store/trait.ObjectStore.html

[2022-09-30 15:06] wperron opened #3668 "Add support to write DataFrames to an object store"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Hey folks :wave: we're evaluating Datafusion/Ballista to perform queries as part of a pipeline on some pretty large datasets (we're talking on the order of a few Terabytes at minimum) and would like to read from Parquet files from GCS and write as Parquet to a different GCS bucket. Right now i

[2022-09-30 15:07] askoa commented on #3664
I'll pick this up.

[2022-09-30 15:10] wjones127 commented on #2185
Yes! I'm happy to close this, and other issues can be files for any further integration work.

[2022-09-30 15:10] #2185 closed

[2022-09-30 15:17] askoa commented on #3664
I could think of below rules. Is there anything else to be added?

[code]

[2022-09-30 17:24] stormasm commented on #3668
https://github.com/minio/minio

Minio would be a nice open source example of an object store
to use for testing...

And one I have been using for [Iox](https://github.com/influxdata/influxdb_iox) testing..

[2022-09-30 20:07] #3624 closed

[2022-09-30 21:11] #2558 closed

[2022-09-30 21:12] andygrove opened #3671 "DataFusion 13.0.0 Release"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I plan on making the DataFusion 13.0.0 rc on October 7th

**Describe the solution you'd like**

- [ ] Upgrade to Arrow 24.0.0
- [ ] Cut RC
- [ ] Vote passes
- [ ] Release source
- [ ] Publish crates
- [ ] Publish docs

**Describe alternatives you've considered**
A clear and concise description

[2022-09-30 21:59] waitingkuo commented on #765
@alamb would you mind helping check whether this is the root cause?

[2022-09-30 22:40] askoa commented on #3632
I looked into this issue and have some questions.

The below check already seems to do the job. The below function is called in the function `intersect_or_except` which seems to be the common function for intersect and expect. Is there any other place we need to look into?

https://github.com/apache/arrow-datafusion/blob/6d2b417def2d536e81eb80e082d9cc3ca4e7f5fc/datafusion/expr/src/logical_plan/bui

[2022-09-30 23:41] HaoYang670 commented on #3664
Thank you, @askoa, for picking this. The rules you listed are good.
For `A % A`, we should think more, because when `A` contains `0` the result will be `DivByZeroErr`; when `A` contains `null`, the result will be `Null`; and in other cases, the result is `0`.
\My opinion is that we could not add `A % A` rules now.

[2022-09-30 23:52] HaoYang670 commented on #3632
I guess the problem is in the `intersect_or_except` where we should check the number of columns before we zip the the `join_keys`: https://github.com/apache/arrow-datafusion/blob/6d2b417def2d536e81eb80e082d9cc3ca4e7f5fc/datafusion/expr/src/logical_plan/builder.rs#L784-L794

[2022-10-01 07:55] liukun4515 opened #3673 "support `type coercion` for case when expr"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

part of https://github.com/apache/arrow-datafusion/issues/3582

**Describe the solut

[2022-10-01 10:03] askoa commented on #3632
I see. So the zip works when the iterators are of different size. I'll fix this.

[2022-10-01 11:03] HaoYang670 commented on #3665
This is a bug in the `validate_decimal_precision` in arrow-rs: https://github.com/apache/arrow-rs/blob/master/arrow-data/src/decimal.rs#L755-L756

Should we file an issue in arrow-rs?

cc @liukun4515

[2022-10-01 11:14] alamb commented on #96
Dupe of by https://github.com/apache/arrow-datafusion/issues/3606 -- @Dandandan  is working to put graphviz plans 🎉

[2022-10-01 11:14] #96 closed

[2022-10-01 14:18] andygrove commented on #2175
I have a proposal in https://github.com/apache/arrow-datafusion/pull/3677 to add a `PhysicalPlan` enum that avoids making any breaking API changes.

I agree that the `Expr` enum should be made more consistent with the `LogicalPlan` enum by creating structs that each enum variant would wrap.

[2022-10-01 14:20] andygrove commented on #3651
Rather than changing ExectionPlan to be an enum, why don't we add a new enum that can wrap ExecutionPlan? See https://github.com/apache/arrow-datafusion/pull/3677 for my proposal.

[2022-10-01 18:51] isidentical commented on #3518
I was looking into this one; but even on cases where the array is very sparse (in testings, I've used %20 data / %80 nulls), there doesn't seem to be an observable difference between building the underlying data buffers by ourselves and reusing the existing null buffer vs rebuilding everything. The experiment is [in this branch](https://github.com/isidentical/arrow-datafusion/pull/3/files), and th

[2022-10-01 20:09] Dandandan commented on #3518
It might be that regexes themselves are so expensive, that the "null buffer" reuse has minimal benefit.

[2022-10-01 23:24] #3632 closed

[2022-10-02 11:02] alamb commented on #765
@waitingkuo  -- it certainly sounds plausible

[2022-10-02 11:37] alamb opened #3678 "Coverage jobs are failing on master: `Failed to compile tests! Error: sql_integration: linking with `cc` failed: exit status: 1"`"
**Describe the bug**
Coverage jobs are failing on master

**To Reproduce**
Example: https://github.com/apache/arrow-datafusion/actions/runs/3166566456/jobs/5156371740

[code]

**Expected behavior**
Test should pass

**Additional context**
Add any other context about the problem here.

[2022-10-02 11:42] alamb commented on #3678
I wonder if the issue is that the sql_integration test binary is too big 🤔

[2022-10-02 12:22] askoa commented on #3663
Per the below comment, we should not simplify errors as it might be unreachable during execution.

https://github.com/apache/arrow-datafusion/pull/3669#discussion_r985226627

cc: @alamb

[2022-10-02 13:05] Gentoli opened #3681 "TableProvider implementation for DataFrame does not support filter pushdown"
**Describe the bug**
Filter is not pushdown if a dataframe is registered as a table.

**To Reproduce**
Not isolated to join, using it here to illustrate the issue.

Steps to reproduce the behaviour:

[code]
<details>
  <summary>Output + Test files</summary>

[code]

test.csv
[code]
test2.csv
[code]
</details>

**Expected behavior**
With join, the filtering should happening before join.

**Addition

[2022-10-02 22:12] isidentical commented on #462
@Dandandan I've been experimenting with whether support for recursive CTEs could be done without too much overhead (like holding onto all the results from all the iterations until the recursion is over) and without using any real 'tables' (like the "working table" concept in postgres, a table where the previous iteration's results are materialized). It seems like there might be a solution, but bef

[2022-10-03 01:11] hengfeiyang opened #3682 "Field names containing periods such as f.c cannot work"
**Describe the bug**
Field names containing periods such as f.c cannot work.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Run the example will got error:

[code]

**Expected behavior**
expect it can work.

**Additional context**
DataFusion 12.0

[2022-10-03 03:27] HaoYang670 opened #3683 "Concatenate contiguous literal arguments of `CONCAT` during the expression simplification."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
For an expression `concat(col1, 'a', 'b', col2, 'd', 'f', ...)` we can simplify it to `concat(col1, 'ab', col2, 'df` ...)`

**Describe the solution you'd like**
A clear and concise description of what

[2022-10-03 10:26] alamb commented on #3663
Update here is that postgres errors too so we will keep the erroring behavior. Thanks @askoa

[2022-10-03 13:46] #871 closed

[2022-10-03 13:46] #3664 closed

[2022-10-03 14:14] alamb opened #3685 "Internal error when evaluating a predicate = "The type of Dictionary(Int16, Utf8) = Int64 of binary physical should be same""
**Describe the bug**
A clear and concise description of what the bug is.

Coercion does not work for a column with a `DataType::Dictionary(Int16, Utf8)` type -- aka a dictionary encoded string column when comparing to an integer.

So a predicate such as

[code]

will work fine if `vendor_id` is `Utf8` but will not work fine if `vendor_id` is a dictionary.

**To Reproduce**
[code]
**Expected behavi

[2022-10-03 14:16] alamb commented on #3685
this was found by a user `Jan Kaul` and reported on slack

DictionaryArrays are used for partition value encoding for listing files

[2022-10-03 15:08] alamb commented on #3419
Maybe we could return a struct like
[code]

Or something 🤔

[2022-10-03 15:19] andygrove opened #3686 "Add User Guide section on using object stores such as S3"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion supports querying S3 and other object stores, but this is not well documented.

**Describe the solution you'd like**

- Add new section to user guide on how to use object stores
- Update SQL CLI docs once we upgrade to Arrow 24 and pick up some bug fixes

**Describe alternatives you

[2022-10-03 15:30] alamb opened #3689 "Upgrade to Arrow 24.0.0"

[2022-10-03 15:30] alamb commented on #3689
Keep up with upstream dependency

[2022-10-03 15:32] andygrove opened #3690 "Optimizer regressions in `unwrap_cast_in_comparison`"
**Describe the bug**
I am testing the latest code from master with some Dask SQL queries and seeing some new regressions that were caused by https://github.com/apache/arrow-datafusion/pull/3662.

**To Reproduce**

## Error casting to unsigned types

[code]

[code]

## CASE WHEN regression

[code]

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Addi

[2022-10-03 15:33] alamb commented on #3681
I wonder if this is related to pushing down filters into subqueries

[2022-10-03 15:34] alamb commented on #3665
We should file a bug (and even better a fix!) upstream 👍

[2022-10-03 15:38] hengfeiyang commented on #3682
@alamb In SQL layer it can work, but in DataFrame it can't work.

[2022-10-03 16:01] andygrove commented on #3524
@alamb I am working on this now because it became important to something that I am working on for this release

[2022-10-03 16:04] alamb commented on #3524
Outstanding @andygrove  -- the biggest issue I hit was extracting the passes from the state.

I am standing by to help review it and get it in quickly 👍

[2022-10-03 16:29] hengfeiyang commented on #3682
@alamb Thanks, the filter can work now. But I am real work is `with_column`, I updated my example code above and added a line:

[code]

You can have a try, this line will cause the error too, Do you have any idea? thank you.

[2022-10-03 16:33] waitingkuo opened #3693 "Support SQLDataType::Timestamp(TimezoneInfo)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

In https://github.com/sqlparser-rs/sqlparser-rs/pull/641

`TimestampTz` becomes `Tim

[2022-10-03 16:56] andygrove opened #3695 "`OptimizerConfig::skip_failing_rules` should be false by default in sql tests"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We currently default to `OptimizerConfig::skip_failing_rules` to true in tests, and this means that we fail to catch regressions.

**Describe the solution you'd like**
I would like to default to true intests so that regressions are caught much sooner.

**Describe alternatives you've considered

[2022-10-03 17:07] #3524 closed

[2022-10-03 17:54] andygrove commented on #3695
These tests fail when we stop ignoring optimizer errors:

[code]

[2022-10-03 18:45] #3506 closed

[2022-10-03 23:24] #3689 closed

[2022-10-04 07:39] liukun4515 commented on #3690
@andygrove
Does the failed about the `case when` caused by this issue?

I will check them.

[2022-10-04 07:48] liukun4515 commented on #3665
@HaoYang670 @waitingkuo I think we should file a issue or fix to check the precision which should be greater than 0

[2022-10-04 09:38] #3673 closed

[2022-10-04 09:39] Alnaimi- commented on #1532
Is this still planned?

[2022-10-04 10:08] tustvold commented on #1532
I believe @v0y4g3r is working on getting the arrow2 branch updated in https://github.com/apache/arrow-datafusion/pull/2855 as part of https://github.com/apache/arrow-datafusion/issues/2709

I'm not sure what the long-term plans for this effort are, especially as the implementations continue to diverge in functionality, in both directions. I don't believe a wholesale switch is likely in the foresee

[2022-10-04 10:28] liukun4515 commented on #3690
For the `case when` case
[code]

In the rule of `unwrap_cast_in_comparison`, we can't find the filed type of `'test.col_int32'` for the `projection` plan.

Because the schema for the projection is:
[code]
and the schema of table scan is:
[code]
I am confused about the difference between these two plan.

Why the schema for the projection plan is the output expr for the plan？

@alamb @andygrove

I t

[2022-10-04 10:35] liukun4515 commented on #3690
I think the schema for the logical plan is very important, and we can extract and generate any information from the basic schema.

For example:
[code]
sql:
[code]
The plan should be

[code]

[2022-10-04 11:04] alamb commented on #3682
I think it is a bug in `with_column` (basically it is using `col` as well). I will create a PR to fix it. Thank you for the report @hengfeiyang

[2022-10-04 11:21] alamb commented on #3682
https://github.com/apache/arrow-datafusion/pull/3700

[2022-10-04 12:21] Miyake-Diogo opened #3701 "Problem to get value in filter after change datatype of column"
**Describe the bug**
When I try to use filter method to get a specific value occur this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Dataset Used: https://www3.stats.govt.nz/2018census/Age-sex-by-ethnic-group-grouped-total-responses-census-usually-resident-population-counts-2006-2013-2018-Censuses-RC-TA-SA2-DHB.zip?_ga=2.59236845.1702210690.1664552485-985979153.1663098055
Page

[2022-10-04 12:27] #3685 closed

[2022-10-04 12:37] #3690 closed

[2022-10-04 12:39] liukun4515 opened #3702 "support unsigned numeric data type in UnwrapCastInBinaryComparison rule"
This plan doesn't look ideal to me -- since `col_int32` is int32 I think the exprs could be rewritten to

[code]

Could be done as a follow on PR for sure

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/3699#discussion_r986810683_

[2022-10-04 12:50] alamb commented on #1532
I think it is also important to note that many of the ideas from @jorgecarleitao  in arrow2 have now been incorporated into arrow-rs

[2022-10-04 12:51] alamb commented on #3702
To implement this, as @liukun4515  notes, the `UnwrapCastInBinaryComparison` code just needs to be extended to support unsigned types as well

[2022-10-04 13:34] andygrove opened #3704 "Optimizer rule 'projection_push_down' failed due to unexpected error: Error during planning: Aggregate schema has wrong number of fields. Expected 3 got 8"
**Describe the bug**
There was a recent regression causing several test failures in a test suite that we use with Dask SQL.

[code]

**To Reproduce**

[code]

Fails with

[code]

**Expected behavior**
Should not see this error

**Additional context**
None

[2022-10-04 13:47] alamb commented on #3704
For what it is worth, I am working through some errors upgrading IOx to use the latest datafusion (see  https://github.com/influxdata/influxdb_iox/pull/5792) and I am also hitting errors related to type coercion as well. I will file and fix issues in DataFusion if appropriate when I have debugged it

[2022-10-04 14:29] alex-natzka commented on #3635
I was able to hunt down the cause of the bug, I think:

In `arrow-datafusion/datafusion/optimizer/src/common_subexpr_eliminate.rs`, the `ExpressionvVsitor::post_visit` assigns _the same datatype_ to every sub-expression in the `expr_set`; more specifically, it assigns the datatype of the _overall expression result_.

Accordingly, I don't think the issue is limited to `cast` expressions.

This can

[2022-10-04 15:04] Miyake-Diogo opened #3800 "[RUST][Datafusion] What causes "Error: Execution("file size of 4 is less than footer")" error?"
When I Try to read a CSV and Write as Parquet, compiler raises this errror: Error: Execution("file size of 4 is less than footer").
I didn't found anything on docs and internetm, about it ...
My code:
[code]
Covid Dataset is located in this [link](https://ourworldindata.org/explorers/coronavirus-data-explorer?facet=none&Metric=Confirmed+deaths&Interval=Cumulative+%28last+12+months%29&Relative+to+P

[2022-10-04 15:11] andygrove commented on #3704
Related: https://github.com/apache/arrow-datafusion/pull/3706

[2022-10-04 15:41] DataPsycho commented on #2871
@waitingkuo Can you please refer me where you have added that code? I only found 2 references of the function:
1.  expr_fn.rs
2. timestamp.rs

But could not find the actual function. I want to add some example usage doc in the function. As it looks empty without any example: [crates doc](https://docs.rs/datafusion/12.0.0/datafusion/logical_plan/fn.from_unixtime.html) . Or if you can tell how I sho

[2022-10-04 18:28] alamb opened #3708 "Expose + document the type coercion API publicly"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We  [programmatically make  `Expr`s in IOx](https://github.com/influxdata/influxdb_iox/blob/16bd3e67c0330e88ba1c0c9b89da2657d3bb8a18/iox_query/src/util.rs#L115-L142) for specialized filters using the `Expr` API  and want to create a `PhysicalExpr`. Prior to https://github.com/apache/arrow-dat

[2022-10-04 18:29] alamb commented on #3708
I plan to make a PR to fix this

[2022-10-04 18:34] alamb opened #3709 "Expose and document a simpler public API for simplify expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Similarly to https://github.com/apache/arrow-datafusion/issues/3708,

 We  programmatically create  Exprs  and would like to take advantage of the simplify + const evaluation code.

In IOx we have a `SimplifyAdapter` that does this https://github.com/influxdata/influxdb_iox/blob/alamb%2Fmass_u

[2022-10-04 18:47] alamb commented on #3704
Starting to look into this

[2022-10-04 19:46] andygrove opened #3711 "Fix inconsistency between column name formats"
**Describe the bug**
Formatting of column names varies depending on the context:

- `Expr::name()` returns `foo.bar` because it delegates to `Column::flat_name()`
- `Expr::canonicalized_name()` returns `#foo.bar` because it delegates to `impl Display for Column`
- `create_physical_name` for a column returns `foo.bar` because it delegates to `Column::flat_name()`because it delegates to `Column::fla

[2022-10-04 20:17] alamb commented on #3704
I believe I have found the root cause. Fix incoming

[2022-10-04 20:26] waitingkuo commented on #2871
it's located here
https://github.com/apache/arrow-datafusion/blob/45fc415daa7028559ef3477e53a184a114149f9e/datafusion/physical-expr/src/functions.rs#L155-L171

you could follow this to find all related functions
https://github.com/apache/arrow-datafusion/blob/master/docs/source/contributor-guide/index.md#how-to-add-a-new-aggregate-function

[2022-10-04 20:43] isidentical opened #3713 "SQL Planner doesn't distinguish normal CTEs from the recursive ones."
**Describe the bug**
Recursive CTE support for datafusion is still in the planning stage, and it is tracked in #462. But the SQL planner still doesn't rejects the recursive CTEs and let them silently fail (or work, depending on the internal implementation).

**To Reproduce**
Steps to reproduce the behavior:
[code]

Running the query above would result with a cryptic error:

[code]

**Expected beha

[2022-10-04 20:46] alamb commented on #3704
Here is a proposed fix: https://github.com/apache/arrow-datafusion/pull/3710

It seems to have some sort of other planning regression (something is no longer simplified). I am about to run out of time tonight but I will continue investigation tomorrow

[2022-10-04 20:52] Alnaimi- commented on #1532
Thanks both @tustvold @alamb.

I think arrow-rs may be the safe bet for now. Especially since @jorgecarleitao has been fairly busy recently to to spearhead things. Pity, I really liked the direction of the arrow2 apis.

[2022-10-04 21:14] waitingkuo opened #3715 "`Time With Time Zone` should raise error until `DataType::Time64` support tz"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

❯ select arrow_typeof(1::time with time zone);
[code]
this should raise error as we dont have `tz` for `Time64` now

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-10-04 21:29] isidentical opened #3716 "Allow with statements to specify their columns alongside their expression names"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PostgreSQL (and many others) allow `WITH` statements to take a list of column aliases right after the CTE name.

[code]

DataFusion:
[code]

PostgreSQL:
[code]

**Describe the solution you'd like**
DataFusion could also support this syntax, considering sqlparser-rs already parses and relays al

[2022-10-04 21:36] waitingkuo commented on #3693
closed by #3698

[2022-10-04 21:36] #3693 closed

[2022-10-05 04:05] HaoYang670 commented on #3665
BTW, we could use `nonZeroU8` to represent `precision`: https://doc.rust-lang.org/std/num/struct.NonZeroU8.html

[2022-10-05 04:18] #3711 closed

[2022-10-05 04:45] #3713 closed

[2022-10-05 10:48] HaoYang670 opened #3720 "Add type coercion rule for `CONCAT` and `CONCAT_WS`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The `type_coercion` optimizer haven't supported `concat` and `concat_ws` yet. We sho

[2022-10-05 13:14] andygrove opened #3722 "Use simpler schema names for expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We currently use overly verbose schema names for expressions. Here is an example comparing scalar function names between Postgres and DataFusion.

## Postgres

[code]

## DataFusion

[code]

**Describe the solution you'd like**
Use simple names in schema - use the function name in this exampl

[2022-10-05 13:24] #3715 closed

[2022-10-05 15:10] andygrove opened #3724 "Add support for DISTINCT projections in `scalar_subquery_to_join`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`scalar_subquery_to_join` expects scalar subqueries to be projections but does not handle the case where the plan contains `Distinct(Projection)`

**Describe the solution you'd like**
Support distinct projections

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-10-05 15:33] andygrove opened #3725 "Add support for wider range of scalar subqueries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

## Setup

[code]

[code]

## Test

This query works:

[code]

These non-aggregate subqueries that return a single row do not work:

[code]

In both cases, the subqueries do have a projection, but they are wrapped with a `Distinct` or `Limit` node.

This query fails with a different error. In

[2022-10-05 15:47] #2888 closed

[2022-10-05 16:54] andygrove commented on #3667
This may be a duplicate of https://github.com/apache/arrow-datafusion/issues/3725

[2022-10-05 17:52] #3585 closed

[2022-10-05 18:28] #3704 closed

[2022-10-05 18:29] alamb commented on #3582
Here is a PR that contributes to this goal: https://github.com/apache/arrow-datafusion/pull/3728

[2022-10-05 20:44] avantgardnerio opened #3729 "TPC-H Query 1 has regressed"
**Describe the bug**

When running TPC-H query 1, this is the result:

[code]

**To Reproduce**

Run TPC-H query 1.

**Expected behavior**

A result is returned.

[2022-10-05 21:26] #3716 closed

[2022-10-06 03:00] Gentoli commented on #3681
AFAIK if the query is all SQL, even with an nested select, it still works correctly
[code]

<details>
  <summary>Plan</summary>

[code]

</details>

[2022-10-06 11:34] liukun4515 opened #3731 "support `type coercion` for ScalarFunction expr in the logical phase"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
 part of https://github.com/apache/arrow-datafusion/issues/3582

move the type coercion for the expr: ScalarFunction from the physical phase to the logical phase.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've co

[2022-10-06 11:46] liukun4515 commented on #3666
@waitingkuo
The error message is not right, we just print the value of i128 for the precision, and don't consider the scale value.

[2022-10-06 13:11] alamb opened #3733 "`DataFrame::select_columns` doesn't work with names containing ".""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Put in `core/src/dataframe.rs`

[code]

Fails like:
[code]

**Expected behavior**
The test should pass

**Additional context**
Found while working on https://github.com/apache/arrow-datafusion/pull/3700

cc @hengfeiyang

[2022-10-06 13:11] alamb commented on #3733
Marking this as a good first issue as it should be relatively isolated to the DataFrame code and would be a good way to get some experience with `DFSchema`, etc

[2022-10-06 13:37] liukun4515 opened #3734 "remove `type coercion` for ScalarUDF in the physical phase"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-10-06 13:49] unvalley commented on #3589
I'll take a look!

[2022-10-06 13:51] kesavkolla commented on #3617
I want to be able to specify so.e kind of path expression like select a.b.c for nested structs. For list types also some notation to access the index.

My data is a heavy nested and list structs. Currently I can't query them individual fields can't use nested columns in filters.

[2022-10-06 17:19] kesavkolla commented on #3617
I tried for list list_column[0] it didn't work.

I get following exception:

[code]

[2022-10-06 17:28] andygrove commented on #219
Ballista produces DOT from physical plans already, and much of this code could be repurposed in DataFusion.

https://github.com/apache/arrow-ballista/blob/master/ballista/rust/scheduler/src/state/execution_graph_dot.rs

[2022-10-06 17:31] andygrove opened #3738 "`projection_push_down` produces invalid aggregate plans in some cases"
**Describe the bug**

I have a query that triggers this error:

[code]

Here is some debug output. The query has `group by substr(i_item_desc,1,30),i_item_sk,d_date` and we have the correct info here:

[code]

When the aggregate schema gets created it has dropped the `substr` expression:

[code]

**To Reproduce**
I am working on a simple repro case.

**Expected behavior**
Should not fail

**Additi

[2022-10-06 18:25] alamb opened #3740 "Add example of expr apis including simplification and coercion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We [programmatically make Exprs in IOx]
Also I think it would be a good time to start documenting / providing examples of working with the DataFusion Expr APIs as they are quite powerful (e.g the rewrite rules are getting quite sophisticated)

I also think writing some better examples will he

[2022-10-06 19:09] alamb opened #3743 ""labeler" PR check is broken"
**Describe the bug**

The "labeler" PR check is broken it seems:

![Screen Shot 2022-10-06 at 3 08 54 PM](https://user-images.githubusercontent.com/490673/194398264-9cdf4b5c-e572-45bc-a5e3-d62a15ec9e69.png)

https://github.com/apache/arrow-datafusion/actions/runs/3199516123/jobs/5225355657

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of

[2022-10-06 19:23] #3734 closed

[2022-10-06 19:47] isidentical opened #3744 "Prevent Cargo.lock for datafusion-cli being out-of-date"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Since the only `Cargo.lock` that is checked in is the `datafusion-cli`'s one, we seem to be forgetting about updating [it sometimes](https://github.com/apache/arrow-datafusion/pulls?q=is%3Apr+Cargo.lock+is%3Aclosed).

**Describe the solution you'd like**
Since we already have infrastructure (a

[2022-10-06 20:07] isidentical commented on #462
I was thinking about how we can split, and an initial plan might look like this if there are no objections on separating `ContinuanceStream` as a single patch (if it sounds better, also can combine first two steps).

## Possible roadmap?

- [ ] Add continuance streams (a "working table" operation for DataFusion that actually uses streams under the hood).

The implementation is self-contained enoug

[2022-10-06 20:46] #3738 closed

[2022-10-06 22:49] andygrove opened #3747 "DataFusionError(Internal("The size of the sorted batch is larger than the size of the input batch: 2120 > 2312"))"
**Describe the bug**

Found  this running some SQL benchmarks

[code]

The error is also confusing .. 2120 is not larger than 2312

**To Reproduce**
tbd

**Expected behavior**
This should not happen

**Additional context**
Found  this running some SQL benchmarks

[2022-10-07 00:02] isidentical commented on #3747
I think I am able to trigger it using the query below:
[code]

But still not sure about the underlying issue.

The size of the input array changes even though the contents stay the same (so probably buffers too). Maybe that assumption doesn't hold when we are recreating the arrays (and/or maybe the ordering actually changes how buffers are built), so instead of triggering an assertion, we might ne

[2022-10-07 09:59] liukun4515 opened #3752 "move `type coercion` for agg/agg udf"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
part of https://github.com/apache/arrow-datafusion/issues/3582

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consider

[2022-10-07 10:55] alamb commented on #3671
BTW I have a half written blog post about DataFusion improvements in the last 3-6 months which I hope to get up shortly. Thanks @andygrove

[2022-10-07 12:15] Dandandan commented on #3747
I think the code should update the size

Seems indeed we should handle the case of a sorted batch being somehow bigger than the input batch, and add an issue in arrow-rs to tackle this there.

[2022-10-07 13:27] andygrove commented on #3725
This is going to be harder than I realized. We need to check that scalar subqueries return a single row at some point during execution. I am not sure that we can translate queries to joins if there is the possibility of more than one row being returned.

Postgres example:

[code]

[2022-10-07 14:49] alamb commented on #3743
@tustvold  did this in arrow: https://github.com/apache/arrow-rs/pull/2844

[2022-10-07 14:55] #3720 closed

[2022-10-07 15:19] andygrove opened #3755 "[User Guide] Add `EXPLAIN` to SQL reference"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I wanted to lookup the syntax for `EXPLAIN` but I couldn't find it in the user guide.

**Describe the solution you'd like**
Add `EXPLAIN` to SQL reference

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-10-07 15:31] unvalley commented on #3755
I'll take a look!

[2022-10-07 16:42] #3747 closed

[2022-10-07 16:51] alamb commented on #3729
We have fixed a few bugs in this coercion area recently -- it "might" work if you try with latest master.

 Now that we have the optimizer integration test, it would be great to at least get tests for all tpch querries into that

[2022-10-07 16:52] alamb commented on #3708
The more I think about this, the more I think that coercion is mostly required for exrp simplification -- so I am thinking of ensuring type coercion is run prior to trying to simplify

[2022-10-07 16:53] avantgardnerio commented on #3729
I need to look into this again - @andygrove said he ran it and it worked. I think my schema inference may have picked the wrong data type for this timestamp and gotten different results.

[2022-10-07 19:51] #3682 closed

[2022-10-07 20:01] andygrove opened #3760 "Regression in simplifying expressions in subqueries"
**Describe the bug**
We hit a regression in Dask SQL after upgrading to 13.0.0-rc1 (https://github.com/dask-contrib/dask-sql/issues/844).

Example query:

[code]

## Expected Filter

[code]

## Actual Filter

[code]

**To Reproduce**
Here is a repro for the optimizer integration-test.rs:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional co

[2022-10-07 21:20] isidentical commented on #3518
Initial profiling indicates even with a very simple regex, for the query in that example, we spent around ~%25 of the whole execution time in `into_array` which is due to our usage of adapter even in the specialized mode.

https://cs.github.com/apache/arrow-datafusion/blob/15289610318e4acad48e40f5adabe0c5a9e8f9b9/datafusion/physical-expr/src/regex_expressions.rs#L307

So perhaps we could extend th

[2022-10-07 22:20] isidentical opened #3762 "Allow specialized physical functions to provide hints for the array adapter"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We currently have a specialization system (used by the `regex_replace` at the moment, but can be extended to similar functions) that always produces functions with adapters, but sometimes the newly created functions might not need padded arrays for scalars (`_regexp_replace_static_pattern_repl

[2022-10-08 02:25] Ted-Jiang commented on #847
working on it.😊

[2022-10-08 03:40] ZuoTiJia opened #3766 "InList does not yet support nested columns."
I ran the following SQL.
[code]
But it doesn't support.

Oct 08 11:30:22.444 ERROR datafusion::scheduler: worker 10 panicked with: not implemented: InList does not yet support nested columns.
    at datafusion-11.0.0/src/scheduler/mod.rs:107

[2022-10-08 11:15] zhoudongyan commented on #3725
Can we add an `AssertNumRows` node to solve this problem, which is used in doris https://github.com/apache/doris/blob/master/fe/fe-core/src/main/java/org/apache/doris/planner/AssertNumRowsNode.java#L33

[2022-10-08 13:46] andygrove opened #3770 "Support rewriting subquery expressions in `simplify_expressions`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/pull/3764 reverts a regression in optimizing subqueries but does so by running `simplify_expressions` a second time, after subqueries have been converted to joins.

This is not the ideal solution.

**Describe the solution you'd like**
`simplify_exp

[2022-10-08 15:36] drrtuy commented on #1192
It is indeed an additional condition in epressions/negative.rs. Here is the PR #3771.

[2022-10-08 16:47] andygrove commented on #3729
Could be related to https://github.com/apache/arrow-datafusion/pull/3764

[2022-10-09 02:35] liukun4515 commented on #3582
after supporting all expr for type coercion, we can move this rule out of the optimizer, and use it as a separate module

[2022-10-09 14:58] andygrove opened #3772 "benchmarks fail against parquet with decimal types"
**Describe the bug**

[code]

**To Reproduce**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
The same benchmarks work fine in Apache Spark

[2022-10-09 17:54] andygrove opened #3773 "Add `read_parquet` SQL UDF"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I just tried DuckDB for the first time and I liked this syntax:

[code]

This is much easier than `CREATE EXTERNAL TABLE`.

**Describe the solution you'd like**
Steal this idea

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-10-09 20:11] isidentical opened #3774 "Provide a way to enable source level statistics for tables registered in the CLI"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
#1347 enabled collection of statistics by default on the `ListingOptions` constructor, though the tables created with `CREATE EXTERNAL TABLE` can't still use this feature since they are created manually.
https://github.com/apache/arrow-datafusion/blob/e54110fb592e03704da5f6ebd832b8fe1c51123b/d

[2022-10-09 20:28] andygrove opened #3776 "Benchmark should infer schema when running against Parquet"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to run the tpch benchmark against an existing Parquet data set. The decimal type in this data does not match exactly the type hard-coded in the test.

## example 1

[code]

## example 2

[code]

**Describe the solution you'd like**
I would like to use `infer_schema` when running ag

[2022-10-10 03:26] v0y4g3r opened #3777 "An asynchronous version of `CatalogList`/`CatalogProvider`/`SchemaProvider`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'm trying to implement a `CatalogList`/`CatalogProvider`/`SchemaProvider` that based on some remote storage service like ZooKeeper/Etcd.

**Describe the solution you'd like**
But current `CatalogList`/`CatalogProvider`/`SchemaProvider` trait is in a sync manner.

https://github.com/apache/ar

[2022-10-10 04:01] ZuoTiJia opened #3778 "Panicked at InList does not yet support nested columns."
I ran the following SQL.
[code]
But it paniced and doesn't support.

[code]

**Expected behavior**
Should prevent panic, return result::Err

**Additional context**
in 11.0

[2022-10-10 12:48] #3731 closed

[2022-10-10 14:32] andygrove opened #3781 "Implement physical execution of uncorrelated scalar subqueries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We currently support uncorrelated scalar subqueries by translating them into a cross-join. It would likely be more efficient to execute the subquery and update the original plan with the scalar value.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...

[2022-10-10 14:55] andygrove commented on #3781
https://github.com/apache/arrow-datafusion/issues/3725

[2022-10-10 14:56] #3755 closed

[2022-10-10 15:21] xudong963 commented on #3781
We can just change it to **left join**, and add logic to check if more than 1 row is returned in left join.

[2022-10-10 15:37] Dandandan commented on #3781
I don't think that's possible. A cross join is used as that doesn't require a join condition. The cross join is less efficient however, as it repeats the value for the scalar as much as there are values on the left side, and then uses that to filter on (which is less efficient than using a scalar in the filter).

[2022-10-10 16:03] xudong963 commented on #3781
Oh, my mistake. The tile is **uncorrelated** scalar subquery.

For correlated scalar subquery, we can change it to left join.

[2022-10-10 19:58] #3760 closed

[2022-10-10 20:02] Miyake-Diogo opened #3783 "Write csv not save all lines of dataframe"
**Describe the bug**
When I try to save dataframe as csv, only around 400K of lines are saved.. data has more than 1M of lines.

**To Reproduce**
My code:
[code]
Dataset:

[Age and sex by ethnic group (grouped total responses), for census usually resident population counts, 2006, 2013, and 2018 Censuses (RC, TA, SA2, DHB)](https://www3.stats.govt.nz/2018census/Age-sex-by-ethnic-group-grouped-total

[2022-10-10 21:19] #1192 closed

[2022-10-10 21:36] andygrove opened #3786 "Optimizer reduntant projections on casts with confusing alias"
**Describe the bug**

https://github.com/apache/arrow-datafusion/pull/3764 fixed one regression but introduced another.

I do not understand why this additional projection is being added.

## Before

[code]

## After

[code]

**To Reproduce**
No repro available yet

**Expected behavior**

**Additional context**

[2022-10-10 22:39] isidentical commented on #3518
Now benchmarking null buffer re-use code on top of #3762, I can see a ~%20 improvement on a very sparse array. It might be worth it, but I also have to benchmark without unsafe (one question would be whether it is fine to have an `unsafe` in the implementation for a relatively low speed-up).

[2022-10-10 23:53] andygrove opened #3789 "Optimize benchmark q2 subquery filter"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

@Dandandan noticed a difference between Spark and DataFusion logical plan for q2:

Instead of moving `partsupp.ps_supplycost = __sq_1.__value` to a filter, Spark adds it to the inner join instead.

Seems in the spark query this one is included in Inner join, instead of a filter:

[code]

That

[2022-10-11 03:40] andygrove opened #3791 "Optimizer casts decimals to different values on different platforms"
**Describe the bug**

See ignored test in https://github.com/apache/arrow-datafusion/pull/3790

**To Reproduce**

[code]

[2022-10-11 07:45] sarahyurick commented on #3408
If no one has picked this up yet, I would be happy to work on this.

[2022-10-11 07:53] Dandandan commented on #3408
I don't believe so. As mentioned in the comment, I believe it is a bug in `sqlparser` (in precedence values).

[2022-10-11 10:33] alamb opened #3793 "Improve coerce API so it doesn't need DF Schema"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to use the DataFusion `Expr` struct along with the expression simplification feature -- see https://github.com/apache/arrow-datafusion/issues/3708 and https://github.com/apache/arrow-datafusion/pull/3741 for examples / description of what this means

Type coercion is involved becau

[2022-10-11 11:00] alamb opened #3794 "When DataFusion optimizer rewrites an expression, it should not change the expressions "name" / "identity" / "alias""
**Background**

Every expression in DataFusion has a name, which is used as the *column* name. For example, in this example the output contains a single column with the name `"COUNT(aggregate_test_100.c9)"`:

[code]

These names are used to refer to the columns in both subqueries as well as internally from one stage of the `LogicalPlan` to another. For example

[code]

**Implication**

DataFusion

[2022-10-11 11:05] alamb commented on #3786
Note I tried to explain in https://github.com/apache/arrow-datafusion/issues/3794 why aliases are needed for optimizer rewrite passes in general.

This may also be related to https://github.com/apache/arrow-datafusion/issues/3770

[2022-10-11 12:20] #3683 closed

[2022-10-11 12:26] #3589 closed

[2022-10-11 12:28] andygrove opened #3795 "Filter predicates should not be aliased"
**Describe the bug**
It does not make sense to have a filter with an alias since it is not possible to reference filter predicates from other expressions.

Valid filter: `a > b`

Invalid filter: `a as foo > b as bar`

**To Reproduce**
I will have a PR up soon demonstrating this

**Expected behavior**

**Additional context**

[2022-10-11 13:08] andygrove commented on #3794
There are currently two ways to create a "name" for an expression in the logical plan.

[code]

I have seen that we sometimes use `name` when we should use `canonical_name` instead.

[2022-10-11 13:22] #3744 closed

[2022-10-11 13:33] andygrove opened #3797 "`type_coercion` internal error "cannot find compatible type""
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
in `planner.rs` stop skipping failing rules then run `cargo test`.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-10-11 13:51] liukun4515 commented on #3635
@alex-natzka Could you please take a look the test `multiple_or_predicates`, I think it is failed now.
https://github.com/apache/arrow-datafusion/blob/d72eb9a1c4c18bcabbf941541a9c1defa83a592c/datafusion/core/tests/sql/predicates.rs#L433

I ignore this test, because it will produce unexpected result. cc @alamb @andygrove
[code]

[2022-10-11 15:45] #3147 closed

[2022-10-11 15:57] alamb commented on #3671
I have started the blog post here: https://github.com/apache/arrow-site/pull/254

[2022-10-11 15:57] alamb commented on #3671
https://crates.io/crates/datafusion/13.0.0 is released to crates.io

[2022-10-11 19:00] alamb opened #3798 "datafusion-cli up to date check is failing on master"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The check added in https://github.com/apache/arrow-datafusion/pull/3745  is failing, likely due to a logical conflict

https://github.com/apache/arrow-datafusion/actions/runs/3228149657/jobs/5283868349

[code]

**Describe the solution you'd like**
A clear and concise description of what you wa

[2022-10-11 19:29] andygrove commented on #3783
@Miyake-Diogo So `part-0.csv` only has 400k lines but were there other csv files?

I tried running this code but it has dependencies that are not here:

[code]

Do you have this code in GitHub somewhere? I am happy to help debug if you have a public repro case.

[2022-10-11 19:47] andygrove commented on #3783
Here is a smaller repro case:

[code]

[code]

I tested with DataFusion 11, 12, and 13, and all have the same issue

[2022-10-11 19:50] andygrove commented on #3701
I see the same error using DuckDB:

[code]

CSV schema inference only looks at a subset of the file by default. You need to specify to scan the whole file or specify the schema yourself.

[2022-10-11 20:05] #3798 closed

[2022-10-11 20:07] andygrove commented on #3800
The plot thickens... I ran this unit test in df:

[code]

fails with:

[code]

so it appears we have 2 separate issues:

- schema inference on partial scan says field is non-null but there are nulls .. maybe that is fine
- errors seem to be consumed and ignored when reading csv and writing to another format

[2022-10-11 20:15] Dandandan commented on #3800
On the null issue, I think schema inference should default to assuming everything is nullable?

[2022-10-11 20:24] isidentical opened #3802 "Improve join cardinality estimation when there is no overlap in the min/max values"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
If the `min`/`max` value of any join equijoin columns are not overlapping, and if the propagated statistics are exact, we can infer that the join will not produce any results back. Requires #3787

**Describe the solution you'd like**
Propagate the information about the correctness of the input

[2022-10-11 20:25] andygrove commented on #3800
That would seem safer to me

[2022-10-11 20:31] #3762 closed

[2022-10-11 20:46] comphead commented on #3797
@andygrove what is expected behavior?
I can see 1 test `in_list_types()` failed but this is because the test itself is wrong.

`.project(vec![col("c12").lt_eq(lit(0.025)).in_list(list, false)])`
lt_eq returns boolean and the projection == `boolean in (string, boolean)` and expectedly failed.

We can remove this piece of test, as it doesn't make much sense

[2022-10-11 21:03] andygrove commented on #3783
@Miyake-Diogo The issue is that this error is happening:

[code]

I recommend specifying the schema for the file since it contains mixed types for this column.

You did not see the error due to a bug with the error being ignored and the fix for that issue is in https://github.com/apache/arrow-datafusion/pull/3801

[2022-10-11 21:05] andygrove commented on #3800
@Miyake-Diogo as with https://github.com/apache/arrow-datafusion/issues/3783, if you specify the schema rather than inferring the schema you will get past this issue.

[2022-10-11 21:35] #3623 closed

[2022-10-11 21:35] #3752 closed

[2022-10-11 21:57] isidentical opened #3803 "Leverage input array's null buffer for regex replace to optimize sparse arrays"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We can repurpose the input string array's null buffer directly on the specialized regex implementation so that we won't be spending time on re-building it.

**Describe the solution you'd like**
When we know only one input is an array (on the specialized case), we should be able to re-use the e

[2022-10-11 22:08] retikulum commented on #3615
Hi. While I was looking for good first issues, I found this one. I am not a professional developer (try to improve my rust skills) and it is my first try to contribute a project.

I would like to ask if i am doing things right. Sorry, if I waste your time.

Generally, how do you handle null?  I used ```Expr::Literal(ScalarValue::Int32(None))``` for this implementation.

First I added 0 / 0 conditi

[2022-10-11 23:01] Miyake-Diogo commented on #3783
Hi @andygrove , all codes are in this repo: https://gitlab.com/miyake-diogo/rust-big-data-playground
How can I specify Schema on read? I don't found any example on documentation...

[2022-10-11 23:17] #3800 closed

[2022-10-11 23:53] HaoYang670 commented on #3615
Thank you, @retikulum, for taking this.
There are 2 issues here.
1. If the divisor is a literal zero, we should return the `DivideByZeroError` directly, just like what we have done for the modulo operator: https://github.com/apache/arrow-datafusion/blob/master/datafusion/optimizer/src/simplify_expressions.rs#L822-L829
2. For the `A / A` case, my suggestion is to remove the rule `A / A -> lit(1)`,

[2022-10-12 08:32] Ted-Jiang opened #3805 "Run median expr on parquet file column got error"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-10-12 09:47] Ted-Jiang opened #3806 "Change tdigest centroids number for better accuracy"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have a lot of use in approx_percentile in our product. which base on `tdigest`,  we facing large amount data we face the issue which loss a lot accuracy.
In the paper,  centroids number means  how many sample data in your  `tdigest`, so i think we should increase centroids number default si

[2022-10-12 10:53] alamb commented on #3805
Likely related to expression renaming. Thanks for the report @Ted-Jiang

[2022-10-12 10:54] alamb commented on #3772
FYI @liukun4515

[2022-10-12 10:54] #3708 closed

[2022-10-12 12:17] alex-natzka commented on #3635
@liukun4515 looks like you needed to ignore the test for your previous PR #3636 . I'm a bit confused because, at least at first glance, it looks like the `actual` output is not wrong. (I didn't look very thoroughly at this complicated expression, though.) Also, the unexpected test output seems unrelated to the wrong extra columns that the `CommonSubexprEliminate` optimizer rule created, which is n

[2022-10-12 12:28] alex-natzka commented on #3635
@liukun4515 , after staring at the actual output for a longer while, I realize that there is a double projection above the filter, which is indeed unexpected:

[code]
The projection on the second line seems completely unnecessary.

Sorry, seems like I solved a different problem than what you meant :/ Unfortunately, I'm not familiar enough with this optimization rule to fix this. At least it _seems

[2022-10-12 12:49] alex-natzka commented on #3635
Looks like `CommonSubexprEliminate` creates the second projection which is initially _before the filter node_, but then the filter gets pushed down, c.f. the ordering of optimization rules here: https://github.com/apache/arrow-datafusion/blob/61c38b7114e802f9f289bf5364a031395f5799a6/datafusion/optimizer/src/optimizer.rs#L153-L162

I just tried and I get a more sensible execution plan in the test `

[2022-10-12 13:07] andygrove commented on #3794
I have stolen the great content in this PR and included it in https://github.com/apache/arrow-datafusion/pull/3788

[2022-10-12 13:31] andygrove opened #3807 "Make `Expr` enum consistent with `LogicalPlan` by using structs for each variant"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
See the discussion at https://github.com/apache/arrow-datafusion/issues/2175 for background context, but the basic issue is that there are different styles between `LogicalPlan` and `Expr`.

## LogicalPlan

Each variant in LogicalPlan wraps a struct. The structs typically have `try_new` method

[2022-10-12 13:36] alamb opened #3808 "Consolidate `Expr` manipulation code so it is more discoverable and make it easier to use"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Code to handle manipulating conjunctions (`AND`) and disjunctions (`OR`) is sprinkled throughout the codebase making is harder to find as well as leading to duplication

It would also be nice to improve the ergonomics (like distinguishing between owned and unowned variants, for example). We h

[2022-10-12 14:21] liukun4515 commented on #3786
Maybe related to this issue https://github.com/apache/arrow-datafusion/issues/3635 which will produce redundant projection after run the optimizer

[2022-10-12 15:55] #3795 closed

[2022-10-12 16:57] andygrove opened #3812 "Release process: Add instructions on Apache Reporter"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or sc

[2022-10-12 17:22] comphead commented on #3722
@andygrove I can take this, this requires change in planner and in zillion of tests

Reg to repeated aliases like
`let sql = "SELECT COALESCE(NULL, 'test'), COALESCE(NULL, 'test')";`

we can add name col with some index like `concat_0, concat_1` to prvent name collision

[2022-10-12 18:15] alamb commented on #3635
I agree -- this is a very nice writeup @alex-natzka  -- thank you (love the diagram).

Shall we make a PR that proposes switching the order of the passes (and add comments explaining why we do filter pushdown first)?

[2022-10-12 18:30] #3643 closed

[2022-10-12 19:21] isidentical opened #3813 "Never fallback to cartesian product for join estimation when we know the min/max values for columns"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`distinct_count` is usually expensive to compute, so some platforms which save parquet files abstain from injecting it at the metadata section. We should be able to estimate the join cardinality without it before falling back to cartesian product.

**Describe the solution you'd like**
Since we

[2022-10-12 19:29] Dandandan commented on #3813
I think it might be better to give in that case?

There is also this presentation about optimizing the order of joins without statistics available (which also seems to do fine for DuckDB). We could also see if we can reuse some of these ideas:

https://www.youtube.com/watch?v=aNRoR0Z3SzU

[2022-10-12 20:20] isidentical commented on #3518
@Dandandan should we close this issue as well since all the sub-issues are now resolved, #3613, #3762, #3803?

[2022-10-12 20:23] Dandandan commented on #3518
Thanks @isidentical that makes a lot of sense!
Thank you for all the improvements🙏

[2022-10-12 20:23] #3518 closed

[2022-10-12 20:42] #2374 closed

[2022-10-12 21:50] isidentical commented on #3518
Thank you for the amazing ideas / pointers and your reviews ❤️

[2022-10-12 23:42] #3740 closed

[2022-10-13 03:13] HaoYang670 commented on #3615
Thank you, @retikulum. Your test case makes sense to me. 👍

Sorry, we couldn't. Because `is_zero` only works for literals: https://github.com/apache/arrow-datafusion/blob/master/datafusion/optimizer/src/simplify_expressions.rs#L105.
If `A` is `col(a)`, `is_zero(A)` will always return false. In another word, the value of `col(a)` is unknown.

Yes, there might be some performance regression, but not

[2022-10-13 03:28] HaoYang670 commented on #3665
We can fix this bug without waiting for arrow-rs. I will file a PR.

[2022-10-13 06:32] waitingkuo commented on #3665
LGTM, thank you @HaoYang670

[2022-10-13 10:37] #3665 closed

[2022-10-13 10:42] #2683 closed

[2022-10-13 11:00] luobei42 opened #3819 "Left join not working?"
Just ran into an issue with a left join. The right table's result is missing, but that should work in a left join. Using datafusion==0.6.0 from python. The following is a small test case to reproduce the issue from python:

import pyarrow as pa
import datafusion

ctx = datafusion.SessionContext()

batch = pa.RecordBatch.from_arrays(
    [pa.array(a) for a in [
        [0, 1, 2, 3],
        ['Aldou

[2022-10-13 11:18] r4ntix opened #3820 "datafusion-proto deserialize with q16 sql fails"
**Describe the bug**
Serialize and Deserialize using q16 in benchmarks failed:
[code]
This problem was found in arrow-ballista's benchmarks test: https://github.com/apache/arrow-ballista/issues/330

**To Reproduce**
[code]
this code `logical_plan_from_bytes(&bytes, &ctx)?` fails.

**Expected behavior**

**Additional context**

[2022-10-13 11:23] retikulum commented on #3615
Thank you for your feedback. I will create a PR, if 0/0 and A/0 rules are correct and removing A/A is the last decision.

[2022-10-13 14:20] alamb commented on #3463
I plan to review the parquet test coverage over the next day or two

[2022-10-13 15:25] alamb opened #3821 "Allow configuring parquet filter pushdown dynamically"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I want to test out the parquet filter pushdown on real datasets using datafusion-cli so we can enable it by default -- https://github.com/apache/arrow-datafusion/issues/3463

To do so I want to both understand what the current setting of the pushdown flags are as well as change them statement

[2022-10-13 15:25] alamb commented on #3821
FYI @Ted-Jiang @thinkharderdev and @tustvold  -- I should have a PR up with this shortly (it rejiggers the config stuff to be more dynamic)

[2022-10-13 16:29] #3776 closed

[2022-10-13 17:27] tustvold commented on #3652
Yes, it is a merge operation

[2022-10-13 18:25] stormasm opened #3827 "chrono crate : specify 0.4.22 as the minimum version due to spurious build failures"
Compiling datafusion-benchmarks v13.0.0 (/Users/ma/j/tmp06/arrow-datafusion/benchmarks)
error[E0277]: the trait bound `chrono::datetime::DateTime<chrono::offset::utc::Utc>: std::default::Default` is not satisfied
   --> benchmarks/src/bin/parquet_filter_pushdown.rs:284:24
    |
284 |         last_modified: Default::default(),
    |                        ^^^^^^^^^^^^^^^^ the trait `std::default::D

[2022-10-13 19:00] andygrove commented on #3827
I can reproduce this on mac but not linux

[2022-10-13 19:01] alamb commented on #3463
The PR that enables the feature is https://github.com/apache/arrow-datafusion/pull/3828 and it looks quite promising

Also, I have a proposed config change that I would like to get in, https://github.com/apache/arrow-datafusion/issues/3463, which would allow users to quickly disable this feature if they found issues

[2022-10-13 19:04] andygrove commented on #3827
I ran `cargo update`:

[code]

This resolved it, so we probably need to specify 0.4.22 as the minimum version

[2022-10-13 19:10] stormasm commented on #3827
I blew everything away and started over and this time I no longer see the issue...

[2022-10-13 19:57] stormasm commented on #3827
I love rust !

The only place we check in a Cargo.lock file is here:
datafusion-cli/Cargo.lock

Because we do not check in a Cargo.lock file anywhere else
the error that I was seeing shows up...

Because my Cargo.lock file had chrono version 0.4.19

Once you blow target away and start over it reproduces (I think)
what @andygrove did with the cargo update command...

So some developers will see my

[2022-10-14 02:50] ZuoTiJia opened #3830 "Using the window function lag causes panic."
**Describe the bug**

When I create a table and use the lag window function, it panics

**To Reproduce**
[code]

**Additional context**
Datafusion 13.0.0
MacBook Pro Apple M1

[2022-10-14 06:10] ZuoTiJia opened #3832 "Paniced at to_timestamp_micros function when the timestamp is too large."
**Describe the bug**
Paniced at to_timestamp_micros function.

**To Reproduce**

[code]

**Additional context**
DataFusion 13.0

[2022-10-14 10:20] Ted-Jiang opened #3833 "Support parquet page filtering for more types: String, Binary(Decimal), Int96"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

https://github.com/apache/arrow-datafusion/blob/144dcca360fd95c9bf33f38555fffcb2338b

[2022-10-14 10:26] Ted-Jiang opened #3834 "Support pushdown multi-columns in PageIndex pruning."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

https://github.com/apache/arrow-datafusion/pull/3780#discussion_r994625892

https://

[2022-10-14 21:01] retikulum commented on #3832
Hi. I think this problem is about [chronos timestamp_nano function](https://github.com/chronotope/chrono/blob/a62da032f94b8553d8860d777ed0166b5f8396af/src/offset/mod.rs#L397) because it uses i64. Datafusion convert microsecond to nanosecond and passed it to timestamp_nano function. `9065525203050843594` microsecond is `9065525203050843594000` and it doesn't fit into i64 and overflowed. You can als

[2022-10-15 11:16] #3460 closed

[2022-10-15 11:57] #3808 closed

[2022-10-15 13:27] Dandandan opened #3839 "Filter pushdown doesn't seem to apply for filter on TPC-H Q17"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
For q17 this is the optimized plan.
[code]

Looking at the filter `CAST(lineitem.l_quantity AS Decimal128(38, 21)) < __sq_1.__value` it seems this one can be pushed down one level below the join, as all fields are available before the join and it is an inner join.

**Describe the solution you'

[2022-10-15 13:46] #3577 closed

[2022-10-15 13:56] Dandandan opened #3840 "Move WHERE expression to join conversion to optimization rule"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
During optimization, we generate `filter` expressions that might benefit from being optimized to joins.

Currently, where filters like these `where left_column = right_column` are converted to joins in the SQL planner (in the function `plan_selection`).
We should have a rule that does the same

[2022-10-15 15:03] francis-du opened #3842 "[SQL] - Support cache/uncache table syntax"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently, DataFrame can cache tables in memory, but cannot cache DataFusion tables or views through SQL.

**Describe the solution you'd like**

I want to cache views and tables via `CACHE TABLE <table_name>` syntax like Spark SQL.At the same time, it is also necessary to support the `UNCACHE

[2022-10-15 15:34] Dandandan commented on #3842
How much different is this from `CREATE TABLE AS` (which currently also creates an in memory table)?

I am not necessarily against this, but I think the syntax is very spark-specific. We can do about the same currently?

[2022-10-15 15:48] francis-du commented on #3842
I looked at some code and I found `CREATE TABLE` is indeed possible to create an in-memory table. And also use`DROP TABLE` uncache in-memory table. 😢

[2022-10-15 15:50] francis-du commented on #3842
It doesn't look like it's necessary to support those syntax 😥

[2022-10-15 18:57] Dandandan opened #3843 "Implement nested join optimization"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
For complex queries, like those in TCP-H and TCP-DS it is essential to find a good Join order.
`HashBuildProbeOrder` implements a rule to optimize the probe / build side of joins, but this is only a `local` optimization.

We should implement an algorithm that (tries to) find a more global opti

[2022-10-15 19:23] Dandandan commented on #3839
My suggestion was Incorrect - moving it one level below is not possible.

[2022-10-15 19:48] #3839 closed

[2022-10-15 20:27] Dandandan opened #3845 "Implement statistics estimation for `FilterExec`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
@isidentical implemented more statistics-rules for joins. When a `FilterExec` is between a `TableScan` however, we do not return a join estimation yet.

**Describe the solution you'd like**
We should provide an estimation based on the filterexpressions and statistics information that we have.

[2022-10-15 20:28] isidentical commented on #3845
This was next on my list, so I'd be happy to work on it!

[2022-10-15 20:29] Dandandan commented on #3845
Awesome @isidentical I assigned you on this issue!

[2022-10-15 20:30] Dandandan commented on #3845
I would be very interested to see if we're getting any changes in TCP-H queries after this.

[2022-10-15 20:33] isidentical commented on #3845
Will be sure to include some benchmarks 👍🏻

[2022-10-15 21:02] Dandandan opened #3847 "Add collect statistics configuration"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, the collection of statistics is off by default. This means that any statistics-based optimization will not do anything.

**Describe the solution you'd like**
Introduce a setting for the collection of statistics, so it can be enabled by the user/consumer.

**Describe alternatives you

[2022-10-15 22:00] isidentical commented on #3847
Hit the same thing on #3774 too 😄

[2022-10-16 07:30] retikulum opened #3849 "Inconsistent Error Schema in DataFusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It is a discrepancy in error schema. It is discussed in #3824 that how should we handle errors and this is the follow-up issue. For example, `A / 0` returns `DivideByZero` however `0 / 0` returns `NULL`

**Describe the solution you'd like**
Determine a consistent behavior.

[2022-10-16 08:59] Dandandan commented on #3774
I wonder if it ever can be enabled by default for parquet datasets.
The downside for parquet is that when using remote object storage, collecting of statistics takes quite a bit of IO, slowing down simple queries.

I guess at some point we have to switch testing with Delta Lake or Apache Iceberg I guess :)