[2021-11-12 05:37] liukun4515 commented on #1269
I think this is a bug for management of table metadata.
If the new table is not compatible or conflict with existing table, datafusion should throw error and provide error type.

[2021-11-12 07:14] roeap commented on #1269
I'd be happy to give this a shot, but would need to understand the desired behaviour a bit better. i.e. should an error be returned only if the table is registered via the context, or should this be pushed down to the catalogue/schema level?

[2021-11-12 17:59] alamb commented on #91
This has been since fixed:

[code]

[2021-11-12 17:59] #91 closed

[2021-11-13 07:29] xudong963 commented on #1269
Yes, I agree, I tested in pg.
FYI
[code]

[2021-11-13 09:29] Jimexist commented on #1269
isn't that just about name conflict? no matter if the new schema is compatible or conflict with the existing one it shall not be allowed

[2021-11-13 11:43] liukun4515 commented on #1228
hi @xudong963 , please at me, if you finish this task and want someone to review it.
Maybe i can begin this [task](https://github.com/apache/arrow-datafusion/issues/1281), after your refactoring work.

[2021-11-13 11:53] xudong963 commented on #892
If I read right, the issue has been solved? https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/sql/planner.rs#L691

[2021-11-13 12:13] liukun4515 commented on #1269
Yes.
In the user side, user should get the error message which can provide the error type.
In the PG, db will give the error message like “table name already exists"

[2021-11-13 12:14] liukun4515 commented on #1269
we should forbid this in the SQL parse phase.

[2021-11-13 13:25] alamb commented on #1269
I suggest we support the postgres model here (it does not seem to have `create or replace table`)

[code]

[code]

That way it is super clear that we aren't replacing tables and the user has to explicitly drop the existing one

Bonus points for supporting `create table ... if not exists`, but perhaps as a follow on PR

[2021-11-13 13:26] alamb commented on #1269
Here is what postgres does:

[code]

[2021-11-13 13:31] liukun4515 commented on #1269
I can give another pull request to implement the `drop table foo` and `create table .... if not exists`

[2021-11-13 23:58] houqp opened #1293 "sql planner creates cross join instead of inner join from select predicates"
**Describe the bug**

tpch query 8 is taking a long time to execute in ballista because one of its table joins in the subquery is planned as a cross join.

**To Reproduce**

[code]

**Expected behavior**

The query should be planned into the following join statements:

[code]

**Additional context**

Recreated from https://github.com/apache/arrow-datafusion/issues/892

[2021-11-13 23:59] houqp commented on #892
You are right @xudong963. I think there is a bug in that rewrite that resulted in inefficient cross join in an edge-case. I filed https://github.com/apache/arrow-datafusion/issues/1293 to track that problem instead.

[2021-11-13 23:59] #892 closed

[2021-11-14 00:55] houqp commented on #440
Thanks @pjmore . The DSL looks pretty great, I was thinking about this while reviewing your initial PR the other day. Perhaps something you can upstream to egg as well?

I also agree with @Dandandan that we can merge your code into the main repo early without having to wait for it to be feature complete. Can't wait for this cool feature to land in master :)

[2021-11-14 01:35] xudong963 commented on #1293
Let me continue to follow it! @houqp

[2021-11-14 02:03] houqp commented on #890
rc0 tag pushed, working on automation to package and sign python wheels now. once that's done, i will send out the request for vote email.

[2021-11-14 06:51] #1286 closed

[2021-11-14 08:16] liukun4515 commented on #122
Thanks for the feedback.
I will begin to support `DECIMAL` datatype.
Please assign this issue to me @alamb

[2021-11-14 11:04] bkmgit opened #1296 "Allow release check script to use sha512sum and sha256sum"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

shasum is not supported on all Linux distributions though sha256sum and sha512sum may be available

**Describe the solution you'd like**

Check for availability of shasum and if not available use sha256sum or sha512sum

**Describe alternatives you've considered**

None at present.

**Addition

[2021-11-14 18:58] #1296 closed

[2021-11-14 19:15] bkmgit opened #1298 "Add draft release email"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
add draft vote release result email

**Describe the solution you'd like**
Add a draft vote result release email

**Describe alternatives you've considered**
no other alternatives

**Additional context**
no other context

[2021-11-14 19:34] jon-chuang commented on #1221
Regarding shuffling, I saw in some benchmarks for [TiDB's distributed query engine](https://www.youtube.com/watch?v=mmzoSkEhYrA) (incidentally also relying on columnar storage) that an MPP style shuffle seemed to produce better results than map reduce style of Apache Spark. I think there are some open questions, such as whether Java could be the cause of this discrepancy. But maybe it's also worth

[2021-11-15 03:42] mingmwang commented on #1221
Can you please explain the "data locality" requirements a little more ? I think for normal source tasks which read data from remote storage(cloud storage or Hdfs), there is no data locality. And for shuffle readers which have to read data from all map tasks, there is no data locality either.

[2021-11-15 03:51] mingmwang commented on #1221
Actually I'm working on a MPP style shuffle implementation, most of the coding part is done and I'm doing the testing.
I'm not sure whether the community need this feature or not.

[2021-11-15 04:04] houqp opened #1301 "Assign stats per partitioned file"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

https://github.com/apache/arrow-datafusion/commit/2454e468641d4d98af211c2800c0afec2732385b removed statistics field from `PartitionedFile` struct. It looks like there is no way to associate statis per file in our current design?

**Describe the solution you'd like**

Some table formats like d

[2021-11-15 04:05] houqp commented on #1301
@rdettai perhaps I am missing something here, are we managing these per file stats somewhere else now?

[2021-11-15 05:23] xudong963 opened #1302 "Extract `Projection`, `Filter`, `Window` in LogicalPlan as independent struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some discussions in https://github.com/apache/arrow-datafusion/issues/1228

**Describe the solution you'd like**
like https://github.com/apache/arrow-datafusion/pull/1290

**Describe alternatives you've considered**
The task is mechanical, however, it is ideal for newcomers to famili

[2021-11-15 05:25] xudong963 commented on #1302
@houqp Please add the `good first issue` label.

[2021-11-15 05:29] xudong963 opened #1303 "Extract `Aggregate`, `Sort`, `Join` in LogicalPlan as independent struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some discussions in #1228

**Describe the solution you'd like**
like #1290

**Describe alternatives you've considered**
The task is mechanical, however, it is ideal for newcomers to familiarize themselves with datafusion's build, test, and PR processes.

**Additional context**
If you

[2021-11-15 05:31] xudong963 opened #1304 "Extract `CrossJoin`, `Repartition`, `Union` in LogicalPlan as independent struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some discussions in #1228

**Describe the solution you'd like**
like #1290

**Describe alternatives you've considered**
The task is mechanical, however, it is ideal for newcomers to familiarize themselves with datafusion's build, test, and PR processes.

**Additional context**
If you

[2021-11-15 05:32] xudong963 opened #1305 "Extract `EmptyRelation`, `Limit`, `Values` in LogicalPlan as independent struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some discussions in #1228

**Describe the solution you'd like**
like #1290

**Describe alternatives you've considered**
The task is mechanical, however, it is ideal for newcomers to familiarize themselves with datafusion's build, test, and PR processes.

**Additional context**
If you

[2021-11-15 05:35] xudong963 opened #1306 "Extract `CreateMemoryTable`, `DropTable`, `CreateExternalTable` in LogicalPlan as independent struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some discussions in #1228

**Describe the solution you'd like**
like #1290

**Describe alternatives you've considered**
The task is mechanical, however, it is ideal for newcomers to familiarize themselves with datafusion's build, test, and PR processes.

**Additional context**
If you

[2021-11-15 05:36] xudong963 opened #1307 "Extract `Explain`, `Analyze`, `Extension` in LogicalPlan as independent struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some discussions in #1228

**Describe the solution you'd like**
like #1290

**Describe alternatives you've considered**
The task is mechanical, however, it is ideal for newcomers to familiarize themselves with datafusion's build, test, and PR processes.

**Additional context**
If you

[2021-11-15 05:38] xudong963 commented on #1228
I split six sub-issues, newcomers can join us by participating in these issues.

[2021-11-15 05:55] liukun4515 commented on #1306
I can take on this issue.

[2021-11-15 06:39] houqp commented on #1221
I'm not sure whether the community need this feature or not.

I am very interested in this, do you mind sharing with us when it's ready?

[2021-11-15 07:11] ic4y commented on #1302
can you assign me to this issue ?

[2021-11-15 07:13] Dandandan commented on #1302
@ic4y done!

[2021-11-15 09:50] liukun4515 commented on #1305
I think this issue can be merged with #1306

[2021-11-15 09:53] xudong963 commented on #1305
To avoid PR being too big, I split them and very PR has about 200 lines. This will be relaxed for reviewing.

[2021-11-15 10:00] liukun4515 commented on #1305
CREATE TABLE AND DROP TABLE are all DDL SQL.
How about exchange the `CreateExternalTable ` with `Values `? @xudong963

[2021-11-15 10:04] xudong963 commented on #1305
done

[2021-11-15 11:54] #1269 closed

[2021-11-15 12:02] #1298 closed

[2021-11-15 12:12] alamb commented on #1221
I was thinking of a plan such as the following. There may be cases when reshuffling between scan/filter and aggregate is worthwhile (e.g. to distribute the load better) I think the cost of reshuffling will mostly end up dominating any savings

[code]

[2021-11-15 15:02] #591 closed

[2021-11-15 16:47] ic4y opened #1312 "A problem about the projection_push_down optimizer gathers valid columns"
**Describe the bug**
why gather all columns needed for expressions in this Aggregate by using aggr_expr, rather than schema.
An error occurs when the schema is generated by a custom optimizer and does not match the column name in aggr_expr.

https://github.com/apache/arrow-datafusion/blob/0b6db52435c7c955b51e44de8a3eae58e53716d0/datafusion/src/optimizer/projection_push_down.rs#L292-L305

Nothing w

[2021-11-15 17:34] rdettai commented on #1228
Thanks for your work @xudong963 ! Sorry for getting into the conversation so late but I was in vacations these past two weeks 😉

A few remarks and questions:
- why do we need to do all these changes to implement `PartialEq` (and `PartialOrd`) here? Why don't we just add an `fn eq(&self, other: & dyn TableProvider) -> bool` method on `TableProvider` and a then implement manually the `PartialEq` tra

[2021-11-15 20:01] roeap opened #1313 "[Question] Usage of async object store APIs in consuming code"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

From what I can gather from the codebase, it seems the synchronous APIs are exclusively used when  using the object store. At least in my experience, the SDKs for remote object stores have asynchronous methods as primary APIs. Furthermore invoking a synchronous method inside async is straight

[2021-11-15 23:43] xudong963 commented on #1228
Hi @rdettai, long time no see. Thanks for your feedback.

Now, this is not just a question of subqueries, but a question of which design is better.

During my implementation of subqueries, I encountered some obstacles due to the current pattern.

[code]
So I started to think about the disadvantages of this pattern.

First of all, I think the following pattern is more common in Rust, such as https:

[2021-11-16 06:22] houqp commented on #1228
Thanks @xudong963 for the detailed write up.

This to me is my favorite benefit :+1: This effectively means if a series of function calls needs access to a particular plan node, we only need to match on LogicalPlan once, resulting in more readable and performant code.

[2021-11-16 06:39] yjshen commented on #1313
Hi @roeap , the current usages of sync version of object store API in DataFusion are because Parquet/CSV/JSON/Avro readers/writers in arrow-rs are all constructed based on `std::io::{Read, Seek, SeekFrom, Write...}` APIs, which are all sync trait.

We could certainly move to use the async version of object store when the file format reader/writers are re-implemented using async API.  Please refer

[2021-11-16 06:49] houqp commented on #1312
I think this is probably written with the assumption that schema is always in sync with aggr_expr. @ic4y could you give a more concrete example on how a custom optimizer would change the schema without updating aggr_expr?

[2021-11-16 07:37] ic4y commented on #1312
@houqp
Like the following, I added group by for distinct Aggregate, and then deleted distinct in count. At this time, aggr_expr has changed, but I don’t want to rewrite the schema, because subsequent Plan Nodes will use this schema like ProjectionNode

[code]

[2021-11-16 07:55] rdettai commented on #1228
Thanks for taking the time to answer my set of questions! Makes sense to me now 🙂.

[2021-11-16 08:45] rdettai commented on #1301
You are correct, we are not managing the per file statistics anywhere. Neither do we have per partition statistics. The only granularity at which we are managing statistics **(for now)** is at the `ExecutionPlan` node level:
[code]

This means that there is no point in providing higher granularity statistics to the `ExecutionPlan`, it wouldn't know what to do with it 😄. The idea is that anything y

[2021-11-16 09:27] roeap commented on #1313
Thanks @yjshen, thanks for your answer and certainly I will try to have a look at arrow-rs and see if I can contribute there. From what I understand in arrow2 a lot of work has already been done and should serve as a nice basis. To that extend I saw that there has been some work done already migrating to arrow2 in this project. It this still being worked on, and if so, does it make sense to contri

[2021-11-16 11:17] yjshen commented on #1313
@roeap Yes, we have the migration experiment to arrow2 in https://github.com/apache/arrow-datafusion/pull/68. Currently, the PR is slightly lagging from the master branch, especially for the recently added "ListingTable" that uses the object store API. If you want to start from there, the first thing might be to catch up with the master branch. Then arrow2 already has an async Parquet reader that

[2021-11-16 11:37] #1085 closed

[2021-11-16 11:39] alamb commented on #1228
Yes, I think this is the primary benefit of pulling LogicalPlan nodes into their own structs  (not that it is required for subqueries -- I think we could probably make that work somehow -- but that this will make the codebase cleaner in the longer term

[2021-11-16 11:47] xudong963 commented on #1307
The issue contains `Extension`, so I'll solve the issue tonight. Then I'll continue to push subqueries.

[2021-11-16 12:07] roeap commented on #1313
I guess given the above, I would start by trying to provide async read/write in arrow-rs inspired by the work in arrow2. Subsequently I'd be happy to contribute to maintaining an arrow2 branch until it becomes an official asf project. Are there currently any plans to create a branch in this repo for arrow2, or would contributions land on the current external branch?

[2021-11-16 14:10] capkurmagati opened #1316 "Aggregate function with expr panics when `from table` is absent"
**Describe the bug**
A clear and concise description of what the bug is.
Aggregate function with expr panics when `from table` is absent

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]

**Additional context**
Add any other context about the problem here.

It doesn't panic when the source table

[2021-11-16 17:09] matthewmturner commented on #1303
ill give this a shot

[2021-11-16 17:17] xudong963 commented on #1303
Thanks! @matthewmturner

[2021-11-17 03:53] xudong963 opened #1320 "Optimizing queries with multiple aggregations where one Is aggregating on DISTINCT"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Inspired by #1315, I think we can also do the optimization.

**Describe the solution you'd like**
Ref: https://www.qubole.com/blog/presto-optimizes-aggregations-over-distinct-values/

**Describe alternatives you've considered**
No

**Additional context**
Related PR: #1315

[2021-11-17 06:41] houqp commented on #890
Vote passed and I have pushed the release tags into Github. The release steps requires PMC member access. @alamb @andygrove @jorgecarleitao @kszucs could one of you follow the steps in https://github.com/apache/arrow-datafusion/tree/master/dev/release#finalize-the-release to complete the release?

[2021-11-17 06:43] houqp commented on #890
@Jimexist we should be able to update datafusion-cli in homebrew as well.

[2021-11-17 06:49] Jimexist commented on #890
https://github.com/Homebrew/homebrew-core/pull/89562

[2021-11-17 08:16] aguspdana opened #1321 "Sql query `LEFT JOIN WHERE right IS NULL` return unexpected result."
**Describe the bug**

[code]

This query returns only rows where `left.a` is `NULL`, which should also return any rows where `left.a` don't exist on `right.b`.

**To Reproduce**

[code]

Result:

[code]

**Expected behavior**

On PostgreSQL this query returns
[code]

**Additional context**

The logical plan of the SQL query:

[code]

Looking at the logical plan I believe this is due to FilterPushD

[2021-11-17 10:11] Jimexist opened #1323 "implement `set_agg` aggregation function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

now that we have #1085 we can have `set_agg` as well. we can follow [presto][2]'s convention

**Describe the solution you'd like**

to have an aggregate function to set aggregate a group

**Describe alternatives you've considered**

alternative is to have array_distinct as in [trino][1]

**Ad

[2021-11-17 11:27] alamb commented on #890
@houqp  I will do so now. Thank you for all the work in this regard

[2021-11-17 12:12] xudong963 commented on #1321
Yes, but this feature is on the agenda, related issue:  https://github.com/apache/arrow-datafusion/issues/1209

[2021-11-17 12:52] Jimexist opened #1324 "move datafusion-python to the contrib org?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

a question on whether we should move the Datafusion-python crate into the datafusion-contrib org - to make the core development of Datafusion more efficient and loosen up coupling.

not sure if this is doable under the current apache repo setup.

**Describe the solution you'd like**
A clear a

[2021-11-17 12:52] Jimexist commented on #1324
cc @alamb @jorgecarleitao @Dandandan @houqp or anyone else who might be concerned

[2021-11-17 13:52] liukun4515 commented on #1323
Maybe i can try this issue.

[2021-11-17 14:33] xudong963 commented on #1321
FYI, I'm trying to figure it out.

[2021-11-17 14:39] #904 closed

[2021-11-17 14:48] #1307 closed

[2021-11-17 16:57] alamb commented on #1312
This sounds very similar to https://github.com/apache/arrow-datafusion/issues/1316, which @viirya is working on in https://github.com/apache/arrow-datafusion/pull/1319 I believe

[2021-11-17 17:17] xudong963 commented on #1321
Yes, you are right. We need a special handle `NULL` in `FilterPushDown`, more specific in https://github.com/apache/arrow-datafusion/blob/bcd12589ee8f428cd860e0eefd3f225ed6293817/datafusion/src/optimizer/filter_push_down.rs#L250.
(LOL, I have to say, null is a real pain in the neck in DBMS)

BTW, `RIGHT JOIN` also has the bug.

[2021-11-17 19:27] houqp commented on #890
Thanks @alamb ! I just noticed I forgot to add `(cd datafusion-cli && cargo publish)` in the release doc, could you help run that command as well? I will send a PR to get the doc updated later today.

@andygrove @jorgecarleitao @kou @kszucs @xhochy we will need your help to publish the python binding to PyPI since only you are listed as maintainers of the PyPI package. The steps are documented at

[2021-11-17 20:26] xhochy commented on #890
I'd rather give more people access to PyPI ;)

[2021-11-17 20:27] kou commented on #890
I'm trying.

I found a typo in the document:

[code]

 Use [twine](https://pypi.org/project/twine/) to perform the upload.
[code]

[2021-11-17 21:07] houqp commented on #890
+1 :D

Good catch @kou , I will include that fix in my docs PR. The version diff is expected because we want them to be decoupled so we can release major version change in the python binding without forcing a major version bump in datafusion.

[2021-11-17 21:19] kou commented on #890
OK. I've published them: https://pypi.org/project/datafusion/0.4.0/

I found one more typo:

[code]

[2021-11-17 21:27] houqp commented on #890
Thank you @kou ! I will include that fix in my docs PR as well :)

[2021-11-17 21:27] #890 closed

[2021-11-17 21:27] houqp commented on #887
0.4.0 has been released to PyPI

[2021-11-17 21:27] #887 closed

[2021-11-17 21:28] houqp commented on #480
oh god, can't believe this took 2 months :D 0.4.0 is in PyPI now.

[2021-11-17 21:28] #480 closed

[2021-11-18 01:52] liukun4515 commented on #1323
@Jimexist do we have a plan for implement the function or agg?
Another question is which SQL protocal we use? Is pg or mysql?

[2021-11-18 03:08] xudong963 commented on #1323
DataFusion strives to implement a subset of the PostgreSQL SQL dialect where possible

[2021-11-18 03:16] liukun4515 commented on #1323
But i can't find the `set_agg` in the pg document, just find it in the presto doc.

[2021-11-18 03:24] Jimexist opened #1327 "implement grouping sets, cubes, and rollups"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

a challenge to design and implement `grouping set`s, `cube`s, and `rollup`s.

**Describe the solution you'd like**

similar to https://www.postgresql.org/docs/current/queries-table-expressions.html#QUERIES-GROUPING-SETS

**Describe alternatives you've considered**
A clear and concise descript

[2021-11-18 03:26] Jimexist commented on #1323
no it's not. i guess you can choose either:
1. `set-agg`
2. `array-distinct` operator wrapping `array-agg`

i believe 1 is more efficient

[2021-11-18 03:44] Jimexist commented on #1327
I guess a modification to sqlparser is also needed?

[2021-11-18 03:53] liukun4515 commented on #1221
@mingmwang  you can file a draft pr.

[2021-11-18 03:59] liukun4515 commented on #1323
I think we should better add a document to list function or operation we support.

[2021-11-18 06:26] houqp commented on #1324
I believe this is doable, just like how the java binding is maintained. It will certainly make releases easier for both the python binding and datafusion core. I don't have a strong opinion either way :)

[2021-11-18 06:50] houqp commented on #1313
Yes, we do have plan to maintain an arrow2 branch until @jorgecarleitao thinks arrow2 is ready, see: https://github.com/apache/arrow-datafusion/pull/68#issuecomment-929750339.

I think we should be ready to merge https://github.com/apache/arrow-datafusion/pull/68 into a new arrow2 branch after another round of merge with the current master. I am going to switch back to the arrow2 port this weekend

[2021-11-18 08:20] Jimexist opened #1328 "`function` module in python binding is broken in 6.0"
**Describe the bug**

the `function` module in python binding is broken in 6.0

**To Reproduce**

[code]

**Expected behavior**

expect the `function` module to be only one level below `Datafusion`.

**Additional context**

related
1. #856
2. #873

[2021-11-18 08:23] houqp commented on #1328
@Jimexist this was intentional, see https://github.com/apache/arrow-datafusion/pull/1287#discussion_r748150353.

[2021-11-18 08:24] houqp commented on #1328
I don't have a strong opinion on this though, if you think there is a valid use-case for having the functions module, we can add it back.

[2021-11-18 08:25] houqp commented on #1328
https://github.com/apache/arrow-datafusion/pull/1287#discussion_r748150353 is the comment that made me change my mind on my original PR :)

[2021-11-18 08:25] Jimexist commented on #1328
so you are saying that we should use:

[code]

instead of
[code]

[2021-11-18 08:28] Jimexist commented on #1328
ah I see now that I can do

[code]

[2021-11-18 08:29] houqp commented on #1328
`from datafusion import functions as f` should still work, it's just that `datafusion.functions` won't work anymore.

[2021-11-18 08:31] houqp commented on #1328
oh, i see what confused you. yeah, it would be better if `dir` works with `functions` module :(

[2021-11-18 11:59] alamb commented on #890
Hi @houqp

I tried to publish `datafusion-cli` and I got the following error. It looks like datafusion-cli relies on ballista somehow

[code]

[2021-11-18 12:02] alamb commented on #1324
I think moving the python  bindings out of the core repo is a good idea and I would be happy to help. The downside is that it will take some concerted effort by the people maintaining the python bindings to keep up with DataFusion

I do want to be honest that I personally and professionally am not likely to spend much / any time on the python bindings once it leaves the arrow-datafusion crate

[2021-11-18 12:03] alamb commented on #1324
(I think moving the code out of Apache is totally fine -- bringing it back in requires a bit more -- like an Intellectual Property clearance process)

[2021-11-18 12:12] #1306 closed

[2021-11-18 13:11] Jimexist commented on #1324
I think it's okay (and even preferred) for people to focus more. if you are not going to spend too much time on the python binding because it is not at the moment useful to you or your work then it possibly also means that keeping the crate under this repo brings more unwanted overhead for maintenance - in that case moving out sounds like a better idea. if this applies to a lot more people then i

[2021-11-18 14:47] pdet opened #1329 "DuckDB Comparison - Questions + Bug"
**Describe the bug**
Hi all,
I'm currently writing up a blog post on our recent DuckDB/Arrow integration. I was recommended  to check your project since
(I think) DuckDB and Datafusion are the only systems out there consuming and producing memory Arrow Objects  :-)

I just have a couple of questions and a small bug report.

1. It seems to me that Datafusion is not consuming streaming arrow objects

[2021-11-18 15:11] Jimexist commented on #562
this is done now

[2021-11-18 15:11] #562 closed

[2021-11-18 18:10] #1304 closed

[2021-11-18 19:41] houqp commented on #890
oh yeah, it supports ballista as a way to perform remote query execution. @alamb looks like we haven't published the ballista crates yet? could you do that first by following https://github.com/apache/arrow-datafusion/tree/master/dev/release#publish-on-cratesio?

[2021-11-18 20:20] jorgecarleitao commented on #1329
Dandandan summarized it well. Note that there are other systems using Arrow beneath them. E.g.

* [signavio](https://www.signavio.com/)
* [IOx](https://github.com/influxdata/influxdb_iox)
* [dremio](https://www.dremio.com/)
* [polars](https://www.pola.rs/)
* [databend](https://github.com/datafuselabs/databend)
* ask the Arrow dev mailing list for more?

There is also this popular comparison betwee

[2021-11-18 21:15] alamb commented on #890
Done (updated instructions in https://github.com/apache/arrow-datafusion/pull/1331)

Turns out I still can't upload datafusion-cli package:

[code]

I will file a ticket

[2021-11-18 21:16] jgoday commented on #1268
Hi @Jimexist, I have made a PR  for this issue #1330.
It adds a new command (QuietMode) for the datafusion-cli.

[2021-11-18 21:17] alamb opened #1332 "Can not publish `datafusion-cli` package to crates.io: expected at most 5 keywords per crate at line 1 column 3441"
**Describe the bug**
While trying to publish the `datafusion-cli` package to crates.io I got the following error:

[code]

**To Reproduce**
[code]

**Expected behavior**
Upload should work

[2021-11-18 21:26] alamb commented on #1329
There is also a substantial list of "powered by" Arrow systems at https://arrow.apache.org/powered_by/

Something else which may be obvious, but I wanted to make explicit, is that that DataFusion doesn't have its own "native" storage format in the way that DuckDB or other DBMS systems do -- DataFusion is a  query engine that can be used if you have your data in Arrow record batches (or want to loa

[2021-11-18 22:09] alamb commented on #1321
This is a good analysis @xudong963  -- thanks for filing the bug @aguspdana

Yes, I agree -- we can't push predicates that are not "null safe" down the non preserved side of an OUTER JOIN (because the join will still produce a single row for rows where the join condition isn't true for any input, but a filter will remove that row)

[2021-11-18 22:13] #1227 closed

[2021-11-19 07:57] liukun4515 opened #1335 "The returned type of abs is error."
**Describe the bug**

In the pg database, the abs support varchar data type

But the result in the datafusion is
[code]

In other size, the returned type of abs is the input type.

If the input type is int, the returned type must be the int.

If the result data is out of range, PG will throw error message.

[code]

but in the datafusion, it convert the `-2147483648` to INT64

[code]

**To Reproduc

[2021-11-19 07:57] liukun4515 commented on #1335
Please assign this issue to me.

[2021-11-19 09:16] Ted-Jiang opened #1336 "Make scheduler prefer assign the task with same jobId to same executor"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In current code, each poll work request will scan all waiting task in the same name space.https://github.com/apache/arrow-datafusion/blob/d7ae8c2631b5ea86ac2328530f0a4745daaf0bda/ballista/rust/scheduler/src/state/mod.rs#L283

``
plan1 -> shuffle wirte -> plan2
``

Seems p1 and p2 run on the sa

[2021-11-19 10:07] pdet commented on #1329
Hey guys,  thanks for the quick answers and suggestions :-)
Also, one thing that I really enjoyed about your project is the easy usability, it literally took me a couple of minutes to get a tpc-h query running, coming from database-server-land this always amazes me!

@Dandandan

For sure, I think this is one of the most interesting aspects of being able to zero-copy an in-memory data storage forma

[2021-11-19 10:13] #1282 closed

[2021-11-19 17:04] andygrove opened #1340 "Improve the Ballista crates.io / docs.rs documentation for the example code"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I just tried out the official Ballista 0.6.0 release by following the instructions shown [here](https://crates.io/crates/ballista) and [here](https://docs.rs/ballista/0.6.0/ballista/).

Overall, this was really great and this is the first Ballista release that is easy to try out via `cargo ins

[2021-11-19 19:44] #1305 closed

[2021-11-20 07:50] jon-chuang opened #1341 "Benchmark `constellation-rs/amadeus`'s parquet implementation"
We might want to use `constellation-rs/amadeus`'s parquet, which claims a 1.5-17x speedup, or maybe even attempt to merge it upstream.
One should also consider just how big of an overhead we are talking about when it comes to reading parquet files and how this relates to Ballista's persistence story.

[2021-11-20 08:24] houqp commented on #1341
What they have seems just like a fork of what's in arrow-rs, I doubt it will be faster than @jorgecarleitao 's parquet2/arrow2 implementation ;)

[2021-11-20 08:45] liukun4515 opened #1342 "Optimizer: IS NULL optimization"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The expr `column is null` can be optimize if the column is not null in the schema.

[2021-11-20 08:49] liukun4515 commented on #1342
@Dandandan  please assign this to me.

[2021-11-20 09:47] jon-chuang commented on #1341
Ah, I see, ok, I'll take a look at that :)

[2021-11-20 11:04] xudong963 opened #1343 "NULLS ORDER is inconsistent with postgres"
**Describe the bug**
https://github.com/apache/arrow-datafusion/pull/1339#discussion_r753655676

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
https://www.postgresql.org/docs/current/queries-order.html

[2021-11-20 11:28] alamb commented on #1342
@liukun4515  note this optimization is only valid prior to any OUTER joins (and maybe other operators) -- you would have to check

So like if x is non null,

[code]
Can be rewritten to
[code]

However,

[code]

Can NOT be rewritten to
[code]

The same general pattern applies in the select list

[2021-11-20 11:29] alamb commented on #1342
BTW I suggest adding this rule to https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/optimizer/constant_folding.rs if possible

[2021-11-20 12:59] #1159 closed

[2021-11-20 13:13] liukun4515 commented on #1342
The idea is from [is null optimize](https://dev.mysql.com/doc/refman/8.0/en/is-null-optimization.html).
I think the `is null` optimization has no side effect if the column has `not null` constraint.
But the `is not null` optimization should be checked with more cases, I will do it in the followup pull request.

[2021-11-20 19:42] houqp commented on #1341
for parquet2, you can play around with it with the code in https://github.com/apache/arrow-datafusion/pull/68. I am also curious how amadeus' implementation performs.

[2021-11-20 22:06] #1343 closed

[2021-11-21 07:12] #1268 closed

[2021-11-21 15:15] jgoday commented on #1340
Hi, I have created this PR #1346 for this issue.

[2021-11-22 02:24] #1340 closed

[2021-11-22 02:44] ic4y commented on #1312
I used projection output relation alias to solve this problem

[2021-11-22 02:44] #1312 closed

[2021-11-22 03:23] liukun4515 commented on #122
- [ ] create external csv table with decimal data type in SQL parse and logical plan.
- [ ] select column with decimal datatype
- [ ] support function(example min,max,count,sum)
- [ ] support expr evaluation (using in select, filter and other clause)
- [ ] support cast

[2021-11-22 03:23] houqp commented on #1332
bad news is if we need to release a new version of datafusion cli, we will need to bump datafusion to 7.x because we have breaking change already merged since 6.0.0 :( @alamb @andygrove @Jimexist @Dandandan  what do you think about moving cli also out of the core repo so it can be released at a higher frequency?

Alternatively, we could vote for a datafusion 6.1.0 release, but not actually publish

[2021-11-22 03:25] houqp commented on #883
this is now blocked by https://github.com/apache/arrow-datafusion/issues/1332

[2021-11-22 07:19] liukun4515 commented on #1335
After survey, in the PG, we can use the function ob ABS to INT,BIGINT,FLOAT,DOUBLE,VARCHAR,DECIMAL and other datatype. The result type is complex, Maybe other mathematical functions also have the same issue.
I will give a general solution to resolve it.

[2021-11-22 09:14] novemberkilo commented on #156
Hi - I would like to take on this issue please. // @alamb

[2021-11-22 11:52] alamb commented on #1332
I think we could make a special `datafusion-cli` release branch (and branch from the 6.0.0 tag) and apply whatever changes were needed rather than having to release whatever is on `master` .

I find `datafusion-cli` very useful so I would like to keep it in the `arrow-datafusion` repo.

However, we could potentially just release it under a different versioning scheme, which might make sense too
ht

[2021-11-22 11:55] #1332 closed

[2021-11-22 12:03] #1302 closed

[2021-11-22 20:59] houqp opened #1351 "Support Filter on unprojected columns"
**Describe the bug**

`SELECT a FROM table WHERE b > 0` will throw an error in datafusion because `b` is not a projected column.

**To Reproduce**

Try to filter on unprojected column

**Expected behavior**

`SELECT a FROM table WHERE b > 0` should work without error.

**Additional context**

https://github.com/roapi/roapi/issues/110

[2021-11-22 21:05] houqp commented on #1332
good idea, a special release branch also works :+1:

[2021-11-22 21:59] #1316 closed

[2021-11-23 00:24] #572 closed

[2021-11-23 02:32] liukun4515 commented on #122
In order to implement decimal in datafusion, we should ref some data type rules, like [spark data type](https://spark.apache.org/docs/3.2.0/sql-ref-datatypes.html) and [type coercion](https://spark.apache.org/docs/3.2.0/sql-ref-ansi-compliance.html#type-promotion-and-precedence).
Now, the numerical data type just support some native type and the type coercion rules are simple. if we add the decima

[2021-11-23 06:27] Jimexist opened #1352 "documentations for datafusion-cli can be consolidated a bit more"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

currently there are two sections addressing usage in CLI, one in markdown and one in ast - i think we should consolidate them
<img width="374" alt="Screen Shot 2021-11-23 at 14 25 53" src="https://user-images.githubusercontent.com/622789/142979501-3b7c1ac8-1f34-4916-9654-89fea4aed4dd.png">

*

[2021-11-23 08:04] houqp commented on #1301
@rdettai good point, I agree with you that TableProvider is the right place to manage per file stats, and thus file level pruning.  This will be another datafusion in datafusion use-case where the `scan` method will need to write custom code to evaluate the passed in filter expressions against collected file stats.

[2021-11-23 08:04] #1301 closed

[2021-11-23 09:45] novemberkilo commented on #156
I've had a look around and see the `length` kernel being used in the implementation of `OctetLength` which appears to be tested specifically on the string `josé` here: https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/functions.rs#L2554-L2561

I could use some help with understanding this issue please -- what is the desired outcome -- should the assertion in the t

[2021-11-23 11:41] #1228 closed

[2021-11-23 11:41] #1303 closed

[2021-11-23 19:06] alamb commented on #122
https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/expressions/coercion.rs
and
https://github.com/apache/arrow-datafusion/blob/4687899957463ce81c4795a6d35d31320db0252b/datafusion/src/physical_plan/type_coercion.rs
are the two places I know of in DataFusion today that do this type coercion

On Mon, Nov 22, 2021 at 9:33 PM Kun Liu ***@***.***> wrote:

[2021-11-23 19:25] alamb commented on #156
Hi @novemberkilo  -- I think you are correct that this ticket is ill formed

Specifically, since this ticket was filed, DataFusion appears to have both `CharacterLength` as well as `OctetLength`, perhaps due to the great work from @seddonm1

https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/functions.rs#L225

Closing this one as I don't think it is actionable anym

[2021-11-23 19:25] #156 closed

[2021-11-24 01:01] liukun4515 commented on #122
yep, Now I just try to support some simple demo code for decimal. For example function(min,max) and just Projection the column with decimal data type (without any operation and functions)

The rule of conversion in the above two files should be refactored, If we want to align the behavior with PG database exactly.

In the PG database, decimal and other numerical data type can be convert to each ot

[2021-11-24 07:02] viirya commented on #1351
Is there any other condition? I tried to run a query like `"SELECT id FROM alltypes_plain WHERE int_col > 0"`, but seems it works.

[2021-11-24 07:10] viirya commented on #1351
Also ran with csv, and mem table, still cannot reproduce it.

[2021-11-24 07:20] viirya commented on #1170
Hmm, I actually saw `LogicalPlan::Values` in constant folding optimizer rule now. Is this already resolved?

[2021-11-24 07:39] viirya commented on #1170
Ran a test:

[code]

Looks it already did constant folding?

Maybe we just need to add the test?

[2021-11-24 13:53] liukun4515 opened #1356 "The framework about expression type coercion"
**Describe the bug**
In the [Implement DECIMAL type](https://github.com/apache/arrow-datafusion/issues/122), I want to implement the decimal data type in datafusion.

In the survey period, I take a look the type coercion in the current datafusion, and find some confused points.

For example:
- `AggFunction`

[code]

In the expression evaluation, we need to coercion the expr and calc the result typ

[2021-11-24 14:12] liukun4515 commented on #1356
By the way, I think there is a [bug](https://github.com/apache/arrow-datafusion/blob/645a7f484435d7182d88a541ac8cdf8b079b7714/datafusion/src/physical_plan/aggregates.rs#L138).

[code]

The `args` is the original physical exprs, and the `arg` is the coerced physical exprs.
In order to get the result type, we need replace

[code]
with

[code]

In the [functions.rs](https://github.com/apache/arrow-da

[2021-11-24 16:08] matthewmturner commented on #743
@alamb i believe we can mark task 2 completed now. If you agree then I can start looking at 3

[2021-11-24 20:11] viirya commented on #1248
Recently I've tried to make a stab at this. As `RecordBatch` is widely used across the codebase, replacing them with `DFRecordBatch` makes a lot of changes. I'm wondering if this is expected or there is a way to limit the scope of change but I'm not aware of?

[2021-11-24 21:58] alamb commented on #1248
I would indeed expect it to be a substantial change across the codebase. I don't have any magic suggestions to reduce the potential impact

[2021-11-24 22:02] alamb commented on #1356
I agree that the `coercion` framework is a bit messy at the moment. It might help to start refactoring by collecting the coercion logic into a single module with some clearly defined entrypoint.

Perhaps something like
[code]
With appropriate comments and tests

[2021-11-24 22:03] alamb commented on #122
I think this is a great idea -- taking stock / consolidating the existing coercion logic might be a good place to start (before you try to extend it to support Decimal)

[2021-11-24 22:05] alamb commented on #1356
BTW I would love to help centralize the coercion logic -- I have ideas / plans to make it support coercing to/from NULL which is currently a gap.

[2021-11-24 22:15] alamb commented on #1170
Thanks @viirya  -- yes I think the general purpose constant folding implementation we have now should handle the Values. Thanks for the test !

[2021-11-24 22:15] #1170 closed

[2021-11-25 00:59] liukun4515 commented on #1356
Now, the `coercision` is in the physical plan or physical expr generation period, but in the spark and other SQL system this action is in the logical period. @alamb

[2021-11-25 01:07] liukun4515 commented on #1356
Can you explain or give more details?

[2021-11-25 03:29] liukun4515 commented on #1356
Now all the coercion logic are in one the rule file, and it can't fit many case. For example
[code]
Now all the coercion logic are in one the rule file, and it can't fit many case. For example
I think we can create a new mod for coercion and type inferring.
The new mod should be `pub crate` and should not public to out of the `datafusion` crate.

I think we should create diff coercion rule for dif

[2021-11-25 05:47] liukun4515 commented on #1356
In the binary expr, the input has the `op type` and `left,right expr`, we need these three component to get the `result type` and `coercion`;

In the build-in function expr, the input has the `function type` and `exprs`, we need these three component to get the `result type` and `coercion`.

The `AggregateFunction` is the same as above.

[2021-11-25 05:49] liukun4515 commented on #1356
@andygrove @Jimexist @Dandandan  @houqp PTAL

[2021-11-25 07:37] liukun4515 opened #1358 "Why use the expr types before coercion to get the result type?"
https://github.com/apache/arrow-datafusion/blob/15db29153aefc9b759ec03e6eeab8cb9ebf87781/datafusion/src/physical_plan/functions.rs#L1144

In order to get agg phy expr,  we need to coerce the input exprs(may need to add try_cast to wrap the expr), so the types of
coerced exprs is diff with the types of input exprs.

In the below code, we also need to use the coerced exprs and coerced types to gener

[2021-11-25 11:07] andrei-ionescu opened #1359 "Reading Parquet file with `int96` results in overflow panic"
**Describe the bug**
Reading Parquet file with `int96` results in panic with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Download the attached zip file that contains the parquet file: [data-dimension-vehicle-20210609T222533Z-4cols-14rows.parquet.zip](https://github.com/apache/arrow-datafusion/files/7601988/data-dimension-vehicle-20210609T222533Z-4cols-14rows.

[2021-11-25 12:30] andrei-ionescu commented on #1359
I did one more test by saving the `dimension_load_date` column as `int64` in the parquet file. I got a similar overflow panic error:
[code]
The complete error output
[code]

[2021-11-25 13:09] andrei-ionescu commented on #1359
I did run some more tests and ultimately I found the issue: two of the rows in the parquet file contains the `9999-12-31 02:00:00` in the `dimension_load_date` column.

This is supported by Parquet and Spark.

Here is the content of the parquet file:
[code]

[2021-11-25 13:19] andrei-ionescu opened #1360 "Reading Parquet file with timestamp column with `9999` year results in overflow panic"
**Describe the bug**
Reading Parquet file with timestamp column containing a future date like `9999-12-31 02:00:00` year results in overflow panic with the following output:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Download the attached zip file that contains the parquet file: [data-dimension-vehicle-20210609T222533Z-4cols-14rows.parquet.zip](https://github.com/apache/arrow-da

[2021-11-25 13:20] andrei-ionescu commented on #1359
Should I close this ticket since I opened #1360 ticket for a better specificity?

[2021-11-25 13:29] andrei-ionescu commented on #1359
Closing issue, I created a more specific one here: #1360.

[2021-11-25 13:29] #1359 closed

[2021-11-25 15:24] tustvold opened #1361 "ProjectionExec Loses Field Metadata"
**Describe the bug**

`ProjectionExec` does not preserve field metadata when generating the projected schema. I believe this will also cause it to lose dictionary information for the field.

I think fixing this will require extending PhysicalExpr with a `fn field(&self, input_schema: &Schema) -> Result<Field>;` or similar to replace the [current logic](https://github.com/apache/arrow-datafusion/bl

[2021-11-25 16:51] lst-codes commented on #83
Is it expected that datafusion cannot currently read parquets with nested objects at all, even if we never utilize the column? While attempting to read a parquet that has a nested object, I get an error because `arrow_reader::get_schema` returns num_fields counting nested objects as a single field, but `row_groups.columns` flattens and has more columns than `num_fields` returns.

Should the abilit

[2021-11-25 19:12] jorgecarleitao commented on #1360
fwiw, both spark and pyarrow give the wrong result in different ways.

## pyarrow

[code]

[code]

## spark

While it provides the correct result in your case, it only reads up to microseconds (i.e. it truncates nanoseconds). See [source code](https://github.com/apache/spark/blob/HEAD/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/util/DateTimeUtils.scala#L184), the `nanos / NANOS_PER_M

[2021-11-25 20:50] andrei-ionescu commented on #1360
Here are multiple things to discuss.

Even though `INT96` is deprecated it is not yet removed from Parquet and still used in Spark. By default Spark 3 comes with the `spark.sql.parquet.outputTimestampType` option set by default to `INT96`. There are lots of parquet file created with columns having the `INT96` type even though they may contain values that fit into `INT64`. I would say that it would

[2021-11-25 21:09] andrei-ionescu commented on #1360
Here are the values returns regardless if is `INT96` or `INT64`:
[code]

Pretty consistent.

[2021-11-25 21:36] jorgecarleitao commented on #1360
Point taken wrt to the int96 deprecation.

The datetime "9999-12-31" is `253402214400` seconds in unix timestamp:

[code]

in nanoseconds, this corresponds to `253402214400 * 10**9 = 253_402_214_400_000_000_000`. The maximum `i64` in Rust [equals to](https://doc.rust-lang.org/std/i64/constant.MAX.html) `9_223_372_036_854_775_807i64`. Comparing the two, we have:

[code]

This was the rational I use

[2021-11-25 21:54] jorgecarleitao commented on #1360
I boiled down the conversion in a minimal example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a092c28cbab66265843990de833b570)):

[code]

where `2932896` is the number of days of "9999-12-31" since epoch:

[code]

[2021-11-26 03:10] liukun4515 commented on #1356
@jorgecarleitao Do you have time to take look it?

[2021-11-26 03:10] liukun4515 commented on #1358
cc @jorgecarleitao

[2021-11-26 08:46] ic4y opened #1362 "An invalid piece of code in hash_aggregate"
**Describe the bug**
An invalid piece of code in hash_aggregate.
I didn't find any use of `group_by_values`
https://github.com/apache/arrow-datafusion/blob/414c826bf06fd22e0bb52edbb497791b5fe558e0/datafusion/src/physical_plan/hash_aggregate.rs#L364-L370

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
If this is indeed invalid, I will delete it

**Additional context**
Add

[2021-11-26 10:44] Dandandan opened #1363 "Major performance regression in reading partitioned Parquet data on master"
Reading (partitioned) Parquet data got slower, when executing parquet data.

It seems to have started with #1010 - the commit before doesn't have the performance regression.

This is visible when running TPCH benchmarks, for example, executing query 6 became much slower.

I am not sure what the cause is - it would help to find the commit where the "slowness" was introduced.

_Originally posted by

[2021-11-26 10:49] Dandandan commented on #1363
@rdettai It seems the PR https://github.com/apache/arrow-datafusion/pull/1010 introduced this regression.

Do you have any idea maybe what the cause could be?

[2021-11-26 10:57] Dandandan commented on #1362
Looks to me like it is unused, old code indeed. Good find :+1:

[2021-11-26 11:05] rdettai commented on #1363
Hi @Dandandan, sorry if its #1010 that created this regression. I think I only ran the TPCH on CSV for performance testing. Did you do your tests on the latest of master? after https://github.com/apache/arrow-datafusion/pull/1347 was merged?

[2021-11-26 11:20] Dandandan commented on #1363
@rdettai

No problem - just want to figure out what could be the reason :)!

So far I tested:

* master - performance regression
* 2454e468641d4d98af211c2800c0afec2732385b  - regression
* d2d47d38b8c1b4605272d7f917406527cdf68bc9 - fast again

For TPCH I remember collecting stats doesn't have a big effect now, as data is very evenly distributed, and I think also doesn't take a long time to collect

[2021-11-26 11:42] alamb commented on #1356
Yes, this is something @jorgecarleitao  wrote -- I think it originally came in as part of https://github.com/apache/arrow/pull/8024, which has much more of the rationale. Other systems I have worked on do the coercion at the `LogicalPlan` / `Expr` level, but I think doing coercion at the `ExeuctioPlan` / `PhysicalExpr` level makes sense too. Unless we discover some compelling reason to move coerci

[2021-11-26 12:14] tobyhede opened #1364 "Documentation for using scalar functions with the the DataFrame API"
I've framed this as a documentation feature request, but it is also a request for assistance. I''ve been attempting to get the `starts_with` function working with the Dataframe API and after banging my head for a couple of hours I am a bit stumped as to how to make it actually work.

**Describe the solution you'd like**
More documentation and extended examples for the Dataframe API that include us

[2021-11-26 12:30] andrei-ionescu commented on #1360
Thank you @jorgecarleitao!

I do understand that the nanos, that is expressed as `INT96` in parquet and supported by other frameworks, do not fit into the `i64` rust type hence the `overflow` panic.

From my calculations, the current implementation over `i64` can hold up to `2262-04-11T23:47:16.854Z` with nanosecond precision. And since `9999-12-31` is 7000 yers over that max date time it fails wi

[2021-11-26 12:37] xudong963 commented on #1364
Hi @tobyhede, thanks for your interest in Datafusion.
I think you can find all DF API usages in https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/dataframe.rs which has rich notes.

[2021-11-26 12:55] xudong963 commented on #1363
Off-topic: how about introducing bench results in every PR?

[2021-11-26 13:17] liukun4515 commented on #1356
Yes, now we have not meet some issues which should change the coercion to logical period. if we meet them, we can discuss this again.

I think we have aligned that we can split coercion logic into a independent mod (one sub directory in the `physical_plan` directory).
I will try to implement the Agg function to as a sample.

[2021-11-26 14:25] rdettai commented on #1363
One possible reason might be that #1010 introduces the use of the `ObjectStore`: https://github.com/apache/arrow-datafusion/blob/414c826bf06fd22e0bb52edbb497791b5fe558e0/datafusion/src/physical_plan/file_format/parquet.rs#L408-L411

The abstraction requires the use of **dynamic dispatch on the reader** (`fn sync_chunk_reader(&self,start: u64, length: usize) -> Result<Box<dyn Read + Send + Sync>>`)

[2021-11-26 15:10] Dandandan commented on #1363
@rdettai It seems changing `Read` into `BufRead` everywhere seems mostly to recover the performance here. Does that make sense to you to do at this place?

[2021-11-26 15:14] Dandandan commented on #1363
Hm - maybe too early. it seems that for query 6 this brings it down to the roughly the earlier performance, but for other queries it's doing even worse :thinking:

[2021-11-26 15:36] Dandandan commented on #1363
FTR - this is the entire diff:

[code]

[2021-11-26 15:49] rdettai commented on #1363
Interesting fact:
Before #1010, the `read_partition` method was where 99% of the time was spent:
[code]

After #1010, this is not the case anymore, but `read_partition` itself is also slower:
[code]

So everything is slowed down, both on the thread where the reading occurs and in the Tokio threads... WeEEeeIiiiIrd 😅

[2021-11-26 16:11] Dandandan commented on #1363
I opened a PR here https://github.com/apache/arrow-datafusion/pull/1366/files so you can have a look too.

It seems the slowdown of query 10 might be unrelated to the reading performance.

[2021-11-26 16:52] Dandandan opened #1367 "TPC-H q10 performance regression (expression for filter with added alias is not pushed down)"
**Describe the bug**
Fastest I get on master is 10s. After https://github.com/apache/arrow-datafusion/pull/1366 it's around 7s,
This used to be <2s.
Looking at the plan it looks like some filters are not pushed down successfully `(o_orderdate@9 >= 8674 AND o_orderdate@9 < 8766 AND l_returnflag@13 = R`)

After #1319 we added some alias to constant folding. Might be good to only do this for `Project

[2021-11-26 17:14] Dandandan commented on #1367
It seems it might be related to https://github.com/apache/arrow-datafusion/pull/1319

[2021-11-26 22:04] tobyhede commented on #1364
Thanks @xudong963. The core docs are very good, but don't seem to include any examples of using the scalar functions  `lower, upper, starts_with, etc` . I've been trying permutations with no luck.

eg My assumption (based on the equality operators) was that something like this should work:
[code]

In the above, `starts_with` isn't found in the scope.

[2021-11-27 10:44] novemberkilo commented on #134
@alamb @houqp I am interested in working on this once you've helped specify (it a bit) better :)

[2021-11-27 11:29] alamb commented on #83
This seems like a valuable addition to me (allowing queries on parquet files that had nested objects but were not read)

Well of course, supporting queries on the data would be better than just not crashing/erroring when they weren't read :) I think the choice of approach is probably best determined by whoever implements this feature

[2021-11-27 11:39] alamb commented on #1367
I think it would be wise to add a test for TPCH plans to datafusion, so that any changes in the plans are apparently when the changes are made.

[2021-11-27 13:51] Dandandan commented on #1367
Yes - fully agreed.

[2021-11-27 14:03] Dandandan commented on #1363
Yes - some continuous benchmarking would definitely be something valuable and could avoid regressions.

[2021-11-27 14:36] #1363 closed

[2021-11-28 01:18] tobyhede commented on #1364
Digging further, it looks like the root cause here is a bug in the functions - many are being constructed without the correct arity.

[2021-11-28 03:44] pjmore commented on #1293
This looks like the same issue that affects the performance of TPCH 9. Using the example from @houqp  and the solution I outlined in #77 gives:
[code]

[2021-11-28 05:01] hntd187 commented on #1361
So I was looking into this, how do you expect things like BinaryExpr to work here? Do you expect them to merge the column metadata?

[2021-11-28 06:53] houqp opened #1372 "Support Sort on unprojected columns"
**Describe the bug**

`SELECT a FROM table ORDER BY b` will throw an error in datafusion because b is not a projected column.

The error can be reproduced with the following dataframe code as well:

[code]

**To Reproduce**

Try to sort on unprojected column.

**Expected behavior**

`SELECT a FROM table ORDER BY b`  should work without an error

**Additional context**

https://github.com/roapi/roa

[2021-11-28 06:54] houqp commented on #1351
Thanks @viirya for looking into this, turns out I filed the wrong the ticket :man_facepalming:  I filed https://github.com/apache/arrow-datafusion/issues/1372 to replace this one.

[2021-11-28 06:54] #1351 closed

[2021-11-28 11:35] tustvold commented on #1361
I guess I was expecting that the Column expression would preserve field metadata, and all other expressions would continue to do what they currently do. Part of the challenge is that ProjectionExec can be used for more than just basic column projection due to its formulation in terms of expressions. This isn't necessarily a problem, but I'd just to be able to project a schema without losing field

[2021-11-28 12:50] #1362 closed

[2021-11-28 14:09] alamb opened #1377 "Add tests for TPCH explain plans to avoid regressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have had performance regressions in the TPCH plans due to plan changes (e.g. https://github.com/apache/arrow-datafusion/issues/1367)

In order to avoid this situation in the future, we would like to have the explain plans committed as tests (so we can evaluate any changes to those plans as

[2021-11-28 14:25] alamb commented on #1358
if the question is "should we use the argument types after coercion" that seems to make sense to me, but I haven't thought about it all that much

[2021-11-28 14:25] #1329 closed

[2021-11-28 17:23] viirya commented on #1377
BTW, does the tpch crate mean the benchmarks? Otherwise I don't find a tpch crate here.

[2021-11-28 18:40] #1367 closed

[2021-11-29 01:15] liukun4515 opened #1379 "The data type is not compatible with other system, for example spark or PG database"
**Describe the bug**
In the [doc](https://github.com/apache/arrow-datafusion#supported-data-types), we can know the datatypes supported in the datafusion.

In other system, such as [PG database](https://www.postgresql.org/docs/9.5/datatype.html) and [spark](https://spark.apache.org/docs/latest/sql-ref-datatypes.html), the systems just support signed numeric datatypes.

But in the datafusion, we ca

[2021-11-29 01:54] liukun4515 opened #1380 "real data type is float32 in PG database, but in the datafusion it is as float64"
**Describe the bug**
In the PG database, the `real` datatype is as the float32, but it is as float64 in the datafusion.

Do we need to be consistent with PG database in the point?

1. https://github.com/apache/arrow-datafusion/blob/3bf5811b9a275b7ce6792867a5c1fa230a880742/datafusion/src/catalog/information_schema.rs#L416
2. https://github.com/apache/arrow-datafusion/blob/414c826bf06fd22e0bb52edbb4

[2021-11-29 11:16] liukun4515 commented on #1358
This an invalid issue, [this line](https://github.com/apache/arrow-datafusion/blob/15db29153aefc9b759ec03e6eeab8cb9ebf87781/datafusion/src/physical_plan/functions.rs#L1144) is my intention.
The return data type should get from the input expr types and not from coerced expr types

[2021-11-29 11:27] alamb commented on #134
I think that since @andygrove  filed https://issues.apache.org/jira/browse/ARROW-11020 this one he would probably need to weigh in on what he had in mind.

The `ParquetExec` implementation has changed fairly significantly in the last few months (e.g. https://github.com/apache/arrow-datafusion/pull/1141) as well; Perhaps @rdettai  has some ideas of areas that need better test coverage

[2021-11-29 11:30] alamb commented on #1377
Yes, I think that is right.

So perhaps we could add some sort of test in  https://github.com/apache/arrow-datafusion/blob/master/benchmarks/src such as `benchmarks/tests/plans.rs` that used the queries in https://github.com/apache/arrow-datafusion/tree/master/benchmarks/queries.

We could probably adapt lots of https://github.com/apache/arrow-datafusion/blob/master/benchmarks/src/bin/tpch.rs

[2021-11-29 11:31] alamb commented on #1367
🎉

[2021-11-29 11:46] alamb commented on #1358
@liukun4515  are you suggesting we close this issue?

[2021-11-29 22:42] andrei-ionescu opened #1383 "Reading nested parquet files results in `index out of bounds`"
**Describe the bug**

Reading nested parquet files results in `index out of bounds` error as seen bellow:

[code]

**To Reproduce**

1. Download attached zipped parquet file and unzip it: [nested_schema_1row.parquet.zip](https://github.com/apache/arrow-datafusion/files/7621703/nested_schema_1row.parquet.zip)
2. Place it in a `./data` folder
3. Execute the following code:

[code]

4. The result is

[2021-11-30 00:23] sergiimk opened #1384 "Support `register_parquet` from a list of files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Current API (`register_parquet`) allows only to specify a single parquet file, or an entire directory (prefix).

There are cases where application has **extra knowledge** that can help narrow down the list of files needed to execute a query to a much smaller subset - e.g. reduce the number of

[2021-11-30 00:27] liukun4515 commented on #1384
Does your files is end with `.parquet`？
Now the list options just can accept parquet fileformat file with `.parquet` extension.

[2021-11-30 00:31] sergiimk commented on #1384
No, my files don't have an extension.
Hard-coded `.parquet` extension is a different (smaller) problem that I managed to work around.

[2021-11-30 04:11] #1267 closed

[2021-11-30 06:34] houqp commented on #1384
@sergiimk with the new API, we are supposed to perform the file listing pruning inside TableProvider's scan method like this https://github.com/delta-io/delta-rs/blob/44fff8f50563c7d3d89866e2b93025541765a08e/rust/src/delta_datafusion.rs#L240. You shouldn't need to touch objectstore since this abstraction is supposed to agnostic to table layouts and file formats.

[2021-11-30 07:38] liukun4515 commented on #1358
Yes, i will close it.

[2021-11-30 07:38] #1358 closed

[2021-11-30 19:12] sergiimk commented on #1384
Thanks @houqp, I ended up trying both ways and agree custom `TableProvider` is a better option.

I implemented my own version of `ListingTable` - `PreListedTable`, that takes a Vec of paths. The problem is the amount of code duplication.

`ListingTable` does many more things in addition to scanning files:
- splitting them up into partitions
- collecting file statistics
- building physical plan

Al

[2021-11-30 20:15] AdheipSingh commented on #1383
i am also getting similar error, i have nested json arrow record batch and converting arrow to parquet files.

somehow i am not able to query nested json in parquet file.

[2021-11-30 22:21] andrei-ionescu commented on #1383
There is another fact: DataFusion has its own parquet reader - it does NOT use the [Arrow-RS/Parquet native](https://github.com/apache/arrow-rs/tree/master/parquet) implementation. I have no idea why is it so.

[2021-12-02 03:18] gaojun2048 opened #1389 "Start ballista ui with docker, but it can not found ballista scheduler"
**Describe the bug**
Start ballista ui with docker, but it can not found ballista scheduler

**To Reproduce**
Steps to reproduce the behavior:
I clone the core from master branch. And then use `./dev/build-ballista-docker.sh` and `./dev/build-ui.sh` finished the docker image build.
I start the image with a docker-compose.yaml , it`s the content:

[code]

The docker container is start success. But

[2021-12-02 04:04] liukun4515 commented on #1380
@alamb @houqp  do you think we should make consistent with the PG [datatype](https://www.postgresql.org/docs/current/datatype-numeric.html) ?

[2021-12-02 04:16] liukun4515 commented on #1379
In the datafusion, the result type of some function or expr is unsigned numeric datatype. if we use the evaluation result as the `create table  as select xxxx`, we may get some table with unexpected data type compared with the [doc](https://github.com/apache/arrow-datafusion#supported-data-types).

@houqp @alamb

[2021-12-02 05:06] houqp commented on #83
perhaps we could use https://github.com/apache/arrow-datafusion/issues/1383 to track the issue of handling stats for nested types in parquet. For query on nested field, didn't @Igosuki already added the support for this? What is left to be done here?

[2021-12-02 05:09] houqp commented on #83
perhaps one of the remaining items would be supported nested fields in `physical_plan::Statistics`

[2021-12-02 05:11] houqp commented on #1383
I think this can be fixed with a quick and dirty workaround when we iterate through `row_group_meta.columns()` and only count top level fields by looking at repetition level.

We are using the parquet crate you linked right now.

[2021-12-02 05:58] houqp commented on #1379
I think this should be fine? Being a superset of postgres is still considered being compatible with postgers right? I.e. if users want to get the exact semantic in postgres, they can opt to only use signed numeric numbers as input. The only problem I see is we need to make sure to only return signed values for functions that might return value with different signs compared to the input so we don't

[2021-12-02 06:01] houqp commented on #1380
I think so considering we aim to be compatible with postgres

[2021-12-02 06:19] houqp commented on #1372
Doing a projection "push up" could be a quick workaround to enable this in datafusion. For example, in logical plan builder's `sort` method, we can detect whether any of the sort columns are missing in the input plan's schema, if not, we rewrite downstream projection plans by adding the missing sort columns, then add a new projection plan after the sort plan to remove the injected sort columns.

[2021-12-02 06:26] houqp commented on #1384
Yes, I think there is value in exporting those resusable code through public interfaces so we can maintain and optimize them together. Curious what @rdettai @alamb @Dandandan @jorgecarleitao @Jimexist @andygrove think about this.

[2021-12-02 06:37] houqp commented on #1367
nice catch @Dandandan :D

[2021-12-02 10:33] Igosuki commented on #83
The indexed map access code will work on the plan so the only thing the parquet reader has to do is simply deserialize nested structures recursively.
As long as there is a struct for string keys, or a list for int keys at the corresponding level, it will return the proper column.

@houqp I see that support in parquet2 was added (have not tested the arrow2 branch yet) https://github.com/jorgecarlei

[2021-12-02 11:57] andrei-ionescu commented on #1383
@houqp I can try get a swing at this issue.

[2021-12-02 12:47] andrei-ionescu commented on #1383
I've been looking at the source code and it seems that the statistics are taken into account only for the top level columns. In the majority of places I see `schema.fields()` were `schema` is Arrow schema and `fields()` returns only top level fields.

Parquet, on the other side have statistics for all columns, regardless of the nested level.

I do understand the "quick and dirty workaround" and in

[2021-12-02 22:42] alamb commented on #1379
I think this ticket is proposing to align datafusion more closely to postgres's types (e.g. produce `Int64` instead of `UInt64` as the result of a `count()` aggregate function), which seems like a reasonable improvement to me

I may misunderstand the intent, however

[2021-12-03 00:54] liukun4515 commented on #1379
@alamb @houqp The superset of the PG is a good point.
So we can just resolve the return value(`UInt64` to `Int64`) which should be signed in some functions.
Please assign this issue to me.

[2021-12-03 02:27] liukun4515 opened #1393 "support the decimal scalar value"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

part of #122

[In the discussion](https://github.com/apache/arrow-datafusion/issues/

[2021-12-03 12:15] a-agmon opened #1396 "Caching datasets in context [Question]"
Hi,
Is there a way to somehow cache a large CSV or Parquet file that was loaded to CTX in order to avoid reading it again each time?
What is the proper way to manage this in case you want to write something like a server that needs to answer multiple requests about the same file?

Thanks

[2021-12-03 16:03] xudong963 opened #1397 "Add RFCS for datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I think it's very good to have RFCs for datafusion.

**Describe the solution you'd like**
Before developing a big and meaningful feature, it's better to have an RFC ticket. Maybe we used Google Docs to do the similar thing before, but if have an RFC ticket, we can discuss it easier and more co

[2021-12-03 16:14] alamb commented on #1384
Yes I agree there is value to an API like 'just scan this list of parquet files' . In our IOx project we have a similar situation (we have a list of parquet files we want to scan that we determine using our own in memory metadata / catalog structures). In my opinion the more of such code can be shared in DataFusion the better (so we don't all end up implementing the same thing)

cc @tustvold

[2021-12-03 21:34] carols10cents opened #1398 "Turn off unused default features of chrono and ahash"
**Describe the bug**

Some features of chrono and ahash aren't used by datafusion. Disabling them gives projects depending on datafusion more choice in what features to enable.

**Additional context**
Add any other context about the problem here.

For chrono:

Chrono's default features contain "oldtime", which is deprecated.
According to [the docs](https://docs.rs/chrono/0.4.19/chrono/#duration),

[2021-12-04 07:35] houqp commented on #1396
I think we could add a caching option in context to automatically cache full table scans between runs

[2021-12-04 08:00] houqp commented on #1397
Thanks @xudong963 for bringing this up, we had some prior discussions around RFCs in https://github.com/apache/arrow-datafusion/pull/422. The idea at the time was that we would use a less formal spec format to keep track of design proposals. All specs are published to the datafusion official website as well for more visibility.

[2021-12-04 12:13] alamb commented on #1397
In my opinion, getting major RFCs into a single place and the community used to finding and contributing to them would be a major win.

My feeling / opinion is that at this point in DataFusion's process, the specific process for RFCs (e.g. the format, detail level, etc) can be quite loose. Getting the habit and communication started is the most important part -- we can hone the details as we go.

[2021-12-04 15:31] alamb commented on #1389
Thanks for the report @gaojun2048  -- @andygrove @edrevo @houqp  any thoughts? I don't really have much experience with Ballista so I am not sure what is supposed to happen here

[2021-12-04 15:34] alamb commented on #1396
I suspect it is also possible perhaps to use `CREATE TABLE AS SELECT` for this purpose

Something like

[code]

[code]

[2021-12-04 15:48] alamb opened #1400 "Duplicated content in Readme and User Guide -- should we consolidate"
**Describe the bug**
There appears to be duplicated content / overlap between

https://github.com/apache/arrow-datafusion/blob/master/docs/source/user-guide/ (which is eventually published to https://arrow.apache.org/datafusion/ )

and https://github.com/apache/arrow-datafusion/blob/master/README.md

I worry that the content is diverging (e.g. with the list of supported SQL)

**Expected behavior**

[2021-12-04 15:48] alamb commented on #1400
Any thoughts @houqp  / @Jimexist ?

[2021-12-04 16:00] xudong963 commented on #1400
I think it's enough to keep `Datafusion`, `Use Cases`, `Why DataFusion?`, `Known Uses`, `Example Usage`, `Using DataFusion as a library`, `Using DataFusion as a binary`, `Roadmap`, `Architecture Overview`, `Developer's guide` in README (maybe fewer parts), others will be better to move into user guide. Then README will be concise and highlight the key points.

[2021-12-04 16:06] xudong963 commented on #1397
Strongly agree, hone the details as we go!

Yes, we can make a directory named doc/RFCs, and add signage in  https://github.com/apache/arrow-datafusion/blob/ab41d8187d25b24af73d56d03ac166a5498922bc/docs/source/community/communication.md#contributing to guide people to see our RFCs.

[2021-12-04 16:25] a-agmon commented on #1396
Thanks @alamb
But would it be saved or cached in mem for subsequent access?

[2021-12-04 17:10] Dandandan commented on #1396
At this moment it will be cached, as it's using `MemTable` to load the data.
However, I think it's likely it will store the data in the future to a persistent location / format (parquet) by default. By then we need to add some option in the SQL syntax to store the results in memory.

[2021-12-04 17:12] Dandandan commented on #1396
We could take some inspiration from Spark, where you can `.cache()` or `persist()` a DataFrame.

[2021-12-04 19:27] pjmore commented on #1293
I believe this is the same issue that affects TPCH 9. Namely that the planner does not recognize inner joins through a table. In #77 I sketched out a solution that I think should work which gives the plan:
[code]

[2021-12-05 13:34] xudong963 opened #1403 "Group by uses unselect column is invalid"
**Describe the bug**
Group by uses unselect column is invalid.
such as `SELECT a FROM t ORDER BY b;`

**To Reproduce**
Steps to reproduce the behavior:
Postgres:
[code]

Datafusion
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-12-05 13:57] alamb commented on #1400
I agree -- good point to keep the README highlighting key points, especially as the README.md text turns into the documentation on the crates.io homepage: https://crates.io/crates/datafusion

[2021-12-05 14:01] alamb commented on #1396
The relevant code is here: https://github.com/apache/arrow-datafusion/blob/414c826bf06fd22e0bb52edbb497791b5fe558e0/datafusion/src/sql/planner.rs#L139-L171

(note how `CREATE TABLE AS SELECT ...` gets translated into `LogicalPlan::CreateMemoryTable`

[2021-12-05 18:15] houqp commented on #1400
+1 from me for moving big chunk of content to our website and keep only the key highlights in readme. We can convert some of the key highlights into different datafusion website links in readme as well to further reduce duplication.

[2021-12-05 18:17] houqp commented on #1403
this seems like a duplicate of https://github.com/apache/arrow-datafusion/issues/1372? I also commented a potential quick fix in there as well ;)

[2021-12-06 08:45] xudong963 commented on #1403
Yes, sorry for not checking the existed issue.

[2021-12-06 08:45] #1403 closed

[2021-12-06 08:50] #1108 closed

[2021-12-06 08:50] Jimexist commented on #609
dup of #1372
cc @houqp

[2021-12-06 08:50] #609 closed

[2021-12-06 12:32] andrei-ionescu opened #1404 "Hash partitioning not working properly"
**Describe the bug**

Using `Partitioning::Hash` results in wrong partitions.

**To Reproduce**

1. Create a new cargo project
2. Create the `data` directory on the same level with the `src` directory
3. Download the attached archive [data-dimension-vehicle-20210609T222533Z-vehicle-electric_gas_steam_3cols.parquet.zip](https://github.com/apache/arrow-datafusion/files/7660549/data-dimension-vehicle

[2021-12-06 14:59] Dandandan opened #1405 "Do not send empty batches for Hash partitioning"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In https://github.com/apache/arrow-datafusion/issues/1404 an example is shown where we have batches with 0 values.
This seems easy to avoid.

**Describe the solution you'd like**
In `RepartitionExec` we can have an early check on empty batches and not issue them.

**Describe alternatives you'v

[2021-12-06 15:12] capkurmagati commented on #1384
I had the same problem when I played with Apache Iceberg and datafusion. Iceberg tracks files for each snapshot so the current `list files with this filter` feature is almost never used.

[2021-12-06 15:12] Dandandan commented on #1404
Hey @andrei-ionescu

I am not sure if it's really not working properly.

You specified a hash expression `partitioning_columns` and `72` partitions.

If you use `repartition` the expression will be hashes and divided over those 72 partitions.

The *only* guarantee of hash-repartition  is that equal values (based on the expression) will end up in the same partition.

This is based on a simple formu

[2021-12-06 16:04] andrei-ionescu commented on #1404
@Dandandan A few questions:

1. Why do we have yet another ticket? It will side track from the real issue.
2. The hash partitioning is not working correctly. The issue is not the fact that there are collected partitions with `0` rows. The issue is the fact that the collected partitions do not contains correct data.

The expected behaviour of repartition is the following...

Given the dataset on le

[2021-12-06 16:25] ic4y commented on #956
@Dandandan
I am currently working out ways to solve the performance problem of high cardinality aggregation. Follow your method and tested it. I found that there is a certain performance improvement, but not ideal enough, only improved by about 10% under high base aggregation (I think it needs several times performance improvement likes doris and trino's performance under the high cardinality aggr

[2021-12-06 22:38] alamb commented on #956
@ic4y

Did you do any performance profiling (using `pprof` for example) to know where the time is being spent in your query? Is it the aggregate updates? Creating the final array? Something else?

There isn't a lot of "low hanging fruit" left in the GroupByHash implementation -- to get "several times improvements" in performance I think we are likely to have to start special casing (e.g. for singl

[2021-12-06 23:23] alamb opened #1406 "Add additional simplification rules"
As pointed out by @xudong963 on #1376, there are several other rewrite rules we could add following the pattern in simplify:

[code]
Note that if `A` is null (or some expresson that could be null), then `A AND !(A)` is NULL

Similarly,

[code]

The "is nullable" bit is somewhat tricky -- and to be honest I am not sure our current code handles all such cases correctly either.

[2021-12-06 23:51] #1393 closed

[2021-12-07 07:36] ic4y commented on #956
@alamb In the count sql, I use pprof to count the time consumed by the following methods. The long time consumption is mainly in `make slice`, `hashbrown get_mut`, `create_hashes`. The time consumed by creating the final array and aggregate updates method is relatively small.

| func | time |
| ----  | ----|
|arrow::array::array::Array::slice|26% of all
|hashbrown::raw::inner::RawTable<T,A>::get_m

[2021-12-07 08:37] Dandandan commented on #956
Thanks for picking this up @ic4y

If you are getting a 10% improvement, this is already a fine  achievement (if we don't slow down the low cardinality too much?)

The storage is one part of the story, as @alamb says it will require some changes in other places.

Some ideas here:

* Do not `slice` in the implementation, but rather append to aggregates directy (enabled by the change listed here)
* M

[2021-12-07 11:35] #1380 closed

[2021-12-07 11:59] alamb opened #1409 "`cargo run --bin tpch` fails with `thread 'main' panicked at 'Argument short must be unique -p is already in use'`"
**Describe the bug**

When trying to run the tpch benchmarks (to validate https://github.com/apache/arrow-datafusion/pull/1291) a runtime error now results. I suspect validation has improved in clap. I could work around this and it is not blocking me

[code]

**To Reproduce**
[code]

**Expected behavior**
The benchmark program can run

**Additional context**
Add any other context about the problem

[2021-12-07 12:14] kszucs opened #1410 "Provide `__version__` attribute for the datafusion python library."
So other libraries can easily retrieve the datafusion python lib version, like ibis https://github.com/ibis-project/ibis/pull/2918#discussion_r749316067

We may add a functiona as well to provide additional context about the linked datafusion and arrow-rust versions.

[2021-12-07 14:02] kszucs opened #1411 "Ambiguous reference to aliased column"
Quoted from @houqp:

To reproduce:

[code]

raises

[code]

_Originally posted by @kszucs in https://github.com/ibis-project/ibis/pull/2918#discussion_r749318005_

[2021-12-07 15:41] xudong963 opened #1412 "`Select *` returns an unexpected result"
**Describe the bug**
`Select *` returns an unexpected result.

**To Reproduce**

[code]

**Expected behavior**
[code]

**Additional context**

postgres
[code]

[2021-12-07 16:30] xudong963 opened #1414 "`order by` supports index in select list"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`order by` supports index, such as `select a from foo order by 1;`

**Describe the solution you'd like**
Add special process in https://github.com/apache/arrow-datafusion/blob/b9866e62800700dd322e755cfbbbff6b0df48fa2/datafusion/src/sql/planner.rs#L1011. Transfer `index` to `column` which is in

[2021-12-07 16:34] xudong963 commented on #1414
FYI

**postgres**
[code]

**Datafusion**
[code]

[2021-12-07 16:53] xudong963 commented on #1414
Maybe the issue is suitable for newcomers, please add the `good first issue` label.

[2021-12-07 19:18] hntd187 commented on #1414
I'll give this a whirl, PR shortly

[2021-12-07 22:29] hntd187 commented on #1414
Just verifying, this counts starting from 1 correct @xudong963 not 0?

[2021-12-08 00:44] xudong963 commented on #1414
yes

[2021-12-08 03:09] ZhangqyTJ opened #1417 "Ballista does not support external file systems"
I added the s3 (minio_store) module in datafusion/src/datasource/object_store, and registered the minio_store in benchmarks/tpch.rs through the register_object_store() method of ExecutionContext. But when I start the Scheduler and Executor, and then run "cargo run --bin tpch --release****", the data in minio cannot be read.
After checking the code, I found that LocalFileSystem is used directly at

[2021-12-08 06:40] houqp commented on #1417
Hi @ZhangqyTJ are you right that right now ballista is hardcoded to use local file system object store. Supporting remote file system is in our roadmap and we have all the infrastructure in place to execute on this now thanks to the object store abstraction. As you already mentioned, the main change that needs to be introduced is the plan ser/de layer. You are more than welcome to work on this if

[2021-12-08 06:42] houqp commented on #1417
We had some prior discussion around this subject in https://github.com/apache/arrow-datafusion/pull/1072

[2021-12-08 08:51] ZhangqyTJ commented on #1417
I will try to solve this issue

[2021-12-08 12:52] liukun4515 opened #1418 "Talk about the result type for coerced type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In the #122  and #1356, I add new datatype(decimal) and propose a more clear coercion rule for expr system.
When I add decimal to the SUM and AVG function https://github.com/apache/arrow-datafusion/pull/1408 , I meet some problem.
It's about the returned data type.

For example:
https://github

[2021-12-08 16:31] gangliao opened #1420 "Select Date Issue"
**Describe the bug**

We have a `Date64` field in the schema. But when `select date_time from table`, it only shows the following general date:

[code]

Is that possible to show the details such as second or even millisecond?  `2015-07-15 09:10:01 XXXX`

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Addit

[2021-12-08 17:43] gangliao commented on #1420
Sorry. fix by new timestamp type: `DataType::Timestamp(TimeUnit::Nanosecond, None)`

[2021-12-08 17:43] #1420 closed

[2021-12-08 20:45] Dandandan opened #1422 "Send time metric in"
**Describe the bug**
In hash repartition, time is wrongly attributed to the `repart_time` instead of `send_time` metric

**To Reproduce**
[code]

Note the `send_time{inputPartition=0}=NOT RECORDED` part.

**Expected behavior**
It should record it at least once.

**Additional context**
Add any other context about the problem here.

[2021-12-08 21:24] Dandandan commented on #1422
Closed by #1421

[2021-12-08 21:24] #1422 closed

[2021-12-09 14:11] gaojun2048 commented on #755
Some times we want to create table with SQL, and still want to use the table when the session is restart.

[2021-12-09 14:42] alamb commented on #755
It sounds like a usecase would be to save all the table providers -- since they can be user provided (in other Rust code) I am not sure serializing them in the core of DataFusion makes much sense.

Adding some sort of table / session persistence to `datafusion-cli` (and other users of the core DataFusion) would make sense to me

[2021-12-09 15:18] #1361 closed

[2021-12-09 15:25] alamb opened #1425 "Consolidate Projection for Schema and RecordBatch"
**Background**

@hntd187  fixed https://github.com/apache/arrow-datafusion/issues/1361 via https://github.com/apache/arrow-datafusion/pull/1378 but when I was reviewing the code, I found several other places that project `RecordBatch`s and `Schemas` that may also have the same subtle issues about losing the metadata. I am not sure of any bugs related to this yet but I fear they are lurking

The ba

[2021-12-09 15:37] matthewmturner opened #1426 "Add `register_table` method to datafusion python bindings"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I'm working on adding documentation to `delta-rs` for querying a `DeltaTable` with d

[2021-12-09 15:43] alamb commented on #1418
@liukun4515  -- I think the rationale for using `float64` for the result of `sum(float32)` and `avg(float32)` is done to minimize error due to floating point rounding

I think using `float64` for the result type makes sense

[2021-12-09 15:44] #1409 closed

[2021-12-09 15:48] #1372 closed

[2021-12-09 17:57] #1412 closed

[2021-12-09 23:09] tobyhede opened #1429 "regex_match does not compile using the `g` flag"
**Describe the bug**
The regexp_match function fails to compile when supplied a `g` flag.

**To Reproduce**
At the moment many functions including regex match are not working correctly when accessed directly via the dataframe interface (I am working on a fix for this).
To reproduce this bug, setup a test in functions.rs
[code]
This will fail with a compile error from the regex subsystem.

**Expect

[2021-12-10 00:15] liukun4515 commented on #1418
Do you mean to change this line https://github.com/apache/arrow-datafusion/blob/415c5e124af18a05500514f78604366d860dcf5a/datafusion/src/physical_plan/expressions/sum.rs#L57 and return FLOAT64 for sum(float32)?

[2021-12-10 04:05] gaojun2048 commented on #755
ExecutionContext only support create catalog from default. I want to unify the management of catalog and schema information externally, and this information can be shared by different ExecutionContexts, it is impossible to do so now. If the content in ExecutionContextState can be init through the `new(state: Arc<Mutex<ExecutionContextState>>)` method, then we can manage this information in the bal

[2021-12-10 05:07] lst-codes commented on #1404
Isn't this more a problem that you have to specify the number of partitions ahead of time, and if your partition size is a smaller number than the number of distinct combinations of the expressions you're hashing against, you'll end up with multiple variations of your expression set within the same partition?

It sounds like what you're asking for is the Spark equivalent of `partitionBy(...cols)`,

[2021-12-10 05:59] houqp commented on #755
I also think serde would be a good fit for what we are trying to serialize here.

[2021-12-10 11:55] alamb opened #1432 "Field names containing period such as `f.c1` cannot be named in SQL query"
**Describe the bug**
Field names containing period such as `f.c1` cannot be named in SQL query

**To Reproduce**
Adapted from https://github.com/influxdata/influxdb_iox/issues/3351 from @jacobmarble

[code]

[code]

**Expected behavior**

I expect the query `select "f.c1" from foo;` to return `1` (note that "f.c1" is quoted)

**Additional context**
Found during testing of IOx https://github.com/in

[2021-12-10 11:56] alamb commented on #1432
FYI @houqp

[2021-12-10 15:10] liukun4515 commented on #1432
In my opinion, this `f1.c1` style is illegal for SQL syntax.
For example in Mysql and PG
[code]
In the SparkSQL
[code]

[2021-12-10 15:16] Dandandan commented on #1432
Usually you can use quotes to achieve this.

In SparkSQL:

[code]

[2021-12-10 15:36] alamb commented on #1432
And indeed postgres supports such columns:

[code]

[2021-12-10 19:09] maxburke opened #1433 "Query failing to return any results when filter is an equality check on strings (bad statistics in parquet)"
With the attached file, running the query:

[code]

returns 0 rows, but:

[code]

returns the expected 101 rows.

I noticed that if I disable the FilterPushDown optimization pass in Datafusion I also get the expected result.

[test.zip](https://github.com/apache/arrow-datafusion/files/7694963/test.zip)

[2021-12-10 19:37] #1414 closed

[2021-12-10 20:55] Dandandan commented on #1433
This seems to be something in the pruning logic:

[code]

Already in `ParquetExec` there is no output (RepartitionExec doesn't hae to repartition any input row).

[2021-12-11 00:36] mcassels opened #1434 "Query with 100 OR conditions overflows stack"
**Describe the bug**
`SELECT * FROM table WHERE <condition0> OR <condition1> OR ...` succeeds with 50 conditions but overflows stack with 100 conditions.

**To Reproduce**
Adding this test to arrow-datafusion/datafusion/tests/sql.rs demonstrates the issue:

[code]

Output:
[code]

**Expected behavior**
Expected query to succeed.

[2021-12-11 05:20] xudong963 commented on #1434
Thanks for your report. I think this is a common question not only in your case.
such as

[code]

I' ll try my best to solve it by growing the stack automatically.

[2021-12-11 05:21] xudong963 commented on #1434
Please assign me @houqp

[2021-12-11 12:13] Jimexist opened #1436 "use a different prefix than `@` to represent variables"
**Describe the bug**

in postgresql `@` is an operator for abs, so if we switch to postgresql dialect during parsing, current variable syntax will fail

**To Reproduce**

see #1099

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-12-11 15:44] xudong963 commented on #1434
Oh, I solved the issue! 😄

[2021-12-11 20:55] andrei-ionescu commented on #1404
@lst-codes I understand how you put it and in deed it may be a new feature.

Even so, the plan needs to be optimised from the input partition (ie: row groups from parquet) up to output partitioning (ie: files that needs to be written). All these needs support in DataFusion engine.

If there would be such support in the engine, then it can be easily hooked to any kind of writer.

[2021-12-11 21:46] Dandandan commented on #1404
That's right, I agree 💯.

`partition` now works like Spark `partition`, where equal values end up in the same group/partition, but there might be multiple distinct values per partition or none at all for a certain partition.

`partitionBy` and improved writing/table partition support seems the way to go for this kind of feature.

[2021-12-12 01:20] andrei-ionescu commented on #1404
My use case is exactly the one described above. What I did to have the desired output is this:
- read parquet file in a data frame
- given the partitioning columns extract all possible values for the chosen columns
- given the partition column names and partition values for those columns we construct one filter that we will apply on the data frame to get only one partition out of that data frame
-

[2021-12-12 01:29] andrei-ionescu commented on #1404
@Dandandan, @lst-codes Arrow Parquet does support writing and reading partitioned parquet datasets (https://arrow.apache.org/docs/python/parquet.html#partitioned-datasets-multiple-files). Can we do something to fill this gap in DataFusion?

[2021-12-12 04:29] houqp commented on #1404
@andrei-ionescu this is already supported if you use the listing table table provider: https://github.com/apache/arrow-datafusion/blob/dc80c11954fa7855f79806cb29c9ea5283a98d01/datafusion/src/datasource/listing/table.rs#L57

[2021-12-12 18:54] andrei-ionescu commented on #1186
I think first we need to fully support statistics on nested fields. Please see this comment: https://github.com/apache/arrow-datafusion/pull/1392#issuecomment-989633614.

[2021-12-12 18:55] andrei-ionescu commented on #1404
@houqp I understand that this is only for reading. If you provide a folder with partitioned dataset and provide the partitioning columns it can be used at read time. Please correct me if I'm wrong but writing data partitioned is not supported, or is it?

In my example I read only one file and I need to write it as a partitioned dataset.

[2021-12-12 22:06] alamb commented on #1434
@mcassels  One possible workaround for an issue like this would be to use an inlist (assuming your predicate is searching for one of a list of constants)

So like SQL
[code]

which would end up as an `Expr::InList`

[2021-12-13 02:58] liukun4515 commented on #1432
agree, and we should add more test case in datafusion if we want to support this style  of  column identifier.

[2021-12-13 03:08] gaojun2048 opened #1439 "ExecutionContext support init ExecutionContextState with `new(state: Arc<Mutex<ExecutionContextState>>)` method"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now, we can only create a datafusion execution context with default table information in ballista, we can't just create a new context because we need a context that has tables registered from previous SQL statements that have been executed.
![image](https://user-images.githubusercontent.com/32

[2021-12-13 03:58] jiangzhx opened #1440 "try to read data from apache kudu"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

datafuison now support csv,parquet datasource.
our team want to  add more datasource like apache kudu;
is there docs or advise to help us do the right way.

[2021-12-13 05:52] mcassels commented on #1434
Good point, thanks for pointing that out @alamb !

[2021-12-13 08:42] houqp commented on #1186
I believe this can be worked on in parallel. Once we implement the solution mentioned in the comment you linked, it should work out of the box for nested columns.

[2021-12-13 08:49] houqp commented on #1432
The code was written under the incorrect assumption that column name with dot in it is considered invalid, I should have checked postgres behavior :P

This should be a simple fix if we can distinguish quoted and unquoted column reference in: https://github.com/apache/arrow-datafusion/blob/dc80c11954fa7855f79806cb29c9ea5283a98d01/datafusion/src/logical_plan/expr.rs#L60-L81

[2021-12-13 11:33] alamb commented on #1432
Thanks @houqp  -- I'll take a shot at this later today

[2021-12-13 12:23] franeklubi opened #1441 "Incorrect results in datafusion"
**Describe the bug**
I came upon a bug while querying my custom Parquet dataset, which causes DataFusion to produce incoherent and incorrect results.

I tested my dataset in various ways, all of which produced the desired results:
- reading parquet files using python pandas, then merging and filtering the data there
- encoding into CSV, and reading the data with DataFusion
- creating an SQLite dat

[2021-12-13 12:51] franeklubi commented on #1441
[no_nulls.zip](https://github.com/apache/arrow-datafusion/files/7703926/no_nulls.zip)

I removed NULLs from Parquet files (missing strings got replaced with "NULL" and ints with 0).

Querying these files produces the desired results, which further confirms my theory, that there is something wrong with NULL handling.

[2021-12-13 15:11] Jimexist commented on #1441
hi @franeklubi thanks for the detailed sharing.

to simplify bug reproduction, can you help me understand the difference between parquet and csv data? specifically:

[code]

[code]

they seem to have different number of rows.

Same thing applies to trips data.

[2021-12-13 15:25] franeklubi commented on #1441
Hi @Jimexist! Thanks for the reply

The issue results from the headers kept in the CSV files. That's my bad - please remove them before testing.

I will amend the issue info, so others won't get the same problem as you

[2021-12-13 15:44] Jimexist commented on #1441
thanks for the update.

to people reading this, i'm still trying to minimize the reproduction steps, so i guess below is a simpler statement:

[code]

[code]

[code]

[2021-12-13 15:46] Jimexist commented on #1441
thinking out loud: doing `pandas` validation:

[code]

[2021-12-13 15:58] Jimexist commented on #1441
seems like these values are absent in parquet readings:

[code]

[2021-12-13 18:36] alamb commented on #1434
Interestingly, when I ran the reproducer on my machine (not as part of a `cargo test` but in a standalone program like `via cargo run`) it actually was able to handle 100 conditions.

[code]

However, with 1000 it does die:

[code]

When I ran with `cargo run --release` the test passes fine

[code]

Which is a similar symptom as fixed in https://github.com/apache/arrow-datafusion/pull/1047

[2021-12-14 03:31] ZhangqyTJ commented on #1417
I think I have resolved this issue:
    (1) Add the'object_store_str' field in ListingTableScanNode to store the serialized object_store
    (2) Serialize object_store in to_proto.rs, deserialize in from_proto.rs, and perform type matching through ObjectStoreEnum
But I found a new issue. When I tested reading minio's .tbl data, it was successful, but reading the .parquet file gave an error: Parque

[2021-12-14 05:03] houqp commented on #1417
Could you share a reproducible code example with us? It would be really hard for us to locate the problem with a generic error message :)

[2021-12-14 05:52] houqp commented on #1440
There is no docs on this as far as I know. I think it's best to add support for kudu through a table provider. The existing memory table provider is a pretty minimal example on provider implementation: https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/datasource/memory.rs. You can also take a look at the listing table provider for a more advanced implementation.

[2021-12-14 05:55] houqp commented on #1404
oh yeah, writing is not supported, that is correct. I think we can file a separate ticket to track that feature request.

[2021-12-14 07:42] ZhangqyTJ commented on #1417
Project address: https://github.com/ZhangqyTJ/arrow-datafusion.git
Test code file: datafusion/src/physical_plan/file_format/parquet.rs
Test function: test_minio_parquet()
Steps:
(1) Build a minio service
(2) Create a bucket in minio
(3) Modify the parameters in test_minio_parquet(): s3_options, data_rows
(4) Execute test_minio_parquet()

[2021-12-14 08:58] liukun4515 opened #1443 "support cast to decimal data type in datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In the #122 , we need to support the decimal data type.

In order to support `column_a > 12` for the decimal data type, we need to support the cast/try_cast first.
For some operations, such as comparison operations and mathematics operations, we need to convert some numeric data types to decim

[2021-12-14 08:59] liukun4515 commented on #1443
please assign this issue to me.

[2021-12-14 11:54] xudong963 opened #1444 "Avoid stack overflow in Datafusion"
Rewrite recursive procedures into iterative procedures, suggested by @houqp @alamb

@xudong963 , I think what @houqp  is suggesting is to rewrite code that is recursive to not be recursive.

The pattern for Datafusion probably looks like taking code like

[code]

And changing it so the state is tracked with a structure on the heap rather than a stack. I think [`VecDeque`](https://doc.rust-lang.org

[2021-12-14 12:31] xudong963 opened #1445 "Update arrow-rs to 6.4.0 and replace boolean comparison in datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-rs/issues/959

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional

[2021-12-14 12:31] xudong963 commented on #1445
I'll do this today

[2021-12-14 14:13] alamb commented on #1444
👍

[2021-12-14 15:45] ic4y commented on #1439
🚀

[2021-12-14 15:46] #1445 closed

[2021-12-14 15:50] alamb opened #1447 "Error on some queries: "column types must match schema types, expected XXX but found YYY""
**Describe the bug**
Some queries error with an error like
[code]

**To Reproduce**
Write a query that aliases one column to the name of another in the input that has a different type

Specifically:

A reproducer in sql.rs:
[code]

**Expected behavior**
Query should run successfully

**Additional context**
This bug was caught by some of the IOx tests while updating IOx https://github.com/influxdat

[2021-12-14 17:00] ic4y commented on #956
@Dandandan Thank you very much for your suggestions
1. Canceling the `make slice` solution can indeed bring a certain performance improvement, but I tested on arrow2 and found that the performance of `array.slice` has been greatly improved. So `slice` performance is not a problem after using arrow2.
2. For `eq_array` I tried hashbrown's `get_each_mut` method, but the performance did not change (th

[2021-12-14 19:33] andrei-ionescu commented on #1404
I have one more question on how the hash partitioning should work.

Given 3 unique values (`val1`, `val2`, `val3`) for the `my_col` column by which I want to repartition my data, distributed like this: 500 rows contain `val1`, 5 rows contain `val2` 10K rows contain `val3`.

What will be the result of partitioning with `Partitioning::Hash(my_col, 3)`?

Will it repartition in 3 partition, partition

[2021-12-14 22:52] alamb commented on #1432
Proposed fix in https://github.com/apache/arrow-datafusion/pull/1449

[2021-12-15 08:52] mingmwang opened #1452 "[Question] I'm doing some benchmark test(TPCH) on DataFusion, is there a way to run the benchmark in a single thread?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2021-12-15 10:16] Igosuki commented on #1185
Hi guys, coming back to this now, since we can already find partition in paths in the object store, and looking at the API, I think what is missing is the ability to infer ListingOptions::table_partition_cols from the base path given to the TableProvider.
The table provider should then be able to easily merge the two schemas (the object store paths and the file format) for the exec.
Am I getting t

[2021-12-15 16:39] xudong963 opened #1453 "Add sqllogictest for datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

As we get more and more datafusion users(This is a great thing! 👍), bug reports are also increasing.

Recently I was wondering how to make the user experience more comfortable, reducing bugs is the most straightforward way.

I think Datafusion's test mechanism isn't solid, so I looked into ho

[2021-12-15 16:41] xudong963 commented on #1453
Any thoughts? @alamb @houqp @Jimexist

[2021-12-15 18:13] houqp commented on #1453
Great idea @xudong963 !

[2021-12-15 19:58] #1447 closed

[2021-12-15 20:27] alamb commented on #1433
This sounds similar to something we hit in IOx (https://github.com/influxdata/influxdb_iox/issues/2153) which I ultimately tracked down to a bug in the parquet statistics generation: https://github.com/apache/arrow-rs/issues/641

So in this case, the statistics embedded in the parquet file for the  `direction` column are `T:[min: Merged, max: Outgoing, num_nulls not defined]`, namely that the mini

[2021-12-15 20:30] alamb commented on #1441
I'll try and check this out in more detail tomorrow. Thanks for the investigation @Jimexist

[2021-12-15 20:39] alamb commented on #1453
https://github.com/apache/arrow-datafusion/issues/743 may also be related.

I agree DataFusion's tests could use some reorganizing

Note that a quirk of how sqlite is developed is that the test suite is not open source ;)

I do think that https://www.sqlite.org/sqllogictest/doc/trunk/about.wiki has basically the same aim as our current integration tests (written in python) contributed by @Jimexist

[2021-12-15 20:40] alamb commented on #1433
If you can't rewrite your parquet files, we could potentially add a "don't do parquet pruning" flag to `ExecContext`

[2021-12-15 20:41] #1432 closed

[2021-12-15 21:10] alamb commented on #1452
Hi @mingmwang  -- I think setting `partitions` to `1` is the closest we have at the moment

So something like
[code]

[2021-12-15 21:12] alamb commented on #1452
If you want to ensure only a single thread is used, you can set the tokio runtime to use a single thread

Something like modify https://github.com/apache/arrow-datafusion/blob/7996fa86720fd96628bc07b7ee3f226107b7f969/benchmarks/src/bin/tpch.rs#L187-L189

And change

[code]

to
[code]

[2021-12-15 21:32] #1364 closed

[2021-12-15 21:32] #1173 closed

[2021-12-16 00:37] maxburke opened #1454 "Datafusion should not strip out timezone information from existing types"
The Datafusion scalar type does not carry with it any timezone information that may exist in the input data. This leads to queries where the data has a timezone set stripping it out in the results.

[2021-12-16 00:54] maxburke commented on #1433
That's really interesting; thanks for finding that @alamb !

We aren't doing anything special with our Parquet generation; we basically write them straight from Arrow (via the Rust libraries), so perhaps there's an underlying bug in the Rust Parquet statistics generation code that we can start investigating.

Being able to skip parquet pruning would be useful as well.

From a curiosity point of vi

[2021-12-16 07:58] Ted-Jiang commented on #1405
@houqp Please assign this issue to me.

[2021-12-16 08:12] ic4y opened #1456 "The Eq method in HashAggregate takes up a lot of time, how to optimize it"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Related issue  #1246 #956

Part of the high-cardinality aggregation performance problem can be solved in arrow2. But currently `eq_array` still takes a lot of time.

https://github.com/apache/arrow-datafusion/blob/6478a33c705fc7fdf28ec141685b447a6619ec08/datafusion/src/physical_plan/hash_aggre

[2021-12-16 11:57] xudong963 commented on #1453
Sure, I think it can!

[2021-12-16 12:11] alamb commented on #1433
@maxburke  -- I fixed at least one bug in the rust parquet statistics generation ( PR was https://github.com/apache/arrow-rs/pull/643, which was first released in 5.2.0 it [appears according](https://github.com/apache/arrow-rs/blob/master/CHANGELOG.md#520-2021-08-12) to the changelog.

There may still be other bugs and if so I would love to help fix them

In this case, I would expect the `min` val

[2021-12-16 18:45] brianrackle opened #1458 "Registering IPC Source into ExecutionContext or Loading Into DataFrame"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It would be convenient if there was a straightforward way to register and create a dataframe from an IPC formatted file. There are convenience functions for doing this with all other file types but IPC doesnt seem to have any such support. Unless I am missing something IPC can be loaded from a

[2021-12-16 21:02] andrei-ionescu commented on #1404
@Dandandan Let's go on with the example and what you just explained.

Given I have the distribution above: 500 rows with `val1` partition value, 5 with `val2` and 10K rows with `v3`. Now, `hash(val1)` will always get the same value - lets say `9`. So, 500 rows will be attached that `9` value. Same principle for `v2` and `v3`.

[code]

That is what you explained above, right?

Given the logic above

[2021-12-16 21:22] alamb commented on #1456
I think `eq_array` is a symptom, rather than the root cause

The eq_array is necessary in the current hash aggregate  implementation to detect hash collisions:

[code]

I am pretty sure this code is correct, though since it is general purpose (works for all types) there is non trivial dispatch overhead

If you are trying to speed up a distinct aggregate calculation I suggest you look into special

[2021-12-16 22:14] alamb commented on #1454
I plan to review this carefully tomorrow

[2021-12-16 23:13] alamb commented on #1441
I spent some time looking at the parquet data and the csv data, and it looks to me like there may be something wrong with the parquet reader.

Specifically, I just ran a query that did a select *

dump_parquet.sql:
[code]

and `dump_csv.sql`:

[code]

Like this:

[code]

The results are here:
[dump_csv.txt](https://github.com/apache/arrow-datafusion/files/7730874/dump_csv.txt)
[dump_parquet.txt](h

[2021-12-16 23:18] alamb commented on #1441
Oh weird, but then a direct query

[code]
Seems to get the correct answer 🤔

[2021-12-17 02:39] liukun4515 commented on #1453
@xudong963  Does the sqllogical-test is like the [mysql-test-framework](https://dev.mysql.com/doc/dev/mysql-server/latest/PAGE_MYSQL_TEST_RUN.html)?

[2021-12-17 02:47] liukun4515 commented on #1453
In the [mysql-test-framework](https://dev.mysql.com/doc/dev/mysql-server/latest/PAGE_MYSQL_TEST_RUN.html) or similar framework, we could add some tests by using the sqls and comparing results with result files.
But the method may be heavy for unit tests if we have more and more sql tests, it is usually used in the integration test.

[2021-12-17 08:13] liukun4515 opened #1460 "check out of range / overflow for decimal agg function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

part of #122

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context

[2021-12-17 08:45] liukun4515 opened #1461 "Add document for explaining the promotion precision and scale for decimal data type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

part of #122

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context

[2021-12-17 11:36] alamb commented on #1441
When I just do select * the answer is not correct either:

[code]

[2021-12-17 15:29] #1418 closed

[2021-12-17 18:59] alamb commented on #1441
I have a smaller reproducer and am trying to narrow down where the problem is but probably won't be able to work on this until next week sometime at the earliest

In case anyone else is interested, here is the repo:  [repro.zip](https://github.com/apache/arrow-datafusion/files/7737234/repro.zip)

[code]

It should print out
[code]

But actually prints out
[code]

[2021-12-18 05:38] Ted-Jiang opened #1462 "fix calculate total_rows in many_to_many_hash_partition"
**Describe the bug**

`        let total_rows: usize = output_partitions.iter().map(|x| x.len()).sum();
`
is sum the total RecordBatch number.

For now empty RecordBatch will send to next plan so the total_RecordBatch equals total_rows
**To Reproduce**
https://github.com/apache/arrow-datafusion/pull/1459
**Expected behavior**
`let total_rows: usize = output_partitions
            .iter()

[2021-12-18 11:28] #1398 closed

[2021-12-18 14:42] Dandandan commented on #1462
Closed by #1463

[2021-12-18 14:42] #1462 closed

[2021-12-18 22:03] hntd187 commented on #1453
@xudong963 @alamb I plan to take up the test re-organizing and refactoring as part of the email response I got from you, perhaps I should start a more general issue to talk about at a higher level that refactoring and it's relation to this?

[2021-12-19 08:49] liukun4515 commented on #1453
I'm confused about that why we need to refactor or re-organize the tests?

[2021-12-19 15:32] thinkharderdev commented on #1020
I get the same error on a mac. It seems like the executor is listening on the IPv6 loopback address but the client is trying to fetch the partition from the IPv4 loopback address:

[code]

[2021-12-20 02:20] houqp commented on #1185
@Igosuki I think the idea is to extend these public apis to allow users explicitly specify table partition columns (i.e. the `table_partition_cols` field) using either dataframe or sql interface. The auto partitioning discovery feature can be enabled when no explicit partitioning is specified by the user.

I think there is value in making partition column statically typed as well instead of only t

[2021-12-20 03:23] liukun4515 commented on #1460
This will be fixed in the follow-up pull request.

[2021-12-20 08:41] Dandandan opened #1468 "Remove `Alias` from `Expr`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently a named expression / alias can be encoded by wrapping an existing `Expr` in an `Expr::Alias`.

However, this has some side effects:

* We can encode expressions that don't make sense, such as `(1 + 1 AS x) AS y` or `(1 AS X) + (1 AS Y)` (in SQL it's disallowed by the parser, but it'

[2021-12-20 08:42] Dandandan commented on #1468
FYI @alamb @houqp

[2021-12-20 15:11] alamb opened #1469 "Convert `SqlToRel::statement_to_pan` to take ownership rather than references."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
While working on some other code, I noticed that `SqlToRel::statement_to_plan` takes a reference to the parse tree -- this results in having to `clone()` many values (identifiers, etc) while converting a parsed SQL query to a `LogicalPlan`

The only [callsite](https://github.com/apache/arrow-d

[2021-12-20 16:49] alamb commented on #1425
The code for `Schema::project` and `RecordBatch::project` from @hntd187 has been merged into https://github.com/apache/arrow-rs/pull/1033

Once that is available in a release (likely `arrow 6.5.0` next week) we can clean up some of this code in DataFusion

[2021-12-20 20:29] hntd187 commented on #1453
I had emailed @alamb about some bigger things to tackle and I think he mentioned re-organizing the tests into something more extendable but I have not investigated what actually has to be done for it. If it doesn't make sense I can focus elsewhere

[2021-12-21 00:51] matthewmturner commented on #1453
@hntd187 @liukun4515 FYI I had been working on #743 which was updating and reorganizing some of the tests.  I still have to do the third task but currently working on something on the `arrow-rs` side which is taking my time.  not sure if this is the reorganization of tests that @alamb was thinking of or if it was something else.

[2021-12-21 02:39] Fourth-fresh-man opened #1470 "TPC-H Query 8"
Running benchmarks with the following options: DataFusionBenchmarkOpt { query: 8, debug: false, iterations: 2, partitions: 2, batch_size: 4096, path: "./data", file_format: "tbl", mem_table: false }
thread 'tokio-runtime-worker' panicked at 'false_values downcast failed', datafusion/src/physical_plan/expressions/case.rs:216:30
note: run with `RUST_BACKTRACE=1` environment variable to display a bac

[2021-12-21 02:41] #1470 closed

[2021-12-21 12:25] alamb commented on #1453
I was indeed thinking of https://github.com/apache/arrow-datafusion/issues/743 (specifically reorganize sql.rs so that it is not just a single giant module, and move code from context.rs there as well - item 4)

Since we originally discussed https://github.com/apache/arrow-datafusion/issues/743, @Jimexist  added the postgres integration test which makes things a little more complicated.

Perhaps t

[2021-12-21 14:16] #240 closed

[2021-12-21 14:19] #1454 closed

[2021-12-21 14:31] alamb commented on #1468
I think `NamedExpr` sounds like a great idea, personally. 👍

[2021-12-21 15:06] xudong963 commented on #1468
Make sense to me @Dandandan

[2021-12-21 15:29] xudong963 commented on #1469
@alamb  good catch!

Here I give a specific example to omit clone
[code]
to

[code]

BTW, I think it's better to add a `good first issue`

[2021-12-21 15:56] xudong963 opened #1472 "Keep all datafusion's packages up to date with Dependabot"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As the title.

**Describe the solution you'd like**
Add a `dependabot.yml` into `.github`.

https://github.com/marketplace/actions/dependencies-autoupdate
https://github.blog/2020-06-01-keep-all-your-packages-up-to-date-with-dependabot/

**Describe alternatives you've considered**
No

**Additi

[2021-12-22 01:24] #1020 closed

[2021-12-22 07:35] #1439 closed

[2021-12-22 09:49] gaojun2048 opened #1473 "[Question] Why does ballista store tables in the client instead of in the SchedulerServer"
Why does ballista store tables in the client instead of in the SchedulerServer? If the tables information is stored in the SchedulerServer, each client can share these tables. This is very necessary for database scenarios where SQL is used to create tables and query。

[2021-12-22 12:29] alamb commented on #1472
YES! This would be super super helpful -- great idea @xudong963

[2021-12-22 17:38] alamb opened #1474 "Use dynamic arrow compute kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

@Jimexist added dyn kernels in https://github.com/apache/arrow-rs/pull/858 but we still have the dispatch logic in datafusion

The rationale for this change is to move most / all of the type dispatch into the arrow kernels, so that when we add support for directly comparing dictionary arrays

[2021-12-22 19:50] alamb opened #1476 "SortExec discards field metadata on the output schema"
**Describe the bug**

The following code in Sort skips the field level metadata when when it constructs the output batch.

[code]

It also seems to be unecessary (at least all the existing tests pass without it, so maybe @maxburke can comment on its), and so if any schema adjustment is needed it should have been done as part of the creation of Sort.

**To Reproduce**
Will add reproducer on ticket

[2021-12-22 20:50] alamb commented on #1441
I plan to focus on this issue tomorrow

[2021-12-22 20:53] Dandandan commented on #1441
A guess: it might be an issue with reading statistics / predicate push down?

[2021-12-23 05:44] #1473 closed

[2021-12-23 07:37] mingmwang commented on #1363
Why the issue was closed? Was the issue resolved and performance come back ?

[2021-12-23 07:40] Dandandan commented on #1363
Yes, according to my benchmarks performance was around the same as before introducing the regression.

[2021-12-23 07:54] mingmwang commented on #1363
I'm not sure whether it is relevant or not.  In the current implementation, the sync_chunk_reader() method was
invoked for every parquet page which will cause lots of unnecessary file open and seek calls.

FilePageIterator.next() -> FileReader.get_row_group().get_column_page_reader()  -> SerializedRowGroupReader.get_column_page_reader() -> ChunkObjectReader.get_read() -> LocalFileReader.sync_chunk

[2021-12-23 08:02] Dandandan commented on #1363
I think that might be relevant. How about opening a new issue to track improving on that (reusing the file descriptor)?

[2021-12-23 08:03] mingmwang commented on #1363
Sure, I can open a new issue to track it. But please help to take a look and confirm my understanding is correct.

[2021-12-23 09:34] ethe opened #1478 "Is it able to decouple tokio, allow to use custom async executor?"
Now datafusion deeply relies on tokio, is it able to allow user to use custom async runtime? Such as `with_executor` method of Hyper: https://docs.rs/hyper/0.14.16/hyper/server/conn/struct.Http.html#method.with_executor

[2021-12-23 10:23] #1476 closed

[2021-12-23 11:53] alamb opened #1479 "ORDER BY min(x) results in error `Plan("No field named 'foo.x'. Valid fields are 'MIN(foo.x)'.")`"
**Describe the bug**
You can not refer to an aggregate directly in the ORDER BY clause

**To Reproduce**
[code]

[code]

**Expected behavior**
The query should produce a single column, with a single row `1`

Note there are several workarounds to express this query that do work:

Refer to the item by index:

[code]

Given the query an alias:
[code]

**Additional context**
Add any other context abou

[2021-12-23 13:37] thinkharderdev opened #1480 "Ballista: Partition columns are duplicated in protobuf decoding."
**Describe the bug**
Trying to read a partitioned parquet dataset while still allowing predicate pushdown on partition columns, I am manually constructing a table scan Logical plan on a manually constructed `ListingTable` which specified the partition column(s). The `ListingTable` constructor will add the partition columns to the Schema. This is then serialized and sent to the ballista scheduler w

[2021-12-23 15:01] alamb commented on #1441
The plot thickens! 🕵️

Regarding parquet predicate pruning, amusingly in this case, I think row group pruning actually helps avoid the problem. As you may recall, when a filter is applied like this

[code]

The answer is correct (`stop_name` is `"RONDO ZESŁAŃCÓW SYBERYJSKICH"`):
[code]

However, when I disable pruning then the wrong answer comes out!
[code]

I added some debugging, and verified th

[2021-12-23 17:08] alamb commented on #1441
Cross referencing the data output from pandas and the parquer reader,
Here are the rows from pandas and arrow/parquet that have non null values for `stop_name`:

Pandas:
[code]

And arrow says the following (interestingly, note that the `PUSTELNIK` is repeated and then the sequence of values is very similar but offset)
[code]

[2021-12-23 18:17] alamb commented on #1441
This discrepancy looks like it comes out of `VariableLenDictionaryDecoder` which seems to have been introduced by @yordan-pavlov  in  https://github.com/apache/arrow-rs/pull/384

I have not studied the code enough yet to fully understand what it is doing, and I need to attend to some other items now. If anyone has ideas (cc @tustvold ) on where to look next I would appreciate it

[2021-12-23 18:18] alamb commented on #1441
I will probably file a ticket in arrow-rs shortly with the slimmed down reproducer

[2021-12-23 18:19] Dandandan commented on #1441
@alamb this reads like a detective 🕵️‍♂️

[2021-12-23 19:04] jorgecarleitao commented on #1441
I can also open the parquet files from arrow2. I think that this is something on the parquet crate.

the below pasted in [this example](https://github.com/jorgecarleitao/arrow2/blob/main/examples/parquet_read_record.rs):
[code]
using

[code]

yields 132 valid stop_names (over all row groups):
[code]

For reference, the file heavily uses RLE-encoding (i.e. the RLE bit of the RLE-bitpacking hybrid p

[2021-12-23 19:57] tustvold commented on #1441
You could try using ComplexObjectArrayReader to decode the column instead of ArrowArrayReader. This might help narrow down if the bug lies in the RLE decoding or something higher up in ArrowArrayReader. Alternatively you could see if the issue occurs with #1082 which replaces ArrowArrayReader with an alternative that shares more with the primitive array implementation.

[2021-12-23 20:24] houqp commented on #1480
Thanks @thinkharderdev for the report, this is due to: https://github.com/apache/arrow-datafusion/blob/68db579181bd826e6ab6cd659f52d443b950eaa5/datafusion/src/datasource/listing/table.rs#L128-L135

The fix should be pretty straight forward, we need a new constructor method for listing table for plan ser/de, which will just take the filed arguments and store them in the new struct as is without ext

[2021-12-23 21:20] thinkharderdev commented on #1480
Cool. I can take a crack at that. Thanks!

[2021-12-24 06:39] houqp commented on #1478
We are coupled with tokio right now, but I am in support for making async runtime pluggable in datafusion.

[2021-12-24 06:49] ethe commented on #1478
Thank you, I am glad to hear that, I wish I am able to use this feature in the not-too-far future.

[2021-12-24 06:57] houqp commented on #1468
It's not entirely clear to me how we are going to propagate it through out the code base. But if we can pull it off, that would make the code more readable and maintainable for sure :+1:

[2021-12-24 07:28] ethe commented on #1478
By the way, there are lots of user interface of datafusion requires `Send + Sync` (such as `TableProvider`), I think the reason of this is that `tokio::spawn` requires it. However, not all of async runtimes requires future should be `Send + Sync`, is it able to remove this requirement in the future?

[2021-12-24 09:17] AdheipSingh opened #1484 "Is it possible to query multiple parquet files ?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
- i would like to query multiple parquet files.
- can we have an example on how to achieve this ?

Thanks

[2021-12-24 11:44] alamb commented on #1441
Thanks @tustvold  and @jorgecarleitao  for the tips. Will give them a try.

[2021-12-24 15:58] matthewmturner commented on #907
@alamb @houqp I'm really interested in getting s3 support added.

If no one else is working on this I should be able to pick it up soon (of course I'll likely have questions along the way). Based on the above it seems the approach would be to add it as crate in arrow-datafusion. Assuming this is still the case is there anything else I should know before starting?

[2021-12-24 19:44] houqp commented on #907
@matthewmturner we created https://github.com/datafusion-contrib to host these community maintained extensions so it's easier for us to evolve the core datafusion code base.

[2021-12-24 19:44] houqp commented on #907
I also recommend taking a look at the new official AWS rust SDK, it seems a lot more mature since we started this discussion.

[2021-12-24 19:48] houqp commented on #1484
you can use listing table to achieve that: https://github.com/apache/arrow-datafusion/blob/233ed7d5a71294d336c5bb15361f1f90ae4f4946/datafusion/src/datasource/listing/table.rs#L106

[2021-12-24 19:50] houqp commented on #1484
it is not well documented, so it would be good if people can help improve the docs and examples.

[2021-12-24 19:53] houqp commented on #1478
I think so and I think that would be ideal, but it would require a bit of refactoring.

[2021-12-24 20:35] houqp commented on #1479
I think there is a typo in your reproduction example? It should be the following right?

[code]

[2021-12-24 21:50] matthewmturner commented on #907
Ok. Will check it out.

[2021-12-25 02:29] matthewmturner commented on #907
@houqp Separate but related to s3 I'm interested in adding the ability to register a AWS glue catalog / database.

Is that type of functionality something I could expect datafusion to have? If so, do you think it makes sense to bundle with s3? I would of course start with s3. But just for planning purposes (I.e looking at rusoto vs AWS sdk)

[2021-12-25 04:26] matthewmturner commented on #147
@alamb @houqp FYI i am picking up on the work @Dandandan started on this.

below are the current results i have after adding join queries:
[code]

[2021-12-25 04:56] Dandandan commented on #147
Thank you very much @matthewmturner. From looking at your results and extrapolating a bit from my earlier benchmarking and published results it seems like DF does very well on the join queries. Hopefully we can do some real comparisons later.

[2021-12-25 05:12] houqp commented on #907
I think so, but i think the GLUE catalog integration should be implemented as a table provider plugin in a separate crate, not object store plugin.

[2021-12-25 15:00] jon-chuang commented on #147
@matthewmturner I'm assuming that's on 0.5 GB?

[2021-12-25 16:30] matthewmturner commented on #147
Yes. I still need to double check table setup and queries to make sure it's apples to apples though - so take it with a grain of salt for the moment.

[2021-12-25 16:34] Dandandan commented on #147
I also see the code which used to load data into partitions using `Mentale::load` now loads it into 1 partition (with `try_new`). Not sure if the difference is still big as we now do Round Robin repartitioning of the data, but would maybe still save a bit.

[2021-12-25 18:37] Igosuki commented on #1484
Hi, here is some example code directly from a personal project :
[code]

stream! is from async_stream, format is obviously 'parquet' 'csv' 'avro' or 'json', partitions are base paths to read from

[2021-12-26 01:22] matthewmturner commented on #147
@Dandandan my understanding of what i did was set the expected partitions at the `ExecutionContext` / `ExecutionConfig` level and then collect that into record batches from a `DataFrame` with `df.collect_partitioned` which would take into account the target partitions.  That being said i had to play around with that a lot to get a `MemTable` so im not confident its doing what i expected.  I'll loo

[2021-12-26 03:18] matthewmturner commented on #907
@houqp for these cloud based services what do you think about a naming convention like the following:

datafusion-[cloud provider]-[service]

i.e.
datafusion-aws-s3
datafusion-aws-glue

[2021-12-26 04:00] matthewmturner opened #1486 "Add median, std, and corr functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In the context of adding datafusion to db-benchmark (#147) there are some advanced group by queries that are benchmarked which require median, standard deviation, and correlation functions which datafusion does not currently provide out of the box.

**Describe the solution you'd like**

Built

[2021-12-26 04:07] matthewmturner opened #1487 "Add documentation on supported functions to datafusion website"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It would be nice to publish to the datafusion website the supported functions.  I currently use AWS athena / presto and frequently reference their documentation (https://prestodb.io/docs/current/functions.html) on supported functions.  I am looking for datafusion to have something similar.

**

[2021-12-26 04:14] matthewmturner commented on #147
Went through the code and found the math functions that are supported. I think it would be nice to add documentation to the datafusion site on what's supported.  But of course that is a separate topic - i've created an issue for it.

I think for the more advanced group by queries we'll need to add median, standard dev, and correlation functions.  ive created an issue for adding those as well - but

[2021-12-26 05:10] houqp commented on #907
My suggestion would be naming the repos by extension types, for example: `datafusion-objectstore-s3`, `datafusion-table-glue`, etc. But I don't have a strong opinion on this :)

[2021-12-26 06:01] matthewmturner opened #1488 "Float column type inferred as utf8 when reading csv"
**Describe the bug**
I am working on adding datafusion to db-benchmarks (#147).  As part of that I am using datafusion-cli to test writing queries on the db-benchmark data (can be generated here https://github.com/h2oai/db-benchmark/tree/master/_data).

while i was creating a table of one of the datasets i noticed that one of the column types was inferred incorrectly.  specifically, column v1 was

[2021-12-26 06:04] matthewmturner commented on #907
makes sense.  do you think for glue it might be better to use catalog instead of table?

[2021-12-26 06:12] matthewmturner commented on #1488
Interestingly, sometimes it seems to work.  with one of the tables i get the expected results

[code]

[2021-12-26 06:15] houqp commented on #907
Yeah, i think that's a better name :+1:

[2021-12-26 10:17] liukun4515 commented on #1488
Can you post some CSV data in this issue?
@matthewmturner

[2021-12-26 10:19] liukun4515 commented on #1488
creating `external table` with CSV file, you can give the schema by sql  just like
[code]

[2021-12-26 10:21] liukun4515 commented on #1487
Do you have time to do this?
@matthewmturner

[2021-12-26 13:30] alamb commented on #907
FWIW one example of using the aws s3 object store interface is in IOx: https://github.com/influxdata/influxdb_iox/blob/main/object_store/src/aws.rs in case that is helpful

[2021-12-26 13:33] alamb commented on #147
FWIW standard deviation and correlation can be calculated using the existing aggregation functions (aka `AVG(X)` and `AVG(X^2)`), numerical precision issues not withstanding

Median is harder -- I think it will need special casing as it can't be calculated using partial aggregates

[2021-12-26 13:43] alamb commented on #1479
Yes sorry @houqp  -- I have fixed that in the descriptio

[2021-12-26 14:05] matthewmturner commented on #1487
I likely won't have time in the near future. But will work on after closing my other issues if it's still available.

[2021-12-26 14:11] matthewmturner commented on #1488
@liukun4515 the data is available for download at the link I posted.

And I agree, that was my work around to get the data type I needed. But it would be nice if that wasn't needed.

I'm less familiar with the internals of reading csvs. Maybe it has to do with how many rows are used to infer schema.

@alamb @houqp would you consider this issue a bug?

[2021-12-26 14:18] matthewmturner commented on #147
@alamb yes agree. The median is needed in same query with std deviation but im going to try adding the one with correlation

[2021-12-26 15:27] xudong963 commented on #1400
How's this going? Maybe we can add a `good first issue` tag.

[2021-12-26 16:24] matthewmturner commented on #907
thank you

[2021-12-26 17:31] rdettai commented on #1185
@houqp not sure I would tag this as `good first issue` as it requires to change the API and a fair amount of plumbing (i.e touch quite a few files)

[2021-12-26 18:06] matthewmturner commented on #147
I feel a bit silly for asking this, but is the ability to raise a value / column to a power implemented in datafusion?  I've tried the below ways with no luck.  Am I missing something obvious?

[code]
DataFusion CLI v5.1.0

❯ select 2^2;
NotImplemented("Unsupported SQL binary operator BitwiseXor")
❯ select power(2,2);
Plan("Invalid function 'power'")
[code]

[2021-12-26 19:25] matthewmturner commented on #147
im also curious what people think about using the python bindings instead of rust?  can we generate an optimized build for python like we are in rust?

@houqp @alamb

[2021-12-27 01:51] liukun4515 commented on #1488
I think [infer_schema_from_files](https://github.com/apache/arrow-rs/blob/8b85aa03d2c2af1cfa81f03a2ab2457d21d02f93/arrow/src/csv/reader.rs#L271) and other `infer schema` functions can help you.

[2021-12-27 01:54] liukun4515 commented on #1488
[code]
The DECIMAL_RE IS `static ref DECIMAL_RE: Regex = Regex::new(r"^-?(\d*\.\d+|\d+\.\d*)$").unwrap();`

@matthewmturner
I think the format of the float may be not matched the `DECIMAL_RE`.

[2021-12-27 01:56] liukun4515 commented on #1488
If your format of the float is like this `"123.123"`, it will be inferred as the UTF-8.
If your format of the float is like this `123.123`, it will be inferred as float64.

[2021-12-27 03:07] matthewmturner commented on #1488
@liukun4515 thanks for the help looking into this.

I'm aligned with your thinking - but it does seem something else is still off.  below is the head of the csv file.  the float field is not quoted.

[code]

[2021-12-27 13:01] alamb opened #1493 "Implement `power` function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We would like to compute a power function (like `2**4` = `2 * 2 * 2 * 2`) in datafusion

@matthewmturner  asks for it here: https://github.com/apache/arrow-datafusion/issues/147#issuecomment-1001223018

**Describe the solution you'd like**

Implement the `power` function as described in https:

[2021-12-27 13:02] alamb commented on #147
I thought it was `pow` or `power` but when I tried to dig around I didn't find it implemented. I filed https://github.com/apache/arrow-datafusion/issues/1493 to track

[2021-12-27 13:03] alamb commented on #147
In general, I think using the python bindings is a great idea for integration of datafusion with other systems. I don't know how very much about how to build / use them, but I would love to see more documentation on the process :)

[2021-12-27 13:39] dev870 commented on #1484
Thanks a lot @Igosuki . Based on your example, I tried below - but I am getting row count from only the first parquet file inside `/path/to/datafusion-parquet/data/`, I was expecting to get results from all the files in the path.

I am struggling to understand what am I missing here...

[code]

[2021-12-27 13:57] dev870 commented on #1484
Posted too soon, :) I figured out that `batches` has the slice of results. so `print!("{}", batches[1].num_rows());` has the results from second file. I'll send a PR with examples for `ListingOptions`

[2021-12-27 14:14] matthewmturner commented on #1487
I found https://arrow.apache.org/datafusion/python/generated/datafusion.functions.html#module-datafusion.functions on the current website.

Assuming its expected that the available functions will be the same in rust and python then i think we could pull this out of the functions section and add a Functions section under User Guide.  that being said, i havent looked at the code for website yet and

[2021-12-27 14:23] Igosuki commented on #1484
Good !

[2021-12-27 14:57] matthewmturner opened #1494 "Add __version__ attribute to datafusion python bindings"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Add `__version__` attribute to datafusion python bindings

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

[2021-12-27 18:36] matthewmturner opened #1495 "Improve python documentation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
As a user of the datafusion python bindings i would like better documentation and guides on how to use the python bindings

**Describe the solution you'd like**
A clear and concise description of what

[2021-12-27 19:14] matthewmturner commented on #147
I finished first draft at python bindings for the group by suite (https://github.com/matthewmturner/db-benchmark/blob/datafusion/datafusion/groupby-datafusion.py)

Feedback welcome :)

[2021-12-27 19:18] Dandandan commented on #147
Python bindings are also a good idea.

There are a bit of optimizations not possible with the python bindings, so I would expect it to be a bit slower.

[2021-12-27 20:19] AdheipSingh commented on #1484
@dev870  it would great to have a working example in the repo. ( cc @houqp )

Thanks @Igosuki for the help !!

[2021-12-27 20:57] matthewmturner opened #1496 "Add ExecutionConfig to python bindings"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am using the datafusion python bindings to get datafusion added to `h2oai/db-benchmark`.  In order to have more control of the execution context i would like to be able to use `ExecutionConfig` with

[2021-12-27 21:38] matthewmturner commented on #147
@Dandandan for my information - which optimizations arent possible?

[2021-12-27 21:44] Dandandan commented on #147
I meant, when using the published datafusion bindings, those optimizations are not possible or at least require some more work, that the native rust version does:

* Compiling for the specific target CPU with `simd` feature enabled
* Using a custom allocator
* Full LTO

[2021-12-27 22:14] alippai commented on #147
I believe @ritchie46 has all these enabled in his python bindings

[2021-12-27 22:29] matthewmturner commented on #1494
Can `__version__` just be hard coded in `python/datafusion/__init__.py` and updated on each release?  Or is there a way to make it automatically update the attribute at each release?

[2021-12-28 01:35] matthewmturner commented on #147
For the avoidance of doubt, do we all agree that the Python solution will be the only solution submitted (at least for now)?

[2021-12-28 06:45] ritchie46 commented on #147
Yes, only not a specific target cpu ofcourse. But LTO and SIMD work fine.

[2021-12-28 11:01] alamb commented on #147
I think so -- and of improve the DataFusion python bindings in the process so much the better 👍

[2021-12-28 11:04] Dandandan commented on #147
Sounds good to me as well. We can always add the native Rust version later.

[2021-12-28 11:22] bkmgit commented on #147
It would be great to compare the different language bindings. What obstacles are there to submitting Rust?

[2021-12-28 11:47] #1472 closed

[2021-12-28 12:02] alamb opened #1498 "Build is broken on master: function or associated item not found in `proc_macro2::Literal`"
**Describe the bug**

After `cargo updating` the build is broken:

[code]

[code]

Also happens on CI: https://github.com/apache/arrow-datafusion/runs/4649830794?check_suite_focus=true

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-12-28 12:08] alamb commented on #1498
I found a workaround of doing the following forcing the `quote` package back to `1.0.10` (from `1.0.11`)

[code]

[2021-12-28 12:12] alamb commented on #1498
Seems it was fixed in `quote` 1.0.12

https://github.com/dtolnay/quote/releases/tag/1.0.12

However I can't update it for some reason:

[code]

[2021-12-28 15:17] matthewmturner commented on #147
nothing too big.

1. creating a utility that writes the required logging output
2. coordination with h2oai team to get rust / cargo setup.  its not clear to me how much has been done based on @Dandandan initial request to get datafusion added.

personally, i agree it would be great to add rust bindings. but i think starting with python and adding rust as a second step would still be a good improve

[2021-12-28 18:00] matthewmturner commented on #1493
ill work on this

[2021-12-28 22:54] nl5887 opened #1501 "Python api doesn't have indexed field access (see #1005)"
PR #1006 implements indexed field access for SQL, but currently the Python API `col("a")` doesn't have an option to access indexed fields (and complex structs).

When adding support for indexed fields, you can use `col('a')['b']` to access the indexed fields in the Python API similar to SQL.

[2021-12-29 08:28] Ted-Jiang commented on #137
@houqp plz assign this to me

[2021-12-29 12:12] #1498 closed

[2021-12-29 17:29] ic4y opened #1504 "The destruction of GroupState in high cardinality aggregation takes a lot of time"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The test is as follows（4core 16G MacOS）
```select count(1) from (select user_id from event group by user_id)a ```

The total data is 350 million, and the user_id deduplication number is 5 million. The entire query takes 15s. Viewing through pprf, it is found that **about 60% of the time is de

[2021-12-29 17:57] hntd187 opened #1505 "Renaming Tests Discussion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I am starting the discussion on how we want to rename some of the tests post the refactoring of the tests in #1491

**Describe the solution you'd like**

Some of the tests have names that don't necessarily have anything to do with what they are testing. Most universally the tests that begin w

[2021-12-29 20:21] james727 commented on #1323
@Jimexist @liukun4515 is this still wanted? I was looking at this as a potential issue to start learning the codebase, it's unclear if someone's already working on it though or if it makes sense to implement. This seems generally useful, but it is a divergence from Postgres.

[2021-12-29 20:34] matthewmturner commented on #1493
ive started looking into this and i think it makes sense to add `power` / `power_scalar` compute kernels to arrow first then expose it in `physical_plan/expressions/binary.rs` and `physical_plan/expressions/functions.rs`

@alamb ok with that?

[2021-12-29 20:59] matthewmturner opened #1507 "Python bindings create duplicated qualified fields after joining"
**Describe the bug**
im working on getting datafusion added to db-benchmark (#147).  while putting the benchmarks together i came across an error while doing the join benchmark that i wasnt expecting.  specifically the error is:
[code]
The test code that produced that is here:
[code]
if i update the sql to:
[code]
I get:
[code]
to me this looks like a bug as i think i should be able to write the q

[2021-12-29 22:29] tustvold commented on #1441
FYI https://github.com/apache/arrow-rs/pull/1110 runs into a similar issue, that appears to be fixed by switching to ComplexObjectArrayReader instead of ArrowArrayReader. I will have a poke around tomorrow if I have time, and see if I can spot what is going wrong.

[2021-12-29 23:24] brianrackle commented on #1458
Doing this through MemTable but would like to figure out how to stream from the file since the way I understand is supposed to be one benefit of arrow files over parquet.

Using MemTable gist:
https://gist.github.com/brianrackle/f1e6e74615759ae906a55b89dc91e59f

[2021-12-30 08:03] ic4y commented on #1504
By using --features "mimalloc", it was found that the test results did not differ much.

[2021-12-30 08:11] liukun4515 commented on #1488
I know the issue.
In the head of the file, which is `id1,id2,id3,id4,id5,id6,v1`.
csv-read will take `id1,id2,id3,id4,id5,id6,v1` as the sample row and infer the schema.

[2021-12-30 08:26] liukun4515 commented on #1488
I have copy your data to my laptop and repeat your steps.

1. copy your data and store as the csv file whose name is `simple.csv`
2. create table `CREATE EXTERNAL TABLE food  STORED AS CSV WITH HEADER ROW LOCATION 'simple.csv';`
3. desc the table `\d food`
below is my result
[code]
the result of query `select * from food limit 2`
[code]
@matthewmturner

[2021-12-30 09:01] liukun4515 commented on #1323
I will not start this issue recently, I am busy with the DECIMAL data type.
If you are interested in it, go-ahead.
@james727

[2021-12-30 12:18] alamb commented on #1493
@matthewmturner  I think `power` is more like a `function` rather than an `operator` -- so in that case I think you could just add `power` to `BuiltinScalarFunction` (and then fill in the implementation):

https://github.com/apache/arrow-datafusion/blob/5668be78a9ccbf5469e9e95ad070920ca5d105ba/datafusion/src/physical_plan/functions.rs

[2021-12-30 12:39] alamb commented on #1400
added tag

[2021-12-30 15:28] cpcloud commented on #332
I've put up a conda package recipe for datafusion here https://github.com/conda-forge/staged-recipes/pull/17387.

I just built it locally (on Linux), and the build passes.

Packaging for nix is likely out of scope for datafusion maintainers, though it's not too bad to package up a Rust-backed Python package (see https://github.com/NixOS/nixpkgs/blob/a0dbe47318bbab7559ffbfa7c4872a517833409f/pkgs/de

[2021-12-30 15:57] matthewmturner commented on #1493
@alamb ok happy to do that.

but just to show you where i was coming from, i saw both C++ (https://arrow.apache.org/docs/cpp/compute.html#arithmetic-functions) and arrow2 (https://github.com/jorgecarleitao/arrow2/blob/main/src/compute/arithmetics/basic/pow.rs) had kernels for power.  so i thought we would want to do something similar and not have datafusion implement something that could / should

[2021-12-30 16:05] james727 commented on #1323
Great, I'll try and put something together

[2021-12-30 16:20] matthewmturner commented on #1488
@liukun4515 to confirm - did you copy the entire dataset or just the 25 rows i pasted?  when i make a csv of just the 25 rows i get the same results as you.

also can you confirm you are using datafusion-cli based on datafusion 6.0.0?

[2021-12-30 16:32] FauxFaux opened #1509 "CTE/WITH .. UNION ALL confuses name resolution in WHERE"
**Describe the bug**
A construction like:

[code]

..gives the error:

Explicitly specifying `where x.a` gives the same error, so that is resolving correctly?

Writing the query as `where baz.a=1` instead gives:

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

**Expected behavior**
I believe `SELECT a FROM x WHERE a=1` should function as if x was a single table containing a colu

[2021-12-30 16:41] matthewmturner commented on #332
@alippai FYI i believe `datafusion-cli` is available on brew now (https://github.com/apache/arrow-datafusion/issues/562)

[2021-12-30 17:59] cpcloud commented on #332
nixpkgs pr here https://github.com/NixOS/nixpkgs/pull/152763

[2021-12-30 20:44] alippai commented on #332
@cpcloud really nice, also it looks like it uncovered an upstream issue with the lock file, right? This is for the Datafusion python module / bindings and the Datafusion CLI would be a separate module?!

[2021-12-30 20:46] cpcloud commented on #332
@alippai Yeah, I believe `datafusion-cli` would be a separate conda and nix package

[2021-12-30 20:48] cpcloud commented on #332
Regarding the lockfile, yeah `python/Cargo.lock` is out of date. I fixed that upstream here https://github.com/apache/arrow-datafusion/pull/1508, just waiting on a review from a maintainer.

[2021-12-30 21:48] alippai commented on #332
Thanks for the details

[2021-12-30 21:54] alamb commented on #1493
@matthewmturner  -- I don't have a strong preference.

[2021-12-31 02:10] liukun4515 commented on #1488
I just copy 25 rows as a new csv file.
I build the datafusion-cli from the master, the commit log is `91ee5a4682f58b0aeca`.

[2021-12-31 02:20] Jimexist commented on #1324
[discussion thread in mail][1]
[migrated code][2]

[1]: https://lists.apache.org/thread/4fdn3sx82wdb2c5wk9twkn9fy0do0ohl
[2]: https://github.com/datafusion-contrib/datafusion-python

[2021-12-31 02:40] #1501 closed

[2021-12-31 03:41] matthewmturner commented on #1488
@liukun4515  thx. I can try with that commit. If it's not an issue could you try with full dataset? I can post it publicly if it would help.

[2021-12-31 07:04] liukun4515 commented on #1488
Yes @matthewmturner
It's better to upload the whole file, and I can try and debug it In my local env.
Thanks.

[2021-12-31 13:27] alamb commented on #1324
Thank you @Jimexist ! shall we remove the python code from https://github.com/apache/arrow-datafusion/tree/master/python as well?

[2021-12-31 13:28] #1397 closed

[2021-12-31 14:00] #1484 closed

[2021-12-31 16:23] matthewmturner commented on #1488
@liukun4515

here you go https://matthewmturner-oss.s3.amazonaws.com/public/db-benchmark/J1_1e7_NA_0_0.csv

[2021-12-31 22:26] james727 commented on #1323
@Jimexist  I realized after working on this for a bit that `array_agg(distinct <expr>)` should work for this case - is there a use case where `set_agg` would work but `array_agg` with distinct would not? Datafusion supports this syntax right now, though there appear to be some issues with non-column expression and distinct.

[2021-12-31 23:54] james727 opened #1512 "Distinct aggregations work only partially"
**Describe the bug**
It seems like distinct aggregations (e.g. `SELECT SUM(DISTINCT <expr>) ...`, `SELECT ARRAY_AGG(DISTINCT <expr>)...`) are only partially supported by DataFusion. For simple column expressions they work as expected, and in other cases they throw errors.

Here's an example of a simple query that works as intended - to repro, add the following test case into `datafusion/tests/sql/

[2022-01-01 01:27] liukun4515 commented on #1488
Thanks.
I will try it and give you the feedback.

[2022-01-01 01:33] liukun4515 opened #1513 "support mathematics operation for array with scalar value"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In the binary mathematics operation, datafusion just supports `Divide,Modulo` for array with scalar value. https://github.com/apache/arrow-datafusion/blob/07f5b3da8f5bab4c296aa2886be37556b104a930/datafusion/src/physical_plan/expressions/binary.rs#L681

We need to add `Plus,Minus,Multiply` ope

[2022-01-01 12:04] #1479 closed

[2022-01-01 14:36] liukun4515 commented on #1488
I can't open this link, there may be a problem with the network.

[2022-01-01 15:17] matthewmturner commented on #1488
@liukun4515 can you download with curl?

`curl https://matthewmturner-oss.s3.amazonaws.com/public/db-benchmark/J1_1e7_NA_0_0.csv -o test.csv`

[2022-01-01 23:44] justinrmiller commented on #1396
I had a question along these lines. Is there a way to load a CSV or Parquet file directly from memory into a context?

[code]

This is great if the file already exists on disk, but if I'm pulling the data from say Redis then I have to write the data to disk first then read it back. Thanks!

[2022-01-02 11:18] alamb opened #1515 "high level roadmap for Arrow / Datafusion"
@matthewmturner  and I we think it would be valuable to try making a high level roadmap for Arrow / Datafusion.  Specifically, and how this differs from the existing roadmap, we are looking for a rough idea of what people plan on working on with a best efforts guess when they hope to finish.  Of course nothing is binding, the goal is to make visible peoples plans so that the developers as a whole

[2022-01-02 11:19] alamb commented on #1515
Previous attempt at the same type of exercise from a year ago:

https://docs.google.com/document/d/1qspsOM_dknOxJKdGvKbC1aoVoO0M3i6x1CIo58mmN2Y

[2022-01-02 12:24] FauxFaux opened #1516 "Internal error: Unsupported data type in hasher: FixedSizeBinary(16)"
**Describe the bug**
An aggregation query against a `FixedSizeBinary` column returns an internal error:

`Error: Arrow error: External error: Execution error: Arrow error: External error: Internal error: Unsupported data type in hasher: FixedSizeBinary(16).`

**To Reproduce**
Steps to reproduce the behavior:

`ctx.sql("select fsb, count(*) from tbl group by fsb")` for some `fsb FixedSizedBinary` c

[2022-01-02 12:49] liukun4515 commented on #1516
The DF doesn't support hash for the  `FixedSizedBinary` type.

[2022-01-02 13:00] xudong963 commented on #1515
Make sense to me.
BTW, I don't have edit permission in  https://docs.google.com/document/d/1t64vZwZnXm9MyFj2qz3xcAkSxK3Wu12giS3KrS4nDE0/edit

[2022-01-02 13:33] matthewmturner commented on #1515
Can you try now?

[2022-01-02 16:48] alamb commented on #1396
@justinrmiller  I don't know how to do this  today -- it may be possible to register a new memory ObjectStore source and then pass the URL into `register_csv` but one would have to play around with that more to really find out)

[2022-01-02 17:07] tfeda opened #1517 "Add version field to ExecutionContext"
Is your feature request related to a problem or challenge? Please describe what you are trying to do.

#1514 points out a secondary goal for the python library to expose the datafusion and arrow-rust versions.
I think Spark has a good implementation of this by binding the spark version to SparkContext in the jvm code, then exposing it to the pyspark API. pyspark's version itself is hard-coded.

De

[2022-01-02 17:15] tfeda commented on #1517
I'm new to the project (and open source in general), so I think this would be a good exercise for me. Because it's an API addition, I could use some stylistic input on the solution I proposed above.

[2022-01-02 21:15] justinrmiller commented on #1396
Thanks I'll check the source code and try to figure out a way to do so!

[2022-01-03 09:30] xudong963 commented on #1515
all right

[2022-01-03 17:30] rdettai commented on #1504
Thanks for the analysis @ic4y ! I am quite surprised we pay the fragmentation that comes from the row oriented structure of `Accumulators` that much more at de-allocation time than when computing the actual aggregates.

I guess the arena strategy that you are suggesting should work, though I don't know bumpalo specifically.

It is worth referencing your discussion about making accumulators column

[2022-01-03 20:02] alamb commented on #1515
I plan to add my content tomorrow, FWIW -- thank you for organizing this @matthewmturner

[2022-01-03 20:16] alamb commented on #1441
I tested the fix from @yordan-pavlov  in https://github.com/apache/arrow-rs/pull/1130  against my reproducer and with #1130  it now gets the correct answer ❤️ so that seems like progress

[2022-01-04 02:01] liukun4515 commented on #1515
I give some suggestions on your plan.  @alamb

[2022-01-04 02:35] xudong963 commented on #1515
I want a detailed evaluation of my time and what I want to do, which is expected to be completed this week.   BTW, I'm at Oncall this week, so there's not a lot of time to get involved with Datafusion.

[2022-01-04 15:59] #1324 closed

[2022-01-04 16:17] matthewmturner commented on #907
@houqp @alamb im very interested in getting s3 / glue support added to datafusion cli.  do you know of a way to feature gate other libraries without adding their code to datafusion cli codebase? im just concerned that datafusion cli codebase could become messy if we end up adding the code and feature gate for each functionality like this (i.e. aws s3, aws glue, azure blob, custom sql, etc...).  or

[2022-01-04 19:40] hntd187 commented on #1505
@alamb @xudong963 @liukun4515 Any opinion on this or would you prefer I just run with a PR on my own ideas?

[2022-01-04 19:55] realno commented on #1486
I am interested in helping with this - I am very curious about the result of the db-benchmark as well and want to help. Does it make sense to create separate issues for the functions? I started looking into stddev and maybe somebody else want to work on the others. @matthewmturner @houqp

[2022-01-04 20:00] matthewmturner commented on #1486
@realno happy to have the help :) i actually just updated my PR to get datafusion included in db-benchmark with the current features.  hopefully getting close.

separate issues per function sounds good. we can just use this as a tracker issue - ill add a task list to it.

[2022-01-04 20:19] realno commented on #147
I am really interested in the result and thank you @matthewmturner for the work! For some context, I am in the process of proposing and planning for the next-gen analytics platform for my org to improve the performance and scalability - DataFusion caught my eyes in early research. This benchmark will provide important information for decision making and I am happy to help.

One small suggestion -

[2022-01-04 20:27] matthewmturner commented on #147
@realno thanks for the context.

you can find the PR that i am working on here (https://github.com/h2oai/db-benchmark/pull/240)

you will need to download the data (directions here https://github.com/h2oai/db-benchmark#single-solution-benchmark) and add them to a data directory in the repo.

within the PR i have you will see the scripts `datafusion/groupby-datafusion.py` and `join-datafusion.py`.

[2022-01-04 21:41] alamb commented on #1324
🎉

[2022-01-04 21:43] alamb commented on #907
FYI there is some great work from @yahoNanJing in this area on https://github.com/apache/arrow-datafusion/pull/1062

[2022-01-04 21:50] alamb commented on #1505
Makes sense to me

That would also be a great idea

Sorry for the lack of feedback earlier - I can't keep up with all the tickets 🤯  somedays :)

[2022-01-04 21:54] alamb commented on #1517
What version would you like to appear? Do you have in mind the `version` of the rust crate https://github.com/apache/arrow-rs/blob/master/arrow/Cargo.toml#L20 ? If so you can probably follow the same model as parquet

Here is how the version is embedded in parquet files 'created by' fields: https://sourcegraph.com/github.com/apache/arrow-rs/-/blob/parquet/build.rs?L20:25&subtree=true

https://stac

[2022-01-05 02:24] Ted-Jiang opened #1521 "Add load test in tpch.rs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I want to find out how ballista scheduler how many concurrency can be supported.

**Describe the solution you'd like**
Add loadTest Option in tpch.rs,
  we could set:
    1. request amount
    2. Concurrency clients number
    3. ....
    4.
then random pick tpch-query run in cluster,  finally

[2022-01-05 02:30] liukun4515 commented on #1505
@hntd187  agree with you.
Some tests have the meaningless prefix, and it is not necessary.
My suggestion is that the prefix should be aligned with intend of the test.

I can start this task. If you finish it, I would like to review it.

[2022-01-05 03:01] seddonm1 commented on #907
Hi guys,
I built this which works correctly and uses the offical Amazon SDK: https://gist.github.com/seddonm1/2fb5a6892989fe7bf246022a7bd586ee

If it is useful I'm happy to donate it.

[2022-01-05 03:05] xudong963 commented on #1505
Make sense to me, looking forward to your ticket!  I can help review it. @hntd187

[2022-01-05 04:15] houqp commented on #907
@seddonm1 I invited you to the datafusion contrib org as well, could you work with @matthewmturner to figure out how you want to collaborate on this?

[2022-01-05 04:30] matthewmturner commented on #907
@houqp yup sounds good.

@seddonm1 that would be fantastic if you could donate it.  do you have a preference for how you would like to do that?  if you want to contribute directly i could work on setting up CI in the repo and testing what you've done on my side.

let me know how you would like to proceed and thanks so much for the donation!

[2022-01-05 06:00] seddonm1 commented on #907
@houqp thanks have joined that org.
@matthewmturner I have updated my example with the tests I ran against the Minio docker container (https://docs.min.io/docs/minio-docker-quickstart-guide) (so ignore the passwords as they are just the suggested values). I suggest something similar for testing in CI.

I can do a PR tomorrow AU time.

[2022-01-05 06:06] gopik commented on #907
Thanks @seddonm1. minio provides s3 api compatibility for azure blob storage. I'll try running the tests today with azure blob storage.

[2022-01-05 06:57] matthewmturner commented on #907
@seddonm1 ok i will look into that. also once im comfortable with the usage i can work on the documentation.

from a code perspective, is there anything in particular that we should be aware of?  i.e. any issues with aws rust sdk?

[2022-01-05 08:49] liukun4515 opened #1522 "support sorting decimal data type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

part of #122

After some pull request from https://github.com/apache/arrow-datafusion/issues/122, the type of decimal can be used in datafusion.

We need to sort the result by value with the decimal data type. Like that
[code]
The `col` type is decimal.

**Describe the solution you'd like**

[2022-01-05 22:26] seddonm1 commented on #907
for those waiting for this functionality a PR has been raised: https://github.com/datafusion-contrib/datafusion-objectstore-s3/pull/2

If you want to help test you can follow the instructions in the PR and it should work. The abstraction is good @rdettai and will be even better once the `async fn chunk_reader` can be used 👍

[2022-01-06 16:08] ic4y commented on #1504
Using --features "mimalloc" did not take effect.

Add the following code  in the `main.rs` (this is mentioned in the [user guide](https://github.com/apache/arrow-datafusion/blob/ecb09d9e37a4ea8f06d145c4fdcbdb3b8bb64ab7/docs/source/user-guide/library.md)) can solve this problem

[code]

[2022-01-06 16:08] #1504 closed

[2022-01-06 23:06] realno commented on #1486
PR for standard deviation is up for review: https://github.com/apache/arrow-datafusion/pull/1525

Please let me know who I should add as reviewer.

[2022-01-08 12:14] capkurmagati opened #1527 "Error reading Parquet files after schema evolution"
**Describe the bug**
A clear and concise description of what the bug is.

(I'm not sure if it's a arrow-rs or arrow-datafusion bug)
Read parquet files with evolved schema can get an error at
https://github.com/apache/arrow-rs/blob/6.0.0/parquet/src/schema/types.rs#L886-L895
It seems that physical plan doesn't pass the desired schema to parquet reader
https://github.com/apache/arrow-datafusion/blob

[2022-01-09 04:07] realno opened #1529 "Add Decimal support for statistical functions `var` and `stddev`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A PR is open for adding variance and standard deviation functions to DataFusion (https://github.com/apache/arrow-datafusion/pull/1525). Decimal type is not supported as Postgres spec (https://www.postgresql.org/docs/9.1/functions-aggregate.html). This issue is to capture the work.

**Describe

[2022-01-09 10:30] Ted-Jiang opened #1531 "Ballista scheduler dead loop in loadtest"
**Describe the bug**
1. start scheduler `RUST_LOG=INFO cargo run   --bin ballista-scheduler`
2. start one executor  'RUST_LOG=INFO cargo run --release  --bin ballista-executor '
3. run load test in #1521  with `RUST_LOG=INFO cargo run --bin tpch -- loadtest  ballista-load --query-list 1,3,5,6,7,10,12,13  --data-path ***/tpch-1g-oneFile/ --format parquet --host localhost --port 50050 --sql-path **`

[2022-01-09 10:39] Ted-Jiang commented on #1531
All 16 tokio-runtime-worker are lock at sled::subscriber::Subscribers `register` or `reserve`

`register` : create a Subscribe  on some key in sled
`reserve`:  create a Broadcast  on some key in sled
above two operations will all acquire a same write lock

in the stack trace only `Thread_396250` get the lock, but stuck in the `std::sync::mpsc::SyncSender` for some reason.

[2022-01-09 11:20] Ted-Jiang commented on #1531
I found `ballista_scheduler::SchedulerServer::new` 11 times in process

https://github.com/apache/arrow-datafusion/blob/847e78a675703c24933af5d6a429c2576bc14e9d/ballista/rust/scheduler/src/main.rs#L68

it seems each  will new a SchedulerServer
each new() will create a synchronize_job_status_loop

https://github.com/apache/arrow-datafusion/blob/847e78a675703c24933af5d6a429c2576bc14e9d/ballista/rust

[2022-01-09 11:23] Ted-Jiang commented on #1531
I think it should create only one synchronize_job_status_loop in one ballista_scheduler process.

@andygrove  @Dandandan  @alamb   FYI

[2022-01-09 12:06] alamb opened #1532 "Discussion: Switch DataFusion to using arrow2?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Datafusion currently relies on the https://github.com/apache/arrow-rs implementation of Apache Arrow. This also means any project that is built on DataFusion is likely to end up using that implementation as well

There has been various talk / discussion / work on switching to arrow2 - https://

[2022-01-09 12:25] alamb commented on #1532
I believe the current proposal is to make an official arrow branch in datafusion: https://github.com/apache/arrow-datafusion/pull/68#issuecomment-1007955176, which is probably a step towards switching to arrow2

[2022-01-09 12:47] selvavm opened #1533 "When using Dataframe getting empty row but pretty print contain rows"
**Describe the bug**
Getting empty array when using parquet but prints data

**To Reproduce**

       let df = df
        .aggregate(
            vec![col("name")],
            vec![
                min(col("salary")).alias("min"),
                max(col("salary")).alias("max"),
            ],
        )?;
    let results: Vec<RecordBatch> = df.collect().await?;
    pretty::print_batches(&results)

[2022-01-09 15:57] alamb commented on #1531
hi @Ted-Jiang  -- thanks for the report. I am not super familiar with the ballista internals but it definitely sounds like a bug to me. We would welcome a pull request with a fix

[2022-01-09 16:00] alamb commented on #1533
Hi @selvavm  -- this is very strange what happens when you print out the entire `results`?

[code]

If you can provide a self contained reproducer I can also help try and narrow this down

[2022-01-09 16:21] thinkharderdev commented on #1532
Will `arrow-rs` eventually support async file IO? Requiring a synchronous `ChuckReader` is currently a major limitation in supporting alternate `ObjectStore`s

[2022-01-09 18:44] hntd187 commented on #1532
I guess, what are the reasons switching would be a bad idea? Like what is the delta between what they both currently provide?

[2022-01-09 19:08] houqp commented on #1532
Thank you @alamb for bringing this up!

Yes, this aligns with what I have in mind. The official arrow2 branch was proposed so we can close that long running PR and have a centralized location for folks to collaborate on the migration until we are happy with the master merge. If the community is happy with merging directly into master and iterate there, that would work as well.

I believe so. Howev

[2022-01-09 19:56] matthewmturner commented on #1515
@Dandandan @pjmore do you think the work on tokomak optimizer could be added to roadmap?

[2022-01-09 20:00] alamb commented on #1532
I think someone just needs to put in the effort to make the current `arrow-rs` implementation `async` -- I don't know of any reason it can be done, nor do I know of anyone who plans to do so yet.

If this is really true (I haven't checked) it certainly sounds compelling

I like the idea of making an official "arrow2" branch in DataFusion, getting some more 👀  on it, and then propose it as a PR to

[2022-01-09 20:05] houqp commented on #1532
For sure, I can help create that PR :+1:

[2022-01-09 21:37] hntd187 commented on #1532
That's good enough for me

[2022-01-10 02:35] liukun4515 commented on #1521
The issue will be closed automatically, with `Close #1521` in the pull request. Just like Close #1521.
@Ted-Jiang

[2022-01-10 02:39] #1521 closed

[2022-01-10 02:40] liukun4515 opened #1535 "support hasher for decimal type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

part of #122
We need to group by decimal column like below
[code]
The type of col is decimal.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solut

[2022-01-10 02:41] liukun4515 commented on #1522
It's resolved in my branch, and will be cherry-picked later

[2022-01-10 02:42] liukun4515 commented on #1535
It will be done after other pull requests about decimal merged.

[2022-01-10 04:01] selvavm opened #1536 "Not able to get the table from register_listing_table"
**Describe the bug**
When I want to generate a dataframe over

**To Reproduce**

            let file_format = ParquetFormat::default().with_enable_pruning(true);
            let listing_options = ListingOptions {
                file_extension: ".parquet".to_owned(),
                format: Arc::new(file_format),
                table_partition_cols: vec!["country".to_string()],
                c

[2022-01-10 05:19] houqp commented on #1536
Did `register_listing_table` return an error for you?

[2022-01-10 05:22] houqp commented on #1531
Thanks @Ted-Jiang for the deepdive, if you look at the comment above the tokio spawn line you linked, it also mentioned we should only run a single loop. Perhaps we should first look into whether it is expected to have 11 scheduler server created in the first place in the same process.

[2022-01-10 05:44] selvavm commented on #1536
@houqp No. `ctx.table` returns an error. My knowledge on Parquet is limited. Sorry for that.

Below are the things I tried,

- Changed the `uri` field in register_listing_table as `&format!("file://{}","C:\\builds\\testdata")` - Still same
- Changed the code like below which now doesn't throw error but returns empty table

        Runtime::new().unwrap().block_on(async {
            ctx.register_l

[2022-01-10 06:25] Ted-Jiang commented on #1531
Thanks @houqp  for your reply, in my opinion:
https://github.com/apache/arrow-datafusion/blob/d6d90e93117293adfa7aa6f4a93bd796665c28a3/ballista/rust/scheduler/src/main.rs#L67
send  a closure to `make_service_fn`, each request will call `SchedulerServer::new` then start a synchronize_job_status_loop

i think it should extract  `SchedulerServer::new` before start server
https://github.com/apache/arr

[2022-01-10 07:40] liukun4515 commented on #700
@mingmwang can update the status?

[2022-01-10 08:04] selvavm commented on #1533
Hi @alamb. Thanks for response. I will see if I can do a self contained reproducer. Sorry, I am new to Parquet files and Datafusion, so having trouble in understanding it.

I also found that `results` is of size 12 with most of them having 0 rows. So, I added my code like below,

    for batch in results {
        for i in 0..batch.num_rows() {
            let max = batch
                .column(0

[2022-01-10 11:18] alamb commented on #1533
@selvavm  you can `RecordBatch::concat` for that purpose:

https://docs.rs/arrow/6.5.0/arrow/record_batch/struct.RecordBatch.html#method.concat

[2022-01-10 12:12] Igosuki commented on #1532
Btw the latest arrow2 commit that still has RecordBatch is https://github.com/jorgecarleitao/arrow2/commit/ef7937dfe56033c2cc491482c67587b52cd91554 it would probably be good to use that as a starting point for a temporary arrow2 fork ? That would allow me to integrate the necessary patches for some features such as decimal, without having to switch to having RecordBatch in datafusion.

[2022-01-10 14:39] domodwyer opened #1538 "Quantile support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to efficiently aggregate (approximate) quantile values from a column of data - "show me the 99th percentile of the latency column in the requests table"

**Describe the solution you'd like**
Implement TDigest (or similar algorithm) to provide relatively cheap quantile values/estim

[2022-01-10 15:50] matthewmturner opened #1540 "Replace DataFusionError/Result with impl Error for ObjectStore and Reader"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
In the context of adding S3 support (https://github.com/datafusion-contrib/datafusion

[2022-01-10 17:49] houqp commented on #1527
Probably caused by https://github.com/apache/arrow-datafusion/issues/132?

[2022-01-10 21:42] jorgecarleitao commented on #1532
Thank you for considering using arrow2, very excited about this!

To provide some selling points, the primary goals of the repo have been:
* be a place to innovate both on Arrow and on Rust
* be sound and use the least amount of `unsafe`, pass MIRI checks, have a curated selection of dependencies
* be panic-free on untrusted input to be usable in the context of web servers
* be idiomatic via itera

[2022-01-11 00:33] hntd187 opened #1544 "Streaming support for DataFusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Consume a streaming source from Kafka. (to start) Datafusion already has a batch oriented processing framework that works pretty well. I wanna extend this to also be able to consume from streaming sources such as a kafka topic.

**Describe the solution you'd like**
So I think it makes sense to

[2022-01-11 00:41] liukun4515 commented on #1515
is there a related issue or pull request？

[2022-01-11 00:45] liukun4515 commented on #1505
@hntd187
any update for this?

[2022-01-11 00:54] liukun4515 opened #1545 "decimal support for agg function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The decimal data type has been supported in #122, but in this issue #122 we just support several agg functions.
In this issue we will list some functions which are not implemented for the decimal data type.

- [ ] sum https://github.com/apache/arrow-datafusion/pull/1408

- [ ] min/max https://

[2022-01-11 00:56] liukun4515 commented on #1545
@realno I add this issue to track agg function which needs to be implemented decimal type.
You have added some agg functions in https://github.com/apache/arrow-datafusion/pull/1525, I have tracked them.

[2022-01-11 01:10] houqp commented on #1515
@liukun4515 see https://github.com/apache/arrow-datafusion/issues/440

[2022-01-11 01:28] liukun4515 commented on #1515
thanks

[2022-01-11 01:49] matthewmturner commented on #1544
I personally would love to see this and agree that making it extendable / trait based would be great.  then we could also use aws kinesis for example.

[2022-01-11 01:50] houqp commented on #1544
I think it would be great to get first class streaming support in datafusion. In the long run, it might even make sense to rebuild our batch processing engine as a special case for the streaming engine. I feel like what we have right now is already pretty close to a micro batching streaming system, we are just pushing down large batches from table sources into downstream execution plans :P

+1 for

[2022-01-11 03:26] realno opened #1546 "Implement `batch_update` and `batch_merge` for var and stddev operator"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We need to change `stddev` and `var` to use batch method for more efficient calculation.

**Describe the solution you'd like**

Implement `batch_update` and `batch_merge` for `stddev` and `var`.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2022-01-11 04:09] hntd187 commented on #1544
@houqp we will at least have to develop the API inside datafusion for now it would seem unless we can do it all via contrib. I'm not totally aware of all the package scoping that might prevent it from existing in contrib

[2022-01-11 04:35] realno commented on #1544
I am excited to see this proposed. I am quite familiar with Flink and happy to participate in design and discussions. It would be nice if we can converge on an initial set of design principles, for example, delivery guarentees, out of order event handling, etc. From my experience the streaming engine will eventually be different enough from the batch one so it is probably a good idea to start sepa

[2022-01-11 04:37] realno opened #1548 "Add covar operators to DataFusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Add covar operators to data fustion.

**Describe the solution you'd like**

Add three operators: `covar`, `covar_samp` and `covar_pop`.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional contex

[2022-01-11 04:37] realno commented on #1548
I will be working on this issue.

[2022-01-11 05:54] Ted-Jiang commented on #118
i will have a try.  i think its a good chance to familiar datafusion code.😁

[2022-01-11 06:45] hntd187 commented on #1544
@realno So I can update my initial comment to flesh out that design as we walk through it.

1. For delivery guarantees, it seems to make sense to do what Spark did which is exactly once delivery. Idempotent sinks, write ahead logs and checkpointing to ensure the offsets of the stream are always managed. This might be over kill for a first pass and maybe we don't have to initially recover from all

[2022-01-11 07:33] Ted-Jiang commented on #118
it seems already support in `where col1 in (1,2) `  in  in_list.rs @alamb

[2022-01-11 07:49] Ted-Jiang commented on #118
but in  for a sub_query is not support, should i implement this?

[2022-01-11 11:25] tustvold commented on #1532
FWIW it would be relatively straightforward to support async IO within the context of arrow-rs. You need buffered fetching in order to get reasonable IO performance anyway, and so you just do an async fetch into a buffer and then use the sync decoders to decode it. I believe this is what arrow2 is doing anyway?? I quickly cobbled something together showing how this can be done with parquet [here](

[2022-01-11 11:46] alamb commented on #1532
I have heard lots of excitement about `async` IO (for parquet, csv, avro, etc) and the performance of those readers.

[2022-01-11 11:54] alamb commented on #118
Thanks @Ted-Jiang  you are right! @seddonm1  added support in https://github.com/apache/arrow-datafusion/commit/93c6c8879c22f96481b5ce7b6057466986f8d340

I think @xudong963  has been working on some subqueries (e.g. https://github.com/apache/arrow-datafusion/issues/1209 and https://github.com/apache/arrow-datafusion/pull/1373 / https://github.com/apache/arrow-datafusion/pull/1492)  so it might be

[2022-01-11 11:54] #118 closed

[2022-01-11 11:55] alamb commented on #118
There were some attempts to improve the performance of INLIST here:  https://github.com/apache/arrow-datafusion/pull/806 https://github.com/apache/arrow-datafusion/pull/278 from @Dandandan  and @pjmore

[2022-01-11 12:18] xudong963 commented on #118
Yes, I'm sure I'll continue with this weekend. BTW, I'll split some small tasks, @Ted-Jiang you can help me. There is a paper that you can read in advance. "Execution Strategies for SQL Subqueries"

[2022-01-11 12:24] xudong963 commented on #1544
WOW, recently I also studied streaming, lol. I can join you and learn more about streaming with you.

[2022-01-11 12:30] alamb commented on #1544
@hntd187  -- I think the proposal sounds good.

I think you were asking about mechanics here:

Here is what I suggest:
1. Create your contrib repo
2. in `Crates.toml` link to a `datafusion` git repo rather than the version published on crates.io . For example:

[code]

Protip: while developing you can change this to point at your own local checkout like this:

[code]

Then as you work on the strea

[2022-01-11 14:53] matthewmturner commented on #1515
@hntd187 @xudong963 let me know if you think worth adding streaming to the roadmap (https://docs.google.com/document/d/1t64vZwZnXm9MyFj2qz3xcAkSxK3Wu12giS3KrS4nDE0/edit).

If so, and you both think its reasonable, I could add to Q1 something like "Begin prototyping a stream provider"

[2022-01-11 14:54] matthewmturner commented on #1544
TIL

[2022-01-11 15:16] hntd187 commented on #1515
@matthewmturner I'm fine with it, I know design discussions can take time through this venue so if a prototype is working and we can at least have a general idea of the direction/design we want then I’d consider that a very successful Q1.

[2022-01-11 15:21] hntd187 commented on #1544
I was using the local checkout method prior it really helps with prototyping. :)

@alamb it was somewhat two questions both not worded well, I was asking mechanics but also where we thought the api level types should live for the time being.

[2022-01-11 19:18] alamb commented on #1513
Arrow-rs ticket to track adding these kernels: https://github.com/apache/arrow-rs/issues/1153

[2022-01-11 19:42] alamb commented on #1540
@matthewmturner

It is possible today to return a `Box<dyn Error>` as a `DatafusionError`which is pretty nasty but works in (that we use in IOx)  which is to return a `DataFusionError::ArrowArrowError::External(Box::new(boxed_error))`. Here is an example: https://github.com/influxdata/influxdb_iox/blob/e8ddc4e0db4c59f039a34f0e3297c9eb495c1d5a/query/src/exec/non_null_checker.rs#L271

Given how nast

[2022-01-11 19:48] #1512 closed

[2022-01-11 21:37] #1546 closed

[2022-01-11 21:43] alamb commented on #1548
Thanks @realno

[2022-01-11 21:49] alamb opened #1549 "Proposal: Remove `Accumulator::update` and `Accumulator::merge`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It is very non obvious that either one or the other of `Accumulator::update` or `Accumulator::update_batch` are called. This results in unfortunate things like https://github.com/apache/arrow-datafusion/pull/1525 (implementation in terms of `ScalarValue`) only then to be followed by https://g

[2022-01-12 01:01] pjmore commented on #1515
@matthewmturner  I've added a little blurb to the roadmap about the optimizer. I'm not entirely sure if the optimizer as it exists is useful so I made it clear that it is in an experimental context.

[2022-01-12 01:11] houqp commented on #1540
I like the idea of doing this combined with the new `Datafusion::External` enum.

[2022-01-12 01:23] houqp commented on #1544
I suggest for the timing being, have the API level types in your DF fork or a WIP PR to the upstream repo :)

[2022-01-12 01:52] houqp commented on #1536
This error usually comes from parquet parsing, so I am surprised individual file works without error for you. Do you get this error with just a single partition? If so, it would be helpful if you can upload that single file here for others to reproduce.

[2022-01-12 01:58] houqp commented on #1507
is this specific to python? or also happens in the rust core?

[2022-01-12 02:19] liukun4515 commented on #1513
thanks

[2022-01-12 03:01] liukun4515 commented on #1549
Can we change the default implementation of the accumulator trait to this?
@alamb

[code]

[2022-01-12 05:59] yahoNanJing commented on #700
Hi @Dandandan, recently we have implemented an initial version of push-based task scheduling. Here's the design document. Could you help have a review?
https://docs.google.com/document/d/1Z1GO2A3bo7M_N26w_5t-9h3AhIPC2Huoh0j8jgwFETk/edit?usp=sharing

PR is ongoing.

[2022-01-12 06:04] yahoNanJing commented on #1221
Hi @alamb and @houqp, recently we have implemented an initial version of push-based task scheduling. Here's the design document. Could you help have a review?
https://docs.google.com/document/d/1Z1GO2A3bo7M_N26w_5t-9h3AhIPC2Huoh0j8jgwFETk/edit?usp=sharing

PR is ongoing.

[2022-01-12 06:12] houqp commented on #1221
Thank you @yahoNanJing for writing up the design doc! I will take a close look at it this weekend :+1:

[2022-01-12 06:19] matthewmturner commented on #1507
I believe it was just in Python but I will have to double check.

[2022-01-12 06:35] realno commented on #1549
+1 on this proposal.

[2022-01-12 06:42] matthewmturner commented on #1540
I was playing with `From<Box<dyn Error>> for DataFusionError` before but having issues with it.  I think if i'm understanding correctly the approach we could do, as @houqp mentioned, would be something like the following:

[code]

Is this what you guys had in mind?

[2022-01-12 07:02] mingmwang commented on #1221
👍

[2022-01-12 07:09] realno commented on #1545
@liukun4515 I have added more functions and am planning to add a few in the next few days. Here are the list, please add as tasks:

covar(col1, col2): calculate the covariance (sample) of col1 and col2

covar_samp(col1, col2): calculate the covariance (sample) of col1 and col2

covar_pop(col1, col2): calculate the covariance (population) of col1 and col2

corr(col1, col2): calculate the correlatio

[2022-01-12 07:33] liukun4515 commented on #1545
@realno The list of function are not agg function, and they are the builtin-function for datafusion.
Now the decimal is not supported in the builtin-function.
I will support them with decimal data when refactoring this model.

I will file a new issue to track builtin-function.

[2022-01-12 13:28] selvavm commented on #1536
Hi @houqp. Sure I will try to reproduce the example and share. My understanding is - `Datafusion (or Arrow)` is able to understand the folder structure as Hive format and tries to create a new field (`country`). It is failing because nowhere I have an option to tell the `"Repetition_type": "REQUIRED"` for this new field.

[2022-01-12 21:54] alamb commented on #1532
So my summary of this ticket so far is that the next step is to get a PR up to datafusion with the most up to date code to get arrow2 working. In parallel, I will plan to start some discussions (hopefully later in the week) on the apache arrow dev list about potential ways to get`arrow2` unified with arrow-rs

Looking forward to seeing a PR!

[2022-01-13 00:18] liukun4515 commented on #1545
thanks @realno , I will add them.
You can add the agg functions first, the decimal supporting is not an emergency work.

[2022-01-13 01:42] liukun4515 commented on #1545
@realno  please check the document of pg https://www.postgresql.org/docs/14/functions-aggregate.html
Some of agg functions don't need to support decimal type, and just need to support double precision data type(double/float64).

[2022-01-13 09:37] Igosuki commented on #1532
My branch got merged into the fork so now we only need to address a few remaining issues that break tests.

[2022-01-13 14:40] alamb commented on #1549
@liukun4515

We could change the default implementation, however, I am not sure what purpose that would serve -- the code in datafusion that calls `Accumulator` only (should) use `Accumulator::update_batch`

I was thinking of moving the current default implementation of `Accumulator::update_batch` which calls `update()` with `ScalarValues` to some sort of public  example or adapter function, so an

[2022-01-13 15:09] liukun4515 commented on #1549
It makes sense to me.
Removing the `update` and `merge` is more clear for developers.

[2022-01-13 16:57] #1531 closed

[2022-01-13 18:06] alamb commented on #1221
I will also try and find some time to read this document, but it may not be for a few days

[2022-01-13 19:31] #1548 closed

[2022-01-13 21:11] alamb commented on #1058
see also https://github.com/apache/arrow-datafusion/issues/1532

[2022-01-14 01:42] houqp commented on #1061
@Igosuki I believe you have completed the migration for all avro related code right? Is there any left over for this issue?

[2022-01-14 02:35] yahoNanJing opened #1558 "Remove call_ip in the SchedulerServer"
**Describe the bug**

Currently there's a field in the SchedulerServer for recording caller ip which sends requests to the scheduler. However, for one scheduler, there will be multiple clients. Concurrency issue may occur. It's not a good way for record the requester info in a global field. Therefore, it's better to remove it from the SchedulerServer.

We can get the requester ip from the hyper in

[2022-01-14 04:15] yahoNanJing commented on #1221
An initial version of PR is there #1560.

[2022-01-14 04:26] matthewmturner commented on #1515
@yahoNanJing no pressure, but ive seen you on multiple ballista related topics and was wondering if you perhaps had any ballista related goals that you would like to add to our 2022 Q1 roadmap.  doc is here in case you wanted to see what was already there https://docs.google.com/document/d/1t64vZwZnXm9MyFj2qz3xcAkSxK3Wu12giS3KrS4nDE0/edit.

[2022-01-14 05:34] houqp commented on #1532
For me personally, on top of the highly optimized parquet, avro and json io modules, I really like it's transmute free design and the muttable array abstraction. The latter is the main reason why delta-rs is also in the process of migrating to arrow2.

From previous discussions in the arrow dev list, I believe Jorge tried applying his arrow2 learnings back to arrow-rs last year, but decided that i

[2022-01-14 05:38] houqp commented on #1532
As for the datafusion arrow2 branch, the PR is now available for review at https://github.com/apache/arrow-datafusion/pull/1556. I encourage everyone to:

* Review the code change to get a feeling of the API UX.
* Do your own performance tests with the code base and potentially downstream projects to see if the performance story actually holds up or not and whether there is any regression in workl

[2022-01-14 06:16] houqp opened #1563 "ARROW2: fix csv schema inference records to read calculation"
**Describe the bug**

Now that we have upstream support in https://github.com/jorgecarleitao/arrow2/pull/765, we should address the FIXME in datasource/file_format/csv.rs.

**Additional context**

This is a left over item for the arrow2 branch.

[2022-01-14 06:35] jorgecarleitao commented on #1563
PR: https://github.com/jorgecarleitao/arrow2/pull/765

[2022-01-14 10:13] tustvold commented on #1532
Sorry, I meant more cherry-picking ideas, not actual implementation. As in you might copy across arrow-2's `Buffer` implementation, add a conversion to `arrow-rs`'s `Buffer` implementation and then migrate the array implementations across one-by-one. Or do something similar for `MutableBuffer`. Ultimately the in-memory format is the same arrow spec, just getting wrapped up in different ways - the

[2022-01-14 10:35] Igosuki commented on #1544
I've used kafka-streams, flink and beam professionally, the point of streaming is to execute windowed functions, join aggregated data with in-memory tables and distribute these computations (DAGs) according to partition keys, so that the right value gets sent to the right thread.

In terms of priority, it looks to me like this would not be a reasonable thing to do before having methods like `DataF

[2022-01-14 11:20] yjshen commented on #1221
@jon-chuang Thanks for bringing this up. I may mistake something for Ray, please point out.

IMHO, Ray is designed to ease the development of the general purposed distributed program. It's more like "parallel your machine learning code and run on a cluster without pain", just like what you have provided in the code sample above.

On the other hand, Ballista is meant to be a distributed SQL query e