[2022-04-28 15:09] andygrove commented on #2221
I just ran into this and in my case it was caused by optimizing the query twice (which really should be safe buf apparently is not)

[2022-04-28 16:37] andygrove opened #2370 "Introduce `SchemaError` error type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Rather than returning errors with strings such as "No field 'foo'. Valid fields ...', I would like to have a new `DataFusionError::SchemaError` variant that returns a strongly-typed enum with the various schema error types. This will allow the caller to better see what type of error happened.

[2022-04-28 17:49] #2221 closed

[2022-04-28 19:16] comphead commented on #2278
@andygrove if file named xxx.yyy.zzz.csv, or with whitespaces, other special symbols what is the table name should be? Do we have a list of special symbols, so we can  replace them with _ or so

[2022-04-28 19:21] comphead commented on #2278
We can stick to PostgresSQL naming convention https://www.postgresql.org/docs/7.0/syntax525.htm
Any thoughts?

[2022-04-28 20:23] andygrove opened #2372 "Duplicate qualified field in complex SQL with CTE, alias, and join"
**Describe the bug**
See the test case below

**To Reproduce**
[code]

Fails with:

[code]

**Expected behavior**
Should not fail

**Additional context**
None

[2022-04-28 20:38] #2370 closed

[2022-04-29 00:45] #2347 closed

[2022-04-29 08:40] comphead commented on #2278
@andygrove @alamb
[code]
leads to   `TableScan: /tmp/xxxx/employee.csv projection=Some([3, 4])`

This happens because file path used as a table name.
[code]

Proposed solution is to trunc the parent folder and extension and leave only the file name.
Let me know your thoughts guys.

[2022-04-29 09:27] dbr opened #2374 "Clarify in docs that Identifiers are made lower-case in SQL query"
**Describe the bug**
With (I think) [the most up-to-date version](https://github.com/apache/arrow-datafusion/commit/744b2626081db95a254fc882820fc7812f95aa51) of the arrow2 branch, the idenfitiers in query seem to be made lower-case

For example if I modify the `memtable` example by renaming the `bank_acount` field to `Bank_Account` then the query will fail,

[code]

Meaning, if the source table ha

[2022-04-29 09:43] dbr commented on #2374
Oh this is acting same in latest `master` branch! 7a9b86526e2bd12deccb9ff30cead2ba6323409a

[code]

[2022-04-29 13:09] Ted-Jiang commented on #2043
@lquerel Are you taking this feature? If not i am glad to take this.❤️

[2022-04-29 15:07] andygrove opened #2376 "SQL planner is inconsistent in normalizing identifiers"
**Describe the bug**
https://github.com/apache/arrow-datafusion/pull/2373 fixes a number of issues around normalizing identifiers but there are more bugs that need fixing so I am creating this issue to cover those.

**To Reproduce**
N/A

**Expected behavior**
All SQL identifiers should be normalized.

**Additional context**
None

[2022-04-29 15:32] andygrove opened #2377 "Add support for `OFFSET` in SQL query planner + logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to produce logical plans for queries that contain `OFFSET`.

**Describe the solution you'd like**
I would like to produce logical plans for queries that contain `OFFSET`.

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-04-29 15:40] andygrove opened #2378 "Add support for `ROLLUP` and `CUBE` grouping sets in SQL query planner and logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I would like to be able to parse queries like this with the SQL query planner:

[code]

**Describe the solution you'd like**
As above

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-04-29 15:53] andygrove opened #2379 "Cannot resolve CTE in subquery expression"
**Describe the bug**
It is not possible to reference CTEs from subquery expressions. See test case below.

**To Reproduce**
[code]

Fails with:

[code]

**Expected behavior**
Test should pass

**Additional context**
None

[2022-04-29 16:14] andygrove opened #2380 "Support type-coercion from `Decimal` to `Float64`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]

Fails with

[code]

**Describe the solution you'd like**
I would like the decimal to be coerced into a floating-point value.

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-04-29 16:37] andygrove opened #2381 "SQL parser does not support all forms of nested subquery"
**Describe the bug**
See unit test below.

**To Reproduce**
[code]

Fails with:

[code]

**Expected behavior**
Test should pass

**Additional context**
None

[2022-04-29 16:46] lquerel commented on #2043
@Ted-Jiang No unfortunately I can't right now. Thanks in advance.

[2022-04-29 17:57] alamb commented on #2350
Hi @liurenjie1024  -- the settings of this repo are controlled by asf.yaml

It seems like a reasonable idea to me to enable them for this repo, but we will have to ask ASF infrstructure

https://cwiki.apache.org/confluence/display/INFRA/Git+-+.asf.yaml+features#Git.asf.yamlfeatures-GitHubDiscussions

[2022-04-29 17:58] alamb commented on #2349
This makes sense to me

[2022-04-29 18:29] alamb commented on #2278
I haven't tried the scenario described in this report, but I would expect to be able to refer to a table named `employee.csv` using `"employee.csv"` (aka put it in single quotes).

I don't necessarily think munging the file name is what a user might expect.

[2022-04-29 19:13] timvw opened #2383 "Build fails"
**Describe the bug**
Currently a "cargo build" fails with the following error:
error[E0599]: no function or associated item named `from_str_unchecked` found for struct `proc_macro2::Literal` in the current scope
   --> /Users/timvw/.cargo/registry/src/github.com-1ecc6299db9ec823/quote-1.0.11/src/runtime.rs:301:41

**To Reproduce**
cargo build

**Expected behavior**
the build does not fail

[2022-04-29 19:14] #2383 closed

[2022-04-29 19:18] timvw commented on #2383
PEBKAC: was still working on outdated fork.

[2022-04-29 19:35] #2372 closed

[2022-04-29 19:35] #2376 closed

[2022-04-29 21:14] comphead commented on #2278
To solve this we need more details.
@andygrove put a bug that currently table name is set to a full file path. That happens because table name derives from full file path

[code]

The question is how to derive a table_name correctly.

[2022-04-29 21:15] andygrove commented on #2374
@dbr Unquoted SQL identifiers are case-insensitive by design (to match ANSI and Postgres). SQL identifiers in double quotes are case-sensitive. If you put double quotes around the identifier in the SQL query then it works as expected.

[code]

[2022-04-29 21:17] andygrove commented on #2350
I have been thinking about this as well and I think it would be a good idea so that we can keep discussions and issues separate.

[2022-04-29 21:17] andygrove commented on #2356
This issue was not valid.

[2022-04-29 21:17] #2356 closed

[2022-04-29 21:27] andygrove commented on #2278
Sorry, just catching up here. This issue came up when I was attempting to refactor DF to have the plan just refer to table sources by name, and this would require names to be valid SQL object names. I eventually gave up on the refactor because I ran into too many places where our design really doesn't support this.

Fundamentally, file scans don't have table names, but we store the path in an attr

[2022-04-29 21:30] WinkerDu opened #2385 "split `distinct_expression.rs` into `count_distinct.rs` and `array_agg_distinct.rs`"
`distinct_expression.rs` can be split into `count_distinct.rs` and `array_agg_distinct.rs` to provide better code organization.

[2022-04-30 01:02] yjshen opened #2387 "Re-organize and rename aggregates physical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

- We currently have a hash-based implementation, `GroupedHashAggregateStream` for aggregate with grouping keys, and a non-hash implementation for aggregate without grouping keys but named `HashAggregateStream`.
- We could further enrich the aggregation method from hash-based to sort-based at

[2022-04-30 03:53] dbr commented on #2374
Ah interesting! Quoting the identifiers works, thanks

Just to be clear, is it still a bug that the original example fails? I would expect:

- Given the field named `bank_account` the `SELECT BaNk_AcCoUnT FROM users` does work as expected (case is ignored)
- Given the field named `Bank_Account`, I would expect `SELECT BaNk_AcCoUnT FROM users` to work (but currently this only looks for a field name

[2022-04-30 10:28] comphead commented on #2380
@andygrove Please check the PR

[2022-04-30 12:28] haoxins commented on #2383
https://github.com/apache/arrow-datafusion/issues/1498
https://github.com/apache/arrow-datafusion/pull/1499
https://github.com/apache/arrow-datafusion/pull/1523

I think the only thing is to publish a new version on [crates.io](https://crates.io)

[2022-04-30 13:57] #2385 closed

[2022-04-30 15:44] andygrove opened #2392 "DataFusion 8.0.0 Release"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to propose that we release DataFusion 8.0.0 in mid-May. This will be around 3 months after the last major release.

Let's use this issue to coordinate and track subtasks.

## Prep tasks

- [x] https://github.com/apache/arrow-datafusion/pull/2423
- [x] https://github.com/apache/arr

[2022-04-30 18:48] timvw opened #2393 "Allow user to use glob/wildcard in file path"
Currently it is only possible to use a fully qualified path to a file or a folder, eg:
* /Users/timvw/src/github/arrow-datafusion/testing/data/wildcard/green_01.csv
* /Users/timvw/src/github/arrow-datafusion/testing/data/wildcard

In situations when a folder contains multiple "sorts" of files it would be handy to use a glob/wildcard to list relevant files, eg:
* /Users/timvw/src/github/arrow-dataf

[2022-04-30 21:21] comphead commented on #2380
Opening new PR to resolve commit history

[2022-05-01 00:26] #2236 closed

[2022-05-01 00:26] #2380 closed

[2022-05-01 02:17] #2379 closed

[2022-05-01 09:40] AdheipSingh opened #2397 "Helm Chart to deploy Ballista on kubernetes"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

- Ballista has a scheduler and executor, which need pvc's.
- Currently it is k8s yaml files( which are a lot to deploy ), it would be great to add a helm chart to ease out and standardise ballista  deployment process on k8s.

Also is it possible to host an official docker image of ballista ?

[2022-05-01 16:59] WinkerDu opened #2399 "remove duplicated `fn aggregate()` in aggregate expression tests"
Here are duplicated `fn aggregate()` implementations in multiple aggregate expressions like `sum.rs`, `average.rs`, `correlation.rs`, etc.
We can remove them and `use crate::expressions::tests::aggregate` instead.

[2022-05-01 17:41] tustvold commented on #2393
I'm not sure how I feel about having the local object store treat paths differently from the other implementations. Perhaps we should consistently support glob expressions as part of the ObjectStore trait, or not? Having a mix seems unfortunate...

FYI @matthewmturner @alamb

[2022-05-01 18:50] timvw commented on #2393
Your suggestion to make this explicit on ObjectStore makes a lot of sense (was not aware of the other implementations and the datafusion-contrib project till now).

[2022-05-01 19:20] timvw commented on #2393
The thing is, currently datafusion-objectstore-s3 already supports (some?) globbing...

eg: when I a test in update s3.rs to use globbing instead of filename, it keeps working:

        let mut files = s3_file_system
            .list_file("data/alltypes_plain.sn*py.parquet")
            .await?;

[2022-05-01 20:50] jon-chuang commented on #2248
Some additional ideas for subquery optimizations:
- If rest of subquery is not correlated, push up correlated filter (in particular, correlated equality filter) into a left join on the filter.
- More here: https://www.alibabacloud.com/blog/query-optimization-technology-for-correlated-subqueries_597644

[2022-05-01 23:21] #2399 closed

[2022-05-02 00:41] #2387 closed

[2022-05-02 04:25] andygrove commented on #2397
I would love to see official docker images for DataFusion/Ballista as well as supported k8s / helm deployments. We should at least have documentation in the user guide for k8s / helm deployments.

[2022-05-02 04:33] AdheipSingh commented on #2397
thanks @andygrove

I will submit a PR for this soon for the helm charts with documentation.

[2022-05-02 04:45] andygrove commented on #2374
@dbr My view is that this is not a bug. If a non-lowercase table or column name is created via the low-level Schema/DataFrame APIs then I would expect to have to use double-quotes in SQL to reference it. However, we are probably lacking in documentation around this so lets at least use this issue to drive that. Also would like to hear what others think, including @alamb and @yjshen

[2022-05-02 05:58] Jimexist commented on #2378
see also:
- https://github.com/apache/arrow-datafusion/issues/1327

[2022-05-02 09:06] comphead commented on #2381
@andygrove please check the PR above

[2022-05-02 09:50] tustvold commented on #2393
Does this work correctly with multiple files, or wildcards in the path and not the file? I'm very surprised to see this working.

I ask as it is just calling out to https://docs.aws.amazon.com/AmazonS3/latest/API/API_ListObjectsV2.html which doesn't support wildcards, let alone glob expressions. S3 doesn't even have a defined concept of a directory, so globbing has to be implemented client side.

[2022-05-02 10:45] WinkerDu opened #2404 "`sum(distinct)` support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

For now, DataFusion hasn't support `sum(distinct)` yet. Though optimizer `SingleDistinctToGroupBy` (#1315) supports single distinct usage, there are more SQL scenes have not been covered.
For example,  run the following unit test,
[code]
then error raises like
[code]

**Describe the solution

[2022-05-02 10:58] WinkerDu opened #2406 "Support complete `distinct` usage for aggregate expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Here are multiple aggregate expressions have not support `distinct` usage yet.
Though optimizer `SingleDistinctToGroupBy` (#1315) supports single distinct usage, there are more SQL scenes have not been covered, like
[code]
I would like to take effort to work on the following tickets to complet

[2022-05-02 11:02] WinkerDu opened #2407 "Introduce `sum_distinct()` function to dataframe"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
see #2405 , a dataframe interace for `sum(distinct)` usage

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-05-02 11:03] WinkerDu opened #2408 "`avg(distinct)` support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

DataFusion does not `avg(distinct ..)`:

[code]

Somewhat confusingly DataFusion does appear to support a single distinct `avg`

[code]

But it does this by rewriting effectively rewriting the query `select avg(distinct a) ` to `select avg(a) from (select distinct a ...)` in the SingleDistinc

[2022-05-02 11:05] WinkerDu opened #2409 "Introduce `avg_distinct()` function to dataframe"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
see #2408 , a dataframe interface to `avg(distinct)` usage

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-05-02 11:12] WinkerDu opened #2410 "var(distinct) support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
complete description later.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any

[2022-05-02 11:15] WinkerDu opened #2411 "`median(distinct)` support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-05-02 11:17] WinkerDu commented on #2406
@andygrove @alamb can you please assign this issue to me?

[2022-05-02 13:09] timvw commented on #2393
@tustvold : Good remarks/questions!

This is what I can do:
* have a look at the tests (s3 and azure) and verify that they fail when they should..
* verify how globbing could work on local, s3, azure and hdfs

[2022-05-02 13:40] WinkerDu opened #2412 "Make expected result string in unit tests more readable"
Some unit tests in DataFusion organize expected result string vector in one line, like `sql::union::union_distinct` do
[code]
We can separate the expected result string vector into multiple line to make it more readable and easier to follow, by adding a `#[rustfmt::skip]` tag to skip fmt check as following code
[code]

[2022-05-02 14:39] #2412 closed

[2022-05-02 15:07] andygrove opened #2415 "Scalar subquery can fail to reference unqualified field from outer query"
**Describe the bug**

The following query fails with `SchemaError(FieldNotFound { qualifier: None, name: "j2_id", valid_fields: Some(["j1.j1_id", "j1.j1_string", "j3.j3_id", "j3.j3_string", "j1.j1_id", "j1.j1_string", "j3.j3_id", "j3.j3_string"]) }`

[code]

**To Reproduce**

Add this test to `sql/planner.rs`:

[code]

Also, add these tables to `MockContextProvider` in the same file.

[code]

**Ex

[2022-05-02 16:05] andygrove opened #2417 "Allow subqueries without aliases"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion currently does not allow subqueries without aliases so does not support queries like the following, which Spark supports.

[code]

I checked the ANSI SQL:2016 specification and I could not see anything in there that requires subqueries to have aliases either.

However, Postgres *doe

[2022-05-02 17:32] alamb commented on #2392
I think this is a great idea. Thanks @andygrove

Also related might be #2327 where we were talking about more frequent releases to crates.io -- I don't think it has any bearing on the 8.0 release directly.

Here are some suggested subtasks:
1. Figure out if we want to do a ballista release to crates.io at the same time
2. Enumerate and prepare to release [the new subcrates](https://crates.io/searc

[2022-05-02 17:36] alamb commented on #2374
I would not expect this to work (as the field is named `Bank_Account`)

Here is an example in case that is helpful: https://github.com/apache/arrow-datafusion/issues/1710#issuecomment-1029927443

[2022-05-02 17:44] alamb commented on #2406
Done -- thanks @WinkerDu

[2022-05-02 17:46] timvw commented on #2393
For azure I can confirm that globbing does not work out of the box:

Updated test(s) to assert that files are actually found (and processed)
Meanwhile, extended documentation on how to create the storage containers
https://github.com/datafusion-contrib/datafusion-objectstore-azure/pull/6

[2022-05-02 17:47] alamb commented on #2407
Perhaps a function like `sum_distinct` (following the pattern of `count_distinct`) would be good

 https://github.com/apache/arrow-datafusion/blob/c3c02cf5e881c9c5020ad87417716dd932e69a69/datafusion/core/src/logical_plan/mod.rs#L43

[2022-05-02 17:51] alamb commented on #2393
timvm -- I wonder if you could do the "globbing" at a higher level (aka what interface would the user decide to type in `/Users/timvw/src/github/arrow-datafusion/testing/data/wildcard/green_*.csv`)?

So rather than passing `/Users/timvw/src/github/arrow-datafusion/testing/data/wildcard/green_*.csv` to datafusion directly, you can implement something that uses the object store's `list_all` feature

[2022-05-02 17:52] timvw commented on #2393
@alamb That seems indeed to be the way forward. Will also have a look at hadoop fs to find some inspiration on how they implemented that (across filesystem implementations)

[2022-05-02 18:51] andygrove opened #2420 "Type-coercion errors calling `round` function with two arguments"
**Describe the bug**
I am trying to run query `SELECT round(c1/3, 2) FROM aggregate_simple order by c1` where `c1` is a decimal. The query fails with `Coercion from [Decimal(29, 23), Int64] to the signature Uniform(1, [Float64, Float32]) failed.`.

**To Reproduce**
Run the query shown above.

**Expected behavior**
Query should work.

**Additional context**
None

[2022-05-02 19:46] #2417 closed

[2022-05-02 19:47] #2381 closed

[2022-05-02 23:02] jon-chuang commented on #2351
I'm currently halfway through implementing this, using heuristic rewrite rules, but I've decided to try to make it more generic as per DuckDB/Hyper's (and also apprently Materialize's) approach, which is to pushdown the dependent join through the subquery until all dependent/correlated predicates have been exfiltrated from the subquery.

This was the intuition which occured to me as the most power

[2022-05-02 23:16] andygrove opened #2422 "Ballista 0.7.0 Release"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Once we have released [DataFusion 8.0.0](https://github.com/apache/arrow-datafusion/issues/2392), I would like to release Ballista 0.7.0.

[2022-05-02 23:17] andygrove commented on #2392
I created a separate issue for releasing [Ballista 0.7.0](https://github.com/apache/arrow-datafusion/issues/2422)

[2022-05-02 23:31] timvw commented on #2393
Currently spark does the following:
Datasource (paths) -> (when __globPaths__ option is true) -> checkAndGlobPathIfNecessary
when no glob pattern in path -> fs.listfiles(path)
when glob pattern in path -> globber.glob(fs.listfiles(path))

As @tustvold already suggested, adding a glob_files method to ObjectStore seems the appropriate way to implement this feature. This method should then:
when no g

[2022-05-02 23:34] andygrove opened #2424 "Move `data-access` crate to same level as other crates?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Most of the DataFusion crates are in subdirectories beneath `datafusion` but the `datafusion-cli` and `data-access` crates are outside of this structure. ~Is there a reason for this?~

Update: there is good reason for `datafusion-cli` to be at top-level because it depends on both DataFusion an

[2022-05-03 00:12] andygrove commented on #2327
Another option to consider would be [Calendar Versioning](https://calver.org/)

[2022-05-03 01:28] timvw commented on #2393
With the current code my use-case works:

[code]

[2022-05-03 09:21] WinkerDu commented on #2420
It seems `round` in df is an unary function with signature: `signature Uniform(1, [Float64, Float32])`
The possible approach to solve this issue is:
- Extends the `round` signature  to `one_of`
- Introduce the new `round` expression implementation  in `math_expressions.rs`

I can take this ticket as appropriate. @andygrove Can you assign this issue to me? Thank you.

[2022-05-03 09:57] dbr commented on #2374
Ahh I see - I wasn't aware Postgres had these rules around case-insensitivity, interesting!

I was thinking maybe the error message could be clearer, but even postgres appears to do the same thing (e.g error message containing the lower-cased field name, not the one the user supplied). So just noting this in the docs as mentioned seems like a good solution

[2022-05-03 10:38] comphead commented on #2278
I'll try to implement a FileScan for file read operations.

[2022-05-03 13:56] andygrove commented on #1468
I plan on working on this since I think it will solve some problems I am running into when working with expressions and schemas.

[2022-05-03 14:00] tustvold opened #2426 "ShuffleWriterExec::schema mismatch"
**Describe the bug**

`ShuffleWriterExec::schema()` returns the schema of the underlying plan, however, `ShuffleWriterExec::execute` returns a stream of RecordBatch containing metadata and a consequently completely different schema.

**To Reproduce**

Use `ShuffleWriterExec`

**Expected behavior**

`ExecutionPlan::schema` should return the same schema as the `SendableRecordBatchStream` yielded by

[2022-05-03 14:16] alamb opened #2427 "Improve Sorting / Merge performance"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I plan to make sorting / merging faster. My reasons;

1. I find it personally interesting
2. It is a key  piece of technology to bring DataFusion's performance to be on par with things like DuckDB
1. It is important for my project IOx in the medium term

**Describe the solution you'd like**
Ba

[2022-05-03 15:08] tustvold commented on #2426
I tried changing this in #2428 but it leads distributed_join_plan to fail with

[code]

I'm not familiar enough with this code to know what is going on here, but something doesn't feel right

[2022-05-03 15:10] comphead opened #2430 "Group by incorrectly works with alias."
**Describe the bug**
Group by incorrectly works with alias. The query fails with "Projection references non-aggregate values"
`

**To Reproduce**
[code]
**Expected behavior**
Test should pass

**Additional context**
None

[2022-05-03 15:11] comphead commented on #2430
@andygrove can this be assigned to me?

[2022-05-03 15:39] andygrove opened #2433 "datafusion-cli crate has circular dependency"
**Describe the bug**

`datafusion-cli` currently depends on both `ballista-0.6.0` and `datafusion-7.0.0`. `ballista-0.6.0` depends on `datafusion-6.0.0`.

![crate-deps](https://user-images.githubusercontent.com/934084/166486108-4952cf1e-d505-4106-a32c-b0b6b3db75c7.svg)

**To Reproduce**
N/A

**Expected behavior**
If we have one CLI that depends on both DataFusion and Ballista then it implies that

[2022-05-03 16:01] andygrove commented on #2392
@alamb I was heading towards having separate releases for DataFusion and Ballista until I realized that `datafusion-clit` depends on both `ballista` and `datafusion` which introduces a circular dependency as noted in https://github.com/apache/arrow-datafusion/issues/2433

I now think we need to release everything at once, with `datafusion-cli` as the last crate that gets published.

[2022-05-03 16:09] andygrove commented on #2430
@comphead I have assigned this to you. I have spent some time working on this and keep running into problems with the way we try and compute names and determine type information based on an expression and a schema. I will be interested to see what you find.

I am now going to start working on https://github.com/apache/arrow-datafusion/issues/1468 and see where that takes me. If the expressions car

[2022-05-03 17:59] #2415 closed

[2022-05-03 20:34] jdye64 opened #2436 "`ContextProvider`: custom message for error propagation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The current implementation of `ContextProvider::get_table_provider()` return an `Option`. Normally this is fine, but with custom `ContextProvider's` a user would prefer to define their own messages that are encapsulated in a `DataFusionError`.

**Describe the solution you'd like**
Alter `Conte

[2022-05-03 21:01] timvw commented on #2206
I have some sample code which uses the aws-sdk-glue client, iterates over all databases and tables, and registers them in a memorycatalogprovider

https://gist.github.com/timvw/84246389d9c79fc0bf07570c625fdaf4

[2022-05-04 00:32] kesavkolla opened #2439 "Empty array giving error"
I have a parquet file with schema of nested array. There are several levels where type is array but data is empty. When use this data with datafusion I am getting this error:

[code]

Even if use projection with only non nested columns then also I am getting the above error. Can you someone share thoughts on how can I get away with this error?

[2022-05-04 01:11] #2404 closed

[2022-05-04 01:13] alamb commented on #2392
👍

The situation is non ideal -- hopefully we can find a better way somehow

[2022-05-04 10:05] comphead commented on #2430
2 bugs here.
- `resolve_aliases_to_exprs(&group_by_expr, &alias_map)?;` which does wrong resolving and breaks expr to `substr(substr(aggregate_test_100.c1,Int64(1),Int64(1)),Int64(1),Int64(1))` instead of `substr(aggregate_test_100.c1,Int64(1),Int64(1))`
- `check_columns_satisfy_exprs` that gets confused because of alias the same as col name in agg expression

[2022-05-04 10:08] comphead commented on #2430
@andygrove I'm not sure this will solve all the problems. Currently the test like `select count(1), count(1) from t` will fail because the name gets generated based on colname + function + types. You may want include some increment like position, or reference to current query block hashcode, something like that

[2022-05-04 13:03] jackwener commented on #2433
I'm curious about this analysis tool. 😂 Could you please tell me what it is?

[2022-05-04 13:27] andygrove opened #2440 "Ballista integration tests no longer work"
**Describe the bug**
We have integration tests for Ballista but they do not run in CI and therefore they frequently become out of date.

**To Reproduce**
Run `./dev/integration-tests.sh`

**Expected behavior**
Test should pass

**Additional context**
We really need to get these running in CI. I will take another look at doing this.

[2022-05-04 14:57] andygrove commented on #2439
@kesavkolla Is it possible that you could provide a minimal repro parquet file that we can use for testing?

[2022-05-04 15:30] andygrove commented on #2350
I started a discussion on the mailing list about this

[2022-05-04 15:49] ovr opened #2442 "ArrayIndex support with expression as key"
Hello!

[code]

[code]

[code]

**Describe the solution you'd like**

I would like to split `GetIndexedExpr` into `MapAccessExpr` (will continue to accept `key` as `ScalarValue)` & `ArrayIndexExpr` (will use `PhysicalExpr` for key)

**Describe alternatives you've considered**

Making key as `PhysicalExpr`for `GetIndexedExpr` but it makes a problem with type detection for a field of a `Struct` type

[2022-05-04 16:09] #2307 closed

[2022-05-04 16:09] #2083 closed

[2022-05-04 17:59] timvw commented on #2321
I tried to capture most of them in my PR [commit](https://github.com/apache/arrow-datafusion/pull/2394/commits/6ea9dbb0d3846a30847aacf2a84aae260009c5c9). (Because I managed to have failing builds due to these checks a couple of times 😛 )

[2022-05-04 19:21] kesavkolla commented on #2439
I had to create a zip file from the compressed parquet because github is not letting to updload files otherwise.

Just unzip the file and try to load it via datafusion then we get the above error.

Here is my code snippet
[code]

[part-00000-f6337bce-7fcd-4021-9f9d-040413ea83f8-c000.snappy.parquet.zip](https://github.com/apache/arrow-datafusion/files/8626500/part-00000-f6337bce-7fcd-4021-9f9d-0404

[2022-05-04 19:45] AdheipSingh commented on #2397
@andygrove can we host ballista docker image. somehow for me the Dockerflie is broken on master branch. I was able to get it running but my machine runs out of resources, seems like the build is very resource intensive.

Here are few changes which i did to get it running, https://github.com/AdheipSingh/arrow-datafusion/commit/a591394917ebc6bb0b0fd93183e9020681745214

[2022-05-04 19:48] tustvold opened #2445 "ObjectStore Directory Semantics"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`LocalFileSystem` interprets the prefix passed to `ObjectStore::list_file` as the path to a directory, and then proceeds to enumerate this directory recursively. `S3FileSystem`, however, interprets the prefix as a string prefix.

The distinction arises if you consider a file structure like

[

[2022-05-04 21:14] andygrove commented on #167
Fixed by https://github.com/apache/arrow-datafusion/pull/2421

[2022-05-04 21:14] #167 closed

[2022-05-04 21:14] andygrove commented on #169
Fixed by https://github.com/apache/arrow-datafusion/pull/2421

[2022-05-04 21:14] #169 closed

[2022-05-04 21:17] andygrove commented on #321
Should we consider running the integration tests in CI without creating docker images? Just run the native binaries for scheduler and executor?

[2022-05-05 00:10] alamb commented on #2350
Mailing list link, in case anyone is interested: https://lists.apache.org/thread/o8d50n8fv989knxcqvnhosbg4fnzdlf8

[2022-05-05 00:15] alamb commented on #2424
Yes this is one reason. The other reason was to be able to commit a `Cargo.lock` file -- see discussion and linked PRs on https://github.com/apache/arrow-datafusion/issues/2071 (cc @happysalada )

[2022-05-05 00:28] alamb opened #2447 "Investigate and reduce runtime type coercion in aggregates like `sum`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There is casting logic in aggregates that handles coercing inputs to aggregates

https://github.com/apache/arrow-datafusion/blob/6b4bbd0/datafusion/physical-expr/src/aggregate/sum.rs#L224-L316

On the surface doing these casts in `sum.rs` appears to duplicates some non trivial amount of the lo

[2022-05-05 02:45] doki23 opened #2448 "Result of window function with sort is wrong"
**Describe the bug**
Result of window function is wrong.

**To Reproduce**
Test with code
[code]
The result vec is
[code]

**Expected behavior**
[code]

**Additional context**
Problem is about `order by c1`.
It'll be correct if remove the `order by c1`.

[2022-05-05 06:33] #2393 closed

[2022-05-05 07:22] tustvold opened #2449 "Redundant ScalarValue Boxed Collection"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`ScalarValue::List` and `ScalarValue::Struct` contain a `Box<Vec<_>>` this adds a redundant level of boxing. Clippy in fact complains about this, but this has been suppressed with `#[allow(clippy::box_collection)]`

**Describe the solution you'd like**

Remove the additional `Box`

[2022-05-05 07:25] tustvold opened #2450 "Preserve Element Name in ScalarValue::List"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`ScalarValue::List` lacks the ability to preserve the name of its element which prevents round-tripping it correctly

**Describe the solution you'd like**

`ScalarValue::List` should store a `Box<Field>` instead, much like `ScalarValue::Struct`

[2022-05-05 08:57] jhorstmann commented on #2448
A bit difficult to analyze without seeing the corresponding values of `c1`. If the values for `c1` are distinct then the result seems correct since the presence of `ORDER BY` changes what is considered a peer of the current row. The [postgres documentation](https://www.postgresql.org/docs/14/sql-expressions.html#SYNTAX-WINDOW-FUNCTIONS) describes this as:

[2022-05-05 09:26] doki23 commented on #2448
Oh, I get it! It's not a bug, the c1 column is distinct. Thanks! @jhorstmann

[2022-05-05 09:26] #2448 closed

[2022-05-05 10:28] timvw commented on #2445
Regardless the chosen approach (ObjectStore vs FileSystem) I would consider to make the trait (and it's methods) consistent:

Currently the trait is named ObjectStore but it only has methods related to Files. Either update/rename the methods (and datatypes) such as fn list_object(s) -> ObjectMetadata .. Or rename the trait to FileSystem...

[2022-05-05 10:58] yjshen opened #2452 "GroupedHashAggregate in row format"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We could both improve the performance and save the memory of GroupedHashAggregate by employing row format.
By using `Vec<u8>` backed rows, we are able to:
1. compare compound grouping keys by comparing raw bytes directly.
2. create all accumulator states by just creating a `Vec<u8>` for each k

[2022-05-05 11:26] tustvold opened #2453 "Incorrect Parquet Projection For Nested Types"
**Describe the bug**

[code]

Where part-00000-f6337bce-7fcd-4021-9f9d-040413ea83f8-c000.snappy.parquet is the [parquet file](https://github.com/apache/arrow-datafusion/files/8626500/part-00000-f6337bce-7fcd-4021-9f9d-040413ea83f8-c000.snappy.parquet.zip) provided by @kesavkolla in https://github.com/apache/arrow-datafusion/issues/2439

This fails with

[code]

The problem arises because ParquetEx

[2022-05-05 12:48] yjshen opened #2455 "Sum should not panicked when overflow"
**Describe the bug**
A simple sum over Int8 column panicked at "attempt to add with overflow".

**To Reproduce**
#[tokio::test]
async fn csv_query_array_agg_simple() -> Result<()> {
    let ctx = SessionContext::new();
    register_aggregate_csv(&ctx).await?;
    let sql =
        "select c2, sum(c3) sum_c3";
    let actual = execute_to_batches(&ctx, sql).await;
    let expected = vec![
    "+----

[2022-05-05 17:16] andygrove opened #2456 "When creating `DFField` from `Expr` we should provide input plan not input schema"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We often need to create a `DFField` to represent the output of an `Expr` in a schema. We typically attempt to do this today based on an input schema.

Examples:

- `fn to_field(&self, input_schema: &DFSchema)` in `ExprSchemable`
- `pub fn exprlist_to_fields<'a>(expr: impl IntoIterator<Item = &

[2022-05-05 18:59] andygrove commented on #2430
@comphead I have the test passing in the WIP PR https://github.com/apache/arrow-datafusion/pull/2457

I ran into the solution whilst working on ROLLUP support

[2022-05-05 19:22] #2436 closed

[2022-05-05 21:27] jon-chuang opened #2459 "`FilterPushdown` should be aware of and ignore correlated predicates"
**Describe the solution you'd like**
We want to pullup correlated subquery predicates to make it easier to rewrite them as semi/anti joins, so may want to make filter pushdown aware of correlated predicates and ignore them

**Describe alternatives you've considered**

It is perfectly acceptable, however, if it remains as it is, and the FilterPushdown is always followed by CorrelatedFilterPullup.

[2022-05-05 22:57] andygrove opened #2460 "SQL planner allows `HAVING` clause in non-aggregate queries"
**Describe the bug**
DataFusion currently supports the `HAVING` clause in non-aggregate queries, as demonstrated in this test:

[code]

**To Reproduce**
N/A

**Expected behavior**
Neither Postgres nor Spark support this use case. We should fail to plan non-aggregate queries that use a `HAVING` clause.

**Additional context**
None

[2022-05-05 23:32] jonmmease opened #2462 "Projection pushdown produces incorrect results when column names are reused"
**Describe the bug**
In certain situations where projections are used to overwrite a column's value, the projection pushdown optimization pass causes the incorrect column value to be produced.

**To Reproduce**
Here is a failing test that will be included in the follow-on PR

[code]
presently, the values produced for column `a` are the original values `[1, 10, 10, 100]` rather than the expected va

[2022-05-06 01:29] andygrove opened #2465 "`read_from_registered_table_with_glob_path` fails if path contains `//`"
**Describe the bug**
`read_from_registered_table_with_glob_path` fails locally for me when running as part of `cargo test` but works fine in the IDE.

The issue appears to be when the path contains `//`.

When I run from `cargo test` I get the path `/home/andy/git/arrow-datafusion/parquet-testing/data//alltypes_plain*.parquet` and the test does not match any files.

I have `PARQUET_TEST_DATA` defi

[2022-05-06 01:44] andygrove commented on #2465
Hi @timvw - could I get your opinion on this? I can easily update the test to avoid having `//` but I wonder if this is a bug or not?

[2022-05-06 02:23] wjones127 opened #2466 "Implement list_dir() for local filesysem"
This was left as a todo earlier:

https://github.com/apache/arrow-datafusion/blob/5927bfceeba3a4eab7988289c674d925cc82ac05/data-access/src/object_store/local.rs#L51-L57

I don't know of any object store implementation that does implement it yet though.

[2022-05-06 05:20] timvw commented on #2465
Hello @andygrove I can reproduce the behavior and it's consider it a bug indeed... Will further investigate.

[2022-05-06 06:22] tustvold commented on #2466
Potentially related to https://github.com/apache/arrow-datafusion/issues/2445

[2022-05-06 06:46] timvw commented on #2445
Also consider (Issue-2465)[https://github.com/apache/arrow-datafusion/issues/2465].

The objectstore is requested to list files that match prefix "/Users/blah//".
LocalFileSystem returns items such as "/Users/blah/test.txt" .

One could claim that this path does not match the prefix.
One could also claim that an object can have multiple keys and that this file has an alternative key /Users/blah//t

[2022-05-06 08:23] comphead commented on #2430
Thank you, I was trying to solve it in planner but your proposed solution looks more robust! Looking forward to test it

[2022-05-06 08:44] comphead commented on #2447
@alamb I can take this if you dont mind

[2022-05-06 15:26] tustvold commented on #2445
I'm not sure what you mean by this, but object stores are really just key value stores with a vaguely RESTful API, i.e.

* PutObject - associate an object (set of bytes) with a string key, replacing any existing value
* GetObject - get the object associated with a key
* CopyObject - copy the object associated with one key, to another
* ListObjects - list the keys with a given prefix
* DeleteObject

[2022-05-06 16:15] alamb commented on #2445
The canonical example of `ObjectStore` is AWS's S3: https://aws.amazon.com/s3/ and then there are many distributed storage systems that present a similar interface, as @tustvold  describes in https://github.com/apache/arrow-datafusion/issues/2445#issuecomment-1119739041

The idea of the "ObjectStore" interface in DataFusion was to provide API access to the lowest common denominator feature set acr

[2022-05-06 16:18] alamb commented on #2445
It would help me significantly, to understand the globbing usecase more -- like when exactly are you selecting a subset of files in a directory via a glob? Most analytic systems I have seen tend to assume data has been pre-grouped into directories (or equivalent)

AWS redshift does offer the ability to specify a subset of files that are not all in the same directory, but it does so by taking a man

[2022-05-06 16:19] alamb commented on #2445
Also, @carols10cents  spent considerable time sorting out consistent directory semantics for object stores and local files in https://github.com/influxdata/influxdb_iox/blob/main/object_store -- maybe we can just use those semantics (or maybe even the code?)

[2022-05-06 16:24] andygrove opened #2469 "Add support for `GROUPING SETS` syntax in SQL planner"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Issue https://github.com/apache/arrow-datafusion/issues/2378 adds support for `ROLLUP` and `CUBE` grouping sets. This is a follow on issue to also support `GROUPING SETS`, which may require changes to sqlparser-rs and also may require changes to the optimization rules to support `Vec<Vec<Expr>

[2022-05-06 16:34] wjones127 commented on #2445
Sorry that wasn't clear. I pointed out two implementations of an abstraction over object stores (S3, GCS, etc.) that are like filesystems (in that they have a notion of directories, not that they make any guarantees about atomicity). These are used by analytics systems like Dask and PyArrow, so there's some evidence we can build useful query engines on top of such an abstraction.

Thanks @alamb fo

[2022-05-06 16:44] tustvold commented on #2445
If we like the IOx object store interface and want to reuse the implementation, I can probably see about getting it published to crates.io, just let me know. It wasn't my intent with this issue, rather I just wanted clarity on what I should be reviewing :sweat_smile:, but I would be happy to help make it happen if there is consensus on it being a good idea

[2022-05-06 16:48] #2430 closed

[2022-05-06 16:55] wjones127 commented on #2445
I would be supportive of that, but we probably would need to discuss what that means for
https://github.com/datafusion-contrib/datafusion-objectstore-s3
https://github.com/datafusion-contrib/datafusion-objectstore-hdfs
https://github.com/datafusion-contrib/datafusion-objectstore-azure

Do we want to create a new issue to discuss that?

[2022-05-06 17:21] #2465 closed

[2022-05-06 17:24] #2363 closed

[2022-05-06 18:54] andygrove commented on #2360
I updated this issue. Some of the original bugs are now fixed but this still fails and I am looking into it now.

[2022-05-06 19:13] timvw commented on #2445
I do agree that the capabilities we actually need are rather limited (compared to a full filesystem spec) and it makes sense to not name those FileSystem then. Should we also define what we expect in terms of ACID properties?

@alamb The globbing is mainly relevant in raw/ingestion folders...

Eg: we have end up with a structure such as:
/nyc-taxidata/input/yellow_tripdata_2021-11.csv
/nyc-taxidat

[2022-05-06 19:18] timvw commented on #2445
In case ETL is less important, we should update the project description:

DataFusion is used to create modern, fast and efficient data pipelines, **ETL processes**, and database systems, which need the performance of Rust and Apache Arrow and want to provide their users the convenience of an SQL interface or a DataFrame API.

[2022-05-06 19:26] timvw commented on #2445
ListObjects - list the keys with a given prefix
=> Other key value store supporting glob (and way more complex filters)
https://redis.io/commands/keys/
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.html#Query.KeyConditionExpressions
...

[2022-05-06 19:51] andygrove commented on #1980
Closing this and will fix as part of 8.0.0 release

[2022-05-06 19:51] #1980 closed

[2022-05-06 20:30] timvw commented on #2445
Another thing to consider is that we probably need the capability to ignore some keys

(eg: some apps such as spark, when badly configured, generate files such as /xxx/_temp/_SUCCESS).

[2022-05-07 02:28] timvw commented on #2445
In summary, I agree with the ObjectStore semantics being sufficient.

I also do want to point out that globbing is nothing more than making the suffix filter more powerful (instead of matching against a static suffix (eg: .parquet) it allows matching against a pattern).

    /// Calls `list_file` with a suffix filter
    async fn list_file_with_suffix(
        &self,
        prefix: &str,

[2022-05-07 02:31] timvw commented on #2445
The most flexible signature of that method would be:

/// Calls `list_file` with a suffix filter
async fn list_file_with_suffix(
    &self,
    prefix: &str,
    suffix_filter: fn(&str) -> bool,
) -> Result<FileMetaStream>

[2022-05-07 06:45] jon-chuang commented on #2361
@andygrove is there any reason why we can't support multiple columns in the IN subquery? As far as implementation goes, it's fairly trivial.

[2022-05-07 09:44] timvw commented on #2445
Currently the globbing implementation in datafusion is somewhat blurry, because it tries to workaround a limitation of the localfilesystem objectstore implementation..

As we all seem to agree, that proper solution would be to fix the LocalFileSystem implementation such that it does not err on a prefix which does not represent a file/directory.

[2022-05-07 11:47] Cheappie opened #2474 "[Question] Why DataFusion is shipped with arrow version 9.1.0 on crates.io ?"
I wonder why DataFusion is shipped with arrow version 9.1.0 on `crates.io`, could anybody tell me how it ends up that way even though in every `Cargo.toml` within DataFusion repository newest Arrow version is used, precisely 13.0.0 ?

[2022-05-07 12:37] timvw commented on #2445
Apologies, for the going back and forth, next time i'll take the iterate over my out-loud-thinking and only post a coherent answer...

Last realisation: By having an ObjectStore that only can filter/scan on prefix, we take away the possibility for objectstores to optimise eventual suffix filters (predicate pushdown for file searching as you will).

[2022-05-07 14:02] andygrove commented on #2474
The version of DataFusion on crates.io was released several months ago with a dependency on arrow-rs 9.0.0 because that was the latest version at that time. We are planning on releasing DataFusion 8.0.0 in the next week or two and that will use arrow-rs 13.0.0 (or whatever the latest version is at the time).

[2022-05-07 14:04] andygrove commented on #2474
We are also planning on having more frequent releases going forward, as discussed in https://github.com/apache/arrow-datafusion/issues/2327

[2022-05-07 14:21] andygrove opened #2475 "Should we switch to calendar versioning?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
For historical reasons, we are not able to release using pre-1.0.0 version numbers and because we are following [SemVer](https://semver.org/) we have a rapidly increasing major version number which can create misconceptions about the maturity of the software.

An alternative approach would be

[2022-05-07 14:25] Cheappie commented on #2474
Thank you Andy for clearing this out. In such case I will try to use master directly.

I saw on crates.io that the latest version was published 19 days ago, thats why I couldn't wrap my head around why it uses so old version of Arrow. I suppose that it still lags behind master quite far.

[2022-05-07 14:33] andygrove commented on #2475
Note that if we start releasing monthly using our current versioning scheme we will be at version 22.x by July of next year anyway.

[2022-05-07 15:54] garro95 opened #2476 "Ballista example project does not build"
**Describe the bug**
A clear and concise description of what the bug is.
The example at https://github.com/apache/arrow-datafusion/blob/master/ballista/rust/client/README.md#executing-a-query does not build

**To Reproduce**
Steps to reproduce the behavior:
* Create a new cargo project with `cargo new ballista-example`
* Add the three dependencies
* Add the code
* Run `cargo build`

**Expected beh

[2022-05-07 16:00] #2452 closed

[2022-05-07 16:00] #2455 closed

[2022-05-07 16:07] andygrove opened #2477 "Add support for `grouping` aggregate function in the SQL planner"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to be able to run queries with grouping sets (such as `ROLLUP` and `CUBE`) that also use the `grouping` aggregate function. As described in the [Spark reference guide](https://spark.apache.org/docs/latest/sql-ref-functions-builtin.html#aggregate-functions), `grouping(col)` indicat

[2022-05-07 16:15] garro95 commented on #2476
After selecting `datafusion = "6.0"` instead of the 7.0 suggested, I encountered a new error:
[code]

[2022-05-07 16:19] andygrove commented on #2238
This was already implemented

[2022-05-07 16:19] #2238 closed

[2022-05-07 16:28] andygrove commented on #2424
I have updated this issue to just discuss moving the `data-access` crate.

[2022-05-07 20:09] jon-chuang opened #2480 "[Feature] Logical optimizer should walk subqueries"
**Describe the solution you'd like**
Logical optimizer only walks LogicalPlan node inputs. However, realistically, every optimizer should now also walk every subquery by matching on `Filter(Filter { expr:  conjunction(vec![.., InSubquery/Exists { subquery }, ..] }` and optimize the subquery too.

One solution may be to declare subqueries as one of the inputs to the plan nodes...? However, this may

[2022-05-07 20:12] jon-chuang commented on #2248
- [ ] https://github.com/apache/arrow-datafusion/issues/2480

[2022-05-07 20:31] WinkerDu opened #2482 "Numeric, String, Boolean comparisons with literal `NULL`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As discuss in #1179 , there is bug when Numeric, String, Boolean comparisons work with literal `NULL`

**Toproduce**
[code]

**Describe the solution you'd like**
- Introduces `null_coercion` to `comparison_eq_coercion` and `comparison_order_coercion`
- Enhances binary expression macros to supp

[2022-05-07 20:42] WinkerDu opened #2483 "Improve expressions to completely support `NULL` constants"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Since DF has a real `NULL` support from #2364 , based on this pr, I'd like to file a ticket to track this trivial literal `NULL` supports for DF expressions.
- [x] #2364
- [ ] #2482
- [ ] Date, Timestemp comparisons with literal `NULL`
- [ ] Add, Minus, Multiply, divide expressions work with l

[2022-05-08 00:26] andygrove commented on #2447
I added this to https://github.com/apache/arrow-datafusion/issues/2355

[2022-05-08 03:03] jychen7 commented on #2323
nice, great presentation

[2022-05-08 03:23] jychen7 commented on #2327
do we mean more frequent [major release](https://github.com/apache/arrow-datafusion/blob/master/dev/release/README.md#major-release) from `master` branch?

I like it!

I also can help with this, but from last time 7.1.0 release ([PR](https://github.com/apache/arrow-datafusion/pull/2187)), though I can help prepare release note, it still require committer to take time to prepare release candidate a

[2022-05-08 03:52] #2188 closed

[2022-05-08 11:23] Cheappie commented on #2445
In my case existing design of ObjectStore interface forced me to re-engineer ListingTable in order to provide yet another way of listing data source.

From my perspective It might be beneficial to push information about data source from TableProvider to ObjectStore. Then ObjectStore for a local file system, would combine data(table) location and strategy for listing that kind of storage. As a resu

[2022-05-08 11:27] comphead commented on #2447
the same pattern used in `min_max.rs`.
The common approach to get the underlying value from ScalarValue is through patmatch, and that causes a lot of similar code branches to operate with underlying values supporting different datatypes.

I'm trying to figure out if `sum_batch` function can be reused instead of boilerplate `sum`. In fact `sum` is specific case of `sum_batch`

[2022-05-08 11:49] comphead commented on #2476
Hi @garro95. Please attach a link to your github repo, where you get the issue above.

[2022-05-08 12:11] garro95 commented on #2476
https://github.com/garro95/ballista-example/tree/main/src

[2022-05-08 12:40] alamb commented on #2447
I wonder if we can take inspiration from @yjshen 's approach in https://github.com/apache/arrow-datafusion/pull/2375 (using row formats, etc). I don't have any specific suggestions but thought it might be interesting to look

[2022-05-08 12:50] alamb commented on #2445
I really like the idea of providing an extensible storage interface that allows APIs such as suggested by @Cheappie  and @timvw.

Given these APIs seem to be adding semantics to the list of files on ObjectStorage, perhaps we could an extra layer specifically in the APIs rather than trying to extend `ObjectStore` or adding more logic to `ListingTable`. Perhaps something like the `StorageFormat` in:

[2022-05-08 13:02] alamb commented on #2327
Thank you @jychen7  -- your assistance for 7.1.0 was very helpful

I find the mechanics of creating the artifacts and voting takes relatively minimal time compared to creating release notes and ensuring everything is ready. The assistance of the community on release notes and documentation is *amazing*

[2022-05-08 13:03] #1188 closed

[2022-05-08 13:28] tustvold commented on #2445
I think it is important to keep a separation between:

* Catalog: what data files are where, what schema they have, what encoding they are, etc...
* Data Access: how to get the data of a specific file

In particular, there is a very common use case where an additional catalog is used to provide query performance, and by keeping the concerns separate we can ensure this is well supported.

Currently

[2022-05-08 13:35] tustvold commented on #2079
I think this work is now encapsulated in smaller sub-tasks, so closing this issue

[2022-05-08 13:35] #2079 closed

[2022-05-08 13:51] tustvold commented on #2474
FWIW IOx tracks a git version pin for DataFusion, in order to get upstream changes quicker - https://github.com/influxdata/influxdb_iox/blob/main/datafusion/Cargo.toml

This of course means we are exposed to more churn though, so your mileage may vary

[2022-05-08 15:39] xiaofan-luan opened #2485 "Any plan to implement datafusion go/c++ binding?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Hi All, I'm from Milvus community(https://github.com/search?q=milvus) and we are a v

[2022-05-08 18:05] andygrove opened #2487 "Cannot generate change logs due to "secondary rate limit""
**Describe the bug**

I am trying to generate the change log with this command:

[code]

Output:

[code]

**To Reproduce**
See above

**Expected behavior**
Should not fail

**Additional context**
None

[2022-05-08 19:56] houqp commented on #2485
Hi @xiaofan-luan , I have been following milvus for a long time and would love to see a synergy between the two communities :D

It shouldn't be too hard to expose our high level interfaces through C ABI for C++ and Go. For example: http://bitboom.github.io/calling-rust-from-cpp. We might need to add a couple of small high level public APIs to help pass record batches between C++ and Rust through t

[2022-05-08 22:18] wjones127 opened #2489 "Consider adopting IOx ObjectStore abstraction"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In another issue @alamb and @tustvold [suggested](https://github.com/apache/arrow-datafusion/issues/2445#issuecomment-1119804996) we might want to use the [IOx ObjectStore implementation](https://github.com/influxdata/influxdb_iox/blob/main/object_store).

A few nice points I'll mention about

[2022-05-09 02:19] Jimexist commented on #2485
indeed, that C API could also benefit Java binding as well, because it'll be much better than the current JNI approach (and also in future when Java panama project is landed)

[2022-05-09 02:35] andygrove commented on #2487
I found a workaround. When running with docker I specified `cpu = "0.1"` and then it worked.

[2022-05-09 03:18] xiaofan-luan commented on #2485
@houqp great! let me know if we decide to do so, we can help on evaluating the initial version and might help on contributing  it!

[2022-05-09 04:02] matthewmturner commented on #2489
Indeed the IOx `ObjectStore` implementation looks both robust and feature rich - and has the added benefit of being actively used.  While `datafusion-objectstore-s3` has been released on crates i am not aware of any production workloads leveraging it.

I also prefer the more generic API interface in the IOx implementation, I had actually planned on proposing something similar on https://github.com

[2022-05-09 04:34] liurenjie1024 commented on #1972
Also some other problems with egg:
1. cascades optimizers is not just enumeration of equivalent logical/physical plans, it has some techniques for branch-bounding, e.g. skip alternatives with higher cost
2. Some algorithms may need to customize memo data structure, such as materialized view matching algorithm: https://dl.acm.org/doi/abs/10.1145/1066157.1066179

[2022-05-09 04:36] matthewmturner commented on #2445
@tustvold thank you very much for driving these efforts. I apologize I have not been able to contribute much to the conversation or code on these.  Based on my current capacity I will likely be limited in what I can contribute on most of these in the foreseeable future - the one exception being #2206 which would actually be very helpful on my side.   Perhaps I could work with @timvw to get a first

[2022-05-09 05:52] houqp commented on #2485
Now we just need to wait for someone from the community to lead this effort :D

[2022-05-09 09:58] richox opened #2491 "Sort-merge join optimization by avoiding too many small batches"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

currently, sort-merge join creates one temporary record batch for each joined key, which results in many small batches and bad performance.

**Describe the solution you'd like**

to achieve better performance, we can only store indices of joined pairs and generate a bigger record batch when t

[2022-05-09 10:25] alamb commented on #2489
I believe @tustvold  is actively working on preparing the iox code in https://github.com/influxdata/influxdb_iox/pull/4534

[2022-05-09 10:38] tustvold commented on #2489
Yeah as alluded to by @alamb, my plan is to get the iox code released to crates.io so that DataFusion _could_ use it.

There would then be a couple of potential courses of action for DataFusion:

* Do nothing :smile:
* Migrate to using the `object_store` crate to fetch parquet files to local disk. This would potentially fetch more bytes from object storage, but as described in #2205 this may actua

[2022-05-09 11:11] comphead commented on #2476
Looks like related to #1498

[2022-05-09 12:49] alamb commented on #2469
I agree changes to `sqlparser-rs` are required

[2022-05-09 12:57] #2378 closed

[2022-05-09 14:14] andygrove opened #2493 "Create separate `ballista-cli` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
To allow us to release DataFusion and Ballista separately, we need to remove the dependency from `datafusion-cli` on Ballista because it results in a circular dependency of sorts (as noted in https://github.com/apache/arrow-datafusion/issues/2433).

**Describe the solution you'd like**
I would

[2022-05-09 17:17] garro95 commented on #2476
Well, in part probably.
The first issue is that the dependencies
[code]
as listed in https://github.com/apache/arrow-datafusion/blob/master/ballista/rust/client/README.md#executing-a-query do not work together, giving the compilation error that you can see in my first post.
The issue I encountered after fixing that, actually seems related to #1498

[2022-05-09 18:03] #2466 closed

[2022-05-09 18:56] comphead commented on #2476
I was able to build the project with
[code]

But in that case `main.rs` won't be compiled anyway.
Perhaps @andygrove knows when its expected new ballista release with datafusion 7.0.0

Alternatively you can try ballista and datafusion by cloning the entire datafusion repo and building it locally.

[2022-05-09 19:11] andygrove commented on #2475
A question came up about how this would work with SemVer since `22.5` would normally be considered a safe upgrade from `22.4` but this is not the case with CalVer.

We need to pick a pattern to use but let's assume `YY.MM.patch` for this discussion and let's also assume we have a major release of `22.4.0`. Users would need to use [tilde requirements](https://doc.rust-lang.org/cargo/reference/speci

[2022-05-09 20:34] #2487 closed

[2022-05-09 22:49] andygrove opened #2496 "Improve SQL planner & logical plan support for JOIN conditions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The logical plan for joins currently only supports equijoins on columns and does not support joining on other expression types:

[code]

**Describe the solution you'd like**
I would the SQL planner and logical plan to be able to model a wider range of join conditions. At physical planning time

[2022-05-10 05:09] Ted-Jiang opened #2497 "Add metrics for ParquetExec."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now in parquetExec
[code]

We lost `output_rows=xxx, elapsed_compute=xxx` info

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2022-05-10 06:09] thinkharderdev opened #2498 "Ballista: Persistent State causes panic on scheduler restart"
**Describe the bug**
Currently, the scheduler state keeps an in-memory map from job ID to `SessionContext`. When initializing persistent state, the `SessionContext`s are not saved into storage. When the scheduler restarts it will try and initialize any jobs saved in persistent storage but will panic when it tries to find the `SessionContext` associated with the each job.

**To Reproduce**
1. Submi

[2022-05-10 07:30] tustvold commented on #2475
Are there examples of other Rust projects that do this, whilst technically possible I worry it will create confusion...

Has there been feedback that large major version numbers are a problem? I'd have thought it was just a number...

Perhaps the real fix is to make breaking changes less frequently...

[2022-05-10 12:48] alamb commented on #2475
I would also like to hear from anyone who feels like the major version numbers are an issue causing confusion or concern with DataFusion.

Historically, I think the switch to calendar versioning is typically driven by companies where the determination of "what constitutes enough of a feature set to warrant a new major version" is challenging (e.g. this post by [cockroach labs](https://www.cockroac

[2022-05-10 14:28] andygrove opened #2502 "[EPIC] Move Ballista to new arrow-ballista repo"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is a long-term goal and there are some steps to get there but I would like to discuss this with the community.

## Rationale for this

- Decouple release process for DataFusion and Ballista
- Allow each project to have top-level documentation and user guides that are targeting the appropr

[2022-05-10 16:41] andygrove commented on #2420
@WinkerDu I created https://github.com/apache/arrow-datafusion/pull/2503 to address this at the logical plan level but perhaps you could fix this in the physical planner to close this issue?

[2022-05-10 18:38] tustvold opened #2504 "[EPIC]: Morsel-Driven Scheduler IO"
**TLDR**

* Migrate to upstream object store implementation for S3 (battle tested), Azure and GCP
* Add ability in arrow-rs to read parquet directly from an object store implementation
* Unified Scheduler that efficiently uses best practice to segregate CPU and network IO on different pools
* I/O reduction when querying parquet files from object storage

**Plan**

Following on from #2199 the next

[2022-05-10 20:49] andygrove commented on #2475
Thanks for the feedback @tustvold and @alamb. I have not seen any notable Rust projects use CalVer, so I agree that this could be confusing. I have definitely heard people express surprise at the rapidly increasing major version but perhaps this is because it is not the norm rather than being based on specific technical concerns.

Let's leave this issue open a little longer to see if there are oth

[2022-05-10 20:53] #2477 closed

[2022-05-10 20:54] #2498 closed

[2022-05-10 20:59] andygrove opened #2505 "Ballista assumes all aggregate expressions are not DISTINCT"
**Describe the bug**
We have a hard-coded `distinct = false` parameter in `ballista/rust/core/src/serde/physical_plan/mod.rs`.

[code]

**To Reproduce**
Try running a `COUNT(DISTINCT expr)` in Ballista

**Expected behavior**
We need to include the distinct flag in the protobuf for aggregate queries and implement the appropriate serde code.

**Additional context**
None

[2022-05-10 21:01] andygrove commented on #2502
@alamb @tustvold Here is another proposal that I would like to get your opinion on

[2022-05-10 22:28] andygrove commented on #166
Latest failure:

[code]

[2022-05-10 22:29] andygrove commented on #159
Latest failure:

[code]

[2022-05-10 22:30] andygrove commented on #163
Latest failure:

[code]

[2022-05-10 22:31] andygrove commented on #168
Latest failure:

[code]

[2022-05-10 22:32] andygrove commented on #171
Latest failure:

[code]

[2022-05-10 22:33] andygrove commented on #172
Latest failure:

[code]

[2022-05-10 22:33] andygrove commented on #175
Latest failure:

[code]

[2022-05-10 22:39] andygrove commented on #160
Latest failures

[code]

[code]

[2022-05-11 01:46] #2491 closed

[2022-05-11 01:47] #1179 closed

[2022-05-11 02:30] #2424 closed

[2022-05-11 03:51] yjshen commented on #2502
Cc @liukun4515 @yahoNanJing @mingmwang @thinkharderdev @gaojun2048 @realno as I could remember.

[2022-05-11 04:31] realno commented on #2502
The proposal looks reasonable. +1. Looking forward to seeing the public API design.

[2022-05-11 05:01] gaojun2048 commented on #2502
That great!

[2022-05-11 05:43] tustvold commented on #2502
No objections from me, but I'm possibly not the right person to ask... As you allude to, we will need to be more careful making breaking changes to DataFusion, but nothing insurmountable.

We will need to ensure there is still sufficient review capacity for Ballista to thrive, I don't have a good feel for if this is a concern or not.

I like this a lot, the audiences for the projects are likely ra

[2022-05-11 05:59] thinkharderdev commented on #2502
Sounds like a good idea. I'm happy to spend time helping review PRs for Ballista if review capacity is an issue.

[2022-05-11 08:23] yjshen opened #2509 "Support optional filter in SortMergeJoin"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It would be necessary to support filters in the join operator, instead of a join operator followed by a filter, the necessity comes from two folds:

1. semi-join that columns from one table would be removed after the join, which would make a filter that references both sides impossible.
2. fi

[2022-05-11 09:21] yjshen commented on #2509
A related issue #2496.

[2022-05-11 12:38] #2497 closed

[2022-05-11 12:51] alamb commented on #2502
I agree this would be a good step -- and help Ballista and DataFusion both to mature. I am fully supportive.

Thank you for the offer @thinkharderdev

[2022-05-11 13:34] andygrove opened #2513 "Change java package names in protobuf files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We are using non-standard Java package names `org.datafusioncompute` and `org.ballistacompute` in the `.proto` files. I believe it would be better practice to use package names starting with `org.apache.arrow`, such as `org.apache.arrow.datafusion` and `org.apache.arrow.ballista`.

**Describe

[2022-05-11 13:34] alamb commented on #172
Possibly fixed in https://github.com/apache/arrow-datafusion/pull/2451

[2022-05-11 13:36] andygrove opened #2514 "There are duplicate and inconsistent copies of `datafusion.proto`"
**Describe the bug**
Ballista has a separate copy of `datafusion.proto` that is not the same as the version in DataFusion.

**To Reproduce**
diff the files

**Expected behavior**
We should just have one copy

**Additional context**
None

[2022-05-11 13:44] andygrove commented on #2502
Thanks for the encouraging feedback.

I started a design doc where we can discuss the finer details. https://docs.google.com/document/d/1jNRbadyStSrV5kifwn0khufAwq6OnzGczG4z8oTQJP4/edit?usp=sharing

[2022-05-11 15:11] comphead commented on #2447
@alamb sorry for delay, I stuck investigating all that datatypes.
Please check the draft #2516
So idea is to reuse `sum_batch` function instead of boilerplate `sum`.
I have to do type casting to ensure all types are the same. it might be looking a concern for the performance. Please let me know your thoughts

[2022-05-11 16:03] #1740 closed

[2022-05-12 12:42] andygrove opened #2517 "CI builds are failing on AMD64 with "no space left on device""
**Describe the bug**
CI builds are failing on AMD64 with "no space left on device"

**To Reproduce**
Look at recent builds.

**Expected behavior**
Should not run out of space.

**Additional context**
We have seen this before: https://issues.apache.org/jira/browse/ARROW-12112

[2022-05-12 13:43] comphead commented on #2505
I checked the backtrace
[code]

I didn't notice ballista modules here.

[2022-05-12 14:22] andygrove commented on #2517
The fix for this is in https://github.com/apache/arrow-datafusion/pull/2495

[2022-05-12 14:47] #2433 closed

[2022-05-12 14:47] #2493 closed

[2022-05-12 14:47] #2517 closed

[2022-05-12 23:13] #2392 closed

[2022-05-13 05:59] lquerel commented on #2043
@Ted-Jiang thanks for your PR. Really nice to see that integrated so quickly.

Does this PR allow to create nested structs ?

[2022-05-13 14:16] timvw opened #2525 "Bug: ObjectStoreRegistry get_by_uri does not return correct path when "scheme" is provided"
**Describe the bug**
object_store_registry.get_by_uri does not work as expected.

**To Reproduce && Expected behavior**
[code]

**Additional context**
This issue is not uncovered with local files, because LocalFileSystem does some additional "magic" to workaround the issue:

[code]

[2022-05-13 17:01] tustvold commented on #2489
I've released the crate to crates.io - https://crates.io/crates/object_store, I'm going to take a stab at integrating this into Datafusion over this weekend. Hopefully I'll get something up as a workable draft

[2022-05-13 17:25] #2525 closed

[2022-05-13 17:28] alamb commented on #2474
Next release is imminent; https://github.com/apache/arrow-datafusion/issues/2392

I think this ticket has been answered so closing it down

[2022-05-13 17:28] #2474 closed

[2022-05-13 17:44] alamb opened #2529 "Implement some way to show the sql used to create a view"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

As suggested by @Dandandan  on https://github.com/apache/arrow-datafusion/pull/2279#discussion_r869751636 it would be very nice to be able to see the original SQL used to define a view.

Apparently postgres uses a function: https://stackoverflow.com/questions/14634322/how-to-see-the-create-vi

[2022-05-13 18:28] #2462 closed

[2022-05-13 18:56] alamb commented on #2439
I believe this will be fixed in arrow 15 (in a few weeks) due to @tustvold 's work in https://github.com/apache/arrow-rs/pull/1682

[2022-05-13 19:06] tustvold commented on #2439
Yup, I can confirm with https://github.com/apache/arrow-rs/issues/1651 it is possible for the parquet reader to handle the file. Unfortunately work remains to support this on DataFusion's side, e.g. #2453. I fully intend to get this working, there just be many bugs along the way :sweat_smile:

[2022-05-13 19:19] kesavkolla commented on #2439
Looking forward to do early testing

[2022-05-13 19:22] kesavkolla commented on #2439
I wish this is included in arrow 14 itself. :-)

[2022-05-13 21:45] kou opened #2532 "Use Matomo in https://arrow.apache.org/datafusion/"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Suggestion. If we want to analyze https://arrow.apache.org/datafusion/ , we can use Matomo provided by ASF.

https://arrow.apache.org/ uses Matome by apache/arrow-site#206, apache/arrow-site#215 and apache/arrow#13096 and we can see Matomo's dashboard for https://arrow.apache.org/ at https://

[2022-05-15 08:16] timvw commented on #2445
Getting there (still want to test some things and change some signatures (Eg: return Vec<Result> instead of Result when adding multiple tables at once).. -> [https://github.com/timvw/datafusion-catalogprovider-glue](https://github.com/timvw/datafusion-catalogprovider-glue)

[2022-05-15 14:02] andygrove opened #2535 "Logical optimizer rule "simplify expressions" should not depend on the core datafusion crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In the "simplify expressions" rule, we evaluate and fold expressions that result in scalar values and we depend on the physical expression crate to do this, which is fine, but we also depend on the core crate for `create_physical_expr` and we can't have the new `datafusion-optimizer` crate dep

[2022-05-15 16:11] andygrove opened #2536 "Move `LogicalPlanBuilder` to `datafusion-expr` crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are various reasons why I would like `LogicalPlanBuilder` to move to the same crate as `LogicalPlan`:
- It would solve a major barrier to moving the SQL query planner into its own crate (https://github.com/apache/arrow-datafusion/issues/2345)
- It would allow us to fix https://github.com

[2022-05-16 04:56] Ted-Jiang commented on #2043
Sorry for the delay, No we can't create a nested, I think we should modify it in `sql-parser` for support this.

[2022-05-16 07:39] mateuszkj opened #2542 "Unused Window functions experssion is wrongly removed from LogicalPlan during optimalization"
**Describe the bug**
Unused window function is wrongly removed from Logical Plan during optimization. It leaves WindowAgg empty, which causes `Impossibly got empty window expression` error.

**To Reproduce**

[code]

**Expected behavior**

With above SQL i should got:
[code]

**Additional context**

Input logical plan:
[code]

Optimized logical plan:
[code]

We can see *windowExpr* is empty after

[2022-05-16 10:14] thinkharderdev commented on #2489
Wrt fetching to local disk, we have an implementation of (datafusion) `ObjectStore` in our project which adopts the S3A approach to minimize the number of small range requests. Basically, we set a minimum chunk size for S3 reads (usually 64K). If a read of less than 64K is requested, we go ahead and fetch 64K and buffer it in memory. Subsequent reads that fall within that buffer are returned from

[2022-05-16 10:59] tustvold commented on #2489
Yeah, buffered prefetch is one way to mitigate the small read problem. However, it does not allow for coalescing adjacent reads - i.e. you will still likely end up with one request per column chunk unless you have tiny columns.

TBC my preference is for 3, but I'm currently working on 2 first to ensure there aren't any fundamental integration issues.

[2022-05-16 11:23] alamb commented on #2489
I believe @tustvold  is working on this issue

[2022-05-16 11:27] alamb opened #2543 "Reading parquet with (pre-release) arrow fails with "out of order projection is not supported""
**Describe the bug**

When testing using a pre-release version of arrow-rs with https://github.com/apache/arrow-rs/pull/1682 from @tustvold which added stricter error checking two datafusion tests fail with  "out of order projection is not supported"

[code]

**To Reproduce**
See https://github.com/apache/arrow-datafusion/pull/2530

**Expected behavior**
Tests should succeed

**Additional context*

[2022-05-16 11:28] alamb commented on #2543
Filed https://github.com/apache/arrow-datafusion/issues/2543 to track

[2022-05-16 12:23] #2271 closed

[2022-05-16 12:55] thinkharderdev commented on #2489
Cool. In our case the buffered prefetch helps marginally (but we also have a lot of sparse columns so it is a slightly special case which does a reasonable job at coalescing adjacent reads).

https://github.com/apache/arrow-rs/issues/1605 looks like a really good idea. We're also working on trying to optimize S3 reads at the moment so if there's any way I can help please let me know!

[2022-05-16 13:06] andygrove opened #2544 "Fix issues that came up during publishing 8.0.0"
**Describe the bug**
I ran into some issues publishing the crates and had to make some minimal changes to Cargo.toml files:
- datafusion/core/Cargo.toml has wrong path to README. I changed from `../README.md` to `../../README.md`
- datafusion/core/Cargo.toml - I had to comment out the row.rs test
- datafusion-cli and ballista-cli both use wildcard for mimalloc dependency version. Changed to "0.1.2

[2022-05-16 14:36] andygrove opened #2546 "[Ballista] Custom object stores only work for CSV files"
**Describe the bug**
The implementation of  `read_csv` creates `ListingTableConfig` using the URI rather than the path of the file (so `test://employee.csv` rather than `employee.csv`) and this is required to make `roundtrip_logical_plan_custom_ctx` pass.

There are no tests for custom contexts for other file types and those paths use path instead of URI, so don't seem to support custom object sto

[2022-05-16 14:59] andygrove commented on #2502
@liukun4515 @yahoNanJing @mingmwang Please take a look and let us know if you have feedback. We have started a vote on the mailing list to move forward with this proposal.

[2022-05-16 16:42] ovr opened #2547 "Support ALL operator"
Hello!

**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other conte

[2022-05-16 16:43] ovr opened #2548 "Support ANY operator"
Hello!

**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]

Thanks

[2022-05-16 16:57] andygrove commented on #2546
@thinkharderdev @mingmwang I could use some help with this if you have time to look.

[2022-05-16 19:12] andygrove opened #2550 "Update limit pushdown rule to support offsets"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/pull/2521 adds support for `OFFSET`. The limit push down rule will not push the limit through offset so we should optimize this at some point.

**Describe the solution you'd like**
If we have offset 5 limit 10 then we should be able to push limit 1

[2022-05-16 19:14] andygrove opened #2551 "Implement physical plan for OFFSET"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/pull/2521 adds OFFSET to the logical plan. We should implement a physical plan for it.

**Describe the solution you'd like**
Implement OFFSET physical plan.

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-05-17 00:02] andygrove commented on #2544
Fixed in https://github.com/apache/arrow-datafusion/pull/2545

[2022-05-17 00:03] #2544 closed

[2022-05-17 02:52] yahoNanJing commented on #2502
Hi @andygrove, sorry for late response. I'm not opposed to move Ballista to a new repo. However, I still have some concerns.
1. How to manage some features which needs changes in both datafusion and ballista, like configuration refactoring?
2. For some features, like Morsel-driven parallel execution, it leverages the **partition** for morsel splitting. However, the **partition** is also used for t

[2022-05-17 10:48] thinkharderdev commented on #2546
Yeah, the issue here is that the serde logic uses the file scheme to resolve the `ObjectStore`. So we were relying on the `test` scheme to resolve the `TestObjectStore`. Why would we not serialize the entire file URI?

[2022-05-17 12:35] Ted-Jiang opened #2557 "[Question] why need this sort in Sort.rs"
@yjshen , Sorry for bothering you,  Why need `positions.sort_unstable()` below
https://github.com/apache/arrow-datafusion/blob/807b7a5f7eb858e9f7162e1f00ffeeedd0bf2050/datafusion/core/src/physical_plan/sorts/sort.rs#L460-L469

I think we should keep the order of the adding index in `positions `, so we can keep the order from `indices `, the result has correctly order.
https://github.com/apache/arr

[2022-05-17 13:36] hi-rustin commented on #2551
Can I take this?

[2022-05-17 13:45] andygrove opened #2558 "Publish 8.0.0 user guide"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We should publish the updated user guide based on the `8.0.0` release tarball (https://dlcdn.apache.org/arrow/arrow-datafusion-8.0.0/)

**Describe the solution you'd like**
We should publish the updated user guide based on the `8.0.0` release tarball

**Describe alternatives you've considered*

[2022-05-17 15:12] 0xPoe opened #2560 "Outdated section of the add function of the contribution guide"
`How to add a new scalar function` and `How to add a new aggregate function` are outdated. Some links are 404.

[2022-05-17 16:00] andygrove commented on #2502
Hi @yahoNanJing thanks for the input. The plan (detailed in the [design document](https://docs.google.com/document/d/1jNRbadyStSrV5kifwn0khufAwq6OnzGczG4z8oTQJP4/edit?usp=sharing)) is for the DataFusion CI checks to pull the Ballista repo and run the tests to prevent DataFusion making changes that break the Ballista tests.

[2022-05-17 17:04] tustvold opened #2562 "File URI Scheme Interpretation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The file URI scheme implemented in `ObjectStoreRegistry` does not appear to follow the [specification](https://en.wikipedia.org/wiki/File_URI_scheme) described in [RFC 3986](https://www.rfc-editor.org/rfc/rfc3986).

In particular:

* It does not handle the host component
* It accepts non-abso

[2022-05-17 17:20] alamb commented on #2562
cc @andygrove  and @mingmwang

[2022-05-17 17:54] #2449 closed

[2022-05-17 18:36] #2377 closed

[2022-05-17 20:53] jdye64 opened #2563 "String representation of Expr variant"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In non-rust bindings where Rust Enum inspection is not present it is difficult to understand which `Expr` variant you are interacting with. It would be much easier for bindings, Python for example, to have the ability to invoke a function on an `Expr` variant instance and be returned a String

[2022-05-17 22:10] andygrove opened #2565 "`datafusion_proto` crate should have exhaustive match statements for handling `Expr`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
When adding new `Expr` variants, we should also be adding code to `datafusion_proto` to handle them but we are not forced into doing this today because the match statement handles the `_` case with an error.

**Describe the solution you'd like**
Support all current `Expr` variants in and remov

[2022-05-17 22:32] andygrove commented on #2565
Currently `datafusion.proto` only handles expressions and not logical plans, but that will have to change if we want to support subquery expressions. Ballista already has support for plans so maybe we move some of that code to DataFusion? Another option would be to look at Substrait but that may be a significant amount of work.

fyi @alamb @carols10cents @Ted-Jiang @thinkharderdev since you have c

[2022-05-18 03:37] Ted-Jiang commented on #2550
I will take this. ❤️

[2022-05-18 11:23] comphead commented on #2450
Hi @tustvold is it to be consistent with arrow Datatype::List()
[code]

[2022-05-18 12:07] alamb commented on #2565
I would think we should move the code for serializing logical plans into datafusion.proto as well

[2022-05-18 12:11] thinkharderdev commented on #2565
Yeah, agreed. I think it makes sense to move all serialization into datafusion-proto. It might be useful as well if we move forward with breaking Ballista out into it's own repo to help ensure that constructs added to DataFusion are always serializable.

[2022-05-18 12:24] Ted-Jiang commented on #2565
+1 , remove the `_` case, will give error at compile time.

[2022-05-18 12:47] hi-rustin commented on #2551
I am working on this.

[2022-05-18 13:14] #2563 closed

[2022-05-18 13:25] andygrove commented on #2308
Also need to unignore rustdoc in LogicalPlanBuilder and find a replacement for `scan_empty`

[2022-05-18 13:38] #2475 closed

[2022-05-18 14:06] #2254 closed

[2022-05-18 14:33] tustvold opened #2570 "Avro Tests Fail To Compile"
**Describe the bug**

Currently the avro test suite fails to compile

**To Reproduce**

[code]

**Expected behavior**

It should compile and this should be being verified by CI

**Additional context**
Add any other context about the problem here.

[2022-05-18 15:52] tustvold commented on #2445
I'm going to close this as I don't think it is superceded by #2504

Thank you all for helping move this forward :+1:

[2022-05-18 15:52] #2445 closed

[2022-05-18 15:58] tustvold commented on #2450
Yup precisely, when I took a stab at this previously I had to hack around https://github.com/apache/arrow-rs/issues/1649 which was a bit meh.

Let me know if you want to pick one or both of these issues up, as that would be awesome.

[2022-05-18 18:34] #2570 closed

[2022-05-18 20:53] andygrove opened #2573 "Improve UX for `UNION` vs `UNION ALL` (introduce a LogicalPlan::Distinct)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The current support for `UNION` vs `UNION ALL` is confusing to me, in the context of trying to map this to another query engine's support for these operators.

- The logical plan simply has the `Union` operator and this is currently assumed to represent `UNION ALL`.
- The SQL planner has logic

[2022-05-19 02:14] yjshen commented on #2557
`group_indices` takes adjacent records in the same batch as input, and does best-effort grouping to make slices instead of individual positions for better `extend` performance (extend a range of records rather than individual record at a time).

 `sort_unstable` is useful since the positions are generated from `lexsort` which is unstable itself. there would be a possibility that records with the s

[2022-05-19 10:59] alamb commented on #2573
Given the usecase is trying to map Union plans to what Spark does, using an explicit `Distinct` in the logical plan (that is converted into a `GroupBy` when doing physical planning makes sense to me 👍

Doing the UNION --> GroupBy transformation during SQL planning was probably a shortcut.

[2022-05-19 11:47] Ted-Jiang commented on #2557
i mean in this situation
![image](https://user-images.githubusercontent.com/37145547/169286166-ce1d1933-806b-4c1c-96f3-442f916fc86e.png)
`positions.sort_unstable()`;  will get wrong order

[2022-05-19 11:49] Ted-Jiang commented on #2557
@yjshen  But i think you pre-sort all batches during `insert`, so this situation not exist。

[2022-05-19 14:07] andygrove commented on #2502
Hi @yahoNanJing

Well, we already have a documented public API - it is the one that shows up in docs.rs today for all of the DataFusion crates. However, we will continue to add new logical expressions and operators and those are often breaking changes. Also, there will likely be more changes to `ExecutionPlan` to support the new scheduler. I do think that we need to document this and I can do that

[2022-05-19 14:37] comphead commented on #2450
I can try with this one.

[2022-05-19 15:27] andygrove commented on #2502
The new repo is created: https://github.com/apache/arrow-ballista

I pushed the arrow-datafusion repo as of commit a08d26eef39bcb2adac527e5c260d31f473fca79

There is a PR up to remove the datafusion crates from the new repo: https://github.com/apache/arrow-ballista/pull/1

[2022-05-20 14:07] #2550 closed

[2022-05-20 18:35] WinkerDu commented on #2482
closed by #2481

[2022-05-20 18:35] #2482 closed

[2022-05-21 07:20] Ted-Jiang opened #2579 "Push Limit through outer Join"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-05-21 10:06] tustvold commented on #2453
https://github.com/apache/arrow-rs/pull/1716 contains a new API that should fix this

[2022-05-21 10:18] tustvold opened #2581 "Introduce ProjectionMask To Allow Nested Projection Pushdown"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently projection indices are pushed down to scans as `Vec<usize>`. This creates some ambiguities:

* How to handle out of order or repeated indices - https://github.com/apache/arrow-datafusion/issues/2543
* How to handle nested types - https://github.com/apache/arrow-datafusion/issues/245

[2022-05-21 11:15] #2346 closed

[2022-05-21 15:07] andygrove opened #2583 "Improve process for making changes to both `arrow-datafusion` and `arrow-ballista`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As a follow-on to https://github.com/apache/arrow-datafusion/pull/2582 it would be nice if we could make the process a little easier and more automated.

**Describe the solution you'd like**
Perhaps we can implement a mechanism where we can say "Depends on ballista branch X" in the PR descript

[2022-05-21 15:41] andygrove commented on #2502
The next step is to review & merge https://github.com/apache/arrow-datafusion/pull/2582

[2022-05-21 15:58] andygrove opened #2584 "Add optimizer rule to remove `OFFSET 0`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add optimizer rule to remove `OFFSET 0` since it is a no-op

**Describe the solution you'd like**
Add optimizer rule to remove `OFFSET 0`

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-05-22 07:41] hi-rustin commented on #2551
@andygrove Can you provide some help? I'm not quite sure how I should implement it. I see that some of the instructions in the contribution guide are out of date. I would appreciate if you could provide some guidance or reference examples.

[2022-05-22 15:34] #2536 closed

[2022-05-23 11:07] alamb commented on #2581
I like the idea of a single Projection structure that understand how to select nested types.

As long as we can maintain independence for parquet (aka one can select subsets of parquet files without having to use Arrow) that is great.

If we don't get the Projection into arrow-rs in time, we could also copy/paste the Projection code into DataFusion and provide a conversion back and forth during th

[2022-05-23 11:57] #2308 closed

[2022-05-23 12:48] Ted-Jiang commented on #2584
@andygrove  May i take this 😊?

[2022-05-23 13:33] andygrove opened #2599 "Move logical optimizer rules out of the core datafusion crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As a user of DataFusion for SQL query planning, I would like to be able to use the logical plan optimizer rules without depending on the full datafusion crate containing the execution engine.

**Describe the solution you'd like**
I think there are two choices here:

1. Move the optimizer rules

[2022-05-23 13:34] andygrove commented on #2599
@alamb What would your preference be here?

[2022-05-23 16:45] andygrove opened #2600 "filter_push_down tests should not rely on TableProvider and ExecutionPlan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to move the logical optimization rules to their own crate (https://github.com/apache/arrow-datafusion/issues/2599) and this
means that they should not depend on the physical plan.

`filter_push_down` tests currently rely on `TableProvider` and `ExecutionPlan`

**Describe the solut

[2022-05-23 18:39] #2579 closed

[2022-05-24 02:24] alanpaulkwan opened #2603 "R package"
Dear Arrow DataFusion

If I understand what you're doing, it would be phenomenal to extend this to R. the R community is significant in data science and arrow is definitely a game changer there. I would love to use this and test it out! Thanks.

[2022-05-24 10:34] alamb opened #2605 "Support `CREATE OR REPLACE TABLE`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion already supports `CREATE TABLE AS SELECT`

When working with tables it is nice to be able to replace them when they already exist

**Describe the solution you'd like**

I would like the following SQL to run rather than produce an error:

[code]

The result should be that `valuetable

[2022-05-24 10:39] alamb commented on #2551
Hi @hi-rustin

There is some more detail here https://github.com/apache/arrow-datafusion/pull/2521#issuecomment-1135736282

Here are some queries and examples that should work

Given this input:
[code]

Trying to run with an `offset` results in:
[code]

The answers should be:
[code]

Does that help?

[2022-05-24 10:40] alamb commented on #2551
I would try and follow the model for limit physical plan as it will be similar: https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/physical_plan/limit.rs

[2022-05-24 12:54] alamb opened #2606 "Support `DESCRIBE <table>` to show table schemas"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion mostly follows postgres when it comes to compatibility. However, it also supports some usability features from mysql, notably `SHOW TABLES`;

It would be nice to also get basic schema information (column names, types) about a table using `DESCRIBE <TABLE>`

**Describe the solution y

[2022-05-24 13:01] alamb commented on #2502
I think it is merged -- I wonder if this epic is done?

[2022-05-24 13:30] alamb commented on #2599
I would personally prefer this option as well

[2022-05-24 14:21] tustvold commented on #2581
In this case you have roots of

1. name
2. departments

And leaves of

1. name
2. department.id
3. department.name

So if say you projected with leaves `[1, 3]` you would get a schema of

[code]

Or in terms of the arrow datatype

[code]

Does that make sense?

[2022-05-24 19:17] WinkerDu opened #2609 "Add, Minus, Multiply, divide, Modulo operator work with literal `NULL`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There is bug when binary mathematical operators `+`, `-`, `*`, `/`, `%` work with literal `NULL`

**To reproduce**
[code]
Postgres works like
[code]

**Describe the solution you'd like**
- Adjusts `mathematics_numerical_coercion` in `binary_rule.rs`, make it work well on condition that at most

[2022-05-25 05:06] kesavkolla commented on #2581
My question is will the projection goes to nested levels?

Eg: employee.departments[*].name, employee.departments[0].name

[2022-05-25 05:51] tustvold commented on #2581
At least in the case of arrow and parquet, list element pushdown is more of a filter than a cheap projection - it requires rewriting the buffers.

Perhaps we could do the common case as described here, and potentially add list projection as an extension once we have workloads that stand to benefit??

[2022-05-25 13:34] dsisnero commented on #1113
there are several libraries made in ruby similar to py03 in python
https://github.com/danielpclark/rutie
https://github.com/matsadler/magnus

[2022-05-25 14:03] andygrove opened #2614 "Remove `ExecutionProps` from `OptimizerRule` trait"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In order to implement https://github.com/apache/arrow-datafusion/issues/2599 we need to remove `ExecutionProps` from `OptimizerRule` trait.

The logical plan optimizer rules should not depend on anything related to the physical plan, or execution.

Only one rule, `SimplifyExpressions` currentl

[2022-05-25 16:04] andygrove opened #2617 "Update GitHub label workflow"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to propose some changes to the way that labels are automatically applied.

I don't think it is helpful now to have a `datafusion` label now that Ballista has moved

I would like labels to be added based on the crate and/or module being updated. For example:

- `logical-expr` label

[2022-05-25 20:00] korowa opened #2619 "Move `JOIN ON` predicates push down logic from planner to optimizer"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
At this moment pushdown logic for `JOIN ON` predicates is provided by logical planner. The idea is to move it to filter_push_down optimizer rule and unify join planning logic.

**Describe the solution you'd like**
Logical planner should not parse predicates in ON clause (except for join keys)

[2022-05-25 20:09] alamb commented on #2619
Another benefit of pushing on predicates in the optimizer is that then the optimization will be done for `DataFrame` plans as well as SQL

[2022-05-25 20:13] #2600 closed

[2022-05-26 01:58] LiuYuHui commented on #2606
Hi @alamb, can I work on this? I want to learn the implementation of datafusion by implementing this.

[2022-05-26 02:52] jackwener opened #2620 "[enhancement] rules don't need to recursion inside themselves"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now, all rules in optimizer must handle `subplan` by recursing optimize themselves.

I'd like to let optimizer to handle `subplan`, rule just focus on the `optimize logic`.

I have add optimizer struct for this PR in #2616 .

**Describe the solution you'd like**
Handle the `subplan` in optimiz

[2022-05-26 03:29] jackwener commented on #2620
It need some time😄

[2022-05-26 04:21] xudong963 commented on #2606
Feel free to pick it, fighting!

[2022-05-26 07:33] liukun4515 commented on #1192
I think this issue can be closed.
@alamb

[2022-05-26 09:06] #2062 closed

[2022-05-26 09:06] #1985 closed

[2022-05-26 10:11] alamb commented on #1192
🤔  I just tried the query again, and it now gives a different error:

[code]

I think we are getting closer...

[2022-05-26 10:11] alamb commented on #1192
I bet this is a fairly straightforward matter of adding a case in the evaluation kernels

[2022-05-26 10:18] #2496 closed

[2022-05-26 10:36] yjshen commented on #2509
Reopened and renamed to track sort-merge join filter as well.

[2022-05-26 12:59] #2617 closed

[2022-05-26 15:48] dsisnero commented on #1114
There is another library for ruby bindings to rust - not sure which is more advanced
https://github.com/matsadler/magnus

[2022-05-26 16:08] ming535 opened #2624 "limit_push_down is not working properly with OFFSET"
**Describe the bug**
`limit_push_down` tries to push a limit to TableScan when `OFFSET` is without `LIMIT` which makes all the result disappeared.
`OFFSET` without `LIMIT` is allowed in Postgres.

**To Reproduce**
in `limit_push_down.rs`, add this test code:
`#[test]
    fn limit_pushdown_should_not_pushdown_limit_with_offset_only() -> Result<()> {

        let table_scan = test_table_scan()?;

[2022-05-26 16:20] ming535 commented on #2624
Any idea on how to handle this? I was thinking adding another boolean attribute `has_limit` inside `LogicalPlan::OffsetPlan`, and handle the case when there is no limit in `limit_push_down`.

[2022-05-26 16:38] andygrove opened #2625 "[Discuss] Move extension point traits out of core?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are two traits in the core datafusion that could perhaps be moved out into a separate crate.

- VarProvider
- FunctionRegistry

Technically they could move to `datafusion-expr` since they only depend on types from that crate but that doesn't seem like the right place for them. It also do

[2022-05-26 16:41] ming535 commented on #2624
How about add another LogicalPlan `LimitWithOffset`. So that the three LogicalPlan used in different cases:
1. `Limit`: without offset
2. `Offset`: without limit
3. `LimitWithOffset`: offset + limit

Then in the `limit_push_down`, we need to handle two cases: `Limit` and `LimitWithOffset`.
For `Limit`, the push down logic is roughly the same as before; for `LimitWithOffset`, we adjust the limit pu

[2022-05-26 18:40] WinkerDu opened #2626 "Like, NotLike expressions work with literal `NULL`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`like`, `not like` expressions doesn't work well with literal `NULL` in DF.

**To Reproduce**
[code]
Postgres works like
[code]

**Describe the solution you'd like**
- Introduces `null_coercion` to `like_coercion`
- Enhances `compute_utf8_op_scalar` to produce null array when  scalar value `NU

[2022-05-26 19:53] #2609 closed

[2022-05-26 21:28] alamb commented on #2509
@yjshen  do you mind if I close this ticket and reopen another describing the support needed for Sort-merge? I think it might be clearer to a future reader that we just needed to extend the support in HashJoin to MergeJoin whereas the description of this ticket now may confuse people as it talks about differing implementation possibilities

[2022-05-27 00:20] yjshen commented on #2509
Get it; I will open a new issue instead.

[2022-05-27 00:20] #2509 closed

[2022-05-27 00:23] yjshen opened #2628 "Support optional filter in SortMergeJoin"
Align SortMergeJoin with HashJoin for the optional filter support. Based on the efforts in #2509

[2022-05-27 02:00] andygrove commented on #2514
This is no longer applicable here now that ballista has moved

[2022-05-27 02:00] #2514 closed

[2022-05-27 02:01] andygrove commented on #2278
i'm no longer sure that we need to do anything for this issue so am going to close it. @comphead feel tree to re-open if you disagree.

[2022-05-27 02:01] #2278 closed

[2022-05-27 02:04] andygrove opened #2630 "Add logical plan support to `datafusion-proto`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`datafusion-proto` has a protobuf definition of logical expressions and associated serde code to translate between the `Expr` enum and protobuf. I would like it to also support serializing logical plans.

**Describe the solution you'd like**
Ballista already contains a separate protobuf defini

[2022-05-27 10:10] tustvold commented on #2583
I've created https://github.com/apache/arrow-datafusion/pull/2632 to try to improve the workflow for arrow upgrades, as they're every two weeks. That said I feel something is a bit off with this, in my opinion Ballista should follow DataFusion upgrades, not lead them.

Perhaps in lieu of releasing DataFusion more frequently, we could simply update the git pin within Ballista more frequently. This

[2022-05-27 10:31] alamb commented on #2509
Thanks @yjshen !

[2022-05-27 10:55] alamb commented on #2624
What about consolidating Limit and Offset into `LimitWithOffset` (both logical and physical plans), with optional limit or offset:

[code]

Then when a limit / offset is pushed down, it can be transformed from `Limit(limit, offset)` to `Limit(limit+offset, 0)` ?

[2022-05-27 11:31] liurenjie1024 opened #2633 "Introducing a new optimizer framework for datafusion."
There are some discussions about datafusion's optimizer framework in #440 and #1972. And I tried to build a framework based datafusion's expression system with the following features:

1. Includes a heuristic optimizer that applies rules to plan iteratively in different ways: top-down or bottom-up. The optimizer stops applying rules to the plan until reaching a fixpoint or max iteration times.
2.

[2022-05-27 11:32] liurenjie1024 commented on #2633
cc @mingmwang @alamb @andygrove

[2022-05-27 13:54] #2626 closed

[2022-05-27 21:23] alamb commented on #2633
THanks @liurenjie1024  -- I ran out of time today to review this but I will try and find time tomorrow

[2022-05-28 03:00] AssHero commented on #2605
@alamb please review the patch/pull request

[2022-05-28 07:03] AssHero commented on #2542
I think this is because the window exprs are not referenced by any operators,  and projection_push_down make empty new_window_expr for window logical plan.

If the window exprs are not referenced by any operators, we can remove the window exprs.  cc @mateuszkj

[2022-05-28 10:04] alamb commented on #2633
I looked at https://github.com/liurenjie1024/rust-opt-framework for bit today -- it looks very neat and a good example of a more general purpose optimization framework.

I would personally be very interested in seeing an Proof Of Concept of this framework connected into DataFusion (aka instead of the existing hard coded ordering https://github.com/apache/arrow-datafusion/blob/894be6719373be85fa777

[2022-05-28 10:30] liurenjie1024 commented on #2633
Good suggestion, I will write a poc to integrate with datafusion.

[2022-05-28 12:24] liukun4515 opened #2635 "The result type of count/count_distinct"
**Describe the bug**
Now, the result type of count is `UINT64` in the current version.

From the pg document, https://www.postgresql.org/docs/current/functions-aggregate.html

We get that

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem he

[2022-05-28 13:23] jychen7 commented on #2489
that's great, at a time, I want to create `datafusion-objectstore-gcs` similar to s3/azure, since I mostly play with GCP. And want to try how datafusion and also ballista can query GCS

[2022-05-28 13:38] #2605 closed

[2022-05-28 18:32] andygrove opened #2640 "Add subquery support in `datafusion-proto`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Once https://github.com/apache/arrow-datafusion/pull/2639 is merged we should add support for serializing plans that contain subquery expressions.

This will likely require breaking changes to the API because we currently have one API for `Expr` that optionally accepts a `FunctionRegistry` and

[2022-05-29 10:37] #2542 closed

[2022-05-29 11:02] alamb commented on #2427
In case anyone is interested, here are some flame graphs I gathered for the merge benchmarks:
All gathered from `alamb/merge_bench` which is based on master at 7b7edf9c43383c1d3310286b69d2d037db72c967

[code]

![flamegraph-merge-utf8-tuple](https://user-images.githubusercontent.com/490673/170864629-612ea5cb-1a18-4ec3-ba77-885104f84d84.svg)

![flamegraph-merge-utf8-low](https://user-images.githubus

[2022-05-29 11:21] nevi-me opened #2644 "[Question] Converting TableSource to custom TableProvider"
When registering a custom `TableProvider`, the provider gets converted to a `dyn TableSource` during logical planning. When executing the plan, the source is cast back to a provider using `source_to_provider`.

[code]

When executing the physical plan, the custom `TableProvider` was previously used to `scan()` and return data. So the above function doesn't work as it only works with a `DefaultTabl

[2022-05-29 12:31] andygrove opened #2646 "Move `datafusion-substrait` crate into `arrow-datafusion` repo"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Once https://github.com/substrait-io/substrait-rs/pull/1 is merged there will be an official Rust crate for the [substrait](https://substrait.io/) serialization format for query plans and expressions.

When serializing plans with `datafusion-proto` I would like the option of specifying `substr

[2022-05-29 12:55] #2630 closed

[2022-05-30 05:31] liukun4515 commented on #2640
feature of the subquery is needed in my system, I can figure out this issue.
@andygrove

[2022-05-30 05:32] liukun4515 commented on #2640
also with that: https://github.com/apache/arrow-datafusion/issues/2338
and https://github.com/andygrove/arrow-datafusion/blob/39c444835ddcb38cf1efeb4414fbb8ecd49ac020/datafusion/proto/src/to_proto.rs#L710

[2022-05-30 10:16] alamb commented on #2640
When we implement this feature, it might be worth considering a slightly more encapsulated API for serializing / deserializing plans, as described in  https://github.com/apache/arrow-datafusion/pull/2639#discussion_r884249631

[2022-05-30 10:22] #2635 closed

[2022-05-30 12:17] gadLinux commented on #1544
This seems quite interesting to me. I was thinking about creating something similar with datafusion + rocksdb (similar to kstreams, but with full SQL support in the datastore). If you go on, please post here. I was looking too to BookKeeper for filesystem sync.

[2022-05-30 14:42] kesavkolla commented on #2453
Now arrow-rs is released 15 version will datafusion upgrade to that so this bug can be closed?

[2022-05-30 15:07] andygrove opened #2650 "Improve test coverage in `datafusion-proto`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The `datafusion-proto` crate provides serde of logical plans and expressions. We have limited test coverage and it would be good to have more comprehensive tests.

**Describe the solution you'd like**
Write tests to cover all operators and expressions. We could also consider using fuzz testing

[2022-05-30 15:51] tustvold commented on #2453
I can confirm https://github.com/apache/arrow-datafusion/pull/2631 closes this issue, although it should be noted it now runs into a different issue that will need to be triaged and fixed

[code]

However, if you disable stats collection it works correctly :tada:

[code]

I will file a follow on ticket.

[2022-05-30 15:51] dsaxton opened #2652 "Enable tab completion in datafusion-cli"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It would be convenient if SQL keywords (and perhaps also table names, column names, etc.) were auto-completed when hitting tab within datafusion-cli, with optional formatting to upper or lowercase depending on the user's preference.

**Describe the solution you'd like**

Implement tab complet

[2022-05-30 15:53] #2562 closed

[2022-05-30 16:02] tustvold opened #2653 "`ScalarValue::to_array_of_size` panics computing statistics for nested parquet file"
**Describe the bug**

[code]

Where part-00000-f6337bce-7fcd-4021-9f9d-040413ea83f8-c000.snappy.parquet is the [parquet file](https://github.com/apache/arrow-datafusion/files/8626500/part-00000-f6337bce-7fcd-4021-9f9d-040413ea83f8-c000.snappy.parquet.zip) provided by @kesavkolla in https://github.com/apache/arrow-datafusion/issues/2439

Panics with

[code]

Setting `options.collect_stat = false` e

[2022-05-30 17:35] tustvold opened #2656 "Is ObjectStoreSchemaProvider Still Needed?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The `ObjectStoreSchemaProvider` is a `SchemaProvider` that provides the ability to register `ObjectStore` and `ListingTable`. Effectively it is a `MemorySchemaProvider` but which maintains its own `ObjectStoreRegistry` instead of using the one on `RuntimeEnv`.

I'm quite possibly missing some

[2022-05-30 17:49] tustvold opened #2657 "ViewTable Circular Reference"
**Describe the bug**

`ViewTable` is created with a `SessionContext` and is then itself registered on `SessionContext`. This will result in a reference loop that will prevent freeing either `SessionContext` or `ViewTable`.

**Expected behavior**

DataFusion shouldn't have ref cycles

**Additional context**

[2022-05-30 17:51] tustvold opened #2658 "Pass SessionState to TableProvider"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently there is no obvious way for a `TableProvider` to access session state without introducing potential ref cycles - https://github.com/apache/arrow-datafusion/issues/2657

**Describe the solution you'd like**

I would like to expose a `&SessionState` to `TableProvider::scan` to allow t

[2022-05-30 18:03] tustvold opened #2659 "DataFrame TableProvider Circular Reference"
**Describe the bug**

Currently `DataFrame` implements `TableProvider` allowing it to be registered on a `SessionContext`, this will often be the same `SessionContext` from which its `Arc<RwLock<SessionState>>` came. For example

[code]

This will result in a circular reference that will prevent destruction of the SchemaProvider and the DataFrame.

**To Reproduce**

Inspect code

**Expected behavi

[2022-05-30 19:14] matthewmturner commented on #2659
FYI some additional context on this is https://github.com/apache/arrow-datafusion/issues/1698 and https://github.com/apache/arrow-datafusion/pull/1699.  Basically the idea was to enable registering a `DataFrame` as a table i.e. with a name.

[2022-05-30 19:25] tustvold commented on #2659
What did you think about this?

[2022-05-31 00:16] kesavkolla commented on #2453
For some reason if I use SELECT * FROM patient it's not getting data for all the columns. It got only few columns data but other non Struct columns got empty data.

[2022-05-31 03:24] matthewmturner commented on #2659
Sounds good to me - is your idea to add a method like a `ctx.register_dataframe` method that would convert the `DataFrame` to a logical plan and register as `ViewTable`?

[2022-05-31 04:08] matthewmturner commented on #2656
FYI https://github.com/apache/arrow-datafusion/issues/1836 and https://github.com/apache/arrow-datafusion/pull/1863 is background conversation on the API design for this.

The original idea was to use this as shown below (slightly updated from how it was discussed in the above issue) - i.e. easily register multiple tables from a prefix into a schema.

[code]

Thinking on it now, i think the same c

[2022-05-31 06:51] korowa commented on #2628
I've tried to do some POC with constructing intermediate batch and applying filter to it while `freeze_buffered_join_streamed` -- it seems to be the only place where filtering required, and noticed (please correct me, if I'm mistaken), that due to `freeze_*` functions logic, output ordering can be broken in case of outer joins -- while freezing, joined and non-joined records from outer table appen

[2022-05-31 11:00] tustvold commented on #2453
Is this using the arrow 15 branch - https://github.com/apache/arrow-datafusion/pull/2631 ?

I would expect this behaviour from master, where projection, including no projection, is broken. However, it appears to be working correctly on the arrow 15 branch?

[code]

[2022-05-31 12:13] #2453 closed

[2022-05-31 12:20] #2606 closed

[2022-05-31 13:34] tustvold commented on #2656
Created #2665

[2022-05-31 15:19] #2657 closed

[2022-05-31 15:19] #2658 closed

[2022-05-31 16:21] #2656 closed

[2022-06-01 00:16] andygrove commented on #2633
Thanks for raising this @liurenjie1024. I am very interested in this effort since I will likely be spending time contributing to the optimizer rules in the coming weeks.

[2022-06-01 12:17] #2614 closed, assigned to nobody

[2022-06-01 13:20] alamb opened #2673 "Optimization pass `AggregateStatistics` changes type of output from `Int64` to `UInt64`"
**Describe the bug**

`AggregateStatistics` is a physical optimizer pass that changes the output of aggregates such as `COUNT` to a constant based on statistics.

https://github.com/apache/arrow-datafusion/pull/2636 changes the type of count() output to be `Int64` but the optimizer pass was not also changed. This means that if the optimization is triggered, the output type of a query with Count in

[2022-06-01 13:21] alamb commented on #2673
I have a fix for this locally -- I am just polishing it up

[2022-06-01 17:14] andygrove opened #2676 "DataFusion 9.0.0 Release"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to propose that we release DataFusion 9.0.0 in the next 1-2 weeks. If there are issues that you would like to get into this release feel free to link to them here:

- [ ] Review/update release notes and scripts to cater for new crates that were created since the 8.0.0 release (`da

[2022-06-02 11:08] alamb commented on #2625
I think `datafusion-api` would be a good idea -- though I think we would want to try and make the design  and rationale explicit so future changes don't diverge / add new traits back into other crates

[2022-06-02 11:10] alamb commented on #2676
One thing to note that I have had seeming success with is to write a blog post for every ~3 months of development -- that cuts down on release overhead and there is lots of good stuff to talk about after 3 months typically.

Speaking of which I need to make one for Arrow 🤔  🏃

[2022-06-02 11:12] alamb commented on #2620
I think it would be awesome to create some sort of `LogicalPlanRewriter` that is in the style of `ExprRewriter` or `ExprVisitor` and captures the traversal pattern across a plan

[2022-06-02 11:23] #2502 closed, assigned to andygrove

[2022-06-02 11:26] alamb opened #2679 "Proposal: remove automated ballista CI checks from DataFusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Basically the tests added in https://github.com/apache/arrow-datafusion/pull/2582 to keep ballista and datafusion in sync add significant burden to DataFusion development and I propose removing them, at least temporarily

Here is a description of the process:
https://github.com/apache/arrow-da

[2022-06-02 11:35] tustvold commented on #2679
I think it is worth also highlighting that the arrow releases every 2 weeks are often breaking, at least on paper, and currently require going through this process.

I put some thoughts on this - https://github.com/apache/arrow-datafusion/issues/2583#issuecomment-1139477308

[2022-06-02 14:19] ovr commented on #2679
We have two separate projects in the company which use DF as a Query Engine, and we came to the decision to maintain two different versions in the forked repository because it's impossible to use the latest version, there are some problems:

It's hard to contribute back to the upstream. We had subqueries before DF introduced it, We have ANY and UDTFs, etc. We tried to push it back to the upstream,

[2022-06-02 14:53] tustvold commented on #2679
Yeah, I do not envy you this task... I have enough difficulty keeping some of my longer-running PRs up to date :sweat_smile:

FWIW if there is some way I could help you move onto tracking master more directly I would be happy to help out. In particular I notice your fork of arrow-rs is about 9 months out of date, which is likely to become quite painful as DataFusion comes to rely on it even more..

[2022-06-02 15:04] andygrove commented on #2535
@alamb Now that I have started looking at this more closely it turns out to be less of an issue than I first thought. We just need to move `create_physical_expr` from core to the `physical-expr` crate. I have updated the issue description.

[2022-06-02 15:15] #2176 closed

[2022-06-02 16:06] #2256 closed

[2022-06-02 18:05] #2619 closed

[2022-06-02 18:50] andygrove opened #2683 "Remove `core/logical_plan` module"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There has been a lot of refactoring recently in order to implement subquery support and also to move the SQL query planner and the logical optimization rules into their own crates.

As a result, we now have many re-exports in the `core/logical_plan` module that were implemented to reduce the s

[2022-06-02 19:15] #2599 closed

[2022-06-02 20:11] thinkharderdev commented on #2679
Seems reasonable. It does create a sort of cyclic dependency :)

[2022-06-02 21:18] #2673 closed

[2022-06-03 06:17] AssHero commented on #2653
I think the merge request #2671 already fix this.

[2022-06-03 08:14] kou commented on #1113
I close this because we work on this at https://github.com/datafusion-contrib/datafusion-c .

[2022-06-03 08:14] #1113 closed

[2022-06-03 09:43] tustvold commented on #2653
Huzzah, can confirm :tada:

[2022-06-03 09:43] #2653 closed

[2022-06-03 13:05] andygrove commented on #2644
Yes, the reason for introducing `TableSource` in the first place was to stop logical plans depending on execution plans (via the `TableProvider::scan` method) and to allow us to move logical plans and expressions out of the core crate. It is intentionally difficult to reintroduce that dependency.

[2022-06-03 14:21] alamb commented on #2652
This would be awesome ! I think there is some version of this in https://github.com/datafusion-contrib/datafusion-tui

[2022-06-03 14:30] andygrove opened #2689 "Show column names instead of column indices in query plans"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I am comparing query plans between Spark and DataFusion

Spark shows:

[code]

DataFusion shows:

[code]

I think we should show column names rather than numeric indices.

**Describe the solution you'd like**
Show names not numbers

**Describe alternatives you've considered**
None

**Addition

[2022-06-03 15:50] matthewmturner commented on #2652
I havent added that datafusion-tui yet but it is something i had in mind.  I created an [issue](https://github.com/datafusion-contrib/datafusion-tui/issues/90) for this and will look into it.

[2022-06-03 16:16] #2207 closed

[2022-06-03 16:20] mocknen opened #2691 "Unable to build a docker image"
**Describe the bug**

There is a [line](https://github.com/apache/arrow-datafusion/blob/9745fc4146ade60f3c46e72c5e46bacb5e11617f/datafusion-cli/Dockerfile#L24) in the Dockerfile that attempts to copy a directory that does not exist, causing the docker image to fail to build.

**To Reproduce**

[code]

**Expected behavior**
Succeed to build a docker image.

[2022-06-03 19:24] #2691 closed

[2022-06-04 18:14] #2535 closed

[2022-06-04 20:01] ryanrussell opened #2695 "Fix Typos in Docs"
**Describe the bug**
Fix Typos in Docs

**Expected behavior**
Improve Readability

**Additional context**
Creating an issue for changelog per commit instructinos

[2022-06-04 20:59] #2689 closed

[2022-06-04 21:00] andygrove opened #2697 "Improve readability of table scan projections in query plans"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
From discussion in https://github.com/apache/arrow-datafusion/pull/2690#discussion_r889492584

What about only showing the projection when there is one and ommiting it when there are none.
This could remove the None/Some too:

[code]

vs

[code]

**Describe the solution you'd like**
As above

[2022-06-05 06:55] #2695 closed

[2022-06-05 09:04] korowa opened #2698 "Sort preserving MergeJoin"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Existing `SortMergeJoin` creates output batches [in following sequence](https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/physical_plan/sort_merge_join.rs#L796):

1. push all streamed (outer) records without matches on buffered (inner) side to output
2. push all strea

[2022-06-05 14:37] andygrove commented on #2683
I now plan on working on this after the 9.0.0 release

[2022-06-06 03:02] AssHero commented on #2145
I think we can check whether the data types are supported in hash join or not. If not supported, we can use cross join instead, and we can support more data types later in hash join. @pjmore

[2022-06-06 12:38] alamb opened #2703 "[EPIC] JIT support for `DataFusion`"
**Summary**
TLDR: The key focus of this work is to speed up fundamentally row oriented operations like hash table lookup or comparisons (e.g. [#2427](https://github.com/apache/arrow-datafusion/issues/2427))

**Background**

DataFusion, like many Arrow systems, is a classic "vectorized computation engine" which works quite well for many common operations. The following paper, gives a good treatment

[2022-06-06 12:41] alamb commented on #2122
datafusion `PhysicalExpr` and `arrow-rs` library currently evaluate expressions by "materializing intermediate results" -- for example `(a + b) + c` results in first evaluating `(a+b)` to a temporary location and then adding `c` to form the final result.

Note however, there is a tradeoff here between the speed gained using the LLVM optimized vectorized kernels in `arrow-rs` and cranelift generate

[2022-06-06 12:44] alamb commented on #2703
Actually, this is basically the same as https://github.com/apache/arrow-datafusion/issues/1861 so closing in favor of that ticket

[2022-06-06 12:44] #2703 closed

[2022-06-06 12:45] alamb commented on #2122
Another example can be found in [these slides](https://github.com/apache/arrow-datafusion/files/8843957/Expression_evaluation.pdf) from [this presentation](https://docs.google.com/presentation/d/1owNlmpNpC2-eBd-jEYRCt0L8_sW4PWYx70gqnFC0twM/edit#slide=id.gba4e8a221c_0_125)

[2022-06-07 03:45] artorias1024 opened #2706 "Questions about benchmarking performance"
###  Hardware Resources
## CPU and Memory
24(vCPUs)96 GiB
##  Operating System
CentOS 7.9 64-bit

### Data set size
[code]

### Performance Test Results
[code]

### Questions
1. Do the results of this benchmark performance test meet expectations?
2. What are some ways to optimize performance?

[2022-06-08 04:48] AssHero commented on #1952
The data type of column 'reply' is not supported in hash/hashAgg, I think we can use sortAgg instead for this case.

[2022-06-08 09:06] dbr opened #2709 "Updating arrow2 branch"
The arrow2 branch is currently using `v0.10.0` - I'd like to update it to work with v0.12.0. Is there anything I should know before starting this?

I ask as last time I made a PR for the branch, there was an impending rework of that branch, and I'm not sure what the state of things are currently!

[2022-06-08 13:32] andygrove commented on #2709
Would it make sense to consider having a separate, optional, `datafusion-arrow2` crate containing a physical planner + operators that uses arrow2? It seems to me that this would be easier to maintain. Maybe @houqp has an opinion on this?

[2022-06-08 13:39] andygrove commented on #2676
I am now planning on cutting the RC this Friday, June 10th, because it fits my schedule better.

[2022-06-08 17:19] andygrove commented on #2644
I think we can close this as complete now.

[2022-06-08 17:19] #2644 closed

[2022-06-08 18:16] alamb commented on #2709
cc @Igosuki  as well who may have some thoughts

[2022-06-08 18:20] alamb opened #2712 "Common Subexpression Eliminiation pass errors if run twice on some plans: Schema contains duplicate unqualified field name 'IsNull-Column-sys.host'"
**Describe the bug**

We found this issue while working on IOx. IOx was (accidentally) optimizing a `LogicalPlan` more than once and when optimizations were applied the second time it saw an error like `Schema error: Schema contains duplicate unqualified field name 'IsNull-Column-sys.host'`

**To Reproduce**
Try and optimize this plan twice:

[code]

After the first call to optimize it looks like

[2022-06-08 19:14] alamb commented on #2712
Here is a self contained reproducer:

[code]

Cargo.toml:

[code]

When run errors like this:

[code]

[2022-06-08 19:15] alamb commented on #2712
FYI @waynexia as I think you implemented this code initially in https://github.com/apache/arrow-datafusion/pull/792 -- perhaps you have some ideas of what might be going wrong 🤔

[2022-06-09 02:43] LiuYuHui commented on #2697
I’d like to try it.

[2022-06-09 10:41] #2145 closed

[2022-06-09 16:19] waynexia commented on #2712
Very clear reproducer @alamb, thanks! :+1:

Update: I find this only happens when both `FilterPushDown` and `CommonSubexprEliminate` are enabled. Still digging... you can assign this to me.

[2022-06-09 20:24] nl5887 commented on #2326
This https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/physical_plan/file_format/mod.rs#L238 is one reason of errors related to column projection. It compares the complete enum, failing on different filed order.

[2022-06-10 10:26] alamb commented on #2326
Thanks for the investigation @nl5887  -- that sounds definitely plausible. Feel free to file a PR with proposed changed -- we would love to review them

[2022-06-10 18:07] alamb opened #2719 "Test (path normalization) failures while verifying release candidate 9.0.0 RC1"
**Describe the bug**
The `verify-release-candidate` script failed for me locally while verifying release candidate 9.0.0 RC1

**To Reproduce**
Run the release verification script with 9.0.0 RC1

[code]

It eventually fails with the following message:

[code]

**Expected behavior**
The verification should pass

**Additional context**
Mailing list thread: https://lists.apache.org/thread/7mg9kwlfyrxm

[2022-06-10 18:08] alamb commented on #2719
The difference appears to be in the normalized path, rather than the actual structure:

[code]
vs
[code]

So I think this is a test bug rather than a code bug

[2022-06-10 20:42] andygrove opened #2720 "Recent API change in `GlobalLimitExec` breaks compatibility with Ballista"
**Describe the bug**
Commit https://github.com/apache/arrow-datafusion/commit/a25529166f82e4f52d56eba6448a5a32e126698e removed the public API method `GlobalLimitExec::limit()` which Ballista relies on in order to be able to introspect the operator and determine the limit.

**To Reproduce**
Upgrade Ballista to use DataFusion 9.0.0-rc1 and try compiling.

**Expected behavior**
We should maintain pub

[2022-06-10 23:06] andygrove commented on #2719
I ran into this a while back and changed my ARROW_TEST_DATA env var to remove the trailing slash but we should really fix this. I will take a look in the next few days if nobody else picks this up.

[2022-06-12 07:52] Igosuki commented on #2709
Hello, sorry for my absence. Maintaining full compatibility requires constant updates, and updating the arrow2 branch is often in the hundred files because of the API surface conflict. So adding a new crate where only arrow2 itself needs to be updated is a good idea in my opinion.

[2022-06-12 10:15] #2720 closed

[2022-06-12 10:18] alamb commented on #2706
Hi @artorias1024  -- these results look like they are approximately inline with what I have seen

There are some thoughts here:

https://github.com/apache/arrow-datafusion/blob/b9f6e6b7c353c1109bd7b306008e006db29b46f8/docs/source/user-guide/library.md#optimized-configuration

Beyond that I think 'profile and then improve the bottlenecks' is what we have

[2022-06-12 10:30] alamb opened #2723 "Consolidate GroupByHash implementations `row_hash.rs` and `hash.rs` (remove duplication)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As part of the transition to the faster "row format" (#1861 ) , @yjshen  implemented a Row based Hash Aggregate implementation in https://github.com/apache/arrow-datafusion/pull/2375 ❤️

However, the implementation currently implements support for a subset of the data types that DataFusion sup

[2022-06-13 02:56] Ted-Jiang opened #2725 "Filter push down need consider alias columns"
**Describe the bug**
Filter push down not consider alias columns

**To Reproduce**

Logical plan
[code]

logical plan optimize

[code]

physical plan optimize

[code]

in logical plan `Filter: #LO_SHIPMODE IN ` is after alias `Projection: #LO_ORDERKEY`
After optimize `Filter` is before `Projection`.
cause :
[code]

**Expected behavior**
could find alias col

**Additional context**
Add any other co

[2022-06-13 03:00] Ted-Jiang commented on #2725
@alamb  PTAL  I consider change `in_list` col  alias name to origin name in  optimize? Is this solution ok ? I need your opinion 😊

[2022-06-13 05:43] houqp commented on #2709
+1 on @andygrove 's idea for isolating changes to a self-contained crate. @dbr if you are interested in that, please feel free to start that project at the datafusion contrib github org. If you are only interested in updating arrow2 version in the current arrow2 branch, then you can just send a PR to the arrow2 branch :)

[2022-06-13 08:03] Ted-Jiang commented on #2725
Debug log
[code]

[2022-06-13 11:10] nl5887 commented on #2581
@tustvold is this something you're working on already?

[2022-06-13 11:12] nl5887 commented on #2581
This PR is slightly related, as predicates aren't being pushed down currently:

https://github.com/apache/arrow-datafusion/pull/2724

[2022-06-13 11:17] tustvold commented on #2581
@nl5887 I am not currently working on this, but would be happy to assist if you or someone else wanted to pick it up 😀

[2022-06-13 16:59] j-a-m-l commented on #1114
Just to clarify: I can't be involved in this binding, since my current employer is not interested and I don't have enough free time to do it.

[2022-06-13 19:55] #1327 closed

[2022-06-13 20:14] alamb commented on #2725
Hi @Ted-Jiang

If I read your conclusion corrctly, I think you are saying that the filter added by the filter pushdown rule is remapping the names somehow. Specifically, you are proposing:

[code]

[2022-06-13 20:18] alamb commented on #1327
FYI @thinkharderdev  bashed this out in https://github.com/apache/arrow-datafusion/pull/2716 🥇

[2022-06-13 23:53] #2712 closed

[2022-06-14 00:16] kou commented on #1114
@andygrove Could you create https://github.com/datafusion-contrib/datafusion-ruby and give me admin permission? We can implement Ruby bindings based on https://github.com/datafusion-contrib/datafusion-c .

[2022-06-14 02:10] Ted-Jiang commented on #2725
You are right! Same idea as you, i am working on it 😊

[2022-06-14 05:57] mingmwang commented on #1972
Nice discussion!

I see many people raised the points to build the volcano/cascades style planner for DataFusion, either on Egg or to build from scratch. To implement a cascades style planner, usually there are three parts:
1: The optimizer framework, including the memo structure which consists of group of expressions, the search and prune tasks, duplicate detection etc.
2: Rule sets consist of th

[2022-06-14 08:16] yourenawo opened #2730 "LocalFileSystem Not sorted by file name， As a result, the data lines queried in multiple files are out of order."
**Describe the bug**
the data lines queried in multiple files are out of order.

[2022-06-14 14:41] andygrove commented on #1114
@kou I have created the repo and sent you an invite.

[2022-06-14 20:09] kou commented on #1114
Thanks! Confirmed.

I close this issue. We can use https://github.com/datafusion-contrib/datafusion-ruby for further discussion if it's needed.

[2022-06-14 20:09] #1114 closed

[2022-06-15 10:41] alamb commented on #1972
Thank you @mingmwang  for the writeup. I would second your assertion that almost all successful real world (e.g. commerical) query optimizers are not implemented with a cascades like framework, but instead are some combination of heuristics and cost models.

I also think the point that cost models have unsolved error propagation issues -- my experience was that after about 2-3 joins, the output ca

[2022-06-15 14:57] andygrove commented on #2730
Partitions are processed in parallel on multiple threads so DataFusion cannot provide any guarantee of ordering of results unless the query contains an ORDER BY clause.

[2022-06-15 16:53] ming535 commented on #2723
I went through the codebase and some related github issue. So it seems that we need to:
1. Support all `DataType`'s encoding/decoding including nested types such as `List`, `Struct`.
2. Go through all type of `AggregateExpr` and implement related `RowAccumulator` if it doesn't have one.
3. Benchmark the above row based aggregation and compare it with the original column one.
4. delete `create_accu

[2022-06-15 21:39] alamb commented on #2723
Thanks @ming535 ! That list looks good to me

I am not sure DataFusion supports aggregating on `List` and `Struct` -- so I am not sure we need to support a row format for them. If that turns out not to be the case maybe we will 🤔

[2022-06-15 21:51] alamb opened #2736 "`rewrite_expression` does not properly handle `Exists` and `ScalarSubquery`"
**Describe the bug**
@Ted-Jiang  found and fixed a bug (https://github.com/apache/arrow-datafusion/pull/2729) related to the fact an optimizer function `rewrite_expression` did not handle `Expr::InList` correctly

During review @andygrove  and I noticed there were likely some other `Expr` variants that suffered from the same issue: https://github.com/apache/arrow-datafusion/pull/2729#issuecomment-

[2022-06-15 21:53] #2725 closed

[2022-06-16 02:07] yjshen commented on #2723
I agree we need `List` support in Row since it's used by `ApproxPercentileCont`, `ArrayAgg`, `Distinct*`, etc., as state fields. `Struct` is not currently used as a state for existing accumulators, but we will need it soon for other purposes.

List and Struct would not be too complicated to implement in the row format:
- For a struct, we could regard it as a variable-length-field(varlena), and int

[2022-06-16 02:32] yjshen commented on #2723
Note on `RowType::WordAligned`, which is used as the grouping state for hash aggregation:
Since the varlena field would expand its width as new updates come in, fields after varlena should be moved accordingly to make them readable/updatable after a varlena update.

We may consider an "out of place" store for these varlenas for `RowType::WordAligned`, to relieve the repeated need for moving/copyin

[2022-06-16 09:15] ike560 opened #2738 "Version 0.6.0 Panic error during SQL execution"
**Describe the bug**
Panic error occurs when executing Join SQL. Refer to the attached jupyter execution result.

Exception: Arrow error: External error: Arrow error: External error: Execution error: Join Error: task 57 panicked
thread 'tokio-runtime-worker' panicked at 'range end index 83 out of range for slice of length 72'.

<img width="1150" alt="datafusion_panicError" src="https://user-images

[2022-06-16 11:19] #2730 closed

[2022-06-16 14:45] andygrove commented on #2709
Should we have a discussion/vote about whether this should be in `datafusion-contrib` rather than under Arrow governance? There are the options of creating a new repo such as `arrow-datafusion-arrow2` or a new optional crate within the main repo. The work on this so far has been under Arrow governance so we should make sure that all contributors are in agreement on moving it out and also be aware

[2022-06-16 14:48] alamb commented on #2709
I do not have any preference, but I also don't really spend any effort on arrow2 or the arrow2 branch in datafusion -- perhaps @Igosuki  or others who have expended significant effort would be better to weigh on

[2022-06-16 16:42] andygrove opened #2739 "Add `IsNotNull` filter to join inputs if one side of join condition does not allow null"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am running a query something like this:

[code]

The `bar.b` column does not allow null values but `foo.a` does. Rows in `foo` where `a` is null can never match any row in `b` for the inner join case with an equi-join condition `foo.a = bar.b` so we should add a filter when reading `foo` to

[2022-06-16 19:02] jorgecarleitao commented on #2709
@andygrove, thanks for the ping! I do not have a preference - I am very happy to support anyone that wishes to use arrow2/parquet2, and I am very thankful for everyone that has been maintaining the arrow2 branch. I unfortunately do not have the time left to spearhead it.

@dbr I would be very happy to support you in the migration - let me know how I can help and feel free to assign tasks directly.

[2022-06-16 20:17] alamb commented on #2709
I believe there are differing opinions on some of these items

I do think there is broad agreement that the governance model of arrow2 (benign dictator) is not suitable for all users for a variety of reasons.

[2022-06-17 00:22] andygrove opened #2742 "Investigate unexpected performance issue when adding a filter to reduce rows going into a join"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I have a query that performs a join and the join key contains null values on one side. If I run a plain join I see this performance:

[code]

If I try and help DataFusion out by filtering out the null values before the join, the query takes 4x longer:

[code]

**Describe the solution you'd li

[2022-06-17 03:44] andygrove commented on #2742
I could not reproduce this via datafusion-cli so something odd is happening here.

[2022-06-17 14:11] andygrove commented on #2709
I agree. Although there is some great work happening in arrow2, I am not motivated (or even permitted) to contribute there. I am heavily invested in working with the Apache Arrow community to continue to improve things here together. The Apache governance model is not perfect but it is working well enough from my point of view. I am a big believer in [community over code](http://theapacheway.com/c

[2022-06-17 14:22] andygrove commented on #2709
Regardless of where the code lives, I would view us as having two main options:

1. Continue to maintain a copy of DataFusion "core" with modifications to allow building with arrow or arrow2. This will be an ongoing maintenance burden and IMO only worth the effort if we are working towards having this merged into DataFusion master at some point and I am not sure how much appetite there is for this

[2022-06-17 14:40] andygrove opened #2743 "Discord invite link in communication page has expired"
**Describe the bug**
The discord link in https://arrow.apache.org/datafusion/community/communication.html#slack-and-discord has expired

Perhaps we should just ask people to email dev@ and ask for an invite instead?

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context

[2022-06-17 19:00] andygrove opened #2744 "Cannot join on date columns (Unsupported data type in hasher: Date32)"
**Describe the bug**
I am trying to run a join query with a Date32 column

**To Reproduce**
Run a join query with a Date32 column

**Expected behavior**
It should work

**Additional context**
None

[2022-06-18 11:45] alamb commented on #2709
One approach that @Jimexist  started with, that I thought had some promise was to use `trait`s to collect the differences in the two apis -- so that DataFusion used the traits and then there were `impl`s for both `arrow` and `arrow2`

For example, `from_slice` in  https://github.com/apache/arrow-datafusion/pull/1588 and https://github.com/apache/arrow-datafusion/pull/1589

I would be quite support

[2022-06-18 13:09] #2744 closed

[2022-06-18 13:10] #2739 closed

[2022-06-19 01:00] houqp commented on #2743
The discord link (https://discord.gg/Qw5gKqHxUM) is working for me, I saw two new members joined today as well. Were you getting an error?

[2022-06-19 01:56] andygrove commented on #2709
Bonus points if it could one day support a GPU implementation of Arrow as well 😉

[2022-06-19 04:46] waynexia opened #2749 "Change ExtensionPlanner::plan_extension() to an async function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have `PhysicalPlanner::create_physical_plan()` that can build physical plan from logical plan which is an async function. Gives a user-add extended logical plan and physical plan, the planner should also be asnyc like the build-in planner.

**Describe the solution you'd like**
Change `Exten

[2022-06-19 14:06] andygrove commented on #138
I plan on working on this very soon

[2022-06-19 17:18] #2749 closed

[2022-06-19 23:00] avantgardnerio opened #2751 "tpchgen docker syntax change prevents volume from binding"
**Describe the bug**
PR #2741 appears to have introduced a bug in [this line](https://github.com/apache/arrow-datafusion/blob/3f4aaabc74796fe8c538981c259d79da789b96ae/benchmarks/tpch-gen.sh#L33). Because the `imagename:version` is included before the `-v` the rest of the line is interpreted as arguments to the container, instead of arguments to docker, so the volume is not mounted, and the output

[2022-06-21 08:29] liukun4515 opened #2755 "support data type coerced and decimal in INLIST expr"
related issue:

- [x] https://github.com/apache/arrow-datafusion/issues/2774
- [x] https://github.com/apache/arrow-datafusion/issues/2759
- [x] https://github.com/apache/arrow-rs/issues/1921
- [x] https://github.com/apache/arrow-datafusion/issues/2782
- [x] https://github.com/apache/arrow-datafusion/issues/2773
- [x] #2800
- [x] #2809

**Is your feature request related to a problem or challenge? P

[2022-06-21 08:31] liukun4515 commented on #2755
I will file a PR to fix it.

[2022-06-21 12:38] alamb commented on #138
cc @ming535

[2022-06-21 13:30] #2751 closed

[2022-06-21 22:26] andygrove opened #2756 "Move some existing config options to key-value based configuration"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/pull/2754 adds an extensible configuration mechanism based on key-value pairs.

This issue proposes to migrate the following existing configuration options in `SessionConfig` to this approach:

[code]

**Describe the solution you'd like**
As descri

[2022-06-22 01:46] AssHero opened #2757 "Reduce outer joins"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
For query: select ... from a left join b on ... where b.xx = 100;

if b.xx is null, and b.xx = 100 returns false, filterd those null rows.
Therefore, there is no need to produce null rows for output, we can use
inner join instead of left join.

we can optimize above query to select ... from a

[2022-06-22 05:37] liukun4515 opened #2759 "InList Expr: expr and list values must can be converted to a same data type"
**Describe the bug**
In current inList implemention, we don't consider the data type of the list value.

For example:

I create a table
[code]
with data
[code]
using the in filter to select data

[code]
The column of c is `bool` data type, we can apply the compare operations to diff data type.

The behavior of other database, such as spark

[code]
we will get the error message

[code]

**To Reprod

[2022-06-22 05:52] liukun4515 commented on #2755
blocked by this issue https://github.com/apache/arrow-datafusion/issues/2759

[2022-06-22 06:41] liukun4515 commented on #2759
In the datafusion, we can convert NULL value of the NULL type to any other NULL value of data type.
For example: Convert NULL(NULL) to INT32(NULL) or FLOAT(NULL);
❯ EXPLAIN select cast(NULL as FLOAT);
+---------------+------------------------------------------------------+
| plan_type     | plan                                                 |
+---------------+------------------------------------

[2022-06-22 06:45] liukun4515 commented on #2759
If we want to use the NULL in the list expr. The data type of NULL is `NULL`, like that `expr: Literal { value: Int32(NULL) }`

[2022-06-22 13:26] alamb commented on #2742
@andygrove  i wonder what the explain plan shows? Could it be that the optimizer has switched the join order?

[2022-06-22 14:02] #2736 closed

[2022-06-22 14:06] Ted-Jiang opened #2768 "Support multiple paths for ListingTableScanNode"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now `ListingTableConfig`
[code]

Sometimes we need pass multi paths in `ListingTableConfig` like after file path prune we only need scan
`/table/2020/01` and `/table/2020/03` without  `/table/2020/02` (They should share the same schema and object store)
So we need pass

[code]
**Describe the s

[2022-06-22 14:35] andygrove opened #2770 "Automatically update `configs.md` in user guide"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
PR https://github.com/apache/arrow-datafusion/pull/2754 adds configuration options with descriptions and we can generate markdown for inclusion in the user guide but we don't want to make these updates manually.

**Describe the solution you'd like**
Implement a mechanism to automatically keep

[2022-06-22 14:47] #138 closed

[2022-06-22 23:16] comphead commented on #2450
@tustvold for the test, which was before. This represents roundtrip for the list
[code]

Do you expect after change it has to be
[code]
or
[code]

[2022-06-23 02:46] liukun4515 opened #2773 "InList: don't need to treat Null as UTF8 data type"
From this test case, we can know that we should not treat Null as UTF8 data type

_Originally posted by @liukun4515 in https://github.com/apache/arrow-datafusion/pull/2764#discussion_r904468132_

From the implemention:
1. https://github.com/apache/arrow-datafusion/blob/3da59e8877620a095efae102b0177e7e6a76f65b/datafusion/physical-expr/src/expressions/in_list.rs#L163

2. https://github.com/apache/ar

[2022-06-23 02:52] liukun4515 commented on #2759
In the spark, we can't compare decimal with boolean, but can compare decimal with Null.
[code]
[code]

[2022-06-23 04:03] liukun4515 opened #2774 "InList: Can't cast the list expr data type to value expr data type directly"
**Describe the bug**
In this pr and comment, we find a bug about data type coercion for the Inlist expr
https://github.com/apache/arrow-datafusion/pull/2764/files#r904495595

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-06-23 04:10] liukun4515 commented on #2774
duplicated issue about https://github.com/apache/arrow-datafusion/issues/2759

[2022-06-23 04:10] #2774 closed

[2022-06-23 15:33] andygrove opened #2776 "Allow configuration settings to be specified with environment variables"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Per https://12factor.net/config we should allow any configuration settings to be overridden by environment variables.

For example, it should be possible to set the configuration option `datafusion.execution.batch_size` with the environment variable `DATAFUSION_EXECUTION_BATCH_SIZE`.

**Descri

[2022-06-23 20:45] andygrove opened #2780 "Simplify FilterNullJoinKeys rule"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I overcomplicated the design of the FilterNullJoinKey rule. There is no need to check for a combination of null and non-null join keys. Instead, we just need to add filters for any join key that is nullable.

**Describe the solution you'd like**
Just add filters for nullable keys on either sid

[2022-06-23 21:57] #2780 closed

[2022-06-24 01:41] liukun4515 opened #2782 "InList: Don't treat Null as UTF8(None)"
Is it worth filing a follow on ticket to address? I am not 100% sure I understand what the end user facing bug would be (is it null is the wrong type?)

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/2764#discussion_r905386562_

[2022-06-24 07:20] jackwener commented on #2620
Currently, `datafusion` optimize the plan many times. Because the all rules will traverse the whole plan tree one time.
Times is O(n). (n is number of rules).

I think it's not good choice. But now `explain verbose` print the changes after apply one rule. This ability depends on apply rule one by one.

I think the better and usual practice is traverse plan instead of traverse rules.

[code]

[2022-06-24 07:23] jackwener commented on #2620
@alamb @Dandandan @andygrove @houqp

How do you think about this trade-off

[2022-06-24 10:52] tustvold commented on #2450
The latter, you will need to both specify the name of the lists element, and its nullability

[2022-06-24 13:10] martin-g opened #2783 "Migrate from avro_rs to apache_avro"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

avro_rs has been [donated](https://github.com/flavray/avro-rs/#%EF%B8%8F-avro-rs-is-no-longer-maintained-here-please-refer-to-the-apacheavrorust-repository-instead-make-sure-you-read-the-apache-avro-guidelines-here-%EF%B8%8F) to Apache Avro project.
It would be good to use the new `apache_avr

[2022-06-24 15:07] mkmik opened #2785 "EXTRACT(EPOCH from column)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Datafusion supports a few date parts like "year" or "seconds" in the `EXTRACT` operator.

Postgres offers a few more. In particular it offers an `EPOCH` date part which extracts the number of seconds since 1970-01-01 00:00:00-00 (can be negative).

See https://www.postgresql.org/docs/8.1/func

[2022-06-24 16:09] #2770 closed

[2022-06-24 18:06] #2768 closed, assigned to nobody

[2022-06-24 20:15] alamb commented on #2427
Here is a trace from IOx showing a lot of time being spent sorting batches...

[code]

[2022-06-24 20:37] mrob95 commented on #2573
Will take a look at this

[2022-06-24 21:21] nl5887 commented on #2581
@tustvold I think quite a lot needs to be changed. Most of the code will do column selection by name, whereas the relevant data of the sql parsing (the indexed field structure) is lost.

Correct me if I'm wrong, but I think the datafusion core column needs to be converted to an enum consisting of Column and IndexedField. The retrieval from the DFSchema needs to be done using the column itself inst

[2022-06-24 22:38] hntd187 commented on #1544
There is https://github.com/datafusion-contrib/datafusion-streams which I haven't updated my work in a long time to, but probably a good place if you want to experiment. Probably good to have a sink for kafka, but I need to get back into this.

[2022-06-25 00:10] OscarTHZhang commented on #94
Hi, I'd like to explore this ticket, but I wonder how and where the benchmark should be run, and also what test workload each operator should be running against?

[2022-06-25 16:05] andygrove opened #2790 "Add configuration option to enable/disalbe `CoalesceBatchesExec`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to be able to use configuration options to control whether `CoalesceBatchesExec` operators are inserted into the plan and also to control the target batch size.

**Describe the solution you'd like**
:point_up:

**Describe alternatives you've considered**
None

**Additional context

[2022-06-25 20:09] viirya opened #2793 "Use coerced data type from value and list expressions during planning inlist expression"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently we simply check if list expr can cast to value expr during planning inlist expression. It looks no correct. We should get the coerce data type from the value expr and list exprs and then try to cast all exprs to the coerced data type.

Otherwise we will hit some issues like #2787 sh

[2022-06-26 12:22] alamb commented on #192
🤔  maybe we need to use `Decimal` type rather than `Float` for such constants. When we initially ran TPCH we did not have support for this data type, but now thanks to the work from @liukun4515 (and others) we do!

[2022-06-26 12:32] alamb commented on #94
Thanks @OscarTHZhang

I think part of this ticket would be to define a reasonable test workload

Here are some examples of benches that might server as inspiration:

* Single Operator: `SortPreservingMerge`: https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/benches/merge.rs
* "Targeted" SQL (aggregates): https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/be

[2022-06-26 13:56] nl5887 commented on #2326
This one is also related: https://github.com/apache/arrow-datafusion/issues/2581

[2022-06-26 21:47] avantgardnerio opened #2796 "Unable to work with month intervals"
**Describe the bug**
When performing queries such as:

[code]

I observe the following error:

[code]

**To Reproduce**
Run the above query.

**Expected behavior**
`1994-02-01`

**Additional context**
Impact: Missing the month & year intervals are causing the TPC-H benchmarks to fail.

[2022-06-26 23:52] kmitchener opened #2798 "panic when case statement returns null"
**Describe the bug**
A clear and concise description of what the bug is.

I've boiled this down to a small test case which panics with this error:
thread 'main' panicked at 'NullArray data should not contain a null buffer, as no buffers are required'

**To Reproduce**
Steps to reproduce the behavior:

run this SQL from cli:
select case when b is null then null else b end from (select a,b from (val

[2022-06-27 01:24] rostamn739 commented on #2798
also happens with
`select case when b is null then null else b end from (select a,b from (values (1,1),(2,null)) as t (a,b)) a;`

but does not happen with
`select case when b is null then null else 1 end from (select a,b from (values (1,null),(2,3)) as t (a,b)) a;`

[2022-06-27 05:39] houqp commented on #2709
The current arrow2 branch was not created with the intention to keep it as a long running branch, instead, the original plan was to use it as a tool to validate (https://github.com/apache/arrow-datafusion/issues/1652) whether we will be able to get a significant performance boost by switching to arrow2, and if so, convince the rest of the community to make that jump :)

Unfortunately, due to perso

[2022-06-27 06:02] liukun4515 commented on #1356
InList coercion rule: https://github.com/apache/arrow-datafusion/pull/2794/

[2022-06-27 06:33] #2759 closed

[2022-06-27 06:36] liukun4515 opened #2799 "coercion rule about `eq` and InList between string type and numeric type"
I have some concerns about the rule between string and number.
I check some situation in the spark:
[code]
In the previous case, the result of coercion is `Int`.
I think we need to create an issue to track this.
@viirya  @alamb

_Originally posted by @liukun4515 in https://github.com/apache/arrow-datafusion/pull/2794#discussion_r907011527_

[2022-06-27 06:36] liukun4515 commented on #2799
cc @viirya

[2022-06-27 07:51] #2793 closed

[2022-06-27 07:53] liukun4515 commented on #2799
I'm going to implement casting between UTF8 and decimal, we can also consider there cases together.

[2022-06-27 08:24] liukun4515 opened #2800 "support decimal in (NULL)"

[2022-06-27 13:10] jorgecarleitao commented on #2709
@alamb AFAIK governance has not been a factor when considering dependencies in DataFusion, but maybe I missed it when that decision taken. Specifically, going through some of its dependencies:

* sqlparser - unclear governance
* ahash - unclear governance
* tokio - Tokio team; could not find governance doc
* prost - Tokio team; could not find governance doc
* thrift - clear governance, Apache Arro

[2022-06-27 16:51] #2782 closed

[2022-06-27 17:16] mrob95 commented on #957
Did a little digging on this. Postgres gives a similar error:
[code]

The code which actually does the cast and produce is the error message in the OP is in the [arrow cast kernel here] (https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/cast.rs#L1477). It calls the `parse` function from the `lexical_core` library to do the actual parsing.

`lexical_core` has an alternative f

[2022-06-27 17:36] alamb commented on #2799
I wonder if the question here is "should we automatically try and coerce numbers to strings (which is more general but slower) or coerce strings to numbers (which is less general but faster)"?

[2022-06-27 22:30] #2697 closed

[2022-06-27 23:39] #2757 closed

[2022-06-28 00:17] comphead commented on #2450
Thanks @tustvold for the quick reply. I was confused because we have the test like
[code]
which also looks like list of primitives but with other datatype provided

[2022-06-28 02:26] ming535 commented on #2723
@yjshen Hi, do you know why `Distinct*`, for example `DistinctCount`'s `state_fields` is using `DataType::List`? I have ran a few examples and all of them actually using `List` of length `1`.

My understanding is that `DistinctCount` is used in queries like: `SELECT COUNT(DISTINCT c1) from foo;` .

The logical plan is `Aggregate: groupBy=[[]], aggr=[[COUNT(DISTINCT #foo.c1)]`. The `aggr` in the pl

[2022-06-28 03:55] liukun4515 commented on #2799
yes, we should try some other database system and discuss the best behavior for these case

[2022-06-28 13:30] tustvold commented on #2450
This will be a breaking change, and will require updating said tests.

[2022-06-28 15:37] tustvold commented on #2581
As described above, list index pushdown is likely to yield limited benefits for any of the formats we currently support. As such I don't think we need to support it in projection pushdown as a first step.

I'm not sure I follow what you mean, I would have expected list indexing to just be a different type of `PhysicalExpr` without the need to leak into the DFSchema at all?

[2022-06-28 18:39] alamb commented on #2709
We have proposed donating `object_store` to Arrow on  https://github.com/influxdata/object_store_rs/issues/41

[2022-06-28 18:54] alamb commented on #2799
Here is what postgres does (appears to me to cast based on the type of the first element in the IN list):

[code]

[2022-06-28 19:07] alamb commented on #2723
I think Distinct basically serializes partial results as `List`s when combining partial aggregates

[2022-06-28 19:27] viirya commented on #2799
This sounds reasonable.

[2022-06-28 21:38] #2573 closed

[2022-06-28 22:10] ming535 commented on #2723
Does this mean that the design was meant to support some thing like: `COUNT(DISTINCT (c1, c2))` which counts the distinct combination of c1 **and** c2?

[2022-06-29 10:00] liurenjie1024 commented on #2633
Hi, @alamb @andygrove I've finished a simple poc and you can find the code here: https://github.com/liurenjie1024/rust-opt-framework/tree/main/src/datafusion_poc

Here are the general ideas:

1.  To adopt new heuristic optimizer,  we can wrap `HeuristicOptimizer`  as a optimizer rule, and it works as following:
[code]
You can find an implementation here:
https://github.com/liurenjie1024/rust-opt-f

[2022-06-29 13:25] xudong963 commented on #217
I added the related rule to databend yesterday https://github.com/datafuselabs/databend/pull/6301, will add it for datafusion on the weekend

[2022-06-29 23:33] alamb commented on #2723
I am not totally sure to be honest

[2022-06-30 00:00] alamb commented on #2783
Thanks @martin-g

[2022-06-30 00:03] alamb opened #2816 "Make `LogicalPlan::Union` be consistent with other plans"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

All of the `LogicalPlan` structs contain `Arc<LogicalPlan>` where they refer to other plans, *except* `Union`, which has a `Vec<LogicalPlan>`. I think this caused a couple of extra `LogicalPlan` clones due to needing an owned `LogicalPlan` to put into a union.

**Describe the solution you'd l

[2022-06-30 00:05] alamb commented on #217
@xudong963  noted that this optimization was added to https://github.com/datafuselabs/databend/pull/6301 👍

[2022-06-30 00:30] #2798 closed

[2022-06-30 02:47] #2800 closed

[2022-06-30 02:58] liukun4515 opened #2817 "IN/NOT IN List: NULL is not equal to NULL"
**Describe the bug**
A clear and concise description of what the bug is.

This https://github.com/apache/arrow-datafusion/pull/2156 introduce an optimization for checking value in/not in the list.

But it ignore the `NULL` case.

In the SQL system, NULL is not equal to NULL.

Like below case:
[code]

But now It will return false.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behav

[2022-06-30 06:49] xudong963 commented on #217
Yes, I'll add it for df on the weekend

[2022-06-30 11:32] liukun4515 commented on #2773
duplicated with https://github.com/apache/arrow-datafusion/issues/2782

[2022-06-30 11:32] #2773 closed

[2022-06-30 13:38] liukun4515 opened #2818 "CASE When: result type should be coercible to a common type"
**Describe the bug**

[code]
One case when sql has two diff result data type.

From other system, case when should have the common data type, but now the result type is the first non-null data type.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem

[2022-06-30 13:38] liukun4515 commented on #2818
I will fix this issue.

[2022-06-30 15:00] andygrove commented on #2633
Thanks @liurenjie1024 I will review this next week.

[2022-07-01 10:26] liukun4515 opened #2820 "Not evaluate the set expr in the InList for the optimization"
**Describe the bug**
From this pr https://github.com/apache/arrow-datafusion/pull/2156, @Ted-Jiang optimize the inlist using the set scalar.

But get the static value from below code：
[code]
This will not get the right value for the set expr.
We should eval the set expr to get the set scalar values.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise descr

[2022-07-01 10:26] liukun4515 commented on #2820
I will fix it after the issue https://github.com/apache/arrow-datafusion/issues/2817 fixed.

[2022-07-01 19:03] AssHero opened #2822 "eliminate multi limit-offset nodes to EmptyRelation if possible"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
For such query: select * from (select * from xxxx limit n offset ..) a limit  n offset m;

If outer offset(m) is greater than or equal to inner limit(n)，we can replace inner limit node with an [LogicalPlan::EmptyRelation], like this logical plan:

---Limit: skip=m, fetch=n
---- Projection: #a.

[2022-07-01 19:37] mrob95 commented on #2529
I'll have a go at this

[2022-07-01 20:11] alamb commented on #2529
Thank you very much @mrob95  -- we have appreciated all your other fine work to date as well!

[2022-07-01 20:20] #2776 closed

[2022-07-01 21:54] avantgardnerio commented on #160
Resolved by PR #2813 & PR #2797

[2022-07-01 21:55] avantgardnerio commented on #168
Resolved in [this branch](https://github.com/spaceandtimelabs/arrow-datafusion/blob/85a47463a4c692bdcf9d687cdabf655bade04df2/datafusion/core/tests/sql/subqueries.rs#L107) which I am getting ready for PR.

[code]

[2022-07-01 21:57] avantgardnerio commented on #159
Resolved in [this branch](https://github.com/spaceandtimelabs/arrow-datafusion/blob/85a47463a4c692bdcf9d687cdabf655bade04df2/datafusion/core/tests/sql/subqueries.rs#L107) which I am getting ready for PR.

[code]

[2022-07-02 08:38] waitingkuo opened #2824 "Add Python examples for reading CSV and query by SQL in Doc"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
No

**Describe the solution you'd like**
Add some simple cases to help python developer begin with

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-07-02 10:30] alamb opened #2827 "Improve ergonomics of physical expr `lit`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

For logical expressions, you can create them using syntax like `lit("foo")`

However for physical expressions, you need to use the much more verbose syntax of `lit(ScalarValue::Utf8(Some("foo")))`

It would be nice to implement the same thing for physical expressions

**Describe the solution

[2022-07-02 16:13] richox opened #2829 "Memory manager triggers unnecessary spills"
**Describe the bug**

currently, each requester can allocate at most `(pool_size - tracker_total) / num_requesters` memory. if an execution plan is skewed there will be a lot of memory wasted and unexpected spills.

for example, when we perform sort -> merge joining on two inputs, and one of them is very small:
[code]

the bigger sorter can use only half of the total memory, which will trigger mor

[2022-07-02 16:26] avantgardnerio commented on #158
I'm actively working on these, and I think my incoming PR will resolve all the ones with subqueries. I'm filing notes on the subtasks as I go.

[2022-07-03 03:07] liukun4515 opened #2831 "Optimization InList: compare the float data type using OrderedFloat<T>"
Elsewhere in DataFusion (including in `ScalarValue`) we use `ordered_float` to compare floating point numbers

It might be possible  to use `set::<OrderedFloat<f32>>`, which would be more space efficient (fewer bytes than `ScalarValue`) as well as faster (as the comparison doens't have to dispatch on the type each time)

https://github.com/apache/arrow-datafusion/blob/88b88d4360054a85982987aa07b3f

[2022-07-03 03:08] liukun4515 opened #2832 "InList: add more integration test for Inlist"
Thank you @liukun4515  -- I reviewed the tests carefully and I think this looks good.

The code "feels" a little more complicated than needed but I think it is doing what it needs to and the test coverage is good.

I wonder if it is worth just 1 test in `sql_integration` somewhere that ensures this implementation is hooked up correctly rather than just relying on tests in `in_list.rs`

I think it

[2022-07-03 06:15] #2827 closed

[2022-07-03 18:08] avantgardnerio commented on #171
Working in [this branch](https://github.com/spaceandtimelabs/arrow-datafusion/tree/bg_tpch_q20) :

[code]

[2022-07-03 19:22] #2824 closed

[2022-07-04 02:04] liukun4515 opened #2833 "InList: merge check branch"
Two `$NEGATED` cases look very similar, is it possible to combine them to save code?

e.g.

[code]

_Originally posted by @viirya in https://github.com/apache/arrow-datafusion/pull/2809#discussion_r912515638_

[2022-07-04 02:07] #2817 closed

[2022-07-04 02:13] #2818 closed

[2022-07-04 04:56] ike560 commented on #2738
Additional Information

Column (company) value is UTF-8 Japanese string.
In company value is alpha-numeric string, there is no problem with the same SQL.

[2022-07-04 05:15] ike560 commented on #2738
Solved!

After modifying the SQL as below, it was OK. **Help. Do you know why this modified SQL is OK?**
Before　  GROUP BY company
After　　 GROUP BY company, stock_code

[code]

[2022-07-04 10:14] #2489 closed

[2022-07-04 13:18] liukun4515 commented on #2799
Do you try  this?
[code]

[2022-07-04 13:21] #2755 closed

[2022-07-04 17:57] avantgardnerio commented on #175
Working on [this branch](https://github.com/spaceandtimelabs/arrow-datafusion/tree/bg_tpch_q20):

[code]
vs postgres:
[code]

[2022-07-04 19:22] avantgardnerio commented on #172
Fixed in [this branch](https://github.com/spaceandtimelabs/arrow-datafusion/tree/bg_tpch_q20):

[code]
postgres:
[code]

[2022-07-04 19:23] avantgardnerio commented on #163
Fixed in [this branch](https://github.com/spaceandtimelabs/arrow-datafusion/tree/bg_tpch_q20):

[code]
postgres:
[code]

[2022-07-05 02:47] liukun4515 opened #2835 "Can't test or compile sub-model code after upgrade to arrow-rs 17.0.0"
**Describe the bug**
After upgrade to 17.0.0
I can't execute below command to build or test sub-model
[code]

I just want to test the sub-model.

I think this is caused by the arrow-rs with some changes for Cargo dependency https://github.com/apache/arrow-rs/issues/1876

@martin-g

@alamb

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of w

[2022-07-05 05:09] liukun4515 commented on #2835
I try to resolve it by adding the

[code]
to the toml file.
But I am not sure if it is right

[2022-07-05 07:06] liukun4515 opened #2837 "Add interface to determine whether expr is a constant"
for datafusion, we need to add interface which is used to identify the expr is constant or  literal or not.
If we have this interface, we can make more optimization.
But the interface should be better in the logical expr not in the physical expr like sprak `fold`

_Originally posted by @liukun4515 in https://github.com/apache/arrow-datafusion/pull/2834#discussion_r913453698_

[2022-07-05 07:07] liukun4515 commented on #2837
this feature can be used to do some optimization in plan optimizer or expression folding

[2022-07-05 11:52] tustvold commented on #2835
Perhaps try updating serde_json, I also ran into this issue and deleting the lockfile made things work again

[2022-07-05 16:54] alamb commented on #2799
[code]

[2022-07-05 16:58] alamb commented on #158
Thank you @avantgardnerio

[2022-07-06 02:33] andygrove opened #2842 "Anti join ignores join filters"
**Describe the bug**
We currently have incorrect behavior for Anti joins where this is a join filter. Here is a repro case demonstrated in Spark:

[code]

The following unit test can be added to `hash_join.rs` to attempt the same query.

[code]

The test fails and produces an empty batch.

**To Reproduce**
See above

**Expected behavior**
Test should pass

**Additional context**
None

[2022-07-06 07:02] andygrove opened #2844 "Add `DataFrame::with_column`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Someone is asking about this feature on StackOverflow: https://stackoverflow.com/questions/72876397/impute-and-add-new-calculated-column-with-rust-datafusion

**Describe the solution you'd like**
Add `with_column(&self, name: &str, expr: Expr)`. This should add the new column to the data frame

[2022-07-06 12:07] avantgardnerio commented on #172
This is the final subquery fixed. Dependent on #2843 . Fixed in [this branch](https://github.com/spaceandtimelabs/arrow-datafusion/tree/bg_tpch_q20):

datafusion:
[code]

postgres:
[code]

PR for all the subquery fixes inbound shortly :partying_face:

[2022-07-06 12:56] #2822 closed

[2022-07-06 18:02] ParadoxShmaradox opened #2845 "[Question] Optimize multiple reads on same DataFrame"
Hey,

I have a scenario where I have to run the same filter expression but with different values on the same RecordBatch

For example

[code]

It is pretty fast, a few ms on a 80MiB in-memory array with filtering on 2 columns.
I might run 1000 queries on the same MemTable and was wondering if there is anything that could be optimized:

- pre computing an execution plan on the MemTable if it's cost

[2022-07-06 18:53] #2842 closed

[2022-07-07 01:40] #2529 closed

[2022-07-07 02:31] liukun4515 commented on #2835
Do we need to fix that by give a pull request?

[2022-07-07 02:41] liukun4515 commented on #2835
Just update lock for the dependency

[2022-07-07 02:41] #2835 closed

[2022-07-07 03:48] liukun4515 commented on #1379
It was fixed.

[2022-07-07 03:48] #1379 closed

[2022-07-07 05:57] JYInMyHeart opened #2847 "[Question]How to call an async function in `ExecutionPlan::exec` method?"
I had customized some execution plan struct. In datafusion 7.1.0 the `ExecutionPlan::exec` method is async so I can directly call some async functions in it when I Implement some methods for `ExecutionPlan`. After upgrade datafusion to 9.0.0 the `ExecutionPlan::exec` becomes sync. So how can I call an async function in `ExecutionPlan::exec` method?
I have seen that `SortExec` in datafusion-core us

[2022-07-07 10:17] #2820 closed

[2022-07-07 10:58] mrob95 opened #2848 "Implement "SHOW CREATE TABLE" for external tables"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Following on from #2529, it would be good to support external tables in "SHOW CREATE TABLE", [as spark does](https://docs.databricks.com/spark/latest/spark-sql/language-manual/sql-ref-syntax-aux-show-create-table.html).

**Describe the solution you'd like**
Implement `TableProvider::get_table

[2022-07-07 16:33] comphead commented on #2844
@andygrove please check new merged PR

[2022-07-08 03:58] andygrove opened #2850 "Update top-level README"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I think it is time to make some small improvements to the top-level README. I am going to put up a proposed PR but would like to get feedback from the community.

**Describe the solution you'd like**
- I would like to list all the file formats we support. It is no longer just CSV and Parquet
-

[2022-07-08 04:01] allran opened #2851 "Docker Error"
**Describe the bug1**
Can't clone codes for get file`./dev/build-ballista-docker.sh`.
[code]

**Describe the bug2**
Use the last codes, docker pull error.
[code]

[2022-07-08 04:05] xudong963 commented on #2851
Ballista has been a separated repo: https://github.com/apache/arrow-ballista

[2022-07-08 04:12] xudong963 opened #2853 "Consider adding a prominent note in the readme about ballista"
Adding a prominent note in the readme that ballista has been separated into a separate repository.

Let our users not get lost ：D

[2022-07-08 04:15] #2844 closed

[2022-07-08 04:19] comphead commented on #2738
@ike560 it is valid sql. You can group by  company, stock_code but still have only company in select. That doesn't make much sense, but it is still valid

[2022-07-08 04:47] #2851 closed

[2022-07-08 06:11] JYInMyHeart commented on #2847
But I still don't know how to write the correct code even I add `futures` crate.

[2022-07-08 09:34] JYInMyHeart commented on #2847
@tustvold I fixed it. Thanks for your reply.

[2022-07-08 09:34] #2847 closed

[2022-07-08 19:18] alamb commented on #2837
In my mind, if we we always ran 'constant folding' on an `Expr` then checking for a constant should be a matter of calling `matches!(expr, Expr::Literal)`

In other words, I had hoped that the `constant folding` pass was a general purpose mechanism to detect constants

[2022-07-08 19:23] alamb opened #2857 "Implement `information_schema.views`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-datafusion/pull/2830 added the sql to define a view into `information_schema.tables`

While this is useful, it isn't the standard location for such information -- the standard location is `information_schema.views`

For example, in mysql:

[code]

**Describe the

[2022-07-08 19:24] alamb commented on #2857
I think this is a good first issue because there is a model to follow (`information_schema.tables`) so this would be a good way to learn the existing code and tests

[2022-07-09 10:00] xudong963 opened #2859 "Migrate the `cross join -> inner join optimization` from the planner to the optimizer"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Migrate the cross join -> inner join optimization from the planner to the optimizer, and make it as an optimization rule.

Related code: https://github.com/apache/arrow-datafusion/blob/master/datafusion/sql/src/planner.rs#L770

**Additional context**
`cross join -> inner join optimization`: ht

[2022-07-09 11:13] #2853 closed

[2022-07-09 16:13] andygrove opened #2862 "Release DataFusion 10.0.0"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am planning on starting the release process for DataFusion 10.0.0 once arrow-rs 18.0.0 is released. This is the tracking issue for the release.

[2022-07-09 20:16] kmitchener opened #2864 "update documentation, fix styling to match main Arrow project"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The documentation site https://arrow.apache.org/datafusion/ has bad navigation forma

[2022-07-10 11:06] #2864 closed

[2022-07-10 12:34] kmitchener opened #2866 "[Question] interested in helping with documentation"
Hi all,
I want to help with the documentation and I can pull issues from here to work on, but I have questions about how docs should be organized for the python project.

Datafusion-python is now in datafusion-contrib, outside of Apache. However, it's documentation is in the datafusion project repo. This leads to a weird dependency where docs will be created in the main datafusion repo, for versio

[2022-07-10 18:29] andygrove opened #2867 "Error parsing valid SQL with aliases"
**Describe the bug**
I am working on a SQL query fuzzer (see [sqlfuzz](https://crates.io/crates/sqlfuzz) crate) and I think it just found a bug in DataFusion.

The following SQL works fine in Spark but fails in DataFusion with `ParserError("Expected ), found: __t404")`.

[code]

Spark:

[code]

**To Reproduce**
Use sqlfuzz

**Expected behavior**
Query should work

**Additional context**
None

[2022-07-10 19:27] waitingkuo commented on #2867
i tried it on sqlparser-rs, it doesn't work

[code]

[code]

looks like the outer alias doesn't work. the following sql works
[code]

[2022-07-10 20:53] comphead commented on #2816
Hi @alamb please assign this to me

[2022-07-10 22:01] mrob95 commented on #2756
I'm happy to lift and shift the rest of these to `BuiltInConfigs` if you haven't already @andygrove ?

[2022-07-11 01:07] comphead commented on #2816
@alamb I just thought why `Vec<Arc<LogicalPlan>>`, can't we use `Arc<Vec<LogicalPlan>>` instead?

[2022-07-11 11:45] alamb commented on #2816
I don't think there is any particular reason -- it may be for convenience in the codebase.

Note this ticket is describing the difference of the Union owning the `LogicalPlan` rather than a read-only shared copy (`Arc<LogicalPlan>`).

[2022-07-11 13:17] #2850 closed

[2022-07-11 13:26] kmitchener opened #2869 "window functions not supported in expressions"
**Describe the bug**
A clear and concise description of what the bug is.

Was attempting to concisely calculate growth rates using window functions. Queries like this:

[code]
or
[code]
Results in
[code]

**To Reproduce**
Steps to reproduce the behavior:

use a window function in an expression

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional cont

[2022-07-11 15:38] andygrove opened #2870 "Add `cast` function for creating logical cast expression"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
When using the dataframe API there is no easy way to cast a column to another type

**Describe the solution you'd like**
I would like a `cast` function something like this:

[code]

This would allow me to then write dataframe code like this:

[code]

**Describe alternatives you've considered**

[2022-07-11 15:52] andygrove opened #2871 "Implement `from_unixtime` function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In the SO post https://stackoverflow.com/questions/72888852/extract-year-month-day-from-unix-timestamp-column-in-rust-datafusion-dataframe/72941102#72941102 the user needed help with translating a unixtime to a timestamp. The solution now is to use a cast and this is verbose and not obvious. I

[2022-07-11 15:55] andygrove opened #2872 "User guide should have a reference listing all the built-in functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As a user of DataFusion, how do I know what functions are available?

**Describe the solution you'd like**
User guide should have a reference listing all the built-in functions.

They are documented in crates.io at https://docs.rs/datafusion-expr/9.0.0/datafusion_expr/expr_fn/index.html so may

[2022-07-11 16:06] waitingkuo commented on #2871
@andygrove
would you mind giving me some hint? I'm still new to this project. thanks~

Is this the right place to begin with [https://github.com/apache/arrow-datafusion/blob/master/datafusion/expr/src/built_in_function.rs#L150](https://github.com/apache/arrow-datafusion/blob/master/datafusion/expr/src/built_in_function.rs#L150) ?

[2022-07-11 16:14] alamb opened #2873 "Error with CASE and DictionaryArrays: `ArrowError(InvalidArgumentError("arguments need to have the same data type"))`"
**Describe the bug**
For a `DictionaryArray` `col` evaluating an expression like

[code]

Generates an error:

[code]

**To Reproduce**

[code]

[code]

**Expected behavior**

The test passes with this output:

[code]

**Additional context**

This test used to pass. The last commit it passed was 57f47ab9230a9a12b3244191dcf1623f8b69fd61

It appears to fail starting of da392f4b3d77ad5fec0018a5014674

[2022-07-11 17:11] comphead commented on #2871
https://github.com/apache/arrow-datafusion/pull/2324 please check this PR also

[2022-07-11 17:17] waitingkuo commented on #2871
thank you @comphead !

[2022-07-11 17:58] alamb opened #2874 "Round trips through ScalarValue's change types from `DictionaryArray`"
**Describe the bug**

Various parts of the DataFusion codebase assume that the transformation between `ScalarValue` <--> `Array` have the same datatype. This would seem to be a reasonable assumption, however it does not hold for at least for `DictionaryArrays`

For example, a `ScalarVaule` that is converted to an array,  `cast`ed to a `DictionaryArray<_>` due to coertion rules, and then converted

[2022-07-11 23:47] andygrove opened #2877 "hash_join panics when join keys have different data types"
**Describe the bug**

There are several places where hash_join can panic in version 9.0.0 when I run SQL queries.

[code]

**To Reproduce**
I am experimenting with SQL query fuzzing. Here is one query that failed:

[code]

[code]

Data files are here - https://github.com/andygrove/sqlfuzz/tree/main/testdata

**Expected behavior**
Should not panic

**Additional context**

[2022-07-12 00:31] andygrove commented on #2866
Thanks for raising this @kmitchener. The docs for the Python bindings should absolutely be in the repo that contains the python bindings and not in the core datafusion crate.

This can be accomplished by creating a PR to add the docs in `datafusion-python` and another PR to remove them from `arrow-datafusion`.

[2022-07-12 01:43] liukun4515 commented on #2837
I go through the code about optimizer and simplify expr, and find some codes about constant folding.
I will take more time to look this carefully and give my feedback.

[2022-07-12 15:07] andygrove opened #2879 "Add h2o benchmark"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to make it easier to run h20 benchmarks

**Describe the solution you'd like**
Add h2o bin to benchmark crate

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-07-12 15:14] BaymaxHWY opened #2880 "Doc Error: the test directory link 404 which is in CONTRIBUTING.md"
**Describe the bug**
the test directory link 404 in `Rust Integration Tests` section

**To Reproduce**
Steps to reproduce the behavior: click

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-07-12 15:46] #2796 closed

[2022-07-12 15:51] andygrove opened #2883 "Add support for `TIME` literal values"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We have support for `DATE` literals:

[code]

However, we do not have support for `TIME` literals:
[code]

**Describe the solution you'd like**
Add support for `TIME` literal

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-07-12 17:06] andygrove commented on #2883
Depends on https://github.com/apache/arrow-rs/issues/2053

[2022-07-12 19:42] avantgardnerio opened #2886 "It would be nice to have a way to generate unique IDs in optimizer rules"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When writing optimizer rules, it is sometime necessary to generate things like aliases which must have unique names. Currently, there is no mutable context in which this can be done, so the only possibility is to use something like a UUID, which is both not easy to read and not deterministic

[2022-07-12 19:55] andygrove opened #2888 "`filter_push_down` panics on semi/anti join with join filters"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Since merging https://github.com/apache/arrow-datafusion/commit/ae6dab0d161ba889ae97a304172f06576614aa48 we support join filters on semi/anti joins, although this won't be exposed to end-users until https://github.com/apache/arrow-datafusion/pull/2885 is merged.

The following code is not corr

[2022-07-12 20:43] avantgardnerio opened #2889 "JSON version of `display_indent()`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A significant portion of my time on #2885 was spent manually formatting subqueries like:

[code]

into

[code]

because the indents aren't trustworthy when subqueries are taken into account.

Also, I've had a hard time writing unit tests for optimizers because building them programmatically i

[2022-07-12 20:45] avantgardnerio commented on #2889
As a potential implementation option, we could use something like https://docs.serde.rs/serde_json/ with our existing visitor pattern. I know some folks are reticent to add dependencies though, so I thought I would open this up for discussion. I'm after the ends, the means I'm flexible on.

[2022-07-12 21:00] andygrove commented on #2879
Related to https://github.com/apache/arrow-datafusion/issues/147

fyi @Dandandan @matthewmturner

[2022-07-12 21:57] andygrove opened #2890 "Inconsistent type coercion rules with comparison expressions"
**Describe the bug**
I have a table with an int32 and a string column.

[code]

I can compare them with `=` and `!=` and an implicit cast gets added, casting the int to a string.

[code]

The explain for the `=` query shows `CAST(c3@0 AS Utf8) = c4@1`.

Note that Spark would cast the string to an int and not the int to a string, so I'm not sure if we are doing the right thing here.

If I use other

[2022-07-12 23:11] andygrove commented on #2890
Postgres doe not add implicit casts in any of these cases:

[code]

[2022-07-13 00:31] andygrove commented on #2890
@alamb DataFusion is inconsistent with itself as to when it adds implicit conversions or not. I think it would be better to not have implicit conversions at all and keep everything explicit, and this seems to be Postgres' approach as well (and the opposite of Spark). What is your opinion on this?

[2022-07-13 02:49] #2886 closed

[2022-07-13 06:16] liurenjie1024 commented on #2633
@andygrove  @alamb PTAL when you are available.

[2022-07-13 06:59] AssHero opened #2894 "The explain statements only print logical plans for debug/other purpose."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, some logical plans/expressions are not supported in physical, and the explain statements does not work.

Add options or SQL grammers to make explain statements print only logical plans for debug/other purpose.

**Describe the solution you'd like**
A clear and concise description of

[2022-07-13 10:59] alamb commented on #2890
@andygrove

I think implict type conversions are needed to do many arithmetic operations (e.g. adding a float to a integer) and that postgres does add implicit type conversions. For example:

[code]

Postgres also seems to add conversions from integers to string for certain operations

[code]

However interestingly it does not seem to try and coerce constants:

[code]

I suspect postgres doesn't

[2022-07-13 11:00] alamb commented on #2890
But in general I agree that the type coercion in DataFusion could be improved and is likely not self consistent

[2022-07-13 12:56] andygrove opened #2896 "serde_json requires that either `std` (default) or `alloc` feature is enabled"
**Describe the bug**
I have recently been running into the error `serde_json requires that either ``std`` (default) or ``alloc`` feature is enabled` in CLion when working on DataFusion, or on projects that depend on DataFusion. This happens when attempting to run unit tests.

**To Reproduce**
I don't know if this is something specific to my environment or a more general issue.

**Expected behavior

[2022-07-13 13:13] jdye64 opened #2897 "Atan2 added to built-in functions"
**Describe the solution you'd like**
Postgres has the built-in function `Atan2` which returns the arctangent of the specified x and y coordinates. While `Atan` is currently present in DataFusion, `Atan2` is not included in the list of built-in functions.

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-07-13 13:56] andygrove opened #2898 "Improve formatting of logical plans containing subquery expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
When we implemented subqueries in the logical plan, we did not update the display logic, and the plans are hard to read because the indentation is not correct.

**Describe the solution you'd like**
Fix the formatting. Here is a proposal:

[code]

**Describe alternatives you've considered**
Non

[2022-07-13 14:09] andygrove commented on #2896
My workaround locally is to add `serde_json = "1.0.82"` to `datafusion/common/Cargo.toml`

[2022-07-13 14:09] andygrove commented on #2896
@alamb fyi

[2022-07-13 20:01] alamb commented on #2633
Hi @liurenjie1024  -- I'll try and find some time this weekend to review this

[2022-07-13 20:06] alamb commented on #2896
Weird... I don't see this but then I don't use CLion / VSCode (I use emacs and tend to run the tests via `cargo run`)

Do we know what `cargo` command CLion is running underneath (aka can we reproduce this error outside of those IDEs?)

[2022-07-13 20:13] #2898 closed

[2022-07-13 20:57] #2879 closed

[2022-07-13 21:06] andygrove opened #2902 "Consider adding DataFusion to ClickBench benchmarks"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
New benchmark suite! https://github.com/ClickHouse/ClickBench/

**Describe the solution you'd like**
Would be interesting to see how we compare

**Describe alternatives you've considered**
None

**Additional context**
None