[2022-01-14 12:15] jon-chuang commented on #1221
@yjshen thanks for your questions

yes.
yes and failure recovery at worker and node level. We also have a worker monitoring dashboard with basic resource utilization info.
we do not have robust tracing tools yet, but it is planned. As for scheduling, it does not currently take into account global information like straggling in an execution DAG and try to prioritize bottlenecked tasks. However, we

[2022-01-14 15:34] yjshen opened #1565 "Consolidate various configurations"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We currently have three Configurations: `ExecutionConfig`, `PhysicalPlanConfig` and `RuntimeConfig`. They all share `batch_size`, which is only meaningful for query execution.

As we get `RuntimeEnv` plumbing through all `execute()` methods, we've got `RuntimeConfig` available to all executin

[2022-01-14 18:13] jorgecarleitao commented on #1532
I would like to thank all of you have have been working on the PR, and also to all of those that already gave it a spin. Incredibly humbled and thankful for it.

@tusvold, thanks a lot for raising these concerns, much appreciated and valid.

I agree with you that batch control is useful to avoid a very large memory footprint. I have added it [as an issue on arrow2](https://github.com/jorgecarleita

[2022-01-14 18:37] tustvold commented on #1532
I believe Andrew intends to start a separate discussion about how to unify development effort around arrow2 and arrow-rs and this particular discussion is probably better had there. Apologies for derailing this thread, I appreciate that not everyone may share the perspective that they are the same issue.

[2022-01-14 19:08] alamb commented on #1532
I have filed https://github.com/apache/arrow-rs/issues/1176  for a discussion on what should we do with arrow / arrow2 if datafusion switched to using arrow2.

FWIW I think the decision to switch datafusion or not should be made independently (based on whatever is best for DataFusion) but the switch I think would have major implications for arrow / arrow2

[2022-01-14 19:44] hntd187 commented on #1544
We can add that to the design if we have to implement it. We maybe able to be dumb about it in the meantime.

[code]

Based on my awful awful base implementation this gets data back. Hooking this up has taken me into the depths of DF more than I hoped, I don't know if outside of a custom DataFrame impl this would be possible in a contrib module. I guess the struggle I am facing here is it seems li

[2022-01-14 21:02] andygrove commented on #1532
:100:

:100:

I am not currently actively involved in development with DataFusion, but if I were, I would be offering to help with the transition to arrow2.

Now that a PR is up to move to arrow2 I will at least try and help with some testing and benchmarking. I am really excited to see this happening. :heart_eyes:

[2022-01-14 23:34] Igosuki commented on #1544
There is prior art, the simplest of which is Kafka streams, but you can also look at materialize.

As for the issue here, I don't understand the issue ? If you want to communicate between async tasks, use channels.

Streaming operations are typically of a different kind, all common operations require a specific implementation to be able to be distributed and partitioned according to a topology
Agg

[2022-01-15 06:39] houqp commented on #1544
If this is not clear from the get go, you can also complete the PoC within datafusion and then we can look at the diff together to see which part should be factored out into extensions.

I am also not following the question here. The `SendableRecordBatchStream` returned from `execute_stream` should be able to represent a never ending stream. Do you have a more concrete example of what you are tryi

[2022-01-15 08:11] selvavm commented on #1536
Hi @houqp. Sorry for delay in response.

I have created a minimum example which reproduce the problem. It is [here](https://github.com/apache/arrow-datafusion/files/7874537/sample_share.zip)

**Expected Result**
|id|
| -------------|
|1|
|2|

**Actual Result**
++
++

[2022-01-15 08:14] hntd187 commented on #1544
I think I may have just confused myself thinking while I was writing the original post, execute stream seems good for now. Sorry for the confusion.

[2022-01-15 11:47] xudong963 commented on #162
When I ran with the latest code, I still got the error
[code]

[2022-01-15 12:04] alamb commented on #587
I have started added a "Progress Tracking" list to the description of this ticket. Please update it with additional items as you discover them.

[2022-01-15 12:04] alamb opened #1568 "Memory Limited Sort (Externalized / Spill)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Support Sorting "arbitrarily" large inputs (that don't fit in RAM or within some user defined budget)

This ticket concerns the memory potentially used the Sort operator -- it doesn't cover other potential targets (e.g. sort based aggregation, for example). That will be covered by other tasks

[2022-01-15 12:13] alamb commented on #1568
cc @yjshen here are some thoughts on the next steps for sorting -- what do you think? Are you planning to do any/all of this? Is there something in particular I could help the most with?

[2022-01-15 12:14] alamb opened #1569 "Track memory usage in Non Limited Operators"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Ensure that physical `ExecutionPlan` nodes properly report their memory usage so DataFusion's can properly stay under its memory budget

**Describe the solution you'd like**
1. Figure out a pattern to make ExecutionPlans be `Tracking` memory consumers (api in https://github.com/apache/arrow-da

[2022-01-15 12:18] alamb opened #1570 "Memory Limited GroupBy (Externalized / Spill)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Support Grouping "arbitrarily" large inputs (e.g. when the group by hash table doesn't fit in RAM or within some user defined budget)

This typically happens when there are a "large" number of distinct groups. For example, with queries like

[code]

When there are large number of groups

This

[2022-01-15 12:51] alamb opened #1571 "Consolidate the `SortExec` code (so there is only a single sort operator that does in memory sorting if it has enough memory budget but then spills to disk if needed)."

[2022-01-15 12:51] alamb opened #1572 "Consolidate the N-way merging code and `SortPreservingMergeStream` (which has quite good tests of what is often quite tricky code, and it will be performance critical)"

[2022-01-15 12:51] alamb opened #1573 "SQL tests for when sorting exceeded available memory and had to spill to disk"

[2022-01-15 13:01] alamb opened #1574 "SQL integration tests named `mod`"
**Describe the bug**
DataFusion has a large library of sql integration tests

They are currently run via

[code]

(Or `cargo test`)

which is quite confusing as the name `mod` is somewhat silly. They used to be run via

[code]

**Expected behavior**
Should run the test like this:
[code]

**Additional context**
I think this came in via https://github.com/apache/arrow-datafusion/pull/1491

[2022-01-15 13:12] yjshen commented on #1572
Thanks @alamb for bringing it up.

I propose using heap-sort for N-way merge, but consolidate all the codes we have now in `in_mem_sort` and `SortPreservingMergeStream(SPMS)` into  SPMS, and remove `in_mem_sort`.

The main reason to use `heap_sort` is to minimize the number of comparisons before emitting each record. Since we have "N" partial ordered parts already, we only need to maintain a heap

[2022-01-15 13:13] yjshen commented on #1572
Also cc @houqp for more minds.

[2022-01-15 13:16] xudong963 opened #1576 "casting `Int64` to `Float64` unsuccessfully caused tpch8 to fail"
**Describe the bug**
During running tpch8, I got the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-01-15 13:23] xudong963 commented on #1576
I've found out why it failed.

let's see query 8, there is `when ... then ... else ...`.
[code]
In datafusion, the following code to process `when ... then ... else ...`
[code]
In query8, 0 is `Int64`, then during casing  to `Float64`, it fails.
[code]

[2022-01-15 13:36] tustvold commented on #1572
SGTM :+1:. This was in fact mentioned on the original PR that added the operator [here](https://github.com/apache/arrow-datafusion/pull/379#discussion_r637948151) and led to the filing of #416.

I would describe the current  `SortPreservingMergeStream` somewhat as an MVP, at the time I did not have a need to support a large number of partitions and so went with simple and stupid. It would be reall

[2022-01-15 14:03] tustvold commented on #1527
Not sure if related, but in IOx we handle this at the query layer with a thing we call [SchemaAdapterStream](https://github.com/influxdata/influxdb_iox/blob/f3f6f335a93d2910a5cc55e12662dfda82143701/query/src/provider/adapter.rs). This is created with an output schema and then inserts null columns into the RecordBatch that pass through it as needed.

There are some IOx-specific details, but I suspe

[2022-01-15 14:07] tustvold commented on #1441
I believe with the update to use arrow 7.0.0 which contains @yordan-pavlov 's fix, this should now be fixed?

[2022-01-15 14:09] tustvold commented on #924
Related https://github.com/influxdata/influxdb_iox/issues/3288

[2022-01-15 14:45] xudong963 commented on #1293
Maybe it's because #1576, not the reason for cross join? But cross Join is really an optimization point, good catch! @houqp

[2022-01-15 15:10] liukun4515 commented on #587
@alamb Maybe we should take the `join` operation into this track.

[2022-01-15 16:30] andygrove opened #1577 "Documentation for running benchmarks with simd support does not work for me"
**Describe the bug**
I tried running this command from https://github.com/apache/arrow-datafusion/tree/master/benchmarks

[code]

It failed with:

[code]

It works fine if I do not specify features.

**To Reproduce**
See above.

**Expected behavior**
Should not fail to compile.

**Additional context**
I am using `rustc 1.58.0 (02072b482 2022-01-11)`

[2022-01-15 17:59] andygrove opened #1578 "Write documentation explaining how to enable metrics"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to see metrics for a query and I don't remember how to do that so I looked in the documentation but could not find any references to metrics, other than in the changelog. I ran `find . -name "*.md" -exec grep -Hi metrics {} \;`.

**Describe the solution you'd like**
Documentation,

[2022-01-15 18:43] alamb commented on #587
It is a good idea @liukun4515  -- I ran out of ambition while typing up Sort and Grouping. I'll try and write up some thoughts on joins later

[2022-01-15 18:45] alamb commented on #1441
Ye that is my understanding -- someone just needs to rerun the (wonderful) reproducer from @franeklubi  to confirm

[2022-01-15 18:47] alamb commented on #1572
Great! @yjshen  added a heap based implementation https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/sorts/in_mem_sort.rs#L60 -- standardizing on that one sounds like a great idea

[2022-01-16 00:56] liukun4515 commented on #587
I'm not familiar with external operations, I will go through other databases to learn it.

[2022-01-16 01:53] yjshen commented on #1568
Thanks @alamb . Let me start from #1572 first. Anyone interested in could drop in then.

[2022-01-16 02:07] yjshen commented on #1572
Thanks @tustvold @alamb.  I'll start from here.

[2022-01-16 06:27] jorgecarleitao opened #1583 "Object store's `sync_reader` should buffer"
Both https://github.com/apache/arrow-datafusion/issues/1363 and https://github.com/apache/arrow-datafusion/pull/1556 's performance regressions are/were driven by `sync_reader` returning `File` instead of `BufReader<File>`, suggesting that it is a confusing API. I also think that there is no practical reason to not buffer a file within Datafusion - my understanding is that not buffering is mostly

[2022-01-16 07:42] houqp opened #1584 "ARROW2: remove clock feature for chrono dependency"
**Describe the bug**

From @jorgecarleitao

We should look into whether we can remove this feature in datafusion. From what I have seen so far, we are only using this feature to get the current system time.

**Additional context**
[Add any other context about the problem here.](https://github.com/apache/arrow-datafusion/pull/1556#discussion_r784523384.)

[2022-01-16 09:00] xudong963 opened #1585 "convert `outer join` to `inner join` to improve performance"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Under certain conditions, convert `outer join` to `inner join` to improve performance.

**Describe the solution you'd like**
During predicate pushdown, if the filter condition (`where`) only references the **non-nullable-side** table, then it can be pushed down. But if the filter condition (`w

[2022-01-16 09:18] xudong963 opened #1586 "datafusion doesn't process predicate pushdown correctly when there is outer join"
**Describe the bug**

Now datafusion doesn't process predicate pushdown correctly when there is `outer join`. I have discussed much in #1339 with @alamb. I think we ended up with a consensus.

Notes that filtering conditions fall into two categories: `join condition` and `where condition`, I'll explain them separately in the following:
1. **join condition**: if the filter condition contains the **

[2022-01-16 09:23] xudong963 commented on #1321
I think the issue can be closed, #1586 is a more wide @alamb

[2022-01-16 12:14] alamb opened #1587 "Proposal: new release of DataFusion?"
I wonder if it is time to release a new version of datafusion to crates.io?

It would be great to crowdsource:
1. Update readme / changelog
2. Update version
2. (maybe) a blog post?

I am happy to handle creating a release candidate / doing the official voting process.

[2022-01-16 12:23] xudong963 commented on #1587
Yeah, I think we can wait for arrow2 related tickets merged into master?
BTW, I can help write a blog!

[2022-01-16 12:24] xudong963 commented on #1586
cc @alamb

[2022-01-16 12:26] #1574 closed

[2022-01-16 12:32] alamb commented on #1587
arrow2 may be a good driver.

I don't have a good sense of how many projects use datafusion from `crates.io` (aka what has been released) vs how many use it via a `github` sha . IOx (my project) [uses the sha](https://github.com/influxdata/influxdb_iox/blob/main/datafusion/Cargo.toml#L12) but I realized that maybe others are waiting for an actual release

[2022-01-16 12:56] alamb commented on #1578
This could perhaps start with showing `EXPLAIN` and then `EXPLAIN ANALYZE` to show the metrics and how to interpret them

[2022-01-16 13:16] alamb commented on #1576
I think it would be most appropriate to have datafusion do the conversion (coercion) in this case, rather than implicitly in arrow.

Perhaps by calling `coerce` https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/type_coercion.rs#L45

[2022-01-16 17:48] jychen7 commented on #1507
I think it is just python. I try following in datafusion-cli and works
[code]
with
[code]

[2022-01-16 19:42] realno commented on #1273
I recently started doing some work around DataFusion and seeing good potential with Ballista to become a candidate of our next-gen analytics engine. At this point I am trying to put in some missing pieces and get it working with some benchmark cases we are using for initial validation. If all goes well the plan is to start a team to help drive this forward. I am really interested in working with a

[2022-01-16 21:36] houqp commented on #1273
This is great news @realno ! Thank you for driving this. I am interested in getting ballista to work with delta tables managed in S3 and potentially use it to replace some of the spark SQL jobs we have at work as a starting point. However, I am also just working on datafusion and ballista in my spare time, so the output is limited.

As for reducing development overhead, ballista currently only dep

[2022-01-16 21:43] houqp commented on #1507
perhaps we should move this issue to the python binding repo then :)

[2022-01-16 22:52] realno commented on #1273
Thanks @houqp for the insight. This is good to hear there are already public APIs in place. And my hope is very aligned with yours that to replace some Spark Jobs at some point :) I will reach out once I have some thing ready for review/discussion, feel free to let me know if anything I can help with too.

[2022-01-17 02:00] liukun4515 commented on #1273
look forward to your proposal.
If you need help or discussion, please feel free to let me know.

[2022-01-17 04:04] liukun4515 opened #1590 "IsDistinctFrom/IsNotDistinctFrom for decimal type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

part of #122
in the #122, we have supported the decimal type in datafusion, but for `IsDistinctFrom、IsNotDistinctFrom` we just convert the value to FLOAT64.

we should follow the mathematics operation for decimal type pull request https://github.com/apache/arrow-datafusion/pull/1483 and refac

[2022-01-17 05:43] houqp opened #1591 "Parquet pruning predicate is not handling null comparisons correctly"
**Describe the bug**

`col = null` expression evaluation throws a runtime error when getting evaluated against statistics array, which resulted in incorrect `true` result when the stats has null count set to 0.

The other problem is `col = null` expression is converted into `col_min <= NULL AND NULL <= col_max` predicate expression. I believe we should be handling null as a special case and return

[2022-01-17 05:52] gaojun2048 opened #1592 "[ballista] Add support show tables and show columns for ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add support show tables and show columns for ballista

**Describe the solution you'd like**
Because tables information is stored and maintained in the ballista context, not in the scheduler. So show tables and show columns do not need to be submitted to scheduler to run, just create datafusion

[2022-01-17 06:15] matthewmturner commented on #1507
Yes that was my plan. Currently away and will make new issue there, with more details, in a few days.

[2022-01-17 06:19] matthewmturner commented on #1273
@realno @liukun4515 do you have any plans for ballista that you think are worth adding to the Q1 roadmap?

[2022-01-17 06:22] matthewmturner commented on #1515
As an update on this, I'm currently away but I plan on submitting PR to include roadmap in README later this week.

[2022-01-17 07:12] hntd187 commented on #1544
I checking my basic PoC work, I have much to do still but for anyone looking to assist or just review.

https://github.com/hntd187/datafusion-streams

[2022-01-17 08:24] xudong963 commented on #1544
If ready, please ping me!

[2022-01-17 09:13] Jimexist commented on #1544
@hntd187 if you want you can transfer that to datafusion-contrib for better visibility.

[2022-01-17 09:21] gaojun2048 opened #1594 "[ballista] Reduce the dependencies between datafusion `function` and ballista proto"
Now if we want to define our own udf/udaf function, we also have to modify the implementation of ballista. Because `ScalarFunction` and `AggregateFunction` are defined as enum in ballista's proto file, and enum is checked when LogicPlan is serialized to proto and proto is deserialized to LogicPlan.

In fact, an optional way is to define `ScalarFunction` and `AggregateFunction` as string type in pr

[2022-01-17 11:11] liukun4515 commented on #1273
@matthewmturner

Sorry for my limited time, Maybe I can be involved in Q2 or later.
In the Q1, I have other things to do, but I will try my best to track this.

[2022-01-17 14:18] alamb commented on #1591
It should be noted that this is an 'optimization' bug rather than a correctness bug  -- in the sense that returning `false` means "don't filter the row group" and returning `true` means "do filter (aka skip) the row group"

[2022-01-17 14:31] alamb commented on #924
@yjshen  started consolidating such config settings in https://github.com/apache/arrow-datafusion/pull/1562

[2022-01-17 14:34] Jimexist opened #1598 "Follow up on the removal of `update` and `merge` in `Accumulator`"
I think it would be a good idea as a follow on PR to update these implementations to avoid the use of ScalarValue.

I'll try find some time this week to do it (I need some coding time :) -- lots of reviewing so far)

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/1582#discussion_r786044972_

[2022-01-17 14:36] alamb commented on #1527
Thanks for the report @capkurmagati  -- I am not sure if your usecase ever worked (in which case it is a bug).

Regardless, as @tustvold  mentions, we basically have the same usecase in IOx where some parquet files have a subset of the unified schema and we pad the remaining columns with NULLs.

This picture might help https://github.com/influxdata/influxdb_iox/blob/f3f6f335a93d2910a5cc55e12662dfd

[2022-01-17 14:39] xudong963 commented on #1576
Thanks @alamb , I'll try it

[2022-01-17 14:44] alamb commented on #162
@xudong963  has filed https://github.com/apache/arrow-datafusion/issues/1576 to track this issue 👍

[2022-01-17 14:46] alamb commented on #1321
closing as a dupe of https://github.com/apache/arrow-datafusion/issues/1586

[2022-01-17 14:47] alamb opened #1599 "Memory Limited Joins (Externalized / Spill)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Support Joining "arbitrarily" large inputs (e.g. when one or both of the inputs don't fit in the available RAM)

This ticket concerns the memory used the `JoinExec` operator -- it doesn't cover other potential targets (e.g. externalized sort or grouping). That will be covered by other tasks tr

[2022-01-17 14:52] hntd187 commented on #1544
Perfect I wasn’t sure what my permissions were I’ll do that right now.

[2022-01-17 15:00] alamb commented on #587
I wrote up some thoughts about externalized joins on https://github.com/apache/arrow-datafusion/issues/1599

[2022-01-17 15:03] alamb commented on #1599
I would love to implement this algorithm in DataFusion:

https://arxiv.org/abs/2010.00152
Sort-based grouping and aggregation
Thanh Do, Goetz Graefe
https://arxiv.org/pdf/2010.00152.pdf

[2022-01-17 15:08] xudong963 commented on #1599
Maybe you can share it at the next meeting 😄

[2022-01-17 15:25] alamb commented on #1273
I think this is very reasonable. I view `datafusion` as a single node, sharable query engine that isn't really designed to be used by itself -- rather it can be used to create systems such as ballista (and [other projects](https://github.com/apache/arrow-datafusion#known-uses))

Having ballista in the same repo as a way to validate datafusion API changes seems valuable to me 👍  and I am happy to h

[2022-01-17 16:13] james727 commented on #1586
I can try this one if no one is working on it yet.

[2022-01-17 16:21] matthewmturner commented on #1273
@alamb Actually I'm quite curious on the point of datafusion not being used standalone.

On my side, my plan was to use datafusion (likely via the Python bindings) until my data size warranted using ballista. I thought it was a nice selling point that I could use the same underlying engine for either single node or distributed compute.

Is having first class support for using datafusion standalone

[2022-01-17 16:44] xudong963 commented on #1586
I believe no one is working on it, please do it! Thanks, @james727

[2022-01-17 18:38] realno commented on #1273
@matthewmturner It is a bit ambitious to answer this question at this moment. My plan is to have a high level proposal first, and I am pretty sure it will be going through a couple of iterations based on community feedback. I think then would be a good time to talk about roadmap and timeline.

[2022-01-17 18:43] matthewmturner commented on #1273
@realno ok! IMHO, I think that even mentioning that a plan is being developed is worth mentioning just so we can show that there are plans for ballista development even if they are just in the planning stage. The alternative makes it look like Ballista isn't getting any focus when that isn't the case.

So if okay with you I can put something like "Putting together design docs, plan, and priorities

[2022-01-18 01:52] #1549 closed

[2022-01-18 02:12] Ted-Jiang commented on #1599
+1 well look forward 😊

[2022-01-18 02:13] Ted-Jiang commented on #1599
+1 well look forward 😊

[2022-01-18 06:54] yjshen commented on #1599
Haha, that's great! I have talked with @houqp about this paper before.

[2022-01-18 14:12] lightjacket opened #1604 "Set-returning UDFs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I'm looking at add an inverted index on my data and use it as the first step in more complicated data transformations. There's particular optimization that I think might be better done outside of the DataFusion engine.

**Describe the solution you'd like**
I'm imagining something like the foll

[2022-01-18 14:27] alamb opened #1605 "Data type Dictionary(Int32, Utf8) not supported for binary operation 'eq' on dyn arrays"
**Describe the bug**
Two dictionary array columns can not be compared with each other (comparisons to a constant do work, however)

**To Reproduce**
[code]

test fails with
[code]

**Expected behavior**

Expected result: test passes

**Additional context**
Add any other context about the problem here.

[2022-01-18 14:42] alamb commented on #1605
The core issue here is that the arrow comparison kernels don't support DictionaryArray comparisons. Likewise, the datafusion dispatch code doesn't support `DictionaryArray` comparisons either.

[2022-01-18 14:44] alamb commented on #1605
The expedient thing to do here is to make datafusion cast DictionaryArray to a StringArray prior to comparison

The longer term thing to do is to properly support DictionaryArray comparisons in the arrow comparison `eq_dyn` and friends, kernels, as @matthewmturner  has done for `eq_dyn_scalar` et. and teach datafusion how to use them.

[2022-01-18 14:57] matthewmturner commented on #1273
@alamb Got it - thanks for clarifying!

[2022-01-18 15:08] Jimexist commented on #1604
@lightjacket in my opinion a better idea is to return a list in one row?

[2022-01-18 15:25] lightjacket commented on #1604
@Jimexist thanks for the suggestion! I did consider that as an alternative but would need to `unnest` the result in order to be able to join against additional tables like so:
Set-returning
[code]
Single row w/ a list
[code]
So if the `unnest` function existed, I would be unblocked. I _think_ if I could create a set-returning UDF I could also implement `unnest` myself as a user and wouldn't need t

[2022-01-18 15:42] Jimexist opened #1608 "implement unnest function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

add `unnest` function that converts the argument into 0 or more rows.
1. the argument has to be of list type
2. the argument can be array literal or an array of list, in which case the expanded rows are unioned together

**Describe the solution you'd like**

similar to https://www.postgresql.

[2022-01-18 15:42] Jimexist commented on #1604
let's add unnest as it is more general:
- https://github.com/apache/arrow-datafusion/issues/1608

[2022-01-18 15:43] lightjacket commented on #1608
This is a duplicate of https://github.com/apache/arrow-datafusion/issues/212

[2022-01-18 15:48] lightjacket commented on #1604
I'd argue that `unnest` is less general (I'd think `unnest` would be a specific implementation of a set-returning UDF), but the `unnest` function certainly solves my use-case so if that's the preference, it certainly works for me. Thank you!

[2022-01-18 16:07] xudong963 commented on #165
The issue can also be closed @alamb

[2022-01-18 16:44] houqp commented on #165
:tada: good work @xudong963 !

[2022-01-18 16:44] #165 closed

[2022-01-18 16:46] alamb commented on #165
Thanks again @xudong963

[2022-01-18 16:50] alamb opened #1609 "Improve `CASE` expr type coercion to be based on its input types"
As we found on #1601, the return type of a `CASE` statement is currently based on the `THEN` clause. One problem with this this logic is that it may cause a cast (e.g.  `float64` to `int`) that loses accuracy.

The goal of this ticket would be to compute the return type of a case statement by applying coercion rules to the various clauses.

@xudong963 found that Postgres' behavior is  reasonable:

[2022-01-18 17:26] alamb opened #1610 "Switch datafusion to using `eq_dyn_scalar`, etc kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would (primarily) like DataFusion to stop unpacking `DictionaryArray`s when comparing to scalar values. It would also be nice to reduce the amount of type dispatch in the datafusion `BinaryExpr` physical expression

@matthewmturner  has implemented `eq_dyn_scalar` kernels (which among other

[2022-01-18 17:27] #1592 closed

[2022-01-18 18:49] matthewmturner commented on #1610
I'll give this a shot

[2022-01-18 20:13] alamb commented on #1610
@matthewmturner  note you'll likely hit some types that datafusion covers that arrow does not (yet) such as `Decimal`

[2022-01-19 03:10] yjshen opened #1611 "Report `spill_count` as well as `spill_bytes` in sort metrics"
It would be neat to add spilled bytes to the metrics reported by ExternalSorter so that they appeared in EXPLAIN ANALYZE, for example.

[2022-01-19 03:12] realno commented on #1486
I have a update/question for this issue: `stddev` and `corr` have merged few days ago. I took a look at `median` today and had an initial idea how to implement it. Now the problem is the implementation might be somewhat controversial.

There are some operations needed to calculate median: 1. sort 2. count 3. get nth value. I thought about few options:
1. Implement a new function/operator - the fun

[2022-01-19 03:13] yjshen commented on #1568
Add https://github.com/apache/arrow-datafusion/issues/1611 to tracking spills in sort metrics.

[2022-01-19 05:05] emkornfield commented on #1532
Cross-posting related mailing list discussion: https://lists.apache.org/thread/dsyks2ylbonhs8ngnx6529dzfyfdjjzo

[2022-01-19 11:59] alamb opened #1612 "LogicalPlan Optimizer: Push `<col> = <col>` predicates into Joins, if possible"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We want to bring some extra performance for certain predicates to the dataframe API users as well.

Logically, a sql query like `SELECT * from A, B where A.a = B.b` can be planned as a cross join and filter:

[code]

Almost no database actually does this because of how expensive a CROSS join i

[2022-01-19 12:23] alamb opened #1613 "Remove redundant`is_numeric` and other checks for DataType"
`arrow-rs` has some functions to check data type, and the logic is also in datafusion, for example, https://docs.rs/arrow/7.0.0/arrow/datatypes/enum.DataType.html#method.is_numeric

We should reduce the redundancy in DataFusion to make the codebase clear.

_Originally posted by @liukun4515 in https://github.com/apache/arrow-datafusion/pull/1606#discussion_r787306626_

[2022-01-19 13:10] tustvold opened #1614 "Remove Sync from SendableRecordBatchStream"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently `SendableRecordBatchStream` imposes `Sync` constraints.

[code]

This is unfortunate as not all streams have Sync bounds, furthermore it is unclear why `Sync` is particularly useful for a stream.

A type is `Sync` if a reference to it can be shared across multiple threads, as oppose

[2022-01-19 13:39] #1605 closed

[2022-01-19 15:34] matthewmturner commented on #1515
Working on PR for this now.

[2022-01-19 17:13] matthewmturner commented on #1486
@realno you can take this with a grain of salt as I am new to this.

My thinking is that I would prefer to see the exact median implementation before having an approximate (i.e the approximate would be an add-on feature).  I could be wrong but I believe datafusion had `DISTINCT` before `approx_distinct`.

Regarding the implementation - I thought that we would be able to use existing arrow compute

[2022-01-19 18:21] matthewmturner commented on #1610
@alamb ive been looking through the existing code and im a bit confused.  specifically, when looking at the below, it seems the array + scalar ops are not using the scalar arrow kernels.  is my understanding correct?  if so, could you provide color on that and if we should be moving to use those?

https://github.com/apache/arrow-datafusion/blob/ad392fd529f9f8631b90271f7dbf3a4f2feadb7b/datafusion/s

[2022-01-19 19:32] realno commented on #1486
Thanks for the comments @matthewmturner . I am also new and wouldn't call myself database internal expert :) Yes we have all the functionality ready, the complication is what's the best/most efficient way to implement this. I definitely want to hear more opinions on this.

Do you think it worth having a approximation to unblock the perf benchmark work?

[2022-01-19 20:38] #1540 closed

[2022-01-19 21:03] alamb commented on #1610
`binary_array_op_scalar!` calls `compute_op_scalar!` https://github.com/apache/arrow-datafusion/blob/ad392fd529f9f8631b90271f7dbf3a4f2feadb7b/datafusion/src/physical_plan/expressions/binary.rs#L595-L601

`compute_op_scalar!` then calls the `eq_scalar` or other kernel in https://github.com/apache/arrow-datafusion/blob/ad392fd529f9f8631b90271f7dbf3a4f2feadb7b/datafusion/src/physical_plan/expressions

[2022-01-19 21:06] matthewmturner commented on #1610
@alamb ah yes i did trace that all the way back but didnt realize that `paste::expr! {[<$OP _scalar>]}` was doing that. thank you for the explanation.

[2022-01-19 21:18] alamb commented on #1486
(we should probably bring this discussion into a new ticket, FWIW)

TLDR is I think `median` is quite complicated to get both correct and high performance.

The key problem is that you basically need to have buffered the entire input stream before you know what the output is

Starting with an approximation of median would be fine and I suspect other users of DataFusion would find it valuable.

To

[2022-01-19 21:28] matthewmturner commented on #1610
@alamb  I'm wondering if we could just remove `compute_op_scalar` macro (and friends) and use the dyn kernels at the call site in `evaluate_array_scalar`.  This would also get us very close to being able to remove the `paste` dependency which i believe is only used in this `binary.rs` file.  The remaining place its used that i would still need to look into is the macro `compute_utf8_flag_op_scalar

[2022-01-19 21:30] jorgecarleitao commented on #1486
In principle we could aggregate the partials via a `ListArray<i32, PrimitiveArray<T>>`, and merge them by concatenating the results on a single `PrimitiveArray<T>` per group (and then compute the aggregate that requires all results in the `finish`).

But I agree that the majority of cases we want an online estimate.

[2022-01-19 21:56] alamb commented on #1610
I think this is a good avenue to try -- my suspicion is you won't be able to remove the `compute_op_scalar` quite yet because it is used for kernels that don't have a scalar equivalent yet (e.g. `plus`, etc)

[2022-01-19 23:38] pjmore commented on #1612
[This](https://github.com/pjmore/arrow-datafusion/blob/1acd0869ed1881577018ba3a4654a48fcf7a77bb/datafusion/src/optimizer/cross_join_elimination.rs) might make a good jumping off point. I'm pretty sure that one of the matches on the Eq operator `find_join_and_replace_join_keys_rec`  is wrong though.

[2022-01-19 23:54] realno commented on #1486
Let me move the conversation to a new issue. I agree with @jorgecarleitao that we could introduce an API in addition to current Aggregator to provide the functionality - the current `sort` actually does exactly that. And to @alamb 's point performance and memory consumption would be an issue,  we may need to handle spilling to disk. As said, I'll create a new issue for this.

For the sake of this

[2022-01-20 00:11] matthewmturner commented on #1486
@realno practically, yes definitely okay with approximate version.

Within the context of performance benchmark my only concern is that we are able to produce the expected results.  For example, i see clickhouse uses `medianExact` (https://h2oai.github.io/db-benchmark/).  It would be nice if there was a way to test and see if this would give the expected result in the benchmarking context. But, at

[2022-01-20 02:15] jychen7 commented on #1507
Actually the problem is neither `datafusion` or `pydatafusion`, just different expection.

`datafusion` allow duplicate columns in `ans`, but `pydatafusion` will raise error when `create_dataframe` when input columns are duplicated.
e.g. `select x.c2, y.c2 from x join y using (c1) limit 1` shows
[code]

1. I test in MySQL 5.6 and PostgreSQL 9.6, they also show duplicate column names in output, e.g

[2022-01-20 06:50] yjshen commented on #1573
Currently, #1596 has one SQL test on spill called `test_sort_spill` that spills during the test by controlling the total memory of the pool.

https://github.com/apache/arrow-datafusion/blob/6a458c67b5d11cf9dfa09281289c4d2da9484a2d/datafusion/src/physical_plan/sorts/sort.rs#L739-L765

However, since spill metrics are not exposed by sort yet, the current test cannot assert spill count > 0. Do you th

[2022-01-20 07:21] #1594 closed

[2022-01-20 08:24] pjmore commented on #1488
It looks like the type inference issues are caused by some numbers in scientific notation:
[code]

[2022-01-20 10:13] liukun4515 commented on #1488
maybe arrow-rs can't handle this situation.

[2022-01-20 11:33] FauxFaux opened #1619 "Support for BitwiseAnd `&`, BitOr `|` binary operators"
My parquet file contains a bitpacked `flags` (i32, but pretend it's u32). The 2nd bit in `flags` indicates whether the record is a potato or not. I would like to be able to access this from SQL.

**Describe the solution you'd like**
I think, in SQL, this would look like:

I'd also be happy with it having a boolean output:

These operators (but not the binary literals) parse, but cannot be planned:

[2022-01-20 14:51] james727 opened #1620 "Include join type in display implementation for logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Right now when printing a logical plan with a join there is no indication of the type of join involved. For example, the following can represent any one of a left/right/inner/full join:
[code]

**Describe the solution you'd like**
Update `display` to include the `JoinType`.

**Additional conte

[2022-01-20 19:53] #1323 closed

[2022-01-20 20:18] james727 commented on #1585
@xudong963 I'd like to pick this up once https://github.com/apache/arrow-datafusion/pull/1618 is (hopefully) eventually merged. Question re: implementation - do you think this should be a separate optimizer pass or something else?

Apologies in advance if this is all obvious - the reason I ask is that it seems that this rule benefits from filter pushdown occurring both before and after the join re

[2022-01-20 21:02] alamb opened #1623 "Error `Unexpected accumulator state List([NULL])` in `COUNT(distinct ..)` query"
**Describe the bug**
A query returns this error:

[code]

**To Reproduce**
Download and extract [data.zip](https://github.com/apache/arrow-datafusion/files/7908494/data.zip)

[code]
**Expected behavior**
A result

**Additional context**
@matthewmturner  and @jhorstmann  helped me discover this as part of the Rust syncup today 🤣

[2022-01-20 21:08] #1515 closed

[2022-01-21 03:18] liukun4515 commented on #1619
|  & | Binary AND Operator copies a bit to the result if it exists in both operands.                                             |                            (A & B) will give 12 which is 0000 1100                           |
|:--:|---------------------------------------------------------------------------------------------------------------------------|:-------------------------------------------

[2022-01-21 03:36] liukun4515 commented on #1619
If you want to take this task, it's better to give a plan for implementation.
@FauxFaux

[2022-01-21 03:37] #1293 closed

[2022-01-21 04:46] matthewmturner commented on #1507
@jychen7 thank you for the analysis.  i am going to look into this more tomorrow.

[2022-01-21 06:13] #1017 closed

[2022-01-21 06:40] houqp commented on #1585
My opinion is it would be cleaner to manage it as a separate rule because join rewrite is not really related to predicate pushdowns.

I think we have a guiding rule that plan optimization run should be agnostic to the order of plan rules defined in `context.rs`. Perhaps now is the time for us to introduce a convergent optimization loop?

[2022-01-21 06:46] houqp commented on #1620
Good idea :+1:

[2022-01-21 07:17] #1591 closed

[2022-01-21 09:54] jhorstmann commented on #1570
For hash aggregation I quite like the implementation described in https://dl.acm.org/doi/pdf/10.1145/2588555.2610507 (4.4). The algorithm there optimizes for cache locality by pre-aggregating into fixed-size thread-local hash tables and then overflowing into main memory partitions, but I think it should be easy to extend with also flushing these partitions to disk if they get too large.

[2022-01-21 14:45] #1571 closed

[2022-01-21 14:46] alamb commented on #1573
I think adding those metrics to BaselineMetrics makes sense to me @yjshen

[2022-01-21 14:56] alamb opened #1633 "(Left Over?) pyarrow does not compile"
**Describe the bug**
I am not sure this is a bug but I was surprised that datafusion still had an optional py03 dependency: https://github.com/apache/arrow-datafusion/pull/1627

There are some python bindings in datafusion: https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/pyarrow.rs#L28

The code came in via #873 from @kszucs

Given the datafusion python bindings live in https

[2022-01-21 15:22] kszucs commented on #1633
@alamb it is actually required for the python bindings.

We cannot implement this in the python repository since both the trait and type would be foreign then. Sadly by moving the python bindings to another repository this module hasn't been tested anymore.

[2022-01-21 15:28] #1633 closed

[2022-01-21 15:31] alamb commented on #1633
We can at least add a test for the module in CI to ensure it doesn't get broken. I'll do that

[2022-01-21 15:34] alamb opened #1635 "Add a test for the `pyarrow` feature in CI"
The `pyarrow` module is used in the python bindings

However, it isn't tested by CI anymore (after we moved the python bindings to their own repo):

So this test fails:
[code]

We should add a CI check  to ensure we can continue to compile datafusion with the `pyarrow` feature

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/issues/1633#issuecomment-1018614904_

[2022-01-21 15:35] alamb commented on #1633
Filed https://github.com/apache/arrow-datafusion/issues/1635 to track adding a test to CI

[2022-01-21 16:25] xudong963 commented on #1585
Sorry for the delay @james727  -- I agree with @houqp. We can manage a separate rule for join rewrite. In the future, I think we can introduce more join rewrite rules.

[2022-01-21 16:28] xudong963 commented on #1585
Could you explain more specifically about the `convergent optimization loop` or open an issue? 😁

[2022-01-21 16:59] tustvold opened #1636 "Provide RuntimeEnv to ExecutionContext"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

https://github.com/apache/arrow-datafusion/pull/1526 added a MemoryManager along with the concept of a RuntimeEnv, this is awesome. Unfortunately `ExecutionContext::new()` and `ExecutionContext::with_config` call `RuntimeEnv::new()`, which in turn creates a new `MemoryManager` and `DiskManage

[2022-01-21 17:04] matthewmturner commented on #1610
@alamb im not sure we can remove the type dispatch in `binary_primitive_array_op_scalar` since its used for other operations such as add / multiply / etc.  `binary_array_op_scalar` is used for all the operators we added `xx_dyn_scalar` kernels for as it handles primitive, utf8, decimal, timestamps, dates, etc.  It's my understanding that that is actually the macro that will need to be updated (or

[2022-01-21 17:05] tustvold opened #1637 "DiskManager Performs Blocking IO"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

DiskManager performs potentially blocking file IO despite most likely being called from a tokio worker thread. This is unfortunate, as it may stall out a worker thread.

**Describe the solution you'd like**

DiskManager should make use of `tokio::fs::File` or `tokio::spawn_blocking` to avoid

[2022-01-21 18:09] alamb commented on #1637
Added as a worklist item on https://github.com/apache/arrow-datafusion/issues/587

[2022-01-21 18:10] alamb commented on #1636
Being able to do something like

[code]

makes a lot of sense to me

[2022-01-21 18:11] alamb commented on #1598
Basically the idea here would be to rewrite the implementations that use `ScalarValue` to directly use the appriate arrow compute kernels: https://docs.rs/arrow/7.0.0/arrow/compute/index.html

[2022-01-21 18:12] alamb commented on #1613
This is a good one -- just delete some code from DataFusion 👍

[2022-01-21 18:12] alamb commented on #1614
This would be an API breaking change, but seems reasonable to me.

[2022-01-21 18:13] alamb commented on #1614
This is basically a code refactoring task -- it would require getting friendly with the rust compiler but not need knowledge of DataFusion

[2022-01-21 18:17] alamb commented on #1619
I think this would be a fairly straightforward task of adding `Operator::BitWiseAnd`, and then plumbing it through the planner, starting here

https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/sql/planner.rs#L1252

[2022-01-21 18:17] alamb commented on #1619
This is a good project for anyone who wants to learn how operators are implemented in DataFusion

[2022-01-21 18:30] alamb commented on #1610
Yes I think that makes sense to me.

I think they key outcome of this PR should be that `eq_dyn_scalar` etc are called, rather than any particular macros are removed from DataFusion's code. Overtime we can look to remove / simplify macros as the kernels in arrow get more full fetaures, but it doesn't have to happen now

[2022-01-21 19:08] matthewmturner commented on #1507
Im at odds here as to what expected behavior should be.  The point you mentioned "All bare column field names MUST not contain relation/table qualifier." in https://arrow.apache.org/datafusion/specification/output-field-name-semantic.html seems to prevent creating dataframe from output of something like `SELECT * FROM x JOIN y on x.id1 = y.id1` - which i think we should be able to do.

@houqp do y

[2022-01-22 02:03] liukun4515 commented on #1619
I can take some tasks of this issue if you have a plan to implement it.

[2022-01-22 11:37] alamb opened #1642 "Allow use of `?` to return `DataFusionError`s in methods that return`ArrowErrors`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Improve DataFusion error conversions

Now that @matthewmturner  made a DataFusionError::External https://github.com/apache/arrow-datafusion/pull/1541 , the story for converting back and forth to ArrowErrors is much better ❤️

However, I really want to be able to use `?` in functions that retur

[2022-01-22 12:00] alamb opened #1644 "Remove non idomatic DataFusionError::into_arrow_external_error in favor of `From` conversion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The way to convert `DataFusionError` into an `ArrowError` is confusing for Rust programmers coming to the DataFusion codebase and makes our codebase a bit of a mess
[code]
They typically expect a `impl From<..>` conversion trait

**Describe the solution you'd like**
Once https://github.com/apa

[2022-01-22 12:04] alamb opened #1646 "Consolidate Schema and RecordBatch projection #1638"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
@hntd187  added `RecordBatch::project` and `Schema::project` in https://github.com/apache/arrow-rs/pull/1033, which among other thing correctly handle metadata and they make the code cleaner

**Describe the solution you'd like**
Use `RecordBatch::project` and `Schema::project` in DataFusion wh

[2022-01-22 12:51] #1611 closed

[2022-01-22 20:14] #1642 closed

[2022-01-23 00:28] andygrove opened #1648 "Cannot query parquet files generated by Apache Spark from datafusion-cli"
**Describe the bug**

I have a data set created by Apache Spark and I tried to query it from the DataFusion CLI. It failed, saying that a parquet file was corrupt.

[code]

I added some debug logging and found that it was actually trying to read the following file, which is not a Parquet file.

[code]

**To Reproduce**
Create a non-Parquet file with a non-Parquet extension and put it in a director

[2022-01-23 02:11] yjshen commented on #1636
Thanks for the detailed explanation of the use case in Influx, haven't thought of it before. I think it would be great to have this.

[2022-01-23 06:51] houqp commented on #1648
This is because we are not providing file extension as search suffix in https://github.com/apache/arrow-datafusion/blob/9c5ccae240ce38b084128e8d7ff0752d0e2318a6/datafusion/src/execution/context.rs#L232

I think the right behavior should be providing a default extension suffix and let user override if they are using something different.

[2022-01-23 06:52] #700 closed

[2022-01-23 06:52] #1221 closed

[2022-01-23 13:31] yjshen commented on #1573
@alamb, I think this one can be closed. Solved in #1641.

[2022-01-23 13:34] #132 closed

[2022-01-23 13:37] alamb opened #1651 "Panic/dropped data when reading parquet files with incompatible shemas"
@thinkharderdev added the ability to read from multiple parquet files that have different schemas in https://github.com/apache/arrow-datafusion/pull/1622

However, if some of the files have "incompatible" schemas (e.g. a different type), the data can be ignored from that file.

Expected behavior would be to have the plan actually return an error rather than silently ignored.

_Originally posted by

[2022-01-23 13:52] Ted-Jiang commented on #1648
@houqp plz assign this to me 😊.

[2022-01-23 16:34] andygrove commented on #1648
It would also be nice if the error message could include the name of the file that is corrupt to make these issues easier to debug

[2022-01-23 19:14] #1646 closed

[2022-01-24 00:47] houqp commented on #1061
Thanks @Igosuki for all your work on Avro :)

[2022-01-24 00:47] #1061 closed

[2022-01-24 00:50] houqp commented on #1057
this test has already been reenabled in arrow2 branch.

[2022-01-24 00:50] #1057 closed

[2022-01-24 01:09] houqp opened #1652 "ARROW2: Performance benchmark"
Perform thorough testing to make sure the arrow2 branch will indeed result in better performance across the board.

Please give https://github.com/apache/arrow-datafusion/tree/arrow2 a try for your workloads and report any regression you find here.

[2022-01-24 01:10] houqp commented on #1652
Here are some of the TPCH results I got from running our tpch benchmark suite on an 8 cores x86-64 Linux machine.

The base commit from I used as baseline for arrow-rs is 2008b1dc06d5030f572634c7f8f2ba48562fa636. The commit for arrow2 is c0c9c7231f9c5685fda5fc9294fdc1711384b6fb.

Default single partition CSV files generated from our [tpch gen script](https://github.com/apache/arrow-datafusion/blob

[2022-01-24 02:57] matthewmturner commented on #147
As an update here the maintainer of the DB-Benchmark repo has left H2O-AI so directed me to reach out to their support team for assistance.  I have raised a ticket and will provide update here as it comes.

[2022-01-24 04:30] gaojun2048 opened #1654 "[bug] ballista task will stuck when the referenced_task is Failed"
**Describe the bug**
A task is never run when its referenced_task tasks fail. And the job never to run completion(fail or completion).

**To Reproduce**

I added a test and the job's never run to completion now.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-01-24 04:51] houqp opened #1656 "ARROW2: Implement RecordBatch within Datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

If https://github.com/apache/arrow-datafusion/issues/1248 gets resolved first, then we can close this issue. Otherwise, we need to implement RecordBatch abstraction within datafusion since it was removed in arrow2.

**Describe the solution you'd like**

Make arrow2 branch work with latest rel

[2022-01-24 04:55] houqp opened #1657 "ARROW2: Optimize parquet read memory usage"
**Describe the bug**

First reported by @ic4y at https://github.com/apache/arrow-datafusion/pull/1556#issuecomment-1012809108.

This is also causing TPCH q7 benchmark to fail due to OOM in  https://github.com/apache/arrow-datafusion/issues/1652#issuecomment-1019622028.

**To Reproduce**

Compare peak memory usage between https://github.com/apache/arrow-datafusion/commit/2008b1dc06d5030f572634c7f8f

[2022-01-24 05:57] gaojun2048 opened #1658 "[ballista] Add more datatype to proto"
Some datatype in datafusion is not added to ballista proto now.

- Decimal128
- Date64
- TimestampSecond
- TimestampMillisecond
- IntervalYearMonth
- IntervalDayTime

These are the ones that I think are more commonly used and may need to be added to proto.

[2022-01-24 07:32] houqp commented on #1507
@matthewmturner this is indeed expected behavior. If you need to create a dataframe from record batches, you need to explicitly create aliases to make sure all output field names are unique. Postgres behave the same way as well, see this subquery as an example: http://sqlfiddle.com/#!17/bf2fd/26130.

@jychen7 , SQL queries only returns record batches, which doesn't have the concept of column quali

[2022-01-24 07:35] yjshen commented on #1569
I want to propose adding a new kind of Metric: `Gauge`, which is much like the current `Count` but provide two extra methods `sub` and `set`:

[code]

And by adding `CurrentMemoryUsage(Gauge)` to `BaselineMetrics`, we could achieve the goal of memory tracking more easily.

Besides, a `MaxMemoryUsage(Gauge)` could be used, providing more configuration optimization info to users.

cc @alamb @houqp f

[2022-01-24 07:44] houqp commented on #1569
Yeah makes sense to me, i am actually surprised we don't have gauge type already. Do we really need the `add` and `sub` method? I was under the impression that you almost always call `set` on guage type metrics directly.

[2022-01-24 08:18] yjshen commented on #1569
`add` will be helpful for `ConsumerType::Requesting` since we are growing memory usage each time we acquire. I haven't thought of a use case for `sub` yet. Maybe leave that until we see the need.

[2022-01-24 09:12] hengaini2055 opened #1661 "thread 'tokio-runtime-worker' panicked at 'not implemented: Take not supported for data type Decimal(18, 4)"
**Describe the bug**
I use datafusion-cli using sql. When I select sum(amount) as amount from my_table; , then everything is OK. When I use sql "select dept, sum(amount) as amount from my_table group by dept;', I get the error:

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any ot

[2022-01-24 09:14] hengaini2055 commented on #1661
My parquet file has a decimal(18,4) column named amount.  The exact error is
[code]

[2022-01-24 09:18] hengaini2055 commented on #1661
The parquet file is exported using odbc2parquet tool from SQLServer Database.
[code]

[2022-01-24 09:43] Ted-Jiang opened #1662 "Need clean up intermediate data in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We need to check whether the states saved in the sled is consumed by UI or not.
if not consumed by UI, we can clean the job/task data when the SQL is finished.

If they are consumed by UI, we can choose either LRU based policy like Spark or time based eviction policy.

Regarding shuffle files,

[2022-01-24 09:54] tustvold commented on #1652
Big :+1: to this, getting some concrete numbers would be really nice.

FWIW some ideas for whoever picks this up that I at least would be very interested in:

* Performance against current arrow-rs master, a number of non-trivial performance improvements have landed in the last month, with more currently in progress

* Performance of floating point aggregates, I seem to remember all the TPCH queri

[2022-01-24 10:08] Ted-Jiang commented on #1405
@Dandandan Sorry for forgot add close tag in pr, please close this issue.

[2022-01-24 10:40] #1405 closed

[2022-01-24 12:01] alamb commented on #1652
A number of the performance improvements will be in arrow-rs 8.0.0, though some such as https://github.com/apache/arrow-rs/pull/1180 will not be released until arrow-rs 9.0.0

[2022-01-24 12:06] #1644 closed

[2022-01-24 13:43] alamb commented on #1661
This will likely be fixed as soon as we can upgrade to arrow 8.0.0 (due to be released today): https://github.com/apache/arrow-rs/pull/1172

Sorry for the delay

cc @liukun4515

[2022-01-24 14:18] alamb commented on #1636
I plan to work on this issue, with respect to https://github.com/influxdata/influxdb_iox/issues/3507

[2022-01-24 14:51] xudong963 opened #1666 "Update `clap` version to 3.0.12"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
see https://github.com/apache/arrow-datafusion/pull/1632

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
Changes related to the Ballista configuration are involved, so you may need to know about Ball

[2022-01-24 14:57] capkurmagati commented on #1527
@tustvold @alamb Thanks for the pointer and sorry that I couldn't respond quickly.
I wrote some tests and verified that my problem got resolved by #1622. Let me close this issue.
Thanks again.

[2022-01-24 14:57] #1527 closed

[2022-01-24 15:11] alamb commented on #1636
In general I am planning a cleanup to the `MemoryManager` and `DiskManager` configuration. I expect to have a PR for review shortly

[2022-01-24 18:20] alamb commented on #1636
PR with proposed improvements: https://github.com/apache/arrow-datafusion/pull/1668#

[2022-01-24 18:42] houqp commented on #1652
bummer that the dictionary encoding optimization will need to wait for the 9.0 release, but we can test it with a 9.0 datafusion branch if needed.

[2022-01-24 20:00] alamb commented on #1569
I agree getting a Gauge sounds like a good idea. thanks for the writeup @yjshen

[2022-01-24 20:06] #150 closed

[2022-01-24 20:08] #1654 closed

[2022-01-24 20:12] alamb opened #1669 "Support reading from CSV, Avro and Json files that have mergeable/compatible, but not identical schemas"
@thinkharderdev implemented schema merging functionality for Parquet files in #1622. However, this logic only applies to Parquet, and @tustvold noted that it would likely also be useful to apply to CSV, Avro and Json files so that DataFusion could read from files in those formats that had compatible but not identical schemas

Specifically,  the logic in read_partition might be extracted into some

[2022-01-24 20:38] #1586 closed

[2022-01-24 20:47] alamb opened #1670 "Query Optimizer: Add OUTER --> INNER join conversion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

LEFT OUTER, RIGHT OUTER, and FULL OUTER JOINs are often more expensive to evaluate and preclude other optimizations (such as pushing down predicates as can be seen in #1618)

As such, sophisticated optimizers will actually rewrite OUTER joins to INNER joins depending on the predicates of the

[2022-01-24 20:50] alamb commented on #1321
FWIW I believe @james727  fixed this in https://github.com/apache/arrow-datafusion/pull/1618

[2022-01-24 20:50] alamb commented on #1670
Whoops -- this is a dupe of https://github.com/apache/arrow-datafusion/issues/1585

[2022-01-24 20:50] #1670 closed

[2022-01-24 20:51] alamb commented on #1585
Relevant discussion: https://github.com/apache/arrow-datafusion/pull/1618#discussion_r790020079

You can see a version of this code in Spark here: https://github.com/apache/spark/blob/aaf0e5e71509a2324e110e45366b753c7926c64b/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/optimizer/joins.scala#L119-L135

[2022-01-24 21:26] alamb commented on #1573
@yjshen  I was thinking this ticket could track actually writing sql tests that spilled to disk (and verified both that they spilled as well as the correct answers).

Something like:
1. Make a table with 10,000 rows but set memory limits to only allow 1K rows, and then validate the answer comes out
2. A test harness that runs the same basic test, but checks various combinations of batch_size, and

[2022-01-25 02:14] liukun4515 commented on #1661
This https://github.com/apache/arrow-rs/pull/1172 has been merged, and the [group by supported](https://github.com/apache/arrow-datafusion/pull/1640) merged.
But we need to wait for the arrow-rs to upgrade which is doing by @alamb.
I think this feature will support soon after the arrow-rs 8.0.0 is released.

[2022-01-25 08:11] yjshen commented on #1573
@alamb Ah, that makes sense. I will do it.

[2022-01-25 11:36] alamb commented on #1661
I am waiting on the final approval needed to release 8.0.0. I hope I can get this today

[2022-01-25 13:58] alamb commented on #1661
Released https://lists.apache.org/thread/b803mt0g8czbz3l31230053o2q728mqw 🎉

I will get a PR up to upgrade datafusion

[2022-01-25 15:42] xudong963 commented on #1620
A very useful feature, I'll implement it and use it. Thanks for your idea @james727

[2022-01-25 17:36] #1658 closed

[2022-01-25 20:08] alamb commented on #1666
Fixed in https://github.com/apache/arrow-datafusion/pull/1672

[2022-01-25 20:08] #1666 closed

[2022-01-25 20:09] thinkharderdev opened #1675 "Improvements to Ballista extensibility"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Currently, we are working with DataFusion/Ballista as a query execution engine. One

[2022-01-25 20:13] alamb opened #1676 "Regression: Merge assertion: `'assertion failed: i < self.len()'` in array_primitive.rs while merging non overlapping streams"
**Describe the bug**
If we try to merge two streams that are non overlapping (e.g. `0..20` and `20..40`) then the following panic is produced:
[code]

Note this won't affect any users of DataFusion unless they are using externalized sort that @yjshen  has recently been working on or directly use `SortPreservingMergeStream` as IOx does

**To Reproduce**
See fuzztester PR: https://github.com/apache/

[2022-01-25 20:19] alamb commented on #1572
I think this was fixed in https://github.com/apache/arrow-datafusion/pull/1596

[2022-01-25 20:19] #1572 closed

[2022-01-25 20:48] alamb commented on #1675
cc @realno  @gaojun2048 @yahoNanJing

[2022-01-25 20:57] alamb opened #1679 "DiskManager keeps temporary files around until the manager itself is dropped"
**Describe the bug**

The `DiskManager` passes out `String`s rather than `TempFile`s. The tempfiles are eventually cleaned up, but only when the `DiskManager` is `drop`ed , rather than the actual temp file use us is complete.

This both leaves temporary files around longer than necessary, and would cause trouble with a long lived  `DiskManager` across plans.

**To Reproduce**
Make a shared `DiskMa

[2022-01-25 21:34] #1636 closed

[2022-01-25 21:50] alamb commented on #1505
I think this is completed in  https://github.com/apache/arrow-datafusion/pull/1491

[2022-01-25 21:51] alamb commented on #1356
I think this issue is now closed and we are on our way to uniform type coercion logic ❤️

[2022-01-25 21:51] #1356 closed

[2022-01-25 21:55] andygrove commented on #1675
It may be useful to see how substrait is handling extensions as well - https://substrait.io/extensions/

[2022-01-25 22:34] thinkharderdev commented on #1273
Late to the party here but my team is very excited about the potential of Ballista and are interested in helping push the project forward.

[2022-01-25 23:04] realno commented on #1675
This would be a great  improvement 👍 I will follow the design and PRs

[2022-01-26 01:48] liukun4515 commented on #1661
thanks @alamb
Maybe we can close this ticket

[2022-01-26 01:51] liukun4515 commented on #1356
thank you for your reminder.
I will focus on the coercion logic when we meet some issues.

[2022-01-26 02:11] yjshen commented on #1676
It's caused by inserting an empty record batch, I think. The current sort will not be affected since empty batches are eliminated while inserting. Proposed fix in https://github.com/alamb/arrow-datafusion/pull/4

[2022-01-26 02:20] yahoNanJing commented on #1675
Thanks @thinkharderdev for proposing these potentials.

For this, actually our team has implemented for the HDFS. To avoid new object store registration, our workaround is to make the path self description with its scheme, like hdfs:://localhost:15050/..../file.parquet. Then with the scheme, we will know which kind of remote object store we needs.

Maybe it's better to introduce the substrait inte

[2022-01-26 03:19] hntd187 commented on #1505
No @alamb this is renaming which we didn’t do in #1491 we agreed I’d do it after some discussion in this issue. I planned to get to this this weekend.

[2022-01-26 03:32] realno commented on #1675
+1

[2022-01-26 05:11] houqp commented on #1675
FWIW, Andy wrote a substrait rust implementation: https://github.com/andygrove/substrait-rs.

[2022-01-26 11:23] alamb commented on #1505
FYI I plan to move some tests out of context.rs into the sql_integration test -- I'll try and get that done prior to the big rename 🏃

[2022-01-26 12:26] #1679 closed

[2022-01-26 12:56] thinkharderdev commented on #1675
Agree on the substrait integration. It would definitely be nice to have a universal serializable representation and a way to configure extensions delcaritively.

I posted a draft PR #1677 which I think can solve the immediate term issues with extensibility and also will be useful in migrating to a substrait-based implementation. By decoupling the representation from the core execution engine we ca

[2022-01-26 16:20] alamb commented on #1676
I have incorporated https://github.com/alamb/arrow-datafusion/pull/4 into https://github.com/apache/arrow-datafusion/pull/1678

[2022-01-26 17:42] alamb opened #1686 "Stable `SortPreservingMergeStream`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[code]
Thus,  if stream 1 and stream 2 had the same record values, it was guaranteed that the row from stream1 came out before stream 2. IOx uses this property correctly deduplicate updates (as streams with a larger index were inserted later).

IOx uses this property correctly deduplicate upd

[2022-01-26 18:38] alamb commented on #1675
I had a comment on https://github.com/apache/arrow-datafusion/pull/1677#pullrequestreview-863950055 which I think is worth considering

[2022-01-26 18:56] #1513 closed

[2022-01-26 20:26] matthewmturner commented on #1507
@houqp just one follow up - postgres does allow the following:

[code]

http://sqlfiddle.com/#!17/bf2fd/26200

so it would seem datafusion doesnt match that behaviour as we cant call `select *` after joining tables.

[2022-01-26 21:11] thinkharderdev commented on #1675
Related questions after tinkering a bit more today:

Should `SchemaProvider` methods be async? It could be useful to support integration with external metadata catalogs (AWS Glue, etc). This could also simplify the serialization of `LogicalPlan::TableScan`s by just passing a `TableReference` and resolving the `TableProvider` using the context.

[2022-01-26 22:00] thinkharderdev commented on #1669
Since I made this mess I feel duty-bound to clean it up :) I can take this one.

[2022-01-27 03:01] liukun4515 commented on #174
@alamb  this issue can be closed.
The cast/try_cast has been implemented.
We can cast float to decimal or decimal to float.

[2022-01-27 03:02] liukun4515 commented on #174
[code]

[2022-01-27 03:09] liukun4515 commented on #210
@alamb
this issue can be closed
[code]

[2022-01-27 04:12] HaoYang670 commented on #1613
`is_numeric` in `arrow-rs` seems not to be same as in `arrow-datafusion` because `DataType::Decimal` is not included.

[2022-01-27 04:53] HaoYang670 commented on #1469
I would like to try if no one has been doing

[2022-01-27 05:52] houqp commented on #210
good work @liukun4515 :tada:

[2022-01-27 05:52] #210 closed

[2022-01-27 05:53] houqp commented on #174
:tada:

[2022-01-27 05:53] #174 closed

[2022-01-27 06:04] liukun4515 commented on #210
thanks for @alamb and @houqp pushing this feature forward.
There are many tasks about decimal or data type to do.

[2022-01-27 06:07] liukun4515 commented on #1613
@HaoYang670

In the PG or Spark, the decimal is included in the `numeric`.
Because the decimal is in development, some codes may be not consistent.

[2022-01-27 06:10] liukun4515 commented on #1613
Now we can focus on other issues, and deal with them after other stabilization.

[2022-01-27 07:22] houqp commented on #1507
Yeah, i think this is a subquery support bug that needs to be fixed.

[2022-01-27 07:41] mingmwang opened #1688 "Testing result of String related built-in functions"
**Describe the bug**
Recently I did some test on DataFusion's String related build-in functions. I found there are lots of gaps compared with Spark SQL's (3.x) result.  Some of them maybe bug in Spark SQL but I believe most of them are bugs in DataFusion.

**To Reproduce**
Please see the details below:

----------------------------
upper()

SELECT upper('Haßler');

Spark returns "HASSLER"
DataFusi

[2022-01-27 08:09] xudong963 commented on #1688
About `substr` & `substring`

I believe now datafusion supports `substring` and `select substring("" from x for y)`. BTW the behavior is the same as Postgres.
[code]

[2022-01-27 11:10] #1676 closed

[2022-01-27 11:11] alamb commented on #1669
I wouldn't describe this as a mess ! The ability to merge multiple parquet files without the exact same schema is a great addition -- this will just be the icing on the cake, as it were

[2022-01-27 11:50] #1686 closed

[2022-01-27 16:08] matthewmturner commented on #1507
@houqp how would this work in datafusions case though since we dont allow relation / table qualifier? Postgres seems to show duplicate columns without a qualifier which i dont think we can do.

Also, regarding that being a subquery bug - would you be able to expand on that point? I hadnt really thought of this as a subquery.  Are you referring to what this turns into at the logical / physical plan

[2022-01-27 18:17] #1620 closed

[2022-01-27 18:27] houqp commented on #1688
Thank you @mingmwang for this detailed comparison note! I think it would be good to create separate issue for each of the issues identified in this research so it's easier for the community to divide and conquer. I can see some of the problems will result good first issues that new community members could pick up to ramp up on the code base.

[2022-01-27 19:55] sunchao commented on #1652
I think a big part of perf improvement comes from Parquet predicate pushdown (e.g., stats, dictionary, bloom filter and column index). Does either arrow-rs or arrow2 implement (some of) these currently?

[2022-01-27 20:23] alamb commented on #1652
DataFusion does implement row group pruning based on statistics (that arrow-rs creates)

arrow-rs creates statistics. It will (in version after 8.0.0) preserve dictionary encoding (meaning the output of a dictionary encoded column will also be dictionary encoded) which should be a large win for low cardinality columns

It does not currently create or use column indexes or bloom filters

I believe

[2022-01-27 20:39] sunchao commented on #1652
This is nice 👍 . By dictionary-based row group filtering I mean we can first decode only the dictionary pages for the column chunks where pushed down predicates (e.g., in predicate) are associated to, and skip the whole row group if no keys in the dictionary match.

[2022-01-27 20:46] alamb commented on #1652
this would definitely be a neat optimization

[2022-01-27 20:55] #1661 closed

[2022-01-27 21:29] tustvold commented on #1652
You'd need to check that column chunk hadn't spilled, but yes that is broadly speaking the access pattern I wish to support with the work in https://github.com/apache/arrow-rs/issues/1191. Specially exploit https://github.com/apache/arrow-rs/pull/1180 to cheaply get dictionary data, evaluate predicates on it, and use this to construct a refined row selection to fetch.

As @alamb alludes to the tim

[2022-01-27 21:31] alamb commented on #1675
I can see a rationale for making schema provider methods `async` if the usecase is a one time query across a pile of parquet files.

However, in general if one has to do network IO to figure out what tables exist or their schemas, it may be hard to get adequate performance

[2022-01-27 21:32] alamb commented on #210
Thanks for all your help @liukun4515  and pushing it through. Really nicely done

[2022-01-27 21:37] jorgecarleitao commented on #1652
* arrow-rs: group filter push down
* arrow2: group filter push down, page filter push down

afaik both support reading and writing dictionary encoded arrays to dictionary-encoded column chunks (but neither supports pushdown based on dict values atm).

TBH, imo the biggest limiting factor in implementing anything in parquet is its lack of documentation - it is just a lot of work to decipher what is

[2022-01-27 21:46] alamb commented on #1652
arrow-rs 8 has some improvements for nullable columns as well now courtesy of @tustvold https://github.com/apache/arrow-rs/pull/1054

[2022-01-27 22:42] alamb opened #1690 "DiskManager and TempFiles getting created several times per query"
**Describe the bug**
If you run a query in DataFusion against parquet files, it will create several unnecessary temporary files.

IOx also hits the same thing (with the same root cause): https://github.com/influxdata/influxdb_iox/issues/3507#issuecomment-1023679575

There are several places which (non obviously) create a DiskManager instance today -- the one that hits the parquet usecase above is

[2022-01-28 02:48] mingmwang commented on #1688
Sure, I will create separate issue for each of them. I will also try to start fixing some of the gaps.

[2022-01-28 11:43] alamb commented on #1690
cc @yjshen  I plan to work on these items today

[2022-01-28 11:56] alamb opened #1692 "Support predicate pruning on `CaseExpr` expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In certain situations , IOx is likely going to make predicates that look like the following

[code]
that basically map `null` to the empty string

We would like to use such predicates in order to prune out Chunks (or parquet record groups)

**Describe the solution you'd like**
I would like `Ca

[2022-01-28 12:13] alamb opened #1693 "Expression Simplification for`Expr::Case` expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In certain situations , IOx is likely going to make predicates that look like the following

[code]
that basically map `null` to the empty string

When applying them to certain specialized chunks (or row groups) we will know there are no NULLs in the `col` or all NULLs and thus we will end up

[2022-01-28 12:30] alamb opened #1694 "Public Expr simplification API"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In IOx each table is broken up logically into chunks (like row groups in parquet files) but the chunks might be missing some columns and each chunk has its own statistics

When predicates are applied to scan / filter these chunks, they are potentially in terms of all columns of a table. If a c

[2022-01-28 17:00] cpcloud opened #1698 "Implement TableProvider for DataFrameImpl to allow registration of logical plans"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I'd like to be able to assign a name to previously constructed logical plan.

**Desc

[2022-01-28 23:45] seddonm1 commented on #1688
Remember these were tested against Postgres not Spark as Postgres is much more ANSI SQL aligned than Spark.

[2022-01-29 01:49] liukun4515 commented on #1693
@alamb
Do you mean that you can get the no NULLS or all NULLS from the statistics of the chunk or row group of parquet?

[2022-01-29 03:18] yahoNanJing commented on #349
Hi @andygrove, we have integrated ballista with HDFS support. Our workaround is to make the file path self described. For example, a local file path should be file://tmp/..., a hdfs file path should hdfs://localhost:xxx:/tmp/...

To make it work, we also changed the object store api a bit. Later I'll create a PR for this.

[2022-01-29 05:08] houqp commented on #1656
fixed by @Igosuki :rocket:

[2022-01-29 05:08] #1656 closed

[2022-01-29 05:10] houqp commented on #1563
fixed by @Igosuki :rocket:

[2022-01-29 05:10] #1563 closed

[2022-01-29 06:56] yahoNanJing opened #1701 "Ballista Enhancement Overview"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Current Ballista implementation is more like a POC product for verification of whether it's able to run the Datafusion operators in a distributed way. It helps set up the whole framework and works well for just verification. However, it's a long way to introduce it to the production environme

[2022-01-29 08:01] Ted-Jiang commented on #1701
This would be a milestone in Ballista! 👍

[2022-01-29 08:23] yahoNanJing opened #1702 "[Ballista] Support to access remote object store, like HDFS, S3, etc"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

After introducing the object store API, to support to access remote object store for Ballista executors, there are still some gap. For example, as #349 mentioned, it's not able to get file metadata for remote object store.

**Describe the solution you'd like**

Our workaround is to make the f

[2022-01-29 08:39] yahoNanJing opened #1703 "[Ballista] Support to better manage cluster state, like alive executors, executor available task slots, etc"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently all of the cluster state, like executor info, task info, are stored in the sled db. And a global lock is used for dealing with concurrency issue. Not only the serialization and deserialization cost will be large, but also the global lock will be a bottleneck when hundreds of thousan

[2022-01-29 08:59] yahoNanJing opened #1704 "[Ballista] Introduce DAGScheduler for better managing the stage-based task scheduling"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The implementation for *get_next_schedulable_task()* is not efficient due to lack of classification of task stages and task status, especially when there's thousands of tasks to be scheduled. And it's also not easy to:
- stage-level priority-based scheduling
- stage-level retry
- speculative

[2022-01-29 13:14] matthewmturner commented on #1702
@yahoNanJing fyi @seddonm1 and I have been working on https://github.com/datafusion-contrib/datafusion-objectstore-s3. Still early stages but would be great to have more use cases that we could steer development with.

[2022-01-29 14:55] thinkharderdev commented on #1702
This PR would support this use case: https://github.com/apache/arrow-datafusion/pull/1677

[2022-01-29 16:02] #1569 closed

[2022-01-29 23:03] matthewmturner opened #1705 "Simplify creating new `ListingTable`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
I think that we can simplify creating a `ListingTable` by using some simple inference

[2022-01-29 23:05] matthewmturner commented on #1705
@alamb @houqp @seddonm1 what do you think about this proposal?

[2022-01-30 09:19] yjshen opened #1708 "Introduce a `Vec<u8>` based row-wise representation for DataFusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

**_Many pipeline-breaking operators are inherently row-based:_**

For sort that would shuffle records around, re-order would cause random memory access patterns for each column in the current columnar organization. The performance will deteriorate as the number of columns grows. Besides, the

[2022-01-30 10:40] alamb commented on #1705
I think the usecase of defaulting schema and format makes a lot of sense

If you are going to change the signature of `ListingTable` perhaps it would be worth using a builder / config (so that future changes don't require another signature change):

Something like
[code]

And then your example could look like

[code]

[2022-01-30 10:42] #1698 closed

[2022-01-30 10:46] alamb commented on #1693
Yes.

The usecase is that in one of our supported query languages (InfluxQL) a missing column is treated as though it were `''` rather than `null` and we add a case statement to do this mapping.

However, the common case is the column is either always present or always absent (aka either all null or not null) in which case we can remove the mapping

[2022-01-30 13:17] #1573 closed

[2022-01-30 13:25] #1610 closed

[2022-01-30 16:08] matthewmturner commented on #1705
@alamb  great idea. Will do that.

[2022-01-30 18:19] houqp commented on #1705
Both of your idea and @alamb's suggestions of builder pattern sounds like a good plan to me :+1: Thank you for bring this up.

[2022-01-30 19:01] OscarTHZhang opened #1710 "Column names for SQL queries on CSV files should not be case sensitive"
**Describe the bug**
If the column names in a CSV file are uppercase, then typing lowercase column names in SQL queries will result in an Error: `Invalid identifier for schema`.

**To Reproduce**
Here is a simple example program that runs a query on 2 tables.
[code]
This will result in an error:
[code]

**Expected behavior**
The column names should not be case-sensitive. The query should execute n

[2022-01-30 23:35] HaoYang670 commented on #115
Could you please give more detail?

[2022-01-30 23:39] HaoYang670 commented on #373
I'd like to have a try if no one has been doing it.

[2022-01-31 02:00] hntd187 commented on #1544
So just updating on this I'm starting to look into state management for streaming now. Tell me, do we have any concept right now if accessing or manipulating partitions or partition level information in data fusion?

[2022-01-31 06:11] houqp commented on #1544
@hntd187 most of the file partition pruning and partition column population logic lives in the ListingTable module as far as I know.

[2022-01-31 10:15] tustvold commented on #1692
@alamb could you assign this ticket to me please :smile:

[2022-01-31 14:10] alamb commented on #1693
Another simplification that can be done that @tustvold  came up with is:

[code]

assuming the type of A and B are boolean, can be rewritten to

[code]

Which can then be subjected to the existing simplification AND / OR simplification rules

[2022-01-31 14:48] #1648 closed

[2022-01-31 14:49] alamb commented on #115
I am not sure -- @andygrove  filed the original ticket here https://issues.apache.org/jira/browse/ARROW-10714

This one may not be relevant any more? I am not sure.

[2022-01-31 15:26] tustvold commented on #1693
I think the boolean transformation as written is subtly wrong, I think I have the correct one but I'm just double-checking it

[2022-01-31 16:37] tustvold opened #1716 "Eliminate Unsatisfiable Boolean Expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I noticed Datafusion is not able to simplify the expression

[code]

Whilst it is unlikely for a user to write such an expression, it is not uncommon for boolean expressions to reduce to something unsatisfiable. Where this is the case, substituting in `false` may allow for further simplificat

[2022-01-31 16:47] alamb commented on #1710
Thank you for the report @OscarTHZhang

[2022-01-31 16:47] alamb commented on #1710
Thank you for the report @OscarTHZhang

[2022-01-31 17:06] tustvold commented on #1716
On a related note it is unable to simplify expressions of the form

[code]

[2022-01-31 17:34] Dandandan commented on #1716
Related to this, I think the PoC
Tokomak  optimizer I created is especially suited for these kind of optimizations. https://github.com/Dandandan/datafusion-tokomak

@pjmore extended this optimizer to be able to optimize both expressions and logical plan nodes.
See here for more.
https://github.com/apache/arrow-datafusion/pull/1066

[2022-01-31 18:08] alamb commented on #1425
Closed by https://github.com/apache/arrow-datafusion/pull/1638

[2022-01-31 18:08] #1425 closed

[2022-01-31 18:14] alamb opened #1718 "Cleaner API to create `Expr::ScalarFunction` programatically"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to programatically create `Expr`s that represent function calls, for example `to_timetsamp(x, 4)` or something

To do so today you have to do something like this (from simplify_expressions.rs)  which is 🤮

[code]

**Describe the solution you'd like**
I would like to write code like

[2022-01-31 19:03] tustvold commented on #1716
I'm not at all familiar with e-graphs, but I would perhaps naively expect something specialised to boolean algebra to significantly out-perform a method based on arbitrary expression rewriting? I guess I'm thinking something like BDDs, or even just recursively applying shannon expansion and relying on const propagation to fix the mess...

This isn't an area I'm hugely familiar with, but I can't he

[2022-01-31 19:40] mkmik commented on #1718
What about something like:

[code]

[2022-01-31 20:36] #373 closed

[2022-01-31 20:41] #1669 closed

[2022-01-31 20:41] #1538 closed

[2022-01-31 20:53] alamb commented on #1716
I do wonder if https://docs.rs/boolean_expression/latest/boolean_expression/index.html handles `Nulls` 🤔  which is an important niche case for database / sql

[2022-01-31 21:01] alamb commented on #1716
FWIW `(A ^ !A)` is NOT always `false` because of .... 🥁  NULL

[code]

[2022-01-31 21:03] alamb commented on #1716
So FWIW we can do this rewrite

[code]

[2022-01-31 21:12] tustvold commented on #1716
Does something similar also hold for things like `A AND false`? Just wondering if the existing logic handles this correctly... 🤔

[2022-01-31 21:18] alamb commented on #1716
Yes. In fact @NGA-TRAN fixed a bug related to that in https://github.com/apache/arrow-datafusion/pull/1245 -- I think we have it sufficiently tested now.

See some of the rules here
https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/optimizer/simplify_expressions.rs#L568

It actually turn out that `A AND false` is always false (even if `A` is NULL)

However, `A OR false` could b

[2022-01-31 21:40] alamb commented on #1718
That would have the upside that the compiler could check the name

It has the downside that the user has to know the mapping from the sql level name (e.g. `concat` to `Concat`) which maybe isn't a big deal.

Perhaps we could do both 🤔

[2022-01-31 21:54] tustvold commented on #1716
Aah yes, the SQL interpretation of NULL as "unknown" vs perhaps more intuitive notions of it... :sweat_smile:

`null == null --> null` will never cease to make no sense to me...

[2022-01-31 22:10] alamb commented on #1708
Thanks @yjshen

Some other notes
1. We had a `Vec<u8>` based implementation prior to https://github.com/apache/arrow-datafusion/pull/808 which I think @Dandandan  originally contributed
2. the `ScalarValue` overhead is actually worse than 16 bytes: it is `48` or `64` depending on architecture 😱 : https://github.com/apache/arrow-datafusion/blob/e92225d6f4660363eec3b1e767a188fccebb7ed9/datafusion/sr

[2022-01-31 22:11] alamb commented on #1708
Here is the old implementation in case it is of value:

[code]

[2022-01-31 23:31] HaoYang670 commented on #1718
I'd like to have a try if no one has been doing it😀

[2022-02-01 08:45] mkmik commented on #1718
@HaoYang670 thanks

[2022-02-01 16:13] xudong963 opened #1721 "`cargo run --release` got an error"
**Describe the bug**
`cargo run --release` got an error.

**To Reproduce**
[code]

**Expected behavior**
No error

**Additional context**
Add any other context about the problem here.

[2022-02-01 17:05] tustvold opened #1724 "Optimize Out Redundant Filter Expresions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Datafusion does not appear to eliminate FilterExec with constant filters.

[code]

Whilst unlikely for a user to write such a query, this can occur when constant propagation collapses a boolean expression to a constant.

**Describe the solution you'd like**

The logical plan should be optimiz

[2022-02-01 17:56] #1721 closed

[2022-02-01 20:35] alamb commented on #1724
I suggest checking for constant `false` or `null` in chains of Ands

I think this could be added to the `expression_simplfy.rs` pass fairly simply

[2022-02-01 21:27] alamb opened #1725 "API to get Expr's type and nullability without a `DFSchema`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to implement (fast) expression simplification that sits on the critical IOx query path (as the predicates get simplified and then used to prune out chunks based on catalog statistics)

When i created a PR to use the API proposed in https://github.com/apache/arrow-datafusion/pull/17

[2022-02-02 03:08] liukun4515 commented on #115
Maybe this is an out-of-data issue migrated from jira.

[2022-02-02 03:55] HaoYang670 opened #1727 "Remove duplicate tests from `test_const_evaluator_scalar_functions`"
**Describe the bug**
I find that we have 2 same tests:
[code]
https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/optimizer/simplify_expressions.rs#L1026-L1040

**To Reproduce**

**Expected behavior**
Remove one of the test or add some comment about why we need 2 same tests.

**Additional context**

[2022-02-02 04:12] HaoYang670 commented on #1727
Another that I find
https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/optimizer/simplify_expressions.rs#L1042-L1054
[code]

We test `BuiltinScalarFunction::Random.volatility()` twice.

[2022-02-02 07:36] xudong963 opened #1728 "Add `release compile` to CI"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently, datafusion's ci doesn't have a `release compile`, so it's very possible to introduce bugs such as #1723

**Describe the solution you'd like**

Add `cargo build --release` to https://github.com/apache/arrow-datafusion/blob/b9a8f151893b2487ee4d5e9018af71713565e26d/.github/workflows/r

[2022-02-02 10:13] yjshen commented on #1708
After some code/doc checking into the existing systems, the three systems' row layouts are:

**Postgresql:**  var-length tuple
- null-bits first (byte aligned)
- store **all** attributes sequentially,
    - add **extra padding if needed** before each attribute
        -  E.g. table A (bool, char, int32), no padding between bool and char since they are both 1 byte aligned, but 2 bytes padding after

[2022-02-02 10:42] tustvold opened #1731 "Holistic Repartition Optimisation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The `Repartition` optimizer recurses into plans and looks for operators with an output partition count less than the target partition count, and on finding such a partition adds a `RepartitionExec` node.

Unfortunately this does not take into account how this might impact the concurrency of t

[2022-02-02 11:02] yjshen commented on #1708
Given `Table A (bool a, char b, int c, string d)  row_value (true, 'W', 59, "XYZ")`  as an example, a tuple in each system are:

[code]

[2022-02-02 11:14] alamb commented on #115
I agree with @liukun4515  -- closing this ticket for now, and we can reopen it if we get some more information to make it actionable

[2022-02-02 11:14] #115 closed

[2022-02-02 13:46] HaoYang670 commented on #1718
I find some duplicate tests in `simplify_expression.rs`.
Tracked in issue #1727

[2022-02-02 14:28] #1694 closed

[2022-02-02 21:38] alamb commented on #176
I don't think this is relevant anymore

[2022-02-02 21:38] #176 closed

[2022-02-03 07:22] houqp commented on #1708
Thanks @yjshen for the detailed research, it looks like postgres's design might be better assuming we only access row values sequentially the majority of the time. I think this is the case for our current hash aggregate and sort implementation?

[2022-02-03 08:17] Dandandan commented on #1708
Thanks for the research/overview!

Taking inspiration from DuckDB / PostgreSQL sounds reasonable to me.

I am wondering if for certain operations, e.g. hash aggregate, I feel fixed
size input the data is stored better in a columnar format (mutable array,
with offsets), which can have faster (vectorized) operations (batch
updating state values) and faster (free) conversion to a columnar array.
Anot

[2022-02-03 11:41] alamb commented on #1708
💯  with what @Dandandan  and @houqp  said; Thank you for writing this up @yjshen ❤️

size input the data is stored better in a columnar format (mutable array,
with offsets),

I agree with @Dandandan  that for HashAggregate this would be super helpful -- as the group keys and aggregates could be computed "in place" (so output was free)

Sorting is indeed different because the sort key is different

[2022-02-03 11:45] alamb commented on #1708
Depending on when people want to try a "mutable array" approach for improving hash performance, I can probably whip up something (based on arrow-rs), so let me know

[2022-02-03 12:56] yjshen commented on #1708
Thank you all for your comments and for fixing my mistakes ❤️

I agree for a small hashtable, i.e., the whole data structure can be CPU cache resident or a few times larger. The columnar organization gives us all benefits at no cost.

However, as the group-by key cardinality grows, the bottleneck of hash aggregation or hash join row concatenation becomes more memory access pattern related. The col

[2022-02-03 13:54] alamb commented on #1708
One thing we might consider is not storing the group key values directly in the hash table, but separately. Something like:

[code]

The current hash aggregate code takes this approach -- but instead of using Mutable/Appendable arrays it uses a Vec of `GroupState): https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/hash_aggregate.rs#L615

I agree with this 💯  and a

[2022-02-03 14:01] tustvold opened #1736 "File Extension Agnostic Schema Inference"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I wrote a test approximating

[code]

This would result in "Invalid identifier" errors, effectively claiming the column didn't exist. I verified the file existed, had the correct columns, etc... I was very confused :laughing:

Eventually I tracked this down to the schema being inferred as emp

[2022-02-03 15:03] bridyash13 commented on #1727
Hey @HaoYang670 can I work on this issue?

[2022-02-03 15:58] #1635 closed

[2022-02-03 16:27] alamb commented on #1433
I think this one is resolved. Closing for now

[2022-02-03 16:27] #1433 closed

[2022-02-03 16:31] alamb commented on #1587
There is all sorts of good stuff in DataFusion since we last made a release. Since arrow (C++) just released a 7.0.0 I was thinking to do the same with DataFusion (as @pauldix  says the success of a project is predicated on 1. Making sweet sweet software and 2. telling people about it). We have done 1, and now we need to do a bit more of 2. ✍️

[2022-02-03 16:35] #1731 closed

[2022-02-03 16:48] Igosuki opened #1740 "Support CREATE/DROP/ALTER VIEW (and associated DataFrame functions)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently we can create external and in memory listing tables, I want to go further and allow creating views from SQL queries.
Registering a dataframe as a table requires the following :
[code]

**Describe the solution you'd like**
Since DataframeImpl is already a TableType::View, registering/

[2022-02-03 17:03] matthewmturner commented on #1587
Perhaps we can start crowdsourcing points for a post / blog on a google doc.  I've made one here (sry havent had chance to add anything yet but trying to help as i can):

https://docs.google.com/document/d/17uB1GIN58xOehQP5XpJH8J3qA7KDS1WQJzyHzW7L1kU/edit?usp=sharing

[2022-02-03 17:04] #1725 closed

[2022-02-03 17:34] houqp commented on #1587
I won't have the time to drive the release this time, but happy to help fixing any issue with the existing release automation and guide anyone through the process.

[2022-02-03 19:14] alamb opened #1741 "Ensure links in the docs are correct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are several broken links in the datafusion crate docs. For example

![Screen Shot 2022-02-03 at 3 09 30 PM](https://user-images.githubusercontent.com/490673/152420969-b1cdd704-200e-47f6-af4d-ce614fd99495.png)

**Describe the solution you'd like**
I would like them all links to be valid a

[2022-02-03 20:20] alamb commented on #1587
I can drive the release

[2022-02-03 21:16] alamb commented on #1740
🤔  since `SchemaProvider` already allows registering a new table provider, we might be able to implement this without any new traits

https://github.com/apache/arrow-datafusion/blob/6ec18bb4a53f684efd8d97443c55035eb37bda14/datafusion/src/catalog/schema.rs#L40-L51

[2022-02-03 21:17] alamb commented on #1736
Change this description to be a bug, which I think better reflects what is going on

[2022-02-03 21:21] alamb commented on #348
I coworker reports that they can't work on datafusion with a mac mini with  8GB of RAM due to `rust_analyzer` swapping too much

It would be great to make this better somehow.

[2022-02-03 21:52] alamb commented on #348
I ran the following to see where the time was going in my normal development loop:
[code]

And the output was instructive. Specifically it seems to take 28.6 seconds to compile the actual datafusion crate, but a whopping 65.6s to compile the tests (aka `cfg(test)`). I'll keep plugging away at moving test code out of the `datafusion` crate and into integration tests

[code]

[2022-02-03 23:26] HaoYang670 commented on #1727
Sure. Thank you, @bridyash13

[2022-02-04 01:08] andygrove opened #1744 "cannot use `+=` on type `OrderedFloat<f64>`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to be able to use DataFusion on a Raspberry Pi running Ubuntu 20.04.3 but it does not compile.

[code]

**Describe the solution you'd like**
I would like the code to compile.

**Describe alternatives you've considered**
It looks like I can use `cross` to cross-compile from my desk

[2022-02-04 06:39] #1328 closed

[2022-02-04 10:13] nitisht commented on #907
Folks, thank you for great work on this issue. I see that repo https://github.com/datafusion-contrib/datafusion-objectstore-s3 has the relevant code added. I am a little hazy on how do I get these two projects (datafusion & datafusion-objectstore-s3) compiled and work together. Are there any pointers towards this?

[2022-02-04 11:21] mkmik commented on #1710
IIUC arrow schemas are case sensitive. This is true for CSV and for other sources (e.g. parquet).

Not sure what's the right approach here. SQL engines are traditionally case insensitive, but here we have a SQL engine that builds on top of an existing schema model that doesn't follow that tradition.

[2022-02-04 12:05] alamb commented on #1710
Yes, Arrow schema's are case sensitive and SQL itself has stranger semantics for case insensitive

Here is an example from postgres showing how SQL interprets mixed case identifiers.  Basically if the identifier is not double quoted, it is is simply lower cased prior to processing

[code]

 `foo` always matches the lower case column name `"foo"` even when it is not the first column
[code]

If you

[2022-02-04 12:06] alamb commented on #1710
Apparently datafusion already does this conversion for  function  names

https://github.com/apache/arrow-datafusion/blob/940d4eb60e76a3d4062489e872bf241dbfe0031a/datafusion/src/sql/planner.rs#L1636-L1649

[2022-02-04 12:12] xudong963 commented on #1587
I will finish this issue https://github.com/apache/arrow-datafusion/issues/1400 before release to give our users a clearer readme

[2022-02-04 12:26] alamb commented on #1710
So my interpretation is "SQL should lowercase all identifiers unless they are double quoted"

So if the arrow schema has `foo`, `Foo` fields, a query for `select Foo` should return the `foo` (lowercase) field. A query for `select "Foo"` should return `Foo` (the upper case one)

[2022-02-04 13:52] mkmik commented on #1710
[code]

[2022-02-04 13:56] mkmik commented on #1710
the identifier is lowercased only if not quoted.

[code]

To summarize, postgres schemas are case sensitive, but in the SQL syntax the identifiers are lowercased when unquoted.

[2022-02-04 14:26] #481 closed

[2022-02-04 14:39] alamb commented on #1710
Indeed -- both changes (lowercase identifiers when unquoted) and an option to `CsvReadOption` if not already available sound good to me

[2022-02-04 14:41] #1728 closed

[2022-02-04 15:07] mkmik opened #1746 "SQL column identifiers should be converted to lowercase when unquoted"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In PostgreSQL all column name identifiers are turned into lowercase, unless they are quoted. Example:

[code]

PostgreSQL converts to lowercase all column identifiers. The example above shows how `Foo` used in the DDL statement creates a column actually named `foo` and it shows how it can be

[2022-02-04 15:13] mkmik commented on #1710
I factored out the identifier quoting issue in https://github.com/apache/arrow-datafusion/issues/1746.

I'm turning this issue into a feature request for datafusion to parse a CSV file while converting its column names to lowercase.

[2022-02-04 15:33] matthewmturner commented on #907
@alamb @houqp im thinking we can close this issue now.

[2022-02-04 16:13] alamb commented on #423
I just hit a variation of this in IOx -- see https://github.com/influxdata/influxdb_iox/pull/3633#issuecomment-1030126757

Conveniently @tustvold added some infrastructure to support this in https://github.com/apache/arrow-datafusion/pull/1732

[2022-02-05 01:46] #907 closed

[2022-02-05 05:34] nitisht commented on #907
Thank you for this pointer @matthewmturner . This is precisely what I was looking for, everything working great in my local testing.

[2022-02-05 05:58] #276 closed

[2022-02-05 06:00] #1494 closed

[2022-02-05 06:01] #1410 closed

[2022-02-05 06:02] #1149 closed

[2022-02-05 06:03] #883 closed

[2022-02-05 06:06] #372 closed

[2022-02-05 06:18] Jimexist opened #1750 "Break datafusion crate into smaller crates"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

a new feature: to break `datafusion` crate into separate smaller crates.

It helps with code management and dependency reasoning

**Describe the solution you'd like**

- [x] #1752
  - [x] #1751
  - [x] #1758
  - [x] #1760
- [x] #1753
  - [x] #1759
  - [x] #1761
  - [x] #1763
  - [x] #1764
  -

[2022-02-05 06:19] Jimexist commented on #1750
cc @alamb @houqp @Dandandan what do you think?

[2022-02-05 11:15] alamb commented on #1750
I like this idea @Jimexist  👍  There is some related commentary / information here: https://github.com/apache/arrow-datafusion/issues/348 as well

Some other crates that might be useful to consider;

* `datafusion_core` (`DataFusionError`, `DFSchema`, etc)
* `datafusion_datasource` (the built in parquet, avro, csv and json readers and supporting logic)

[2022-02-05 11:15] alamb commented on #348
@Jimexist  has a proposal to break datafusion into smaller crates here: https://github.com/apache/arrow-datafusion/issues/348

[2022-02-05 15:18] andygrove commented on #1750
This will be helpful for use cases where users are looking to use DataFusion in a similar fashion to Calcite, for query parsing and planning, but not for execution. I like this idea.

[2022-02-05 15:19] andygrove commented on #1744
I was able to get this to work on a different Raspberry Pi running the same OS. The only difference was 8 GB vs 4 GB memory. This doesn't make much sense to me but I am closing this issue.

[2022-02-05 15:38] Jimexist opened #1752 "split datafusion-common sub-module"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-02-05 15:38] Jimexist opened #1753 "split datafusion-expr sub-module"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-02-05 15:38] Jimexist opened #1754 "split datafusion-physical-plan sub-module"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-02-05 15:39] Jimexist opened #1755 "split datafusion-logical-plan sub-module"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-02-05 17:26] #1744 closed

[2022-02-05 18:16] andygrove opened #1757 "Benchmarks should optionally write timings and environment details to a JSON file"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am working on some benchmark automation. I would like to have the benchmarks optionally produce a JSON file containing:

- Current date and time
- DatraFusion version
- The parameters passed to the benchmark
- Timings for each run of the query or queries
- Summary of results (row counts, has

[2022-02-06 05:44] houqp commented on #1750
Thank you @Jimexist for taking on this! I think this is the right path forward.

cc @jorgecarleitao and @yjshen since they have proposed the similar ideas before.

[2022-02-06 05:44] houqp commented on #1757
Perhaps also hardware info?

[2022-02-06 08:34] Dandandan commented on #1757
Also compile time features in use would be interesting (LTO, SIMD,  memory allocator, etc.)

[2022-02-06 18:36] andygrove opened #1767 "Parquet reader thread errors do not make query fail"
**Describe the bug**
The Parquet reader thread can terminate due to errors but it does not make the query fail. It just uses `println!` to print the error.

[code]

**To Reproduce**
Run one of the unsupported tpch queries or run against invalid parquet files.

**Expected behavior**
Query should fail.

**Additional context**
None

[2022-02-06 20:37] jychen7 opened #1768 "Unsupported data type in hasher: Timestamp(Second, None)"
**Describe the bug**
Datafusion have 4 specific functions related to timestamp:
- to_timestamp (nano)
- to_timestamp_micros
- to_timestamp_millis
- to_timestamp_seconds

only `to_timestamp_seconds` is NOT supported in hasher, while other 3 are supported.

**To Reproduce**
use testing data
[code]

`to_timestamp_millis` works in group by
[code]

`to_timestamp_seconds` raise error in group by
[code]

[2022-02-06 20:40] jychen7 commented on #1768
seems `TimeUnit:: Second ` is missing in following, will try to create a PR for it

https://github.com/apache/arrow-datafusion/blob/af8786ebea1d62f2f4f28f3eb390cc73fd3a9e16/datafusion/src/physical_plan/hash_utils.rs#L390-L419

[2022-02-07 02:31] liukun4515 commented on #1522
Sorting decimal has been merged, this issue need to be closed.

[2022-02-07 02:31] #1522 closed

[2022-02-07 02:33] gaojun2048 commented on #1701
Great, I hope I can contribute to these goals as much as I can.

[2022-02-07 03:44] Ted-Jiang opened #1770 "Separate cpu-bound and IO-bound work in ballista-executor by using diff tokio runtime."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Separate cpu-bound (query-execution) and IO-bound(heartbeat) work in diff tokio runtime like
@alamb  Thanks for your awesome blog 😊😊😊
https://thenewstack.io/using-rustlangs-async-tokio-runtime-for-cpu-bound-tasks/

**Describe the solution you'd like**
A clear and concise description of what yo

[2022-02-07 04:03] Ted-Jiang commented on #1736
@tustvold  may i ask you how to write a tmp parquet file, IMHP i think all parquet data file should end .parquet.

[2022-02-07 05:19] andygrove commented on #1757
I added the number of CPU cores but it would be good to add operating system and architecture info. Do you happen to know of any good crates that provide this? I have not researched this yet.

[2022-02-07 07:00] yahoNanJing commented on #1750
Hi @Jimexist, is it possible to make a exclusive crate for the data source so that it will be easy for the integration of the different kinds of remote object store?

[2022-02-07 07:17] yahoNanJing commented on #1702
Hi @matthewmturner, thanks for your info. It's really helpful example for creating another independent crate, like datafusion-objectstore-hdfs. However, it would better to avoid new object store registration for cases like providing sql service without any places for users to do manually registration. And it's not a good way to do the registration for each sql or each session, since it's quite sta

[2022-02-07 07:20] yahoNanJing commented on #1702
Thanks @thinkharderdev. I think it's better for the path to be self-described, like s3://hostname:port/xxx/... or hdfs://hostname:port/xxx/.... Then the object store management service can detect which remote object store will be used.

[2022-02-07 08:00] #1768 closed

[2022-02-07 09:34] tustvold commented on #1736
@Ted-Jiang Remove this line in the SQL benchmark https://github.com/apache/arrow-datafusion/pull/1738/files#diff-d1dbff8af63c3a3fe4d918432f982181b40fa4b7e1641522a6a48904f521fc89R143 and that was what caused issues.

I'm don't feel strongly whether the `.parquet` file should be mandatory or not, but I do think silently inferring an empty schema makes for a pretty poor UX :sweat_smile:

[2022-02-07 10:53] mkmik commented on #1746
I mislabeled this as a feature request; I think it should be tracked as a bug.

CC: @alamb

[2022-02-07 10:57] mkmik opened #1771 "SQL: Table name identifiers should be normalized to lowercase unless quoted"
**Describe the bug**

Since we claim postgresql dialect compatibility, table identifiers in SQL should be normalized to lowercase unless quoted.

**To Reproduce**

[code]

**Expected behavior**

[code]

[2022-02-07 11:53] #1400 closed

[2022-02-07 11:59] #1718 closed

[2022-02-07 13:27] #1752 closed

[2022-02-07 13:48] #1746 closed

[2022-02-07 14:21] alamb commented on #1736
I agree -- an error about "can not infer schema" seems much better than silently ignoring

[2022-02-07 14:22] alamb commented on #1746
Changed -- thanks

[2022-02-07 14:36] Jimexist opened #1772 "split datafusion-datasource module"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-02-07 15:06] matthewmturner commented on #1702
@yahoNanJing there actually already is a hdfs extension here https://github.com/datafusion-contrib/datafusion-hdfs-native.

Understood on your point - in that case what would be your ideal API for accessing S3? I would have thought the service could register the `ObjectStore` to share with clients and clients could access after registration at service level had been completed.

[2022-02-07 15:20] Jimexist opened #1773 "do a post-pass review of all cargo and readme for split up crates"
It is probably worth a post pass (after we have split up the crates) to update the description + add a README for all these dependent crates so it is clear most users should just use `datafusion`

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/1759#discussion_r800731875_

[2022-02-07 15:20] #1753 closed

[2022-02-07 21:06] matthewmturner opened #1777 "[EPIC] Improve DataFusions ability to work with files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I would like to add functionality for writing files from DataFusion.  To start, I've

[2022-02-07 21:09] matthewmturner commented on #1777
Just wanted to create this to start collecting feedback / thoughts.  I havent had chance to really look into details of this yet.  I hope to start in a couple weeks when I have some more time.

[2022-02-07 21:25] alamb commented on #424
Proposed fix: https://github.com/apache/arrow-datafusion/pull/1776

[2022-02-07 22:04] alamb commented on #1599
Related https://github.com/apache/arrow-datafusion/issues/141

[2022-02-07 22:06] matthewmturner commented on #1777
@seddonm1 @houqp FYI - in case you have any thoughts.

[2022-02-08 01:58] yahoNanJing commented on #1750
Thanks @Jimexist

[2022-02-08 02:55] yahoNanJing commented on #1702
Hi @matthewmturner and @thinkharderdev, what I'm thinking is to introduce some remote object store extensions as Datafusion features. These extensions will be inclusive crates and are managed independently so that this solution will not introduce additional maintenance effort for Datafusion.

However, this solution is blocked by #1772. After the datasource module is splitted into an independent cr

[2022-02-08 03:01] yahoNanJing opened #1778 "Improve object store key with considering host and port in ObjectStoreRegistry"
**Describe the bug**

Currently the key of object store in the ObjectStoreRegistry does not consider the host and port, which will cause issues when multiple remote object stores exist with the same scheme.

**To Reproduce**

hdfs://host1:port, hdfs://host2:port. Only one will be registered.

**Expected behavior**

Both object stores for hdfs://host1:port and hdfs://host2:port should be kept in th

[2022-02-08 04:04] HaoYang670 commented on #1623
It seems like there is a `List(None, _)` in the `states`:
[code]

https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/expressions/distinct_expressions.rs#L148-L157

[2022-02-08 04:26] Jimexist commented on #1750
my current plan is to finish items for:
- `datafusion-common`
- `datafusion-expr`

before release 7:
- #1587

and finish the rest after the release, to cap the amount of changes in a release

[2022-02-08 05:40] Ted-Jiang opened #1780 "Enable periodic cleanup of work_dir directories in ballista executor"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Enable periodic cleanup of work_dir directories in ballista executor which introduce 3 args
`executor_cleanup_enable` : Enable periodic cleanup of work_dir directories.
`executor_cleanup_interval`: Controls the interval in seconds , which the worker cleans up old job dirs on the local machine

[2022-02-08 05:41] Ted-Jiang commented on #1662
related to #1701

[2022-02-08 05:59] houqp commented on #1780
On top of a background GC task, would it make sense to also clean up job dirs on job completion preemptively?

[2022-02-08 06:13] Ted-Jiang commented on #1780
i think job dir in under work_dir

[2022-02-08 06:17] Ted-Jiang commented on #1780
https://github.com/apache/arrow-datafusion/blob/09c67d5af32aee107e87b9ddb93226707ccaa4fb/ballista/rust/core/src/execution_plans/shuffle_writer.rs#L152-L154

[2022-02-08 06:24] Ted-Jiang commented on #1780
Sorry for my confusion , You mean if a job has 3 stage, when stage3 is running, we can delete stage 1 first?

[2022-02-08 08:55] HaoYang670 commented on #1623
This query works:

[2022-02-08 11:31] alamb commented on #1587
Thanks @matthewmturner  -- I'll try and give the doc another pass through later today

[2022-02-08 11:38] alamb commented on #1623
Perhaps the accumulator just needs to be able to handle "null" (aka seeing no values)

[2022-02-08 16:31] joshuarobinson opened #1785 "Panic reading avro file at datafusion-6.0.0/src/avro_to_arrow/arrow_array_reader.rs:771:37"
**Describe the bug**
When trying to use "read_avro()" or "register_avro()" with datafusion 6.0 (with feature=avro) and a certain avro file, I consistently get a panic. Other avro files with different schemas have been okay.
`thread 'main' panicked at 'expected struct got None', /home/ir/.cargo/registry/src/github.com-1ecc6299db9ec823/datafusion-6.0.0/src/avro_to_arrow/arrow_array_reader.rs:771:37

[2022-02-08 17:19] matthewmturner commented on #1587
I went through and made more updates and added some git stats.

@alamb let me know if anything in particular I can do to help alleviate the burden on your side.  I'm happy to provide more assistance on releases in general (this one and future).

[2022-02-08 20:44] alamb opened #1786 "Reduce logging verbosity for physical plans to `trace!`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

While working in IOx it is often helpful to see the physical plan at this level:

[code]

However, at `debug!` level dataufusion will print out the full `Debug` impl of the physical plan. An example of what this means:

[code]

**Describe the solution you'd like**
Print out the summarized pla

[2022-02-08 21:08] alamb opened #1788 "Add logging to datafusion-cli"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to get access to logging in the datafusion-cli for debugging and other purposes

Datafusion contains calls to `trace!` and `debug!` but there is no way to enable these messages

**Describe the solution you'd like**
Add `env_logger` support so I can run :

[code]

And see some logs

[2022-02-08 21:16] #1509 closed

[2022-02-08 22:03] alamb commented on #1587
Thanks you very much @matthewmturner

Things that I think we need to do prior to release:
- [ ] Make a PR to update the version in all the crates to 7.0.0
- [ ] Create a PR to create a CHANGELOG (I had good luck with the github changelog generator that @jorgecarleitao  setup in arrow-rs once upon a time).
- [ ] (nice to have): https://github.com/apache/arrow-datafusion/issues/1741
- [ ] Take a pas

[2022-02-09 02:29] HaoYang670 commented on #1623
I am curious about why
[code]
works,
but
[code]
does not work.

[2022-02-09 02:51] sergiimk opened #1792 "Support lazy `SchemaProvider`s"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`SchemaProvider` trait is nice and simple - it lets you list the names of the tables in a schema, and get a `TableProvider` instance by table name.

In `datafusion v5` I've been using a custom implementation of `SchemaProvider` that creates `TableProvider`s lazily, upon first request. This all

[2022-02-09 05:43] matthewmturner commented on #1777
@yjshen also interested in your view - in particular on the `ObjectStore` point.

[2022-02-09 07:45] HaoYang670 commented on #1741
I con work on it if no one else has been doing!

[2022-02-09 11:11] #1788 closed

[2022-02-09 11:25] #1486 closed

[2022-02-09 11:43] Igosuki commented on #1750
@Jimexist could this lead to a smaller ballista client crate as well ? Potentially, this could greatly speed up compilation of programs who just want to be datafusion clients and not run the entire stack.

[2022-02-09 14:34] #1786 closed

[2022-02-09 14:36] #423 closed

[2022-02-09 14:36] #424 closed

[2022-02-09 15:48] Jimexist commented on #1750
i'm not sure as of now - but probably if we split up logical/physical planning further - but that won't happen soon

[2022-02-09 18:40] #1757 closed

[2022-02-09 18:53] alamb opened #1799 "Improve the error message and UX of tpch benchmark program"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When I run the command as suggested in

https://github.com/apache/arrow-datafusion/blob/alamb%2Fbetter_bench_ux/benchmarks/README.md#L1

It errors like this:

[code]

the issue is I am running from the `arrow-datafusion` directory but the program is looking for a file like `queries/1.sql` and

[2022-02-09 20:03] Igosuki commented on #1785
Avro module author here.

The code expects a non null value and instead got a struct. https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/avro_to_arrow/arrow_array_reader.rs#L771

I guess the code should be setting a null value instead. I haven't tested it on the arrow2 branch, which has much better performance for avro https://github.com/apache/arrow-datafusion/tree/arrow2

[2022-02-09 20:05] Igosuki commented on #1777
@matthewmturner I'd love to see PARTITION BY be implemented, which would output typical k=v partitions usable by the ListingTableProvider.

[2022-02-09 20:34] matthewmturner commented on #1777
@Igosuki  Agreed that would be great, I've added it to the list.

[2022-02-09 20:50] jorgecarleitao commented on #1785
fwiw I investigated this yesterday (thanks a lot for sharing a stub of the file, @joshuarobinson!). https://github.com/jorgecarleitao/arrow2/pull/826 enables reading this file (arrow2 did not support nested Record; now it does).

[2022-02-09 21:06] alamb commented on #1623
What do the plans look like if you do `EXPLAIN select count(distinct stop_name), trip_tid from stops group by trip_tid limit 10;`? Perhaps the optimizer is doing something non trivial to the plan

[2022-02-09 21:07] alamb commented on #1623
`EXPLAIN VERBOSE select count(distinct stop_name), trip_tid from stops group by trip_tid limit 10;` will tell you even more

[2022-02-09 21:12] alamb commented on #1750
Related comment: https://github.com/apache/arrow-datafusion/pull/1762#discussion_r802563462

[2022-02-09 21:39] Igosuki commented on #1785
Well, I guess I should patch the module on master until arrow2 becomes the default for avro.

[2022-02-09 21:42] Igosuki commented on #1777
And, probably, support writing metadata, both arbitrary and specific to datafusion like other apache engines do ?

[2022-02-09 23:22] xudong963 commented on #1777
The direct implementation of `COPY FROM` (copy data from a file to a table) is if a table exists, then we can create a new table from the file and `union` new table with the old table, otherwise, we can let the new table `union`s with an empty table with the same scheme.

BTW, we should make `sqlparser-rs` support those commands firstly.

[2022-02-09 23:37] matthewmturner commented on #1777
@xudong963 To confirm - does `COPY FROM` functionality already exist?  I'm not sure if i understood correctly, but I was focused on writing tables/dataframes from datafusion to files for this issue.

And definitely agree on checking `sqlparser-rs`. I will check that out.

[2022-02-09 23:40] xudong963 commented on #1777
No, looking forward to seeing it. I just describe my idea of how to implement it.

[2022-02-10 00:07] xudong963 commented on #1777
FYI @matthewmturner  https://github.com/sqlparser-rs/sqlparser-rs/pull/409/

[2022-02-10 03:53] matthewmturner commented on #1777
@xudong963 very helpful, thank you.

[2022-02-10 11:19] #1705 closed

[2022-02-10 11:23] mingmwang opened #1805 "Streaming style push-based shuffle and All-at-once stage scheduling in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A new feature enhancement

**Describe the solution you'd like**

Current Ballista’s shuffle implementation is very similar to Spark’s early version. It’s the hash-based shuffle solution where shuffle data is materialized to disks, each map task produces separate files for each reduce task. Fo

[2022-02-10 11:31] mingmwang commented on #1780
IMO, I think when a SQL is finished, all the immediate shuffle data can be cleared except for the result data.

[2022-02-10 13:25] jiacai2050 opened #1806 "Metadata of Arrow Schema is lost when converted to DFSchema"
**Describe the bug**

[code]
There is no place to keep metadata

**Expected behavior**
metadata should be kept during convert.

[2022-02-10 14:13] matthewmturner commented on #1777
@Igosuki Thx much.

Will keep you posted when I start working on this.

[2022-02-10 18:19] #1799 closed

[2022-02-10 20:10] #1708 closed

[2022-02-10 21:07] alamb commented on #1806
👍  this would be nice to fix

[2022-02-10 22:31] alamb commented on #1587
Here is a proposed changelog. https://github.com/apache/arrow-datafusion/pull/1807#

I guess it is probably time to cut a release branch. Does anyone know if we are waiting for anything else to be merged? @xudong963  @matthewmturner @Dandandan @houqp @Dandandan @Jimexist @andygrove ?

[2022-02-10 22:52] matthewmturner commented on #1587
@HaoYang670 did you get a chance to work on #1741?

@alamb its probably too late to have any impact for this release, but for my info, can we only do updates to the user guide / website (https://arrow.apache.org/datafusion/) when we have a release?  I figure any docs.rs update will have to be linked to a release.

Otherwise, okay for me.

[2022-02-10 22:54] alamb commented on #1587
No, we can update https://arrow.apache.org/datafusion/ (the hosted version of https://github.com/apache/arrow-datafusion/tree/master/docs) any time we want 👍

[2022-02-10 23:12] xudong963 commented on #1587
I take a quick look at our unmerged tickets, I think no. Thanks for your nice work! @alamb

[2022-02-11 01:07] HaoYang670 commented on #1587
I am working on https://github.com/apache/arrow-datafusion/issues/1741
these days. And I will file a PR today.

On Fri, 11 Feb 2022 at 06:52, Matthew Turner ***@***.***>
wrote:

[2022-02-11 01:16] HaoYang670 commented on #1741
https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/sorts/sort_preserving_merge.rs#L260

I got
[code]
when run `cargo doc`.
I am not sure what this link should be.

[2022-02-11 04:23] mingmwang commented on #1805
Add a design doc for further discussion.

https://docs.google.com/document/d/17J9H6gGBVktmRAFYNQu-v52QUUPlghRnVLIZC3mFYFY/edit?usp=sharing

[2022-02-11 04:45] xudong963 commented on #1805
Hi, @mingmwang , nice work!

You can open an RFC ticket if you are willing to, then we can discuss based on github. After we get the final version, we can merge it and save the RFC in our codebase. FYI, https://github.com/apache/arrow-datafusion/tree/master/docs/source/specification/rfcs

[2022-02-11 05:36] mingmwang commented on #1805
Can we discuss in the google doc or in this thread directly ? Everyone can comment on the google doc.
I will open a PR to cover all the related code changes so that everyone who interest can take a look and give me advice.

[2022-02-11 05:43] xudong963 commented on #1805
Both are ok, just a suggestion.

👍

[2022-02-11 06:57] selvavm opened #1809 "Cannot install ballista-scheduler"
**Describe the bug**
Getting error when installing `ballista-scheduler`

**To Reproduce**
Run `cargo install ballista-scheduler`

**Expected behavior**
Install successfully

**Additional context**
[code]

[2022-02-11 10:55] alamb commented on #1806
I am not sure we use the metadata attached to schema anywhere in datafusion. However, I think it is common for users of arrow or datafusion to put application specific information into that metadata (for example, IOx stores information about sortedness and other IOx specific things in the schema)

[2022-02-11 12:00] alamb commented on #1623
That is a cool optimization (it is in https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/optimizer/single_distinct_to_groupby.rs)  contributed by @ic4y

[2022-02-11 13:08] jiacai2050 commented on #1806
@alamb Yeap, my project also use metadata to keep application specific info.
I will try submit a PR fix this.

[2022-02-11 19:35] alamb commented on #1587
I am going to do a dry run today of publishing datafusion to crates.io (will use an 0.1.xx version to test)

[2022-02-11 19:53] alamb commented on #1587
I tested publishing `7.0.0-alpha` to crates.io using https://github.com/alamb/arrow-datafusion/tree/alamb/test_publish

then going into each crate like this:

 `cd datafusion-common && cargo publish`

* https://crates.io/crates/datafusion-common/7.0.0-alpha
* https://crates.io/crates/datafusion-expr/7.0.0-alpha
* https://crates.io/crates/datafusion/7.0.0-alpha

One thing I noticed is that `datafus

[2022-02-11 19:58] matthewmturner commented on #1587
I had thought about moving `datafusion-cli` to datafusion-contrib as well.  This does seem generally aligned with moving things out of the `datafusion` repo that arent actually `datafusion` (i.e. `datafusion-python`).  It does also seem reasonable to make `ballista` optional.

[2022-02-12 02:01] matthewmturner commented on #1587
@Jimexist That's a really good point - I have found it helpful as well. But couldn't we do something like the below in 'cargo.toml' from the datafusion-cli repo to achieve a similar experience? Not quite as convenient but I think it's close.

'''
[dependencies]
datafusion = { path = "../path/to/datafusion" }
'''

[2022-02-12 11:04] alamb commented on #1587
This is an excellent point @Jimexist  -- I use the cli extensively during debugging.

I think we could @matthewmturner  but I think that will effectively require people to have checked out the datafusion-cli repo any time they want to build datafusion; So if it is required to build datafusion,  the benefits of putting it in a separate repo seem pretty small 🤔

[2022-02-12 11:50] alamb opened #1813 "Automatically test doc examples in user guide"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

While preparing for the 7.0.0 release, I manually stumbled on to the fact that the example on https://arrow.apache.org/datafusion/user-guide/example-usage.html (and linked in the main crate's readme) didn't work! see https://github.com/apache/arrow-datafusion/pull/1812

**Describe the solutio

[2022-02-12 11:51] alamb commented on #1809
Thanks for the bug @selvavm

This looks very similar to https://github.com/dtolnay/quote/issues/204 (there is a workaround listed on that ticket)

[2022-02-12 12:03] alamb opened #1814 "User Guide Improvements (aka give the userguide some love)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The doc site https://arrow.apache.org/datafusion/ is the public face of DataFusion. While it currently has a great foundation / layout, the content is a bit out of date (and could always use more love)

Making DataFusion more accessible to new users would be great way to get involved with the

[2022-02-12 12:04] alamb commented on #1587
Filed https://github.com/apache/arrow-datafusion/issues/1814 to see if we can solict some more help for the doc site

[2022-02-12 12:08] alamb opened #1815 "Make `ballista` an optional dependency of `datafusion-cli`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We are trying to release a new version of datafusion (#1587 ) and we found that since we are not doing a parallel release of ballista, we can't release `datafusion-cli` because it depends on `ballista` -- see https://github.com/apache/arrow-datafusion/issues/1587#issuecomment-1036567915

**Des

[2022-02-12 12:09] alamb commented on #1815
I am going to take a shot at this to see how easy/hard it might be

[2022-02-12 12:33] alamb commented on #1587
https://github.com/apache/arrow-datafusion/pull/1816 <-- for optional ballista feature in `datafusion-cli`

[2022-02-12 12:43] alamb commented on #1587
🤔  I don't think  https://github.com/apache/arrow-datafusion/pull/1816 is sufficient to publish `datafusion-cli` to crates.io -- cargo still tries to resolve the dependencies of ballista (even though it is an optional dependency)

The only way I could get it to publish was to comment out the ballista dependency all together 8750db3bea 🤔

[2022-02-12 13:25] alamb commented on #1587
Update here: I would like to wait for the arrow 9.0.0 release to be published (later today or tomorrow) and then update datafusion to use it: https://github.com/apache/arrow-datafusion/pull/1775

Then I'll try and make a release candidate tomorrow or Monday

Its going to be great!

[2022-02-12 23:27] xudong963 opened #1818 "A corner bug in union"
**Describe the bug**
When union some `select constant1, contant2, ...` similar queries, union can't produce the result.

**To Reproduce**
[code]

**Expected behavior**
Let' see results from postgres:
[code]

**Additional context**
I have done an easy analysis, the followings are my thought to solve the issue:
1. We should fix the default name when the expr in projection doesn't have a name. Let's

[2022-02-12 23:41] xudong963 opened #1819 "beautify datafusion's site: https://arrow.apache.org/datafusion/"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
<img width="480" alt="image" src="https://user-images.githubusercontent.com/41979257/153732321-66147e08-f4b3-40e1-bb3a-5920774de021.png">

**Delete the blank**

[2022-02-13 13:03] HaoYang670 commented on #1623
I also test the sql: (removing `group by trip_tid`)
[code]
and there is no error appearing.

After debugging, I find that the function `DistinctCountAccumulator.merge_batch` is called from `group_aggregate_batch` when the sql containing `group by  trip_tid` and is called from `aggregate_batch` when removing `group by trip_tid`.
So I guess the bug is in the function `group_aggregate_batch` in `hash

[2022-02-13 14:54] matthewmturner opened #1820 "Improve Python API docs on DataFusion site"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
Currently, many of the core methods on python objects are missing signatures and expl

[2022-02-13 14:56] alamb commented on #1441
I reran the queries from @franeklubi :

# Setup
[code]

Now the results are consistent when using csv and parquet:

## Parquet
[code]

## Csv

[code]

Interestingly, the CSV results don't seem to have the `NULLS LAST` 🤔

[2022-02-13 14:57] #1441 closed

[2022-02-13 16:17] matthewmturner opened #1821 "Proposal: Restructure DataFusion site"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I am proposing to restructure the DataFusion site drawing some inspiration from the

[2022-02-14 06:56] Ted-Jiang opened #1823 "implement bitmap_distinct function using bitmap"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Like #1115 implement `u8, i8, u16, i16, u32, i32` by using bitmap called `bitmap_distinct`

**Describe the solution you'd like**
I will use `arrow-bitmap`  and [roaring-bitmap](https://github.com/RoaringBitmap/roaring-rs)  and check the performance of both

[2022-02-14 08:02] Ted-Jiang commented on #1823
i have implement a initial version get below result:
1million_rows_10thousand_distinct.parquet

[code]

the bitmap used is [this](https://github.com/RoaringBitmap/roaring-rs)
i have checked influx_iox use [croating-rs](https://github.com/saulius/croaring-rs)
@alamb Sorry to bother you 😂, could you share some info why use croating-rs, if you have a bench result that would be fantastic 👍  !

[2022-02-14 08:35] liukun4515 commented on #1823
Could you please file the draft of the pull request?
@Ted-Jiang

[2022-02-14 08:56] yahoNanJing commented on #1701
Hi @gaojun2048, which part are you interested in? Feel free to pick up some tasks.

[2022-02-14 11:43] alamb commented on #1821
In general, I like this idea / organization a lot. Thank you for writing it down @matthewmturner

My biggest piece of feedback / request for any reorganization is to ensure we keep the following content clearly delinated:
1. Content for those who want to *use* DataFusion in their project (examples, cookbook, etc)
2. Content for those who want to *develop* DataFusion

In particular I think it is ve

[2022-02-14 12:50] xudong963 commented on #1821
Thanks @matthewmturner, make sense to me!

[2022-02-14 14:28] alamb commented on #1587
I am actively working to create a release candidate for datafusion 7.0.0

[2022-02-14 14:33] carols10cents opened #1832 "Extract datafusion protobuf serialization into its own crate"
Hi, over in [influxdb_iox](https://github.com/influxdata/influxdb_iox), we have a need to serialize a data structure containing `datafusion::logical_plan::Expr`s using protobuf. [We have a solution](https://github.com/influxdata/influxdb_iox/pull/3707) inspired by the serialization in ballista.

We don't currently depend on ballista, though, and the datafusion-specific serialization might be usefu

[2022-02-14 14:43] alamb commented on #1587
@matthewmturner would you be willing to start a PR for a blog post:   https://docs.google.com/document/d/17uB1GIN58xOehQP5XpJH8J3qA7KDS1WQJzyHzW7L1kU/edit?usp=sharing ?

The DataFusion 6.0.0 announcement is here for reference:  https://github.com/apache/arrow-site/pull/160

[2022-02-14 14:49] matthewmturner commented on #1587
Sure - will do now!

[2022-02-14 14:53] carols10cents opened #1833 "OctetLength in protobuf is getting deserialized to length, not octet_length"
**Describe the bug**

[`protobuf::ScalarFunction::Octetlength` is getting deserialized to the `length` function](https://github.com/apache/arrow-datafusion/blob/ca765d54dda6114da55ece8d876c042eca3ea870/ballista/rust/core/src/serde/logical_plan/from_proto.rs#L882-L883), which seems wrong. Unless I'm missing something, `octet_length` and `length` are different functions.

I don't have a test case fo

[2022-02-14 14:58] alamb commented on #1587
Official mailing list post with all the details is here: https://lists.apache.org/thread/t8381y8x1t452dvqr3y7h85q4dncvwrx

[2022-02-14 15:01] alamb commented on #1819
❤️

[2022-02-14 15:02] #1778 closed

[2022-02-14 15:02] xudong963 commented on #1587
Thanks, @alamb @matthewmturner <https://github.com/matthewmturner>!

Matthew Turner ***@***.***> 于2022年2月14日周一 22:58写道：

[2022-02-14 15:07] alamb commented on #1832
I think this sounds like a good idea to me as it will allow other projects to serialize DataFusion structures if they desire. Thank you @carols10cents for opening the issue

I believe @thinkharderdev  is also working on some changes related to serialization so perhaps they have some thoughts too.

One way to split up these crates might be to keep the datafusion and ballista bits separate:

[code]

[2022-02-14 15:11] alamb commented on #1710
Thanks @OscarTHZhang . Note that as @mkmik  points out, we haven't changed how identifiers are named from csv files. So if your CSV file has a column named `Foo` to query it you will have to use `"Foo"`. `foo` will not work.

[2022-02-14 17:59] thinkharderdev commented on #1832
I think this makes sense. There are certainly other situations outside of Ballista where it may be useful to serialize plans.

[2022-02-14 21:44] alamb commented on #1818
Nice find @xudong963

This sounds like the problem to me -- perhaps we need to add a special "does this schema match for the purposes of union" type check 🤔

Another thought I had would be to add `LogicalPlan::Projection` to map the names of union inputs to be compatible (assuming that the types are the same). Something like this perhaps:

Plan now;
[code]

use a `Projection` to remap the names:

[2022-02-14 23:02] realno commented on #1832
+1 It sounds reasonable to create a crate instead of depending on Ballista.

[2022-02-15 03:54] Ted-Jiang commented on #1780
@houqp  @mingmwang It sounds very reasonable , i thinks this will handles some error cases for robustness.
 IMHO, keep both of them and create a separate  issue to capture for future improvement (maybe after separate shuffle data and result data).

[2022-02-15 04:40] yahoNanJing opened #1835 "Implement physical plan for IN Subquery"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Implement subqueries like

[code]

**Describe the solution you'd like**
It would be nice to use a SEMI join for this, something like

[code]

**Describe alternatives you've considered**

**Additional context**

[2022-02-15 04:41] yahoNanJing commented on #1209
Hi @xudong963, could you add #1835 to your list?

[2022-02-15 04:48] xudong963 commented on #1209
I think it has already had.
![image](https://user-images.githubusercontent.com/41979257/153994402-116bd298-102c-4140-a12f-b6b290d702b3.png)

After https://github.com/apache/arrow-datafusion/pull/1649 is finished, the `IN` subquery can be easy to add.

[2022-02-15 05:30] matthewmturner opened #1836 "Register multiple tables into `ExecutionContext` at once"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I want to make it really easy to register multiple tables in a directory into a `Exe

[2022-02-15 05:32] matthewmturner commented on #1836
@seddonm1 @alamb @houqp im interested in your thoughts on this.

[2022-02-15 06:13] Ted-Jiang commented on #1823
Test result of use `roaring-rs` and `croaring-rs` (use same logic: insert one value one time)

1million_rows_10thousand_distinct.parquet
[code]

1million_1million.parquet
[code]

[2022-02-15 06:15] #1833 closed

[2022-02-15 07:52] seddonm1 commented on #1836
Given that some of the API is still changing (like https://github.com/apache/arrow-datafusion/pull/1779) - which in my head means that requirements are not fully understood - I would be tempted to leave the current API. Maybe this request could stay open for a while as people try the ObjectStore abstractions?

[2022-02-15 09:42] matthewmturner commented on #1836
Just to clarify - this would be for a new API. Existing one would remain unchanged.

[2022-02-15 09:58] Igosuki commented on #1836
I think what you're looking for is defining 'namespaces' or 'databases' rather than prefixes, which could then be :

[code]

[code]

[2022-02-15 13:42] matthewmturner commented on #1836
Indeed, that does basically look like the functionality I am looking for and looks like a nicer API.

[2022-02-15 18:22] alamb commented on #1767
I think this comes from https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/file_format/parquet.rs#L230

We can probably adapt a similar approach as taken in `RepartitionExec` https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/repartition.rs#L412-L449 with an extra task that handles a panic (join handle returning null) and sends a `E

[2022-02-15 20:04] #1815 closed

[2022-02-15 20:49] alamb commented on #1767
I'll take a stab at this

Also, as noted by @Dandandan  / @andygrove  in the slack channel, the #1617  may make this redundant anyways

[2022-02-15 21:10] alamb commented on #1836
DataFusion has a notion of `Catalog` and `Schema` (thanks @returnString  👋 ) now that seems similar to what you are describing.

Here is an example of how it is used:

https://github.com/apache/arrow-datafusion/blob/e5f69695da103ceab60f8410d129e4e7a2d5bca7/datafusion/src/execution/context.rs#L3160-L3191

So in the example @Igosuki  provided, you would create a schema called "active" and register `

[2022-02-15 21:15] alamb commented on #1823
IOx is using croaring for its "ReadBuffer" (an optimized in memory format we use rather than straight up RecordBatches).
@e-dard  is the expert. There is more information from the Feb 2 2021 tech talk: https://github.com/influxdata/influxdb_iox/tree/main/docs#iox-tech-talks

Specifically:
Recording:  https://www.youtube.com/watch?v=KslD31VNqPU
Slides: https://www.slideshare.net/influxdata/influxdb

[2022-02-15 22:56] matthewmturner commented on #1836
@alamb thank you for that info - it looks great.

I'm wondering if it makes sense to add a method to `ObjectStore` to facilitate creating a `Schema` or `Catalog`.  I made an issue in `datafusion-objectstore-s3` to look into this and play around with the API.  Of course if any part of that makes sense to bring back into `datafusion` I can make a PR here.

Thx for the feedback @Igosuki @seddonm1.  L

[2022-02-15 23:41] alamb opened #1840 "Ballista standalone mode tests fail: `context::tests::test_task_stuck_when_referenced_task_failed`"
**Describe the bug**
The following ballista test is failing (not sure when it started failing given the tests weren't run in CI until #1839 )

[code]
**To Reproduce**
Get the code from https://github.com/apache/arrow-datafusion/pull/1839 and run

[code]

**Expected behavior**
Test should pass

**Additional context**
Add any other context about the problem here.

[2022-02-16 07:19] Ted-Jiang commented on #1840
@alamb  plz assign this to me

[2022-02-16 07:20] #1651 closed

[2022-02-16 07:20] #1767 closed

[2022-02-16 07:34] Ted-Jiang commented on #1840
i reproduce in my local.

[2022-02-16 11:08] Ted-Jiang commented on #1840
@gaojun2048  i think this `test_task_stuck_when_referenced_task_failed` UT will get error, is this your purpose?

[2022-02-16 11:25] #1703 closed

[2022-02-16 12:02] returnString commented on #1836
Yeah, my intent when adding the catalog/schema abstractions initially was to support exactly this use case 😊 You can compose an execution context with any crazy combination of catalog/schema providers (e.g. @alamb built a wrapper catalog that automatically builds an `information_schema` based on your _real_ catalog) which can then provide arbitrary `TableProvider` instances for actual planning/exe

[2022-02-16 14:20] alamb commented on #1836
Maybe it is worth spiking / prototyping out what facilities you imagine adding to the object store @matthewmturner

Maybe something like this to create in memory catalogs could help lower the barrier to creating catalogs:

[code]

[2022-02-16 15:36] Jimexist opened #1844 "split datafusion-physical-expr module"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

part of:
- #1750

**Describe the solution you'd like**
A clear and concise descripti

[2022-02-16 23:56] matthewmturner commented on #1836
@returnString thanks for your work to enable this! it's going to be very helpful on these next steps.

One question, what would be an example of an implementer of `CatalogProvider` or `SchemaProvider` traits that doesnt end up essentially being a `MemoryCatalogProvider` or `MemorySchemaProvider`?  I would have thought these could have been a struct but I'm probably missing something.

As some addi

[2022-02-17 05:24] #1844 closed

[2022-02-17 05:46] Ted-Jiang commented on #1823
@e-dard Thanks a lot for your info! What an admirable work in IOX.

[2022-02-17 09:53] viirya opened #1847 "Use DictionaryArray's iterator in `compare_dict_op`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-02-17 09:55] viirya commented on #1847
oops, i wanted to create on arrow-rs but wrongly put here..

[2022-02-17 09:55] #1847 closed

[2022-02-17 10:22] mingmwang opened #1848 "settings in ExecuteQueryParams is omitted by the Ballista's scheduler.execute_query(), cause wrong partition count"
**Describe the bug**

The issue is caused by the changes [1677](https://github.com/apache/arrow-datafusion/pull/1677)
which always use the ExecutionContext from the SchedulerServer.

Before the change, run TPCH benchmark Q1 on Ballista:

[2022-02-16T08:47:59Z INFO  ballista_scheduler] Adding stage 1 with 1 pending tasks
[2022-02-16T08:47:59Z INFO  ballista_scheduler] Adding stage 2 with 2 pending

[2022-02-17 10:29] mingmwang commented on #1848
@thinkharderdev Please take a look.

[2022-02-17 10:47] mingmwang commented on #1848
I think we need to introduce a session level state to hold any session specific configurations instead of global shared ExecutionContext/ExecutionContextState. We might have a shared Ballista Scheduler, different users might submit SQLs with different sql configurations or shuffle settings.

[2022-02-17 11:25] alamb commented on #1836
Here is an example of `CatalogProvider` from IOx: https://github.com/influxdata/influxdb_iox/blob/be662ec7318e83fc54f8a6e942a3dc8abbc84bc4/db/src/access.rs#L316

Here is an example of a `SchemaProvider` (from IOx) that is used to provide some virtual system tables: https://github.com/influxdata/influxdb_iox/blob/d9f331ba2ae3885497c480a5e5b6940698ae0f63/db/src/system_tables.rs#L106-L134

The main u

[2022-02-17 11:32] thinkharderdev commented on #1848
Will do. I think there are a couple of different ways we can approach this:

1. Have the client specify a namespace in the request and use a `ExecutionContext`-per-namespace on the scheduler. We could then dynamically create new contexts whenever a new namespace comes in.
2. Have the scheduler dynamically set target partitions based on executor statistics (e.g. number of available task slots). Thi

[2022-02-17 11:33] thinkharderdev commented on #1848
Also, good catch! Apologies for overlooking this.

[2022-02-17 11:33] alamb commented on #1836
It seems to me that if your goal is to basically do some object store calls, get the list of files from S3 and then build a catalog from that snapshot the memory provider / builder is probably the simplest route to take

However, if you want to do more sophisticated things (like, for example, not traverse the s3 directory / prefix structure up front and do it more on demand) a specialized implemen

[2022-02-17 11:56] yjshen opened #1850 "Introduce JIT code generation for performance improvement"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
With JIT codegen, we could generate specific code for each query to reduce branching overhead from the generalized interpret mode execution. Furthermore, we could reduce the memory footprint during the execution by chaining multiple Arrow compute kernels together and reusing the intermediate v

[2022-02-17 14:44] carols10cents opened #1852 "ballista-core allows unused imports"
**Describe the bug**

The `ballista-core` crate [is allowing unused imports in the whole crate](https://github.com/apache/arrow-datafusion/blob/67fe623bd5882d0ce567e3aa3145a96fdf563443/ballista/rust/core/src/lib.rs#L19), so there are many `use` statements throughout that aren't actually needed and are showing dependencies where none exist.

I think people working on the crate since that annotation

[2022-02-17 14:55] alex-natzka opened #1854 "Aggregation incorrect in case that GROUP BY contains duplicate (unqualified) column names"
**Describe the bug**
When the GROUP BY statement of a SELECT query contains two different column names with the same unqualified name (e.g. `table1.col1` and `table2.col1`), the aggregation result is wrong: one of the columns is not used to create groups; the groups from the other column get copied into the column that was not used.

This happens e.g. when aggregating over the results of a JOIN. A

[2022-02-17 15:09] alamb commented on #1587
The release was approved and published 🎉

Mailing list thread is here: https://lists.apache.org/thread/hcpcf3shlt0l3fm2k313tq1tvrczlowf

The release is available here:
  https://dist.apache.org/repos/dist/release/arrow/arrow-datafusion-7.0.0

I have also published it to crates.io here:
https://crates.io/crates/datafusion/7.0.0

[2022-02-17 17:15] selvavm commented on #1809
@alamb thanks for the response. From the issue you mentioned, it looks like I will have to hardcode the quote version in `ballista/rust/core/cargo.toml`. Is this the workaround you meant?

if yes, I am not sure how I can do a `cargo install`

[2022-02-17 18:54] Dandandan opened #1857 "Read Arrow Files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It would be great if we could read arrow files.

**Describe the solution you'd like**
Implement an ArrowExec and methods like those to register arrow tables.

**Describe alternatives you've considered**
-

**Additional context**
 -

[2022-02-18 01:49] Igosuki opened #1859 "UInt8 isn't enough for partitioning values"
**Describe the bug**
I hit a limitation in the PartitionColumnProjector, when there are too many partition values. Changing dictionary keys to UInt16 made it work.

**To Reproduce**
Steps to reproduce the behavior:
For instance, I modified the test in `parquet_multiple_partitions` in module `path_partitions` like this :
[code]
At 200 it runs, at 2000 it fails.

**Expected behavior**
Datafusion sho

[2022-02-18 01:55] matthewmturner commented on #1836
@alamb thanks much for explanations.  I've been giving this some thought and came up with a potentially simple solution for a first step that would facilitate adding tables to a schema from an `ObjectStore`.

What if we update `MemorySchemaProvider` to look like the following:
[code]

then we add the following methods (either to `SchemaProvider` trait or just to `MemorySchemaProvider`:

[code]

Th

[2022-02-18 02:24] yjshen opened #1861 "[Epic]: Complete ROW Format (Missing features)"
**Goal: a complete row implementation, fully used in pipeline breaker operators when possible.**

**Summary**
TLDR: The key focus of this work is to speed up fundamentally row oriented operations like hash table lookup or comparisons (e.g. [#2427](https://github.com/apache/arrow-datafusion/issues/2427))

**Background**

DataFusion, like many Arrow systems, is a classic "vectorized computation engi

[2022-02-18 03:00] mingmwang commented on #1848
I would prefer to let the users choose the target partition at the current phase. Target partition should not be changed too dynamically, otherwise the runtime distributed physical plan will not be stable and could introduce additional shuffle exchanges. In future we might add some kind of adaptive methods to adjust the target partition size based on input/output data volume.

[2022-02-18 03:08] mingmwang commented on #1848
Beside the target partition count, I think there are couple of other configuration options that could be specified by the users and can be changed dynamically, for example, batch_size, parquet_pruning, repartition_windows etc.

I searched the open issues and found there are couple of configuration related issues that are still open.

[138](https://github.com/apache/arrow-datafusion/issues/138)
[68

[2022-02-18 04:01] mingmwang opened #1862 "Refactor ExecutionContext and related conf to support multi-tenancy configurations."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Fixe [1848](https://github.com/apache/arrow-datafusion/issues/1848)
Address [138](https://github.com/apache/arrow-datafusion/issues/138) and [682](https://github.com/apache/arrow-datafusion/issues/682)

(This section helps Arrow developers understand the context and *why* for this feature, in

[2022-02-18 04:03] mingmwang commented on #1862
@andygrove @alamb @thinkharderdev

[2022-02-18 04:55] houqp commented on #1862
The change makes sense to me over all :+1: Only nitpick is I think SQLConfig is not a good name for the following two reasons: 1) target partition and batch_size are not SQL specific configs 2) I think it would be better to design the system so that SQL is just a subset of the features that are supported by ballista, in the long run, I consider ballista a distributed compute framework that can exe

[2022-02-18 10:42] PierreZ opened #1864 "Add a DataFusion example capable of retrieving data from a custom datasource"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'm currently playing with DataFusion to see if we can use it as a query execution runtime over a custom datasource. I could not find some documentation and/or examples on which traits should I be implemented in order to query data from a custom datasource.

**Describe the solution you'd like

[2022-02-18 10:56] thinkharderdev commented on #1862
I think we need a way to allow the registration of custom optimizers, udfs, etc at startup. Part of the rationale for https://github.com/apache/arrow-datafusion/pull/1677 was to create a global `ExecutionContext` at startup that could serve as a hook to register extension object stores, planners, optimizers and udf/udaf (i.e. that we can use all the extensible features of DataFusion with Ballista)

[2022-02-20 07:38] #1536 closed

[2022-02-21 00:00] houqp commented on #1864
@PierreZ https://github.com/delta-io/delta-rs/blob/2fa81c611e74235c13e5d27813d2e9d815d10ad9/rust/src/delta_datafusion.rs#L218 is an example of how to implement a custom datasource for datafusion through the `TableProvider` trait. This is the most efficient and recommended way.

There is also a less involved hack, which is to read the data from your custom source into in memory Arrow record batches

[2022-02-21 00:02] houqp commented on #1864
@GavinRay97 here is an example of how you can translate graphql queries into datafusion logical plans and execute these plana on any datasource that's supported by datafusion: https://github.com/roapi/roapi/blob/cd271c65ac0769e41974f4c1cfe8499ab8e59bed/columnq/src/query/graphql.rs#L183.

[2022-02-21 00:05] GavinRay97 commented on #1864
@houqp Wow, thank you so much!

[2022-02-21 00:29] houqp commented on #1809
If we check in a lock file for ballista scheduler and other binary crates, then we can use `cargo install --locked` to install with all dependencies pinned to a specific version.

[2022-02-21 07:06] PierreZ commented on #1864
Thanks a lot @houqp! That will help me a lot :smile:

Are you still interested for the example?

[2022-02-21 07:30] houqp commented on #1805
The design looks good to me, thanks for writing it up @mingmwang , left a minor question in the doc.

[2022-02-21 07:31] houqp commented on #1864
Yes, I think it would be helpful to have a simplistic example in our user doc :) At the very minimal, we could point to our memtable implementation if coming up with a simple example takes too much work.

[2022-02-21 13:30] joshuarobinson commented on #1785
thanks for the quick responses. I've managed to work around the issue with avro-rs module for the time being and I'll look for new releases :)

[2022-02-21 15:30] matthewmturner commented on #1777
From what I see it looks like only the execution context can write files right now - let me know if im mistaken.  I think it makes sense to add write functionality to dataframes as well.  I've added to the list.

[2022-02-21 16:18] GavinRay97 commented on #1864
I had a read through the source of the `TableProvider` trait here:
https://github.com/apache/arrow-datafusion/blob/0b1bef123acc5f46f225950d13f296104a543727/datafusion/src/datasource/datasource.rs#L58-L96

Maybe a dumb question -- but I see that `project()` and `filter()` are part of the interface, but not `join()` or similar.
In relational algebra, is a join considered a specialized `project`, or

[2022-02-21 17:11] Igosuki commented on #1785
@joshuarobinson if you want, you can use the arrow2 branch, it's the one I use to read avro

[2022-02-21 21:17] houqp commented on #1864
join is an operator that operates on two tables, but the table provider trait is an abstraction for a single table source, that's why it doesn't make sense to push down join into the scan method. join push down need to be implemented at a higher level, for example, as a custom extension plan node: https://github.com/apache/arrow-datafusion/blob/0b1bef123acc5f46f225950d13f296104a543727/datafusion/s

[2022-02-22 02:23] houqp commented on #1818
I agree, if this is only happening to union, realigning the column names for anonymous columns during union planning would be a better fix.

[2022-02-22 04:44] matthewmturner commented on #147
Cross post from slack:

I’m working on updating datafusions db-benchmark results based on datafusion v7.  i just got a first cut of the results compared to what i produced a couple months ago.  i was planning on finalizing the analysis before sharing but i wanted to provide a preview as i may not have time to finish for a day or two.  this was produced using datafusion-python on an M1 Macbook.

on

[2022-02-22 04:53] matthewmturner opened #1870 "Add a script for running full db-benchmark suite"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
I've been working on db-benchmark and think it would be valuable to automate the full

[2022-02-22 06:25] matthewmturner opened #1871 "CREATE EXTERNAL TABLE sql should check if table exists before doing IO"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
I was using datafusion-cli to test some sql queries on a large csv (for db-benchmark)

[2022-02-22 06:51] matthewmturner opened #1872 "Add option to datafusion-cli to execute SQL from file and keep session open"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I would like to be able to write DDL statements once and save them to a file that co

[2022-02-22 06:52] PierreZ commented on #1864
I should be able to make two examples:

* one with a dummy implementation of `TableProvider`,
* The other with `MemTable`

I'm not sure if I will do the example with the index, as i have no idea on how to do this, but those two above should be easy enough :smile:

[2022-02-22 07:04] matthewmturner commented on #1872
@Jimexist FYI - as you've shown interest in datafusion-cli topics in the past.

[2022-02-22 07:16] hntd187 commented on #1544
Just an update I am still working on this, I've just been inundated with work so my progress had been slower than I'd like. I don't have any of the larger parts in a working state yet, but I am working on stream state management and sort merge joins right now.

[2022-02-22 19:33] gsheni opened #1873 "Formatting error on documentation for Python"
- There is a minor formatting error on the Python page:
<img width="347" alt="Screen Shot 2022-02-22 at 2 33 09 PM" src="https://user-images.githubusercontent.com/8726321/155205452-3f9ac1ea-2f04-4d59-92ae-d2c325aebb62.png">

[2022-02-23 02:33] matthewmturner commented on #147
Another cross post from slack

This is the latest with the new groupby queries (6 and 9) included:
[code]
Only about half(5) of the engines benchmarked even complete these so that already puts us in a pretty good spot.  However, of those that do complete it we are on the slower side - about tied with the current slowest.
however as @Dandandan  noted this is without some optimizations in place.  im

[2022-02-23 02:58] matthewmturner commented on #147
@realno FYI see above for latest - as i know you expressed a specific interest in this.

[2022-02-23 03:02] realno commented on #147
I am actually reading this and the slack channel, lol :D Thanks @matthewmturner for the update and progress! I will definitely participate in optimization as much as I can. This is a great start!

[2022-02-23 04:43] matthewmturner commented on #147
@realno oh and I had an issue with the approx_median function. I ended up having to use the quantile function instead. I didn't really get the chance to look into it though.

[2022-02-23 04:51] realno commented on #147
I will look into it. If you can gather some info and create an issue please tag me on it. Thanks!

[2022-02-23 07:03] #1873 closed

[2022-02-23 07:04] mingmwang commented on #1872
I'm working on the ExecutionContext -> SessionContext refactoring now. We will have a clear session concept in the system.

https://github.com/apache/arrow-datafusion/issues/1862

[2022-02-23 07:25] houqp commented on #1864
that sounds good to me, thanks a lot for the help @PierreZ :+1:

[2022-02-23 08:00] mingmwang commented on #1862
I'm working on it now, the PR is quite huge. Need to make execution plan session config aware.
Below are some sample code snips:

In the ExecutionPlan trait, I add two methods, and each ExecutionPlan need to add the session_id as its member.

[code]

And  RuntimeEnv is changed to a global singleton structure. It was created at the very beginning when Executor or Scheduler is firstly initialized in

[2022-02-23 21:28] hntd187 commented on #1544
Also, @matthewmturner I know I agreed that we'd agree upon a general streaming interface here for DataFusion, I have a general idea of what that might look like, how do you want to formalize discussion so maybe I can split that component off so I can still make sure I make good on my Q1 agreement for that interface.

[2022-02-23 23:23] matthewmturner commented on #1544
I think that @yjshen has lead the way with some great examples on designing new features like this with his work on `ObjectStore` and `MemoryManager`.  Below are the two docs he drafted for that which i think worked really well for collecting feedback from the community and memorializing the design.  Given we are are still at a fairly early stage, and if it isnt too much work on your side, do you

[2022-02-24 05:17] #1850 closed

[2022-02-24 16:46] matthewmturner opened #1877 "Improved schema and catalog support from SQL"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Right now there is limited schema and catalog support in sql.  You have to be using

[2022-02-24 17:21] matthewmturner commented on #1877
@houqp @Jimexist FYI - so you have an idea where im trying to go...im trying to make datafusion-cli a really quick and powerful tool for doing ad hoc data analysis / query testing - and i think improved catalog & schema support will help with that.  Through a combination of this, #1872, and im hoping to also eventually add an s3 feature (but i have plenty to work on before that) i hope to achieve

[2022-02-25 02:57] JasonLi-cn opened #1879 "CoalesceBatchesStream poll_next_inner function bug"
**Describe the bug**
SQL: select * from table where col1 = 'datafusion' limit 10;
Some files are still being read after the result is returned。

Because：
[https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/coalesce_batches.rs](url)
CoalesceBatchesStream poll_next_inner function has a loop logic, when sync table scan stream don't return Poll::Pending(eg. Parquet), w

[2022-02-25 03:02] HaoYang670 opened #1880 "`cargo clippy` fails on the `master` branch"
**Describe the bug**
After update `rustup` to the latest version `rustc 1.59.0`, running `cargo clippy` on master branch fails.

**To Reproduce**
1. update rustup to the latest version ` rustc 1.59.0`
2. run `cargo clippy --all-targets --workspace -- -D warnings` on `master` branch
3. build failed

**Expected behavior**
No error.

**Additional context**
Found the bug from #1878
Same error in arrow

[2022-02-25 03:02] HaoYang670 commented on #1880
@houqp

[2022-02-25 03:45] houqp commented on #1880
This happens on almost every rust release :D @HaoYang670 please feel free to send a PR to fix those warnings.

[2022-02-25 07:03] gaojun2048 opened #1882 "UDF/UDAF plugin"
Now we cannot use UDF and UDAF in ballista because ballista cannot know how to serialize and deserialize UDF / UDAF.
We are using Trino. Referring to the practice of Trino, we can realize the plug-in of UDF through the way of rust dynamic library. In this way, ballista and datafusion only need to know the plug-in interface of UDF, and they can work without knowing the specific implementation of UD

[2022-02-25 12:19] #1880 closed

[2022-02-26 14:30] gaojun2048 commented on #1805
It's great!

[2022-02-26 20:08] andygrove opened #1890 "Add support for SQL coalesce function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like DataFusion to support the `coalesce` SQL function.

Here is the [Postgres documentation](https://www.postgresql.org/docs/8.1/functions-conditional.html) for this function:

## 9.13.2. COALESCE

[code]

The COALESCE function returns the first of its arguments that is not null. Null

[2022-02-27 12:57] Igosuki commented on #1882
Hi, really cool stuff. I use dtolnay/inventory on my project, but it has a known issue where one cannot guarantee that symbols won't get mangled from statically compiled code by llvm. Stuff got stirred and the core team reacted https://github.com/rust-lang/rust/issues/47384 but it's not solved yet.
Can we guarantee here that statically compiled plugins won't end up forgotten in binaries ?

Secondl

[2022-02-27 14:01] #1854 closed

[2022-02-27 14:02] #1852 closed

[2022-02-27 14:35] gaojun2048 commented on #1882
在https://github.com/apache/arrow-datafusion/pull/1881这个pr中，我参考了https://adventures.michaelfbryan.com/posts/plugins-in-rust/和https://michael-f-bryan.github.io/rust-ffi-guide/dynamic_loading.html 这两篇文章来设计UDF Plugin，这个想法要求插件的crate-type必须是cdylib. 通过初步的测试来看并没有出现statically compiled plugins won't end up forgotten in binaries的问题。

对不起，我对python并不是太熟悉，如果你愿意，你可以帮忙实现datafusion python相关的代码。

谢谢

In the PR: http

[2022-02-28 03:52] doki23 commented on #1469
I wanna take this issue, can I?

[2022-02-28 07:12] HaoYang670 opened #1894 "Rust version requirement is not mentioned in the developer's guide."
**Describe the bug**
In the developer's guide, there is no mention of which version of Rust is required.

**Expected behavior**
We should add something like
[code]
in the `Bootstrap environment` part, because we always use the latest stable version of Rust to test this project.

[2022-02-28 10:25] Ted-Jiang opened #1896 "Implement EXTRACT expression with week, month, day, hour"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]

**Describe the solution you'd like**
implement like postgresql :
[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

pg start with 1
[code]

[2022-02-28 17:38] GavinRay97 opened #1897 "Postgres `ARRAY_AGG(JSON_BUILD_OBJECT())` equivalent? Possible with `struct` SQL operator?"
Curious whether it's possible to write SQL queries that do nested JSON selections in Datafusion.
IE, something like the below:

[code]

Thank you =)

[2022-03-01 07:45] PierreZ commented on #1864
I just made [some examples](https://github.com/PierreZ/arrow-datafusion/commit/cf5aace1bcb5316dc3e49a8199bdcec61f2872cc), but I'm pretty sure we could improve them. Should I just open the PR for review?

I didn't implement my manual-index lookup I was refering at the beginning of the issue because:

* It looks rather complex for an example,
* I have no idea on how to represent it.

Not sure I'm ri

[2022-03-01 11:42] #1770 closed

[2022-03-01 15:28] alamb commented on #1836
Sorry for the late reply here -- I have been away and am catching up on my notes.

The only hesitation I have with the proposal you lay out is that it will put an `ObjectStore` in all `MemorySchmaProvider`s that may / may not make sense. It might be better to make an entirely new schema provider (`ObjectStoreSchemaProvider` perhaps?) with the functionality you describe -- I will try and look at th

[2022-03-01 17:11] alamb commented on #1862
I am sorry for the late review.

So we have something like this in IOx where we have context we want to use and pass down when we run plans using DataFusion and it supports multi-tenancy quite well. The approach we went with is to create a `Executor` struct [code](https://github.com/influxdata/influxdb_iox/blob/main/query/src/exec.rs)  that contains the `DiskManager` and `MemoryManager` which crea

[2022-03-01 21:28] matthewmturner commented on #1836
I hear your point - it would be unnecessary in the cases that it is not used.  Fine on my end to have the functionality in a `ObjectStoreSchemaProvider`

[2022-03-02 03:31] Ted-Jiang opened #1900 "support extract second and minute in expr."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-03-02 05:45] HaoYang670 opened #1902 "Update `rust-version` to 1.59"
**Describe the solution you'd like**
update `rust-version` from 1.58 to 1.59.

**Additional context**
https://blog.rust-lang.org/2022/02/24/Rust-1.59.0.html

[2022-03-02 07:02] NaincyKumariKnoldus commented on #1902
hey @HaoYang670 can i do this?

[2022-03-02 07:34] HaoYang670 commented on #1902
Sure, go ahead!

[2022-03-02 10:57] #1614 closed

[2022-03-02 12:01] msathis commented on #1890
I can take this up if no one is working on it already.

[2022-03-02 16:26] #1902 closed

[2022-03-02 21:10] matthewmturner opened #1906 "Add `\i` command to datafusion-cli"
Taking inspiration from`psql` , it implements a `\i` command (not a command line argument) for this usecase. It *includes* a file:

https://www.postgresql.org/docs/13/app-psql.html

It appears that mysql has a similar command `source` or `\.` that does the same thing

https://dev.mysql.com/doc/refman/8.0/en/mysql-batch-commands.html

Thus I would recommend implementing a `\i` command (and possibly

[2022-03-03 07:53] yahoNanJing opened #1908 "[Ballista] Refactor ballista scheduler server"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently the ballista scheduler mod messes everything up in the lib file, which is not good for code reviewing.

**Describe the solution you'd like**

It's better to reorganize the scheduler contents as following:
- external_scaler, for exposing scheduler internal metrics
- grpc, for grpc se

[2022-03-03 08:01] yahoNanJing opened #1909 "[Ballista] Refactor the event channel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently there're many places leveraging event channel for event-based processing. Many parts can be reused.

**Describe the solution you'd like**

It's possible to extract common things.
- EventAction<E> for common trait
- EventLoop<E> for common struct

**Additional context**
#1704

[2022-03-03 08:01] yahoNanJing commented on #1704
It's quite a big change to achieve all of this. The whole change will be divided into the following tasks:
1. #1908
2. #1909

[2022-03-03 09:36] yahoNanJing opened #1910 "[Ballista] Refactor scheduler state"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently the ballista scheduler state mod messes many things up in the mod file, which is not good for code reviewing.

**Describe the solution you'd like**

It's better to reorganize the scheduler contents as following:
- backend, for persisting states in some storage
- in_memory_state, for

[2022-03-03 14:04] tustvold opened #1915 "LIKE operator incorrectly handles newlines"
**Describe the bug**

The LIKE operator doesn't appear to behave correctly with strings containing newlines

**To Reproduce**

[code]

The regex passes, but the LIKE expression which should be equivalent does not

**Expected behavior**

The test should pass

[2022-03-03 14:19] alamb commented on #1915
This will likely require a fix in the arrow kernel. Datafusion just calls functions `like_utf8` etc here:
https://github.com/apache/arrow-datafusion/blob/master/datafusion-physical-expr/src/expressions/binary.rs#L47-L51

https://docs.rs/arrow/9.1.0/arrow/compute/kernels/comparison/fn.like_utf8.html

[2022-03-03 14:22] #1894 closed

[2022-03-03 19:17] alamb opened #1916 "Discussion: Is Ballista a standalone system or framework"
This ticket is to try and pull some of the great discussion from https://github.com/apache/arrow-datafusion/pull/1881 into a ticket to try and get consensus on a topic that is larger than user defined functions (the topic of #1881 )

The main question is about how Ballista is/should be used. Is it a framework like DataFusion or a standalone system (like Spark)? The answer to this question would he

[2022-03-03 19:29] alamb commented on #1916
For what it is worth, my mental model is similar to @gaojun2048  -- that DataFusion is mostly designed to be a library to build other systems -- for example the `datafusion-cli` and `datafusion` python bindings are in my mind "systems" built on datafusion. I realize the line is a little blurry here as pointed out by @realno  and that DataFusion itself has some things I would normally expect to liv

[2022-03-03 19:44] #1900 closed

[2022-03-03 19:50] thinkharderdev commented on #1916
I agree that the goal should be for Ballista to be a standalone system (or at least something that CAN be deployed as a standalone system), but one of the unique and valuable aspects of DataFusion is the extensibility. It is a really important differentiator to other solutions in this space and I think we should ensure that the extensibility of DataFusion extends to Ballista.

[2022-03-03 20:56] andygrove commented on #1916
I also agree that Ballista should be a standalone system, with a client API that can be used as a library.

[2022-03-04 00:42] Igosuki commented on #1916
Extensibility is a major selling point, the only thing I'd be worried about is having stable interfaces.
As for Ballista my only problem right now is that I have to embark the entirety of datafusion as a library to be able to send even the simples sql query using the client.

[2022-03-04 01:54] viirya opened #1920 "Add timeout to can_grow_directly"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In `MemoryManager`, `can_grow_directly` tries to grow memory attempt and blocks the thread when it cannot acquire for a least amount of memory (`Condvar.wait`). It looks a bit strange to wait forever for other consumers to spill there. Because it doesn't actually trigger other consumers to do

[2022-03-04 02:39] yahoNanJing commented on #1916
Actually I think Ballista should act as a distributed computing framework like Spark Core. Like Spark is based on the RDD, Ballista is based on the ExecutionPlan for the DAG.

Based on this framework, Ballista should also include several kinds of deployments. Currently, only standalone mode is provided. In the future, it's possible to introduce more resource managers, like Yarn, Mesos, etc.

For t

[2022-03-04 04:26] yjshen commented on #1916
I agree ballista should be a standalone system like Spark SQL or Presto.

So it's not a Spark Core on RDD but Spark Core on SQL physical plan, right?

[2022-03-04 04:38] matthewmturner commented on #1870
Given that db-benchmark uses R scripts to download the source data im wondering if i should assume that the user will take care of that or if i should wrap this all up in a docker container.

@houqp do you have a preference?

[2022-03-04 05:43] gaojun2048 commented on #1916
I agree with you.

[2022-03-04 06:22] realno commented on #1916
+1 Ballista should be a standalone system.

I think there is another side of this question- do we consider DataFusion as a pure library?
If so, what is the API to interface with other clients, logical plan? physical plan? And where do we want to put SQL parsing, optimizer and planner?

[2022-03-04 06:56] matthewmturner commented on #1916
i think i agree with @realno. for example the datafusion python bindings are effectively reusing the rust implementation which thus far for my (limited) use cases has worked well.  the python bindings also have udfs but i havent had chance to look into how theyre implemented and how that may contrast to ballistas needs.

[2022-03-04 06:58] yjshen commented on #1916
Yes, I think so. And actually, we are already heading in that direction. The first step to make each module substitutable is to make each part, SQL parsing, optimizing, and executing in its own crate. @Jimexist is leading the effort in https://github.com/apache/arrow-datafusion/issues/1750. Once this separating of functionalities is done, the next step would be introducing interfaces between adjac

[2022-03-04 07:26] realno commented on #1916
I think this is a good direction.

[2022-03-04 07:45] liukun4515 commented on #1916
good point.

[2022-03-04 07:48] liukun4515 commented on #1916
agree with that and same opinion in this https://github.com/apache/arrow-datafusion/pull/1881#issuecomment-1057594304

[2022-03-04 09:41] Igosuki opened #1923 "Local object store accepts file:/// as base path, but LocalStore returns meta without the prefix."
**Describe the bug**
One can register a table with the file scheme `file://`, this in turns allows listing table to list files and find partitions.
Unfortunately, LocalStore returns a FileMetaStream where the SizedFile path has the prefix stripped. This could be fine except `datafusion::datasource::listing::helpers::parse_partitions_for_path``` calls strip_prefix on the file_path with the original

[2022-03-04 11:07] #1862 closed

[2022-03-04 11:09] mingmwang commented on #1862
Just close this issue. We can have further discussion in the PR request.
https://github.com/apache/arrow-datafusion/pull/1924

[2022-03-04 16:20] matthewmturner commented on #1870
@Dandandan also interested in your view on this

[2022-03-04 17:28] matthewmturner opened #1926 "Add `len` method to `DataFrame`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
As a user of DataFusion i wouldl like a method to get the length of a `DataFrame`

**

[2022-03-04 19:55] #1836 closed

[2022-03-04 20:46] matthewmturner commented on #1870
i just keep forgetting people.

@realno i know you had expressed interest in benchmarking in the past as well so im curious if you have a preference on the above.

@alamb i know youre busy - so no rush - but you had initially raised #147 so interested in your view as well.

[2022-03-04 20:59] realno commented on #1870
@matthewmturner I like the idea using docker, it should be easier for dependency management.

[2022-03-05 03:00] matthewmturner commented on #1652
checking in on this - has anyone rerun tpch on master and arrow2 branches since the arrow-rs 9 release?

[2022-03-05 03:43] matthewmturner opened #1927 "Add content from design docs to datafusion site"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I think it would be really helpful to new / existing contributors and users if we in

[2022-03-05 03:52] matthewmturner commented on #1927
@alamb @yjshen @houqp @rdettai @Dandandan @yahoNanJing @gaojun2048

If any of you know of other design documents (or know someone else who does) can you please link them here?

[2022-03-05 09:11] tustvold commented on #1652
I added some further benchmarks in #1738 which I would also be interested in the numbers for

[2022-03-05 12:56] dispanser commented on #1384
I have a project with similar requirements, where files / partitions are determined by looking up a catalog with additional indexing capabilities to determine the files to read prior to passing them to datafusion.

In our case, we don't actually want to register a table (as the selection of files changes with every query), but need something like `read_parquet(Vec<Path>)`.
I'm not sure if that mak

[2022-03-05 13:47] alamb commented on #1384
I think https://github.com/apache/arrow-datafusion/pull/1863 from @matthewmturner  may start to lay some of the foundations for doing something similar (e.g. a ObjectStore backed schema provider that could ease the integration challenge)

[2022-03-05 14:07] #1908 closed

[2022-03-05 17:46] matthewmturner opened #1930 "Add `ObjectStore` support via SQL"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

I am working towards making datafusion-cli a powerful tool to use locally for doing

[2022-03-05 17:47] matthewmturner commented on #1930
@seddonm1 @yjshen @houqp FYI - in case you have thoughts on this.

[2022-03-05 17:55] matthewmturner commented on #1930
actually, im not sure how well those parameters in `register_object_store` will generalize to other `ObjectStore` besides s3.  so now im not sure if a general function like that could be used.

[2022-03-05 21:42] hntd187 commented on #1544
@matthewmturner here is a first pass are people able to start editing this doc?

https://docs.google.com/document/d/1ZR171NcI_lrn7e7yVjSZFtCkNM7w2yzia_pH3b4QL_c/edit?usp=sharing

[2022-03-05 22:00] alamb opened #1931 "More efficient Dictionary / constant encoding for partition values in ListingFileProvider"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The `ListingFileProvider` after https://github.com/apache/arrow-datafusion/pull/1860 uses `UInt16` for the indexes of the `DictionaryArray` type

This means that the number of partitions is limited to `2^16` ~ `64K`. It also means when scanning files from a source that have fewer than 256 dis

[2022-03-05 22:01] #1859 closed

[2022-03-05 22:12] #1920 closed

[2022-03-06 01:40] matthewmturner commented on #1930
maybe my objective could be achieved with some command line options instead.  for example:

Default credentials
[code]

Minio
[code]

@houqp @yjshen @seddonm1 do you have a view on whether `ObjectStore` registration can be done via SQL or if this should be part of datafusion-cli?

[2022-03-06 14:00] Ted-Jiang commented on #1916
standalone system +1
Look forward to it going into production one day.

[2022-03-06 15:28] Igosuki commented on #1777
@alamb is write_parquet outside of the scope now ?

[2022-03-06 15:37] matthewmturner commented on #1777
@alamb FYI I don't think this issue should be closed yet. I'm using it as a tracker with the task list in the description.

[2022-03-06 15:55] matthewmturner commented on #1777
@Igosuki just to confirm what youre looking for - you want to be able to write partitioned parquet files from SQL?

[2022-03-06 18:14] viirya opened #1932 "Add debug log when a memory consumer waits for spilling"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

There is a `wait` to trigger for a consumer when it cannot acquire a minimum amount memory. Theoretically, there is possibility it could be an infinite wait and currently we have no log there to find out if it is happened.

**Describe the solution you'd like**
A clear and concise description

[2022-03-06 21:39] Igosuki commented on #1777
Exactly, like we can do with Spark.

Le dim. 6 mars 2022 à 16:55, Matthew Turner ***@***.***> a
écrit :

[2022-03-07 06:19] yahoNanJing opened #1934 "[Ballista] Introduce query stage scheduler"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The query stage scheduler is introduced for generating stages, maintaining the stage status changes, etc.

**Describe the solution you'd like**

It decouples the scheduler server and tasks. It mainly focus on maintaining the stages. With the help of future TaskSetStore, it will be much easier

[2022-03-07 06:36] yahoNanJing opened #1936 "[Ballista] Introduce StageManager for managing tasks stage by stage"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It's better to manage tasks by stages rather than mess them up for the whole system or the whole job. With *Stage*, it will be much easier to maintain the task status changes within a stage, which will also be easier for future task error handling. And it will also be easier to manage the sta

[2022-03-07 07:18] Ted-Jiang opened #1937 "[Ballista] select 1 won`t get result."
**Describe the bug**
Start one scheduler one executor in local use datafusion-cli to connect `RUST_LOG=INFO cargo run --features=ballista   --bin datafusion-cli  -- --host localhost --port 50050`
[code]
[code]
no result show in cli, but i found executor get right plan
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expect

[2022-03-07 09:12] rdettai commented on #1384
sorry for the late response, I missed this thread! Obviously, if we make `ListingTable` usable without using the listing capability, that would be a clear violation of its name! 😄

The capability to query a provided list of files (possibly with provided statistics) is very useful. I have the feeling that it calls for the addition of a lower level `TableProvider` that would take as input the config

[2022-03-07 09:17] rdettai commented on #1931
Thanks @alamb for tracking this. Am I correct in my understanding that https://github.com/apache/arrow-datafusion/issues/1248 would be another solution (and probably a better one) to this issue?

[2022-03-07 12:11] #1937 closed

[2022-03-07 13:46] tustvold opened #1939 "SortExec No Longer Streams Correctly"
**Describe the bug**

https://github.com/apache/arrow-datafusion/pull/1596/files#diff-68811b72d27f9f5173223e0da1af2a467c2e4fff2f5f2237665fa29e1a6575c0L165 appears to have accidentally changed the behaviour of `SortExec` so that it no longer returns a stream that performs the sort operation, but instead performs the sort within `ExecutionPlan::execute`.

This effectively stalls out constructing the

[2022-03-07 20:49] alamb commented on #1777
reopened -- I think github got a little over eager and interpreted the "closes #1777 task three" comment to mean it should close the tickt

![Screen Shot 2022-03-07 at 3 49 19 PM](https://user-images.githubusercontent.com/490673/157115585-d9c56d20-d7c9-435f-899a-28eb13399590.png)

[2022-03-07 21:24] alamb commented on #1931
Probably @rdettai  -- though in that case we'll have to figure out what happens when `RecordBatches` with constants are appended 🤔

[2022-03-07 22:52] maxburke opened #1942 "DataFusion hardcodes all query variable types as `Utf8`"
Although variables can be any `ScalarValue`, their types are hardcoded as `Utf8`. If the user attempts to define a variable as a different type (ie: Int), queries will fail with a type mismatch.

This is a tracking issue for a PR which contains the fix.

[2022-03-08 07:17] #1932 closed

[2022-03-08 08:09] PierreZ commented on #1864
Hey thanks @jychen7 :+1: Nice datasource BTW.

I will open the PR :rocket:

[2022-03-08 08:47] silence-coding opened #1952 "Add support for GROUP BY Struct (Unsupported data type in hasher: Struct)"
panicked at 'index out of bounds: the len is 2 but the index is 2'  at datafusion-6.0.0/src/datasource/file_format/parquet.rs:272:13

[blogs.zip](https://github.com/apache/arrow-datafusion/files/8204263/blogs.zip)

toml
[code]

main:
[code]

[2022-03-08 15:16] yjshen opened #1954 "Filter Push down to Parquet in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Enable Serialization and Deserialization of parquet filters in protobuf.

Currently, it is marked as a TODO item.

https://github.com/apache/arrow-datafusion/blob/f6bbb629c680c57b6461d6200a1d291b1695aa1d/ballista/rust/core/src/serde/physical_plan/mod.rs#L705-L710

**Describe the solution you'

[2022-03-08 15:19] yjshen commented on #1954
@thinkharderdev do you have any plans to do it recently?

[2022-03-08 15:41] yjshen opened #1955 "Update ballista.proto to use `optional` instead of `oneof`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`prost` of version 0.8.0 already bundled protoc 3.15.8, and we are using 0.9 currently.
Worth trying to replace `oneof` with `optional` since we are using a later version of `prost`.

**Describe the solution you'd like**

Replace `oneof` with `optional`.

https://github.com/apache/arrow-dataf

[2022-03-08 16:25] yjshen commented on #1955
@thinkharderdev, you may also be interested in this.

[2022-03-08 17:29] #1780 closed

[2022-03-08 19:19] alamb commented on #1954
https://github.com/apache/arrow-datafusion/pull/1941 was merged, so closing this one

[2022-03-08 19:20] alamb commented on #1954
Actually, I wasn't sure if https://github.com/apache/arrow-datafusion/pull/1941 was sufficient or if more work is needed, so maybe @thinkharderdev  can confirm

[2022-03-08 21:05] thinkharderdev commented on #1954
Yes, I think my PR should cover it.

[2022-03-09 05:54] houqp commented on #1930
I think it can be done through both because secret key credentials and endpoint can be provided through environment variables as well. In this case, user will only need to provide the s3 path in the SQL query.

[2022-03-09 06:02] houqp opened #1962 "Merge Dataframe trait and DataframeImpl into Dataframe struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Follow up for https://github.com/apache/arrow-datafusion/pull/1712#issuecomment-1025266914.

The Dataframe trait was introduced in order to have two separate Dataframe implementation in Datafusion and Ballista. Since then, the design has changed and we are sharing the same dataframe implement