[2022-11-21 07:41] HaoYang670 commented on #4297
Hi @ZuoTiJia, I tried on my desktop but it didn't panic.
[code]

[2022-11-21 07:45] HaoYang670 commented on #4297
Could you please try the latest commit on the master branch? I guess the bug was in arrow-26.0.0 and the dependency has been updated to arrow-27.0.0 now.

[2022-11-21 07:53] HaoYang670 opened #4298 "Remove the macro rule `unary_scalar_expr` from `expr_fn.rs`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-datafusion/blob/bcd624855778384ee27648161de73951e3fb6ea1/datafusion/expr/src/expr_fn.rs#L308-L331
We can use the `scalar_expr` to create unary scalar expr functions, so that the macro rule `unary_scalar_functions` is not necessary.
**Describe the solution you'd

[2022-11-21 08:03] HaoYang670 commented on #4298
Also, the doc in `scalar_expr` isn't always meaningful. We should also update it.

[2022-11-21 08:04] mingmwang opened #4299 "Add a checker to confirm physical optimizer rules will keep the physical plan schema immutable"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-21 08:16] richox opened #4300 "Introduce tournament tree to achieve better k-way sort-merging"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`SortPreservingMergeStream` currently uses a binary heap for k-way merging, which gets `O(NlogS)` time complexity (S=num_streams). however, when a top record is taken from the heap, we need to perform a pop/push operation and are likely to take `2*logS` comparisons.

an improved way is to use

[2022-11-21 08:19] HaoYang670 commented on #4297
Close this ticket now. As the bug has been fixed.

[2022-11-21 08:19] #4297 closed

[2022-11-21 10:45] alamb commented on #4248
@mvanschellebeeck  -- I think it sounds like a great idea and I can't wait to see it. Thank you so much

[2022-11-21 10:50] alamb commented on #4248
@TennyZhuang  -- thank you very much for the writeup and explanation -- it sounds great.

I think this sounds like a great way to start. We can try to implement AsyncDB for DataFusion and see how it goes and propose extensions to `AsyncDB` if needed 🤔

I love this idea, though agree it will be much more work;

From my perspective, given that sqllogictest-rs is apache licensed using it directly in

[2022-11-21 11:21] xudong963 commented on #4248
Others are good to me, but for this, I think maybe we don't migrate them first, I can directly add new tests from other DBs.

[2022-11-21 11:30] gruuya opened #4303 "DESCRIBE statement issue with qualified table references"
**Describe the bug**
`DESCRIBE` statement doesn't work for partial or fully qualified table references.

**To Reproduce**
[code]

**Expected behavior**
Instead of showing no rows, the `DESCRIBE` command should match the output from the `information_schema.columns` above.

**Additional context**

[2022-11-21 11:49] alamb commented on #4248
That would also be fine. One of the benfits of migrating a few of the tests from sql_integration would be to demonstrate that the harness could (eventually) subsume them all.

[2022-11-21 13:01] ygf11 opened #4306 "Add a new api to create join in LogicalPlanBuilder"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When I try to add test cases, I find it is not easy to create join logical plan whose keys are expressions, because we have to create many additional projections.
I would like to add a new api to create such join in LogicalPlanBuilder.

**Describe the solution you'd like**
Add a new api to cr

[2022-11-21 15:20] jackwener opened #4308 "`LimitPushDown` pushdown into limit, result is wrong"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-21 17:24] #4020 closed

[2022-11-21 17:39] andre-cc-natzka opened #4311 "Support for type coercion for a (Timestamp, Utf8) pair"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
At the moment DataFusion supports type coercion for (`DataType::Time`, `DataType::Utf8`) and (`DataType::Date`, `DataType::Utf8`) pairs, but does not account for type coercion for (`DataType::Timestamp`, `DataType::Utf8`).

**Describe the solution you'd like**
We need to add support for type c

[2022-11-21 23:59] freeformstu opened #4314 "Variance aggregation calculation does not work for a single item"
**Describe the bug**
A clear and concise description of what the bug is.

The variance aggregation calculation returns an error if there is only one item. But it should return `0`.

If given the sequence `[1, 1, 1, 1]`, the variance will be zero. If given the sequence `[1]` the variance should also be zero.

**To Reproduce**
Steps to reproduce the behavior:

Run the tests, there is a test which as

[2022-11-22 00:12] freeformstu opened #4315 "Hashed Aggregator panics when aggregate fn returns an error"
**Describe the bug**
A clear and concise description of what the bug is.

The hash aggregator panics when any of the aggregators returns an error.
https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/physical_plan/aggregates/hash.rs#L443

**To Reproduce**
Steps to reproduce the behavior:

Try to calculate the variance of an array of length 1. The current implementation of var

[2022-11-22 01:05] xudong963 commented on #1585
I think the issue finished, close it!

[2022-11-22 01:05] #1585 closed

[2022-11-22 01:05] #1209 closed

[2022-11-22 01:05] #980 closed

[2022-11-22 01:06] #1453 closed

[2022-11-22 01:06] #1819 closed

[2022-11-22 04:57] Ted-Jiang opened #4317 "Page index pruning fail on complex_expr"
All test case with expr fail 😭

_Originally posted by @Ted-Jiang in https://github.com/apache/arrow-datafusion/pull/4255#discussion_r1026585801_

[2022-11-22 05:15] HaoYang670 commented on #4314
cc @realno Could you please take a look?

[2022-11-22 05:18] xudong963 commented on #1652
More than half a year passed, and I believe arrow-rs has made great progress. Does anyone have the latest benchmark data?

[2022-11-22 08:18] HaoYang670 commented on #4259
I can reproduce the bug printed here.

[2022-11-22 08:19] HaoYang670 commented on #4259
cc @tustvold, could you please take a look?

[2022-11-22 08:27] tustvold commented on #4259
I can add it to my list, although I'm not familiar with the code in question. Perhaps @domodwyer or @crepererum may have some ideas

[2022-11-22 08:30] #4263 closed

[2022-11-22 09:03] HaoYang670 commented on #4259
I've tested again and @tustvold I guess you are right.

[2022-11-22 09:14] liukun4515 commented on #4308
@jackwener can we close this issue?

[2022-11-22 09:27] #4308 closed

[2022-11-22 09:54] domodwyer commented on #4259
Yeah I don't remember doing anything with NULL masks when I wrote this.

[2022-11-22 10:01] mingmwang opened #4323 "Revisit get_statistics_with_limit() method in datasource mod"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

This method will return `num_rows = 0` by default which is incorrect, should return

[2022-11-22 12:09] #4303 closed

[2022-11-22 12:10] tustvold opened #4325 "Potential MemoryManager Deadlock"
**Describe the bug**

`MemoryManager::can_grow_directly` makes use of a `parking_lot::CondVar`. This is a blocking primitive, and as a result will block the current tokio worker thread until such a time as the condition is signalled.

As the tokio worker pool is a bounded thread pool, often with workers equal to the number of threads, this can potentially result in a deadlock where all the worker

[2022-11-22 12:59] tustvold commented on #4295
There is likely some overlap with https://github.com/apache/arrow-datafusion/issues/2293

I personally don't think we should have the concept of a partition at all, and should instead have a smarter work scheduler, but I haven't been able to work on that recently

[2022-11-22 13:58] xudong963 commented on #4248
Hi @mvanschellebeeck, are you doing it?

[2022-11-22 13:59] tustvold opened #4328 "MemoryConsumer::try_grow Underflow"
**Describe the bug**

`MemoryConsumer::try_grow` calls through to `MemoryManager::can_grow_directly` which determines the remaining space by performing `self.pool_size - trk_total`.

This can potentially underflow if the tracked memory exceeds the pool size, something for which there is no protection.

**To Reproduce**

[code]

**Expected behavior**

**Additional context**

[2022-11-22 14:22] #4299 closed

[2022-11-22 14:37] mvanschellebeeck commented on #4248
Yep! I can get out a draft PR today/tomorrow if that works with you?

[2022-11-22 15:10] xudong963 commented on #1652
I will bump arrow branch and make comparision.

[2022-11-22 15:24] tustvold commented on #1652
My 2 cents is that as mentioned by @sunchao above, parquet predicate pushdown makes a drastic difference to performance. Whilst there are still some kinks to iron out in the DataFusion integration, arrow-rs now supports the full suite, including late materialisation.

Given they were previously roughly in the same ballpark, and significant optimisations have landed in arrow-rs since then, with pre

[2022-11-22 15:37] Dandandan commented on #1652
For TPC-H It might be the pruning wouldn't help a lot, as most of the data is AFAIK *very* evenly distributed, so quite hard to prune values based on min/max values without sorting data first - at least on row group level this was the case. But maybe page pruning works in some cases, that would be great.

[2022-11-22 15:42] tustvold commented on #1652
FWIW we support [late materialization](https://docs.cloudera.com/cdw-runtime/cloud/impala-reference/topics/impala-lazy-materialization.html) now, in addition to row group and page pruning, and which doesn't rely on aggregate statistics. It instead evaluates predicates on the subset of the columns needed by the predicate, and then uses the result to conditionally materialize the other projected col

[2022-11-22 15:57] Dandandan commented on #1652
Yes, I realized that, but also seeing some tpc-h generated data and filters, I would be (pleasantly) surprised if it can prune out many pages.

[2022-11-22 15:59] alamb commented on #1652
I have it on my list to propose enabling the pushdown filtering by default (see https://github.com/apache/arrow-datafusion/pull/3828) -- I plan to run the TPCH benchmarks as part of that exercise to see how much / if at all they help

[2022-11-22 16:06] xudong963 commented on #1652
From [benchmarks](https://github.com/tustvold/access-log-bench), I think pushdown filtering is very help

[2022-11-22 16:48] psvri commented on #4239
The region is specified via `AWS_DEFAULT_REGION`  environment variable.

[2022-11-22 19:30] alamb opened #4331 "`CoalesceBatchesExec` reports no ordering"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
After https://github.com/apache/arrow-datafusion/pull/4122 some of our plans look like this:

[code]

The `CoalesceBatchesExec` has been added after the FilterExec to make sure there are reasonable sized RecordBatches.

However  the `BasicEnforcement` rule has added an unnecessary SortExec

[c

[2022-11-22 19:30] alamb commented on #4331
cc @ming535

[2022-11-22 22:11] alamb commented on #4323
cc @isidentical

[2022-11-22 22:25] #4176 closed

[2022-11-23 01:48] Ted-Jiang commented on #1652
I try to modify the filter condition in tpch q1, with page index it really helped 😂 . It can boost a lot sometimes in real world.

[2022-11-23 03:25] liukun4515 opened #4335 "can't compare NULL type with NULL type"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-23 03:28] liukun4515 commented on #4335
maybe has been fixed by https://github.com/apache/arrow-datafusion/pull/4242

[2022-11-23 06:45] HaoYang670 commented on #4335
Two cases not supported yet:
[code]
While on Postgre, we get nulls: https://onecompiler.com/postgresql

[2022-11-23 07:38] mingmwang commented on #4331
LGTM

[2022-11-23 08:22] mingmwang commented on #4331
I'm afraid `Repartition` can not maintain the ordering.

For example we have two ordered input streams [ 0, 10, 20, 25] , [ 5, 6, 7, 8]
after repartition (hashing), let's say the partition count is still 2
the two output streams might become
[ 0, 10, 20, 6, 8] ,[ 25, 5, 7]

[2022-11-23 08:32] jackwener commented on #4335
Not supported is normal, the two types are not compatible.

[2022-11-23 08:34] jackwener commented on #4335
I can do it.

[2022-11-23 08:40] Dandandan commented on #4331
Ah that's right. Was thinking about it maintaining order within the partition. Thinking whether there should be a way to still benefit from this (e.g. by keeping the partition number).

[2022-11-23 08:59] HaoYang670 commented on #4259
Hi @domodwyer, could you please to fix this?

[2022-11-23 10:59] crepererum commented on #2723
# Grant Plan

So @tustvold and I came up with a plan for this. Let me illustrate.

## Prior Art
Let's first quickly illustrate what the current state is and what the problem is. We have two group-by implementations:

### V1 (`hash.rs`)
This is the original, fully-featured implementation. It uses `Box<[ScalarValue]>` as a group key and for each group a `Box<dyn Accumulator>` to perform the aggregat

[2022-11-23 11:30] alamb commented on #2640
Possibly duplicated by https://github.com/apache/arrow-datafusion/issues/2646

[2022-11-23 11:32] alamb commented on #4029
Sounds reasonable to me

[2022-11-23 11:33] alamb commented on #4029
Possibly related https://github.com/apache/arrow-datafusion/issues/3257

[2022-11-23 11:33] alamb commented on #3257
I agree it makes sense to me as well to have physical plan serialization in datafusion

[2022-11-23 11:43] alamb opened #4337 "Implement protobuf serialization for Expr::ScalarSubquery(_) | Expr::InSubquery { .. } | Expr::Exists { .. }"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Note depends on:
- [x] https://github.com/apache/arrow-datafusion/issues/4338

In IOx, when a user issued an unsupported subquery, they got a very confusing message about serialization

[code]

This is because the EXISTS predicate could not be sent / serialized. If it could have been, the code

[2022-11-23 11:46] alamb opened #4338 "Add serialization for entire LogicalPlans to datafusion-proto"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In order to serialize subquery expressions (https://github.com/apache/arrow-datafusion/issues/4337) we would need to serialize entire `LogicalPlans` which `datafusion-proto` does not do .

**Describe the solution you'd like**
I would like to have the ability to serialize / deserialize `Logica

[2022-11-23 12:23] ZuoTiJia opened #4339 "Panic with function `to_hex`"
**Describe the bug**
Panic with `to_hex(-1)`

**To Reproduce**
Steps to reproduce the behavior:
[code]

It looks like the problem is caused by using the `to_usize` method

https://github.com/apache/arrow-datafusion/blob/f4996b9f475b04bd260221f2a2bb074ab09b96be/datafusion/physical-expr/src/string_expressions.rs#L570-L584

[2022-11-23 13:49] alamb commented on #2723
I general, other than the fact that this proposal sounds like a lot of work, I think it sounds wonderful 🏆

I did have a question about the proposed trait implementation:

[code]

Is the idea that each aggregator would contain a HashMap or some other way to map keys --> intermediates (rather than the hash map being in the aggregator? This seems like it would result in a fair amount of duplication

[2022-11-23 13:53] crepererum commented on #2723
Sure, but it reduces dyn dispatch by a lot (once per batch instead once per group), removes the `take` kernel and the duplication can be hidden by careful macros/generics.

The aggregator CAN perform a `take` but doesn't have to. Our position is that in most cases it doesn't make sense. I also don't fully understand how your interface should work because there is no group key in your signature and

[2022-11-23 14:03] tustvold commented on #2723
Ideally we would follow the approach I've increasingly been applying to arrow-rs, and recently applied to InList. Namely use concrete types, and only use dyn-dispatch to type erase on dispatching the batches. It would be fairly trivial to implement a `HashMapAggregator` that takes a concrete aggregation function, or something

[2022-11-23 17:09] thomas-k-cameron commented on #4198
I'm closing this issue because the problem has been fixed with [PR-4427](https://github.com/apache/arrow-datafusion/pull/4227).

[2022-11-23 17:09] #4198 closed

[2022-11-23 17:23] #4239 closed

[2022-11-23 17:28] #4270 closed

[2022-11-23 17:58] #4218 closed

[2022-11-23 20:12] alamb opened #4346 "Optimizer check errors if resulting schema has different metadata"
**Describe the bug**
Some passes may change the metadata for a plan and I think that is ok.

In paticular, we have a case in IOx where  the projection_push_down actually exposes some more metadata (as it unwraps a projection that had masked it).

This new metadata actually  fails with the newly added schema check added in https://github.com/apache/arrow-datafusion/pull/4233 by @jackwener. This cur

[2022-11-23 20:13] alamb commented on #4346
If you are curious, here is an example of the before/after schema:
[code]

[2022-11-23 22:33] alamb opened #4349 "DataFusion Configuration Consolidation"
# Related
https://github.com/apache/arrow-ballista/issues/479
https://github.com/apache/arrow-datafusion/pull/3885

# TLDR Recommendations
This is a complicated issue and I don't have a magic answer. However I have some concrete suggestions

Some suggested steps:
- [x] https://github.com/apache/arrow-datafusion/pull/4382
- [ ] We should consolidate ExecutionProps and TaskProperties also.
- [x] htt

[2022-11-23 22:41] alamb commented on #4349
However, one question, raised by @avantgardnerio  in https://github.com/apache/arrow-ballista/issues/479, is how to structure the interactions with the configuration code.

It turns out that `SessionConfig` has a more rust struct style and `ConfigOptions` is a more dynamic hashmap style. I honestly don't have a preference as long as the introspection (with docstrings) features of ConfigOptions are

[2022-11-23 22:45] doki23 opened #4350 "Throw error (not `panic`) if a listing table specifies an missing partition column"
I think this is going to `panic` if the user specifies a partition column that is not present.

It would be nice to make it an error -- can you either do so as a follow on PR or file a ticket?

__最初由 @alamb 在 https://github.com/apache/arrow-datafusion/pull/4221#discussion_r1030743334 发布__

[2022-11-23 22:51] alamb commented on #4349
🤔  there is also ExecutionProps which is some subset of the TaskProperties 🤔

[2022-11-24 04:11] liukun4515 opened #4356 "refactor the code of the `HashJoin`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

From the bug #4247, there are bugs for hash join for right semi/anti join.

The curr

[2022-11-24 04:13] liukun4515 commented on #4356
After this merged https://github.com/apache/arrow-datafusion/pull/4355, I will start this task

[2022-11-24 06:05] HaoYang670 commented on #4259
BTW, the estimate quantile algorithm doesn't follow the `paper`, any reason for this?
https://github.com/apache/arrow-datafusion/blob/df8aa7a2e2a6f54acfbfed336b84144256fb7ff8/datafusion/physical-expr/src/aggregate/tdigest.rs#L523-L524

![image](https://user-images.githubusercontent.com/59198230/203706553-91202460-aabc-4623-93ac-c16fdd7622f6.png)

[2022-11-24 07:21] elliot14A commented on #4269
Thank you now I understand.

[2022-11-24 07:21] #4269 closed

[2022-11-24 09:42] domodwyer commented on #4259
Hi @HaoYang670,

I do not have time to fix this in the short term as I am working on a project. I can take a look in a few weeks - feel free to fix this yourself if you need it sooner :+1:

[2022-11-24 10:50] alamb commented on #4236
Here is a proposed fix: https://github.com/apache/arrow-datafusion/pull/4358

[2022-11-24 11:36] #4139 closed

[2022-11-24 11:36] #4230 closed

[2022-11-24 17:18] Dandandan commented on #4356
Thanks @liukun4515 for driving the effort to improve the hash join implementation! Makes sense to me to structure it this way. This will help make it easier to change/improve the implementation later on.

[2022-11-24 17:53] ozankabak commented on #4285
Hello everybody! During the last few days, we have been re-analyzing the proposal from the lens of "what belongs where" and what to implement first. We also did some prototyping and experimentation for this purpose. It seems there are three main categories of improvements here:
1. _Core functionality that seem best fit to Datafusion proper_, which are things like:
    a. Pipelined execution suppor

[2022-11-25 00:13] Cheappie commented on #4295
Yep, having partitions seem to be a limiting factor right now.

There are two things on my plate right now:
1. I would like to ensure that input data is well balanced among workers.
2. Implementing prefetcher.

In both of these points replacing somehow partitions with single queue would be helpful for me. But I understand that It might not be a priority or good enough solution for the project righ

[2022-11-25 06:05] mingmwang opened #4362 "HashJoin should return Err when the right side input stream produce Err"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-25 06:11] mingmwang opened #4363 "Should not convert a normal non-inner join to Cross Join when there are non-equal Join conditions"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

SparkSQL result:

            "+-------+---------+---------+",
            "| t1_id | t1_name | t2_name |",
            "+-------+---------+---------+",
            "| 11    | a       |         |",
            "| 22    | b       |         |",
            "| 33    | c       |         |",
            "| 44    | d

[2022-11-25 06:14] mingmwang commented on #4363
Except for Inner Join, we can not treat join conditions as filter conditions(there are some cases join conditions can be pushed down, depends on the join expr and join type). Need to introduce a new Physical Join implementation `nested_loop_join` to fix the issues.

[2022-11-25 06:33] mingmwang opened #4364 "Enhance SortMergeJoin to support Join filters(non-equal Join conditions)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-25 07:53] mingmwang opened #4366 "Failed to create Left anti join physical plan due to SchemaError::FieldNotFound"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

called `Result::unwrap()` on an `Err` value: "SchemaError(FieldNotFound { field: Column { relation: Some(\"t1\"), name: \"t1_id\" }, valid_fields: Some([Column { relation: Some(\"t2\"), name: \"t2_id\" }]) }) at Creating physical plan for 'SELECT t1_id, t1_name FROM t1 WHERE NOT EXISTS (SELECT 1 FROM t2 WHERE t1_id =

[2022-11-25 08:34] mingmwang opened #4368 "Avoid unnecessary RepartitionExec with RoundRobinBatch partitioning"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

We can refer to PrestoSQL/Trino's approach

https://github.com/trinodb/trino/blob/45

[2022-11-25 09:09] liukun4515 commented on #4356
Probe phase has many common stage.
In the vectorization has join, the first stage is to get the left/right indices which are match the on join condition.

Next, use the left/right indices to generate the batch result according to the join type. But some special join type should maintain the left side bitmap to generate the result finally, for example left/full/leftanti/leftsemi.

[2022-11-25 09:24] tustvold commented on #4295
The scheduler I started work on preserved the concept of partitions, but did not rely on them for work distribution, or at least wouldn't have if I had actually finished it :sweat_smile:

Yes, the hope was to gradually change to a push model for operators where it is possible

See https://github.com/apache/arrow-datafusion/blob/master/datafusion/core/src/scheduler/pipeline/mod.rs#L27

IMO fairness

[2022-11-25 10:16] crepererum opened #4370 "Rewrite simple regex expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In InfluxDB IOx, we have some users that query the data with simple regex expressions that don't really need a regex but (I guess) regexes are used for convenience or technical reasons (e.g. auto-generated expressions). For "regex match" and "regex not match", we have the following cases:

| C

[2022-11-25 11:26] tustvold commented on #4370
This sounds good to me, certain expressions could also potentially be rewritten into `LIKE` expressions.

FWIW I would rewrite 'foo|bar|baz' to `col IN ('foo', 'bar', 'baz')` as we already have an expression rewriter that can rewrite small `IN` into disjunctive expressions.

[2022-11-25 11:43] mingmwang opened #4372 "FilterExec should not return Non Statistics when it can not calculate the predicate selectivity"
**Describe the bug**
A clear and concise description of what the bug is.

https://github.com/apache/arrow-datafusion/blob/58b43f5c0b629be49a3efa0e37052ec51d9ba3fe/datafusion/core/src/physical_plan/filter.rs#L173-L193

Should return `input_stats`

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional co

[2022-11-25 11:43] mingmwang commented on #4372
@isidentical

[2022-11-25 11:56] isidentical commented on #4372
Without being able to estimate the selectivity, falling back into accepting that the filter always selects feels like would be worse than simply returning not known (which was the default case even before we worked on the filter selectivity analysis). Is there a particular case where propagating `input_stats` would be useful?

[2022-11-25 12:15] mingmwang commented on #4372
I think it is better to propagate it, or we can have a default predicate selectivity(many other DB systems take this approach).
Otherwise the Statistics estimation system will be very brittle, the high level operates can not derive the stats.

[2022-11-25 12:17] mingmwang commented on #4372
And is there any reason that the `total_byte_size` is not adjusted accordingly based on the computed `predicate selectivity`?

[2022-11-25 12:30] isidentical opened #4374 "Estimate the `total_byte_size` of the filter expression's result when selectivity is available"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`FilterExec` can estimate the `total_byte_size` (as it is estimating the number of rows) when selectivity is available to us.

**Describe the solution you'd like**
Normalize the `total_byte_size` by that filter predicate's selectivity to obtain the estimated number of result bytes.

**Describe

[2022-11-25 12:42] isidentical commented on #4372
Creates #4374!

[2022-11-25 14:19] #4073 closed

[2022-11-25 14:19] #4074 closed

[2022-11-25 18:42] #4350 closed

[2022-11-26 02:39] HaoYang670 opened #4378 "The CLI panics when passing an invalid `explain` query"
**Describe the bug**
A clear and concise description of what the bug is.
[code]

Related code: https://github.com/apache/arrow-datafusion/blob/ba73c8180ebd874614cabc33be8cbb0d1db52518/datafusion/expr/src/utils.rs#L565-L578

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.
Return an error instead of panicking.

[2022-11-26 10:51] alamb commented on #3833
Int96 appears to be the only unsupported type left

https://github.com/apache/arrow-datafusion/blob/ba73c8180ebd874614cabc33be8cbb0d1db52518/datafusion/core/src/physical_plan/file_format/parquet/page_filter.rs#L478-L481

I don't think Int96 is a widely used type nor supported for most other implementation -- thus I suggest we close this PR

[2022-11-26 11:15] #4346 closed

[2022-11-26 12:57] #4236 closed

[2022-11-26 13:07] alamb commented on #4363
I think it is also possible to extend the HashJoin implementation with the new semantics rather than adding an entirely new physical join implementation

[2022-11-26 13:07] #4362 closed

[2022-11-26 13:29] jackwener opened #4381 "Optimizer rule support `subqueryAlias`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
After we use `subqueryAlias` to replace `alias in projection`, we can find some optimizer rule don't support `subqueryAlias`.

It will cause some regression.

like https://github.com/apache/arrow-datafusion/pull/4333#discussion_r1032786474

- push_projection
- push_limit
- push_filter
- .....

[2022-11-26 14:18] jackwener opened #4383 "Add `MergeSubqueryAlias` rule"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-11-26 15:01] #3833 closed

[2022-11-26 17:12] kesavkolla commented on #212
Yes really looking forward for this feature.

[2022-11-27 02:30] #3442 closed

[2022-11-27 02:49] liukun4515 commented on #4363
hash join can just support equal condition. If there is no the equal condition, we can't use the hash join.

If the condition is ` on left_table.column1 > 10` which can't be used for hash.

[2022-11-27 08:45] tustvold opened #4386 "Make Binary Dictionary Operations Optional"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The dyn_cmp_dict and dyn_arith_dict features of arrow enable binary operations involving dictionary arrays and other dictionary arrays or scalar arrays.

They are, however, extremely expensive both from a compilation time, and code size perspective. As the kernels must be generated for the co

[2022-11-27 09:25] Ted-Jiang opened #4388 "Support `abs` func in PruningPredicate for static pruning"
I think we can support rewrite `abs(i) = 1` to `i = 1 or i = -1`🤔 further.

_Originally posted by @Ted-Jiang in https://github.com/apache/arrow-datafusion/pull/4387#discussion_r1032896021_

[2022-11-27 09:27] ygf11 opened #4389 "Proposal: Improve the join keys of logical plan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Join keys in `LogicalPlan::Join` are `columns` now, which is the same as physical plan.
To add features base on it, we need add additional projections in logical plan level, like #4193 and #4353. There are some drawbacks:

* Join keys may need alias when do type coercion, and the alias will d

[2022-11-27 09:28] ygf11 commented on #4389
cc @alamb @mingmwang @liukun4515 @jackwener

[2022-11-27 11:08] #4374 closed

[2022-11-27 12:03] #3927 closed

[2022-11-27 12:03] #2212 closed

[2022-11-27 12:03] #4291 closed

[2022-11-27 12:08] alamb commented on #4285
Thank you very much for the clear, cohesive and constructive writeup @ozankabak  -- I think the plan sounds well thought out and aligns well to the overall DataFusion vision and structure. Thank you

[2022-11-27 12:45] alamb commented on #4363
I was thinking something like  you could use a hash table with a single entry when there are no join keys -- which will effectively devolve into a CrossJoin

What I really would hope to avoid is another join implementation if possible -- Joins are already complicated enough, and so adding another one will not improve the situation.

[2022-11-27 12:51] alamb commented on #4389
I think this makes a lot of sense to me. Thank you @ygf11 .

I would suggest a few other fields as well:
1. For equijoins as you propose
2. For other predicates that must be evaluated in the join (for outer joins, these have special semantics)

This design also extends naturally to adding other specialized join predicates in the future (eg. range joins)

[code]

[2022-11-27 13:33] jackwener commented on #4389
A meaning proposal ! Thanks @ygf11 .

Agree with @alamb, some database is design like this.

presto
[code]

[2022-11-27 13:49] jackwener opened #4392 "Enhancement: split the SQL `planner` into smaller modules"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The current planner file is too large, we can split it.

Like
- query.rs
- select.rs
- set_expr.rs
- ....

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any altern

[2022-11-27 13:50] jackwener commented on #4392
@mingmwang @andygrove @liukun4515 @alamb
How do you think about it.

[2022-11-27 14:11] jackwener commented on #4392
Maybe we can add label `good-first-issue`

[2022-11-27 21:45] mvanschellebeeck opened #4396 "Support CREATE TABLE table_name(...schema_fields)"
**Describe the solution you'd like**
Support the `CREATE TABLE` expression, e.g.
`CREATE TABLE t1(a INTEGER, b INTEGER, c INTEGER, d INTEGER, e INTEGER);`

Executing this with `datafusion-cli` shows:
[code]

**Additional context**
The ability to create a table with one statement and then insert values into it throughout a sessions forms the basis of a lot of [sqllogictests](https://www.sqlite.org/

[2022-11-27 21:47] mvanschellebeeck commented on #4396
An example of a set of queries we'd like to execute are:
[code]
see [here](https://www.sqlite.org/sqllogictest/file?name=test/select1.test&ci=tip) for reference)

Currently this is not possible since the `CREATE TABLE` expression is not supported.

[2022-11-27 21:52] mvanschellebeeck opened #4397 "Support `INSERT INTO` statement"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Support the `INSERT INTO` expression, e.g.
`INSERT INTO t1(e,c,b,d,a) VALUES(103,102,100,101,104)`

Executing with datafusion-cli:
[code]

**Additional context**
The ability to insert values via the cli throughout a sessions forms the basis of a lot of [sqllogictests](https://www.sqlite.org/sq

[2022-11-27 22:15] mvanschellebeeck commented on #4248
hey @xudong963, @alamb,

I've got a draft PR up here: https://github.com/apache/arrow-datafusion/pull/4395

In general, sqllogictests operate on a workflow where the `.slt` file creates tables, inserts values and then queries the values for expected results. From what I can tell, CREATE TABLE and INSERT INTO are not currently supported in datafusion so I raised #4396 and #4397 respectively. After

[2022-11-28 03:21] mingmwang commented on #4349
I think consolidating SessionConfig/ConfigOptions is definitely the right direction. The debate should be how to consolidate them, either keep SessionConfig or keep ConfigOptions.  I do not have a clear preference on this either. maybe we can have a vote.

[2022-11-28 03:23] mingmwang commented on #4349
We should consolidate ExecutionProps and TaskProperties also.

[2022-11-28 03:27] comphead commented on #4378
@HaoYang670 can I take this?

[2022-11-28 03:29] HaoYang670 commented on #4378
Sure!

[2022-11-28 03:37] mingmwang commented on #4349
No, those KV pairs in TaskProperties are used by Ballista actually.  Please check those code snippets:
Configurations are serialized in the form of KV pairs and sent from Ballista Scheduler to Ballista Executor.

https://github.com/apache/arrow-ballista/blob/acbdf608807697e72122a249c4bf7505274906d0/ballista/executor/src/execution_loop.rs#L172-L95

[2022-11-28 05:56] ygf11 commented on #4389
Thanks for your suggestion @alamb @jackwener, I will work on it.

[2022-11-28 07:02] Ted-Jiang opened #4398 "Reduce duplicate Projection when PARQUET_PUSHDOWN_FILTERS is on."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]
In this sql will have two related cols:
     1. `Selected`  col `l_orderkey`
     2. `Filter` col  `l_extendedprice`

IMO, this situation where `Filter Col` not exists in `Selected col`, is perfect for row_filter_push_down. We can only visit the  `Filter Col` once, without using the `se

[2022-11-28 07:04] Ted-Jiang commented on #4398
@alamb @tustvold @thinkharderdev Look forward to hearing your opinion😄

[2022-11-28 07:22] mingmwang commented on #4349
I'm OK with the change in this PR. Ballista should still work after this PR.

https://github.com/apache/arrow-datafusion/pull/4382

[2022-11-28 07:36] mingmwang commented on #4363
I would prefer to keep a different join implementation.  A different physical plan like 'nested_loop_join' will deliver the clear information to users and developers that the plan is actually a nested loop join.

[2022-11-28 09:25] tustvold commented on #4398
I think this relates to https://github.com/apache/arrow-datafusion/issues/4020, which appears to have been closed?!

[2022-11-28 10:43] ZuoTiJia opened #4401 "Optimization rule `filter_push_down` causes `FieldNotFound` error"
**Describe the bug**
Optimization rule `filter_push_down` causes `FieldNotFound` error

**To Reproduce**
[code]
Error displayed
[code]

**Expected behavior**
When I delete the optimization rule `filter_push_down`, the statement executes normally.
[code]
Here is the log about filter_push_down. I added some descriptions about the `Expr` type.

[code]

[2022-11-28 10:59] mingmwang commented on #4267
I think it depends on what the global-state is. If the global states are predicates or something related to Column/Exprs, then we should remove such kind of global states..   But for some optimization rules, it might be better to keep a global state so that it is easily to figure out a best plan.

[2022-11-28 11:06] mingmwang commented on #4267
I think today in DataFusion's logical optimizer rules, most of the complexity come from dealing with predicates. Let's why I want to introduce the QueryConstraints into the logical plan structs.

https://github.com/apache/arrow-datafusion/issues/4222

[2022-11-28 11:10] thinkharderdev commented on #4398
So if I understand correctly, you are saying we should push down the predicate so that we only used it to generate a row selection for the other rows (i.e. we do not buffer the predicate column in memory after we have generated the selection)?

[2022-11-28 11:11] thinkharderdev commented on #4398
Would this be accomplished by simply making the filter pushdown exact? Or is there something else required?

[2022-11-28 11:36] retikulum commented on #4339
I agree that the error is in usage of `to_usize` method. I tried it with `to_isize` and it works correctly. If `isize` usage is OK then I will create a PR. What do you think @alamb

![image](https://user-images.githubusercontent.com/15185911/204267935-5990f885-6eb3-4b05-b638-bd5ced0ae5a4.png)

[2022-11-28 12:11] mustafasrepo opened #4402 "Add Support for MIN, MAX Aggregate Functions when run with custom window frames"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently, there is no support for queries involving `MIN`, `MAX` Aggregate functions when run with

custom window frames (queries involving window frame boundaries) such as below.

[code]

I want support for this functionality

**Describe the solution you'd like**

Each accumulator has a `re

[2022-11-28 12:20] tustvold commented on #4398
Ah yes, I misread the ticket #4028 may resolve this, although it might need an additional optimisation pass to remove the now-redundant projection

[2022-11-28 12:23] Ted-Jiang commented on #4398
Yes just like you mentioned it is an exact filter.

Sounds like a reasonable solution，seems miss this part in row filter.

[2022-11-28 12:39] mustafasrepo opened #4403 "Add support for NTILE built-in Window Function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently, there is no support for `NTILE` queries. When we run the query below

[code]

we get the error `called Result::unwrap() on an Err value: "Plan(\"Coercion from [Int64] to the signature Exact([UInt64]) failed.\")` . I want support for queries involving `NTILE`.

**Describe the soluti

[2022-11-28 14:19] alamb commented on #4398
If the parquet pushdown filtering is indeed exact, returning `exact` sounds like a good idea to me. RowGroup pruning and page index pruning are definitely not exact.

[2022-11-28 14:25] #3940 closed

[2022-11-28 14:32] alamb commented on #4339
Converting to `isize` will now cause issues for large positive numbers

What do you think about first trying `to_usize` and if that fails (returns an `Option`) then  try `to_isize`?

There is also `NATIVE` on `ArrowPrimtiveType` (as this function is already parameterized on `T` in theory we should be able to pick the correct conversion at compile time: https://docs.rs/arrow/27.0.0/arrow/array/trai

[2022-11-28 14:54] thinkharderdev commented on #4398
I think it should work as is. As long and `ProjectionPushdown` runs after `FilterPushdown` then the projection should be eliminated entirely I think.

[2022-11-28 14:54] alamb commented on #4401
Thank you @ZuoTiJia

cc @jackwener

I wonder if https://github.com/apache/arrow-datafusion/pull/4365 will fix this issue

[2022-11-28 14:56] alamb commented on #924
I think this is basically no longer an issue as the parquet scanning parallelism can be controlled by the configuration of the parquetexec

[2022-11-28 14:56] #924 closed

[2022-11-28 14:59] alamb commented on #1570
Update on this task is @crepererum  has added initial support to track the memory use in the grouping operation. We @tustvold  / @crepererum  (and myself as ticket master) have plans to improve the grouping operation which I will make a bit more discoverable shortly

[2022-11-28 15:01] #3264 closed

[2022-11-28 15:02] #4317 closed

[2022-11-28 15:04] alamb opened #4404 "SQL level coverage for when memory limit is exceeded"
Part of https://github.com/apache/arrow-datafusion/issues/3941

The basic idea is to write integration tests that run sql statements with a memory limit enabled and verify that a runtime error is produced (rather than memory being exceeded).

This test can also serve as an example of how to configure DataFusion in this way

[2022-11-28 15:07] alamb commented on #1568
I think this issue is mostly done. We can track additional work items as follow on epics, etc

[2022-11-28 15:07] #1568 closed

[2022-11-28 15:12] alamb commented on #587
Update here is that we are close to having enforced memory limits for grouping and sorting (see https://github.com/apache/arrow-datafusion/issues/3941 for more details).

We also have ideas on how to improve the grouping code that should make supporting spilling grouping easier to implement

[2022-11-28 15:32] jackwener commented on #4401
Look like the rule is right

[code]

I think it's caused by that filter can't eval expression

[code]
is ok

[code]
failed.

[2022-11-28 15:52] jackwener commented on #4401
I think I can make a temporary solution that only allows pushing down when it is a `column`.

When we support expression eval in filter, we can rollback.

[2022-11-28 15:55] jackwener commented on #4267
Agree it, `global-state` of all rules that I change is related `Column/Exprs` or `limit number`.

Agree, especially for rule about projection/filter.

[2022-11-28 16:49] alamb commented on #2723
To be clear, I think the outcome of implementing the plan described by @crepererum  in https://github.com/apache/arrow-datafusion/issues/2723#issuecomment-1324876060 will be:

1. Faster group by hash performance
2. More accurate memory usage accounting for grouping
3. Set us up for out-of-core grouping (aka spilling group by)
4. Make the code easier to work with

[2022-11-28 17:53] tustvold commented on #3777
Looking at the interface of `SchemaProvider` the only interface it needs is to provide access to `TableProvider` by name, it doesn't actually need any more information than this.

The constraint then becomes, what information is needed to construct a `TableProvider`, which boils down to what information `TableProvider` needs to be able to provide. Currently this is just the schema, there is suppor

[2022-11-28 18:21] #4331 closed

[2022-11-28 18:56] sarahyurick commented on #3944
This turned out to just be an error with the data file I was working with. Everything seems to work as expected now.

[2022-11-28 19:42] alamb commented on #4392
I agree this would be an excellent idea

The planner code I think is the code that translates from SQL statements to LogicalPlan: https://github.com/apache/arrow-datafusion/blob/a31b44eae236920d43ddd3ef7fadf8f9abf18976/datafusion/sql/src/planner.rs

[2022-11-28 19:43] alamb commented on #4392
I agree this would be a good first issue as it will be mostly a software engineering exercise and doesn't require much datafusion internals knowledge. Thank you @jackwener

[2022-11-28 19:45] alamb commented on #4028
This is a good proposal I think -- it would skip unecessary filtering and likely make plans faster. It will become more useful (maybe even necessary) when predicate pushdown is enabled by default

[2022-11-28 19:49] alamb commented on #4401
I wonder if there is something wrong with our HAVING clause support

Specifically, it look like
[code]

Is treating `date_trunc('day', column1) ` as a column named `"date_trunc('day', column1)"` which clearly would not be correct 🤔

[2022-11-28 20:09] #4300 closed

[2022-11-28 20:55] tustvold opened #4408 "Information Schema Shows Tables from Other Catalogs"
**Describe the bug**

Currently `information_schema` shows the tables from all catalogs, effectively breaking catalog-level isolation.

**To Reproduce**

Using the datafusion-cli

[code]

**Expected behavior**

[code]

This is consistent with postgres

[code]

It is also consistent with mysql

[code]

**Additional context**

I was looking into this as part of #3777, and information_schema kept cro

[2022-11-29 02:24] Ted-Jiang commented on #4388
This is related to filter pushdown,  i think `abs` is a selective filter when using `=`🤔

[2022-11-29 04:17] jackwener opened #4413 "enhance rule for more join type."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
- push_down_filter support SEMI/ANTI
- push_down_limit support SEMI/ANTI
- propagate_empty support more Join

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alt

[2022-11-29 06:52] JanKaul commented on #3777
I think the biggest issue with the making `SchemaProvider` async is that it makes query planning async. The async gets introduced to the query planner in the `SessionContext` implementation of `SessionState`:

[code]

And I don't see a clean solution to make `ContextProvider` sync while `SchemaProvider` being async. If you are pre-fetching the tables you could do it already in the `SchemaProvider`

[2022-11-29 08:04] Kikkon opened #4414 "Add support for physical operators serde"
_Originally posted by @andygrove in https://github.com/apache/arrow-datafusion/issues/4390#issuecomment-1329255078_

[2022-11-29 09:20] DDtKey opened #4420 "Incorrect error for plus/minus operations over timestamps and dates"
**Describe the bug**

If you would try to perform plus/minus operation over `dates`/`timestamps` inside SQL it will return an error:
` X  - Y can't be evaluated because there isn't a common type to coerce the types to`

It looks incorrect to me, it's more about unsupported operations (it works only with intervals), not coercion itself.

Moreover it confuses me, because it could be the same types a

[2022-11-29 13:21] HaoYang670 opened #4424 "Replace `&Option<T>` with `Option<&T>`."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Actually, I file this issue because I just remember we've ever done the same thing in arrow-rs: https://github.com/apache/arrow-rs/issues/1556
And I find a discussion about the trade-off between `&Option<T>` and `Option<None>`: https://www.reddit.com/r/rust/comments/wqsxk2/is_it_better_to_pass

[2022-11-29 15:27] #4264 closed

[2022-11-29 16:29] tustvold commented on #4424
I can't think of a valid reason to ever return `&Option<T>`, so :+1:

[2022-11-29 17:18] #4009 closed

[2022-11-29 18:14] alamb commented on #4397
Anything involving arrow is going to be non ideal with multiple "INSERT INTO" statements.

I suggest we implement support for `INSERT INTO` statements (and possibly https://github.com/apache/arrow-datafusion/issues/4396) as part of the test harness rather than in DataFusion itself

[2022-11-29 18:38] wolffcm commented on #3105
I can also reproduce this with `datafusion-cli`, which I would guess is the same issue?
[code]

[2022-11-29 20:07] #4404 closed

[2022-11-29 20:24] NGA-TRAN opened #4426 "Initial support for prepared statement"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In order to support [Prepare statement](https://en.wikipedia.org/wiki/Prepared_statement) I am thinking about adding 2 new functions. This is is preliminary thinking. If you have some idea please advice.

### Function 1: Compile a SQL with question marks/parameters

- Input: a SQL with questio

[2022-11-29 20:25] NGA-TRAN commented on #4426
@alamb What do you think?

[2022-11-29 20:28] alamb commented on #4426
This is great @NGA-TRAN  -- thank you for writing it up. My only feedback is that for option 2 it might be easier if the output was a new LogicalPlan that had the parameter values filled in, which can then be fed through the rest of the planning machinery.

[2022-11-29 20:31] NGA-TRAN commented on #4426
Thanks @alamb . Let me see how Logical Plan looks like and propose a clearer one

[2022-11-29 20:32] alamb commented on #4426
I think the feature described in this proposal is needed to properly handle prepared statements in FlightSQL

For example, in ballista parameter handling appears to still be a "TODO":
https://github.com/apache/arrow-ballista/blob/acbdf608807697e72122a249c4bf7505274906d0/ballista/scheduler/src/flight_sql.rs#L876

As more background, we are in the process of designing and implementing FlightSQL in I

[2022-11-29 22:29] alamb commented on #4349
Here is my next contribution to clean up configuration: https://github.com/apache/arrow-datafusion/pull/4427 (slowly consolidating the configurations)

[2022-11-29 22:40] dmitrijoseph opened #4428 "with_column_renamed is always a NO OP when table name is ?table?"
[code]

[code]
This time using `?table?` as a qualifier
[code]

[code]
This time registering table so it has a set table name
[code]

[code]
This time registering table so it has a set table name and using that table name as a qualifier
[code]

[code]
I have two lines of thinking on this
1. `with_column_renamed` seems to be the only function in the DataFrame API that always requires the use of the

[2022-11-30 03:35] jackwener opened #4430 "`UnwrapCastInComparison` exist bug"
**Describe the bug**
[code]

**To Reproduce**
run in optimizer integration-test

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-11-30 04:01] liukun4515 commented on #4389
in the spark just the

[code]

cc @ygf11

[2022-11-30 04:06] liukun4515 commented on #4389
Can we change the logical plan of join to presto or doris? and extract the `on condition` to the `option<expr>`

If we can change the `pub on: Vec<(column,column)>,` to option<expr>, we don't need to do the [join type coercion](https://github.com/apache/arrow-datafusion/pull/4353) specifically for the expr in the Join plan.

[2022-11-30 04:12] liukun4515 commented on #4389
😭, I also confused about we split the join to `join` and `crossjoin` in the logical phase, I think we can combine these two together and just add `crossjoin` join_type for this.  This is a historical issue and don't know when the datafusion add the `cross join` in the logical plan.

I think it's necessary to refactor this to combine them together in the logical phase, but it will bring a `api brea

[2022-11-30 05:16] HaoYang670 opened #4431 "Remove the schema checking from `CrossJoinExec::try_new`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-datafusion/blob/49166ea55f317722ab7a37fbfc253bcd497c1672/datafusion/core/src/physical_plan/joins/cross_join.rs#L67-L92
We don't need to check the schemas when doing `cross join` because the join key is always empty.

**Describe the solution you'd like**
Remove t

[2022-11-30 05:39] ygf11 commented on #4389
Thank you @liukun4515.
Avoid adding type coercion specifically for join makes sense to me, but we need split the expression to join keys every time we use it, this is a regular operation in optimizer.

Another way to avoid adding the special type coercion, is:

* Still use `Vec<(Expr, Expr)>` in `LogicalPlan::Join`.
* Combine left and right join keys in `logical_plan.expressions()`.
* Split casted

[2022-11-30 07:32] retikulum commented on #4386
Hi. I added this on purpose (but without knowing it is extremely expensive) to pass `test_dictionary_type_to_array_coersion` test case. The following error was generated before enabling it:
[code]
It seems great to me for enabling the feature flag rather than enabling it by default. Thanks for noticing me.

[2022-11-30 07:42] jackwener opened #4433 "Follwup #4425"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

- support push_down_filter when meet Window
- support SEMI/ANTI JOIN  push_down_filter **https://github.com/apache/arrow-datafusion/pull/4365/files#r1034284043**
- remove redundant predicate. https://github.com/apache/arrow-datafusion/pull/4365/files#r1033241313
- code style FP: `partition()`

[2022-11-30 08:33] crepererum opened #4434 "Do NOT convert intermediate/source errors to strings."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now that DF emits `ResourceExhausted` errors for out-of-memory situations, it would be nice if the API user could somehow detect this situation (e.g. to convert this to a suitable HTTP status code).

**Describe the solution you'd like**
There are a few places where we convert errors to strings

[2022-11-30 08:37] crepererum opened #4435 "Helper to get "root" error"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It would be nice to get the typed "original" error, even when it is wrapped into a chain of `ExternalError`, `ArrowError`, `Arc` etc. The original error could be used to generate HTTP status codes in certain situations, e.g. "resource exhausted".

**Describe the solution you'd like**
[code]

*

[2022-11-30 08:37] crepererum commented on #4435
FYI: I have an improved implementation of what we have in InfluxDB IOx. It just needs some clean ups and I'll file a PR for that.

[2022-11-30 08:48] mingmwang commented on #4389
I would prefer to keep the current two logical joins, `join` and `crossjoin`, but change the equal join conditions `Vec<(column,column)> `  to an `Option`

[2022-11-30 09:08] mingmwang commented on #4435
There was a similar ticket I raised before.

https://github.com/apache/arrow-datafusion/issues/3410

[2022-11-30 09:13] mingmwang commented on #4372
@jackwener
Do you know that in Doris, is that a default value for Filter selectivity?

[2022-11-30 09:31] mingmwang commented on #4372
@isidentical

Presto/Trino, looks like it is default to 0.9

[code]
https://github.com/trinodb/trino/blob/0f71007ecb480384a9c443ba883f4bc4d896df83/core/trino-main/src/main/java/io/trino/cost/FilterStatsCalculator.java#L90-L93

SparkSQL, looks like it is default to 1.0

[code]

[2022-11-30 10:06] liukun4515 commented on #4389
[code]

It's a smooth method to make consistent with other logic, we can try it.

Thanks

[2022-11-30 10:38] Dandandan commented on #4389
Wouldn't an empty list for the join conditions effectively the same as `None`? We don't have to make it an `Option` but just use a join with an empty `Vec` for cross joins.

[2022-11-30 10:41] mustafasrepo opened #4438 "Fix output_ordering of WindowAggExec"
**Describe the bug**

`output_ordering` method of `WindowAggExec` gives output ordering of its input, as in the [link](https://github.com/apache/arrow-datafusion/blob/fdc83e8524df30ac5d0ae097572b7c48dc686ba9/datafusion/core/src/physical_plan/windows/window_agg_exec.rs#L125). Although conceptually it is the correct behavior, `SortExec` is added before the `WindowAggExec` during `BasicEnforcement` p

[2022-11-30 11:29] jackwener commented on #4401
I think https://github.com/apache/arrow-datafusion/pull/4365 should fix the issue.

😂 My mistake, it actually is a bug, `push_down_filter` push a `column` in stead of `Expr`

[2022-11-30 11:39] thinkharderdev commented on #4426
I agree. Conceptually it seems like the bind variable can just be an `Expr` but physical planning should fail if it hits any bind variable exprs. So before physical planning you rewrite the plan to replace any such expressions with user-supplied literals.

[2022-11-30 12:19] jackwener commented on #4401
I have fix it, I don't prepare to mix it into #4365.
Mix more thing into a big PR isn't a good thing, I will new PR after merge it.

[2022-11-30 12:21] mustafasrepo opened #4440 "Refactor Built-in, Aggregate window functions to increase code reuse."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Built-in Window Functions and Aggregate functions are handled quite differently in the current implementation. This decreases both readability and code reuse. As an example, `BuiltInWindowFunctionExpr` uses record batch during [creation](https://github.com/apache/arrow-datafusion/blob/522a2a4

[2022-11-30 14:10] ygf11 opened #4442 "Add support for non-column key for equijoin when eliminating cross join to inner join"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently datafusion support to rewrite cross join to inner join. For example:
[code]

But only when the join keys are column, so the following sql will not rewrite to `inner join`.
[code]

**Describe the solution you'd like**
Add support for non-column key for equijoin when eliminating cross

[2022-11-30 15:16] #4339 closed

[2022-11-30 18:04] NGA-TRAN commented on #4426
Thanks @alamb and @thinkharderdev for the feedback. Here is my proposal. I will update the main section above after we agree on this.

We will use [Postgres's prepared statement syntax](https://www.postgresql.org/docs/current/sql-prepare.html#:~:text=A%20prepared%20statement%20is%20a,statement%20is%20planned%20and%20executed)

Let us create a table for our examples

[code]

# New Feature: PREPARE

[2022-11-30 18:19] NGA-TRAN commented on #4426
I will start working on this while addressing review comments on design. My check list will be:

1. sqlparser parses the PREPARE and EXECUTE (available, just need to make sure they work in DF)
2. Generate and store PreparedPlans (many steps that will needs it own checklist)
3. Execute a PreparedPlan (this may need a few steps too)

[2022-11-30 19:10] alamb commented on #4426
Thanks @NGA-TRAN  -- like the proposal in general. I think the trickiest part will be "where to store the prepared statement" (aka `my_plan_2`)

And I think it is critical for this feature to be opt in (so downstream crates can decide if/how they want to handle the state management)

I suggest following the model of CreateExternalTable

https://github.com/apache/arrow-datafusion/blob/23b4495516a5a

[2022-11-30 19:17] #3949 closed

[2022-11-30 19:46] alamb commented on #4401
I 100% agree -- thank you @jackwener

[2022-11-30 19:51] #4266 closed

[2022-11-30 21:27] NGA-TRAN commented on #4426
I have tried to parse `PREPARE`  and `EXECUTE` statements. They both works well

<details>
<summary>Here is the test and output of  `PREPARE`. sqlparser has enum Value::Placeholder to store the parameter. I will use  that in LogicalPlan </summary>

[code]

[code]

</details>

<details>
<summary>Here is the test and output of  `EXECUTE`</summary>

[code]

[code]

</details>

[2022-11-30 21:36] alamb commented on #825
as of https://github.com/apache/arrow-datafusion/pull/4427 the existence of row group pruning will be present in the config settings

Also DataFusion now can push predicates down into the scan!

[2022-11-30 21:53] alamb commented on #3464
We have a draft of this post ready here https://github.com/apache/arrow-site/pull/280