[2021-08-14 21:07] andygrove opened #886 "Update datafusion-cli to support Ballista, or implement new ballista-cli"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The DataFusion CLI is very handy for demos and testing. It would be nice if we had a similar capability for Ballista.

**Describe the solution you'd like**
I would like a CLI that works with Ballista.

**Describe alternatives you've considered**
Add Ballista support to datafusion-cli, or creat

[2021-08-14 21:10] andygrove commented on #883
I think we should be publishing the crate. We cannot release from the source tarball that was voted on because it has a snapshot version and also a path dependency on DataFusion, so we'll need to fix this for the next release.

On a related note, I'd like the CLI to support Ballista as well, and there is the choice to extend datafusion-cli or create a new ballista-cli. See https://github.com/apach

[2021-08-14 22:11] houqp commented on #883
https://github.com/apache/arrow-datafusion/pull/885 has datafusion-cli dependency fixed.

[2021-08-15 00:02] houqp opened #887 "Release a new version of python binding"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Python binding's PyPI release is blocked by https://github.com/apache/arrow-datafusion/pull/875#discussion_r688900939.

**Describe the solution you'd like**
TBD

**Describe alternatives you've considered**

Publishing to PyPI directly won't work because it's a binary release, which itself nee

[2021-08-15 00:03] houqp commented on #771
Filed https://github.com/apache/arrow-datafusion/issues/887 to track Python PyPI release as a follow up.

I believe the only remaining item is to copy my code signing key from `dev/arrow/KEYS` to `release/arrow/KEYS`.

[2021-08-15 05:17] novemberkilo commented on #850
@alamb I am interested in picking this up if this is an appropriate way to begin contributing to this project.

[2021-08-15 06:16] novemberkilo commented on #850
What is `all group columns` referring to here please?

Perhaps is this the same as checking that for each `array` that appears on https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/hash_aggregate.rs#L371 we check that `array.null_count() == 0`

[2021-08-15 11:32] alamb commented on #883
I agree that publishing a separate `datafusion-cli` crate is the way to go here. 👍

[2021-08-15 11:33] djKooks commented on #861
@andygrove hope to work on this, if you don't have any other plan.

[2021-08-15 11:34] alamb commented on #886
I think a single CLI would be the best as it reduces the number of crates to keep track of (for users and contributors) as well as makes the close connection of ballista/datafusion apparent.

If we are worried (as I am sometimes) about an unreasonable  number of additional dependencies, we could add a `ballista` rust feature to the `datafusion-cli` to conditionally include ballista

[2021-08-15 11:36] alamb commented on #882
`cargo +nightly build --release --features "simd"`

[2021-08-15 11:48] alamb commented on #771
@houqp  I have added your key here: https://dist.apache.org/repos/dist/release/arrow/KEYS

[2021-08-15 12:26] Dandandan commented on #883
Yes, agreed 👍

[2021-08-15 14:02] Dandandan commented on #882
I changed the issue to add some docs around this.

Btw, @andygrove AFAIK the SIMD option doesn't help a lot with the TPC-H queries. Building with snmalloc or mimalloc and fat LTO (longer build time) does improve execution times.

[2021-08-15 17:02] andygrove commented on #861
Thank you @djKooks that would be great

[2021-08-15 18:14] andygrove opened #888 "[DataFusion CLI] Support querying CSV files without providing the schema"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to be able to query CSV files without having to provide the schema.

**Describe the solution you'd like**
The `CREATE EXTERNAL` table command should not require columns to be provided for CSV files. There should be an option for specifying whether the CSV file has a header row wit

[2021-08-15 19:06] houqp commented on #882
It would be good if we can provide doc on how to produce the most optimized build: simd + snmalloc + LTO.

[2021-08-15 19:07] houqp commented on #771
Thank you @alamb we are all good to close this issue then :)

[2021-08-15 19:07] #771 closed

[2021-08-15 19:10] houqp opened #890 "Release Datafusion 6.0.0"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We had some oversights in the 5.0.0 release (https://github.com/apache/arrow-datafusion/issues/771) causing us not able to release the python binding and datafusion-cli.

**Describe the solution you'd like**

Release Datafusion 5.1.0 with an improved process to support python binding and cli

[2021-08-15 22:37] houqp opened #892 "support join conditions in where clause"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

tpch query 8 is taking forever to execute in ballista because its subquery is planned as a cross join across 8 tables.

**Describe the solution you'd like**

The join conditions for query 8 are specified in the where clause. Our optimizer should pick this up and rewrite the part of the cross

[2021-08-15 23:14] #877 closed

[2021-08-16 05:09] praveentiru commented on #880
It seems that this is lack of proper implementation for certain functions. After upgrading the dependency from "4.0" to "5.0" the signature of concat has changed from ```pub fn concat(e: Expr) -> Expr``` to ```pub fn concat(args: &[Expr]) -> Expr```.

It would be helpful to new users to documents functions that are yet to be properly implemented. I will try to create a list but, need someone to va

[2021-08-16 06:39] #162 closed

[2021-08-16 06:39] Dandandan commented on #162
No longer errors

[2021-08-16 12:01] djKooks commented on #861
@andygrove
Would it be okay to put like following?
[code]

[2021-08-16 12:50] andygrove commented on #861
Yes, I think that makes sense.

[2021-08-16 12:50] andygrove commented on #861
I would be interested to hear what others think though. @alamb @Dandandan @jorgecarleitao @houqp do you have an opinion on this?

[2021-08-16 13:01] jorgecarleitao commented on #861
I agree that this makes the most sense 👍

Out of curiosity, do the bindings come with the client and executors, or just the client?

[2021-08-16 13:24] #886 closed

[2021-08-16 13:46] msathis opened #894 "[Ballista] Display Executor last seen info in the UI"
**Describe the bug**
Follow up to #568

**To Reproduce**
Steps to reproduce the behavior:
Ui doesnt show the last seen info

**Expected behavior**
Show the executor last seen info in the UI

**Additional context**
Will help to identify the active executors against inactive or lost ones

[2021-08-16 13:57] alamb commented on #679
FWIW I am making good progress on this feature and hope to have a PR up later today with a proposed implementation

[2021-08-16 14:20] andygrove opened #896 "Refactor ParquetExec::try_from_files in preparation for making it parallel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The logic in `ParquetExec::try_from_files` is not written in a way that makes it easy to parallize.

**Describe the solution you'd like**
Refactor logic to make it easier to apply threading in a separate PR.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-08-16 15:16] alamb opened #898 "Track total memory allocation used by DataFusion plans"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When running DataFusion as part of a Rust program that has other substantial uses of memory (for example Buffers in IOx) we would like to know how much memory is allocated when running DataFusion plans so we can:
1. Allocate sufficient Memory to DataFusion / limit other users of memory
2. Sta

[2021-08-16 15:16] alamb commented on #587
I filed https://github.com/apache/arrow-datafusion/issues/898 for tracking memory used by a plan

[2021-08-16 15:16] alamb commented on #464
I think this question is answered so closing this ticket

[2021-08-16 15:16] #464 closed

[2021-08-16 15:19] alamb opened #899 "Track memory usage for each individual operator"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
When reviewing a plan, it would be nice to know the amount of memory each individual `ExecutionPlan` allocated during its execution

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise

[2021-08-16 15:25] alamb commented on #587
https://github.com/apache/arrow-datafusion/issues/899 for tracking memory used by individual operators

[2021-08-16 15:31] andygrove opened #900 "Question: is the combination of limit and predicate push-down safe in ParquetExec?"
**Describe the bug**
We push pruning predicates and limits down to ParquetExec but it seems like the combination could be unsafe, or perhaps I am not comprehending the logic?

Given the predicate `x > 10` and a limit of 10, suppose we have the following 2 partitions:

- Partition 0 has 100 rows and 5 rows match `x > 10`
- Partition 1 has 100 rows and 5 rows match `x > 10`

As we iterate over row g

[2021-08-16 19:32] Dandandan commented on #900
I think in actually enabling the pushdown, it shouldn't push down the limit when it has a filter. So it also will not be pushed to the parquet exec.

Doesn't hurt to have some extra tests around this, or maybe some code in the parquet exec to disable / do limit after pruning when the `ParquetExec` has a predicate.

[2021-08-16 20:56] alamb commented on #850
Thanks @novemberkilo

Yes, I think that is right. So rather than

[code]
The idea would be to write something like this

[code]

But `ScalarValue::eq_array_no_nulls` does not exist yet -- you would have to write it / test it

[2021-08-16 21:00] alamb commented on #882
I also think we should suggest building with `native` and/or at least `avx2` instructions (by default my `rustc` only used sse/sse2, presumably for compatibility)

[2021-08-16 21:02] alamb commented on #162
🎉

[2021-08-16 21:03] alamb commented on #861
I agree having a separate python binding for Ballista in the location suggested by @djKooks  in https://github.com/apache/arrow-datafusion/issues/861#issuecomment-899453613 makes sense to me

[2021-08-16 22:08] novemberkilo commented on #850
Thanks - that was the direction I was headed in too. Am keen to pick this up so please assign to me as appropriate?

[2021-08-17 05:28] Dandandan commented on #882
Here is an example of using all the options:

https://github.com/h2oai/db-benchmark/pull/182/files

[2021-08-17 10:39] alamb commented on #850
@novemberkilo  assigned

[2021-08-17 21:10] #815 closed

[2021-08-18 10:38] Igosuki opened #903 "Avro table provider"
In a platform I work on, I decided to write avro log files so I could easily close and append binary files to s3. Since I didn't want to bother transforming it to another format using Spark, which is the thing I wanted to drop in the first place, I started writing what's required to read avro as a datasource in datafusion.

Here is the branch on my fork (I merged the nested field PR in it but it c

[2021-08-18 11:27] #863 closed

[2021-08-18 12:20] Igosuki commented on #903
Just tested my code on real avro files I own and got 200Mb processed in 0.3s (over a window function, Datafusion is the real deal !

[2021-08-18 12:57] Dandandan commented on #903
I think avro files as source would be great to have in DataFusion 👍

[2021-08-18 13:00] Dandandan commented on #89
This is implemented

[2021-08-18 13:02] Dandandan commented on #90
Closing, as the issue is outdated

[2021-08-18 13:02] #90 closed

[2021-08-18 13:08] Dandandan opened #904 "Optimize `count(col)` using table statistics"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

If both the number of rows and the number of nulls are available as statistic, we can compute the value based on statistics only when reading.
`row_count - null_count(row)`

**Describe the solution you'd like**
Add an optimization rule that matches this count expression with column and use th

[2021-08-18 13:11] alamb commented on #89
Closed in https://github.com/apache/arrow-datafusion/pull/620

[2021-08-18 13:11] #89 closed

[2021-08-18 13:31] andygrove commented on #881
Blog post PR - https://github.com/apache/arrow-site/pull/140

[2021-08-18 14:52] alamb opened #905 "Optimize performance of regular expression filtering"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The performance of the `~` operators, introduced in https://github.com/apache/arrow-datafusion/pull/870 will likely be non ideal due to the interface of the arrow kernel used, as described in https://github.com/apache/arrow-rs/issues/697

**Describe the solution you'd like**
If/when the kernel

[2021-08-18 16:45] alamb commented on #888
There is already code to infer the schema when reading CSV files in arrow: https://docs.rs/arrow/5.2.0/arrow/csv/reader/struct.ReaderBuilder.html#method.infer_schema

This ticket would likely involve connecting that up in DataFusion

[2021-08-18 23:19] mmuru opened #906 "[Python]: register custom datasource"
In Python side, how to register a custom datasource? The register_table method in the ExecutionContext is not available. In my use case,  read a delta table and register it as a table with datafusion and perform sql query. Thanks for your help.

[2021-08-19 06:41] houqp commented on #903
:+1: from me as long as you can commit to keep maintaining the code :)

[2021-08-19 06:45] houqp commented on #906
It looks like we need to extend the python binding to expose this method. PR welcome :)

[2021-08-19 13:21] boaz-codota commented on #899
This got me interesting, so I started looking into it, and I'm not sure how we aim to tackle it.

My 1st idea was to write a Decorator which implements `ExecutionPlan` and which replace the allocator in some way, but that seems non-feasible due to the fact that it both requires replacing the `GlobalAllocator` (which is way more intrusive than I imagine DataFusion wanting to ever be), and will not

[2021-08-19 14:30] ehenry2 opened #907 "S3 Support"
Now that there is a PR in-flight for remote storage systems (#811 ), I wanted to ask what the plan was to implement s3 support. Is this something that will live within the datafusion project or maintained outside? Also, does anyone plan on working on this, or is this something that you are looking for a contributor for?

Also, I'm new to the project, so what is the best way to ask these kind of qu

[2021-08-19 15:39] Dandandan commented on #907
My personal feeling is that we probably don't want to have every storage system inside the DataFusion crate by default but either:

* Keep separate crates, like `datafusion-s3` which has implementations for some interfaces, and maybe also exposes some helper functions
* Have some optional features (e.g. `s3`) living inside the crate.

Wydt @alamb @houqp @andygrove @jorgecarleitao

[2021-08-19 17:03] Jimexist commented on #907
A separate crate is a good idea.

How would you think of keeping the code as part of the workspace?

[2021-08-19 17:14] ehenry2 commented on #907
Another question I wanted to throw out too, on implementation details (probably putting the cart before the horse, but wanted to ask anyway), was should we use Rusoto (in maintenance mode) or the new AWS rust sdk (in Alpha, not on crates.io until GA). My current thinking is probably to use Rusoto for now, as it will probably be a while until the AWS SDK gets into GA, but want to hear everyone thou

[2021-08-19 20:17] alamb commented on #907
Yes I think separate crates is a very good idea to avoid datafusion requiring a massive dependency stack and to keep compile time reasonable.

I think this is a reasonable for "core" integrations, though going this path also subjects those crates to the apache arrow governance model (among other things slower release cycle) which may not be needed here

Maybe we could start it as its own repo / se

[2021-08-19 20:42] alamb commented on #899
I was kind of imagining we would have to do something like manually registering memory allocations. the `malloc_size_of` trait is a cool idea.

While it would be likely be crazy complicated to do this for all allocations, I think all the built in DataFusion operators use most of their memory in intermediate RecordBatches and a potential single large structure (e.g. the hash tables in hash_join and

[2021-08-20 06:38] houqp commented on #907
I also think separate crate is a good idea. The design that @yjshen came up with made it very easy to implement different remote storage backends as self-contained plugins.

Maybe it's finally the time to create that general Rust database Github Org that @andygrove mentioned at https://github.com/ballista-compute/sqlparser-rs/issues/308#issue-868292203? We could use it as the incubator for various

[2021-08-20 06:49] yjshen commented on #907
Wow, that's great!

[2021-08-20 08:12] yjshen commented on #907
If someone may be interested, I will also work on HDFS support right after this.

[2021-08-20 13:29] andygrove commented on #907
If we are developing crates that are extensions to DataFusion then I would be nervous about creating a separate org & community with its own governance for these crates. I think it would be fine for generic database-related crates that don't have "arrow" or "datafusion" in the name, such as the `sqlparser-rs` crate.

We already have the ability to create `arrow-experimental-*` repos where we do no

[2021-08-20 14:10] boaz-codota commented on #899
Cool, so I dug through the code a bit, and this seems to be a bit out of my league (needs high familiarity with way too many things). Thank you for the response!

[2021-08-20 17:23] Igosuki commented on #903
https://github.com/apache/arrow-datafusion/pull/910

[2021-08-20 22:07] CodingCat opened #911 "the docker build of datafusion CLI is broken"
**Describe the bug**

the docker-based build of datafusion CLI is broken

[code]

**To Reproduce**
Steps to reproduce the behavior:

just run `docker build -f datafusion-cli/Dockerfile . --tag datafusion-cli` can reproduce the issue

**Expected behavior**

the build can be successful

[2021-08-21 10:28] alamb opened #913 "Add fuzzing / random SQL testing"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In a past project, we had a harness that could generate random SQL queries and it found many bugs -- such tests are a wonderful way to help database software mature. Applying such technology to DataFusion would be very cool.

On https://github.com/sqlparser-rs/sqlparser-rs/pull/312#discussion_

[2021-08-21 16:18] Dandandan commented on #164
Solved

[2021-08-21 16:18] #164 closed

[2021-08-21 17:02] Dandandan opened #915 "Support NotLike operator in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
More support for queries in ballista.

**Describe the solution you'd like**
Add mapping from NotLike to operator

**Describe alternatives you've considered**

**Additional context**

[2021-08-21 18:57] Dandandan opened #917 "Explain analyze doesn't (fully) optimize queries"
**Describe the bug**

A simple query like `select max(l_partkey) from lineitem` has a different plan when using `explain analyze` than what is executed when trying a normal `select`.

The output from `explain analyze` is slower than normal and hasn't the statistics-based optimization enabled:
[code]

**To Reproduce**
run some queries with explain vs explain analyze.

**Expected behavior**
explain

[2021-08-21 18:57] Dandandan commented on #917
FYI @alamb

[2021-08-21 19:20] #915 closed

[2021-08-21 19:23] andygrove opened #918 "Integration test fails to build docker images"
**Describe the bug**

ballista-base gets tagged as 0.6.0 but then a subsequent docker build is looking for 0.5.0-SNAPSHOT

[code]

**To Reproduce**
`./dev/integration-tests.sh`

[2021-08-21 19:37] andygrove commented on #918
I changed 0.5.0-SNAPSHOT to 0.6.0 buut there is another issue:

[code]

[2021-08-21 20:01] andygrove commented on #918
I commented out some of the caching in the docker image just to try and get the tests working locally and ran into yet another issue

[code]

[2021-08-21 22:33] houqp commented on #918
I am able to reproduce this as well, I will take a closer look at it later tonight. One really strange thing is cargo-chef is detecting both ballista-core and ballista-client to be at version 0.0.1.

[2021-08-21 22:45] houqp commented on #918
one interesting observation from my quick test, removing `, version = "0.6.0" ` in `ballista-core = { path = "../core", version = "0.6.0" }`  gets rid of the error

[2021-08-21 22:53] houqp commented on #918
this is very strange because datafusion dependency pin doesn't have this problem, it's only happening to ballista dependencies.

[2021-08-22 05:54] houqp commented on #918
Pinning cargo chef to version 0.1.23 using `cargo install cargo-chef --version 0.1.23 ` fixes the error. There are a bunch of version masking changes (https://github.com/LukeMathWalker/cargo-chef/commits/main) introduced lately, which I imagine are the source of this regression. We should probably file an upstream issue to further troubleshoot there.

[2021-08-22 08:01] houqp opened #921 "Build abi3 wheels for python binding"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

For every python binding release, we are building python wheels for specific python patch versions.

**Describe the solution you'd like**

Build a single abi3 wheel for each platform for better forward compatibility and reduce complexity.

Here is an example of what abi3 wheel looks like: htt

[2021-08-22 08:03] houqp commented on #921
@jorgecarleitao @Jimexist @kszucs do you know if there is any particular reason why we are not building abi3 wheels? It's been working really well for deltalake's python binding, so I figured we might want to go with the same setup for datafusion as well.

[2021-08-22 11:06] alamb opened #924 "Add a separate configuration setting for parallelism of scanning parquet files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
When reading multiple parquet files, DataFusion will sometimes request many file handles from the OS concurrently. This is both inefficient (each file handles takes up memory, requires system calls, etc) as well as leads to "too many open files" types errors.

Depending on how fast IO comes in

[2021-08-22 14:00] Dandandan commented on #924
A good start might be to start limiting the number of maximum threads that are used for `spawn_blocking` code, by default there are max 512 concurrent threads for those tasks.

See:

https://docs.rs/tokio/1.10.0/tokio/index.html#cpu-bound-tasks-and-blocking-code

[2021-08-22 14:57] #911 closed

[2021-08-22 15:10] #894 closed

[2021-08-22 15:52] Igosuki opened #925 "Read from remote file systems"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Arrow's python and R packages already have the concept of reading from alternative file systems such as s3 (not necessarily limited to AWS here).

**Describe the solution you'd like**
Given a URI, datafusion can determine the proper FileSystem implementation to use to read the file, 'file://'

[2021-08-22 15:53] Igosuki commented on #925
Just saw there is an ongoing discussion at https://github.com/apache/arrow-datafusion/issues/907 my bad

[2021-08-22 15:53] #925 closed

[2021-08-22 16:54] Igosuki commented on #83
Started hacking here https://github.com/Igosuki/arrow-datafusion/tree/map_access
Works for arrays, haven't gotten around to do the physical plan for dictionary because of generics

[2021-08-22 18:03] #918 closed

[2021-08-23 00:14] houqp commented on #837
@Jimexist I likely won't have the capacity to get this done for the upcoming 5.1.0 release. But if you have time to help with setting up the doc, please let us know so we can add it to the 5.1.0 milestone :)

[2021-08-23 08:26] Dandandan opened #928 "Generate Tokio Runtime in ExecutionContext"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently a Tokio runtime is created outside of the control of DataFusion, and requires another user to specify a `#[tokio::main]` or another runtime.

The downside of this is that the config is outside of the control of DataFusion and depends on it being configured externally.

**Describe th

[2021-08-23 08:27] Dandandan commented on #928
FYI @alamb as this also has impact on IOx

[2021-08-23 09:31] Jimexist commented on #837
i wonder what would be the conclusion for hosting site? this will likely impact on how the docs are organized so i'd like that to be sorted out.

also @andygrove or @alamb any suggestions?

[2021-08-23 10:15] alamb commented on #917
I will take this one. Thanks @Dandandan

[2021-08-23 10:19] alamb commented on #924
For systems that use the same tokio (global) executor for DF and possibly other non DF code, I do think it would also make sense to have DataFusion limit its parallelism internally

[2021-08-23 11:08] alamb commented on #928
If we go this approach, care must be taken to ensure any newly created executor does not interfere with one created with `[tokio::main]`

Here is an example of such a dedicated tokio executor that we made in IOx: https://github.com/influxdata/influxdb_iox/blob/main/query/src/exec/task.rs#L48-L65

I would be willing to contribute the `DedicatedExecutor` code back upstream to DataFusion if there is

[2021-08-23 11:13] alamb commented on #837
@Jimexist  I don't have any specific suggestions / opinions on the tech for site hosting. The gh-pages idea seemed like a good one ( https://github.com/apache/arrow-datafusion/pull/244 and https://github.com/apache/arrow-datafusion/pull/245) but I can't remember why those PRs got closed

[2021-08-23 12:53] Jimexist commented on #837
maybe @houqp can confirm that https://github.com/apache/arrow-datafusion/issues/771#issuecomment-888490358 was the reason?

[2021-08-23 16:37] houqp commented on #837
Yes, I believe @andygrove closed them because the discussion from the mailing list suggested to use the main arrow site instead. Also see https://github.com/apache/arrow-datafusion/pull/244#issuecomment-833006211.

[2021-08-23 19:24] #921 closed

[2021-08-23 19:27] alamb opened #933 "Physical plan explain UNION query says "ExecutionPlan(PlaceHolder)""
**Describe the bug**
The output of EXPLAIN when the query has a `UNION ALL` contains placeholder text rather than the operator name

**To Reproduce**
Reproducer:
[code]

Run CLI
[code]

[code]

Actual output:
[code]

Note the `ExecutionPlan(PlaceHolder)` which is the placeholder txt.

**Expected behavior**
I expect `ExecutionPlan(PlaceHolder)` to say `UnionExec` or something similar

**Additional

[2021-08-23 20:38] alamb opened #935 "Add support for TRIM BOTH/LEADING/TRAILING"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The more standard SQL datafusion supports, the easier it will be to integrate it into the rest of the analytics ecosystem

**Describe the solution you'd like**
I would like to be able to run the following queries without error:

[code]

[code]

Actual output:
[code]

**Describe alternatives yo

[2021-08-23 20:52] #917 closed

[2021-08-23 20:58] seddonm1 commented on #935
I believe this should be very easy now the parser supports it and just needs a tiny bit of plumbing and a few tests.

[2021-08-23 21:28] alamb commented on #935
Indeed -- a perfect good first issue

[2021-08-23 21:59] Dandandan commented on #173
Duplicate

[2021-08-23 21:59] #173 closed

[2021-08-24 02:26] sergiimk opened #936 "Schma merging check is too strict"
**Describe the bug**
I am attempting to read two parquet files (produced by Spark) as a single table and getting error:
[code]

Inspecting both files with `parquet-schema` shows identical schemas:
[code]

Inspecting with `parquet-meta` seems to show only one relevant difference:
* First file has `extra:       org.apache.spark.version = 3.0.1`
* Second file has `extra:       org.apache.spark.versio

[2021-08-24 04:30] houqp commented on #936
perhaps we should just ignore the metadata hashmap entirely?

[2021-08-24 09:12] Jimexist commented on #837
this is likely to be closed by https://github.com/apache/arrow/pull/10982

[2021-08-24 11:56] alamb opened #937 "Add "show" support to DataFrame API"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
While developing projects with datafusion, often times it is useful to preview the output.

Right now it is somewhat awkward to print the results of a DataFrame to `stdout` as it requires something like the following from the examples

[code]

**Describe the solution you'd like**
it would be n

[2021-08-24 12:10] francis-du commented on #937
I will open an issue by myself next time, thanks for your job.

[2021-08-24 12:43] #937 closed

[2021-08-24 15:05] #679 closed

[2021-08-24 19:21] tiphaineruy commented on #933
Hey Alamb ! I'd like to take that.

[2021-08-24 19:51] kszucs commented on #921
In theory we should be able to build abi3 wheels. There are some [limitations](https://pyo3.rs/v0.13.2/building_and_distribution.html#missing-features), but abi3 wheels look promising.

We may want to keep this issue open for later evaluation.

[2021-08-24 21:09] alamb commented on #933
Thanks @alamb

[2021-08-25 00:22] seddonm1 commented on #177
@alamb @Dandandan @jorgecarleitao
I have done some digging into this. There are two blockers:

1. dirs-rs
**problem** `dirs-rs` is pulled in due to `prettyprint-r` pulled in due to pretty printing dataframes https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/execution/dataframe_impl.rs#L34. `dirs` does not have a `wasm32-unknown` implementation and the owner seems reluctant to a

[2021-08-25 02:44] andygrove opened #940 "Ballista integration tests broken due to metrics issue"
**Describe the bug**

Executor crashed with:
[code]

**To Reproduce**
`./dev/integration-tests.sh`

[2021-08-25 02:45] andygrove commented on #940
@alamb fyi

[2021-08-25 10:03] francis-du opened #941 "[Python] - Support show function for DataFrame api of python library"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

The current user who wants to preview the API of the DataFrame need to  use the `pri

[2021-08-25 10:09] alamb commented on #940
I will fix this

[2021-08-25 10:19] alamb commented on #177
Note that https://github.com/apache/arrow-rs/pull/656 from  @PsiACE  has removed the `pretty-table` dependency in arrow-rs upstream. This will be included in the 6.0 arrow release (in 2ish months); I am not sure if/how this affects your decision

I think lz4 is an optional dependency of parquet: https://github.com/apache/arrow-rs/blob/master/parquet/Cargo.toml#L40 thus perhaps we could just have a

[2021-08-25 10:35] seddonm1 commented on #177
Thanks @alamb .
I will do some experiments but seems like a good solution.

[2021-08-25 13:28] #940 closed

[2021-08-25 15:47] yjshen opened #944 "Table Scan Enhancement Plan"
To make DataFusion scan tables more flexibly and more efficiently, we can take several further steps. (I linked several issues I am aware of)

### Capability:
- [x] Enable listing/reading remote storage systems in an async way #616
- [x] Enable file block granularity processing  (row groups or offset range processing instead of currently per-file bases). #1990
     - [x] #946
- [x] Enable reading

[2021-08-25 15:51] yjshen commented on #944
Also, from my own perspective, I have some extensions to make:
- [ ] Datafusion-hdfs connector
- [ ] Datafusion-hive metastore connector

[2021-08-25 16:06] yjshen opened #946 "PartitionedFile abstraction for flexible table scan"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, we can only handle table input on a file basis. A more flexible and extensible abstraction is desirable.

**Describe the solution you'd like**
[code]

[2021-08-26 09:11] preetijoshi-womply opened #949 "Creating dataframe with Recordbatch using pyarrow.Table.to_batches gives "type16 not valid error" when schema includes date32[day] type"
**Describe the bug**
I want to create a datafusion dataframe using an in memory pyarrow table which has a pa.date32[day] field.. But while doing so i am getting schema error. Saying type 16 not supported.

**To Reproduce**
import datafusion
import pyarrow
import datetime

ctx = datafusion.ExecutionContext()

batch = pyarrow.RecordBatch.from_arrays(
    [pyarrow.array([1, 2, 3]), pyarrow.array([dat

[2021-08-28 00:06] djKooks commented on #861
@alamb @jorgecarleitao @andygrove thanks for suggestion 🙇

I think it will be enough to do with client only in first step, but do you have any more suggestion?

[2021-08-28 02:59] houqp commented on #616
@dispanser I am thinking we will eventually migrate delta-rs to use the implementation that @yjshen implemented in datafusion. In the long run, delta-rs needs to be coupled with a distributed compute engine anyway, so I am expecting it to have a hard dependency on ballista and by extension datafusion.

I also see the value in moving the IO abstraction into its own crate once it's proven within dat

[2021-08-28 05:06] houqp commented on #944
Here is my understanding based on @yjshen 's PRs so far:

* CatalogProvider is a mapping from schema name to SchemaProvider (schema here refers to a collection of tables, not table schema)
* SchemaProvider is a mapping from table name to TableProvider
* TableProvider provides table partitions, field schemas and a scan method to perform table scan using ObjectStore to drive the IO.
    * TableProvi

[2021-08-28 11:39] yjshen commented on #944
Thanks @houqp for the detailed explanation. After checking delta-rs code as well as what we are doing currently in DataFusion. I have several thoughts:

- It's more natural to have the TableProvider for dealing with filters since it's the abstraction over a table, therefore also a suitable entity for table partition (inferred or user-provided). we could enhance TableProvider with per partition laz

[2021-08-28 11:40] alamb commented on #944
Thanks @yjshen  I plan to review this carefully tomorrow

[2021-08-28 15:16] andygrove opened #953 "Update user guide"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The user guide is out of date and some pages are lacking content.

**Describe the solution you'd like**
Overhaul of the user guide to update content and remove content that is no longer relevant.

**Describe alternatives you've considered**
None

**Additional context**
N/A

[2021-08-28 16:30] andygrove commented on #327
The benchmark crate in the repo can be used for executing fully distributed queries against partitioned data and the [README](https://github.com/apache/arrow-datafusion/tree/master/benchmarks) in there explains how to do this.

[2021-08-28 16:30] #327 closed

[2021-08-28 16:32] andygrove commented on #228
@houqp Are you familiar with how Airflow publishes Docker images?

[2021-08-29 05:19] houqp commented on #549
https://github.com/apache/arrow-datafusion/pull/628 already implemented the core logic, anyone who is interested in this work can pick up that PR and finish it.

[2021-08-29 05:56] houqp commented on #228
@andygrove they are built and pushed manually to dockerhub during the release process as convenient packages, not as part of the official release, see https://github.com/apache/airflow/tree/32bfb2f8ad3ac7314a2f6ff5e59567914b07a2b6/dev#apache-airflow-package. This means they don't have to vote on the docker image.

I think we could adopt the same pattern for ballista since we are still in early dev

[2021-08-29 09:48] alamb commented on #861
I do not have any more to add here -- since I don't use the python bindings myself I don't have a lot to offer with specifics

[2021-08-29 09:49] #935 closed

[2021-08-30 01:27] #941 closed

[2021-08-30 07:12] houqp opened #955 "Evaluate pyo3 abi3 wheel limitations for datafusion python binding"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

There are some documented limitations in pyo3 for abi3 wheel support, see https://pyo3.rs/v0.13.2/building_and_distribution.html#missing-features. As a follow up for https://github.com/apache/arrow-datafusion/issues/921, we should look into them to see if datafusion is impacted.

[2021-08-30 07:14] houqp commented on #921
Good call @kszucs , I wasn't aware of that. I filed https://github.com/apache/arrow-datafusion/issues/955 to keep the task description more specific.

[2021-08-30 09:20] Dandandan opened #956 "Make aggregate accumulators storage column-based"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, the aggregate code keeps the states of each group by value, by storing it in a `Vec` together with the group by values.

For low-cardinality aggregates, this works OK, as there are only a limited number of keys and thus accumulators.
But for medium/high cardinality aggregate, the cu

[2021-08-30 11:33] #946 closed

[2021-08-30 13:37] andygrove opened #957 "Inconsistent cast behavior"
**Describe the bug**

I have a string column containing floating-point values but I want to cast this to an integer using `CAST(col AS int)` but this fails with `Cast error: Cannot cast string '1.20' to value of arrow::datatypes::types::Int32Type type`. However, we support casting floats to ints and I can do `CAST(CAST(col AS float) AS int)` to work around this but if I can do that, why can I not

[2021-08-30 13:51] andygrove opened #958 "Add support for parsing timestamps from CSV files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I updated the  nyc benchmark schema to use timestamps:

[code]

I tried running a query and got this error.

[code]

**Describe the solution you'd like**
I would like to be able to query CSV files containing timestamps.

**Describe alternatives you've considered**
None.

**Additional context*

[2021-08-30 14:33] rdettai commented on #133
I have tried to come up with a design document regarding table formats and partitioning:
- https://docs.google.com/document/d/1Bd4-PLLH-pHj0BquMDsJ6cVr_awnxTuvwNJuWsTHxAQ/edit?usp=sharing

Sorry its length. Inputs are very welcome!

[2021-08-30 22:31] sergiimk opened #959 "SELECT ... ORDER BY query fails on data with int64 timestamp and timezone field"
**Describe the bug**
When trying to query a Parquet file produced by Apache Flink I get an error:

[code]

Output of Java `parquet-schema`:
[code]

**To Reproduce**
Download and extract the sample data: [data.tar.gz](https://github.com/apache/arrow-datafusion/files/7079931/data.tar.gz).

Run:
[code]

Note that simple select works fine, but `ORDER BY` fails.

**Expected behavior**
Query executes wi

[2021-08-30 22:50] jorgecarleitao commented on #959
This is due to a limitation in arrow-rs that does not support timestamps with timezones: every timestamp that enters arrow-rs and is transformed is outputted as a timestamp without timezone. Because `Timestamp(a,Some(b)) != Timestamp(a,None)`, the `RecordBatch` refuses to accept the transformed columns (as it expects one with timestamp).

A solution in `DataFusion` is to apply an extra cast after

[2021-08-31 00:28] sergiimk commented on #959
Thanks for the prompt reply @jorgecarleitao.

I followed your advise of re-casting and this query works:

[code]

Linking the corresponding arrow issue: apache/arrow-rs#393

I wonder if the impact of not having timezone support in Arrow can be minimized somehow, e.g. by treating `Timestamp(a, None)` as equal to `Timestamp(a, Some("UTC"))`.

When reading parquet files produced by Spark the timestam

[2021-08-31 03:20] #862 closed

[2021-08-31 03:20] #953 closed

[2021-08-31 11:46] alamb opened #961 "Error in `python test` check / maturn python build: `function or associated item not found in `proc_macro::Literal`"
**Describe the bug**
The  `python test` CI test started failing

https://github.com/apache/arrow-datafusion/runs/3472141634

[code]
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-08-31 11:48] alamb commented on #959
Here is a related discussion on the mailing list: https://lists.apache.org/thread.html/ra4c0842067342056a64a8a13e03755d4be58e8dddfbb064ca92ed5a3%40%3Cdev.arrow.apache.org%3E

[2021-08-31 13:49] rdettai commented on #98
What is missing from https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/optimizer/constant_folding.rs to close this?

[2021-08-31 13:53] rdettai opened #962 "Moving cost based optimizations to physical planning"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently some cost based optimizations are executed during the logical plan optimization. This breaks the intent of separating the logical and physical plan. Usually, the logical plan is supposed to be optimized using rule based optimizations only. It is in the physical plan selection that th

[2021-08-31 14:03] rdettai commented on #962
As suggested by @Dandandan, we might also want to consider the fact that the statistics can be updated at runtime (like Spark AQE). For example in Ballista, an execution plan for a stage that takes a shuffle as input might be re-optimized according to the statistics of the shuffle boundary. For instance this might change the optimal order (build/probe) of the tables for a join that has the shuffle

[2021-08-31 14:21] alamb commented on #98
I don't think anything else is needed to close this issue. We can always open a new issue to improve part of the folding. Thanks for the spot @rdettai

[2021-08-31 14:21] #98 closed

[2021-08-31 15:43] rdettai commented on #868
In #962 I am considering the possibility to make the statistics part of the `ExecutionPlan` trait (and remove them from `TableProvider`). But I think that not all nodes will have a cached version of the statistics, only those nodes for which it is an expensive operation to fetch them and that know that the they will not change.

We will probably not need the statistics on the executor, because I d

[2021-09-01 08:48] yjshen opened #963 "Is RPC `GetFileMetadata` in Ballista still needed?"
While working on https://github.com/apache/arrow-datafusion/pull/932#discussion_r697951379, I find this `GetFileMetadata` RPC is not really used, and the intention of the RPC is not clear to me. Do we still need it? Or it's deprecated, and we could safely remove it?

@andygrove, any ideas?

[2021-09-01 09:57] sum12 commented on #888
I had look at this.

[2021-09-01 10:00] sum12 commented on #888
it looks like the columns definitions are required. Do we want to make those optional (and default to inferece if columns defs are missing) or add an extra keyword to require inference. (something like `CREATE EXTERNAL TABLE WITH INFERED COLUMNS STORED .....`) .

[2021-09-01 22:59] nevi-me commented on #847
I've followed the Spark implementation for a while, and I think this would be a great feature to have.

[2021-09-02 13:10] charliec443 commented on #961
Rolling pyo3 to `pyo3 = { version = "=0.14.3", features = ["extension-module"] }` seems to do the trick...not that its an appropriate fix

[2021-09-02 14:57] parisni commented on #480
any news on pulishing 0.3.0 on pypi ?

[2021-09-02 16:46] andygrove commented on #963
The intent is to update `BallistaContext::read_csv` / `read_parquet` methods to retrieve file list and meta data from the scheduler rather than from the local file system so that we can use clients outside of the cluster. For example, I may have a cluster in AWS and I want to run the client on my laptop.

[2021-09-02 16:47] andygrove commented on #963
See https://github.com/apache/arrow-datafusion/issues/349

[2021-09-02 17:49] #963 closed

[2021-09-02 19:46] houqp commented on #963
Ha, good to know. @rdettai FYI since this is related to the new query planning design you are working on.

[2021-09-02 19:52] houqp commented on #961
I haven't had the time to dig into this yet, but here is the diff in 0.14.4 release: https://github.com/PyO3/pyo3/compare/v0.14.3...v0.14.4

[2021-09-03 03:43] mmuru commented on #890
@houqp: Do we have an ETA on the python binding release? Thanks.

[2021-09-03 05:03] houqp commented on #890
@mmuru probably 2-3 weeks, need to get some legal issues resolved in https://github.com/apache/arrow-datafusion/pull/920 before we can cut a release tarball and start the voting process.

[2021-09-03 05:07] houqp commented on #480
@parisni it will be published as part of datafusion 5.1.0 release, which is what we are working on at the moment.

[2021-09-03 06:11] houqp commented on #133
Thank you @rdettai for the detailed write up, I recommend you sending it to the arrow dev mailing list too since it's a pretty major design change.

[2021-09-03 10:02] rdettai commented on #349
@andygrove as the client is handling the logical plan, I think it does not need to know about the list of files or the statistics, it only needs the schema:
- with the current df implementation, we could just build a table provider without any statistics on the client, and then load the statistics once the logical plan is deserialized on the scheduler
- in #962 I am proposing a change that would m

[2021-09-03 15:25] andygrove commented on #21
I think we can close this now since a metrics framework has now been implemented

[2021-09-03 15:25] #21 closed

[2021-09-03 15:26] andygrove commented on #62
I am closing this since I found a different solution to this issue. Ballista uses the DataFusion context but provides its own query planner which results in a DistributedQueryExec physical plan, so DataFrame.collect() invokes that.

[2021-09-03 15:26] #62 closed

[2021-09-03 15:27] andygrove commented on #234
I personally think it is too late to consider this now. If anyone objects then feel free to re-open or create a new issue.

[2021-09-03 15:27] #234 closed

[2021-09-03 18:12] mmuru commented on #890
@houqp: Thanks for the update. I am trying to build python wheel locally but I noticed in Cargo.toml file the dependency listed
`datafusion = { git = "https://github.com/apache/arrow-datafusion.git", rev = "4d61196dee8526998aee7e7bb10ea88422e5f9e1" }`
It did not get updated. Will maturin develop pick up the latest datafusion code? Please, can you clarify it? Thanks again.

[2021-09-04 02:28] matthewmturner commented on #825
Hi there - I can work on this.  Just to make sure I understand - would doing this at the scan level mean extracting the min-max from the compressed data in order to determine whether the row group even needs to be materialized?

With regards to the actual docs - does it make sense to add a general section on the main docs page to list the optimizations that are currently implemented / planned? i.e

[2021-09-04 04:54] houqp commented on #961
This is caused by https://github.com/dtolnay/proc-macro2/pull/296, pinning `proc-macro2` to 1.0.28 fixes the build issue for rust >= 1.54.

[2021-09-04 05:08] houqp commented on #890
@mmuru it will not, I just sent https://github.com/apache/arrow-datafusion/pull/967 to handle the datafusion update.

[2021-09-04 09:07] houqp opened #968 "Add Cargo.lock to the repo root"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Builds are not reproducible for datafusion python binding and ballista. Most recently, we got hit by https://github.com/apache/arrow-datafusion/issues/961.

A Cargo.lock will be useful for projects like datafusion python binding and ballista since they both produce binaries. Right now, our so

[2021-09-04 14:01] andygrove commented on #896
Replaced by https://github.com/apache/arrow-datafusion/issues/944

[2021-09-04 14:01] #896 closed

[2021-09-04 16:40] xudong963 commented on #708
please assign me, I'm interested in this.

[2021-09-05 01:30] seddonm1 commented on #777
closed wtih https://github.com/apache/arrow-datafusion/pull/797

[2021-09-05 01:30] #777 closed

[2021-09-05 04:16] mmuru commented on #890
@houqp: Thanks for the clarification and quick turnaround fix. I verified your changes and found two issues.
1. the requirement.txt is locked to Python 3.8 version. I think, this file should not be checked in the source since the python development version could be different. In my case, it was python 3.7 version.
2. Fixed the issue #949. Added support for pyarrow datatypes such as date32, date64

[2021-09-05 08:17] hu6360567 opened #970 "Execute LogicalPlan on DBMS directly"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I'm implementing a distributed query system, similar with Ballista, but data sources are changing over time, located at MySQL/Postresql Servers.
Query is parsed and optimized into LogicalPlan at scheduler, and distributed sub-plans to different executors which have access to the sepcific data

[2021-09-05 22:22] houqp commented on #890
The requirements.txt is supposed to work for all python versions supported by the python binding. if it's broken for python 3.7, could you file a separate issue with the error message? We can continue the troubleshooting there.

That's great, I recommend you send a separate PR based off the branch in #967 for this, or collaborate on https://github.com/apache/arrow-datafusion/pull/969 to get that i

[2021-09-06 01:24] matthewmturner commented on #255
I can take this.

Ok to use whats in `arrow-datafusion/python/README.md` as a start?

[2021-09-06 03:30] matthewmturner commented on #347
I can give this a shot.  To confirm - is the `BinaryExpr` the only variant of `Expr` that needs `Display` implemented?

[2021-09-06 04:35] houqp commented on #255
I believe by user guide, Andy was referring to https://github.com/apache/arrow-datafusion/tree/master/docs/user-guide. @Jimexist @jorgecarleitao do you have any opinion on this?

[2021-09-06 04:40] matthewmturner commented on #255
@houqp thats what i was planning on updating.  I just thought that i could use the existing python walk through from the file i linked to as a starting point.  maybe i misunderstood the ask though.

[2021-09-06 04:44] jorgecarleitao commented on #255
I would not recommend mixing Python in the Rust user guide.

Most users of Python do not care about Rust and vice-versa and each programming language usually has its own way of compiling guides tailored for the language (e.g. allow code with links to the playground in Rust).

For Python, I would recommend what fastAPI (and others) [do](https://github.com/tiangolo/fastapi/tree/master/docs/en) via [

[2021-09-06 05:07] houqp commented on #255
@Jimexist is already working on a dedicated python doc site for datafusion's python binding, perhaps we could just mention and link to that doc in the main user guide when it's ready?

[2021-09-06 05:52] Jimexist commented on #255
I think I had a copy over at arrow git repo but might not have enough time to work on that this week. if you have time please feel free to take over.

[2021-09-06 05:53] Jimexist commented on #255
my unmerged patch is at https://github.com/apache/arrow/pull/10982

[2021-09-06 06:35] mmuru commented on #906
@houqp: I've created a dataframe from in-memory data. Is there a way to create a view and run the sql query?

[2021-09-06 06:49] jorgecarleitao commented on #906
yes could you check the tests? We do that to test the Python API. :)

[2021-09-06 14:29] mmuru commented on #906
@jorgecarleitao: Yes, I checked python tests but I did not find it. The current python tests only have register_parquet/csv/udf and then can able to run the sql query. We need ctx.register_table("t", df) something like that for in-memory datasources. Please, can you provide the sample code or point to me the reference? Thanks.

[2021-09-06 14:54] jorgecarleitao commented on #906
Sorry, it was on the README, but you are right, it only works for the DataFrame API:

[code]

Sorry for the noise. :/

[2021-09-06 15:45] xudong963 opened #973 "delete redundant code"
https://github.com/apache/arrow-datafusion/blob/7932cb9373192ce2754b39c1f82f22c8a56b7266/datafusion/src/datasource/parquet.rs#L54

[2021-09-06 17:24] houqp commented on #906
I think we would need to expose the memtable interface to the python binding first for sql support.

[2021-09-06 17:27] jorgecarleitao commented on #906
it actually uses the memtable API, but assigns it a random name. A way to go is to add an optional parameter to this function so that it supports named and un-named versions. Usually for DataFrames we do not care about the name, but for SQL we must name it.

[2021-09-06 17:40] houqp commented on #906
yeah, I would expect dataframes to be unnamed, it seems like a `register_record_batches` or `register_table` method would be more idiomatic?

[2021-09-06 17:54] jorgecarleitao commented on #906
It was named after spark's [CreateDataFrame](https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.SparkSession.createDataFrame.html#pyspark-sql-sparksession-createdataframe) stylized for Python that does not use Camel Case for functions, but I was more focused in making UDFs and UDAFs work at zero copy at that point.

I did not use "table" because there is no semantic differenc

[2021-09-06 18:02] houqp commented on #906
Ha, I wasn't suggesting renaming `create_dataframe` to a name has table in it :) I am also heavily influenced by spark's API, so I think there is value in supporting both audiences as you mentioned especially considering the effort from our end is very low.

[2021-09-06 23:11] mmuru opened #975 "[Python] Unable to install requirements.txt"
**Describe the bug**
A clear and concise description of what the bug is.
Try to do local build using the steps in README.md file. The checked in arrow-datafusion/python/requirements.txt is locked in python 3.8 version.

the step pip install -r requirements.txt throws the below exception and failed to install dependencies.

[code]

**To Reproduce**
Steps to reproduce the behavior:
Python 3.7.11 ver

[2021-09-06 23:14] mmuru commented on #890
@houqp: Sure, created ````#975````. Ping me if you need more information.

[2021-09-06 23:25] houqp commented on #975
@Jimexist do we need to generate the lock files for different versions of python? It looks like typed-ast is not required for python 3.8 anymore, which resulted in pip-compile to not include that in the lock file.

[2021-09-07 03:17] matthewmturner commented on #882
Hello.  I could try this.  To confirm - is the idea to add docs just for SIMD? Or for the most optimized build?

[2021-09-07 03:37] houqp commented on #882
I would love to have docs for the most optimized build, but we can start with SIMD if that's too much :)

[2021-09-07 05:49] Jimexist commented on #975
I'm using 3.8.12 and it works. Which version of 3.8 are you using?

[2021-09-07 06:11] houqp commented on #975
It works for python 3.8, but not 3.7. I am guessing it's because when we generate the lock file using python 3.8, it didn't include typed-ast, which is needed by 3.7, because typed-ast is not required for 3.8 anymore.

[2021-09-07 06:17] mmuru commented on #906
@houqp & @jorgecarleitao: Thank you both. I added register_memtable function in context.rs and able to perform sql query on it. I will submit my PR tomorrow.

[2021-09-07 12:58] ethe opened #979 "Is it able to pushdown selections into TableProvider?"
`TableProvider` always return all columns in scanning, is it able to pushdown selections into `TableProvider` and return the schema after selections? I think it may be useful to reduce the memory usage in querying. Sorry I am not good at database querying, hope for your reply, thanks.

[2021-09-07 14:45] #973 closed

[2021-09-07 16:00] xudong963 opened #980 "Architecture overview may be insufficient in README"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now I'm working hard on this project.

**Describe the solution you'd like**
After I am familiar with datafusion, I will provide a more detailed architecture overview.
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've con

[2021-09-07 20:46] #882 closed

[2021-09-08 04:32] #961 closed

[2021-09-08 04:35] houqp commented on #979
This is already supported in datafusion today. We have a projection push down optimization rule (https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/optimizer/projection_push_down.rs) that generates projected column indexes based on selection plans. Then the vector gets passed in to the scan method at https://github.com/apache/arrow-datafusion/blob/bb616bf94bd952da8cc0c18b20cf33c

[2021-09-08 06:59] ethe commented on #979
Thank you, it is not clear about arguments of `scan`, so I missed it.

[2021-09-08 06:59] #979 closed

[2021-09-09 10:22] fabianmurariu opened #983 "Wanting to contribute to project where to start?"
The project looks very interesting and I'd like to contribute but don't know where to start. After watching CMU Database Group course on Intro to Database Systems arrow-datafusion looks perfectly to get my hands dirty on writing SQL engines.

On other projects the easier issues have a tag like `low_hanging_fruit` so newcomers can have a peak.

I see some date functions are missing but I'm unsure w

[2021-09-09 10:31] nevi-me commented on #983
Welcome Fabian

There's a "good first issue" label. Have a look at these issues https://github.com/apache/arrow-datafusion/labels/good%20first%20issue

[2021-09-09 15:32] matthewmturner commented on #904
@Dandandan i wanted to look into this but saw that it was mentioned in #962 as having potential merge conflicts.  Is it ok for me to start looking into this? Or should I hold off for now?

[2021-09-09 17:05] #968 closed

[2021-09-09 18:17] alamb commented on #347
Thanks @matthewmturner  ! I think the intent is to have `Display` implemented for all variants of Expr (eventually) but it doesn't have to be all in one PR. I'll leave a comment on #971

[2021-09-09 18:17] alamb commented on #347
(ps sorry for the belated reviews, but I am just catching up from being on vacation)

[2021-09-09 18:23] alamb opened #985 "CI test failing on master due to clippy"
**Describe the bug**
The `clippy` linting CI check is failing on master. For example:
https://github.com/apache/arrow-datafusion/runs/3559103073

[code]

This is likely caused by the 1.55 rust release: https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1550-2021-09-09

[2021-09-09 18:24] alamb commented on #985
I believe https://github.com/apache/arrow-datafusion/pull/910 from @Igosuki has a fix for this issue. I will try and break that change out and get a separate PR up for it

[2021-09-09 18:31] matthewmturner commented on #904
@rdettai ok, will wait for that then.

just for my understanding, i thought this was a new optimization rule, so how was it moved to the physical plan already?

[2021-09-09 20:57] #985 closed

[2021-09-10 06:25] Igosuki commented on #985
@alamb Rebased the #910  on top of this

[2021-09-10 07:37] houqp commented on #904
@matthewmturner @rdettai was saying he moved all existing cost based optimizers (not this particular one) into physical plane in that PR :)

[2021-09-10 08:42] rdettai commented on #904
actually, If I'm not mistaken this optimization would go into the `AggregateStatistics` rule, which I literally transformed from being an 'OptimizerRule' to a `PhysicalOptimizerRule` 😃

[2021-09-10 09:01] rdettai opened #987 "Make `ExecutionPlan` implementations immutable"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is a follow up to #962.

Currently we cannot compute all the statistics at instantiation because some implementations of the `ExecutionPlan` trait are mutable.

**Describe the solution you'd like**
The proposition is to make all ExecutionPlan implementations immutable and then transform t

[2021-09-10 10:57] alamb commented on #888
Hi @sum12  --

I am not sure about this -- I think the following works (note there are no column definitions). I was imagining we would do something similar for CSV

[code]

I think having a setting (in https://docs.rs/datafusion/5.0.0/datafusion/execution/context/struct.ExecutionConfig.html) would be helpful. I think reading a thousand rows is probably a good default (as most CSV files will have

[2021-09-10 10:58] #795 closed

[2021-09-10 15:16] matthewmturner commented on #904
@rdettai @houqp thx both for info.  so my understanding is that this is an optimization that has not yet been implemented, but it will ultimately belong to the `AggregateStatistics` rule.  Once the CBO have been moved to the physical level I can work on this?

[2021-09-10 17:06] #616 closed

[2021-09-10 17:18] rdettai commented on #904
Exactly! You can already take a try at it from my PR. But you would take the risk that if it does not get merged the work has to be done again on the `OptimizerRule` version 🙂

[2021-09-11 12:58] djKooks commented on #861
@andygrove  @alamb @jorgecarleitao thanks for comment.
Will start implementation in following branch https://github.com/apache/arrow-datafusion/pull/988
(will request for review when ready 🙇 )

[2021-09-12 10:20] Igosuki opened #990 "cargo build fails on latest nightly because of prost"
**Describe the bug**
Compilation is broken in the latest nightly release

**To Reproduce**
cargo check

**Expected behavior**
compilation passes

**Additional context**
etcd-client pulls prost 0.7.0 and the rest pulls 0.8.0,
Related : https://github.com/tokio-rs/prost/issues/526

[2021-09-12 10:48] rdettai opened #992 "Expressions should apply to statistics"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Physical expressions should be aware of the rules on how to propagate statistics. For instance, for the row-wise max of two columns, the maximum statistics the maximum of the maximum of each input column. This would allow the `ProjectionExec` node to provide much better statistics.

**Describe

[2021-09-12 12:07] Igosuki commented on #419
Recursion reaches its limits here, and the nesting is only 3 levels deep

[2021-09-12 12:08] alamb commented on #419
I wonder if there is some massive structure being placed on the stack somewhere

[2021-09-12 12:19] Igosuki commented on #419
I'm getting random test failures on my machine :
[code]
But then
[code]

[2021-09-12 12:24] Igosuki commented on #419
This is starting to look like a problem with tokio's test harness ?

[2021-09-12 13:03] Dandandan commented on #419
Same question here as in https://github.com/apache/arrow-datafusion/pull/910 Does the error go away when running the tests in release mode?

[2021-09-12 17:40] #990 closed

[2021-09-12 20:18] Dandandan commented on #992
That's a great idea 👍

[2021-09-12 20:20] Dandandan commented on #956
FYI @alamb this is a follow up proposal on improving the hash aggregate implementation.

[2021-09-13 05:25] #906 closed

[2021-09-13 07:04] houqp opened #996 "Optimize ScalarValue list variant using Array trait object"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

This comes out from the arrow2 PR started by @jorgecarleitao. Here is a discussion on why it would be more efficient to model ScalarValue as `dyn Array`: https://github.com/apache/arrow-datafusion/pull/68#discussion_r706565686

**Describe the solution you'd like**

Change ScalarValue's List v

[2021-09-13 08:56] rdettai opened #997 "Improve statistics (umbrella issue)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is an umbrella issue to gather all improvements regarding statistics.

**Describe the solution you'd like**
- [ ] #962
- [ ] #992
- [ ] remove `total_byte_size` as we are not using it
- [ ] replace the `is_exact` field at the `Statistics` level with per-field information
- [ ] have more g

[2021-09-13 09:08] rdettai commented on #717
@Dandandan in #965 I used the schema from the `ExecutionPlan` trait and it worked fine. But I do agree that it might be better to come up with at data structure that helps asserting that the `column_statistics` vector is well aligned on the schema `fields` vector (same size, same types...). I'm adding this as an item in #997, so if you want to close this for now that's fine by me 😃

[2021-09-13 13:38] xudong963 opened #998 "implement Set Operations UNION"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
From README, I found Set Operations UNION isn't implemented. So I want to implement it.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2021-09-13 20:40] #962 closed

[2021-09-14 08:47] Igosuki opened #1000 "Ballista client fails to build with --features=standalone"
**Describe the bug**
```cargo check --features=standalone``` fails

**To Reproduce**
see above

**Expected behavior**
It builds

**Additional context**
Came across this while doing my default ```cargo check --all-features```

[2021-09-14 09:01] Igosuki commented on #1000
Turns out the test is also broken

[2021-09-14 16:55] alamb commented on #956
I think the idea of making accumulators (effectively) columnar is a great idea, FWIW. Mutable arrow arrays would also be awesome if/when that is available

[2021-09-14 19:02] ehenry2 commented on #907
Wanted to reopen the discussion here...do we have a consensus on which approach we want to go with? Now that the first set of remote storage PRs are merged, this can now be implemented.

[2021-09-14 20:20] alamb commented on #907
I think there is a consensus on the architecture within datafusion, now that https://github.com/apache/arrow-datafusion/pull/950 has been merged

I think we now would need to rework the various table providers  (`CsvExec`, `ParquetExec`, etc) to use that interface rather than `File` or `Read` directly,  and then we would be ready to create an S3 plugin for DataFusion

[2021-09-14 23:10] ehenry2 commented on #907
@alamb That makes sense, my thought though is that s3 support can be worked on in parallel (although not able to utilized until the table providers are updated) as the scaffolding is there with the Object Reader and Object Store traits. In order to do that, however, either a repo would need to be created (or one of the other approaches given previously adopted).

[2021-09-15 04:52] #99 closed

[2021-09-15 04:52] houqp commented on #97
I think this can be closed now since we already have an async collect method?

[2021-09-15 04:53] houqp commented on #93
@alamb i think this is already implemented?

[2021-09-15 05:00] Smurphy000 commented on #936
I can take a look at this

[2021-09-15 05:00] houqp commented on #126
I think this can be closed now?

[2021-09-15 05:01] #125 closed

[2021-09-15 05:03] houqp commented on #134
looks like this could potentially be a good first issue, but we need to provide more details and define what better means here :)

[2021-09-15 05:04] #155 closed

[2021-09-15 05:16] #837 closed

[2021-09-15 05:17] #975 closed

[2021-09-15 06:07] houqp commented on #907
Taking @andygrove 's comment into account, unless anyone volunteers to help create the `arrow-experimental-datafusion-s3` repo, it might be easier to follow @Jimexist 's suggestion to create and manage the s3 plugin crate inside datafusion's workspace. Downstream applications can pull in the plugin dependency by git hash if we are behind on official releases. Also I believe we can release alpha/be

[2021-09-15 10:11] alamb commented on #907
Starting to work on an experimental crate within `arrow-datafusion` seems like a good approach to me.

I haven't tracked / studied the requirements for releasing alpha/betas in fine detail, but I think as long as they are clearly marked as not official apache releases, it would be fine to put them on crates.io

[2021-09-15 10:14] alamb commented on #97
The async collect method is called `DataFrame::execute_stream` I believe: https://github.com/apache/arrow-datafusion/blob/58712078391502b740cf1f92f960edf4d1721187/datafusion/src/dataframe.rs#L269

@andygrove  perhaps you have some insight on the intent of this issue (as you filed https://issues.apache.org/jira/browse/ARROW-9763 originally)

[2021-09-15 10:15] alamb commented on #126
I defer to @rdettai  -- we have a catalog abstraction in DataFusion but it is only part of what is described in the document linked in the description

[2021-09-15 10:16] alamb commented on #93
Yes, this is definitely implemented. Introduced in https://github.com/apache/arrow-datafusion/pull/337 I think

[2021-09-15 10:16] #93 closed

[2021-09-15 14:46] Igosuki commented on #419
@NGA-TRAN see https://github.com/apache/arrow-datafusion/pull/910#issuecomment-919939740

[2021-09-15 15:27] NGA-TRAN commented on #419
Thanks @Igosuki

[2021-09-15 17:08] rdettai commented on #126
There are different definitions of what a Catalog really is that are conflicting. I don't think that this issue format is the right way to track the topic I was interested in initially. Also the attached document is kind of outdated, [this one](https://docs.google.com/document/d/1Bd4-PLLH-pHj0BquMDsJ6cVr_awnxTuvwNJuWsTHxAQ/edit?usp=sharing) is more relevant. **I would say we can close this.**

[2021-09-15 17:19] alamb commented on #126
Good call -- we can also always open a new issue for follow on work.

[2021-09-15 17:19] #126 closed

[2021-09-15 18:56] Igosuki commented on #1000
I fixed it in a branch, but I have a problem with passing the test, the thing is that the spawned ArrowFlight tonic server spawned in the standalone mode gets scrapped before the new dataframe API can collect the partition through the ballista FlightClient

[2021-09-15 19:09] houqp commented on #1000
@Igosuki perhaps you can push your branch to a PR so others can help with the test issue?

[2021-09-15 20:02] Igosuki opened #1005 "Support nested list and map (dictionary) access"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In structured formats, it's possible to have nested arrays and maps. In Spark for instance it's possible to do : ```select my_list[0][0]```

**Describe the solution you'd like**
Access deeply nested values

**Describe alternatives you've considered**
I saw there is a new Map DataType in arrow-

[2021-09-15 23:17] mmuru opened #1007 "[Python]: Expose Dataframe.schema() to Python binding"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

In Python, trying to get schema from Dataframe but it is not available in Python bin

[2021-09-15 23:29] mmuru commented on #1007
@houqp: I reviewed the current implementation schema() in dataframe_impl.rs and it returns &DFSchema. In Python, how do I return it? Please, review this request and provide your feedback. Thanks.

[2021-09-16 07:41] Igosuki commented on #1000
https://github.com/apache/arrow-datafusion/pull/1008

[2021-09-16 08:48] rdettai opened #1009 "Reorganize table providers by table format"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently the `TableProvider` implementations are split by file format (Parquet, CSV...). One other solution would be to organize `TableProvider`s would be by table format (file system listing, Iceberg, [Delta](https://github.com/delta-io/delta-rs/blob/main/rust/src/delta_datafusion.rs)).

**D

[2021-09-16 21:06] mmuru opened #1011 "[Python]: Inconsistencies with Python package name"
In python/Cargo.toml file, the package name is name = "datafusion-python" where as pyproject.toml the project name is datafusion. Before this change merge, the python package installed as datafusion-python but now datafusion.

@houqp: As you mentioned, it should be called datafusion-python. Please, can you clarify this package naming? Thanks.

[2021-09-17 08:35] rdettai opened #1012 "Make the conversion from logical to physical plan async"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As discussed in #1010, it would add a lot of flexibility to the planning to make it possible to use async methods. Thanks to #962, the statistics resolution can be delayed to the creation of the physical plan. Adding async to `TableProvider.scan()`, the method that converts the logical plan to

[2021-09-17 10:45] alamb opened #1014 "Implement `PartialOrd` or `Expr`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We want to ordering `Expr`s in a consistent way in our tests. See details on https://github.com/influxdata/influxdb_iox/pull/2564 in https://github.com/influxdata/influxdb_iox/pull/2564#discussion_r710817261

This also is a necessary (but not sufficient) step towards being able to use `Expr`s

[2021-09-17 12:44] rdettai opened #1016 "Avoid creating ExecutionPlan for registered tables in Ballista"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
When using the `sql()` method on the `BallistaContext`, all the tables registered on the context are transformed into execution plans. We should find a way to avoid that, because scanning datasources can be an expensive operation.

**Describe the solution you'd like**
I would like a way to reg

[2021-09-17 13:09] waynexia commented on #1014
Thanks, @alamb. That's a good point to have `PartialOrd` on `Expr`.

For the CSE use case, it would be nice if we can compare and arrange `Expr`s in some kinds of order. By doing that we can recognize `a+b` and `b+a` are the same expression. And I think it can help other things too.

[2021-09-17 13:59] rdettai commented on #1012
This also pops a question. The state of execution context is protected by a Mutex:
[code]

Why do some of its methods take `&mut self` ???

[2021-09-17 14:07] ovr opened #1017 "Support complex intervals (MONTH_DAY_NANO)"
Hello!

Right now, DF doesn't support complex intervals (which contain yearn_month and day_nanos parts).

Arrow approved & merged https://github.com/apache/arrow/pull/10177
@b41sh created a PR in arrow-rs https://github.com/apache/arrow-rs/pull/779 to support MONTH_DAY_NANO

After this PR DF can support complex intervals.

Thanks

[2021-09-17 14:09] ovr commented on #1017
I am interested to work on it, just waiting for https://github.com/apache/arrow-rs/pull/779 before starting. Can anyone assign this issue to me?  cC @alamb Thanks!

[2021-09-17 14:42] alamb opened #1019 "Add baseline metrics for remaining execution plan nodes"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We want basic understanding of where a plan's time is spent and in what operators. See https://github.com/apache/arrow-datafusion/issues/866 for more details

This information has been added (#866) for intermediate operators but not for low level readers for parquet, json, csv, and avro.

**D

[2021-09-17 15:30] Dandandan commented on #1019
What about `CsvExec` ?

[2021-09-17 16:07] alamb commented on #1019
Good eyes @Dandandan  -- including them in the description

[2021-09-17 16:45] alamb commented on #1014
That is a good point @waynexia  -- I think one common approach is typically called "normalization" (aka rewrite all expressions so logically equivalent expressions like `a+b` and `b+a` end up with the same actual `Expr` form.

[2021-09-17 20:12] matthewmturner commented on #904
@rdettai glad your PR got merged :) now that it is, is it a good time to try working on this?

[2021-09-17 20:24] rdettai commented on #904
Yes sure!

[2021-09-18 10:58] #566 closed

[2021-09-18 11:13] #1000 closed

[2021-09-18 12:02] #866 closed

[2021-09-18 16:55] #1014 closed

[2021-09-19 04:10] houqp commented on #1011
Hi @mmuru , this is intentional because the python binding is published to pypi as datafusion, not datafusion-python: https://pypi.org/project/datafusion/.

[2021-09-19 04:58] mmuru commented on #1011
@houqp: Thanks for the clarification. I closed it.

[2021-09-19 04:58] #1011 closed

[2021-09-19 05:56] houqp commented on #1007
I haven't put a lot of thought into this, so take it with a grain of salt ;)

I think one possible solution would be creating a new wrapper struct that wraps the DFSchema type within the python crate, then annotate it with `pyclass` (https://pyo3.rs/master/class.html#defining-a-new-class) so the wrapper type can be returned directly to python. You won't be able to return a reference to python, so

[2021-09-19 10:59] alamb opened #1020 "Ballista context::tests::test_standalone_mode test fails"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

[code]

Fails with the following error:

[code]

**Expected behavior**
1. Test should pass
2. CI should include this mode so that it does not break again

**Additional context**
Reported by @Igosuki  on lucky https://github.com/apache/arrow-datafusion/issues/1000 / https://github.com/apache/arrow-datafusion

[2021-09-19 11:05] alamb commented on #1020
Looks like @edrevo may have authored / last worked on this code in https://github.com/ballista-compute/ballista/pull/445 and moved them in https://github.com/apache/arrow-datafusion/pull/589. Perhaps he or @andygrove  or @houqp  have some thoughts on this ticket

[2021-09-19 11:35] Igosuki commented on #1020
Server spawned here https://github.com/apache/arrow-datafusion/blob/master/ballista/rust/executor/src/standalone.rs#L55
Executing the plan fetches the remote partition but the server isn't there at the addr provided in the partition.

[2021-09-19 13:25] #983 closed

[2021-09-19 18:23] storopoli opened #1021 "README.md link to cli.md is broken"
If you go to the the header h2 in the `README.md`:

[code]

The link that points to is: https://github.com/apache/arrow-datafusion/blob/master/datafusion/docs/cli.md which is broken (deleted file)

[2021-09-19 20:22] Smurphy000 commented on #936
@houqp I have tried using the `try_merge` on the schema, but I am not sure when it might not be ok to ignore the metadata hashmap. Do you think we should somehow make it optional but ignore by default? I can't think of a case of the top of my head right now, but somebody else may want to be strict on metadata when possibly merging schemas

[2021-09-20 00:02] houqp commented on #936
I also cannot think of a good use-case for enforcing strict metadata on schema merge, on the other hand, it's very common to have slightly different metadata for the files in the same table due to writer version upgrade as demonstrated in the bug report. My preference would be to not make it configurable for now since it will add complexity to the API. We can make it configurable later in the futu

[2021-09-20 00:03] houqp commented on #1021
Good catch @storopoli , the doc has been moved to https://github.com/apache/arrow-datafusion/blob/master/docs/source/cli/index.rst. Do you mind sending a PR to get it updated?

[2021-09-20 02:17] Smurphy000 commented on #936
I currently just changed the check to compare on schema fields, since the `try_merge` is in arrow and it does try to merge metadata I thought maybe we could just resolve this issue with this simple change.

[2021-09-20 04:03] houqp commented on #936
Thanks @Smurphy000 ! I think that's good enough, we can tackle that as a follow up task, which we already have an open issue at https://github.com/apache/arrow-datafusion/issues/132.

[2021-09-20 05:02] houqp commented on #1020
Interesting, this test passes for me:

[code]

With Linux 5.4 & rust 1.55. @alamb @Igosuki did you all run the test under Linux too?

[2021-09-20 08:24] Igosuki commented on #1020
Yeah I'm on linux like you (and rust 1.57). The command that fails is : ```cargo test --package ballista --lib context::tests::test_standalone_mode --features=standalone -- --exact --nocapture```

[2021-09-20 09:11] storopoli commented on #1021
Sure!

[2021-09-20 10:52] rdettai opened #1027 "Ballista register_table does not work with Dataframes that are not TableProviders"
**Describe the bug**
The [`BallistaContext.register_table(name,dataframe)`](https://github.com/apache/arrow-datafusion/blob/db305dadea458a26723fa53d85463155247d39f9/ballista/rust/client/src/context.rs#L200) method can register any type of dataframe. But when serializing the plan to send it to the scheduler, it will only work if the value wrapped with the [`DfTableAdapter` is a `LogicalPlan::TableS

[2021-09-20 12:37] rdettai commented on #1027
Note that according to the solution chosen, this will also close #1016

[2021-09-20 14:06] xudong963 commented on #998
I am blocked at dedup `Vec<RecordBatch>`. Do you have some good ideas? @houqp @alamb

[2021-09-20 14:22] Dandandan commented on #998
`Union distinct` effectively means building a structure to deduplicate the same rows. This means:

* Sort and deduplicate based on equivalent consecutive rows (might be fast if data is already sorted)
* Hash all column keys, store in hash table.

My proposal to implement `Union` is to translate `[a] union [b]` into the equivalent `select distinct * from ([a] union all [b])`. This currently uses th

[2021-09-20 14:53] matthewmturner commented on #904
@Dandandan @rdettai i was going to add this to the existing `take_optimizable_count` rule as it seems sufficiently similar.  do you agree this is right place or is a new rule needed?

[2021-09-20 15:03] rdettai commented on #904
I would write a separate `take_optimizable_non_null_count`, or something like that, but if you have a better idea to structure this part of the code feel free to propose it in a PR

[2021-09-20 16:33] matthewmturner commented on #904
@rdettai got it, thanks. Im still just working on getting an understanding of the existing rules.  Would you be able to provide some more details on why there is a `lit_expr` for the count rule and its equal to `&ScalarValue::UInt8(Some(1))`?  My naive expectation was to have something similar to the max_min where a `col_expr` was made and the `num_rows` / `null_count` from the `ColumnStatistics`

[2021-09-20 16:49] xudong963 commented on #998
@Dandandan Thanks for your idea. I have implemented a version. I will consider your idea later.

[2021-09-20 16:58] xudong963 commented on #998
@houqp @alamb  The obstacle solved, but may not be the best.

[2021-09-20 17:02] #1027 closed

[2021-09-20 17:02] #1016 closed

[2021-09-20 17:34] alamb commented on #1020
I am running on a mac and it fails as shown above for me

[2021-09-20 18:05] alamb commented on #998
Another potential way to implement `UNION` might be to rewrite the logical plan to the equivalent of:

`SELECT x from foo UNION select x from bar` as `SELECT distinct (select x from foo UNION ALL select x from bar)`

`

[2021-09-20 18:18] houqp commented on #1012
Probably for no good reason, maybe it used to not be protected by mutex.

[2021-09-20 22:24] #1021 closed

[2021-09-21 09:57] #1012 closed

[2021-09-21 17:49] #936 closed

[2021-09-22 02:37] houqp opened #1034 "uncomment all datafusion tests"
arrow2 based datafusion should pass all existing datafusion tests

[2021-09-22 02:40] houqp opened #1035 "ARROW2: support case insensitive regex matching in binary expression"
This needs to be added to upstream arrow2 crate. See discussion in https://the-asf.slack.com/archives/C01QUFS30TD/p1631999411112000.

[2021-09-22 02:42] houqp opened #1036 "ARROW2: make ballista compile"
`cargo build` should exit without error inside the `ballista` folder.

[2021-09-22 02:42] houqp opened #1037 "ARROW2: pass all ballista tests"
`cargo test` should exit without error inside the `ballista` folder.

[2021-09-22 02:43] houqp opened #1038 "ARROW2: Pass all integration tests"
`./dev/integration-tests.sh` should exit without error.

[2021-09-22 06:06] houqp opened #1039 "ARROW2: track physical memory usage for arrays"
Related discussion: https://github.com/jorgecarleitao/arrow2/issues/421.

[2021-09-22 06:52] Ted-Jiang opened #1040 "Test execution_plans::shuffle_writer::tests::test Fail"
**Describe the bug**

run cargo test --no-default-features --features sled

![image](https://user-images.githubusercontent.com/37145547/134296326-ff4cb527-555e-4e0a-af7c-3aa4f3be67d1.png)

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
All test pass

**Additional context**

[2021-09-22 06:54] Ted-Jiang commented on #1040
I debug the code, find `create_hashes` func go into #[cfg(feature = "force_hash_collisions")]
I set #[cfg(not(feature = "force_hash_collisions"))] at the head of the test func still not work

[2021-09-22 06:55] Ted-Jiang commented on #1040
@alamb  Sorry for bother you, could you have a look?

[2021-09-22 11:08] alamb commented on #1040
Ho @Ted-Jiang  -- I am not familiar with ballista. Do the tests pass for you if you remove the `--features sled` option?

It seems like @edrevo  or @andygrove  may be more familiar with this code

[2021-09-22 11:10] alamb commented on #1040
FWIW when I run `cargo test --no-default-features --features sled` locally (mac, Rust 1.55) I do not see any failures

[2021-09-22 14:27] jiangzhx opened #1041 "does datafusion master version default enable simd?"
**Describe the bug**
query with datafuison with sql

    SELECT sum(LO_EXTENDEDPRICE * LO_DISCOUNT) AS revenue FROM lineorder_flat;

enable simd feature or not; the performence has no diffrence;
enable command:

    cargo +nightly  run --release --features "simd" --example ssb_query_example

with default command:

    cargo +nightly  run --release --example ssb_query_example

code:

    use datafu

[2021-09-22 17:00] #347 closed

[2021-09-22 20:19] alamb commented on #419
We are hitting this in IOx now more regularly so I plan to work on a real fix. Assigning to myself

[2021-09-23 04:48] houqp commented on #1041
Hi, we don't enable SIMD by default because it requires nightly toolchain, see https://github.com/apache/arrow-datafusion/blob/ab41d8187d25b24af73d56d03ac166a5498922bc/datafusion/Cargo.toml#L40.

I didn't dig into whether enabling SIMD should result in better performance for you particular query though.

[2021-09-23 06:34] Dandandan commented on #1041
* It could very well be your query is IO/parquet bound and simd won't reduce the execution time.
You could try reading the table into memory to see whether that's the case.
* the normal sum kernel uses auto vectorization, so even without `simd` flag it's using some faster kernels.

For most queries I didn't see an impact in DataFusion using the `simd` feature.

[2021-09-23 06:38] Dandandan commented on #1041
If you are looking to speed up builds these are things that I found do have a bigger effect:

* Use a custom allocator like mimalloc / snmalloc
* Enable LTO
* Change the compile target to include newer instruction sets

There is a bit of documentation on it over here https://arrow.apache.org/datafusion/user-guide/library.html

[2021-09-23 06:43] houqp commented on #1041
This is quite interesting, because SIMD is one of the biggest selling point of Databricks' photon engine. Do you know off the top of head whether this is expected? I would expect it to at least make a difference for aggregations?

[2021-09-23 06:48] Ted-Jiang commented on #1040
@alamb  Thanks. It works for me to update `rustc` version from` 1.54 to 1.55`

I think its good to notify what version should use in Readme (or i not found it).

[2021-09-23 06:51] Dandandan commented on #1041
I am not sure whether it has a large improvement in the Photon engine on queries. I would expect the vectorization (vs row-based) and being implemented in efficiently, modern CPU-aware written C++ rather compiled to Java code making the largest impact, rather than the use of SIMD instructions.

[2021-09-23 06:57] jorgecarleitao commented on #1041
Rust does compile to SIMD instructions without `packed_simd` (what the feature offers). I would expect simd feature to offer more benefits in queries containing null values (which afaik our benches do not have).

[2021-09-23 10:36] alamb commented on #1040
Yeah, we should definitely make it clear that we only test on the latest rust (whatever that happens to be). At this point we just don't have the maintenance bandwidth to maintain compatibility with older rust versions

[2021-09-23 10:40] alamb opened #1043 "Update docs to make it clear that we support only the latest stable version of rust"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
DataFusion / Ballista can (and sometimes do) fail to compile or successfully execute all tests when run with a version of Rust other than the latest stable version.

This can cause confusion, most recently on #1040 -- https://github.com/apache/arrow-datafusion/issues/1040#issuecomment-92554597

[2021-09-23 10:40] alamb commented on #1040
Filed https://github.com/apache/arrow-datafusion/issues/1043 to track the doc improvement. Thanks for the report @Ted-Jiang . Closing this one for now

[2021-09-23 10:40] #1040 closed

[2021-09-23 10:49] alamb commented on #1041
As @jorgecarleitao  and @Dandandan  have mentioned, the "simd" feature is somewhat misleadingly named, as it may imply that SIMD instructions (e.g. AVX2, etc) are not used unless that feature is enabled, which is not the case.

Normally the rust compiler will attempt to use SIMD instructions automatically (so called "auto vectorization"), and the suggestion at the link @Dandandan mentions of using

[2021-09-23 20:19] alamb commented on #419
I poked a bit at the stack frames in `lldb` and did some calculations to make sure I was going to optimize in the right place. It does indeed appear to be the case that calling `PhysicalExpr::evaluate` is consuming ~ 512 kilobytes (yes Kbytes!) per call. No wonder we exhaust the 2M stack size so quickly. Here are the first few frames annotated (frames are SP and then FP (aka the program counter)

[2021-09-23 21:31] alamb commented on #419
Some observations:
*  each stack frame of BinaryExpr::evaluate takes up 500K
* If we run the test in release mode there are no problems
* If we run with a larger stack frame there are no problems
* there are only a few frames of the

Thus my theory is that because there are so many locals created in `BinaryExpr::evaluate` (total, not in use any any one time), the debug build leaves a (unique) spac

[2021-09-23 23:46] Igosuki commented on #419
--> 432944 bytes on stack haha wth

[2021-09-24 02:25] houqp commented on #419
This is nuts, good found @alamb haha

[2021-09-24 04:55] houqp commented on #1036
fixed by @yjshen

[2021-09-24 04:55] #1036 closed

[2021-09-24 05:41] jiangzhx commented on #1041
i did more test, load parquet file to memtable first then query sql;

    SELECT sum(LO_EXTENDEDPRICE * LO_DISCOUNT) AS revenue FROM lineorder_flat;

with simd and mimalloc command:

    RUSTFLAGS='-C target-cpu=native' cargo +nightly  run --release --features "simd mimalloc" --example ssb_memtable_sum_example

    prepare memtable usage millis: 130
    sql execution usage millis: 26

with mimallo

[2021-09-24 07:35] Dandandan commented on #1041
@jiangzhx

I didn't spot a difference in the two `RUSTFLAGS='-C target-cpu=native' cargo +nightly  run --release --features "simd mimalloc" --example ssb_memtable_sum_example` commands you showed.

If you do want to do a full comparison I would do:

* build with/without `-C target-cpu=native`
* build with/without `mimalloc`
* build with/without `simd
* build with/without lto (https://arrow.apache.

[2021-09-24 10:14] rdettai commented on #907
#1010 (more exactly https://github.com/rdettai/arrow-datafusion/pull/1) is taking care of re-organizing the `TableProvider`s and `ExecutionPlan`s to integrate the `ObjectStore` abstraction

[2021-09-24 13:11] alamb commented on #419
Here is a simple reproducer showing the problem:

[code]

[2021-09-24 14:43] Dandandan commented on #419
Haha - great find @alamb

[2021-09-24 20:17] francis-du commented on #187
Same issue to me:

When the join condition is c3=c3, there will be no problem, but c1=c1 or c2=c2 will cause panic.

Panic:

[code]

Table info:

[code]

Query plan:

[code]

I want to participate in fixing this problem, can you provide some help. 😊

[2021-09-24 20:56] Smurphy000 opened #1048 "Are different database systems going to be supported data sources?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Are there plans to add a way to support connect/reading from a database (Postgres, MySQL, etc)?

**Describe the solution you'd like**
I am currently thinking in terms of Spark, where I have the ability to specify a format where that format could also be a package like `com.microsoft.sqlserver.

[2021-09-24 21:09] francis-du opened #1049 "[BUG] [SQL Syntax] - Unrecognized subquery alias"
**Describe the bug**

Version: DataFusion CLI v5.1.0-SNAPSHOT

Unrecognized subquery alias.

eg:

[code]

But this is work:

[code]

[2021-09-24 21:57] alamb commented on #187
Thanks for the report @francis-du !

This search can help you find the relevant code: https://github.com/apache/arrow-datafusion/search?q=Unsupported+data+type+in+hasher

The two locations that create that error are :
https://github.com/apache/arrow-datafusion/blob/65483d32f6ee86766bb74988659bb51142a4edff/datafusion/src/physical_plan/hash_join.rs#L789

https://github.com/apache/arrow-datafusion/bl

[2021-09-25 05:40] xudong963 commented on #1049
How about try
[code]

I tested in https://github.com/sqlparser-rs/sqlparser-rs
first
[code]
got

AST: [Query(Query { with: None, body: Select(Select { distinct: false, top: None, projection: [Wildcard], from: [TableWithJoins { relation: Table { name: ObjectName([Ident { value: "public", quote_style: None }, Ident { value: "simple", quote_style: None }]), alias: Some(TableAlias { name: Ident { valu

[2021-09-25 12:20] Igosuki commented on #1048
Hi, disclaimer not a maintainer. No it's not currently supported. I definitely see a use for it to join database tables with columnar data, although I find it is subject to the multiple-writer database anti-pattern, so you must have strong test suites to make sure changing the db (which is often owned by an API) won't affect the ETL process.
One would have to create an experimental crate, implemen

[2021-09-25 12:24] jorgecarleitao commented on #1048
fyi, https://github.com/sfu-db/connector-x already supports `arrow`, so it is "only" a matter of gluing it together.

[2021-09-25 12:55] Igosuki commented on #1048
@jorgecarleitao didn't know about this, so just need to implement a table provider and add the sources !

[2021-09-25 18:53] alamb opened #1051 "Update sqlparser-rs to 0.11"
Update sqlparser-rs to 0.11

Rationale: Make https://github.com/sqlparser-rs/sqlparser-rs/pull/356 from @Igosuki available in DataFusion in support of https://github.com/apache/arrow-datafusion/pull/1006

[2021-09-25 20:17] houqp commented on #1048
Yes, I would recommend implementing a table provider plugin using connector-x as a self-contained crate :)

[2021-09-25 22:32] #419 closed

[2021-09-26 00:52] francis-du commented on #187
@alamb Thanks for your help, I try to fix it.

[2021-09-26 00:54] houqp commented on #1049
Thanks @xudong963 for the comparison dump, it looks like datafusion's sql planner is just not handling the `alias: Some(TableAlias { name: Ident { value: "b", quote_style: None }, columns: [] }) }` AST node in the problematic query.

[2021-09-26 00:56] francis-du commented on #1049
@xudong963 Thanks for your report, I think we can fix it in sqlparser first.

[2021-09-26 01:02] houqp commented on #1049
@francis-du based on the output pasted by @xudong963 , i think the sql parser is parsing it correctly though, see the `alias: Some(TableAlias { name: Ident { value: "b", quote_style: None }, columns: [] }) }` node from the first block.

[2021-09-26 03:00] Ted-Jiang commented on #1040
Feel glad to help the community become better.

[2021-09-26 03:55] xudong963 commented on #1049
Thanks for your report @francis-du

So I tested in pg
[code]

So Datafusion or sqlparser-rs must have a bug, I like to deep into the issue and try to fix it.

Please assign me the issue, thanks! @houqp

[2021-09-26 04:31] houqp commented on #1049
assigned, @xudong963 the `datafusion/src/sql/planner.rs` file is a good place to start.

[2021-09-26 05:56] francis-du opened #1053 "[Datafusion] - Support joins on Float32/Float64 columns"
**Describe the bug**

When I joins on Float32/Float64 columns, there is a issue:

[code]

table info:

[code]

There is also this similar issue #187, These issues is caused by hash join `equal rows` not support Float32/Float64 datatypes. I will fix this.

https://github.com/apache/arrow-datafusion/blob/26399ed2405dcacd505f4af73c5ecf608cb6aa9d/datafusion/src/physical_plan/hash_join.rs#L759-L796

[2021-09-26 06:10] houqp commented on #1053
Thanks @francis-du , I have assigned the issue to you :)

[2021-09-26 06:38] francis-du commented on #1053
OK, Thanks~

[2021-09-26 10:48] #1051 closed

[2021-09-26 12:12] #888 closed

[2021-09-26 17:12] #1053 closed

[2021-09-26 18:09] houqp opened #1056 "ARROW2: implement failable string cast"
Postgres throws invalid syntax when a string cannot be cast to integers, we changed this behavior during arrow2 migration to unblock the test: https://github.com/houqp/arrow-datafusion/pull/9#discussion_r716175200. This is a tracking issue to make sure we change this behavior back before calling arrow2 migration complete.

[2021-09-26 18:09] houqp commented on #1056
related upstream discussion https://github.com/jorgecarleitao/arrow2/issues/457

[2021-09-27 06:35] houqp opened #1057 "ARROW2: Investigate csv_query_window_with_partition_by test failure"
**Describe the bug**

Test defined at https://github.com/apache/arrow-datafusion/blob/91a450fcc3a08a65a521b555707a3a2893a85697/datafusion/tests/sql.rs#L1019-L1031

This test is passing in master, but failing in arrow2 branch. The expected result asserted in the test is:

[code]

Result from postgres:

[code]

Row in question is `c9=141047417`. Notice nth value column is not null from postgres. The

[2021-09-27 07:25] yjshen opened #1058 "Use `parquet2` async reader in `physical_plan/parquet`"
This issue relies on https://github.com/apache/arrow-datafusion/pull/1010 as well as https://github.com/rdettai/arrow-datafusion/pull/1.

Please revisit `physical_plan/parquet` of all dead codes and unused variables for a throughout consideration.

[2021-09-28 03:22] houqp commented on #1037
fixed by @yjshen :)

[2021-09-28 03:22] #1037 closed

[2021-09-28 03:23] #1038 closed

[2021-09-28 03:24] houqp commented on #1057
test is currently commented out, we should uncomment it once we catch up to https://github.com/apache/arrow-datafusion/pull/1059

[2021-09-28 03:54] yahoNanJing opened #1060 "Add support of HDFS as remote object store"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently, we can only read parquet files from local file system. It would be nice to add support to read parquet files that reside on HDFS.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
**Add any other context or screenshots about

[2021-09-28 05:00] Jimexist commented on #1057
maybe fixed by https://github.com/apache/arrow-datafusion/pull/1059

[2021-09-28 05:13] xudong963 commented on #1049
Thanks to @francis-du, I have found the bug in datafusion. I'm trying to fix it but slowly, because this week it's my turn to be on-call at work, so busy...

[2021-09-28 05:27] houqp opened #1061 "ARROW2: support avro"
Avro integration needs to be fixed.

[2021-09-28 06:46] yjshen commented on #1060
@yahoNanJing, Great to see this!  Previously, we have some discussions at #907. Please also check the discussions there for more backgrounds.

[2021-09-28 06:58] yjshen commented on #1060
Besides, I have a partially implemented repo for native HDFS Rust binding, based on libhdfs3 originates from HAWQ. It will be great we can cooperate to make this happen.

https://github.com/yjshen/hdfs-native
The repo provides a wrapper of libhdfs3, which also originates from `hdfs-rs` as your `fs-hdfs`. I also have a HDFS object-store impl in `src/hdfs_store.rs` for fast development iteration.

[2021-09-28 07:05] yjshen commented on #1060
Per discussions in https://github.com/apache/arrow-datafusion/issues/907, a more preferable way for the community may be to put `connectors` such as S3, HDFS in their own repositories for fast development iterations, reduce unnecessarily dependencies and keep compilation time reasonable.

[2021-09-28 16:09] #187 closed

[2021-09-29 01:32] yahoNanJing commented on #1060
Agree to have a separate crate from each remote storage. Later will refine this PR and make it for the HDFS related crate.

[2021-09-29 17:32] omegablitz opened #1064 "UNION ALL bug: thread 'main' panicked at 'index out of bounds: the len is 1 but the index is 1', ./src/datatypes/schema.rs:165:10"
Thanks for the great library! Ran into the following issue while testing out some queries:

**Describe the bug**
UNION ALL does not give expected results when combining two tables. The minimal reproduction provided below panics.

**To Reproduce**
Minimal repro available here:
https://github.com/omegablitz/datafusion-bug

**Expected behavior**
I expect the output to be:
[code]

Instead, this exampl

[2021-09-30 04:15] xudong963 commented on #1064
Thanks for your report !@omegablitz
Maybe union alias in datafusion is processed incorrectly.  Recently I am following alias question in https://github.com/apache/arrow-datafusion/issues/1049. I will check your case later.

[2021-09-30 04:29] houqp commented on #890
@andygrove @alamb @Dandandan @jorgecarleitao @nevi-me given that we have had many major breaking changes merged in since the 5.x release, I am thinking maybe it's better to skip 5.1 and go 6.0 after #1010 gets merged. What do you think?

[2021-09-30 10:41] alamb commented on #890
I think using 6.0 is a good idea

[2021-10-01 06:35] omegablitz commented on #1064
This issue is actually reproducible with the following (simpler) query:
[code]

[2021-10-01 06:43] Dandandan commented on #1064
Full trace

[code]

[2021-10-01 08:51] jonmmease commented on #602
I would like to work on this.  I have a local branch where I've added the following as a new `ScalarValue` variant:

[code]

mirroring the current `List` variant
[code]

Does that make sense as a starting point?

[2021-10-01 18:07] houqp commented on #1035
this is now fixed in the arrow2 branch

[2021-10-01 18:07] #1035 closed

[2021-10-02 07:05] Igosuki commented on #1061
Is this about the dict issue or is it something else ?

[2021-10-02 07:35] houqp commented on #1061
This is something else, we need to port your avro implementation to https://github.com/jorgecarleitao/arrow2/tree/main/src/io/avro for #68 ;)

[2021-10-02 07:37] houqp commented on #1061
@Igosuki if you are interested in taking on this work, please coordinate with @jorgecarleitao .

[2021-10-02 07:39] #1056 closed

[2021-10-02 08:00] houqp commented on #890
sounds good, I think think I can try help push https://github.com/apache/arrow-datafusion/pull/873 to the finish line after you have arrow 6 released.

[2021-10-02 10:05] alamb commented on #1064
This one looks like it might be a good one for someone who wants to understand schemas and column references

[2021-10-02 10:09] alamb commented on #958
Arrow contains the code to parse a string --> timestamp correctly here: https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/cast_utils.rs#L69

This ticket would likely be a matter of hooking that code up into the CSV parser: https://github.com/apache/arrow-rs/blob/master/arrow/src/csv/reader.rs

So most of the code in this PR might best belong in arrow-rs rather than datafusio

[2021-10-02 10:11] alamb commented on #957
I think this would involve writing some tests and updating the coercion rules in https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/expressions/coercion.rs

[2021-10-02 10:13] alamb commented on #928
In case anyone is interested: https://docs.rs/tokio/1.12.0/tokio/#cpu-bound-tasks-and-blocking-code

Is upgraded to say that using a separate tokio executor is not a bad idea:

[2021-10-02 10:16] alamb commented on #879
Sorry for the late response

I am not sure I understand the question -- there is no `Service Level` column in the output

If you could provide a self contained reproducer we might be able to help more

[2021-10-02 10:18] alamb commented on #850
I think given the experience of @novemberkilo  on this issue, we can conclude this is not an easy issue (and maybe not worth doing at all) so removing the label

[2021-10-02 10:19] alamb commented on #672
added in https://github.com/apache/arrow-datafusion/pull/1018

[2021-10-02 10:19] #672 closed

[2021-10-02 10:21] alamb commented on #667
The idea is to add `cume_dist` and `percent_rank` as described in postgres (and elsewhere)

https://www.postgresql.org/docs/10/functions-window.html

[2021-10-02 10:22] alamb commented on #890
It sounds like we are aiming to release arrow 6.0 in 2 weeks or so

[2021-10-02 11:26] xudong963 commented on #1064
Please assign it to me.  I am doing https://github.com/apache/arrow-datafusion/pull/1029 and https://github.com/apache/arrow-datafusion/issues/1049 which could help me solve this issue. Thanks @alamb

[2021-10-02 11:35] praveentiru commented on #879
@alamb My bad. Service level = 1/Missed Ratio. I have edited the question to replace Service Level with Missed Ratio.

[2021-10-02 22:45] novemberkilo commented on #958
I would like to pick this up. Please assign to me as appropriate // @alamb

[2021-10-03 09:59] alamb commented on #879
@praveentiru I don't normally use the dataframe API (and for your case, the SQL interface might work better).

But in any event, I tried to reproduce the problem you are having, and I was not able to. Here is the program I used:

[code]

And when I ran that code, it appears to produce the output you expected:
[code]

[2021-10-03 18:15] houqp commented on #879
@praveentiru did you install your python binding from source? if not, it might be really out of date.

[2021-10-04 04:10] praveentiru commented on #879
@houqp I am working in Rust directly. I will try the code from @alamb and get back. I could not investigate over weekend.

[2021-10-04 10:29] alamb commented on #1049
For the record, here is what postgres does (accepts this query)

[code]

[2021-10-04 11:23] alamb opened #1069 "Mark volatility categories of functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A classic part of query optimization is algebriac transformations such as partially evaluating expressions once at plan time rather than over and over for each row during execution time. Part of such frameworks is knowing when functions can be rewritten -- so that the optimizer knows that `sq

[2021-10-04 12:53] alamb opened #1070 "Implement General Purpose Constant Folding with the Expression Evaluator"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A classic part of query optimization is algebraic transformations such as partially evaluating expressions once at plan time rather than over and over for each row during execution time.

For example, a predicate such as `where time < date_trunc('2021-10-04Z10:12:13', 'year')` can be rewritte

[2021-10-04 12:57] #998 closed

[2021-10-05 08:38] Igosuki commented on #1061
@houqp will do

[2021-10-06 04:48] jorgecarleitao commented on #1061
The approach I took in `arrow2` was to not use `AvroValue` and work directly with the byte stream. The reason for this is that `AvroValue` takes bytes by value and not by reference, which implies that when we perform the conversion `File -> AvroValue -> Arrow` for a `Utf8` or `Binary`, we end up with the transformation `bytes -> AvroValue::String(String) -> Utf8Array`, performing an extra allocati

[2021-10-06 05:01] houqp commented on #1061
I think struct and list are the main ones: https://github.com/apache/arrow-datafusion/blob/5cc4e9f53fab29e81ea7c98baac8ce277a0cb54a/datafusion/src/avro_to_arrow/arrow_array_reader.rs#L530

[2021-10-06 07:40] Igosuki commented on #1061
There is enum, array, dictionary (map), and logical types, these are almost
the same as parquet, as parquet a was meant to be a columnar version of
Avro.

Le mer. 6 oct. 2021 à 07:02, QP Hou ***@***.***> a écrit :

[2021-10-06 16:14] jorgecarleitao commented on #1061
ahhh, now it makes sense why they are so similar! Thanks a lot for sharing that.

I've implemented the remaining types here: https://github.com/jorgecarleitao/arrow2/pull/493 . We are missing `Struct` and `Decimal`.

[2021-10-06 20:18] alamb opened #1074 "Make a `LogicalPlanBuilder::schema()` function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I have code in IOx that builds up custom plans using `LogicalPlanBuilder` and for one of those steps I find myself needing to `cast` expressions (will link PR) but casting requires access to the input schema

https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/logical_plan/bu

[2021-10-06 22:32] #1074 closed

[2021-10-07 10:38] #1069 closed

[2021-10-07 11:39] jimexist opened #1080 "Support creating in-memory table by using values lists"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

We can support a new feature to supply an in-memory table formulated by a values lis

[2021-10-07 13:50] xudong963 commented on #1064
Bug located at https://github.com/apache/arrow-datafusion/blob/4687899957463ce81c4795a6d35d31320db0252b/datafusion/src/physical_plan/planner.rs#L836

`input_dfschema` is from the logical input schema, so idx of the column is from the logical input schema.

The idx is wrapped in physical expr and is used in https://github.com/apache/arrow-datafusion/blob/4687899957463ce81c4795a6d35d31320db0252b/dat

[2021-10-08 01:28] xudong963 opened #1082 "Implement the rest of Set Operators: INTERSECT, EXCEPT, etc"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

- [x] INTERSECT
- [x] INTERSECT ALL
- [x] EXCEPT
- [x] EXCEPT ALL

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2021-10-08 01:28] xudong963 commented on #1082
Please assign me, thanks! @houqp

[2021-10-08 04:02] jimexist opened #1083 "Implement `approx_distinct` using HyperLogLog"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Implement [HyperLogLog functions](https://trino.io/docs/current/functions/hyperloglo

[2021-10-08 04:02] Jimexist commented on #1083
@houqp @alamb is this of any use to your usecases?

[2021-10-08 05:20] Jimexist commented on #1083
relevant links:
1. [smhasher](https://github.com/aappleby/smhasher/wiki)
2. [`hyperloglog.c` from redis](https://github.com/yahoo/redislite/blob/master/redis.submodule/src/hyperloglog.c)
3. [`xxhash` v.s. `murmur3`](https://aras-p.info/blog/2016/08/02/Hash-Functions-all-the-way-down/)

[2021-10-08 05:42] Jimexist opened #1085 "Implement `array_agg` aggregate function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

Implement [`array_agg`](https://trino.io/docs/current/functions/aggregate.html#array

[2021-10-08 05:52] Jimexist commented on #753
see related #1080

[2021-10-09 02:51] xudong963 commented on #892
@houqp  I want to try it!

[2021-10-09 05:37] #1064 closed

[2021-10-09 06:15] novemberkilo commented on #958
I have an example of this now on https://github.com/novemberkilo/arrow-datafusion/commit/d9f096a5ececcb8fdef6cc74761b782d33e02799

To reproduce, follow the directions in `benchmarks/README.md` to get a `ballista-scheduler` and `ballista-executor` going locally, then do

[code]

[2021-10-09 06:59] #667 closed

[2021-10-09 13:52] jonmmease opened #1092 "Proposal: Allow ScalarValue::List to store elements of any ScalarValue type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently, the elements of `ScalarValue::List` are restricted to be primitive values (e.g. `ScalarValue::iter_to_array` only supports primitive list element types).

In particular, lists cannot be nested inside other lists.

**Describe the solution you'd like**
I would like to be able to crea

[2021-10-09 14:11] Jimexist opened #1093 "Implement `digest` function to unify crypto functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

A challenge, to implement `digest(utf8, utf8)` function to return `bytea` similar to

[2021-10-09 14:13] jimexist opened #1094 "Implement `blake2` functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

A challenge to add and implement [`blake2` functions](https://en.wikipedia.org/wiki/

[2021-10-09 22:38] rupurt opened #1096 "Vision for datafusion-cli"
Howdy,

I'm so pumped I found this project! Very excited to use more of it to improve the speed of my ETL pipelines. Thank you to the maintainers :)

Are there any resources for the vision of each component? Specifically it would be helpful to understand the vision for the datafusion-cli. In my head it feels like it would be natural to replicate as much `psql` functionality as possible but would l

[2021-10-10 05:36] 1nF0rmed commented on #1043
@alamb if I'm not wrong, we would want to update the [Datafusion Readme](https://github.com/apache/arrow-datafusion/blob/master/README.md) and the [Ballista Readme](https://github.com/apache/arrow-datafusion/blob/master/ballista/README.md) with a note that says we only support the latest stable version of Rust.

Also, can I base the note on the PR you mentioned in `Additional context`?

[2021-10-10 06:37] houqp commented on #1092
I think this looks like a reasonable feature to support.

[2021-10-10 06:56] Jimexist commented on #1096
Thanks for raising this issue and question @rupurt.

First off, I don't believe there's any centralized view on what datafusion-cli is or isn't, and there's no process yet to determine that. However I can share some of my thinkings here.

## What datafusion-cli is not

Our ecosystem is full of different tools to manipulate data, each fitting its own niche purpose. In my opinion, datafusion-cli sho

[2021-10-10 08:06] #1093 closed

[2021-10-10 09:34] alamb commented on #1043
Thanks @1nF0rmed  !

Yes I think that is correct

Absolutely

[2021-10-10 09:37] 1nF0rmed commented on #1043
@alamb If it's alright, I'd like to make a PR for this

[2021-10-10 09:55] alamb commented on #1043
Please do -- that would be great

[2021-10-10 10:13] 1nF0rmed commented on #1043
Thank you for being soo responsive!
I have raised a PR for the same.

Would it be possible to add the `hacktoberfest` label to this?

[2021-10-10 10:48] alamb commented on #958
https://github.com/novemberkilo/arrow-datafusion/commit/d9f096a5ececcb8fdef6cc74761b782d33e02799 <-- looks very cool 👍

[2021-10-10 10:58] #1094 closed, assigned to nobody

[2021-10-10 11:01] alamb commented on #1043
Sure -- this project doesn't have a `hactoberfest` label -- do I just create one like

![Screen Shot 2021-10-10 at 7 00 59 AM](https://user-images.githubusercontent.com/490673/136692810-48af1488-7488-4222-8068-9dac4f497968.png)

https://hacktoberfest.digitalocean.com/

[2021-10-10 11:03] 1nF0rmed commented on #1043
Yes, you can add a `hacktoberfest` label to this issue. It will get tracked then

[2021-10-10 11:18] alamb commented on #1043
Done

[2021-10-10 11:23] 1nF0rmed commented on #1043
@alamb My bad, the topic has to be added to the repo I guess. (My previous PR got tracked because they added the `hacktoberfest` topic later)

[2021-10-10 13:28] 1nF0rmed commented on #1043
Unless you have access as mentioned [here](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics#adding-topics-to-your-repository),
we would have to ask IT to do it.

[2021-10-10 18:05] #1043 closed

[2021-10-11 03:33] Jimexist opened #1101 "Implement blake3 function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

A challenge to implement [blake3 function](https://github.com/BLAKE3-team/BLAKE3).

[2021-10-11 09:06] xudong963 opened #1102 "Add roadmap for datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The issue just is a proposal.
As todos in the README file become less and less, I think it's better to have a clear roadmap for datafusion, like https://github.com/ClickHouse/ClickHouse/issues/17623.

**Describe the solution you'd like**
As a newer to datafusion, I don't have enough ability to

[2021-10-11 10:17] crepererum opened #1103 "Canceling/dropping an execution plan should cancel/drop all inner tasks"
**Describe the bug**
Canceling futures in Rust is usually quite easy: just `drop` them. However DataFusion has a few places where it uses `tokio::spawn` to create new, independent execution flows and forgets to wire up the `JoinHandle`s in a way that dropping the owning future/stream would also drop the sub-flow.

The sub-flow is usually connected using a `futures::channel::oneshot::channel`, so d

[2021-10-11 10:50] alamb commented on #1102
Also related: https://news.ycombinator.com/item?id=28290616

[2021-10-11 11:12] alamb commented on #237
Possibly related to https://github.com/apache/arrow-datafusion/issues/237

[2021-10-11 20:20] alamb commented on #1092
I agree it sounds reasonable

[2021-10-12 04:56] houqp opened #1106 "Use UUID to create random table names in python binding"
**Describe the bug**

We use simple random generator to create the temporary table names in https://github.com/apache/arrow-datafusion/blob/91a677c074e968be21fa4ef304de4b918dbb5a92/python/src/context.rs#L88. This doesn't provide enough entropy for uniqueness, which could lead to higher chance of collisions.

**Expected behavior**
Switch to a better scheme like UUID

**Additional context**

Follow

[2021-10-12 05:30] houqp commented on #1096
I think we should PR @Jimexist 's well written comment into #1104 or add to the roadmap.md file after 1104 is merged :)

[2021-10-12 10:44] #1083 closed, assigned to nobody

[2021-10-12 10:48] Jimexist opened #1108 "add a Java wrapper for datafusion"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A challenge to add a Java wrapper for datafusion, so that we can leverage Rust's speed and memory management and also Java's eco-system.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Unlike Python where we have `maturin` - an easy to use bi

[2021-10-12 15:18] jimexist opened #1109 "`approx_distinct` should be leveraging bitmap for counting u8/16 and i8/16"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

`approx_distinct` should be leveraging bitmap for counting u8/16 and i8/16

**Descri

[2021-10-12 16:56] Dandandan commented on #1108
I agree this could be done better in a separate repo.
If it's mature enough to be considered in the repository, we can decide to do so.

[2021-10-13 05:41] houqp commented on #1108
it looks like everyone is having mono repo PTSD here :D

[2021-10-13 05:42] xudong963 commented on #1082
First of all, I'll implement `INTERSECT`
My direct idea is to rewrite it to `left-semi Join`

such as
[code]
How do you think about it? @houqp @alamb @Dandandan

If it's ok, I think I should implement `is distinct from` firstly.  https://www.postgresql.org/docs/14/functions-comparison.html

[2021-10-13 06:47] Jimexist commented on #1108
for the moment let me put this [here][1], once ready i can transfer it under apache org

[1]: https://github.com/Jimexist/datafusion-java

[2021-10-13 16:53] alamb commented on #1082
Creating / using `is distinct from` makes sense to me 👍  ). Good thinking @xudong963

[2021-10-13 20:29] Dandandan commented on #1082
It looks like PostgreSQL has some explicit operator (`HashSetOp`) for these kind of things:

[code]

[2021-10-14 03:25] j-a-m-l opened #1113 "Export C API"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We (me and @kou ) would like to export the C API to allow other language bindings (#1108, #1114).

**Describe the solution you'd like**
We will use the FFI that allow exposing a C API (https://doc.rust-lang.org/nomicon/ffi.html#calling-rust-code-from-c).

**Describe alternatives you've conside

[2021-10-14 03:31] j-a-m-l opened #1114 "Ruby bindings"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We (me and @kou ) want to implement Ruby bindings for DataFusion.

**Describe the solution you'd like**
We think that after #1113, we could use the C API to create the Ruby bindings GObject introspection, the same way that Red Arrows does.

**Describe alternatives you've considered**
[Rutie](h

[2021-10-14 04:19] Jimexist commented on #1114
similarly I'm thinking of #1108 and for the moment putting the code [here][1]

[1]: https://github.com/Jimexist/datafusion-java

[2021-10-14 04:21] Jimexist opened #1115 "`approx_distinct` should be leveraging dictionary encoding to support faster counting for these types"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A challenge to improve `approx_distinct`, which should be leveraging dictionary encoding to support faster counting for these types.

**Describe the solution you'd like**

Making sure we can use the cardinality of the dictionary to speed up.

**Describe alternatives you've considered**
A clea

[2021-10-14 06:56] nevi-me opened #1116 "Exact filter pushdown can be duplicated in some instances"
**Describe the bug**

If using a data source that supports exact filters, we can duplicate filters if not all filters can be pushed down to the source.
This happens if we have multiple filters on the same column, but one or more of those filters cannot be pushed to source.

**To Reproduce**

Using https://github.com/TheDataEngine/datafusion-mongo-connector, and the below SQL query on the NYC datas

[2021-10-14 09:34] j-a-m-l commented on #1114
We're going to follow a similar approach: first create a PoC and then, integrate it here if it is accepted.

[2021-10-14 15:34] #1106 closed, assigned to nobody

[2021-10-14 20:27] alamb commented on #1082
I can see the potential benefit of implementing some special physical operator to implement INTERSECT / EXCEPT -- it might be potentially faster than the general purpose join operator

However, that being said, using a general purpose SEMI join as you have suggested @xudong963  would definitely be my preference to keep the DF code base simpler, unless there is some compelling performance measureme

[2021-10-14 20:33] alamb commented on #1103
With the merge of https://github.com/apache/arrow-datafusion/pull/1112 is there anything left for this ticket?

[2021-10-14 23:07] matthewmturner opened #1118 "Improve testing of optimizers using EXPLAIN"
It would be very reassuring if these optimizations came with a more systematic testing routine. I agree that unit tests in this precise scenario are not very powerful. Currently we have a test here: https://github.com/apache/arrow-datafusion/blob/558d8ecfe2d1b0737de1e2548c5fbedc0ea17ada/datafusion/tests/sql.rs#L3020

that ensures that the count optimizer rule kicks in properly with `EXPLAIN [ANALY

[2021-10-15 08:30] rdettai opened #1122 "Multiple files per partition for CSV Json and Avro exec plans"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, only `ParquetExec` supports having multiple files per partition. CSV, Json and Avro execution plans should work the same way.

**Describe the solution you'd like**
I will create a generic abstraction, `FileStream`, that will take care of converting a list of files into a record batc

[2021-10-15 10:22] alamb commented on #1118
Sounds great -- thank you @matthewmturner !

Here is another idea with additional thoughts on test cleanup if you are feeling ambitious and want to move code around: https://github.com/apache/arrow-datafusion/issues/743

In general, I think the idea of consolidating SQL optimizer "end to end" tests that use explain into `datafusion/tests/optimizers.rs` sounds like a great idea.

If you are inspire

[2021-10-15 10:32] alamb commented on #1082
@Dandandan  has made https://github.com/apache/arrow-datafusion/pull/1117 to add `is distinct from`

[2021-10-15 14:24] matthewmturner opened #1123 "Ensure column names are equivalent with or without optimization"
In the context of adding a new physical optimizer (#1063) the topic of column names came up.  From this, we would like to ensure that regardless of whether an optimization was performed that the output column name is the same.

I believe we will want to add tests for this that simply check output schemas of a plan that wasnt optimized and an optimized plan.

These tests could likely belong in `dat

[2021-10-16 04:48] #1103 closed, assigned to nobody

[2021-10-16 05:12] gopik opened #1129 "Collect design docs being collaborated on via google docs in easy to discover place."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Related to improve the documentation

**Describe the solution you'd like**
One of
1. Add a wiki to the project that lists all design documents for features in progress.
2. Tag the bug with links to design docs with "design" tag.

**Describe alternatives you've considered**
A clear and concise

[2021-10-16 06:21] Jimexist commented on #1113
I'm not sure tokio and async functions can be easily modeled.

[2021-10-16 06:37] houqp commented on #1113
i think we would need to do pull the same trick we have with our python binding.

[2021-10-16 09:40] jimexist opened #1131 "datafusion python function `lit` only accepts i32 values"
**Describe the bug**

datafusion python function `lit` only accepts i32 values

**To Reproduce**

[code]

**Expected behavior**

It shall allow numbers, floats, strings, etc.

**Additional context**
Add any other context about the problem here.

[2021-10-16 09:52] jimexist opened #1132 "add python binding to `digest` hash functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

A challenge, to add python binding to `digest` hash functions.

**Describe the solut

[2021-10-16 09:55] Jimexist opened #1133 "add python binding to `approx_distinct` function"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A challenge, to add python binding to `approx_distinct` function

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Similar to #1132
Related to #1083

**Describe alternatives you've considered**
A clear and concise description of any alternative

[2021-10-17 02:23] gopik commented on #1129
Adding docs that I know of -
[Partitioning and table formats](https://docs.google.com/document/d/1Bd4-PLLH-pHj0BquMDsJ6cVr_awnxTuvwNJuWsTHxAQ/edit#)

[2021-10-17 14:42] Jimexist opened #1136 "allow `lit` python function to support `boolean` and other types"
looks good to me too -- bool is a good suggestion from @houqp

Another good set might be timestamps (`datetime.date`, etc) but perhaps we can add those as a separate PR

(nice tests, btw)

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/1130#pullrequestreview-781435561_

[2021-10-17 14:42] #1131 closed, assigned to nobody

[2021-10-17 15:15] #1132 closed, assigned to nobody

[2021-10-17 19:09] #1133 closed

[2021-10-18 03:07] houqp commented on #119
I think we are almost there with this feature, see my comment in https://github.com/apache/arrow-datafusion/pull/1006#issuecomment-941938893.

[2021-10-18 03:13] houqp commented on #112
We already have `CoalesceBatchesExec` physical plan implemented, just need to hook it up with a new logical plan node and make it accessible to our dataframe API.

[2021-10-18 03:25] houqp commented on #136
@alamb I think this can be closed now, @rdettai 's file format implementation only scans a single file now for schema inference.

[2021-10-18 03:29] houqp commented on #133
I think this can be closed now with @rdettai 's new awesome listing table provider.

[2021-10-18 03:38] houqp commented on #157
already implemented

[2021-10-18 03:38] #157 closed

[2021-10-18 03:39] houqp commented on #246
This is now covered in https://github.com/apache/arrow-datafusion/tree/master/docs

[2021-10-18 03:39] #246 closed

[2021-10-18 03:47] #549 closed

[2021-10-18 03:52] houqp commented on #603
consolidating all discussions to https://github.com/apache/arrow-datafusion/issues/119

[2021-10-18 03:52] #603 closed

[2021-10-18 05:30] xudong963 commented on #112
Yep, I found it. So I thought maybe the title means `coalesce batches`😁.

No problem!

[2021-10-18 07:01] j-a-m-l commented on #957
@alamb That code delares which type coercions are available, but, maybe I'm missing something, I don't see any rule that states which numeric type should be chosen to coerce strings or the actual code to convert them from utf8 to numeric.

[2021-10-18 10:31] rdettai opened #1139 "Implement partitioned read in listing table provider"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It is usual to organize data files by partitions. There are many ways to do that, but hive partitioning is the most common:
[code]

**Describe the solution you'd like**
In the `ListingTableProvider`, when resolving the list of files:
- their path should be parsed. The `PartitionedFile` will co

[2021-10-18 10:31] rdettai commented on #133
@houqp I opened an issue for adding the feature in the listing provider, we can close this one!

[2021-10-18 13:37] #133 closed

[2021-10-18 17:19] alamb opened #1144 "Update to arrow-rs 6.0"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Keep up with the latest in the arrow-rs ecosystem

Specifically, I would like my downstream project (IOx) to be able to use arrow 6.0, but to do that DataFusion must be upgraded to use arrow 6.0 first

**Describe the solution you'd like**
Upgrade datafusion to arrow-rs 6.0

**Describe alternat

[2021-10-18 18:46] #136 closed

[2021-10-18 21:16] alamb commented on #957
The arrow cast kernel https://docs.rs/arrow/6.0.0/arrow/compute/kernels/cast/index.html contains the code to covert `utf8` to many differnet types -- see https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/cast.rs

I think the issue that is described on this bug is that by desigh DF won't auto cast (coerce) in a way that loses data (so it won't coerce  `1.2` to an int because

[2021-10-18 23:45] Hoeze commented on #847
Also, pyspark 3.2 supports Parquet column index:
https://issues.apache.org/jira/browse/SPARK-26345

[2021-10-19 09:58] #1144 closed

[2021-10-19 16:25] #1102 closed

[2021-10-19 23:58] tupshin commented on #890
arrow 6 [has been release](https://crates.io/crates/arrow). Any ETA on this one? I'm really looking forward to an up to date python API, in particular

[2021-10-20 00:40] aguspdana opened #1147 "WindowFunction works with SQL but not with DataFrame"
Query with `WindowFunction` return `NotImplemented` error, but the equivalent SQL query return the correct result.

[code]

[code]

I've also tried using `datafusion::physical_plan::aggregates::AggregateFunction::Sum`, and it also returned `NotImplemented` error.

The error maybe triggered at <https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/planner.rs#L1105>. Bu

[2021-10-20 02:59] houqp commented on #1116
Most likely because our current filter push down implementation determine which filter to preserve by accessed columns, not by whether the exact filter has been pushed down or not: https://github.com/apache/arrow-datafusion/blob/f24e45fc8ec035e9ec0f6b6a18bb97e5bc0f9a1c/datafusion/src/optimizer/filter_push_down.rs#L474

[2021-10-20 06:52] Dandandan opened #1149 "Upgrade prost to 0.9"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Upgrade `prost` to the latest version 0.9. This brings some backward incompatible changes, which requires fixing.

**Describe the solution you'd like**
Upgrade to 0.9 and fix errors.

**Describe alternatives you've considered**

**Additional context**

[2021-10-20 07:29] gopik opened #1150 "Ballista cluster sharing by multiple users (with fairness of resource allocation)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Let's say we've an organization that deploys ballista cluster to which multiple users connect to. It'd be great if executor slots can be allocated to the users fairly. If a query has consumed all slots allotted to a user, it can't progress until more slots are generated (say by passage of time

[2021-10-20 08:27] houqp commented on #970
I think with some extension to our existing table provider abstraction, this kind of cross table compute push down could be achieved within our logical or physical plan optimizer?

Following @hu6360567 's logic of splitting logical plans into sub plans, we could perform in the plan optimizer to group the query plan tree into sub trees by database instance referenced in table scans. If a sub tree o

[2021-10-20 10:54] #1122 closed

[2021-10-20 11:15] alamb commented on #970
@houqp, the idea of using an optimizer pass is a great one. We might even be able to do it without any changes to the TableProvider as of now.

For example, if the input plan was like this:

[code]

I could imagine a custom optimizer pass that recoginzed that `B` and `C` were available in some external database and could rewrite the plan as you suggest:

[code]

[code]

The specifics of what types

[2021-10-20 14:09] matthewmturner opened #1151 "Update data in SQL tests to have necessary precision for tests"
In 'datafusion/sql/tests/sql.rs' there are some tests that check for milli/micro/etc precision but the underlying data doesnt go to that level of precision.  The data for tests should be at the necessary level of precision for whatever level of precision the test is for.

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/1126#discussion_r730396112_

[2021-10-20 14:58] Jimexist commented on #1147
yes i can confirm it was because in https://github.com/apache/arrow-datafusion/blob/4b577f374ce0922f61608be25d8d91c59a65c2cf/datafusion/src/execution/dataframe_impl.rs#L77-L82 we need to handle window expressions like in https://github.com/apache/arrow-datafusion/blob/4b577f374ce0922f61608be25d8d91c59a65c2cf/datafusion/src/sql/planner.rs#L842-L860 and it's not done yet

[2021-10-21 09:18] jonmmease opened #1154 ""future cannot be sent between threads safely" when returning ctx.read_csv from async_trait function"
**Describe the bug**
A compilation error is raised in a situation that I believe is a valid use case of DataFusion

**To Reproduce**
Define an `#[async_trait]` with an async function signature that returns a DataFrame. Then implement the trait with a function that creates a context (`ctx`) and returns the result of `ctx.read_csv`.

[code]
When compiling with the stable 1.55.0 toolchain, the follow

[2021-10-21 11:31] alamb commented on #970
@xudong963  I used:  https://monodraw.helftone.com/

[2021-10-21 13:55] gopik commented on #1154
Interesting! From https://github.com/dtolnay/async-trait, does it work if you use following:

#[async_trait(?Send)]

instead of #[async_trait]?

[2021-10-21 14:24] alamb opened #1156 "Add booleans support to the `CASE` statement"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Sometimes it is useful to use a `CASE` statement to evaluate predicates within a project operation

**Describe the solution you'd like**

I would like to be able to create a `CASE` statement that has a boolean result

For example the following query should return `false` but instead returns a

[2021-10-21 14:29] #1154 closed, assigned to nobody

[2021-10-21 14:48] alamb opened #1157 "Operation name not included in internal errors -- Internal("Data type Boolean not supported for binary operation on dyn arrays")"
While working on https://github.com/apache/arrow-datafusion/pull/1153, i saw this kind of error:

Internal("Data type Boolean not supported for binary operation on dyn arrays")

But it took me a while to figure out what operation was wrong (in this case it was `eq`)

It would be nice to include the name of the operation in the error message

[2021-10-21 15:01] alamb opened #1159 "boolean == boolean and boolean != boolean operators are not supported"
**Describe the bug**
I found this while working on https://github.com/apache/arrow-datafusion/pull/1153

Trying to do a boolean operation with eq or != results in an error such as:

[code]

**To Reproduce**

[code]

Then run SQL:
[code]

**Expected behavior**
Expect the query to run and the a result of two columns of false values

**Additional context**
The reason it is a problem for constant fold

[2021-10-21 16:23] alamb opened #1160 "Support simplification that requires multiple applications of constant folding / simplification"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The constant folding and constant evaluation in [constant_folding.rs](https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/optimizer/constant_folding.rs)(and added to in https://github.com/apache/arrow-datafusion/pull/1153) can not fold certain types of expressions where it ta

[2021-10-21 16:45] alamb opened #1162 "Add additional algebraic simplifications"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Now that we have a nice ConstantPropagator and Simplifier framework, there are additional predicate rewrites we can do to improve query performance

**Describe the solution you'd like**
Implement additional algebraic simplification / rewrite rules to [constant_folding.rs](https://github.com/ap

[2021-10-21 18:07] #1156 closed, assigned to nobody

[2021-10-22 01:08] houqp commented on #970
I agree. Perhaps something along the lines of `DatabaseProvider` that can be referenced by a table provider.

[2021-10-22 04:30] #1157 closed

[2021-10-23 11:46] jimexist opened #1169 "optimize values list execution plan by moving the evaluation part to execution phase"
I wonder what you think about moving the creation of the actual `RecordBatch` from `ValuesExec::try_new` to `execute` -- the rationale would be to make `PhysicalPlan` creation faster and push the actual work into `execute` where if can potentially be run concurrently with other parts

Given the size of data in a `VALUES` statement, this is not likely to be any real difference so I am fine with lea

[2021-10-23 11:51] Jimexist opened #1170 "apply constant folding to LogicalPlan::Values"
I suspect it is not likely to matter, but constant folding could be applied to the `Expr`s in `values`. As written this code will not apply constant folding to those expressions

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/pull/1165#discussion_r734958657_

[2021-10-23 11:52] jimexist opened #1171 "update the homepage README to include values, `approx_distinct`, etc."
It also would be cool to add `VALUES` to the list of supported features on https://github.com/apache/arrow-datafusion#sql-support

_Originally posted by @alamb in https://github.com/apache/arrow-datafusion/issues/1165#issuecomment-950140090_

[2021-10-23 13:10] #1080 closed, assigned to nobody

[2021-10-24 09:34] j-a-m-l opened #1173 "The `unary_scalar_expr` macro is used on functions that require several arguments"
**Describe the bug**
The `unary_scalar_expr` macro is used on functions that require several arguments, so those functions fail always.

**To Reproduce**
[code]
It fails with:
[code]

**Expected behavior**
I'd expect that those functions work correctly.

**Additional context**
That macro also adds this comment: `this scalar function is not documented yet`.

**Proposal**
I'd create a new macro for

[2021-10-25 00:27] houqp commented on #1114
nice work @j-a-m-l, we took the same approach for [delta-rs's ruby binding](https://github.com/delta-io/delta-rs/tree/main/ruby) as well :)

[2021-10-25 11:30] #1171 closed, assigned to nobody

[2021-10-25 18:41] alamb opened #1175 "Move code to fold `now()` from `Simplifier()` to `ConstEvaluator`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is a follow on suggestion from @rdettai  on https://github.com/apache/arrow-datafusion/pull/1153 https://github.com/apache/arrow-datafusion/pull/1153/files#r735437280

Namely the substitution of `now()` for the current value is better described as "constant evaluation" rather than "algebr

[2021-10-26 08:01] mingmwang opened #1177 "Do we have plan to upgrade to Rust 2021 edition?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2021-10-26 12:51] alamb opened #1178 "Use specialized dictionary compute kernels for binary PhysicalExpr evaluation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Today, DataFusion's expression evaluation does not work natively on DictionaryArrays; Instead what happens is that the DictionaryArrays are unpacked into their base type (e.g. a string dictionary gets unpacked into a StringArray)

This is very inefficient, especially for expressions like `col

[2021-10-26 15:54] alamb opened #1179 "Comparisons (BinaryExprs) to literal NULL don't work"
**Describe the bug**

Bug is that datafusion SQL treats a literal `NULL` as though it is typed `ScalarValue::Utf8(None)`

So then if you try to compare null to a column that is not a scalar DataFusion goes 💥

**To Reproduce**
(I *love* the new `VALUES` feature that @Jimexist added)

[code]

**Expected behavior**
All three queries should return 1 column, 2 rows with all values null;

| result |
| -

[2021-10-27 17:06] xudong963 opened #1182 "Logical plan optimization will execute twice"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
During I look through datafusion, I find that Logical plan optimization will execute twice in SQL mode. It's ok in DF mode that only will execute once.

**Describe the solution you'd like**
Add a configuration such as `has_optimized` in `ExecutionContextState` to mark if the logical plan has o

[2021-10-27 18:15] alamb opened #1184 "Null constants can not be used in most expressions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I want to be able to use null constants in my datafusion queries (e.g. `NULL < 5`). While at first this seems a silly usecase, we end up with such predicates during automated rewrites in IOx (where sometimes we replace column references with null constants --  See more details on  https://git

[2021-10-27 23:25] #1177 closed, assigned to nobody

[2021-10-28 09:08] rdettai opened #1185 "Make table partitioning accessible in register/read APIS"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The ability to read partitioned tables is added the the `ListingTable` in #1141. This is a very common feature that would be interesting to expose in the highest level APIs such as `ExecutionContext.read_xxx` and `ExecutionContext.register_xxx`

**Describe the solution you'd like**
The cleanes

[2021-10-28 09:12] rdettai opened #1186 "Implement statistics estimation for partition columns"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The ability to read partitioned tables is added the the `ListingTable` in #1141. As partitions are constant columns, we could estimate their statistics pretty accurately (currently they are left as `Default`.

**Describe the solution you'd like**
Replace default with a column statistics that h

[2021-10-28 09:24] rdettai opened #1187 "Optimize how table partitions are pruned"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The ability to read partitioned tables is added the the `ListingTable` in #1141. In that implementation the table lists all the files before applying the partition pruning. This will be very slow for large tables.

**Describe the solution you'd like**
Instead of calling `collect()` on the stre

[2021-10-28 13:12] alamb opened #1188 "Function calls with NULL literals do not work"
Reproducer:

[code]

The correct output is `null`

I think the solution will likely be to teach the function type coercion code about the null type (and that it can be cast to any other type). See https://github.com/apache/arrow-datafusion/issues/1184 for more details

[2021-10-28 13:14] alamb opened #1189 "CASE expr with NULL literals panics `'WHEN expression did not return a BooleanArray'`"
Reproducer:

[code]

The correct output is `'bar'`

I think the solution will likely be to teach `CaseExpr` about type coercion (as is done in `BinaryExpr` and function calls) once coercion knows about the null type (and that it can be cast to any other type). See https://github.com/apache/arrow-datafusion/issues/1184 for more details

[2021-10-28 13:14] alamb opened #1190 "InList expr with NULL literals do not work"

[2021-10-28 13:29] #1190 closed, assigned to nobody

[2021-10-28 13:40] alamb opened #1191 "`not()` with NULL literals does not work: can't be evaluated because the expression's type is Utf8, not boolean"
Reproducer:

[code]

The correct output is `null`

I think the solution will likely be to teach `Expr::Not` about type coercion (as is done in `BinaryExpr` and function calls) once coercion knows about the null type (and that it can be cast to any other type). See https://github.com/apache/arrow-datafusion/issues/1184 for more details

[2021-10-28 13:40] alamb opened #1192 "`-` (negation) with NULL literals does not work: can't be evaluated because the expression's type is Utf8, not signed"
Reproducer:

[code]

The correct output is `null`

I think the solution will likely be to teach `Expr::Negative` about type coercion (as is done in `BinaryExpr` and function calls) once coercion knows about the null type (and that it can be cast to any other type). See https://github.com/apache/arrow-datafusion/issues/1184 for more details

[2021-10-28 13:40] alamb opened #1193 "`between` with NULL literals does not work: can't be evaluated because there isn't a common type to coerce the types to"
Reproducer:

[code]

The correct output is `null`

I think the solution will likely be to teach `Expr::Between` about type coercion (as is done in `BinaryExpr` and function calls) once coercion knows about the null type (and that it can be cast to any other type). See https://github.com/apache/arrow-datafusion/issues/1184 for more details

[2021-10-28 13:40] alamb opened #1194 "window functions with NULL literals in `partition by` and `order by` do not work: Internal("Sort operation is not applicable to scalar value NULL")"
Reproducer:

[code]

[code]

[code]

The correct output is `null`

See https://github.com/apache/arrow-datafusion/issues/1184 for more details

[2021-10-28 13:47] alamb opened #1195 "ORDER BY does not work with literals: Sort operation is not applicable to scalar value 'foo'"
Reproducer:

[code]

[code]

[code]

I found this while working on https://github.com/apache/arrow-datafusion/issues/1184, but I am not sure it is related to null literals. I think we simply need to teach the sort operation about literals.

[2021-10-28 13:54] alamb opened #1196 "Can not use `between` in the select list:"
**Describe the bug**
I can not write a query that uses  `between` in the select list of a sql query

**To Reproduce**

[code]

[code]

[code]

**Expected behavior**
I expect a single row `false` to be returned

**Workaround**
Use an alias:
[code]

**Additional context**
Add any other context about the problem here.

[2021-10-28 16:26] #1175 closed, assigned to alamb

[2021-10-29 15:17] Igosuki opened #1203 "Support pseudo columns"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Haven't see that anywhere in the code, so please let me know if I overlooked it.
Spark supports pseudo columns, a pseudo column is a column that has a single value for an entire partition, and can be used to filter data without reading any physical files.

**Describe the solution you'd like**

[2021-10-29 17:36] #1195 closed, assigned to nobody

[2021-10-29 17:49] #1194 closed, assigned to nobody

[2021-10-29 18:00] #1005 closed

[2021-10-30 07:29] #1182 closed

[2021-10-30 09:10] Igosuki commented on #119
#1204

[2021-10-30 11:27] Igosuki opened #1205 "Improve avro to arrow reader performance"
**Describe the bug**
Waiting on arrow2 might take a while, the current avro to arrow reader can be improved upon by avoiding some cloning by passing around references to avro values.

**To Reproduce**
Run one of the avro to arrow tests as a bench

**Expected behavior**
Improved performance by at least 20%

**Additional context**

[2021-10-30 16:12] j-a-m-l commented on #122
@alamb any idea about how to start this?

[2021-10-30 16:34] xudong963 commented on #122
Hi @j-a-m-l, I see arrow-rs has supported `Decimal`, maybe we can directly change here https://github.com/apache/arrow-datafusion/blob/22a7d74e9dece44adb790b5ea3fca27d26a2fe51/datafusion/src/sql/planner.rs#L312  cc @alamb

[2021-10-31 13:29] xudong963 opened #1209 "support more subqueries"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
support more subqueries and pass the TPCH associated with the subquery: https://github.com/apache/arrow-datafusion/issues?q=is%3Aopen+is%3Aissue+milestone%3ATPC-H

**Describe the solution you'd like**

- [ ] `WHERE EXISTS (SELECT ...)`
- [ ] `SELECT (subquery) AS x` or `WHERE (subquery) = x`
-

[2021-10-31 13:30] xudong963 commented on #1209
@houqp Please assign it to me, thanks!

[2021-10-31 14:34] ygf11 commented on #1169
It seems statistics computation in ValuesExec still need the evaluation result.
It is ok to ignore this by creating default statistics? or we need iterate data again to compute statistics?

[2021-11-01 07:25] #684 closed

[2021-11-01 08:14] yahoNanJing opened #1210 "Bug of twice projection when creating ParquetExec during deserialization"
**Describe the bug**

Bug of twice projection to create ParquetExec during deserialization

**To Reproduce**

Create a ParquetExec for the scheduler with partial projections, for example [0,1,5]. Then for the executor, it will throw out exception during creating the ParquetExec due to do the projection twice.

**Expected behavior**

The projection should only be done once.

**Additional context**

[2021-11-01 10:37] Igosuki commented on #1209
Does that require to patch sqlparser or it's only on the engine side ?

[2021-11-01 10:41] xudong963 commented on #1209
@Igosuki As far as know, sqlparser has supported subqueries that I listed, so it's only on the engine side.

[2021-11-01 13:02] alamb commented on #122
@j-a-m-l  I think a @xudong963  has a good point that Arrow already includes some support for DecimalArrays.

A  good place to start then be to write some tests in sql.rs that create a TableProvider with a column of `DecimalArray` type and try to run some basic sql

The typical order I would try is something like

[code]

Writing those tests is probably a good way to figure out how to plumb throug

[2021-11-01 13:08] alamb commented on #1205
Related mailing list thread: https://lists.apache.org/thread.html/rba2ac669b8f279131ffbd62a57adf3c8f309370d180b94540721c913%40%3Cdev.arrow.apache.org%3E

[2021-11-01 13:10] alamb commented on #1203
I believe this is exactly the usecase in @rdettai 's epic https://github.com/apache/arrow-datafusion/pull/1141 (tracked by https://github.com/apache/arrow-datafusion/issues/1139)

[2021-11-01 13:24] alamb opened #1213 "Support CREATE TABLE AS SELECT ... in datafusion-cli"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
`CREATE TABLE AS SELECT` allows one to create new tables using the result of a sql query

This would allow for usecases like:
1. Easier creation of tables for test cases / bug reproducers (now I have echo data to csv files, or use `VALUES` caluse)
2. Start preparing the way for using datafusio

[2021-11-01 13:25] alamb commented on #1213
fyi @Jimexist  / @Dandandan / @alippai

[2021-11-01 13:31] Dandandan commented on #1213
Some extra options we could provide to control how / where it's stored

- [ ] `USING [format]` e.g. `using parquet`
- [ ]  `LOCATION` e.g.   LOCATION '/my/data'

See SparkSQL syntax here:
https://docs.databricks.com/spark/latest/spark-sql/language-manual/sql-ref-syntax-ddl-create-table-datasource.html

[2021-11-01 13:33] alamb opened #1214 "Support exporting to a local file via `datafusion-cli`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It would be great / handy to use the `datafusion-cli` to transform data and write the transformed data to another format (e.g. convert from CSV to parquet, with possibly some transformations along the way.

**Describe the solution you'd like**
I propose adding the `INTO` clause like clickhouse

[2021-11-01 13:34] alamb commented on #1214
cc @Jimexist @alippai @Dandandan

[2021-11-01 13:44] alamb commented on #1169
I think don't think adding an RwLock sounds like a good idea. Perhaps we could compute the statistics when the `ValuesExec` is created (rather than computing on the call to `statistics(&self)`?

[2021-11-01 14:12] Jimexist commented on #1169
agreed, no need for a lock. we can just put evaluation in the creation part of `ValuesExec`. i mean it probably wouldn't make any difference

[2021-11-01 14:34] ygf11 commented on #1169
@alamb IMOP, earlier computing statistics conflicts with the purpose of this task, because this will iterate all row and column, which also slow the creation of ValueExec. Maybe stay the same is ok?

[2021-11-01 14:51] alamb commented on #1214
auto complete for datafusion-cli is something I would love to have, FWIW

[2021-11-01 15:13] rdettai commented on #1203
Right! Note that even after #1141 is merged, the feature will not yet be in the `read_xxx` APIs, this will be added there with #1185 😊

[2021-11-01 15:40] Jimexist opened #1216 "Discussions about commands in datafusion-cli"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A discussion on what command formats to adopt for datafusion-cli.

currently it only has `quite` or `exit` command, but it's hard to be differentiated from SQL lines.

**Describe the solution you'd like**

1. psql style, `\` initialed
1. sqlite style, `.` initialed

### `psql` style

[code]

[2021-11-01 15:41] Jimexist commented on #1216
would like your thoughts @alamb @houqp @andygrove @Dandandan and any one who has been a user of this

[2021-11-01 15:42] Jimexist commented on #1216
my opinion is that it does not matter, to avoid bikeshedding, i'd probably choose one and _stick_ with it.

[2021-11-01 15:44] Jimexist commented on #1214
related https://github.com/apache/arrow-datafusion/issues/1216

[2021-11-01 15:48] Jimexist commented on #1214
in https://github.com/apache/arrow-datafusion/issues/1216 we can use a command to point the output to one file and then i guess we don't need to modify SQL?

[2021-11-01 16:08] xudong963 commented on #1216
Datafusion aims to align with Postgres, so maybe PSQL style is more suitable. We also use PSQL to validate some syntax formats daily, it'll be more comfortable to keep df-cli style the same as PSQL.

[2021-11-01 18:08] j-a-m-l commented on #122
Thanks @xudong963 and @alamb

[2021-11-01 19:32] Igosuki commented on #1203
Awesome, I was tracking @rdettai 's work but I thought it was mostly rewriting table providers and enabling remote storage.

[2021-11-01 19:33] Igosuki commented on #1203
Guess I'll just close this and contribute to the discussion there then

[2021-11-01 19:33] #1203 closed

[2021-11-01 20:19] Igosuki commented on #1205
@alamb Thanks, I definitely agree with @jorgecarleitao over the dataset I'm using, Spark has comparable performance for parquet and avro for this reason, it reads directly into the in memory columnar format.
This is the flamegraph using my integration branch with the optimisation in the linked PR.
![Screenshot from 2021-11-01 21-17-59](https://user-images.githubusercontent.com/406150/139736116-ecc

[2021-11-01 20:29] #1139 closed

[2021-11-01 20:48] alamb opened #1217 "DataFusion compilation error with `--no-default-features`"
**Describe the bug**
DataFusion no longer compiles without default features:

**To Reproduce**

[code]

[code]
**Expected behavior**
Datafusion should compile

**Additional context**
I suspect this came in via https://github.com/apache/arrow-datafusion/pull/1141

[2021-11-01 20:53] alamb commented on #1217
I believe the issue is that `lazy_static` is declared as an optional dependency but it is no longer optional

[code]

does work

[2021-11-01 21:29] alamb commented on #1216
I agree with @xudong963  that following `psql` makes more sense given we are trying to follow postgres for  SQL, but that being said I don't have a strong opinion either way.

I agree 💯

[2021-11-02 08:42] Jimexist opened #1220 "execution::context::sql should support creating partitioned dataset"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A challenge to allow `execution::context::sql` supporting creation of partitioned dataset.

For now:
https://github.com/apache/arrow-datafusion/blob/75b8112ee33af81d6085be4a83a096bf965dbc89/datafusion/src/execution/context.rs#L187-L225

the line for `table_partition_cols` is empty

**Describe

[2021-11-02 08:43] Jimexist commented on #1220
related #1139

[2021-11-02 08:43] Jimexist commented on #1220
cc @rdettai and @alamb

[2021-11-02 09:13] mingmwang opened #1221 "Task assignment between Scheduler and Executors"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When I read the code, I see the task assignment between executors and the Scheduler was the schedulers consistently poll works from the Scheduler. And if there is no task to run, the poll loop will sleep for 100 ms. I think a better way should be let the Scheduler assign the available tasks t

[2021-11-02 10:49] #1217 closed

[2021-11-02 13:05] alamb commented on #1220
Auto detecting common partitioning schemes seems like a good idea to me @Jimexist

Something else I have been wondering is "how general do we want our partitioning to be" -- what @rdettai  has implemented is the classic hive partitioning when partitioning by date looks like `/foo/date=2021-10-01`

But there are other ways to partition data (e.g. IOx has its own way to partition data into individua

[2021-11-02 13:37] rdettai commented on #1220
#1185 is also a follow up to #1135 that is closely related to this. Maybe we can merge the two issues and create subtasks?

[2021-11-02 20:08] alamb opened #1222 "Add note about structured field access to supported SQL docs"
As suggested by @houqp  and @Igosuki  in https://github.com/apache/arrow-datafusion/pull/1204#issuecomment-956531310

Should update the "supported SQL" section of the guide

[2021-11-02 20:08] #119 closed

[2021-11-02 20:15] alamb commented on #1221
Maybe related to https://github.com/apache/arrow-datafusion/issues/700

cc @Dandandan

[2021-11-02 20:20] #1162 closed

[2021-11-02 20:26] matthewmturner commented on #1162
@alamb any next steps here that I can work on?

[2021-11-02 20:29] Dandandan commented on #1221
Yes, it's the same observation.
To me the proposed solution sounds like a good idea. FYI @andygrove

[2021-11-02 20:30] #614 closed

[2021-11-02 20:59] alamb commented on #1162
@matthewmturner  -- I am not sure -- it might be worth looking at  #1066 and #441 to see if the rules in that provide any additional inspiration

There are also transformations of stuff like `(2 + (1 + rand()))` which could be written to `(2 + 1) + rand()` and then constant folded where it wouldn't be folded before.

THough I think the most interesting / useful thing might be  https://github.com/a

[2021-11-03 00:30] mingmwang commented on #700
Is there any PR related to this ? If not I think I can work on this.

[2021-11-03 01:06] yahoNanJing commented on #1210
It's fixed from the root cause by #1141.

[2021-11-03 01:06] #1210 closed

[2021-11-03 03:25] Jimexist opened #1226 "Datafusion cli should properly handle interrupt"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

a challenge to add support for interrupt signal, to clear current line instead of exiting

**Describe the solution you'd like**

like the behavior of `psql`

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-11-03 03:28] Jimexist opened #1227 "datafusion cli to support listing functions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A challenge to add function searching and listing in datafusion cli

**Describe the solution you'd like**

Following https://github.com/apache/arrow-datafusion/pull/1224 where command is added, we can now add `\h` or similar thing to datafusion cli like `psql` to support listing and searching

[2021-11-03 03:59] xudong963 opened #1228 "Extract logical plans in LogicalPlan as independent struct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
During I try to implement `Select (subquery)` , I add ` Select(Box<LogicalPlan>)` in `Expr`. Because `Expr` derives `PartialEq, PartialOrd`, but `LogicalPlan` not, I try to derive `PartialEq, PartialOrd` for `LogicalPlan`. Unfortunately, I got an error, because some logical plan contains trait

[2021-11-03 03:59] xudong963 commented on #1228
Let me know your thoughts ❤️ @houqp @alamb @Jimexist @Dandandan

[2021-11-03 04:03] houqp commented on #1228
@alamb if I recall correctly, the partialOrd for Expr as added to help with unit testing right?

[2021-11-03 04:24] #1216 closed

[2021-11-03 04:36] Jimexist opened #1230 "datafusion cli to add list tables command"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

datafusion cli to add list tables command

**Describe the solution you'd like**

similar to `\d` in `psql`

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or

[2021-11-03 06:35] Dandandan commented on #700
AFAIK No @mingmwang . Feel free to work on this - that would be great.

[2021-11-03 06:39] #1230 closed

[2021-11-03 06:41] Jimexist opened #1232 "add feature to allow datafusion cli to list columns from a table"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

add feature to allow datafusion cli to list columns from a table

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consi

[2021-11-03 10:03] Ted-Jiang opened #1233 "Bug for CAST from Decimal(12, 2) to Utf8 in ballista_scheduler"
Can someone give some advice?

**Describe the bug**
2021-11-03T09:53:50Z ERROR ballista_scheduler] Could not create physical plan: Internal error: Unsupported CAST from Decimal(12, 2) to Utf8. This was likely caused by a bug in DataFusion's code and we would welcome that you file an bug report in our issue tracker

**To Reproduce**

**Expected behavior**

**Additional context**
2021-11-03T09:53:50

[2021-11-03 16:57] NGA-TRAN opened #1234 "select min/max(string dictionary) panics"
**Describe the bug**
SELECT min/max(dictionary_string_column) will panic with the following message:
`ArrowError(InvalidArgumentError("column types must match schema types, expected Dictionary(Int32, Utf8) but found Utf8 at column index 0"))'`

**To Reproduce**
Add the below test inside [query_on_string_dictionary](https://github.com/apache/arrow-datafusion/blob/dd9350607a9b4c8aaf6d7204fda8f1eab31

[2021-11-03 18:15] alamb commented on #1228
Yes, it was added in https://github.com/apache/arrow-datafusion/pull/1015

The test ordering I was the main usecase but I think there are some other ideas of being able to have Exprs in `BTreeSets` and other ordering based containers.

I think extracting `LogicalPlan` into structs would be fine, though it will be a very non trivial change (both for DataFusion and all users)

Something that is more

[2021-11-04 00:38] houqp commented on #1228
On that topic, what about pushing the `PartialOrd` and `PartialEq` trait to the trait objects? i.e. `LogicalPlan::Extension.node` and `LogicalPlan::TableScan.source`.

[2021-11-04 01:28] #1226 closed

[2021-11-04 05:12] kou opened #1236 ""DataFusion User Guide" in ballista/rust/client/README.md is not found"
**Describe the bug**
https://github.com/apache/arrow-datafusion/blob/master/ballista/rust/client/README.md#starting-a-cluster has a link to "DataFusion User Guide" but it returns 404.

**To Reproduce**
Steps to reproduce the behavior:

Open https://github.com/apache/arrow-datafusion/tree/master/docs/user-guide .

**Expected behavior**
https://arrow.apache.org/datafusion/user-guide/introduction.htm

[2021-11-04 08:17] xudong963 commented on #1228
Good idea!

Long-term thinking, maybe we can profit from extracting `LogicalPlan` into structs. So if all of you agree, I can do it before doing subquery features. cc @houqp

[2021-11-04 10:36] alamb commented on #1228
I like @houqp's idea of marking adding`PartialOrd` and `PartialEq` to traits to allow `LogicalPlan` to derive them as well

Perhaps something like

[code]
(and similarly for any other trait objects in `LogicalPlan`)

[code]

[2021-11-04 13:56] capkurmagati opened #1239 "Some `BuiltinScalarFunction` panic with zero argument"
**Describe the bug**
Some `BuiltinScalarFunction` panic with no argument provided.

**To Reproduce**
[code]

**Expected behavior**
Instead of panic, the client should get an error with proper error messages.

[code]

**Additional context**
There two places in `datafusion/src/physical_plan/functions.rs` that could be fixed.
1. `return_type`
https://github.com/apache/arrow-datafusion/blob/master/dat

[2021-11-04 14:33] #1234 closed

[2021-11-04 15:12] #1196 closed

[2021-11-04 18:41] alamb opened #1242 "`CREATE EXTERNAL TABLE ... STORED AS CSV with header row` fails when `with header row` is lowercase"
**Describe the bug**
Currently, creating an external table using `datafusion-cli` with this sql:

[code]
will fail when `with header row` tokens are in lower case.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-11-04 21:04] NGA-TRAN opened #1244 "Should not fold a non-constant expression when it is not clear to do so"
**Describe the bug**
This expression `col < 10 and boolean(NULL)` can either be NULL or false depending on the result of `col < 10`. Hence it should not be rewritten to a constant but it is current can.

**To Reproduce**
Add the following test in [optimize_expr_bool_and](https://github.com/apache/arrow-datafusion/blob/8f1d533f16e50c309163d2ef7121e2201c80176c/datafusion/src/optimizer/constant_foldi

[2021-11-04 21:04] NGA-TRAN commented on #1244
I am working on a fix for this

[2021-11-04 21:47] alamb commented on #1244
thank you @NGA-TRAN  -- FYI @matthewmturner  I lead you astray in https://github.com/apache/arrow-datafusion/pull/1208 🤦  about nulls. NULLs!!!!

[2021-11-05 03:10] #1236 closed

[2021-11-05 05:30] jiangzhx opened #1246 "group by high cardinality column in datafusion 10 times slower than low cardinality column"
**Describe the bug**
group by high cardinality column in datafusion 10 times slower than low cardinality column.
also i tested on other olap engine, there are only 2 times slow or less;

- [trion](https://github.com/trinodb/trino) olap engine write by java

      low cardinality  usage ms: 1400ms±
      high cardinality  usage ms: 2700ms±

- [doris](https://github.com/apache/incubator-doris/) olap

[2021-11-05 05:45] xudong963 commented on #1246
If I recall correctly, datafusion doesn't do fine optimization about `group by` and `aggregate functions` at present. It's worth adding it to our RoadMap and doing it in the future.

[2021-11-05 05:57] jiangzhx commented on #1246
i try to dig code in trino and doris; there are all have streaming aggregate node; but i can't understand how they working.

`aggregate functions`  was working fine; with sum(LO_EXTENDEDPRICE) or without; the performence has no big difference,there are also have 5~10 times slow;

low cardinality:

    select 1  FROM lineorder_flat group by LO_ORDERPRIORITY;
    5 rows in set. Query took 0.236 seco

[2021-11-05 06:05] xudong963 commented on #1246
I'll take a look at Doris on the weekend. Until then, we can wait for someone else to answer your questions. Thanks for your comparison @jiangzhx

[2021-11-05 10:49] alamb opened #1248 "Optimized `RecordBatch` for constant columns"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Certain record batches have columns that entirely the same value -- for example the partitioning column in https://github.com/apache/arrow-datafusion/pull/1141

In that case the `ListingProvider` adds a column with a constant value based on the path in the file system

So a file in a path like

[2021-11-05 14:24] xudong963 commented on #1082
After https://github.com/apache/arrow-datafusion/pull/1135 merged, I believe the issue will be closed quickly, because on the basis of https://github.com/apache/arrow-datafusion/pull/1135, `EXCEPT` can be implemented by `ANTI JOIN` with `null_equal_null`.

[2021-11-05 14:42] Jimexist opened #1250 "datafusion cli to add sql statement validation editor support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

a challenge for datafusion cli to add sql statement validation editor support

**Describe the solution you'd like**

1. allow multi-line editing and redo
2. allow blocking simple SQL syntax error and prompting

**Describe alternatives you've considered**
A clear and concise description of any

[2021-11-05 15:13] #1244 closed

[2021-11-05 17:02] Dandandan commented on #1246
Some relevant tickets:

https://github.com/apache/arrow-datafusion/issues/418
https://github.com/apache/arrow-datafusion/issues/956

[2021-11-05 17:35] alamb commented on #1246
Accidentally closed

[2021-11-05 17:36] alamb commented on #1246
I think there is a lot of overhead creating and managing group keys via `ScalarValue`s that is a good thing to look into if we want to optimize the performance here

[2021-11-05 18:22] matthewmturner commented on #1244
@alamb got it - thanks for keeping me posted!

[2021-11-05 20:27] tupshin commented on #890
Not to nag, but I see 873 is merged. How we doing?

[2021-11-06 01:44] houqp commented on #890
I am working on the changelog and the release PR, should be out this weekend.

[2021-11-06 02:41] Jimexist opened #1252 "support drop table SQL"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

support drop table SQL so that in-memory table created or registered can be dropped.

other external table registered can be either de-registered or not supported (either way, no data is removed from disk)

**Describe the solution you'd like**
A clear and concise description of what you want

[2021-11-06 02:41] Jimexist commented on #1213
related https://github.com/apache/arrow-datafusion/issues/1252

[2021-11-06 02:57] Jimexist commented on #1214
upstream https://github.com/sqlparser-rs/sqlparser-rs/issues/364

[2021-11-06 02:58] Jimexist commented on #1214
@alamb I think you need to clarify on whether this is `COPY` the statement or `\copy` the command. the latter is executed on the client side.

[2021-11-06 06:01] houqp opened #1254 "Support non-equi join (e.g. `ON` clause) in Dataframe API"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Users should be able to use the Dataframe API to expression the following SQL queries:

[code]

**Describe the solution you'd like**

Potential solution would be changing the join method to take a list of expressions instead of `left_cols` and `right_cols`.

**Additional context**
Extension o

[2021-11-06 09:54] alamb commented on #1244
👍  FWIW I think handling `NULL`s correctly is the single hardest thing in databases (at least the thing that is the most fraught with strange corner cases). The fact we are dealing with them in DataFusion now I think is a sign of its maturity

[2021-11-06 09:55] alamb commented on #890
FYI see https://github.com/apache/arrow-datafusion/pull/1253

[2021-11-06 11:36] xudong963 commented on #1082
The issue needs to reopen, there are other things to do, such as `Expect` support. @alamb

[2021-11-06 12:04] #1250 closed

[2021-11-06 12:25] alamb commented on #1082
Reopening as github API got a little too excited

[2021-11-06 15:00] Jimexist commented on #1248
I'm for this approach.

In fact we can allow several other types that are memory efficient:
1. sequence with increase or decrease direction and step size
2. repeated array that's n copies of underlying data
3. zoomed out sample of underlying data
4. etc.

[2021-11-06 15:40] xudong963 commented on #1082
All related PRs have finished, after merging, the issue can be closed. Thanks for your help! @alamb @Dandandan @houqp

[2021-11-06 20:07] pjmore commented on #440
Some good and bad news on this front. The Tokomak optimization pass combined with a predicate pushdown pass and a filter<-cross join to filter<-inner join pass is able to handle TPCH Q19 with each iteration taking ~66ms on my laptop. It performs the AstSize cost function transforms the expression into the form that @alamb mentioned in #217. Which gives the optimized logical plan:
[code]

Bad news

[2021-11-06 20:30] alamb commented on #440
Thank you for the update @pjmore  -- sounds like some great progress

[2021-11-06 20:32] alamb commented on #1248
Another thing to contemplate is support for RLE (aka store runs of repeated values)

A
A
A
B
B
B
B

-->

(A, 3)
(B, 4)

[2021-11-06 23:33] #1213 closed

[2021-11-07 04:22] xudong963 opened #1262 "test `create_external_table_with_timestamps` failed locally"
**Describe the bug**
`create_external_table_with_timestamps` failed locally, but CI seems normal.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
[code]

**Additional context**
It seems a zone question, I'm in east 8th.

[2021-11-07 04:28] xudong963 commented on #1262
FYI, yesterday, the test was normal locally. Today, I rebased master and it failed, there are two new commits, https://github.com/apache/arrow-datafusion/pull/1243, https://github.com/apache/arrow-datafusion/pull/1255. I guess maybe arrow-rs 6.1.0 caused it. I had a quick look at arrow-rs 6.1.0 and found a Suspicious PR about zone: https://github.com/apache/arrow-rs/commit/d4bf0b64f4f8d072094f2f89

[2021-11-07 07:03] jorgecarleitao commented on #1248
Tangentially related, since I have been investigating something related: the `RecordBatch` in `arrow-rs` is not defined in the arrow specification. Specifically, the term "RecordBatch" comes from the IPC specification [RecordBatch message](https://arrow.apache.org/docs/format/Columnar.html#recordbatch-message), but such a message does hold a schema, since the schema is written on a separate [Schem

[2021-11-07 10:32] alamb commented on #1248
👍  I agree and I think keeping a separation between what is generally useful for users of Arrow libraries and what is more likely to be more narrowly useful to DataFusion is important. For example, I think it would be fine to add specialized constant column or RLE support in DataFusion, but that likely doesn't belong in an arrow implementation

[2021-11-07 10:33] #1242 closed

[2021-11-07 10:38] alamb commented on #1214
@Jimexist  I don't have a clear thought on the mater. There are tradeoffs:
1. Doing it client side (e.g. `\copy` ) has the benefit of easy to use
2. Doing it "server" side (e.g. `COPY` or `SELECT .. INTO ` can likely be made much faster but has security implications as well

The more I think about it, maybe we should leave such features out of datafusion (server side). The rationale is that the fe

[2021-11-07 13:08] Jimexist commented on #1214
i'm currently leaning towards client side as well, for the same reasoning you gave above.

[2021-11-07 13:54] Jimexist commented on #1248
maybe something like [this][1] just to see how much change is needed

[1]: https://github.com/apache/arrow-datafusion/pull/1263

[2021-11-07 17:10] stevenbarragan opened #1264 "why snmalloc?"
not a bug! just a question.

Why is `smalloc-rs` suggested for an optimized configuration [arrow.apache.org/datafusion/user-guide/library.html](https://arrow.apache.org/datafusion/user-guide/library.html#optimized-configuration) ?
in what way is better than `jemalloc`?

[2021-11-07 19:42] Dandandan commented on #1264
In my benchmarks, `snmalloc` and `mimalloc` performed better than `jemalloc`.

For jemalloc, I believe this is the most recent / optimized version https://crates.io/crates/tikv-jemallocator .
Feel free to run some benchmarks yourself and report back!

[2021-11-07 20:57] jon-chuang commented on #1221
Hi, this seems interesting, would love to try implementing it

[2021-11-08 02:43] jon-chuang commented on #1221
Here is the proposed design:
- when an executor initially connects to the scheduler, it also tells the scheduler how many task slots it has. The amount of memory per task as per #587 could also be negotiated here.
- As long as the executor is alive, it tries to send jobs to it. The scheduler tries to prioritize sending tasks to executors with most slots available.

Just wondering if the cardinalit

[2021-11-08 03:01] Jimexist commented on #1248
I had a further thought on this and believe having `DFRecordBatch` is approachable, with some inter steps:

- [ ] create a trait `DFRecordBatch`, with basic functions defined such as `fn is_emtpy(&self) -> bool`, `fn columns(&self) -> Vec<ArrayRef>`, and `fn column(&self, i: usize) -> ArrayRef` defined, and also `fn to_arrow(&self) -> RecordBatch`
- [ ] have a default `DFRecordBatchImpl` struct th

[2021-11-08 07:13] Dandandan commented on #440
Thanks for this @pjmore . Great milestone to have the new query working. Also wondering if some other cross joins are removed too :).
I think at some point it makes sense to "just add" the code to the repo so it becomes easier to continue experimenting. Feel free when you believe it's time to do so :).

[2021-11-08 07:26] liukun4515 commented on #122
Is there any plan for implementation `Decimal` Type for datafusion?
@alamb

[2021-11-08 07:35] xudong963 commented on #122
Hi @j-a-m-l, do you have time to work on this?

[2021-11-08 07:40] liukun4515 commented on #122
I want to take some tasks to support the decimal data type in the datafusion.

[2021-11-08 10:07] Jimexist commented on #1232
closed by #1231

[2021-11-08 10:07] #1232 closed

[2021-11-08 10:09] Jimexist opened #1267 "allow datafusion-cli to switch different output format within CLI"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

allow datafusion-cli to switch different output format within CLI

**Describe the solution you'd like**

using command that starts with `\`

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional co

[2021-11-08 10:09] Jimexist opened #1268 "allow datafusion-cli to toggle quiet flag within CLI"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

allow datafusion-cli to toggle quite flag within CLI

**Describe the solution you'd like**

Similar to `psql`, and as an complement to the `-q` flag

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addi

[2021-11-08 10:13] Jimexist opened #1269 "create mem table should not override current tables"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

With #1252 dropping supported, we should not override existing table with create table as statement.

**Describe the solution you'd like**

### current behavior:

[code]

### expecting

statement to err on the second create.

**Describe alternatives you've considered**
A clear and concise des

[2021-11-08 10:14] Jimexist commented on #1269
FYI @Dandandan

[2021-11-08 10:15] Jimexist opened #1270 "should in memory table have TableType::Temporary type?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

should in memory table have TableType::Temporary type?

**Describe the solution you'd like**

not sure if ::Base is correct given that mem table goes away after process shutdown

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featur

[2021-11-08 10:15] Jimexist commented on #1270
cc @Dandandan

[2021-11-08 10:15] Dandandan commented on #1269
Yes agree @Jimexist .
Maybe we can also add support for `create or replace` to not error if it already exists.

[2021-11-08 10:19] jimexist opened #1271 "invalid character_octat_length in information schema for tables created with values list"
**Describe the bug**

for a table created with create table as values lists, the resulting information schema show invalid `character_octat_length` info

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-11-08 10:22] Jimexist commented on #1271
or maybe not, it's just the field name is confusing...

[2021-11-08 11:14] alamb commented on #122
I don't know of any plans other than what is on this ticket. As I mentioned in https://github.com/apache/arrow-datafusion/issues/122#issuecomment-956212828 I think figuring out what subtasks are needed (by writing some tests and trying out what works / doesn't work) is a good first step

[2021-11-08 14:22] andygrove opened #1272 "Ballista integration tests fail to run (feature `edition2021` is required)"
**Describe the bug**

I tried running the Ballista integration tests from the master branch and from https://github.com/apache/arrow-datafusion/pull/1253 and I get the following error.

[code]

**To Reproduce**
Run `./dev/integration-tests.sh`

**Expected behavior**
Tests should pass

**Additional context**
None

[2021-11-08 14:26] xudong963 commented on #1272
Hi @andygrove, after datafusion use `edition 2021`, I also encounter similar error information. So I think you can try to upgrade rust version.

[2021-11-08 14:33] andygrove opened #1273 "Question: Is the Ballista project providing value to the overall DataFusion project?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I've noticed from various discussions that Ballista is adding some (considerable?) overhead to the development of DataFusion and it doesn't look like there is much Ballista-specific development happening. Also, the integration tests do not currently appear to be working (https://github.com/ap

[2021-11-08 14:52] andygrove commented on #1272
Thanks @xudong963. The Rust version is defined in the Dockerfile in the repo. I will create a PR to update it.

[2021-11-08 17:17] ivanceras commented on #177
I think the biggest hurdles is using `tokio` specific types in the underlying implementation of datafusion, as I've found in this [code](https://github.com/apache/arrow-datafusion/blob/a8029e5033c413064a3e0a3fe015240acc2d1664/datafusion/src/physical_plan/file_format/parquet.rs#L57)
I understand this is for performance reason, but also there is no easy way to abstract this instead of using executor

[2021-11-08 19:07] #1082 closed

[2021-11-08 20:48] #1262 closed

[2021-11-08 20:50] alamb commented on #1262
I think it may be related to https://github.com/apache/arrow-rs/pull/832

[2021-11-08 20:52] #1272 closed

[2021-11-08 20:56] Hoeze commented on #1273
As an interested user, I would highly appreciate if the datafusion project would keep distributed query execution as a first-class citizen, in the hope that at some point Ballista will replace my PySpark setup.

- Keeping distributed computation in mind forces the project to use scalable solutions that make good use of available resources
- I can just add more machines to my cluster when I need to

[2021-11-08 21:01] alamb commented on #1269
I think this would be a good first issue for someone who wanted to tackle it

[2021-11-08 21:06] alamb commented on #1271
I think the `character_octet_length` is supposed to be how to express the `200` for types `VARCHAR(200)`

Since Arrow doesn't really have the notion of "maximum string length" (other than 2^32 for `Utf8`and 2^64 for `LargeUtf8` I think the number is just hard coded

Or as you (much more) succinctly put it: ", it's just the field name is confusing..."

[2021-11-08 21:12] alamb commented on #1273
TDLR is I think Ballista hold much promise of value, but it needs a champion to push it forward; If it turns into a stagnated / vestigial project it will just be overhead and leaves a great amount of potential value unlocked.

I think this is what Ballista is really missing -- a champion / cheerleader to drive its development forward. It seems to have mostly stalled since being brought into this r

[2021-11-08 21:37] alamb commented on #177
@ivanceras  I am not sure if we are using tokio specific `futures` stuff due to performance or just convenience

It might be worth trying to replace tokio specific structs with things from the `futures` crate (if that works on `wasm32`) and see what it looks like

[2021-11-08 22:02] seddonm1 commented on #177
@ivanceras what are you experiencing? I have managed to compile to WASM with very slight code modifications.

[2021-11-09 02:42] roee88 commented on #177
@seddonm1 compile and run?

I have experimented with that yesterday. I tried wasm32-wasi first and a simple sample works after disabling some parquet features. See this gist for the example: https://gist.github.com/roee88/91f2b67c3e180fa0dfb688ba8d923dae

For wasm32-unknown-unknown adding getrandom with js as a dependency of the sample makes it compile IIRC, but actually running it is a different

[2021-11-09 05:14] xudong963 commented on #708
The issue can be closed.

[2021-11-09 05:34] #708 closed

[2021-11-09 09:03] roee88 commented on #177
I got the basic sample from the gist in the previous message working with wasm-pack (wasm32-unknown-unknown) on single threaded tokio after:

1. Removing the "lz4" and "zstd" features from parquet dependency. This is the same change I had to do for running in wasm32-wasi.
2. Disabling the default time feature from tokio-stream by changing the dependency to: `tokio-stream = { version = "0.1", defau

[2021-11-09 09:17] j-a-m-l commented on #122
No, @xudong963. Currently I don't have enough time to do that, and I'll probably focus first on fixing other issues that I've found, such as https://github.com/apache/arrow-datafusion/issues/1173.

[2021-11-09 10:49] alamb commented on #122
Here are several other issues that seem to be related to DECIMAL:

* https://github.com/apache/arrow-datafusion/issues/174
* https://github.com/apache/arrow-datafusion/issues/210
* https://github.com/apache/arrow-datafusion/issues/1233

[2021-11-09 14:55] Jimexist opened #1279 "datafusion-cli should trap interrupt signal and abort execution"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

datafusion-cli should trap interrupt signal and abort execution

**Describe the solution you'd like**

using rustyline signal handling and kill async operation instead of exiting

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featu

[2021-11-09 22:20] matthewmturner commented on #1227
@Jimexist i can give this a shot

[2021-11-10 03:03] yjshen commented on #587
I created a proposal trying to fix this. Please refer to https://docs.google.com/document/d/1BT5HH-2sKq-Jxo51PNE6l9NNd_F-FyyYcyC3SKTnkIA/edit# for the whole proposal.

[2021-11-10 05:11] Jimexist commented on #1220
Duplicate of #1185

[2021-11-10 05:11] #1220 closed

[2021-11-10 05:15] Jimexist commented on #1185
@rdettai i closed #1220 and maybe we can think of a way to adapt two styles

[2021-11-10 07:04] #1252 closed

[2021-11-10 07:17] houqp commented on #1273
I agree with @alamb that we could really benefit from having someone to actively drive ballista.

Even though I mentioned in my dev list email that ballista introduces extra overhead, I think it acted as a good forcing function for us to design datafusion changes with serailization in mind as you mentioned. For example, It triggered a lot of good discussions around object store serialization in @r

[2021-11-10 07:47] houqp commented on #1248
I think instead of returning `ArrayRef`, we should be returning `ColumnarValue` here?

RLE can be something we use to further compress arrow record batches, but I think it is an overkill for constant columns because this use-case can already be covered by `ColumnarValue::Scalar`. I can see us adding it in the future for other use-cases though, perhaps as another variant to `ColumnarValue`?. `Colum

[2021-11-10 08:29] Jimexist commented on #1248
Sequence is one example

[2021-11-10 14:06] alamb commented on #1221
@jon-chuang  sounds like a good start.

I think something else that the scheduler should be able to take advantage of in the future might be "data locality" -- that is if a plan looks like

[code]

It is likely advantageous in may cases to run `section 1` and `section 2` on the same executor, if possible, to avoid having to send ("reshuffle") the intermediate results around

[2021-11-10 14:31] alamb opened #1281 "Break up DDL and Query LogicalPlan variants"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As mentioned on #1266 and https://github.com/apache/arrow-datafusion/pull/1266#pullrequestreview-800597175, as we add more capabilities to DataFusion like `CREATE TABLE AS SELECT` and `DROP TABLE` it seems like there are now really *two* types of  `LogicalPlan` variants:

1. Those that can act

[2021-11-10 14:57] rdettai commented on #1273
Thanks @andygrove for starting this discussion. I did feel some overhead induced by DataFusion on some of my recent PRs, especially from the serialization part (but not only). I was really happy to do that work, because I find it very interesting to see the internals of a distributed engine, but I could understand that it might be seen as an unpleasant constraint for contributors with limited band

[2021-11-10 15:30] xudong963 commented on #1228
Because `PartialEq` and `PartialOrd`  traits are not "object safe", so pushing the PartialOrd and PartialEq trait to the trait such as `TableProvider` will make `TableProvider` "object unsafe".

[2021-11-10 15:49] andygrove commented on #1273
Thanks for all the feedback so far. I think @alamb makes a very good point about Ballista needing a champion to drive it forward and I agree with that. Let's see what happens there.

[2021-11-10 19:09] frobnitzem commented on #1273
I am coming to this discussion from a different perspective.  I recently wrote a py-sparkling](https://github.com/svenkreiss/pysparkling)-inspired RDD that distributes list slices over MPI (https://github.com/frobnitzem/mpi_list).

However, loading up pandas dataframes quickly wastes memory.  So, I'm investigating arrow as a memory-friendly replacement.  The trouble I am running into is that DataF

[2021-11-10 21:23] alamb commented on #1273
I don't have anything for you at the moment @rdettai  but I'll keep my ears open. @andygrove do you have any ideas (specifically any users / potential users of Ballista that might be willing to contribute time)?

[2021-11-11 06:00] houqp commented on #1273
@frobnitzem I think this is a bit off topic and worth to be discussed in a separate issue. To answer your question, you can just use datafusion as a simple library to query a single csv file in process using sql. You don't have to use ballista.

[2021-11-11 06:50] houqp commented on #1228
Good point @xudong963 , totally forgot about object safety :(

I don't have a strong opinion on this and I am cool with us going either way. I do agree with you that adding the `TableScanPlan` struct makes things more flexible in the long run.

[2021-11-11 09:03] ic4y opened #1282 "better performance improvement by optimizing a single distinct aggregation scene"
In most query engines, the execution cost of the distinct aggregation function is huge, but it can be optimized by groupBy. I want to bring this optimization to datafushion

Currently for a single  distinct aggregation scenario as follows
[code]

I used a test data set of 60 million to test datafunshion before and after using the optimizer.After optimization,the performance has doubled and the exe

[2021-11-11 16:32] xudong963 commented on #1228
@alamb @Dandandan @Jimexist How about your thoughts? If you also agree, I want to try on this weekend and after finishing this, I'll continue to deep into subqueries.

[2021-11-11 20:05] alamb commented on #1228
I think it is a reasonable thing to try. I suspect we'll have to see what the final code looks like to really know 🤷

[2021-11-12 02:36] liukun4515 commented on #1281
I can take on this task. @alamb

[2021-11-12 03:19] xudong963 commented on #1228
OK. I'll firstly extract `TableScan`, then you can what the code looks like, lol 😄

[2021-11-12 03:23] xudong963 opened #1286 "Add integration comparison tests with psql for `intersect` & `except`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Add integration comparison tests with psql for `intersect` & `except`

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've